#*
 * @(#) InstituteList.vm 
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a> 
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a> 
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 10-08-2010 (Shaista)
 * @modified date: 10-10-2010 (Shaista)
*#


$page.setTitle("Admin Home | View Institute List")

$page.setBgColor($ui.bgcolor)
<body>

$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())
<table  bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor">
		<td colspan=14> 
		<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
		##<a href=$link.setPage("call,Root_Admin,InstituteList.vm").addPathInfo("mode","pendinglist").addPathInfo("count","1") style=text-decoration:none>Institute Management</a> |
		<a href=$link.setPage("call,Root_Admin,InstituteList.vm").addPathInfo("mode","pendinglist").addPathInfo("count","1") style=text-decoration:none>$RemoteInstitute $brih_mgmt</a> |
		#if($mode=="pendinglist")
			#if($lang == "hindi")
				$brih_pending $brih_Institute $brih_Of $brih_list	
			#else
				$brih_pending $RemoteInstitute $brih_list	
			#end
		#end
		#if($mode=="approved")
			#if($lang == "hindi")
				$brih_approved $brih_Institute $brih_Of $brih_list
			#else
				$brih_approved $RemoteInstitute $brih_list
			#end
		#end
		#if($mode=="reject")
			#if($lang == "hindi")
				$brih_rejected $brih_Institute $brih_Of $brih_list
			#else
				$brih_rejected $RemoteInstitute $brih_list
			#end
		#end
		</td>
	</tr>
</table>
<form name="frm" method="Post" action="$link.setPage("call,Root_Admin,InstituteList.vm").setAction("Institute_RootAdmin")">
<table  bgcolor="$ui.tableColor" width=100%>
	<tr>
		#if($tdcolor != "1")
	                <td>
                #elseif($tdcolor == "1")
        	        <td bgcolor="#AFDCEC">
                #end
		<a href=$link.setPage("call,Root_Admin,InstituteList.vm").addPathInfo("mode","pendinglist").addPathInfo("count","1") style=text-decoration:none> #if($lang == "hindi") $brih_pending $brih_Institute $brih_Of $brih_list #else $brih_pending $RemoteInstitute $brih_list #end </a></td>
		#if($tdcolor != "2")
                	<td>
                #elseif($tdcolor == "2")
	                <td bgcolor="#AFDCEC">
                #end
		<a href=$link.setPage("call,Root_Admin,InstituteList.vm").addPathInfo("mode","approved").addPathInfo("count","2") style=text-decoration:none> #if($lang == "hindi") $brih_approved $brih_Institute $brih_Of $brih_list #else $brih_approved $RemoteInstitute $brih_list #end </a></td>
		#if($tdcolor != "3")
	                <td>
                #elseif($tdcolor == "3")
        	        <td bgcolor="#AFDCEC">
                #end
		<a href=$link.setPage("call,Root_Admin,InstituteList.vm").addPathInfo("mode","reject").addPathInfo("count","3") style=text-decoration:none> #if($lang == "hindi") $brih_rejected $brih_Institute $brih_Of $brih_list #else $brih_rejected $RemoteInstitute $brih_list #end </a></td>
	</tr>
</table>
<table  bgcolor="$ui.tableColor" width=100%>
	#if($mode=="pendinglist")
      	<tr bgcolor="$ui.menuColor">
        <td align=center>$brih_select</td>
        <td align=center>$RemoteInstitute $brih_name</td>
	<td align=center>$RemoteInstitute $RemoteAddress</td>
	<td align=center>$Inst_city</td>
	<td align=center>$Inst_state</td>
        <td align=center>$Inst_landline</td>
        <td align=center>$RemoteInstitute $brih_domain</td>
        <td align=center>$Inst_type</td>
        <td align=center>$RemoteInstitute $Inst_website</td>
        <td align=center>$brih_ad #if($lang == "hindi") $brih_Of1 #end $brih_first $brih_name</td>
	<td align=center>$brih_ad #if($lang == "hindi") $brih_Of1 #end $brih_last $brih_name</td>
        <td align=center>$brih_ad #if($lang == "hindi") $brih_Of1 #end $brih_email</td>
        <td align=center>$brih_ad #if($lang == "hindi") $brih_Of1 #end $Inst_designation</td>
        <td align=center>$brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_name</td>
        </tr>
	#foreach($details in $idetail)
        #foreach($details1 in $idetail1)
        #if($details.getInstituteId()==$details1.getInstituteId())
	<tr>
		<td align="center">
                	<INPUT TYPE="CHECKBOX" NAME="$details.getInstituteId()" onClick="apprv_rej(this,document.frm);">
          	</td>
		<td>
			$details.getInstituteName()
		</td>
		<td>
			$details.getInstiuteAddress() 
		</td>
		<td>		
			$details.getCity()
		</td>
		<td>
			$details.getState()
		</td>
		<td>
			$details.getLandlineNo()			
		</td>
		<td>
			$details.getInstituteDomain()
		</td>
		<td>
			$details.getTypeOfInstitution()
		</td>
		<td>
			$details.getInstituteWebsite()
		</td>
		<td>
			$details1.getAdminFname()
		</td>
		<td>
			$details1.getAdminLname()
		</td>
		<td>
			$details1.getAdminEmail()
		</td>
		<td>
			$details1.getAdminDesignation()
		</td>
			<td>
			$details1.getAdminUname()
		</td>

	</tr>
	#end
	#end
	#end
        #*<tr bgcolor="$ui.menuColor">
                <td align="left" colspan=14>
                <input type="hidden" name="actionName">
                <input type="button" name="eventSubmit_AcceptAdmin" value="$online_accept" onClick="AcceptField(document.frm,this);">
                <input type="button" name="eventSubmit_RejectAdmin" value="$online_reject" onClick="AcceptField(document.frm,this);">
                <input type="hidden" name="deleteFileNames" value="">
		<input type="hidden" name="role" value="7">
                <input type="hidden" name="institute_id" value="$idetail.get(0).getInstituteId()">
                <input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr>*# 
	#end
</table>
<table width=100% bgcolor="$ui.tableColor">
	#if($mode=="approved")
	<tr bgcolor="$ui.menuColor">
		<td>$RemoteInstitute $brih_name</td>
		<td>$RemoteInstitute $brih_ID</td>
		<td align="center" colspan="4">$brih_availableAction</td>
	</tr>
	#foreach($applist in $approved)

	<tr>
	<td>$applist.getInstituteName()</td>
	<td>$applist.getInstituteId()</td>

	<td><a href=$link.setPage("call,Root_Admin,AddAdmin.vm").addPathInfo("Institute_Id",$applist.getInstituteId()).addPathInfo("Institute_Name",$applist.getInstituteName()).addPathInfo("mode","addadmin").addPathInfo("count","2") style=text-decoration:none>
	#if($lang=="hindi") $RemoteInstitute $brih_admin $brih_add #else $brih_add $RemoteInstitute $brih_admin #end</a></td>
	<td><a href=$link.setPage("call,Root_Admin,AddAdmin.vm").addPathInfo("Institute_Id",$applist.getInstituteId()).addPathInfo("Institute_Name",$applist.getInstituteName()).addPathInfo("mode","viewadmin").addPathInfo("count","2") style=text-decoration:none>
#if($lang=="hindi")$RemoteInstitute $brih_admin $brih_view #else $brih_view $RemoteInstitute $brih_admin #end</a></td>
	<td><a href=$link.setPage("call,Root_Admin,UpdateInstituteAdmin.vm").addPathInfo("Institute_Id",$applist.getInstituteId()).addPathInfo("status","instituteedit").addPathInfo("count","2") style=text-decoration:none>
#if($lang=="hindi")$brih_detail $brih_edit #else $brih_edit $brih_detail #end</a></td>
	#*<td><a href=$link.setPage("call,Root_Admin,CrslistdeletedInstitute.vm").addPathInfo("Institute_Id",$applist.getInstituteId()).addPathInfo("Institute_Name",$applist.getInstituteName()).addPathInfo("mode","viewadmin").addPathInfo("count","2") style=text-decoration:none>
#if($lang=="hindi")$RemoteInstitute $brih_delete #else $brih_delete $RemoteInstitute #end</a></td>*#
	</tr>		
	#end
	#end
</table>
<table width=100% bgcolor="$ui.tableColor">
	#if($mode=="reject")
	<tr bgcolor="$ui.menuColor">
        	<td>$brih_select</td>
		<td>$RemoteInstitute $brih_name</td>
		<td>$brih_instAdname</td>
	</tr>
	#foreach($rejectlist in $rejectedlist)
	#foreach($udetail in $userdetail)
        #if($rejectlist.getInstituteId()==$udetail.getInstituteId())
	<tr>
	<td>
       	<INPUT TYPE="CHECKBOX" NAME="$rejectlist.getInstituteId()" onClick="apprv_rej(this,document.frm);">
	<td>$rejectlist.getInstituteName()</td>
	<td>$udetail.getAdminUname()</td>
	</tr>		
	#end
	#end
	#end
	#end
	#if($mode != "approved")
        <tr bgcolor="$ui.menuColor">
                <td align="left" colspan=14>
                <input type="hidden" name="actionName">
                <input type="button" name="eventSubmit_AcceptAdmin" value="$online_accept" onClick="AcceptField(document.frm,this);">
		#if($mode != "reject")
                <input type="button" name="eventSubmit_RejectAdmin" value="$online_reject" onClick="AcceptField(document.frm,this);">
		#end
                <input type="hidden" name="deleteFileNames" value="">
		<input type="hidden" name="role" value="7">
                <input type="hidden" name="institute_id" value="$idetail.get(0).getInstituteId()">
                <input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr> 
	#end
</table>
</form>
</body>

<SCRIPT LANGUAGE="javascript">

        function AcceptField(frm,field)
        {
		if(frm.deleteFileNames.value != "")
		{
			frm.actionName.value=field.name;
        	        frm.submit();
		}
		else
		{
			alert("Please select the check box");	
			return;	
		}
	}
 
        function apprv_rej(field,frm)
        {
		if(field.checked)
        	{
                	frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
		}                
        	else
		{
                      	var rmFile,index,actualString,preString,postString;
	        	actualString=frm.deleteFileNames.value;
        	        index=actualString.indexOf(field.name+"^",0);
                	preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
	                actualString=preString+postString;
        	        frm.deleteFileNames.value=actualString;
		}                
        }


</SCRIPT>

