#*
 * @(#) InstUserMgmt_Admin.vm
 * Copyright (c) 2010,2011,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a> 
 * @author <a href="mailto:richa.tandon1@gmail.com ">Richa Tandon</a> 
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified date: 20-10-2010, 22-11-2010, 23-12-2010, 11-01-2011,05-08-2011,10-12-2011,12-01-2012,07-02-2012
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | User Management")
$page.setBgColor("bgcolor")
$!data.getMessage()
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
#set($lang = $data.getUser().getTemp("lang" ).toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor"><td colspan=7>
     	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> | 
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none>$brih_usr $brih_mgmt</a> | 
	#if($mode=="")
	$brih_a_usr
	#elseif($mode=="sclist")
		$brih_student $brih_course $brih_list 
		<td align=right>
		#if($mode1=="list")
			#if( $total_size!=0 )
				  #if( $endIndex < $total_size )
                                        #if( $endIndex <  $AdminConf )
                                                ##[$k - $total_size] of $total_size
                                                #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of
 $total_size #end
                                        #else
                                                ##[$k - $endIndex] of $total_size
                                                 #if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $endIndex] #else [$k - $endIndex] $brih_of $total_size #end
                                        #end
                               #else
                                       ##[$k - $total_size] of $total_size
                                        #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                               #end
			#end
		#end
		</td>		
	#elseif($mode=="AddMUser")
	$brih_add $brih_multiple1 $brih_usr | $brih_upload $brih_txt $brih_file
	#elseif($mode=="USzip")
	$brih_add $brih_multiple1 $brih_usr | $brih_upload $brih_zip $brih_file 
	#elseif($mode=="UPhoto")
	$brih_upload $brih_photo	 
	#else
		#if($role=="instructor")
			$brih_delete $brih_ins
		#else
			$brih_delete $brih_student
		#end
	#end
</td></tr>
<tr bgcolor="$ui.tableColor">
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none>$brih_a_usr</a></td>
	#if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","sclist").addPathInfo("count","2") style=text-decoration:none>$brih_student #if($lang == "hindi") $brih_Of #end $brih_course $brih_list</a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor").addPathInfo("count","3") style=text-decoration:none> #if($lang == "hindi") $brih_Instructor $brih_delete #else $brih_delete $brih_Instructor #end </a></td>
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student").addPathInfo("count","4") style=text-decoration:none>  #if($lang == "hindi") $brih_student $brih_delete / $brih_view #else $brih_view / $brih_delete $brih_student #end </a></td>
        #if($tdcolor != "5")
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("mode","USzip").addPathInfo("count","5") style=text-decoration:none>$brih_multi_usr</a></td>
	#if($tdcolor != "6")
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","UPhoto").addPathInfo("count","6") style=text-decoration:none> #if($lang == "hindi") $brih_photo $brih_upload #else $brih_upload $brih_photo #end </a></td>
	#if($tdcolor != "7")
        <td>
        #elseif($tdcolor == "7")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("count","7") style=text-decoration:none>$brih_attendence</a></td>

</tr>
#if(($mode=="")&&($mode !="sclist")&&($mode !="AddMUser")&&($mode !="UPhoto")&&($mode !="USzip")&&(($mode !="userdelete")||($role=="instructor")||($role=="student"))) 
<form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("AddUser_Institute")">
<table width=100% align=left bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.menuColor"><td colspan=7><b>$brih_entUsrDetail</b></td></tr>
	<tr>
        ##formCell ("$brih_usr $brih_name <font color=red>*</font>" "UNAME" "")
           #formCell("$brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
      </tr>
      <tr bgcolor="$ui.menuColor">
        #formPasswordCell ("$brih_pwd" "PASSWD" "")
      </tr>
          <tr>
                #formCell ("$brih_first $brih_name" "FNAME" "")
          </tr>
          <tr bgcolor="$ui.menuColor">
           #formCell("$brih_last $brih_name" "LNAME" "")
          </tr>
          <tr><td>
          $brih_sel_course <font color=RED>*</font>
          </td>
     	<td>
        <select id="group_id" name="group" size=1 onChange="ChangeRole(document.frm,this);"/>
          ##<option>
          #foreach($name in $courseList)
          		<option value="$name.getGroupName()">$name.getCAlias(): $name.getCourseName()-$name.getUserName()</option>
          #end
           ##</option>
          </select>
         </td>
         </tr>
 	<tr bgcolor="$ui.menuColor">
          <td>
          $brih_sel_Role <font color="Red">*</font>
          </td>
     <td>
    <select id="role_id" name="role" size=1 onChange="ChangeGroup(document.frm,this);"/>
          <option>
          <option value="instructor">$brih_Instructor
          <option value="student">$brih_student
          <option value="group_admin">$brih_groupAdmin
          <option value="author">$brih_author
          </option>
          </select>
        </td>
        </tr>
	<tr>
                <td>$brih_program($brih_if $brih_student) </td>
                <td colspan=3><select name="prg" size=1 onChange="ChkPrg(document.frm,this);"/>
			<option value="Select Program"> #if($lang=="hindi") $brih_program $brih_select #else $brih_select $brih_program #end</option>
			#foreach($progname in $PrgDetail)
				<option value="$progname.getPrgCode()">$progname.getPrgName() </option>
			#end
                        </select></td>
        </tr>
	<tr bgcolor="$ui.menuColor">
		<td>$brih_rollno($brih_if $brih_student)</td>
                <td><input type="text" name="rollno" value="" disabled="true"/></td>
	</tr>
        <tr>
        <td colspan=2 align="left">
        <input type="hidden" name="actionName">
        <input type="hidden" name="group_author">
        <input type="hidden" name="role_author">
        <input type="button" name="eventSubmit_doRegister" value="$brih_reg1" onClick="checkFieldAddUser(document.frm,this);"/>
        <input type="Reset" name="Reset" Value="$brih_clear" onClick="checkClear(document.frm,this);"/>
        <input type="hidden" name="count" Value="$tdcolor"/>
        </td>
        </tr>
</table>
</form>
#end
#if($mode == "sclist")
 <form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("status","ForallStudent")">
<table width=100% cellpadding=1 align="left" bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor">
                <td width=20% align=left>$brih_searchBy</td>
                <td colspan=8>
                <select name="queryList">
                <option value="User Name">$brih_usr $brih_name</option>
                <option value="First Name">$brih_first $brih_name</option>
                <option value="Last Name">$brih_last $brih_name</option>
                <option value="Email">$brih_email</option>
		<option value="RollNo">$brih_rollno </option>
                </select></td>
        </tr>
        <tr>
                <td width=20%>$brih_match_str</td>
                <td colspan=7><input align=left type="text" name="valueString" value=""></td>
        </tr>
        <tr bgcolor="$ui.menuColor">
                <td colspan=8>
                        <input type="button" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);">
			 <input type="hidden" name="mode" value="$mode"/>	
			 <input type="hidden" name="mode1" value="list"/>	
			 <input type="hidden" name="count" value="$tdcolor"/>	
                </td>
        </tr>
#if($total_size != 0)
#if($mode1 == "list")
<tr bgcolor="$ui.menuColor">
#set ( $headings = ["$brih_login $brih_name","$brih_student $brih_name","$brih_email","$brih_rollno",""," ","",""] )
##set ( $headings = ["$brih_login $brih_name","$brih_student $brih_name","$brih_email",""," ",""] )
        #foreach ($heading in $headings)
                <td><font size=3><b>$heading</b></font></td>
        #end
    </tr>
        #foreach($list in $ListUser)
		#if($velocityCount%2==0)
        	<tr bgcolor="$ui.menuColor">
        	#else
        	<tr bgcolor="$ui.tableColor">
        	#end
        	<td>$!list.getLoginName()</td>
        	<td>$!list.getUserName()</td>
        	<td><a href=mailto:$!list.getEmail()>$!list.getEmail()</a></td>
		#set ($i=2)
                #set ($j=0)
                #foreach ($urecord1 in $rollnolist)
	                #if($!list.getLoginName()== $!rollnolist.get($j).getEmailId())
        		        <td> $!rollnolist.get($j).getRollNo()</td>
		                #set ($i = $i - 1)
                	#end
	                #set($j = $j + 1)
                #end
                ## if no rollno exist
                #if($i==2)
        	        <td></td><td></td>
                #end
                ## if one rollno exist
                #if($i==1)
                	<td></td>
                #end
		<td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstituteUserForm.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("Process","modify").addPathInfo("mode","sclist").addPathInfo("count",$tdcolor).addPathInfo("from","usermgmt") style=text-decoration:none>$brih_update</a> &nbsp;</td>
        	##<td colspan=5><a href=$link.setPage("call,UserMgmt_Admin,StudentCourselist.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("count","2") style=text-decoration:none>$brih_course $brih_list</a></td>
        	<td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("mode","changePW").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_changePassword </a> &nbsp;
        	<td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("count","2") style=text-decoration:none>$brih_course $brih_list</a></td>
    		</tr>
        #end
	<tr>
        <td bgcolor="$ui.menuColor" colspan=8 align=left>
        #if($total_size<= $AdminConf)

        <font color="white">$brih_first</font> &nbsp;
        <font color="white">$brih_nxt</font> &nbsp;
        <font color="white">$brih_pre</font> &nbsp;
        <font color="white">$brih_last</font> &nbsp;

        #elseif($startIndex== $AdminConf_str)

        <font color="white">$brih_first</font> &nbsp;
        <font color="white">$brih_pre</font> &nbsp;
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$startIndex).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;

        #elseif($endIndex == $total_size || $endIndex > $total_size)

        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
        <font color="white">$brih_nxt</font>&nbsp;
        <font color="white">$brih_last</font>&nbsp;

        #else

	       	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
        #end
#end
  </td>
 </tr>
##</table>

</tr>
#end
</form>
<table width=100% bgcolor="$ui.menuColor" align=left>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="$ui.menuColor">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">$brih_usr $brih_name <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>
#end
#if($mode == "AddMUser")
<table width="100%" bgcolor="$ui.tableColor" align="left">
<tr  bgcolor="$ui.menuColor">
<td bgcolor="#AFDCEC" width="25%"> <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none><img src="$content.getURI("/images/text.jpg")">$brih_upload $brih_txt $brih_file</a></td>
<td> <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","5").addPathInfo("mode","USzip") style=text-decoration:none><img src="$content.getURI("/images/zipfile.jpg")">$brih_upload $brih_zip $brih_file</a></td>
</tr>
<tr><td align="right" colspan=8><img src="$content.getURI("/images/hand.gif")"><b>
<font face="$ui.sansSerifFonts" size=3><a href=javascript:popupWin("/brihaspati2/docs/Userdoc.html","newWin"); style=text-decoration:none>$brih_help</a></font>
</td></tr>
<tr bgcolor="$ui.menuColor"><td colspan=8>
<marquee scrollamount="3" direction="left" width="100%" behaviour="slide">
<font size=4 color=red><b>$brih_upload_msg5 $brih_upload_msg6</b></font>
</marquee>
</td></tr>
##<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").setAction("UserAction_InstituteAdmin")">
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
      #if ($errorTemplate)
      <tr>
        <td colspan="4">
          ##<tableibgcolor="$ui.bgcolor">
          <table>
            <tr bgcolor="$ui.menuColor">
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end
        <tr>
        ##<td colspan=2 bgcolor="$ui.menuColor" align="left">
        <td colspan=2  align="left">
                ## <font size=4><b>File Upload for automatic multiple user registration</b></font>
                <font size=4><b>$brih_upload_msg1</b></font>
        </td>
        </tr>
	<tr bgcolor="$ui.menuColor">
        ##<td bgcolor="$ui.tableColor">
        <td>
                 <b>
                <font face="$ui.sansSerifFonts">
                ## Select a course <font color=RED>*</font>
                $brih_sel_course <font color=RED>*</font>
                </font>
                </b>
        </td>
        <td>
                <select name="GroupName" size=1>
                #foreach($name in $courseList)
                        <option value="$name.getGroupName()">$name.getCAlias():$name.getCourseName()-$name.getUserName()
                #end
                </option>
                </select>
        </td>
        </tr>
        <tr>
          ##<td bgcolor="$ui.menuColor">
          <td>
                <b>
                <font face="$ui.sansSerifFonts">
                ## Select a role <font color=RED>*</font>
                $brih_sel_Role <font color=RED>*</font>
                </font>
                </b>
                </td>
          <td>
                <select name="role" size=1>
                <option value="student">$brih_student
                <option value="instructor">$brih_Instructor
                </option>
                </select>
         </td>
	 </tr>
        <tr bgcolor="$ui.menuColor">
                ## #fileUpload ("Attach File <font color=RED>*</font>" "file")

                #fileUpload ("$brih_at_file <font color=RED>*</font>" "file")

        </tr>
        <tr>
        ##<td colspan=2 align="left" bgcolor="$ui.buttonBoxColor">
        <td colspan=2 align="left">
          #*
            Check for a mode, the update and delete buttons
            shouldn't appear when inserting a new user.
          *#
                <font face="$ui.sansSerifFonts">
                <input type="button" name="eventSubmit_doUploadadmin" value="$brih_upload" onClick="CheckFieldFile(document.frm,this);"/>
                <input type="hidden" name="actionName" value=""/>
                <input type="hidden" name="mode" value="$mode"/>
                <input type="hidden" name="count" value="$tdcolor"/>

                </font>
        </td>
        </tr>
<table width=100% bgcolor="$ui.menuColor" align=left>
#foreach( $e in $Msg )
        <tr bgcolor="$ui.menuColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_entry <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
</form>
#end

#### Upload multiple user in a single zip file as primary instructor and their student along with their speicfied courses #####

#if($mode == "USzip")
<table width="100%" bgcolor="$ui.tableColor" align="left">
<tr bgcolor="$ui.menuColor">
<td width="25%"> <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none><img src="$content.getURI("/images/text.jpg")">$brih_upload $brih_txt $brih_file</a></td>
<td bgcolor="#AFDCEC"> <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","5").addPathInfo("mode","USzip") style=text-decoration:none><img src="$content.getURI("/images/zipfile.jpg")">$brih_upload $brih_zip $brih_file</a></td>
</tr>
<tr><td align="right" colspan=8><img src="$content.getURI("/images/hand.gif")"><b>
<font face="$ui.sansSerifFonts" size=3><a href=javascript:popupWin("/brihaspati2/docs/ZipUploadHelp.html","newWin"); style=text-decoration:none>$brih_help</a></font>
</td></tr>
<tr bgcolor="$ui.menuColor"><td colspan=8>
<font size=4 color=red><b>$brih_upload_msg4 $brih_upload_msg6</b></font>
</td></tr>
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
	#if ($errorTemplate)
	<tr>
	<td colspan="4">
	<table>
        <tr bgcolor="$ui.menuColor">
        <td><img src="$ui.image($ui.alertImage,$data)"></td>
        <td>
	 #parse ($errorTemplate)   
	</td>
        </tr>
        </table>
        </td>
        </tr>
	#end
	<tr bgcolor="$ui.tableColor">
        <td colspan=2  align="left"><font size=4><b>$brih_upload_msg1</b></font></td>
        </tr>
        <tr bgcolor="$ui.menuColor">
	#fileUpload ("Attach File <font color=RED>*</font>" "file")
	</tr>
        <tr bgcolor="$ui.tableColor">
        <td colspan=2 align="left">
        <font face="$ui.sansSerifFonts">
        <input type="button" name="eventSubmit_doUploadMultiUserZip" value="Upload" onClick="CheckFieldFile(document.frm,this);"/>
        <input type="hidden" name="actionName" value=""/>
        <input type="hidden" name="mode" value="$mode"/>
        <input type="hidden" name="count" value="$tdcolor"/>
        </font>
        </td>
        </tr>
	<table width=100% bgcolor="$ui.menuColor" align=left>
	#foreach( $e in $Msg )
	<tr bgcolor="$ui.menuColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_entry <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
        #end
        </table>
        </form>
#end
#if($mode == "UPhoto")
<table width=100% align=left bgcolor="$ui.tableColor">
<tr bgcolor="$ui.menuColor"><td align=right colspan=7><img src="$content.getURI("/images/hand.gif")"> 
<a href=javascript:popupWin("/brihaspati/docs/PhotoUpload.html","newWin"); style=text-decoration:none>$brih_help</a></td></tr>
<tr><td colspan=7><marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
<font size=4 color=red><b>$brih_upload_msg4</b></font>
</marquee>
</td></tr>
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
        <tr bgcolor="$ui.menuColor"> <td colspan=2><font size=4><b>$brih_upload_msg2</b></font></td></tr>
        <tr>
                #fileUpload ("$brih_at_file <font color=RED>*</font>" "file")
        </tr>
        <tr bgcolor="$ui.menuColor">
        <td colspan=2 align="left">
                <font face="$ui.sansSerifFonts">
                <input type="button" name="eventSubmit_doUploadphoto" value="$brih_upload" onClick="CheckFieldFile(document.frm,this);"/>
                <input type="hidden" name="actionName" value=""/>
                <input type="hidden" name="mode" value="$mode"/>
                <input type="hidden" name="count" value="$tdcolor"/>

                </font>
        </td>
        </tr>
</table>
<table width=100% bgcolor="$ui.menuColor" align=left>
#foreach( $e in $Msg )
        <tr bgcolor="$ui.menuColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_entry<font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
</form>
#end
#if(($mode == "userdelete")||($role == "instructor") ||($role == "student"))
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("InstituteUserManagement_RemoveUser").addPathInfo("mode",$mode)">
<table width=100% align="left" bgcolor="$ui.tableColor">
<tr>
<td>
<table align=left width=100%>
        <tr bgcolor="$ui.menuColor">
          ##<td bgcolor="$ui.menuColor">
          <td width=40%><b>
          <font face="$ui.sansSerifFonts">
          #if($role=="instructor")
                $brih_selCourseRemIns
          #else
                $brih_selCourseRemStu
          #end
          </font>
          </b></td>
          <td width=20%>
          <select name="group" size=1>
          #set($i=1)
          <option name=all value="All">$Notice_All
          #foreach($course in $courseList)
	  	<option name=option$i value="$course.getGroupName()">$course.getCAlias(): $course.getCourseName()-$course.getUserName()</option>	
          	#set($i=$i+1)
          #end
          ##</option>
          </select>
          ##</space>
         </td>
        <td align="left">
        <input type="submit" name="eventSubmit_doSearch" value="$brih_search">
        <input type="hidden" name="role" value="$role">
        <input type="hidden" name="mode" value="userdelete">
        <input type="hidden" name="count" value="$tdcolor">
        </td>
</tr>
</table>
</td>
</tr>
<tr bgcolor="$ui.menuColor">
<td align="left">
#if($status=="notempty")

 #set($headings = ["$brih_course $brih_ID","$brih_usr $brih_name","$brih_first $brih_name","$brih_last $brih_name"] )
<table width=100% align=left bgcolor="$ui.tableColor">
        <tr>
                <td align=left>
                <table width=100% cellspacing=1 cellpadding=5>
                <tr bgcolor="$ui.tableColor">
                        #set($lang = $data.getUser().getTemp("lang" ).toString())

                        ##<td bgcolor="$ui.menuColor" align=left>
                        <td align=left>
                        <input type="CHECKBOX" name="checkAll" onClick=selectAll(this);>
                        <font face="$ui.sansSerifFonts"><b>
                        #if($lang == "hindi")
                                 $brih_all $brih_select</b>
                        #else
                                $brih_select $brih_all</b>
                        #end
                        </td>

                        #foreach ($heading in $headings)
                                #headerCell ($heading)
                        #end
                </tr>
                ##set($count="")
                #set($counter="")
                #set($count2=1)
                #foreach($user in $selected_users)
                        #foreach($i in $user)
                                #set($count1=1)
                                #foreach($groupname in $groupname)
	                        #if($count2==$count1)
				#if($velocityCount%2==0)
                                <tr bgcolor="$ui.tableColor" width=100%>
                                #else
                                <tr bgcolor="$ui.menuColor" width=100%>
                                #end
                                        <td>
                                                #set($userAndGroup = "$groupname:$!i.UserName" )
                                          	<INPUT TYPE="CHECKBOX" NAME="$userAndGroup" onClick="addDeleteList(this,document.frm);">
                                        </td>
					<td>$groupname</td>
                                        <td>$!i.UserName</td>
                                        <td>$!i.getFirstName()</td>
                                        <td>$!i.getLastName()</td>
                                        </tr>
                                        #end
                                        #set($count1=$count1+1)
                                #end
                                #set($counter="$counter$userAndGroup^")
                                #set($count2=$count2+1)
                        #end
                #end
                </table>
                </td>
        </tr>
        <tr bgcolor="$ui.menuColor">
                <td align="left">
                <input type="submit" name="eventSubmit_doRemoveUser" value="$brih_remove" onClick="DeleteField(document.frm,this);">
                <input type="hidden" name="deleteFileNames" value="">
                <input type="hidden" name="group" value="$group">
                <input type="hidden" name="role" value="$role">
 		<input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr>
</table>
#end
</td>
</tr>
##</table>
 <input type="hidden" name="actionName" value="">
</form>
</td><td>
<table width=100% bgcolor="$ui.tableColor" align="left">
#foreach( $e in $error_user )
        <tr bgcolor="$ui.menuColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_usr $brih_name <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
#end
#if($mode=="changePW")
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
	<table align="left" width="100%" bgcolor="$ui.menuColor" >
	#if(($data.getUser().getTemp("lang" ).toString())== "hindi")
	        <tr><td>$username $brih_Of1  $brih_changePassword1</td></tr>
	#else
	        <tr><td>$brih_changePassword1 $username</td></tr>
	#end
	</table>
		<table align="left" width="100%" bgcolor="$ui.tableColor" >
                        <tr>
				#formPasswordCell("$brih_pwd  <font color=Red>*</font>" "newpass" "")
			</tr>
                </table>
                <table align="left" width="100%" bgcolor="$ui.menuColor" >
                <tr><td>
                        <input type="button" name="eventSubmit_doUpdatePass" value="$brih_update" onClick="checkpass(document.frm,this);"/>
                        <input type="reset" name="clear" value="$brih_clear" onClick="clearValues(document.frm,this);"/>
                        <input type="hidden" name="username" value=$username />
                        <input type="hidden" name="actionName"/>
                        <input type="hidden" name="mode" value="sclist"/>
                        <input type="hidden" name="count" value="$tdcolor"/>
                </td></tr>
                </table>
#end
</form>
</table>
<SCRIPT LANGUAGE="javascript">
	function ChangeRole(frm,field)
                {
                        if(frm.group.value=="author")
                        {
                               frm.role.value="author";
                               frm.role_author.value=frm.role.value;
                               makeDisable();
                        }
                        else
                        {
                               if(frm.role.value=="author")
                               {
                               frm.role.value="";
                               }
                               makeEnable();
                        }
                }
        function ChangeGroup(frm,field)
                {
                        if(frm.role.value=="author")
                        {
                               frm.group.value="author";
                               frm.group_author.value=frm.group.value;
                               makeDisable_group();
                        }
                        else
                        {
                               if(frm.group.value=="author")
                               {
                               frm.group.value="";
                               }
                               makeEnable_group();
                        }
                }
	  function makeDisable_group()
        {
        var x=document.getElementById("group_id")
        x.disabled=true
        }
        function makeEnable_group()
        {
        var x=document.getElementById("group_id")
        x.disabled=false
        }
        function makeDisable()
        {
        var x=document.getElementById("role_id")
        x.disabled=true
        }
        function makeEnable()
        {
        var x=document.getElementById("role_id")
        x.disabled=false
        }
	  function addDeleteList(field,frm){
                if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                }
                else{
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
        }

	function selectAll(field){
                if(field.checked){
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$counter";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 ){
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=true;
                        }
                }
                else{
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$counter";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 ){
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=false;
                        }
                        document.frm.deleteFileNames.value="";
                }
        }
	 function DeleteField(frm,field)
        {
                                frm.actionName.value=field.name;
                                frm.submit();
        }
	function checkpass(frm,field)
        {
                if(frm.newpass.value!="")
                {
                      frm.actionName.value=field.name;
                      frm.submit();
                }
                else
                {
                      alert("Password can not be null!");
                }
         }

        function clearValues(frm,field)
        {
                frm.newpass.value="";
        }
</SCRIPT>
