#*
 * @(#) DeletePosted.vm
 * Copyright (c) 2005,2010,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:madhavi_mungole@hotmail.com ">Madhavi Mungole</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com"> Shaista Bano</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com"> Sunil Kumar</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 31-12-2009, 20-04-2010, 07-09-2010,11-08-1011
*#
<head>
## This Script use for Fck Editor in textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script>
</head>
<body onload="initEditor()">
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
$page.setTitle("Admin Home | Communication | Delete Posted Notice")
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
	<tr><td>
	<a href=$link.setPage("Index.vm")>$brih_ad $brih_home</a> | 
	<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1")>$brih_Notices</a> | $Notice_DeletePosted_msg1
	</td></tr>
</table>

<table align=left bgcolor="$ui.tableColor" width="100%">
<tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1")>$Notice_NoticeSend_msg1</a></td>
	#if($tdcolor != "2")
        	<td>
	#elseif($tdcolor == "2")
                <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Notice_User,DeletePostedAdmin.vm").addPathInfo("count","2")>$Notice_DeletePosted_msg1</a></td>
        #if($tdcolor != "3")
        	<td>
	#elseif($tdcolor == "3")
                <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh").addPathInfo("count","3")>$brih_flash $brih_heading</a></td>
        ##<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh")>$brih_flash $brih_heading</a></td>
        #if($tdcolor != "4")
                <td>
        #elseif($tdcolor == "4")
                <td bgcolor="#AFDCEC">
        #end
                <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("mod","adminmail").addPathInfo("count","4")>$brih_localmail</a></td>
</td></tr>
</table>

<form name="frm" method="Post" action="$link.setPage("call,Notice_User,DeletePostedAdmin.vm").setAction("Notice_Send_Delete")">
#if($Mas_size!="0")
<table align="left" width=100% bgcolor="$ui.tableColor">
<tr>
	<td>$Notice_Subject</td>
	<td>$brih_Da</td>
</tr>
##tr for description
<tr>
	#foreach($detail in $msgDetail)
		#if($velocityCount%2==0)
		<tr bgcolor="$ui.tableColor">
		#else
		<tr bgcolor="$ui.menuColor">
		#end
		<td>
                	<INPUT TYPE="CHECKBOX" NAME="$detail.getMsgId()" onClick="addDeleteList(this,document.frm);">
		<a href="$link.setPage("call,Notice_User,DeletePostedAdmin.vm").addPathInfo("notice_id",$detail.getMsgId()).addPathInfo("desc","Notice_Des").addPathInfo("count","2")">$detail.getMsgSubject()</a></td>
		<td>$detail.getPostTime()</td>
		</tr>
	#end
	<tr bgcolor="$ui.tableColor">
	<td>
		<input type="button" class="button-ftextstyle" name="eventSubmit_doDelete" value="$brih_delete" onClick="CheckValue(document.frm,this);">
		<input type="hidden" name="actionName" value="">
		<input type="hidden" name="deleteFileNames" VALUE="">
	</td>
#if($desc=="Notice_Des")
<tr>
<td bgcolor="$ui.tableColor" align="center"><font size=4><I><b>$Notice_sub</b></I></font></td>
</tr>
<tr><td><textarea id="ta" name=description rows=10 cols=90 wrap=physical onFocus="this.blur();">$message</textarea></td></tr>
#end
</tr>
</table>
#end
</form>
</body>
<SCRIPT LANGUAGE="javascript">
function CheckValue(frm,field)
{
        if(frm.deleteFileNames.value!="")
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
        {
                alert("Please select checkbox for deletion !!");
        }
}
function addDeleteList(field,frm)
{
        if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteFileNames.value;
                index=actualString.indexOf(field.name+"^",0);
                       preString=actualString.substring(0,index);
                       postString=actualString.substring(index+field.name.length+1);
                       actualString=preString+postString;
                       frm.deleteFileNames.value=actualString;
        }
}
</SCRIPT>
