$page.setBgColor("#ffffff")

#set($lang = $data.getUser().getTemp("lang").toString())
#set ($instituteid=$data.getUser().getTemp("Institute_id") )

<head>
<link rel="shortcut icon" href="$content.getURI("favicon.ico")" >
<link rel="icon" type="image/gif" href="$content.getURI("images/animated_favicon.gif")">
</head>

#if($instituteid!="" && $lang!="")
	<table border=0><tr><td width="55%"><img src="$content.getURI("images/${lang}brihaspati3.png")"></td><td width="20%"><img src="$content.getURI("images/Logo/logo")"</td><td width="20%"><img height="112px" src="$content.getURI("images/Logo/$instituteid")"</td></tr></table>
#elseif($lang!="" && $instituteid=="")
	<table border=0><tr><td width="55%"><img src="$content.getURI("images/${lang}brihaspati3.png")"></td><td colspan=2 width="40%"><img src="$content.getURI("images/Logo/logo")"</td></tr></table>
#else
	<table border=0><tr><td width="55%"><img src="$content.getURI("images/englishbrihaspati3.png")"></td><td colspan=2 width="40%"><img src="$content.getURI("images/Logo/logo")"</td></tr></table>
#end
<hr>
