$page.setBgColor("#ffffff")

#set($lang = $data.getUser().getTemp("lang").toString())
#set ($cid=$data.getUser().getTemp("course_id") )
#set ($instituteid=$data.getUser().getTemp("Institute_id") )
#set ($istat=$data.getUser().getTemp("istat") )

<head>
<link rel="shortcut icon" href="$content.getURI("favicon.ico")" >
<link rel="icon" type="image/gif" href="$content.getURI("images/animated_favicon.gif")">
</head>
<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/image.resize.js")"></script>
<script>
    $(function() {
      $( ".resizeme" ).aeImageResize({ height: 120, width: 200 });
    });
  </script>
<div style="width:1110px; margin:0px auto;">
#if($cid!="" && $istat)
	<table border=0><tr><td width="650px" height="112px"><img src="$content.getURI("localImages/Header/$cid")" height="112px" width="650px"></td><td width="200px" height="112px"><img src="$content.getURI("images/Logo/logo")" width="200px" height="112px"></td><td width="230px" height="112px"><img src="$content.getURI("localImages/Logo/$instituteid")"></td></tr></table>
#elseif($instituteid!="" && $lang!="")
	<table border=0><tr><td width="650px" height="112px"><img src="$content.getURI("images/${lang}brihaspati3.png")" height="112px" width="650px"></td><td width="200px" height="112px"><img src="$content.getURI("images/Logo/logo")" width="200px" height="112px"></td><td><img src="$content.getURI("localImages/Logo/$instituteid")" class="resizeme"></td></tr></table>
#elseif($lang!="" && $instituteid=="")
	<table border=0><tr><td width="850px" height="112px"><img src="$content.getURI("images/${lang}brihaspati3.png")" height="112px" width="850px"></td><td colspan=2 width="200px" height="112px"><img src="$content.getURI("images/Logo/logo")" width="200px" height="112px"></td></tr></table>
#else
	
	<table><tr><td width="850px" height="112px"><img src="$content.getURI("images/englishbrihaspati3.png")" height="112px" width="850px"></td><td  colspan=2 width="200px" height="112px"><img src="$content.getURI("images/Logo/logo")" width="200px" height="112px"></td></tr></table>
#end

</div>
<hr style="width:1100px; margin:0px auto;">
