#*
*#
<font face="verdana,geneva,helvetica">
<hr style="width:1100px; margin:5px auto;">
<div style="width:1100px; margin:0px auto;">
<table nosave size=640>
<tr>
<td valign=bottom><font size=-1>
Opensource component development supported by <a
href="http://www.mcit.gov.in" style='text-decoration:none'>Elearning Division, MCIT,</a>  <a
href="http://www.iitk.ac.in" style='text-decoration:none'>IIT Kanpur</a>, and <a
href="http://www.ignouonline.ac.in/sakshatproposal/default.aspx" style='text-decoration:none'>NMEICT,
MHRD</a><br>
Opensource development available for download at <a href="http://sourceforge.net/projects/brihaspati" style='text-decoration:none'>Sourceforge.net</a><br>
For problems at this site send email to <a href="mailto:brihspti@iitk.ac.in" style='text-decoration:none'>ETRG, IIT Kanpur</a><br>
For reporting bugs, suggestion, feature request, and maintainence support<br>
 post at <b>brihaspati_ERP_mission@yahoogroups.com</b>
<br>Copyright &copy; 2002-2016 ETRG, IIT Kanpur</font></td>
<td size="40%">
<a href="http://jakarta.apache.org/turbine">
<img align="left" border=0 src="$content.getURI("images/logo.gif")"></a> </td>
<td align=center>
<font size=-1>Based on Open Source Brihaspati at</font><br>
<a href="http://sourceforge.net/projects/brihaspati" style='text-decoration:none'>
<img align="center" border=0 src="$content.getURI("images/sflogo.png")"></a>
</td>
<td align=center> <a href="http://groups.yahoo.com/group/brihaspati_ERP_mission/join" style="text-decoration:none;">
  <img src="$content.getURI("images/yahoogroups.png")" style="height:100px; width:150px; font-size:16px;" alt="Click to join brihaspati_ERP_mission"/>
##<br>
</a>
</td>
</tr></table>
</font>
</div>
