#*
 * @(#)SelectHintQuestion.vm
 * Copyright (c) 2005, 2008, 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singhsatyapal@rediffmail.com ">Satyapal Singh</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_select $brih_hint $brih_qus")
$!data.getMessage()
#set($lang =$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.menuColor" width=100%>
<tr align="right"><td>
        <a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)>$brih_login $WikiPage</a> | $brih_hint $brih_qus $brih_select
</td></tr>
</table>

<table bgcolor="$ui.tableColor" width=100%>
  <form name=frm method="post" action="$link.setPage("BrihaspatiLogin.vm").setAction("ForgotPassword")">
	<tr align="right"> <td colspan="2">
		$brih_hint $brih_qus $brih_select
	</td> </tr>
	<tr bgcolor="$ui.menuColor" align="right">
        	<td>
              	<select name="qid" size=1>
        	 #foreach($i in $question)	  
	 	 	<option value="$i.getQuestionId()">$i.getQuestionName()
		 #end
		</option>
	      </select>
            </td>
	    <td>
	        $brih_qus $brih_select
	    </td>
	</tr>
       	<tr align="right">
		<td> <input type="txt" name="answer" value=" " > </td>
		 <td> <b> $Profile_Ans </b> </td>
           	## #formCell("$Profile_Ans" "answer" "")
   	</tr>
	<tr bgcolor="$ui.menuColor" align="right">
        <td colspan=2 align="right">
	  <input type="hidden" name="actionName">
	  <input type="hidden" name="uid" value=$uid>
	  <input type="hidden" name="lang" value="$lang">
	  <input type="button" name="eventSubmit_doInsertHint" value="$brih_submit" onClick="checkAnswer(document.frm,this);"/>
	</td>
	</tr>	 
</table>
  </div>
</form>
</body>
</table>

<SCRIPT LANGUAGE="javascript">
	function checkAnswer(frm,field)
	{
		if(frm.answer.value!="")
		{
				frm.actionName.value=field.name;
				frm.submit();
		}
		else
		{
		        alert("Please Fill The Answer!!");
		}
	}
</SCRIPT>
