#*
 * @(#) CourseMemt.vm
 * Copyright (c) 2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kuamr Singh</a>
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Course Management")
$!data.getMessage()
#set ($lang=$data.getUser().getTemp("lang" ).toString())
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<body>
<table bgcolor="$ui.menuColor" width=100%>
        <tr align="right">
                <td>
                 #if($isAdmin=="true")
                $Profile_user | $course | <a href=$link.setPage("Index.vm") style=text-decoration:none> $brih_home </a>
                #elseif ($isInstructor=="true")
		  <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a> | $Profile_user | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> | <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> 
                #else 
		 $Profile_user | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> | <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>Home</a>
                #end
        </font>
        </td>
        </tr>
        </table>
 <table width=100% bgcolor="$ui.tableColor">

                #if ($isInstructor=="true")
        <tr><td align="left" colspan="16">
        <a href=javascript:popupWin("/brihaspati2/docs/CourseMgmt.html","newWin"); style=text-decoration:none >$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")">         </td></tr>
        <tr bgcolor="$ui.menuColor">
#if($tdcolor != "7")
         <td>
         #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
         #end
       <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7") style=text-decoration:none> $brih_scorm $Repo_Player </a>
         </td>
        #if($tdcolor != "6")    
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") style=text-decoration:none> $brih_scorm $brih_packager </a></td>
        #if($tdcolor != "5")    
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") style=text-decoration:none> #if($lang == "english") $RemoteConfiguration $brih_grade #else $brih_grade $RemoteConfiguration #end </a></td>
        #if($tdcolor != "4")    
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") style=text-decoration:none> #if($lang == "english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end </a></td>
        #if($tdcolor != "3")    
        <td>
 #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3") style=text-decoration:none> $brih_course $RemoteConfiguration </a></td>

#if($tdcolor != "2")    
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") style=text-decoration:none> #if($lang !="english") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
        #if($tdcolor != "0")  
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0") style=text-decoration:none> $brih_course $Profile_user </a></td><td>
        #if($tdcolor != "1")    
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang == "english") $brih_course  $brih_content #else $brih_content #end </a></td>
#end
</tr>
</table>
<table>
        <form name="frm" method="post" enctype="multipart/form-data" action="$link.setAction("EditContent_Action").setPage("call,CourseMgmt_User,CourseMgmt.vm")">
        <table align="right" bgcolor="$ui.tableColor" width="100%">
        <tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")        
        <td bgcolor="#AFDCEC">
        #end

      </td>
        </tr>
              <tr align="right" bgcolor="$ui.menuColor">
                <td><input type="text" name="Course_Id" value="$!cId" size="20" readonly> </td>
                <td align="right"><b>$brih_course $brih_ID</b></td>
                  </tr>
 <tr align="right">
                  <td align="right"><input type="text" name="Course_name" value="$!course" size="20" readonly></td>
                <td align="right"><b>$brih_name</b></td>
              <td align="right" colspan=3></td>
               <tr align="right" bgcolor="$ui.menuColor">
                <td align="right"><input type="text" name="P_Instr" value="$!lastname $!firstname" size="20" readonly></td>
                <td align="right">$brih_Instructor</b></td>
             </tr>

 ##    <tr bgcolor="$ui.menuColori>
              <tr align="right">

 <td align="right"><select Instructor="sinst" class="drop" name="Second_Instructor">
                #if($cyear == "")
                        <option value="$sinst" >$brih_Instructor</option>
                #else
                        #foreach ($secIns in $seclist)
                                <option value="$sinst" > $secIns </option>
                      #end

             <td align="right"><b> $brih_secondry $brih_Instructor</b> </td>
                #end
         </select>
         </td> </tr>

        <tr align="right" bgcolor="$ui.menuColor">
         #if($isInstructor=="true")

        <td  align="right"> <input type="text" name="labinst" value="$!labinst" size="20">
        <input type="text" name="labinst1" value="$!labinst1" size="20"></td>
        <td align="right"><b>$brih_lab $brih_Instructor</b> </td>
        #else
        <td  align="right"> <input type="text" name="labinst" value="$!labinst" size="20" readonly>
        <input type="text" name="labinst1" value="$!labinst1" size="20" readonly></td>
               #end
        </tr>

        <tr align="right" bgcolor="$ui.menuColor">
        #if($isInstructor=="true")
        <td align="right"> <input type="text" name="tute" value="$!tute" size="20">
        <input type="text" name="tute1" value="$!tute1" size="20"></td>
         <td  align="right"><b>$brih_tutor</b> </td>

                #else
        <td align="right"> <input type="text" name="tute" value="$!tute" size="20"readonly >
        <input type="text" name="tute1" value="$!tute1" size="20"readonly ></td>
        #end
       </tr>
        <tr bgcolor="$ui.menuColor">
        	<td align="right">
		<table align="right">
		<td align="right">$brih_time($brih_timeformate)</td><td>$brih_venue</td><td>$brih_Day</td>
	</tr>
	#if($isInstructor=="true")
        <tr>
		<td align="right"> <input type="text" name="t" value="$!t" size="8"></td>
		<td align="right"> <input type="text" name="sch" value="$!sch" size="8"></td>
		<td align="right"> <b>$brihMON</td>
	</tr>
	#else
		   #if(($sch != "") && ($t != ""))
		<td align="right"> <input type="text" name="t" value="$!t" size="8" readonly></td>
        	<td align="right"> <input type="text" name="sch" value="$!sch" size="8" readonly></td>
		<td align="right"> <b>$brihMON</td>
	</tr>
		  #end
        #end

	#if($isInstructor=="true")
	<tr>
        	<td align="right"> <input type="text" name="t1" value="$!t1" size="8"></td>
        	<td align="right"> <input type="text" name="sch1" value="$!sch1" size="8"></td>
        	<td align="right"> <b>$brihTUE</td>
	</tr>
	#else
		 #if(($sch1 != "") && ($t1 != ""))
	<tr>
        	<td align="right"> <input type="text" name="sch1" value="$!sch1" size="8" readonly></td>
        	<td align="right"> <input type="text" name="t1" value="$!t1" size="8" readonly></td>
        	<td align="right"> <b>$brihTUE</td>
	</tr>
		#end
	#end
	#if($isInstructor=="true")
	<tr>
        	<td align="right"> <input type="text" name="t2" value="$!t2" size="8"></td>
        	<td align="right"> <input type="text" name="sch2" value="$!sch2" size="8"></td>
        	<td align="right"> <b>$brihWED</td>
	</tr>
	#else
		#if(($sch2 != "") && ($t2 != ""))
	<tr>
        	<td align="right"> <input type="text" name="t2" value="$!t2" size="8" readonly></td>
        	<td align="right"> <input type="text" name="sch2" value="$!sch2" size="8" readonly></td>
        	<td align="right"> <b>$brihWED</td>
	</tr>
		#end
	#end
	#if($isInstructor=="true")
	<tr>
        	<td align="right"> <input type="text" name="t3" value="$!t3" size="8"></td>
        	<td align="right"> <input type="text" name="sch3" value="$!sch3" size="8"></td>
        	<td align="right"> <b>$brihTHU</td>
	</tr>
	#else
		 #if(($sch3 != "") && ($t3 != ""))
	<tr>
        	<td align="right"> <input type="text" name="t3" value="$!t3" size="8" readonly></td>
        	<td align="right"> <input type="text" name="sch3" value="$!sch3" size="8" readonly></td>
        	<td align="right"> <b>$brihTHU</td>
	</tr>
		 #end 
	#end
	#if($isInstructor=="true")
	<tr>
        	<td align="right"> <input type="text" name="t4" value="$!t4" size="8"></td>
        	<td align="right"> <input type="text" name="sch4" value="$!sch4" size="8"></td>
        	<td align="right"> <b>$brihFRI</td>
	</tr>
	#else
		#if(($sch4 != "") && ($t4 != ""))
	<tr>
        	<td align="right"> <input type="text" name="t4" value="$!t4" size="8" readonly></td>
        	<td align="right"> <input type="text" name="sch4" value="$!sch4" size="8" readonly></td>
        	<td align="right"> <b>$brihFRI</td>
	 </tr>
		 #end
	#end
	#if($isInstructor=="true")
	<tr>
        	<td align="right"> <input type="text" name="t5" value="$!t5" size="8"></td>
        	<td align="right"> <input type="text" name="sch5" value="$!sch5" size="8"></td>
        	<td align="right"> <b>$brihSAT</td>
	 </tr>
	#else
		 #if(($sch5 != "") && ($t5 != ""))
	<tr>
        	<td align="right"> <input type="text" name="t5" value="$!t5" size="8" readonly></td>
        	<td align="right"> <input type="text" name="sch5" value="$!sch5" size="8" readonly></td>
        	<td align="right"> <b>$brihSAT</td>
	 </tr>
		#end
	#end
	</td></table>
	<td align="right"><b>$brih_course $brih_day & $brih_Venue </b></td>
</tr>
	<tr>
		<td></td>
                <td align="right"><b> <font color=RED> *</font>$brih_marks/$brih_grading</b></td>
	</tr>
	<tr>
		#if($isInstructor=="true")
                <td align="right"> <input type="text" size=3 name="midsem" value="$!midsem" ></td>
		#else
                <td align="right"> <input type="text" size=3 name="midsem" value="$!midsem" readonly></td>
		#end
		<td align="right">  $brih_midsem  </td>
        </tr>

	<tr>
		#if($isInstructor=="true")
        	        <td align="right"> <input type="text" size=3 name="quiz" value="$!quiz" ></td>
		#else
                	<td align="right"> <input type="text" size=3 name="quiz" value="$!quiz" readonly ></td>
		#end
                <td align="right"> $brih_quiz </td>
        </tr>
	<tr>
		#if($isInstructor=="true")
                	<td align="right"> <input type="text" size=3 name="labwork" value="$!labwork"></td>
		#else
               		<td align="right"> <input type="text" size=3 name="labwork" value="$!labwork" readonly></td>
		#end
                <td align="right"> $brih_lab $brih_work </td>
        </tr>
	<tr>

		#if($isInstructor=="true")
                <td align="right"> <input type="text" size=3 name="endsem" value="$!endsem" ></td>
		#else
                <td align="right"> <input type="text" size=3 name="endsem" value="$!endsem" readonly></td>
		#end
                <td align="right"> $brih_endsem  </td>
        </tr>

        <tr bgcolor="$ui.menuColor">
		#if($isInstructor=="true")
		<td align="right" width="3"> <textarea id="id" name="message" rows=10 cols=80 wrap=physical> $!message </textarea></td>
		#else
		<td align="right" width="3"> <textarea id="id" name="message" rows=10 cols=80 wrap=physical readonly> $!message </textarea></td>
		#end
                <td align="right"><b> $brih_instruction  <font color=RED> * </font></b></td>
	</tr>
        <tr >
		#if($isInstructor=="true")
			<td align="right" bgcolor="$ui.tableColor"> <input type="file" size="75" name="file"> </td>
			<td align="right"><b> <font color=RED> * </font>$brih_course $brih_syllabus</b></td>
			##fileUpload ("<b> $brih_course $brih_syllabus<font color=RED> * </font></b> " "file")
		#end
        </tr>
		 #if($fileName !="")
	            <tr bgcolor="$ui.menuColor">
                    <td align="right"> $brih_course $brih_syllabus $brih_file <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("type","coursemgmt").addPathInfo("filename",$fileName)");> $brih_download</a>			 
                 <td align="right"><b> :$brih_attachment</b></td>
		</td>
	</tr>
		#end
        <tr>
        	<td align="center" colspan=5>  
			#if($isInstructor=="true") 
				<input type="reset" class="button-ftextstyle" name="Reset" value="$brih_clear"/>
		      		<input type="button" class="button-ftextstyle" name="eventSubmit_doSelect" value="$brih_submit" onClick="checkField(document.frm,this);"/>&nbsp;
                      #end
			<input type="hidden" name="actionName">
                	<input type="hidden" name="count" value="$tdcolor">
        	</td>
        </tr>
</table>
</form>
</body> 
<SCRIPT LANGUAGE="javascript">
        function checkField(frm,field)
        {
		if((frm.midsem.value!="") && (frm.quiz.value!="") && (frm.labwork.value!="")  && (frm.endsem.value!="") && (frm.file.value!="")) {
                       frm.actionName.value=field.name;
                       frm.submit();
		}else
			alert("Please Fill All The Mandatory(*) Fields");
        }
        function popupWin(urlName,popupName)
        {
                 window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
         }
</SCRIPT>
