#*
*
 * @(#)Launchcontentinew.vm 
 * Copyright (c) 2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:kishore.shukla@gmail.com">Kishore Kumar shukla</a>
 * @author: <a href="mailto:seema_020504@yahoo.com">Seemapal</a>
 * @author <a href="shaistashekh@hotmail.com">Shaista </a>
 * @modified date: 11-12-2011
 * @modified Date: 13-6-2012
*#

<html>
<HEAD>
<script type="text/javascript" src="$content.getURI("/scrpts/Scormjs/scormmain.js")"></script>
</HEAD>
<applet code="APIAdapter.class" codebase=$codeBase  width=0 height=0 id="adapter" name="adapter"></applet>
<param name="userid" value="$userid">
<param name="title" value="$package">
<param name="courseid" value="$scormDir1">
<param name="adapter" value="$adapter">
<SCRIPT LANGUAGE="JavaScript">
//startDate and exitPageStatus to be used by the sco if they contains many pages
var startDate;
var exitPageStatus;
var courseid = "$scormDir1";
var userid = "$userid";
var title = "$package";
var courseURL = "$Baseurl";
var API = window.parent.document.adapter;
var initpage = "";
if (API.getScoItems(courseid)) {
        initpage = API.getInitPage();
} else {
        document.write("ERROR : Can't find manifest file.");
}

if (self.name == 'menu') {
        self.location.href = "../brihaspati2/ScormPlayer/menu.htm";
} else {
        initialise(API);
        var thePage = "";
        if ( initpage == "blank" ) {
                thePage = pageFromSearch("/brihaspati2/ScormPlayer/show_title.html", theMenu, true);
        }
        else thePage = pageFromSearch("$Baseurl"+"servlet/brihaspati/template/call,ViewFileContent.vm/topic/"+title+"/type/Scormpackage"+"/filename/"+initpage, theMenu, true);
	self.document.writeln('<table width="100%" border="0" cellspacing="0">');
        self.document.writeln('<tr height="20%" width="100%" valign="top" colspan="2" cellspacing="0">');
        self.document.writeln('<iframe id="frame_navigation" name="frame_navigation" src="$link.setPage("call,CourseMgmt_User,Navigation.vm")" height="20%" width="100%" align="left">');
        self.document.writeln('</iframe>');
        self.document.writeln('</tr>');
        self.document.writeln('<tr cellspacing="0">');
	if(screen.height=1080)
        self.document.writeln('<td width="25%" height="800" frameborder="0" align="left">');
	else
        self.document.writeln('<td width="25%" height="600" frameborder="0" align="left">');
        self.document.writeln('<iframe name="menu" src="$content.getURI("/ScormPlayer/menu.htm")" width="100%" height="100%">');
        self.document.writeln('</iframe>');
        self.document.writeln('</td>');
	if(screen.height=1080)
        self.document.writeln('<td height="800" width="75%" align="left">');
	else
        self.document.writeln('<td height="600" width="75%" align="left">');
        self.document.writeln('<iframe id="frame_content" name="frame_content" src="'+thePage+'" align="left" height="100%" width="100%" >');
        self.document.writeln('</iframe>');
        self.document.writeln('</td>');
        self.document.writeln('</tr>');
        self.document.writeln('</table>');
}
</SCRIPT>
</html>


