#*
 * @(#) EditCourse.vm
 * Copyright (c) 2004-2005,2009,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhk_t@yahoo.com ">Awadhesh Kumar Trivedi</a>
 * @author  <a href="sweetshaista00@yahoo.com">Shaista Shekh</a>  
 * @author  <a href="nksinghiitk@gmail.com">Nagendra Kumar Singh</a>  
 * @author  <a href="singh_jaivir@rediffmail.com">Jaivir Singh</a> 
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified date: 22-11-2010,22-04-2013,31-05-2013,06-06-2013 
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | List Management | View All Courses | Edit Course")

$!data.getMessage()

#set($lang = $data.getUser().getTemp("lang" ).toString())
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

<body bgcolor="$ui.bgcolor" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td><font face="$ui.sansSerifFonts" size=3><a href=$link.setPage("Index.vm")>$brih_ad $brih_home</a> |
     	##<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionstat","Edit")>$brih_list_mgmt</a> |$brih_edit $brih_course : $Courseid
	#if($lang == "hindi")
	<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("mode","All").addPathInfo("listcourse","listcourse").addPathInfo("count","1")>$brih_listCourse</a> | $Courseid : $brih_Of1 $brih_edit 
        #else
	<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("mode","All").addPathInfo("listcourse","listcourse").addPathInfo("count","1")>$brih_view_all $brih_course</a> | $brih_edit $brih_course : $Courseid
        #end
	</td>
</tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
	#if($tdcolor != "1")	
	<td>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC">
	#end
        <a href="$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit").addPathInfo("count","1")"> #if($lang == "hindi")
                        			$brih_view_all1
	                            #else
        	                                $brih_view_all $brih_course
                	            #end </a>
        </td width=50%>
	#if($tdcolor != "2")	
	<td>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC">
	#end
        <a href="$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").addPathInfo("mode","All").addPathInfo("count","2")"> #if($lang == "hindi") $brih_all $brih_usr $brih_Of1 $brih_view  #else $brih_view_all $brih_usr #end </a></td>
</tr>
</table>

<form name=frm method="post" action="$link.setPage("call,CourseMgmt_Admin,EditCourse.vm").setAction("EditCourse")">
  <div align="left">
    ##<table align=left cellspacing=1 bgcolor="$ui.tableColor" cellpadding="5">
    <table align=left width=100% bgcolor="$ui.tableColor">
     #foreach($cd in $CourseDetail)
     	<tr bgcolor="$ui.menuColor">
		##entry1Cell("$brih_course $brih_ID" "$cd.getGroupName()")
		<td> $brih_course #if($lang == "hindi") $brih_Of1 #end $brih_ID </td>
		<td> $cd.getGroupName() </td>
     	</tr>
      	<tr>
        	##formCell ("$brih_course $brih_name" "Cname" "$cd.getCourseName()")
		<td> $brih_course #if($lang == "hindi") $brih_Of1 #end $brih_name </td>
		<td>  <input type="text" name="Cname" value="$cd.getCourseName()" /> </td>
      	</tr>
	<tr bgcolor="$ui.menuColor">
        	<td> $brih_schce</td>
        	<td>
        	<select class="drop" name="SCHNAME" size=1 style="width:300px;" />
		 #if("$!cd.getSchoolCenter()"=="")
                <option value="" title="$brih_select $brih_sch">$brih_select $brih_sch </option>
                #else
                <option value="$!cd.getSchoolCenter()" title="$!cd.getSchoolCenter()">$!cd.getSchoolCenter()</option>
                #end
        	#foreach($name in $schlist)
        	<option value="$!name.getName()" title="$!name.getName()" style="width:275px;">$!name.getName()</option>
        	#end
        	</select>
        	</td
        </tr>
      	<tr>
		<td> $brih_dept</td>
        	<td>
                <select class="drop" name="Department" size=1 style="width:300px;" />
		#if("$!cd.getDept()"=="")
                <option value="" title="$brih_select $brih_dept">$brih_select $brih_dept </option>
                #else
                <option value="$!cd.getDept()" title="$!cd.getDept()" style="width:275px;">$!cd.getDept()</option>
                #end
                #foreach($name in $deptlist)
                <option value="$!name.getName()" title="$!name.getName()" style="width:275px;">$!name.getName()</option>
                #end
                </select>
        	</td>
      	</tr>
      	<tr bgcolor="$ui.menuColor">
  		<td>
  		##<font face="$ui.sansSerifFonts">$brih_desc </font> 
  		$brih_desc 
  		</td>
		<td>
  		##<font face="$ui.sansSerifFonts"><textarea name="DESCRIPTION" rows=5 cols=60>$cd.getDescription()</textarea></font>
  		<textarea name="DESCRIPTION" rows=5 cols=60>$cd.getDescription()</textarea>
		</td>
      	</tr>
      	<tr>
  		<td>
  		##<font face="$ui.sansSerifFonts">$brih_active </font> <br><br>
  		##<font face="$ui.sansSerifFonts">$brih_inactive</font>
  		$brih_active <br>
  		$brih_inactive
		</td>
		<td>
		#if($cd.getActive() == "1")
			<input type="radio" name="isactive" checked value="1"><br>
			<input type="radio" name="isactive" value="0">
		#else
			<input type="radio" name="isactive" value="1"><br>
			<input type="radio" name="isactive" checked value="0">
		#end	
		</td>
      	</tr>
      	<tr bgcolor="$ui.menuColor">
		<td colspan=2 align=left>
		<input class="button-ftextstyle" type="button" name="eventSubmit_doUpdate" onclick="confirmForUD(document.frm,this.name)" value="$brih_update" />
		#if($cd.getActive() == "1")
			<input class="button-ftextstyle" type="button" name="eventSubmit_doshow" onclick="confirmForUD(document.frm,this.name)" value="$brih_delete" />
		#else
			<input class="button-ftextstyle" type="button" name="eventSubmit_doDelete" onclick="confirmForUD(document.frm,this.name)" value="$brih_delete" />
		#end
		</td>
      	</tr>
	<input type="hidden" name="gName" value="$Courseid"/>
	<input type="hidden" name="actionButton">
	<input type="hidden" name="mode" value="All">
	<input type="hidden" name="count" value="$tdcolor">
	<input type="hidden" name="listcourse" value="listcourse">
	#end
    </table>
  </div>
</form>
<script LANGUAGE="javascript">
  function confirmForUD(frm,val){
	frm.actionButton.value=val;
	if(val=="eventSubmit_doDelete")
	{
     		if(confirm("The course is going to be removed ! Are you sure ?"))
		{
			frm.submit();
		}
		return;
        }
	else if(val=="eventSubmit_doshow")
	{
	alert("This is an active course. Can not be removed !")
	return;
	}
	frm.submit();
 }
</script>
