#*
 * @(#) OnlineRegistration_Admin.vm 
 * Copyright (c) 2008-09,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:omprakash_kgp@yahoo.co.in">Om Prakash</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modify 20-03-2009,10-06-2013
*#

$page.setTitle("Admin Home | View Online Registration ")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

<table  bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr align="right">
 <td> 
 <font face="$ui.sansSerifFonts" size=3> 
## <b> <a href=$link.setPage("call,Index.vm")>$brih_ad $brih_Of1 $brih_home</a> | $brih_view $online_online $brih_reg    </b>
	<b><a href=$link.setPage("Index.vm") style="text-decoration:none">$brih_ad $brih_home</a> |$brih_view $online_online $brih_reg    </b>
 </font>
</td>
</tr>
</table>
<body>
<form name="frm" method="post" action="$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("lang",$lang).setAction("OnlineRegistration_Admin")">
<div class="scroll" style="margin-top:7px; position:absolute;">
<table align="center" bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr align="right">
	<td align="left">
        <font face="$ui.sansSerifFonts" size=3>
        <a href=javascript:popupWin("/brihaspati2/docs/OnlineRegistrationAdmin.html","newWin") style="text-decoration:none">$brih_help </a>
        </font>
        <img src="$content.getURI("/images/Lefthand.gif")">
        </td>
        <td><b>
        <a href=$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("status","CourseRegistration") style="text-decoration:none">$brih_view $brih_course $brih_reg </a>
        </td>
        <td width="20%"><b>
        <a href=$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("status","UserResitration") style="text-decoration:none">$brih_view $brih_usr $brih_reg </a>
        </td>
</tr>
</table>
#if( $entry.size() !=0 )
	<table align="center" bgcolor="$ui.tableColor" cellpadding="5">
	#if($status == "UserResitration")
	#set ( $headings = ["$brih_role","$brih_course $brih_Of1 $brih_ID","$brih_program","$brih_rollno","$brih_email","$brih_last $brih_name","$brih_first $brih_name","$brih_usr $brih_Of1 $brih_name","$brih_select"] )
	<tr align="center" bgcolor="$ui.menuColor">
                  #foreach ($heading in $headings)
                        #headerCell($heading)
                  #end
        </tr>
	#foreach($e in $entry)
        #if($velocityCount%2==0)
        <tr align="right" bgcolor="$ui.menuColor">
        #else
        <tr align="right" bgcolor="$ui.tableColor">
        #end
                <td>$e.getMsgID()</td>
                <td>$e.getStatus()</td>
		<td>$e.getPrgCode()</td>  ##Program Name
		<td>$e.getRollno() </td> ##Roll No
                <td>$e.getMSubject()</td>
	##	<td>$e.getGrpmgmtType()</td>
		<td>$e.getPermission()</td>
		<td>$e.getExpiryDate()</td>
                <td>$e.getSender()</td>
                <td align=center>
                        ##<INPUT TYPE="CHECKBOX" NAME=$e.getMSubject() VALUE="" onClick="addDeleteList(this,document.frm);">
			#set($mailCname="${e.getMSubject()}:${e.getStatus()}:${e.getSender()}")
                        <INPUT TYPE="CHECKBOX" NAME="$mailCname" VALUE="" onClick="addDeleteList(this,document.frm);">
                </td>
        </tr>
        #end
        <tr align="right">
                <td colspan=9 bgcolor="$ui.menuColor">
                <input type="hidden" name="actionName" value="">
                <input type="button" class="button-ftextstyle" name="eventSubmit_AcceptUser" value="$online_accept" onClick="AcceptField(document.frm,this);">
                <input type="button" name="eventSubmit_RejectUser" class="button-ftextstyle" value="$online_reject" onClick="AcceptField(document.frm,this);">
                <input type="hidden" name="deleteFileNames" value="">
                ##<input type="hidden" name="group" value="$group">
                <input type="hidden" name="role" value="$role">
                </td>
        </tr> 
	#end
	<input type="hidden" name="status" value=$status>

##////////////////////////view courses/////////////////////////////	

	#if($status == "CourseRegistration")
	#set ( $headings = ["$brih_schce","$brih_dept","$brih_last $brih_name","$brih_first $brih_name","$brih_email","$brih_course $brih_Of1 $brih_name","$brih_usr $brih_Of1 $brih_name","$brih_course $brih_Of1 $brih_ID","$brih_select"] )
	<tr align="right" bgcolor="$ui.menuColor">
                  #foreach ($heading in $headings)
                        #headerCell($heading)
                  #end
        </tr>
	#foreach($e in $entry)
	#if($velocityCount%2==0)
        <tr align="right" bgcolor="$ui.menuColor">
        #else
        <tr align="right" bgcolor="$ui.tableColor">
        #end
 		<td>$e.getSchoolCenter()</td>
	  	<td>$e.getGrpmgmtType()</td>		
	  	<td>$e.getPermission()</td>
	  	<td>$e.getMsgID()</td>
          	<td>$e.getStatus()</td>
          	<td>$e.getPDate()</td>
          	<td>$e.getMSubject()</td>
          	<td>$e.getSender() </td>
          	<td align="center">
			##<INPUT TYPE="CHECKBOX" NAME="$e.getStatus()" VALUE="" onClick="addDeleteList(this,document.frm);">
			#set($mailCname="${e.getStatus()}:${e.getSender()}${e.getMSubject()}")
                	<INPUT TYPE="CHECKBOX" NAME="$mailCname" VALUE="" onClick="addDeleteList(this,document.frm);">
	  	</td>	 	
	</tr>
	#end
	<tr align="right">
  		<td colspan=9 bgcolor="$ui.menuColor">
			<input type="hidden" name="actionName" value="">
			<input type="button" class="button-ftextstyle" name="eventSubmit_doAcceptCourses" value="$online_accept" onClick="AcceptField(document.frm,this);">
			<input type="button" name="eventSubmit_doDeleteCourse" class="button-ftextstyle" value="$online_reject" onClick="AcceptField(document.frm,this);">
			<INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
     		</td>
	</tr>
	#end
</table>
#end
</form>
</body>

<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function AcceptField(frm,field)
        {
		 if(frm.deleteFileNames.value != "")
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                else
                {
                        alert("Please select the check box");
                        return;
                }
	
	}
 
        function addDeleteList(field,frm)
        {
                if(field.checked)
                {
                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                }
                else
                {
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
        }


</SCRIPT>

