#*
 * @(#)Glossary_Insert_Word.vm
 *  Copyright (c) 2005,2009,2010 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#

#*
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @modified date: 31-12-2009, 07-09-2010,
*#
<head>
##This Script use for Fck Editor in Textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript">
        var editor = null;
        function initEditor() {
                editor = new HTMLArea("ta");
                editor.generate();
                return false;
                var cfg = editor.config;
                cfg.registerButton({
                        id        : "my-hilite",
                        tooltip   : "Highlight text",
                        image     : "ed_custom.gif",
                        textMode  : false,
                        action    : function(editor) {
                                editor.surroundHTML("<span class=\"hilite\">", "</span>");
                        },
                        context   : 'table'
                });
                cfg.toolbar.push(["linebreak", "my-hilite"]); var cfg = editor.config;
                function clickHandler(editor, buttonId) {
                        switch (buttonId) {
                                case "my-toc":
                                        editor.insertHTML("<h1>Table Of Contents</h1>");
                                break;
                                case "my-date":
                                        editor.insertHTML((new Date()).toString());
                                break;
                                case "my-bold":
                                        editor.execCommand("bold");
                                        editor.execCommand("italic");
                                break;
                                case "my-hilite":
                                        editor.surroundHTML("<span class=\"hilite\">", "</span>");
                                break;
                        }
                };
                Cfg.registerButton("my-toc",  "Insert TOC", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-date", "Insert date/time", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-bold", "Toggle bold/italic", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-hilite", "Hilite selection", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-sample", "Class: sample", "ed_custom.gif", false,
                        function(editor) {
                                if (HTMLArea.is_ie) {
                                        editor.insertHTML("<span class=\"sample\">&nbsp;&nbsp;</span>");
                                        var r = editor._doc.selection.createRange();
                                        r.move("character", -2); r.moveEnd("character", 2); r.select();
                                } else {
                                        var n = editor._doc.createElement("span"); n.className = "sample"; editor.insertNodeAtSelection(n);
                                        var sel = editor._iframe.contentWindow.getSelection();  sel.removeAllRanges(); var r = editor._doc.createRange();
                                        r.setStart(n, 0); r.setEnd(n, 0); sel.addRange(r);
                                }
                        }
                );
                cfg.pageStyle = "body { background-color:  } .hilite { background-color: yellow; } "+ ".sample { color: green; font-family: monospace; }";
                cfg.toolbar.push(["linebreak", "my-toc", "my-date", "my-bold", "my-hilite", "my-sample"]);
               editor.generate();
        }
        function insertHTML() { var html = prompt("Enter some HTML code here"); if (html) { editor.insertHTML(html); } }
        function highlight() { editor.surroundHTML('<span style="background-color: yellow">', '</span>'); }
</script>
</head>
<body onload="initEditor()">

$page.setBgColor($ui.bgcolor)
#if($mode == "Insert")
$page.setTitle("Home | Glossary |Insert Word")
#elseif($mode == "modify")
$page.setTitle("Home | Glossary |Update Word")
#elseif($mode == "alias")
$page.setTitle("Home | Glossary |Insert alias")
#end
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100%>
 <tr>
    <td><b>
	#if($data.getUser().getUserName()=="admin")
        <a href=$link.setPage("Index.vm")>$brih_ad $brih_home</a> | 
        #else
	<a href=$link.setPage("Index.vm")>$brih_home</a> | 
	#end
        <a href=$link.setPage("call,Glossary,Glossary_Search_Word.vm").addPathInfo("count","1")>$Glossary</a> |
           #if($mode == "Insert")
                 $brih_insert $brih_word
           #elseif($mode == "modify")
                 <a href=$link.setPage("call,Glossary,Glossary_Delete_Edit_Word.vm").addPathInfo("count","3")> $brih_delete $brih_edit $brih_word</a> | $brih_update $brih_word
           #elseif($mode == "alias")
                 <a href=$link.setPage("call,Glossary,Glossary_Delete_Edit_Word.vm").addPathInfo("count","3")>$brih_delete $brih_edit $brih_word</a> | $Glossary_instalisfor $word 
           #end </font>
    </td>
 </tr>
</table>
<table width="100%" bgcolor="$ui.tableColor">
    <tr>
        #if($tdcolor !="1")
       <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Glossary,Glossary_Search_Word.vm").addPathInfo("count","1")>$brih_search $brih_word </td>
      #if($guest_login=="false")
        #if($tdcolor !="2")
       <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Glossary,Glossary_Insert_Word.vm").addPathInfo("mode","Insert").addPathInfo("count","2")>$brih_insert $brih_word </td>
        #if($tdcolor !="3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
       <a href=$link.setPage("call,Glossary,Glossary_Delete_Edit_Word.vm").addPathInfo("status","blank").addPathInfo("count","3")>$brih_delete/$brih_edit</td>
      #end
    </tr>
  </table>
#if($mode=="Insert")

 <form name=frm method="post" action="$link.setPage("call,Glossary,Glossary_Insert_Word.vm").setAction("Glossary_Action").addPathInfo("count","2")">
    <table bgcolor="$ui.tableColor" width=100%>
      <tr>
          #formCell ("$brih_word <font color=Red>*</font>" "WORD" "")
      </tr>
      <tr>  
          <td><b>$brih_desc<font color=Red>*</font</b></td>
          <td width="3"><textarea id="ta" name="DESCRIPTION" rows=10 cols=80></textarea></td>	
      </tr>
      <tr bgcolor="$ui.menuColor">
          <td colspan=2>
             <input type="hidden" name="actionName" value="">
             <input type="button" name="eventSubmit_doInsertWord" value="$brih_insert" onClick="checkValue(document.frm,this);"/>
             <input type="reset" name="Clear" value="$brih_clear" onClick="checkClear(document.frm,this);"/>
          </td>
      </tr>
    </table>
 </div>
 </form>
#end
 
#if($mode!="Insert")
 <form name=frm method="post" action="$link.setPage("call,Glossary,Glossary_Delete_Edit_Word.vm").setAction("Glossary_Action").addPathInfo("status","stat")">
   <table bgcolor="$ui.tableColor" width=100%>
     <tr>
         #if($mode=="modify")
           #formCell("$brih_word <font color=Red>*</font>" "WORD" $word)
         #elseif($mode=="alias")
           #formCell("$brih_word <font color=Red>*</font>" "WORD" "")
         #end 
      </tr>
      <tr>
           <td><b>$brih_desc<font color=Red>*</font</b></td>
           <td width="3">
               #if($mode=="modify")
                         <font face="$ui.sansSerifFonts"><textarea id="ta" name="DESCRIPTION" rows=10 cols=80>$description</textarea></font>
               #elseif($mode=="alias")
	  		  <font face="$ui.sansSerifFonts"><textarea id="ta" name="DESCRIPTION" rows=10 cols=80></textarea></font>  
               #end   
           </td>
      </tr>
      <tr bgcolor="$ui.menuColor">
          <td colspan=2>
             <input type="hidden" name="actionName">
             <input type="hidden" name="wordId" value="$w_id">
              #if($mode=="modify")
                   <input type="button" name="eventSubmit_doUpdateword" value="$brih_submit" onClick="checkValue(document.frm,this);"/>
              #elseif($mode=="alias")
                   <input type="button" name="eventSubmit_doInsertalias" value="$brih_insert" onClick="checkValue(document.frm,this);"/>
              #end  
         </td>
      </tr>
</table>
</form> 
#end
</body>
<SCRIPT LANGUAGE="javascript">
 function checkValue(frm,field)
  {
	editor.setMode("textmode");
	if((frm.WORD.value!="") && (frm.DESCRIPTION.value!=""))
    	{
		frm.actionName.value=field.name;
		frm.submit();
	}
	else
    	{
     		alert("Please Fill All The Mandatory(*) Fields!!");
    	}
	editor.setMode("wysiwyg");
  }
</SCRIPT>  
