#*
 * @(#)FAQ_Ques.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 22-11-2010, 07-12-2010
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("FAQ")
$page.setBgColor("bgcolor")
## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which
## was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<table bgcolor="$ui.menuColor" width=100%>
##link for faq with modes(add,delete,alllist and edit)
<tr><td><b>
	<font face="$ui.sansSerifFonts">
	<a href=$link.setPage("Index.vm")>$brih_home</a>|
	#if($mode=="alllist")
	$brih_FAQ
	#end
	#if($mode=="add")
	<a href=$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("mode","alllist")>$brih_FAQ</a> | #if($lang =="hindi" || $lang == "gujarati" || $lang == "marathi") $brih_cat $brih_add #else $brih_add $brih_cat #end
	#end
	#if($mode=="delete")
	<a href=$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("mode","alllist")>$brih_FAQ</a> | #if($lang =="hindi" || $lang == "gujarati" || $lang == "marathi") $brih_cat $brih_delete #else $brih_delete $brih_cat #end
	#end
	#if($mode=="edit")
	<a href=$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("mode","alllist")>$brih_FAQ</a> |  #if($lang =="hindi" || $lang == "gujarati" || $lang == "marathi" ) $brih_cat $brih_Of1 $brih_edit #else $brih_edit $brih_cat #end
	#end
	</font>
</b></td>
##index of paginations
<td align=right>
                #if( $total_size!=0 )
                        #if( $endIndex < $total_size )
                                #if( $endIndex < $userConf )
	                                #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                                #elseif($k == $j)
                	                ##[$k - $total_size] of $total_size
        	                        #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                                #else
	                                ##[$k - $endIndex] of $total_size
					#if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $endIndex] #else [$k - $endIndex] $brih_of $total_size #end
                                #end
                        #else
                        	##[$k - $total_size] of $total_size
      	                        #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                        #end
                #end
        </td>

</tr>
</table>
## Creating the links for help regarding FAQ 
<table width="100%">
<tr>
                <td align=right>
                <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/FAQAdmin.html","newWin"); style=text-decoration:none>$brih_help</a></td>
</tr>
</table>
##creating form for FAQ
<form name="frm" method="post" action=$link.setPage("call,FAQ,FAQ_Ques.vm").setAction("FAQ").addPathInfo("mode1","alllist")>
## Adding links for  add category,showing list of Faq category and delte category
<table width="100%" bgcolor="$ui.tableColor">
	#if($mode=="alllist")
		<tr bgcolor="$ui.tableColor">
			#if($tdcolor != "1")
                        <td width=30%>
                        #elseif($tdcolor == "1")
			<td width="30" bgcolor="#AFDCEC">
			#end
			<b><I><style=text-decoration:none>$brih_FAQ #if($lang =="hindi" || $lang == "gujarati" ) $brih_Of #end $brih_cat $brih_list</I></b></a></td>
			#if($tdcolor != "2")
                        <td width=30%>
                        #elseif($tdcolor == "2")
			<td width="30" bgcolor="#AFDCEC">
			#end
			<b><I><a href=$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("mode","add").addPathInfo("count","2") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati" ||  $lang == "marathi" ) $brih_cat $brih_add #else $brih_add $brih_cat #end </I></b></a></td>
			#if($tdcolor != "3")
                        <td width=30%>
                        #elseif($tdcolor == "3")
			<td width="30" bgcolor="#AFDCEC">
			#end
			<b><I><a href=$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("mode","delete").addPathInfo("deltype","delcat").addPathInfo("count","3") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati" ) $brih_cat $brih_delete #else $brih_delete $brih_cat #end</I></b></a></td>
		</tr>
	#end
</table>
<table width="100%" bgcolor="$ui.tableColor">
	#if($mode=="edit")
		<tr bgcolor="$ui.menuColor" width="100%"><td align="left" width="100%" colspan="5"><b><i> #if($lang =="hindi" || $lang == "gujarati" ) $brih_cat $brih_Of1 $brih_edit #else $brih_edit $brih_cat #end :<font size="3"> $category</font><b></i></td></tr>
	#end
	#if($mode=="add")
		<tr bgcolor="$ui.menuColor" width="100%"><td align="left" width="100%" colspan="5"><b><i> #if($lang =="hindi" || $lang == "gujarati" ) $brih_cat $brih_add #else $brih_add $brih_cat #end <b></i></td></tr>
			<tr bgcolor="$ui.tableColor" width="100%">
				<td align="left" width="100%">
				<b>$brih_Exist $brih_cat #if($lang == "hindi") $brih_Of #end $brih_list</b>
       				</td>
				<td>
                       			<select class="drop" name="categoryname" size="1"  onFocus=changeTopic(document.frm) onChange=changeTopic(document.frm)>
                       			<option></option>
                       			#foreach($catlist in $entry)
                       				<option value="$catlist">$catlist
                       			#end
                       				</option>
                       			</select>
                      		</td>
			</tr>
	#end
	#if($mode=="edit"||$mode=="add")
		<tr bgcolor="$ui.menuColor">
               		<td><b><font color=red>*</font>$brih_cat #if($lang == "hindi") $brih_Of1 #end $brih_name:</b></td>
               		<td><input type="text" size="50" name="catname" onFocus=checkRadio()></td>
               	</tr>
	#end
</table>
<table width="100%" bgcolor="$ui.tableColor">
	 ##<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5">
	#if($mode=="alllist" ||$mode=="delete")
		#if($status == "Noblank")
			<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5"><b>$brih_frequently #if($lang =="hindi" || $lang == "gujarati" ) $brih_asked1 $brih_qus2 $brih_Of #else $brih_asked $brih_qus2  #end $brih_category</b>
		#end
	##</td></tr>
</table>
## this part for showing list of category with the edit category link
	<table width="100%" bgcolor="$ui.tableColor">
		#if($mode=="delete" && $status!="blank")
			<tr bgcolor="$ui.menuColor" width="100%">
				<td width="100%" colspan="5"><input type="CHECKBOX" name="checkAll" onClick="selectAll(this);">
               				<b>$brih_selAll </b>
                		</td>
		#end
		#set ( $count="" )
                	#foreach($catlist in $entry)
				#if($velocityCount%2==0)
                		<tr bgcolor="$ui.menuColor">
                		#else
                		<tr bgcolor="$ui.tableColor">
				#end
				#if($mode=="delete")
					<td>
                       				<input type=checkbox name="$!catlist" onClick="addDeleteList(this,document.frm);">
						<a href="$link.setPage("call,FAQ,FAQ.vm").addPathInfo("category",$catlist).addPathInfo("mode","alllist")" style=text-decoration:none>$catlist</a>
					</td>
				#else
					<td><a href="$link.setPage("call,FAQ,FAQ.vm").addPathInfo("category",$catlist).addPathInfo("mode","alllist")" style=text-decoration:none>$catlist</a></td>
					<td><a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("category",$catlist).addPathInfo("mode","edit")"style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati" || $lang == "marathi" ) $brih_cat $brih_Of1 $brih_edit #else $brih_edit $brih_cat #end </a></td>
				#end
                		</tr>
		#set ( $count= "$count$!catlist^")
                	#end
		</tr>
        #end
	#if($status == "blank" && $mode!="add")
                        <tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5" align="center"><b><font size="3">$brih_frequently #if($lang =="hindi" || $lang == "gujarati" ) $brih_asked $brih_qus2 $brih_Of #else $brih_asked $brih_qus2 #end $brih_category $brih_arenotexists.</font></b>
        #end
</table>
<table width="100%" bgcolor="$ui.tableColor">
	#if($mode!="alllist")
        	<tr bgcolor="$ui.tableColor" width="100%"><td align="left" width="100%" colspan="5">
			#if($mode=="add")
			<input type="button" class="button-ftextstyle" name="eventSubmit_doSaveFaq" value="$WikiSave" onClick="validate(document.frm,this);"/>
			#end
			#if($mode=="edit")
			<input type="button" class="button-ftextstyle" name="eventSubmit_doSaveFaq" value="$brih_edit" onClick="checkField(document.frm,this);"/>
			#end
			#if($mode=="delete" && $status!="blank")
			<input type="button" class="button-ftextstyle" name="eventSubmit_doDeleteQues" value="$brih_delete" onClick="deleteConfirm(document.frm,this);"/>
			#end
		</td></tr>
	#end
</table>
## this part for pagination with the link first,previous,next and last 
<table width="100%" bgcolor="$ui.tableColor">
	#if($mode=="alllist" && $mode!="add" && $mode!="edit" && $status!="blank")
		<tr bgcolor="$ui.menuColor"><td colspan="5">
                	#if($total_size <= $userConf)
                        <img src="$content.getURI("images/First_blank.png")">
	                <img src="$content.getURI("images/Next_blank.png")">
        	        <img src="$content.getURI("images/Previous_blank.png")">
                	<img src="$content.getURI("images/Last_blank.png")">

			#elseif($startIndex == $userConf_string)
                        <img src="$content.getURI("images/First_blank.png")">
                        <img src="$content.getURI("images/Previous_blank.png")">
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode)"><img src="$content.getURI("images/Next.png")"></a>
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode)"><img src="$content.getURI("images/Last.png")"></a>
                        #elseif($endIndex == $total_size || $endIndex > $total_size)
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode)"><img src="$content.getURI("images/First.png")"></a>
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode)"><img src="$content.getURI("images/Previous.png")"></a> &nbsp;
                        <img src="$content.getURI("images/Next_blank.png")">
                        <img src="$content.getURI("images/Last_blank.png")">
                        #else
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode)"><img src="$content.getURI("images/First.png")"></a>
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode)"><img src="$content.getURI("images/Previous.png")"></a>
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode",$mode)"><img src="$content.getURI("images/Next.png")"></a>
                        <a href="$link.setPage("call,FAQ,FAQ_Ques.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode)"><img src="$content.getURI("images/Last.png")"></a>
                        #end
                </td></tr>
        #end
</table>
	<input type="hidden" name="actionName">
	<input type="hidden" name="categoryval" value="$categoryval">
	<input type="hidden" name="mode" value="$mode">
	<input type="hidden" name="mode1" value="$mode1">
	<input type="hidden" name="deltype" value="$deltype">
	<input type="hidden" name="catname" value="$catname">
	<input type="hidden" name="category" value="$category">
	<input type="hidden" name="deleteFileNames" value="">
</form>
<SCRIPT LANGUAGE="javascript">
function checkField(frm,field)
{
        if(frm.catname.value!="")
        {
		frm.actionName.value=field.name;
                frm.submit();
        }
        else
                alert("Please fill the Mandatory(*) Fields !!");
}
function changeTopic(frm)
{
	if(frm.topicExisting[0].checked)
        {
        	frm.catname.value=frm.categoryname.options[frm.categoryname.selectedIndex].text;
        }
        else
        {
        	frm.catname.focus();
        }
}
function validate(frm,field)
{
	var tList=frm.categoryname;
        var cTopic=frm.catname;
        if(frm.catname.value!="")
        {
        	var totNamedEntries=frm.categoryname.length;
                for(i=1;i<totNamedEntries;i++)
                {
                	if(tList.options[i].text==cTopic.value)
                        {
                        	if(frm.topicExisting[1].checked)
                                {
                                	if(confirm("The topic already exists. Pressing OK will put the file/s in existing Topic"))
                                        {
                                                frm.actionName.value=field.name;
                                                frm.submit();
                                        }
                                        else
                                        {
                                        	return;
                                        }
                                }
                        }
                }
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
        {
        	alert("Topic Name Can not Empty !!");
        }
}
 function deleteConfirm(frm,field)
        {
                var delfiles;
                delfiles=frm.deleteFileNames.value;
                if(delfiles.length!=0)
                {
                        if(confirm("Selected Category will be Deleted"))
                        {
                                frm.actionName.value=field.name;
                                frm.submit();
                        }

                }
                else
                alert("Please Select check box  !!");
        }
        function addDeleteList(field,frm)
        {
                if(field.checked)
                {
                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                }
                else
                {
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }

        }
        function selectAll(field)
        {
                if(field.checked)
                {
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$count";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=true;
                        }
                }
                else
                {
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$count";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=false;
                        }
                        document.frm.deleteFileNames.value="";
                }
        }
function popupWin(url,popupName)
{
        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}
</script>
