#*
 * @(#)MakeGraph.vm
 * Copyright (c) 2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 *  @author <a href="mailto:smita37uiet@gmail.com">Smita Pal</a>
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$!data.getMessage()
<html>
	<head>
		
		 <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	        <script type="text/javascript" src="/brihaspati2/scrpts/dygraph-dev.js"></script>
		##<script type="text/javascript" src="/brihaspati2/scrpts/CommonScripts/CommonScript.js")"></script>
	</head>
#if($valuestr!=" ")
	<body onload="graph()">
#else
	<body>
#end
	<table bgcolor="$ui.menuColor" width=100%>
		<tr>
			<td><b>
			<font face="$ui.sansSerifFonts">
			<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
       			<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$coursename </a> |
			 <a href=$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("count","1") style=text-decoration:none>$Repo_browser $brih_statistics</a>
			</td>
	      </tr>
	</table>
	<form name="frm" method="post">
	#if($userList1.size()!=0)
	<table width="100%">
		<tr bgcolor="$ui.tableColor">
			<td colspan="1">
	         	$brih_select $brih_usrName
			<select name="uname1" id="u1" size="1" onChange="Changename(document.frm,this);"/>
			#if($usrname!="")
                        	<option>$usrname </option>
                        #else
                        	<option>  - $brih_usrName - </option>
                        #end
			#if($data.getUser().getTemp("role")=="instructor")
				#foreach($usrnamelist in $userList1)
					#if($usrname!=$usrnamelist)
			
				<option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrnamelist)">$usrnamelist
	                                #end
                                </option>
			  	#end
			  #end
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	#if($userList2.size()!=0)
		#if(($type=="sgraph") && ($usrname!=""))
			$brih_select $brih_module $brih_name
			<select name="uname2" id="u2" size="1" onChange="Changename(document.frm,this);"/>
			#if($mname!="")
                        	<option>$mname </option>
                        #else
                        	<option>  - $brih_module $brih_name - </option>
                        #end

                        #foreach($mnamelist in $userList2)
				#if($mname!=$mnamelist)
                        	<option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("mname",$mnamelist)">$mnamelist
				</option>
				#end
			#end
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		#end
			
	#end
	#if($userList2.size()!=0)	
		#if(($type=="sgraph") && ($mname!="") && ($usrname!=""))
			$brih_select $brih_days	
                        <select name="uname3" id="u3" size="1" onChange="Changename(document.frm,this);"/>
                        #if($value!="")
                        	<option>$value </option>
                        #else
                        	<option> - $brih_days$brih_value - </option>
                        #end
			#if($value!="7")
                                <option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("mname",$mname).addPathInfo("value","7")">7 </option>
			#end
			#if($value!="15")
                                <option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("mname",$mname).addPathInfo("value","15")">15</option>
			#end
			#if($value!="30")
                                <option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("mname",$mname).addPathInfo("value","30")">30</option>
			#end
                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		#end
		#else
		#if(($type=="sgraph") && ($usrname!=""))
                        $brih_select $brih_days
                        <select name="uname3" id="u3" size="1" onChange="Changename(document.frm,this);"/>
                        #if($value!="")
                       		<option>$value </option>
                        #else
                        	<option>  - $brih_days$brih_value - </option>
                        #end
			#if($value!="7")
                                <option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("value","7")">7 </option>
			#end
			#if($value!="15")
                                <option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("value","15")">15</option>
			#end
			#if($value!="30")
                                <option value="$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("type","sgraph").addPathInfo("usrname",$usrname).addPathInfo("value","30")">30</option>
			#end
                        </select>
                #end
	#end
              </tr>
       		#if($valuestr!="")
			<tr bgcolor="$ui.menuColor"><td colspan="1"><div id="graphdiv1"></td></div></tr>
		#end
		#if($Modulevaluestr!="")
			<tr bgcolor="$ui.menuColor"><td colspan="1"><div id="graphdiv2"></td></div></tr>
		#end
	</table>
	#end
		<input type="hidden" name="valdir">
		<input type="hidden" name="mname" value="$mname">
		<input type="hidden" name="valuestr" value="$valuestr">
		<input type="hidden" name="Modulevaluestr" value="$Modulevaluestr">
	</frm>
	##</table>
	</body>
</html>
<SCRIPT LANGUAGE="javascript">
function Changename(frm,field)
        {
		
		if(document.getElementById=="u1"){
		    frm.valdir.value=document.frm.uname1.value;
		
		}else if(document.getElementById=="u2"){
		
		frm.valdir.value=document.frm.uname2.value;
		}
		else if(document.getElementById=="u3"){
		
		frm.valdir.value=document.frm.uname3.value;
		}
                window.location = field.value;

        }

	function graph(){
        var e=document.frm.valuestr.value;
	var e1=document.frm.Modulevaluestr.value;
        g1 = new Dygraph(document.getElementById("graphdiv1"),
                      e,{
                  title:'CourseUsageTime',
                  ylabel: 'Time in Minutes',
                  xlabel:'Date',
                  labelsDivStyles: { 'textAlign': 'right' }
                 });
	g2 = new Dygraph(document.getElementById("graphdiv2"),
                      e1,{
                  title:'ModuleUsageTime',
                  ylabel: 'Time in Minutes',
                  xlabel:'Date',
                  labelsDivStyles: { 'textAlign': 'right' }
                 });
	}

</SCRIPT>
