.htmlarea { background: #fff; border:1px solid #9a9a9a; }

.htmlarea .toolbar {
	cursor: default;
	background: ButtonFace;
	padding: 1px 1px 2px 1px;
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.htmlarea .toolbar table { font-family: tahoma,verdana,sans-serif; font-size: 11px; }
.htmlarea .toolbar img { border: none; }
.htmlarea .toolbar .label { padding: 0px 3px; }

.htmlarea .toolbar .button {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0px;
	width: 18px;
	height: 18px;
}
.htmlarea .toolbar .buttonHover {
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.htmlarea .toolbar .buttonActive, .htmlarea .toolbar .buttonPressed {
	padding: 2px 0px 0px 2px;
	border: 1px solid;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
.htmlarea .toolbar .buttonPressed {
	background: ButtonHighlight;
}
.htmlarea .toolbar .indicator {
	padding: 0px 3px;
	overflow: hidden;
	width: 20px;
	text-align: center;
	cursor: default;
	border: 1px solid ButtonShadow;
}

.htmlarea .toolbar .buttonDisabled img {
	filter: alpha(opacity = 25);
	-moz-opacity: 0.25;
}

.htmlarea .toolbar .separator {
	position: relative;
	margin: 3px;
	border-left: 1px solid ButtonShadow;
	border-right: 1px solid ButtonHighlight;
	width: 0px;
	height: 16px;
	padding: 0px;
}

.htmlarea .toolbar .space { width: 5px; }

.htmlarea .toolbar select { font: 11px Tahoma,Verdana,sans-serif; }

.htmlarea .toolbar select,
.htmlarea .toolbar select:hover,
.htmlarea .toolbar select:active { background: FieldFace; color: ButtonText; }

.htmlarea .statusBar {
	border: 1px solid;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	padding: 2px 4px;
	background-color: ButtonFace;
color: ButtonText;
	font: 11px Tahoma,Verdana,sans-serif;
}

.htmlarea .statusBar .statusBarTree a {
	padding: 2px 5px;
	color: #00f;
}

.htmlarea .statusBar .statusBarTree a:visited { color: #00f; }
.htmlarea .statusBar .statusBarTree a:hover {
	background-color: Highlight;
	color: HighlightText;
	padding: 1px 4px;
	border: 1px solid HighlightText;
}

/* Hidden DIV popup dialogs (PopupDiv) */
.dialog {
	color: ButtonText;
	background: ButtonFace;
}

.dialog .content { padding: 2px; }

.dialog, .dialog button, .dialog input, .dialog select, .dialog textarea, .dialog table {
	font: 11px Tahoma,Verdana,sans-serif;
}

.dialog table { border-collapse: collapse; }

.dialog .title {
	background: #008;
	color: #ff8;
	border-bottom: 1px solid #000;
	padding: 1px 0px 2px 5px;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
}

.dialog .title .button {
	float: right;
	border: 1px solid #66a;
	padding: 0px 1px 0px 2px;
	margin-right: 1px;
	color: #fff;
	text-align: center;
}

.dialog .title .button-hilite { border-color: #88f; background: #44c; }

.dialog button {
	width: 5em;
	padding: 0px;
}

.dialog .buttonColor {
	padding: 1px;
	cursor: default;
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.dialog .buttonColor-hilite {
	border-color: #000;
}

.dialog .buttonColor .chooser, .dialog .buttonColor .nocolor {
	height: 0.6em;
	border: 1px solid;
	padding: 0px 1em;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.dialog .buttonColor .nocolor { padding: 0px; }
.dialog .buttonColor .nocolor-hilite { background-color: #fff; color: #f00; }

.dialog .label { text-align: right; width: 6em; }
.dialog .value input { width: 100%; }
.dialog .buttons { text-align: right; padding: 2px 4px 0px 4px; }

.dialog legend { font-weight: bold; }
.dialog fieldset table { margin: 2px 0px; }

.popupdiv {
	border: 2px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.popupwin {
	padding: 0px;
	margin: 0px;
}

.popupwin .title {
	background: #fff;
	color: #000;
	font-weight: bold;
	font-size: 120%;
	padding: 3px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	letter-spacing: 2px;
}

form { margin: 0px; border: none; }
/*
This css is called for new GUI of Brihaspati
*/

.news {    font: bold 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); width:300px; height:237px;   }

.news:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}

.session {    font: bold 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); width:300px; height:220px;   }

.session:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}
.urdu_news {    font: bold 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); width:350px; height:400px;   }
.urdu_news:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}

.desc { font: 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); width:390px; height:458px;   }

.desc:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}

.urdu_desc {    font: bold 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); width:390px; height:400px;   }

.urdu_desc:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}

.login {    font: bold 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); width:390px; height:400px;   }

.login:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}

.main {    font: bold 15px Helvetica, Arial, sans-serif; -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s; border: solid 1px #d1d1d1;   -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}

.main:hover {border:1px solid#d1d1d1;   border-color: #f3f3f3;}

.img {height:55px; width:55px; border-radius:10px;}
.img:hover {height:53px; width:53px; border:1px solid #ccc; -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.9); box-shadow:5px 5px 5px rgba(0, 0, 0, 0.9); -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.9);}

.imge {height:55px; width:55px; border-radius:10px;}
.imge:hover {height:53px; width:53px; border:1px solid #ccc; -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.9); box-shadow:5px 5px 5px rgba(0, 0, 0, 0.9); -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.9);}
.scroll{
	width:910px;
	overflow-x:scroll;
}
.indexscroll{
        width:830px;
        overflow-x:scroll;
}

.indexhomescroll{
        width:790px;
        overflow-x:scroll;
}

.dt:hover {
color:#fff;
background:#CCCC99;
}

.browse{
        background-color:#bddbfa;
}

.viwlink:hover {
color:#222;
background:#CCCC99;
}

.container {
font-size:12px;	display:none; font-family: 'Alegreya SC', Georgia, serif; font-weight: 400; font-style:normal;	margin:75px 0px auto; overflowi-x:auto; width:330px; height:410px ; border: 10px solid #fff; background: rgba(255,255,255,0.7);	border-radius: 5px;	box-shadow: 1px 1px 1px 4px rgba(0,0,0,0.4);	-webkit-transition: all 0.3s ease-in-out;	-moz-transition: all 0.3s ease-in-out;	-o-transition: all 0.3s ease-in-out;	-ms-transition: all 0.3s ease-in-out;	transition: all 0.3s ease-in-out;	padding:8px;	z-index:300;	position:absolute;	
}

.tweet_header {
width:310px; padding-top:3px; padding-bottom:3px; margin-top:20px; position:absolute; text-align:center; font-weight:bold;
}
.link{
	color:#0000FF;
}
.link:hover {
	color:#990033;
}


.bgd {
 background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.button-ftextstyle {background-color:#4D90FE;border:1px solid #FBC43C;border-radius:4px;padding:8px;font-size:13px;font-family:Arial;font-weight:bold;color:#fff;white-space:nowrap;text-align:center}

.drop {background-color:#4D90FE;border:1px solid #FBC43C;border-radius:4px;padding:8px;font-size:13px;font-family:Arial;font-weight:bold;color:#fff;white-space:nowrap;}
.input_button {width:300px;background-color:#4D90FE;border:1px solid #FBC43C;border-radius:4px;padding:8px;font-size:13px;font-family:Arial;font-weight:bold;color:#fff;white-space:nowrap;text-align:center}
.lgbtn { margin-right:100px;background-color:#4D90FE;border:1px solid #FBC43C;border-radius:4px;padding:8px;font-size:13px;font-family:Arial;font-weight:bold;color:#fff;white-space:nowrap;text-align:center}
.lgbt { margin-left:100px;text-align:center;padding-right:15px}
.tp { margin-top:-20px;}
.example { margin-left:110px;text-align:left}
.spce {margin-left:20px;text-align:left}
.scrl {width: 292px; height: 110px; overflow-y: scroll }
