#* * @(#)AdminParam.vm
 * Copyright (c) 2005,2009,2012,2013  ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author <a href="mailto:awadhk_t@yahoo.com">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:sisaudiya.dewan17@gmail.com">Dewanshu singh sisaudiya</a>
 * modified date: 17-10-2009, 29-09-2010
 * @modified date: 22-11-2010, 15-02-2011
 * modified date: 01-01-2013, 15-03-2013 
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | Change Parameters")

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
#macro(option1)
        <option value=+>+</option>
        <option value=0>0</option>
#end
#macro(option2)
        <option value=0>0</option>
        <option value=+>+</option>
#end

<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor" align="right">
	<td colspan="2">
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_Of1 $brih_home</a> |$brih_ap
	</td>
</tr>
<form name="frm" method="post" action="$link.setPage("call,AdminProfile,AdminParam.vm").setAction("changeAParam")">
    <tr align="right">
	<td align="left"> <a href=javascript:popupWin("/brihaspati2/docs/Profile.html","newWin");>$brih_help</a> <img src="$content.getURI("/images/Lefthand.gif")"> </td>
	<td><font size=4> $brih_ap </font></td>
   </tr>
    <tr bgcolor="$ui.menuColor" align="right">
	<td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AFName" value="$!afname"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_first $brih_name </font></td> 
    </tr>
    <tr bgcolor="$ui.tableColor" align="right">
	<td width="50"> <font face="$ui.sansSerifFonts"><input type="text" size="30" name="ALName" value="$!alname"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_last $brih_name </td>   
    </tr>
    <tr bgcolor="$ui.menuColor" align="right">
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminConf" value="$!AdminConf"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_lcv </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor" align="right">
      ##formCell("Course Expiry Time(in days)" "AdminCrsExp" "$!CrsExp")	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminCrsExp" value="$!CrsExp"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_course $brih_expiry </font></td>	
    </tr>
	 <tr bgcolor="$ui.menuColor" align="right">
        ##formCell("Password Expiry Time(in days)" "AdminPassExp" "$!PassExp")        
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminPassExp" value="$!PassExp"> </font></td>
        <td width="30"> <font face="$ui.sansSerifFonts"> $brih_pwd $brih_expiry </font></td>
	</tr>
    <tr bgcolor="$ui.tableColor" align="right">
      ##formCell("Mail Server Name" "mailServ" "$!mServer")	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServ" value="$!mServer"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $LocalMail_mail $brih_server $brih_Of1 $brih_name </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor" align="right">
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServPort" value="$!mServerPort"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $LocalMail_mail $brih_server $brih_Of1 $brih_port </font></td>
    </tr>

    <tr bgcolor="$ui.tableColor" align="right">
      ##formCell("Mail From" "mailFrom" "$!mFrom")	
        <td width="50"> <font face="$ui.sansSerifFonts">  <input type="text" size="30" name="mailFrom" value="$!mFrom"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_from  $LocalMail_mail </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor" align="right">
      ##formCell("$RemoteLocal Domain $brih_name" "mailDomain" "$!dName")	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailDomain" value="$!dName"> </font> </td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $RemoteLocal $brih_domain $brih_Of1 $brih_name </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor" align="right">
      ##formCell("Mail $brih_usr $brih_name" "muName" "$!muname")	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="muName" value="$!muname"> </font> </td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $LocalMail_mail $brih_Of2 $brih_usr $brih_Of1 $brih_name </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor" align="right">
      ##formPasswordCell("Mail $brih_pwd" "mPass" "$!mPassword")	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="password" size="30" name="mPass" value="$!mPassword"> </font></td>
	<td width="30"> <font face="$ui.sansSerifFonts"> $LocalMail_mail $brih_Of1 $brih_pwd </font></td>	
    </tr>
	## formEmailCell("admin email")
   <tr bgcolor="$ui.tableColor" align="right">
        <td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="eMail" value="$!eMail"></font></td>
        <td width=30><font face="$ui.sansSerifFonts"> $brih_ad $brih_Of1 $brih_email  </td>             
   </tr>
   <tr bgcolor="$ui.menuColor" align="right">
        <td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="iquota" value="$!iquota"></font></td>
        <td width=30><font face="$ui.sansSerifFonts">( $RemoteInstitute $brih_Of1 $brih_quota ($brih_qsizegb</td>
    </tr>
    <tr bgcolor="$ui.tableColor" align="right">
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="cquota" value="$!cquota"></font></td>
	<td width=30><font face="$ui.sansSerifFonts">($brih_course $brih_Of1 $brih_quota ($quota_sze $brih_in </td>	
    </tr>
    <tr bgcolor="$ui.menuColor" align="right">
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="uquota" value="$!uquota"></font></td>
	<td width=30><font face="$ui.sansSerifFonts">($brih_usr $brih_Of1 $brih_quota ($quota_sze $brih_in</td>	
   </tr>
##--------------------------------------FAQ---------------------
    <tr bgcolor="$ui.tableColor" align="right">
        <td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminFaqExp" value="$!FaqExp"></font></td>
        <td width=30><font face="$ui.sansSerifFonts">$brih_Faq $brih_Of $brih_expiry</td>
    </tr>
##--------------------------------------FAQ---------------------
   <tr bgcolor="$ui.menuColor" align="right">
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="hdir" value="$!hdir"></font></td>
	<td width=30><font face="$ui.sansSerifFonts">$brih_home $brih_dir </td>	
   </tr>
   <tr bgcolor="$ui.tableColor" align="right">
	<td><font face="$ui.sansSerifFonts"> <input type="text" name="upldsze" size="30" value="$!upldsze"></font></td>
	<td><font face="$ui.sansSerifFonts">$brih_file $brih_insert1 $brih_Of1 $brih_size $quota_sze $brih_in</td>	
   </tr>
##--------------------------------------Tweet expiry---------------------
	<tr bgcolor="$ui.menuColor" align="right">
        <td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="TweetExp" value="$!twtexp"></font></td>
        <td width="30"><font face="$ui.sansSerifFonts">$brih_twitter $brih_Of $brih_expiry</td>
    </tr>
##---------------------------------------------------------------------------  
	<tr"$ui.tableColor" align="right">
		 <td align="right">

			#if($!offradio=="3")
                        	<input type="radio" name="Offdirectory" value="$private" checked />$private
                                <input type="radio" name="Offdirectory" value="$protected"/>$protected
                                <input type="radio" name="Offdirectory" value="$public"/>$public
			#elseif($!offradio=="2")
                        	<input type="radio" name="Offdirectory" value="$private"/>$private
                                <input type="radio" name="Offdirectory" value="$protected" checked />$protected
                                <input type="radio" name="Offdirectory" value="$public"/>$public
			#else
                        	<input type="radio" name="Offdirectory" value="$private"/>$private
                                <input type="radio" name="Offdirectory" value="$protected"/>$protected
                                <input type="radio" name="Offdirectory" value="$public" checked />$public
			#end
                        <input title="Number (Maximum limit 10 digit)" type="text" name="Offphnumber" value="$!offphone" maxlength="10" onkeypress="return isNumberKey(event)" id="Offphnumber" onclick="remove(name)">
                        <input title="State code (Maximum limit 5 digit)" type="text" name="Offrcode" value="$!offrcode" maxlength="5" size="5" onkeypress="return isNumberKey(event)" id="Offrcode" onclick="remove(name)">
                        <input title="Country code (Maximum limit 4 digit)" type="text" name="Offccode" value="$!offccode" maxlength="4" size="4" onkeypress="return isNumberKey(event)" id="Offccode" onclick="remove(name)">
                        <select name="Offprefix" class="drop">
                        	#if($!offprefix=="+")
                                	#option1()
                                #else
	                                #option2()
                                #end
        		</select>
                        </td>
                        <td align="right">$brih_officeno</td>

	</tr>
 <tr bgcolor="$ui.menuColor" align="right">
                                <td>
                                #if($!mobradio=="3")
                                        <input type="radio" name="Mobdirectory" value="$private" checked />$private
                                        <input type="radio" name="Mobdirectory" value="$protected"/>$protected
                                        <input type="radio" name="Mobdirectory" value="$public"/>$public
                                #elseif($!mobradio=="2")
                                        <input type="radio" name="Mobdirectory" value="$private"/>$private
                                        <input type="radio" name="Mobdirectory" value="$protected" checked/>$protected
                                        <input type="radio" name="Mobdirectory" value="$public"/>$public
                                #else
                                        <input type="radio" name="Mobdirectory" value="$private"/>$private
                                        <input type="radio" name="Mobdirectory" value="$protected"/>$protected
                                        <input type="radio" name="Mobdirectory" value="$public" checked />$public
                                #end
                                <input title="Number (Maximum limit 10 digit)" type="text" name="Mobphnumber" value="$!mobphone" maxlength="10" onkeypress="return isNumberKey(event)" id="Mobphnumber" onclick="remove(name)">
                                <input title="State code (Maximum limit 5 digit)" type="text" name="Mobrcode" value="$!mobrcode" maxlength="5" size="5" onkeypress="return isNumberKey(event)" id="Mobrcode" onclick="remove(name)">
                                <input title="Country code (Maximum limit 4 digit)" type="text" name="Mobccode" value="$!mobccode" maxlength="4" size="4" onkeypress="return isNumberKey(event)" id="Mobccode" onclick="remove(name)">
                                <select name="Mobprefix" class="drop">
                                        #if($!mobprefix=="+")
                                                #option1()
                                        #else   
                                                #option2()
                                        #end
                                </select>
                                </td>
                                <td>$brih_mobileno</td>
                        </tr>
 <tr align="right">
                                <td>
                                #if($!homeradio=="3")
                                        <input type="radio" name="Homedirectory" value="$private" checked />$private
                                        <input type="radio" name="Homedirectory" value="$protected"/>$protected
                                        <input type="radio" name="Homedirectory" value="$public"/>$public
                                #elseif($!homeradio=="2")
                                        <input type="radio" name="Homedirectory" value="$private"/>$private
                                        <input type="radio" name="Homedirectory" value="$protected" checked />$protected
                                        <input type="radio" name="Homedirectory" value="$public"/>$public
                                #else
                                        <input type="radio" name="Homedirectory" value="$private"/>$private
                                        <input type="radio" name="Homedirectory" value="$protected"/>$protected
                                        <input type="radio" name="Homedirectory" value="$public" checked />$public
                                #end
                                <input title="Number (Maximum limit 10 digit)" type="text" name="Homephnumber" value="$!homephone" maxlength="10" onkeypress="return isNumberKey(event)" id="Homephnumber" onclick="remove(name)">
                                <input title="State code (Maximum limit 5 digit)" type="text" name="Homercode" value="$!homercode" maxlength="5" size="5" onkeypress="return isNumberKey(event)" id="Homercode" onclick="remove(name)">
                                <input title="Country code (Maximum limit 4 digit)" type="text" name="Homeccode" value="$!homeccode" maxlength="4" size="4" onkeypress="return isNumberKey(event)" id="Homeccode" onclick="remove(name)">
                                <select name="Homeprefix" class="drop">
                                        #if($!homeprefix=="+")
                                                #option1()
                                        #else
                                                #option2()
                                        #end
                                </select>
                                </td>
                                <td>$brih_homeno</td>
                        </tr>
 <tr bgcolor="$ui.menuColor" align="right">
                                <td>
                                #if($!othradio=="3")
                                        <input type="radio" name="Othdirectory" value="$private" checked />$private
                                        <input type="radio" name="Othdirectory" value="$protected"/>$protected
                                        <input type="radio" name="Othdirectory" value="$public"/>$public
                                #elseif($!othradio=="2")
                                        <input type="radio" name="Othdirectory" value="$private"/>$private
                                        <input type="radio" name="Othdirectory" value="$protected" checked />$protected
                                        <input type="radio" name="Othdirectory" value="$public"/>$public
                                #else
                                        <input type="radio" name="Othdirectory" value="$private"/>$private
                                        <input type="radio" name="Othdirectory" value="$protected"/>$protected
                                        <input type="radio" name="Othdirectory" value="$public" checked />$public
                                #end
                                <input title="Number (Maximum limit 10 digit)" type="text" name="Othphnumber" value="$!othphone" maxlength="10" onkeypress="return isNumberKey(event)" id="Othphnumber" onclick="remove(name)">
                                <input title="State code (Maximum limit 5 digit)" type="text" name="Othrcode" value="$!othrcode" maxlength="5" size="5" onkeypress="return isNumberKey(event)" id="Othrcode" onclick="remove(name)">
                                <input title="Country code (Maximum limit 4 digit)" type="text" name="Othccode" value="$!othccode" maxlength="4" size="4" onkeypress="return isNumberKey(event)" id="Othccode" onclick="remove(name)">
                                <select name="Othprefix" class="drop">
                                        #if($!othprefix=="+")
                                                #option1()
                                        #else
                                                #option2()
                                        #end
                                </select>
                                </td>
                                <td>$brih_otherno</td>
                        </tr>

 
	<tr bgcolor="$ui.menuColor" align="right">
		##formCell("$brih_address" "address" "$!address")
		<td> <input type="txt" name="address" value="$!address"</td>
                <td> $brih_address </td>
	</tr>
	##<tr bgcolor="$ui.menuColor">
	<tr align="right">
##        	#formCell("$Inst_state" "state" "$!state")
		<td> <input type="txt" name="state"  value="$!state" > </td>
                <td> $Inst_state </td>
        </tr>
	<tr bgcolor="$ui.menuColor" align="right">
        	##formCell("$brih_country" "country" "$!country")
		<td> <input type="txt" name="country" value="$!country" > </td>
                <td> $brih_country </td>

        </tr>
	##<tr bgcolor="$ui.menuColor">
	<tr align="right">
        	##formCell("$brih_dept" "department" "$!department")
		<td> <input type="txt" name="department" value="$!department" > </td>
                <td> $brih_dept </td>
        </tr>
        <tr bgcolor="$ui.menuColor" align="right">
##        	#formCell("$Inst_designation" "designation" "$!designation")
		<td> <input type="txt" name="designation"  value="$!designation" > </td>
                <td> $Inst_designation </td>

        </tr>
	##<tr bgcolor="$ui.menuColor">
	<tr align="right">
        <td> <input type="text" id="port" title="Please use port like 80XX" name="port" value="$!port" maxlength="4" onkeypress="return isNumberKey(event)" > </td>
        <td> <font face="$ui.sansSerifFonts">$brih_spring $brih_Of1 $brih_port $brih_number</font> </td>
        </tr>
	<tr bgcolor="$ui.menuColor" align="right">
	<td> 

		#if($dstore == "HDFS")
		<input type="radio" name="datastorage" value="$brih_both"  onClick='javascript:showRow();' /> $brih_both  
	 	<input type="radio" name="datastorage" value="$brih_hdfs"  onClick='javascript:showRow();' checked  /> $brih_hdfs 
		<input type="radio" name="datastorage" value="$brih_local" onClick='javascript:hideRow();' /> $brih_local
		#elseif($dstore == "Both")				
		<input type="radio" name="datastorage" value="$brih_both"  onClick='javascript:showRow();' checked  /> $brih_both  
	 	<input type="radio" name="datastorage" value="$brih_hdfs"  onClick='javascript:showRow();' /> $brih_hdfs 
		<input type="radio" name="datastorage" value="$brih_local" onClick='javascript:hideRow();' /> $brih_local
		#else
		<input type="radio" name="datastorage" value="$brih_both"  onClick='javascript:showRow();' /> $brih_both  
	 	<input type="radio" name="datastorage" value="$brih_hdfs"  onClick='javascript:showRow();'/> $brih_hdfs 
		<input type="radio" name="datastorage" value="$brih_local" onClick='javascript:hideRow();' checked  /> $brih_local
		#end
	</td>
	<td> <font face="$ui.sansSerifFonts">$brih_data $brih_storage $brih_option</font></td>
	</tr>
	<tr id='tabl0' align="right">
                <td> Ex. http://202.141.40.215:50070 <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="hdfsurl" value="$!hdfsurl"> </font> </td>
                <td> <font face="$ui.sansSerifFonts"> $brih_hdfs $brih_server $brih_Of1 $brih_Url </font></td>
       </tr>

	
	<tr align="right">
	<td> 

		#if($authm == "LDAP")
	 	<input type="radio"  name="authmethod" value="$brih_ldap" onClick='javascript:showTable();' checked  /> $brih_ldap 
		<input type="radio"  name="authmethod" value="$brih_local" onClick='javascript:hideTable();'/> $brih_local
		#else
	 	<input type="radio"  name="authmethod" value="$brih_ldap" onClick='javascript:showTable();'/> $brih_ldap
		<input type="radio"  name="authmethod" value="$brih_local" onClick='javascript:hideTable();' checked  /> $brih_local
		#end
	</td>
	<td> <font face="$ui.sansSerifFonts">$brih_auth $brih_option </font></td>
	</tr>
		<tr id='tabl1' align="right">
		<td> Ex. ldap://abc.example.com:389 <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="ldapurl" value="$!ldapurl"> </font> </td>
		<td> <font face="$ui.sansSerifFonts"> $brih_ldap $brih_server $brih_Of1 $brih_Url </font></td>
		</tr>
		<tr id='tabl2' align="right">
		<td> Ex.OU=iit,DC=example,DC=com <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="ldapbase" value="$!ldapbase"> </font> </td>
		<td> <font face="$ui.sansSerifFonts"> $brih_ldap $brih_Of1 $brih_base </font></td>
		</tr>
		<tr id='tabl3' align="right">
		<td> Ex. staff,faculty,student <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="ldapcate" value="$!ldapcate"> </font> </td>
		<td> <font face="$ui.sansSerifFonts"> $brih_ldap $brih_Of1 $brih_cat </font></td>
		</tr>
   ##<tr bgcolor="$ui.menuColor">
     <tr bgcolor="$ui.menuColor" align="right">
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" name="spoolMailResendTime" value="$!spoolingMailResendTime"></font></td>
	<td width=30><font face="$ui.sansSerifFonts">$spoolMailResendTime </font></td>	
   </tr>
   <tr align="right">
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" name="mailSpoolingExpiry" value="$!mailSpoolingExpiry"></font></td>
	<td width=30><font face="$ui.sansSerifFonts">$emailSpooling_expiry </font></td>	
   </tr>
   <tr bgcolor="$ui.menuColor" align="right">
      <td colspan=2 bgcolor="$ui.menuColor">	
	  <input type="hidden" name="actionName"/>
	  <input type="reset" class="button-ftextstyle" name="reset" value="$brih_reset"Click ="checkClear(document.frm,this);"/>
          <input type="button" class="button-ftextstyle" name="eventSubmit_doUpdate" value="$brih_submit" onClick="checkValues(document.frm,this);"/>
	  <input type="hidden" name="count" value="$tdcolor">
      </td>
   </tr>
</form>
</table>

<SCRIPT LANGUAGE="javascript">

function showTable(){
document.getElementById('tabl1').style.display ='table-row';
document.getElementById('tabl2').style.display ='table-row';
document.getElementById('tabl3').style.display ='table-row';
}
function hideTable(){
document.getElementById('tabl1').style.display = 'none';
document.getElementById('tabl2').style.display = 'none';
document.getElementById('tabl3').style.display = 'none';
}

function showRow(){
document.getElementById('tabl0').style.display ='table-row';
}

function hideRow(){
document.getElementById('tabl0').style.display = 'none';
}

function checkValues(frm,field)
{
	if((frm.AFName.value!="") && (frm.ALName.value!="") && (frm.AdminConf.value!="") && (frm.AdminFaqExp.value!="")&& (frm.mailSpoolingExpiry.value !="") && (frm.spoolMailResendTime.value !=""))
        {
		if(frm.AdminConf.value>=1 && frm.AdminConf.value<=100)
		{
			if(isNumberString(frm.AdminCrsExp.value))
                        {
				if(isNumberString(frm.cquota.value))
                        	{
					if(isNumberString(frm.uquota.value))
		                       	{
						if(isNumberString(frm.AdminFaqExp.value))
						{
                                               		frm.actionName.value=field.name;
	                                               	frm.submit();
						}
					}
                        	}
			}
		}	
		else
		{
			alert("List Config. Value should be between 1 to 100");
		}
	}
        else
        {
		alert("None of the fields can be empty !!");
	}
}

function checkClear(frm,field)
{
	frm.AFName.value="";
        frm.ALName.value="";
}
function isNumberString(chString)
{
	if(chString.length==0)
        return false;
        var RefString="0123456789";
        for(count=0;count<chString.length;count++)
        {
        	tempChar=chString.charAt(count);
                	if(RefString.indexOf(tempChar)==-1)
                        {
                                alert("Value should be numeric")
                                return false;
                        }
        }
        return true;
}
function isNumberKey(evt)
        {
                var charCode = (evt.which) ? evt.which : event.keyCode
                   if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

                return true;
        }
function popupWin(url,popupName)
{
        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}
function remove(name)
{
                if(document.getElementById(name).value=="x")
                {
                        document.getElementById(name).value="";
                }
}
</SCRIPT>

