#*
 * @(#)InstituteAdminRegistration.vm 
 * Copyright (c)2010, 2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a> 
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 24-03-2012 (Shaista)
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
$!data.getMessage()
$page.setTitle("Login Page | Institute Admin Registration ")

## Adding the line containing urls after the header image.	
	<table bgcolor="$ui.menuColor" width=100%>
		<tr align="right"><td>
			##<a href=$link.setPage("BrihaspatiLogin.vm")> $brih_login $WikiPage </a>| Institute Admin Registration   
			<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang) > $brih_login $WikiPage </a>| $RemoteInstitute1 $brih_ad $brih_reg   
		</td></tr>
	</table>
## Creating the links for help regarding registration.
	<table align="left" bgcolor="$ui.tableColor" width=100%>
		<tr>
			<td align="left">
        			<font face="$ui.sansSerifFonts" size=3> <a href=javascript:popupWin("/brihaspati2/docs/InstituteAdminRegistration.html","newWin");>$brih_help</a></font>
			<img src="$content.getURI("/images/Lefthand.gif")"> 
			</td>
		</tr>
	</table>
#*
#macro(opt)

        <option value=Govt>$brih_govt</option>
        <option value=SemiGovt2>$brih_semi $brih_govt</option>
        <option value=SF>$brih_sf</option>
        <option value=Other>$brih_other</option>
#end
*#
## Creating the form to collect the information for creation of Instiute account
## alongwith Institute admin information.

	<form name="frm" method="post" action="$link.setPage("InstituteAdminRegistration.vm").addPathInfo("lang",$lang).setAction("InstituteRegistration")">
		<table align=left bgcolor="$ui.tableColor" width="100%">
			<tr bgcolor="$ui.menuColor" align="right">
			##	#formCell ("$RemoteInstitute $brih_name <font color=red>*</font>" "INAME" "")
				 <td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="INAME" value=""> </font> </td>
			           <td><b><font face="$ui.sansSerifFonts"><font color=red>*</font> $RemoteInstitute $brih_Of1 $brih_name </font></b> </td>

        		</tr>
        		<tr align="right">
				##formCell ("$RemoteInstitute $RemoteAddress <font color=red>*</font>" "IADDRESS" "")
				<td align="right" wiidth=75% > <font face="$ui.sansSerifFonts"> <input type="text" name="IADDRESS" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"><font color=red>*</font> $RemoteInstitute $brih_Of1 $RemoteAddress </font></b></td>
				

			</tr>
			<tr bgcolor="$ui.menuColor" align="right">
				##formCell ("$Inst_city <font color=red>*</font>" "ICITY" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="ICITY" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $Inst_city </font> </b> </td>
                        </tr>
                        <tr align="right">
                                ##formCell ("$Inst_pincode <font color=red>*</font>" "IPINCODE" "")
				<td align="right" width=75%>  <font face="$ui.sansSerifFonts"> <input type="text" name="IPINCODE" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $Inst_pincode </font> </b> </td>
                        </tr>
			<tr bgcolor="$ui.menuColor" align="right">
				##formCell ("$Inst_state <font color=red>*</font>" "ISTATE" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="ISTATE" value=""> </font> </td>
				 <td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $Inst_state </font> </b> </td>
                        </tr>
#*
                                ###formCell ("$Inst_landline <font color=red>*</font>" "ILANDLINE" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="ILANDLINE" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $Inst_landline  </font> </b> </td>

*#
                        <tr align="right">
                                <tdalign="right"><font color=red>*</font> $Inst_landline</td>
                        </tr>
                        <tr align="right">
                                <td>+<input type="text" name="ccode" value="91">
                                <td>$brih_country $brih_code</td>
                        </tr>
                        <tr align="right">
                                <td> Ex.(0512)$brih_knp $brih_for <input type="text" name="rcode" value=""> </td>
                                <td>$brih_region $brih_code </td>
                        </tr>
                        <tr align="right">
                                <td>
				##<input type="text" name="phnumber" value=""> Ex.
				 Ex. (2597841)$brih_iit $brih_knp $brih_for <input type="text" name="phnumber" value=""> </td>
                                <td>$brih_num </td>
                        </tr>

			<tr bgcolor="$ui.menuColor" align="right">
				## #formCell ("$RemoteInstitute $brih_domain <font color=red>*</font>" "IDOMAIN" "")
				<td align="right" width=75%>@<font face="$ui.sansSerifFonts"> <input type="text" name="IDOMAIN" value=""> </font></td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $RemoteInstitute $brih_Of1 $brih_domain </font> </b> </td>
                        </tr>
                        <tr align="right">
                                ###formCell ("$Inst_type <font color=red>*</font>" "ITYPE" "")
				<td align="right" width=75%> 
				<select name="ITYPE" class="drop">
                                        ##opt()
					<option value=Govt>$brih_govt</option>
				        <option value=SemiGovt2>$brih_semi $brih_govt</option>
				        <option value=SF>$brih_sf</option>
				        <option value=Other>$brih_other</option>
                                </select></td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $RemoteInstitute $brih_Of $brih_type </font> </b> </td>
                        </tr>
                        <tr bgcolor="$ui.menuColor" align="right">
                                ##formCell ("$RemoteInstitute $Inst_website <font color=red>*</font>" "IWEBSITE" "")
				 <td align="right" width=75%> http:// <font face="$ui.sansSerifFonts"> <input type="text" name="IWEBSITE" value=""></font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $RemoteInstitute $brih_Of $Inst_website </font> </b> </td>
                        </tr>
			<tr align="right">
		           ##formCell ("$brih_ad $brih_Of1 $brih_first $brih_name<font color=red>*</font>" "IADMINFNAME" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="IADMINFNAME" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $brih_ad $brih_Of1 $brih_first $brih_name  </font> </b> </td>
                        </tr>
                        <tr bgcolor="$ui.menuColor" align="right"> 
				##formCell ("$brih_ad $brih_Of1 $brih_last $brih_name<font color=red>*</font>" "IADMINLNAME" "")
				 <td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="IADMINLNAME" value=""> </font> </td>
				 <td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $brih_ad $brih_Of1 $brih_last $brih_name  </font> </b> </td>
                        </tr>
			<tr align="right">
				##formCell ("$brih_ad $brih_Of1 $Inst_designation<font color=red>*</font>" "IADMINDESIGNATION" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="IADMINDESIGNATION" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $brih_ad $brih_Of1 $Inst_designation </font> </b> </td>
                        </tr>

                        <tr bgcolor="$ui.menuColor" align="right"> 
                                ##formCell ("$brih_ad $brih_Of1 $brih_email <font color=red>*</font>" "IADMINEMAIL" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="text" name="IADMINEMAIL" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $brih_ad $brih_Of1 $brih_email </font> </b> </td>

                        </tr>
			<tr align="right"> 
				##formPasswordCell ("$brih_ad $brih_pwd<font color=red>*</font>" "IADMINPASSWORD" "")
				<td align="right" width=75%> <font face="$ui.sansSerifFonts"> <input type="password" name="IADMINPASSWORD" value=""> </font> </td>
				<td> <b> <font face="$ui.sansSerifFonts"> <font color=red>*</font> $brih_ad $brih_Of1 $brih_pwd </font> </b> </td>
                        </tr>
                        <tr bgcolor="$ui.menuColor" align="right"> 
                                ##formCell ("$brih_ad $brih_Of1 $brih_email <font color=red>*</font>" "IADMINEMAIL" "")
        			<td colspan=2 align="right">
				<input type="hidden" name="actionName">
				<input type="button" class="button-ftextstyle" name="eventSubmit_InstituteRegister" value="$brih_reg1" onClick="checkField(document.frm,this);"/>
        			<input type="Reset" class="button-ftextstyle" name="Reset" Value="$brih_clear"/>
        			</td>
        		</tr>
			
		</table>
	</form>


<SCRIPT LANGUAGE="javascript">

	function checkField(frm,field)
        {
		frm.actionName.value=field.name;
                frm.submit();
	}
	
        function checkField(frm,field)
        {

                if ((frm.INAME.value !="") && (frm.IADDRESS.value !="") && (frm.ICITY.value !="") && (frm.IPINCODE.value !="") && (frm.ISTATE.value !="") && (frm.ILANDLINE.value !="") && (frm.IDOMAIN.value !="") && (frm.ITYPE.value !="") && (frm.IWEBSITE.value !="") && (frm.IADMINFNAME.value !="") && (frm.IADMINLNAME.value !="")&& (frm.IADMINEMAIL.value !="") && (frm.IADMINDESIGNATION.value !="") && (frm.IADMINUSERNAME.value !=""))
                {

                        var adminemailid = document.frm.IADMINEMAIL.value;
                        //alert("Emailid"+adminemailid);

                        if (CheckValidEmail(adminemailid) == false)
                        {
                                adminemailid = "";
                                adminemailid.focus();
                                return;
                        }
                        else
                        {
                                frm.actionName.value=field.name;
                                frm.submit();
                        }
                }
                else
                {
                        alert("Please fill all the mandatory(*) Fields !");
                }

        }

        function CheckValidEmail(adminemail)
        {
                var atrate = "@";
                var dot = ".";
                var indexofatrate = adminemail.indexOf(atrate);
                var emaillength = adminemail.length;
                var indexofdot = adminemail.indexOf(dot);

                if (indexofatrate == -1)
                {
                        alert("Invalid email ID")
                        return false;
                }

                if (indexofatrate == -1 || indexofatrate == 0 || indexofatrate == emaillength)
                {
                        alert("Invalid email ID ")
                        return false;
                }

                if (indexofdot == -1 || indexofdot == 0 || indexofdot == emaillength)
                {
                        alert("Invalid E-mail ID")
                        return false
                }

                if (adminemail.indexOf(atrate,(indexofatrate+1)) != -1)
                {
                        alert("Invalid E-mail ID")
                        return false
                }

                if (adminemail.substring(indexofatrate-1,indexofatrate)==dot || adminemail.substring(indexofatrate+1,indexofatrate+2)==dot)
                {
                        alert("Invalid E-mail ID")
                        return false
                }

                if (adminemail.indexOf(dot,(indexofatrate+2))==-1)
                {
                        alert("Invalid E-mail ID")
                        return false
                }

                if (adminemail.indexOf(" ")!=-1)
                {
                        alert("Invalid E-mail ID")
                        return false
                }

                 return true
        }


</SCRIPT>

