#*
 * @(#) LectureInfo.vm
 * Copyright (c) 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:shikhashuklaa@gmail.com ">Shikha Shukla</a>
*#

<table border="1" width="620" style="margin-top:-290px; font-family:Arial;">
<tr><td bgcolor="$ui.tableColor" width="620" colspan="15" style="font-weight:bold;font-size:12px;text-align:center;">$lec_list</td></tr>
<tr bgcolor="$ui.menuColor">
	<td width="25%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_guestaccess</td>
	<td width="15%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_duration</td>
	<td width="15%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_time</td>
	<td width="15%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_Da</td>
	<td width="15%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_lecture</td>
	<td width="15%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_Instructor</td>
	<td width="25%" style="font-weight:bold;font-size:12px;text-align:center;">$brih_course</td>
</tr>
<tr>
        #if($key!=0)
                <td><blink><a href="https://202.141.40.215:8443/brihaspatisync_iserver/ProcessRequest?req=getjnlp&key=$key">$brih_join</a></blink></td>
        #end
        <td>$duration</td>
        <td>$time</td>
        <td>$date</td>
        <td>$lecname</td>
        <td>$InstructorName</td>
        <td>$coursename</td>

</tr>
</table>
