#*
 * @(#)OnlineRegistration.vm 
 * Copyright (c) 2008-09,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a> 
 * @author <a href="mailto:omprakash_kgp@yahoo.co.in">Om Prakash</a> 	
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a> 	
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modify 20-03-2009, 27-03-2012,06-06-2013
 *#
$page.setTitle("Login Page | Online Registration ")
$!data.getMessage()
<head>
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.tableColor">
<td>
<table bgcolor="$ui.tableColor" width=100% >
<tr bgcolor="$ui.menuColor" align="right">
	<td colspan=3>
		<font face="$ui.sansSerifFonts" size=3><b>
		<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)> $brih_login $brih_Of1 $WikiPage </a>| $online_online $brih_reg   
	</td>
</tr>
<tr align="right" bgcolor="$ui.menuColor">
	<td>
		<a href=javascript:popupWin("/brihaspati2/docs/OnlineRegistration.html","newWin");>$brih_help</a> <img src="$content.getURI("/images/Lefthand.gif")">
	</td>
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
		<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","UserResitration").addPathInfo("count","1") style=text-decoration:none> $brih_student $brih_Of1 $brih_reg </a>
	</td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor == "2")
	<td bgcolor="#AFDCEC">
	#end
		<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","CourseRegistration").addPathInfo("count","2") style=text-decoration:none> $brih_Instructor ($brih_course) $brih_Of1 $brih_reg </a>
	</td>
</tr>
</table>
</td>
</tr>
<tr bgcolor="$ui.tableColor">
<td>
<table width="100%" bgcolor="$ui.tableColor">
<form name=frm method="post" action="$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).setAction("OnlineRegistration")">
#if($status == "UserResitration")
<tr align="right">
	<td colspan="2"> 
        	<select id="group_id" class="drop" name="group" size=1 onChange="ChangeRole(document.frm,this);" style="width:300px;"/>
        	##set($counter=1)
        	#foreach($crsname in $courseList)
        		<option style="width:275px;" title="$crsname.getCAlias(): $crsname.getCourseName()-$crsname.getUserName()" value="$crsname.getGroupName()">$crsname.getCAlias(): $crsname.getCourseName()-$crsname.getUserName()</option>
        	#end
        	</select>
		<select name="instName" class="drop" size=1 onChange="checkOption(document.frm,this);" style="width:300px;"/>
        	#if($Insname=="")
        		<option> $brih_Institute $brih_select </option>
		#else
        		<option>$Insname</option>
		#end
		#foreach($name in $instList)
        		<option value="$name.getInstituteName()" style="width:300px;" title="$name.getInstituteName()">$name.getInstituteName() </option>
		#end
        	</select>
	</td>	
	<td><font color=RED>*</font> $RemoteInstitute $brih_Of1 $brih_name $brih_select</td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	##formCell ("$brih_usr $brih_name <font color=red>*</font>" "UNAME" "")
	<td colspan="2"><input type="text" size="30" name="EMAIL" value=""></td>
	<td><font color=red>*</font> $brih_email $brih_ID</td>
</tr>
<tr align="right">
	##formPasswordCell ("$brih_pwd" "PASSWD" "")
	<td colspan="2"> <input type="password" size="30" name="PASSWD" value=""> </td>
	<td> $brih_pwd </td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	##formCell(" $brih_first  $brih_name " "FNAME" "")
	<td colspan="2"> <input type="text" size="30" name="FNAME" value=""></td>
	<td>$brih_first  $brih_name </td>
</tr>
<tr align="right">
	##formCell(" $brih_last $brih_name " "LNAME" "")
	<td colspan="2"> <input type="text" size="30" name="LNAME" value=""></td>
	<td> $brih_last $brih_name </td>
</tr>
#*<tr bgcolor="$ui.menuColor" align="right">
	##formCell(" $online_organisation " "ORGTN " "")
	<td colspan="2"> <input type="text" size="30" name="ORGTN " value=""> </td>
	<td> $online_organisation </td>
</tr>*#
<tr bgcolor="$ui.menuColor" align="right">
	<td colspan="2">
		<select id="role_id" name="role" class="drop" size=1 onChange="ChangeGroup(document.frm,this);"/>
		<option value="student">$brih_student</option>
	  	</select>
	 </td>
	 <td> <font color="Red">*</font> <font face="$ui.sansSerifFonts">$brih_role $brih_select </font> </td>
</tr>
<tr align="right">
	<td colspan="2">
		<select name="prg" size=1 class="drop" onChange="ChkPrg(document.frm,this);"/>
                	<option value="Select Program"> $brih_program $brih_select</option>
                	#foreach($progname in $PrgDetail)
                	<option value="$progname.getPrgCode()">$progname.getPrgName() </option>
                        #end
		</select>
	</td>
        <td> ($brih_program ( $brih_student $brih_if</td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	<td colspan="2"><input type="text" name="rollno" value="" disabled="true"/></td>
        <td>( $brih_rollno($brih_student $brih_if</td>
</tr>
<tr align="right">
	<td colspan="3"> 
	<input type="hidden" name="actionName">
        <input type="hidden" name="groupName" value="$name.getName()">
    	<input type="hidden" name="group_author">
    	<input type="hidden" name="role_author">
    	<input type="button" class="button-ftextstyle" name="eventSubmit_UserRegister" value="$brih_reg1" onClick="checkField(document.frm,this);"/> 
	<input type="Reset" class="button-ftextstyle" name="Reset" Value="$brih_clear" onClick="clearField(document.frm,this);"/>
	<input type="submit" class="button-ftextstyle" name="eventSubmit_doSearch" id="btnSearch" value="$brih_search"  style="visibility: hidden"/>
        <input type="hidden" name="count" value="$tdcolor"/>
        <input type="hidden" name="status" value="$status"/>
        <input type="hidden" name="val"/>
	<input type="hidden" name="mode" value="cnfrm_u"/>
	</td>
</tr>
#end

##////////////Course Registration///////////

#if($status == "CourseRegistration")
<tr align="right">
	<td colspan="2">
        	<select class="drop" name="instName" size="1" onChange="checkOption(document.frm,this);" style="width:300px;" />
                #if($Insname=="")
                	<option> $brih_Institute $brih_select </option>
                #else
                	<option>$Insname</option>
                	<option> $brih_Institute $brih_select </option>
                #end
                #foreach($name in $instList)
                	<option value="$name.getInstituteName()" title="$name.getInstituteName()" style="width:275px;">$name.getInstituteName() </option>
                #end
                </select>
	</td>
        <td><font color=RED>*</font> $RemoteInstitute $brih_Of1 $brih_name $brih_select</td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	##formCell(" $brih_course $brih_ID <font color=red>*</font>" "COURSEID" "")
	<td colspan="2"> <input type="text" size="30" name="COURSEID" value=""> </td>
	<td> <b><font color=red>*</font>  $brih_course $brih_Of1 $brih_ID  </b></td>
</tr>
<tr align="right">
	##formCell("$brih_course $brih_name <font color=red>*</font>" "CNAME" "")
	<td colspan="2">  <input type="text" size="30" name="CNAME"  value=""> </td>
	<td> <b><font color=red>*</font> $brih_course $brih_Of1 $brih_name </b></td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	<td colspan="2">
        	<select class="drop" name="SCHNAME" size=1 style="width:300px;" />
               		<option value="" title="$brih_sch $brih_select">$brih_sch $brih_select</option>
                #foreach($name in $schlist)
                	<option value="$!name.getName()" title="$!name.getName()" style="width:275px;">$!name.getName()</option>
                #end
                </select>
	</td>
        <td> $brih_schce </td>
</tr>
<tr align="right">
	<td colspan="2">
        	<select class="drop" name="DEPT" size=1 style="width:300px;" />
                	<option value="" title="$brih_dept $brih_select">$brih_dept $brih_select </option>
                #foreach($name in $deptlist)
                	<option value="$!name.getName()" title="$!name.getName()" style="width:275px;">$!name.getName()</option>
                #end
                </select>
	</td>
        <td> $brih_dept</td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	##formCell(" $brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
	<td colspan="2">  <input type="text" size="30" name="EMAIL" value=""> </td>
	<td> <font color=red>*</font>  $brih_email $brih_ID </td>
</tr>
<tr align="right">
	##formPasswordCell(" $brih_pwd " "PASS" "")
	<td colspan="2"> <input type="password" size="30" name="PASS" value=""> </td>
	<td> $brih_pwd </td>
</tr>
<tr bgcolor="$ui.menuColor" align="right">
	##formCell(" $brih_first  $brih_name " "FNAME" "")
	<td colspan="2">  <input type="text" size="30" name="FNAME" value=""></td> 
	<td> $brih_first  $brih_name </td>
</tr>
<tr align="right">
	##formCell(" $brih_last $brih_name " "LNAME" "")
	<td colspan="2"> <input type="text" size="30" name="LNAME" value=""> </td>
	<td> $brih_last $brih_name </td>
</tr>	
#*<tr bgcolor="$ui.menuColor" align="right">
	##formCell(" $online_organisation " "ORGTN" "")
	<td colspan="2"><input type="text" size="30" name="ORGTN" value=""> </td>
	<td> $online_organisation </td>
</tr>*#
<tr bgcolor="$ui.menuColor" align="right">
        <td colspan=5> 
    		<input type="hidden" name="actionName">
    		<input type="button" class="button-ftextstyle" name="eventSubmit_CourseRegister" value=" $brih_submit " onClick="checkCourseName(document.frm,this);"/>
    		<input type="reset" class="button-ftextstyle"  name="Clear" value=" $brih_clear " onClick="checkClear(document.frm,this);"/>
		<input type="submit" name="eventSubmit_doSearch" value="Search" id="btnSearch" style="visibility: hidden"/>
                <input type="hidden" name="val"/>
		<input type="hidden" name="status" value="$status"/>
		<input type="hidden" name="mode" value="cnfrm_c"/>
	</td>
</tr>
#end
</form>
</table>
</td>
</tr>
</table>
</body>
<SCRIPT LANGUAGE="javascript">
	function ChangeRole(frm,field)
        {
                if(frm.group.value=="author")
                {
                       frm.role.value="author";
                       frm.role_author.value=frm.role.value;
                       makeDisable();
                }
                else
                {
                       if(frm.role.value=="author")
                       {
                       frm.role.value="";
                       }
                       makeEnable();
                }
        }
	function ChangeGroup(frm,field)
        {
                if(frm.role.value=="author")
                {
                       frm.group.value="author";
                       frm.group_author.value=frm.group.value;
                       makeDisable_group();
                }
                else
                {
                       if(frm.group.value=="author")
                       {
                       frm.group.value="";
                       }
                        frm.tmp.value = frm.role.value;
                       makeEnable_group();
                }
        }
        function checkOption (frm,field)
        {
                frm.val.value=document.frm.instName.value;
		document.getElementById('btnSearch').click();
        }

</SCRIPT>
