#*
 * @(#) Screen_Menu.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author<a href="mailto:shaistashekh@hotmail.com">Shaista </a>
 * @modified:Date 29-10-2009
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#
##$page.setBgColor("#e5e5e5")
<table width="100%" bgcolor="$ui.menuColor">
<div class="menu" align="center">
 <div class="heading">
<b><i><font color="Brown" size=4>$data.getUser().getTemp("course_name")</font>
 </div>
</div>

<hr/>
#######################################
#set($lang = $data.getUser().getTemp("lang" ).toString())
####################################
 #if($data.getUser().getTemp("role") == "instructor")
                <tr align="right">
                        <td align="right"">
                                ##<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm")><img src="$content.getURI("/images/$lang/Coursemanagement.png")"border=0></a><br>                         
				<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","1")>$brih_mgmt $brih_course </a>
			</td>
                </tr>
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm")><img src="$content.getURI("/images/$lang/s-management.png")"border=0></a><br>                         
			<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1")>$brih_mgmt $brih_student </a>
			</td>
                </tr>
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,Question_Bank,Question_bank.vm")><img src="$content.getURI("/images/$lang/qbank.png")"border=0></a><br>
			<a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")>$brih_qus $brih_bank</a>
                        </td>
                </tr>
                <tr>
                        <td align="right">
                        ##<a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm")><img src="$content.getURI("/images/$lang/marks1.png")"border=0></a><br>
			<a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1")>$brih_marks $brih_upload </a>
                        </td>
                </tr>
                <tr align="right">
                        <td align="right">
                         ##<a href=$link.setPage("call,Backups,BackupIns.vm")><img src="$content.getURI("/images/$lang/backup.png")"border=0></a><br>
			<a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1")>$brih_backup</a>
                        </td>
                </tr>
        #end
        #if($data.getUser().getTemp("role") == "student")
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm")><img src="$content.getURI("/images/$lang/coursecontent.png")"border=0></a><br>                        
			<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")>$brih_course $brih_content</a>
			 </td>
                </tr>
		#if($data.getUser().getUserName() != "guest") ##guest is not login
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,UserMgmt_User,ViewMarks.vm")><img src="$content.getURI("/images/$lang/viewmarks.png")"border=0></a><br>
			<a href=$link.setPage("call,UserMgmt_User,ViewMarks.vm").addPathInfo("count","1")>$brih_view $brih_marks</a>
                        </td>
                </tr>
		#end
        #end
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,CourseMgmt_User,Communication.vm")><img src="$content.getURI("/images/$lang/communication.png")"border=0></a><br>
			<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a>
                        </td>
                </tr>
	#if($data.getUser().getUserName() != "guest") ##guest is not login
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,Quiz_Mgmt,Quiz_Start.vm")><img src="$content.getURI("/images/$lang/quiz.png")"border=0></a><br>
			<a href=$link.setPage("call,Quiz_Mgmt,Quiz_Start.vm").addPathInfo("count","1")>$brih_quiz</a>
                        </td>
                </tr>
                <tr align="right">
                        <td align="right">
                        ##<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse")><img src="$content.getURI("/images/$lang/Coursecal.png")"border=0></a><br>
			<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse")>$brih_course $brih_calendar</a>
                        </td>
                </tr>

                <tr align="right">
			 <td align="right">
                        ##<a href=$link.setPage("call,Wiki,Wiki.vm")><img src="$content.getURI("/images/$lang/wiki.png")"border=0></a><br>
			<a href=$link.setPage("call,Wiki,Wiki.vm").addPathInfo("count","1")>$brih_Wiki</a>
                        </td>
                </tr>
	#end
</table>
