#*
 * @(#) Screen_Menu.vm
 * Copyright (c) 2005-2006, 2009, 2012,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author<a href="mailto:aktri@iitk.ac.in">Awadhesh Kumar Trivedi</a>
 * @author<a href="mailto:singhnk@iitk.ac.in">Nagendra Kumar Singh</a>
 * @author<a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author<a href="mailto:shaistashekh@hotmail.com">Shaista </a>
 * @author<a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar Pal </a>
 * @author<a href="mailto:tejdgurung20@gmail.com">Tej Bahadur </a>
 * @modified:Date 29-10-2009, 07-04-2010, 25-04-2012(sunil kumar)
 * @ modified date: 05-Aug-2012 (Shaista),18-03-2013, 22-04-2013
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

<table width="100%" bgcolor="$ui.tableColor">
<tr bgcolor="$ui.menuColor" align="right">
<td><i><center><font size=4>$data.getUser().getTemp("course_name")</font></center></i><hr/></td>
</tr>
#######################################
#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($groupName = $data.getUser().getTemp("course_id" ).toString())
####################################

 #if($data.getUser().getTemp("role") == "instructor")
                <tr bgcolor="$ui.menuColor" align="right">
                        <td class="dt">
				<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursemanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_mgmt $brih_course </a>
                         </td>
                </tr>
                <tr bgcolor="$ui.tableColor" align="right">
                        <td  class="dt">
			 <a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","studentmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_mgmt $brih_student </a>
			</td> ##today28july
                </tr>
                <tr bgcolor="$ui.menuColor" align="right">
                        <td  class="dt">
			 <a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_marks $brih_upload </a>
                        </td>
                </tr>
                <tr bgcolor="$ui.tableColor" align="right">
                        <td  class="dt">
                        <a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1") style=text-decoration:none>$brih_backup</a>
                        </td>
        	        </tr>
		<tr bgcolor="$ui.menuColor" align="right">
                        <td  class="dt">
			 <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$online_online $brih_examat $brih_system</a>	 
			</td>
		</tr>

		<tr bgcolor="$ui.tableColor" align="right">
                        <td  class="dt">
			  <a href=$link.setPage("call,Instructor_Mgmt,UserMgmt_Instructor.vm").addPathInfo("count","2").addPathInfo("mode","instructordelete").addPathInfo("cname",$groupName).addPathInfo("mname","instructormanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_mgmt $brih_ins </a>
                        </td>
                </tr>
		<tr bgcolor="$ui.menuColor" align="right">
                <td  class="dt"><a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count","1") style=text-decoration:none>$brih_mgmt $bri_ta </a><br></td>
                </tr>


 #end
	#if($data.getUser().getTemp("role") == "student")
                <tr bgcolor="$ui.menuColor" align="right">
                        <td  class="dt">
			#if($data.getUser().getUserName() != "guest")
			<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursecontent").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_course $brih_content </a>
			#else
			<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> $brih_course $brih_content </a>
			#end
			</td> ##today28july
                </tr>
		#if($data.getUser().getUserName() != "guest") ##guest is not login
                <tr bgcolor="$ui.tableColor" align="right">
                        <td  class="dt">
			 <a href=$link.setPage("call,UserMgmt_User,ViewMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","viewmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_view $brih_marks</a>
                        </td>
                </tr>
		#end
        #end
                <tr bgcolor="$ui.tableColor" align="right">
                        <td  class="dt">
			#if(($data.getUser().getUserName() != "guest")&&($data.getUser().getTemp("role") != "teacher_assistant")) ##guest is not login
				<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_communication</a>
			#elseif($data.getUser().getTemp("role") != "teacher_assistant")
				<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none>$brih_communication</a>
			#end
                        </td>
                </tr>
		#if(($data.getUser().getUserName() != "guest")&&($data.getUser().getTemp("role") != "teacher_assistant")) ##guest is not login

                <tr bgcolor="$ui.menuColor" align="right">
                        <td  class="dt">
			 <a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_course $brih_of $brih_calendar </a>
                        </td>
                </tr>
                <tr bgcolor="$ui.tableColor" align="right">
			 <td  class="dt">
                        <a href=$link.setPage("call,Wiki,Wiki_Home.vm").addPathInfo("count","1") style=text-decoration:none>$brih_Wiki</a>
                        </td>
                </tr>
		<tr bgcolor="$ui.menuColor" align="right">
                         <td  class="dt">
                          <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_mgmt $brih_grp </a>
                        </td>
                </tr>
                <tr bgcolor="$ui.tableColor" align="right">
                         <td  class="dt">

			#if($data.getUser().getTemp("role") == "instructor")
 			<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_assignment</a>
			#end
	                #if($data.getUser().getTemp("role") == "student")
                        <a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","1") style=text-decoration:none>$brih_assignment</a>
        	        #end

                        ##<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style=text-decoration:none>$brih_assignment</a>
	##		<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_assignment</a>

                        </td>
                </tr>
		 #if($data.getUser().getTemp("role") == "instructor")
		 <tr bgcolor="$ui.menuColor" align="right">
			<td  class="dt">
			<a href=$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("count","1") style=text-decoration:none>$Repo_browser $brih_statistics</a>

			</td>
		 </tr>
		 #end

	#end
#######################TA Management##############
 #if($data.getUser().getTemp("role") == "teacher_assistant")
        <tr bgcolor="$ui.tableColor" align="right">
                <td class="dt"><a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_assignment</a></td>
        </tr>

        #if($data.getUser().getTemp("modulename2") == "2")      
        <tr bgcolor="$ui.menuColor" align="right">
                        <td class="dt">
                        <a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1") style=text-decoration:none>$brih_backup</a>
                        </td>
         </tr>

        #else
        <tr bgcolor="$ui.menuColor" align="right">
                <td class="dt"><font color="#B2B2B2"> $brih_backup </font></td>
        </tr>
        #end

        ##if($data.getUser().getTemp("modulename3") == "3")
        <tr bgcolor="$ui.tableColor" align="right">

                <td class="dt"><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_communication</a></td>

        </tr>
        <tr bgcolor="$ui.menuColor" align="right">

                <td class="dt"><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_courseCal</a></td>
        </tr>

        #if($data.getUser().getTemp("modulename5") == "5")
	        <tr bgcolor="$ui.tableColor" align="right">

                <td class="dt"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursemanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_course $brih_mgmt</a></td>
        </tr>

        #else
        <tr bgcolor="$ui.tableColor" align="right">
                <td class="dt"> <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursecontent").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_course $brih_content </a></td>
        </tr>

        #end
        <tr bgcolor="$ui.menuColor" align="right">

                <td class="dt"><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_grp $brih_mgmt</a></td>
        </tr>

        #if($data.getUser().getTemp("modulename7") == "7")
        <tr bgcolor="$ui.tableColor" align="right">

                <td class="dt"><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$online_online $brih_examat $brih_system</a></td>
        </tr>

        #else
        <tr bgcolor="$ui.tableColor" align="right">
                 <td class="dt"><a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_exam </a></td>
        </tr>
        #end

        #if($data.getUser().getTemp("modulename8") == "8")
        <tr bgcolor="$ui.menuColor" align="right">

                <td class="dt"><a href=$link.setPage("call,Instructor_Mgmt,UserMgmt_Instructor.vm").addPathInfo("count","2").addPathInfo("mode","instructordelete").addPathInfo("cname",$groupName).addPathInfo("mname","instructormanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_ins $brih_mgmt</a></td>
        </tr>

        #else
        <tr bgcolor="$ui.menuColor" align="right">
                <td class="dt"><font color="#B2B2B2"> $brih_ins $brih_mgmt </font></td>
        </tr>
        #end

        #if($data.getUser().getTemp("modulename9") == "9")
        <tr bgcolor="$ui.tableColor" align="right">
                        <td class="dt">
                         <a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","studentmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_student $brih_mgmt</a>
                        </td> ##today28july
                </tr>
        #else
        <tr bgcolor="$ui.tableColor" align="right">
                <td class="dt"><font color="#B2B2B2"> $brih_student $brih_mgmt </font></td>
        </tr>


        #end

        #if($data.getUser().getTemp("modulename10") == "10")
        <tr bgcolor="$ui.menuColor" align="right">

                <td class="dt"><a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_marks $brih_upload </a></td>
        </tr>

        #else
        <tr bgcolor="$ui.menuColor" align="right">
                <td class="dt"><font color="#B2B2B2"> $brih_marks $brih_upload</font></td>
        </tr>
        #end

        ##if($data.getUser().getTemp("modulename11") == "11")
        <tr bgcolor="$ui.tableColor" align="right">

                <td class="dt"><a href=$link.setPage("call,Wiki,Wiki_Home.vm").addPathInfo("count","1") style=text-decoration:none>$brih_Wiki</a>
                </td>

        </tr>

        #if($data.getUser().getTemp("modulename12") == "12")
         <tr bgcolor="$ui.menuColor" align="right">
                <td class="dt"><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype") style=text-decoration:none>$brih_tracking $brih_reports</a>
                </td>
        </tr>

        #else
        <tr bgcolor="$ui.menuColor" align="right">
                <td class="dt"><font color="#B2B2B2"> $brih_tracking $brih_reports </font></td>
        </tr>
        #end

 #end


</table>
