.videobutton-play {
        background: transparent url(/brihaspati2/images/Flvimages/play.png) 3px 3px no-repeat;
}
.videobutton-pause {
        background: transparent url(/brihaspati2/images/Flvimages/pause.png) 3px 3px no-repeat;
}
.videobutton-stop {
        background: transparent url(/brihaspati2/images/Flvimages/stop.png) 3px 3px no-repeat;
}
.videobutton-thumb {
        background: transparent url(/brihaspati2/images/Flvimages/thumb.png) no-repeat;
}

