<style type="text/css">
body, input, select {
font: 95% sans-serif, tahoma;
}
a.edit {
color: #aa1111;
border-color: #aa1111;
}
a.edit:hover {
border-bottom: 1px dotted #aa1111;
}
a.redirect {
font-size: 150%;
text-decoration: none;
margin-left: 20px;
}
a.redirect:before {
content:url("redirect-arrow.png");
}
p {
margin: .4em 0 .5em 0;
line-height: 1.5em;
}
h1, h2, h3, h4, h5 {
color: black;
margin: 0;
padding: 0.5em 0em 0.2em 0em;
text-align: left;
}
h1, h2 {
margin-bottom: 0.5em;
}
h3, h4, h5 {
margin-bottom: 0.2em;
}
h1 {
border-bottom: 1px solid #D8D8E7;
font-size: 200%;
font-weight: normal;
}
h2 {
border-bottom: 1px solid #D8D8E7;
font-size: 175%;
font-weight: normal;
}
h3 {
font-size: 150%;
font-weight: normal;
}
h4 {
font-size: 125%;
font-weight: bold;
}
h5 {
font-size: 110%;
font-weight: bold;
}
pre {
background-color: #fbfbfd;
border: 1px dashed #7e7ecb;
color: black;
font-size: 110%;
line-height: 1.1em;
padding: 1em;
}
code {
color: black;
font-size: 120%;
}
dt {
font-weight: bold;
margin-bottom: .1em;
}
dl {
margin-top: .2em;
margin-bottom: .5em;
}
dd {
line-height: 1.5em;
margin-left: 2em;
margin-bottom: .1em;
}
ul {
line-height: 1.5em;
list-style-type: square;
list-style-image: url(/../images/bullet.gif);
margin: .3em 0 0 1.5em;
padding: 0;
}

ol {
line-height: 1.5em;
margin: .3em 0 0 3.2em;
padding: 0;
list-style-image: none;
}
li {
margin-bottom: .1em;
}
textarea {
width: 99%;
}
fieldset {
padding: 0 7px 7px;
border: 1px solid #D8D8E7;
margin-top: 10px;
}
legend {
padding: 0.5em;
font-weight: bold;
}
.red {
font-weight: bold;
color: #f00;
}
.green {
font-weight: bold;
color: #090;
}
div.message {
margin: 1.5em 0 1.5em 0;
padding: 0 5px;
}
div.submenu {
margin: 1.0em 6em 0.8em 6em;
text-align: center;
}
.clear {
clear: both;
}
.hidden {
display: none;
}

/* images */
img.wikiimg {
border: 0;
}
a.wikiimg {
border: 0;
}
img.thumbborder {
border: 1px solid #ddd;
}
div.thumbcaption {
text-align:left;
border: none;
font-size:94%;
line-height:1.4em;
padding:3px !important;
}
div.floatleft {
border: none;
clear:left;
float:left;
margin: 0 0.5em 0.5em 0;
position:relative;
}
div.floatright {
border: none;
clear:right;
float:right;
margin: 0 0 0.5em 0.5em;
position:relative;
}
div.center {
text-align:center;
width:100%;
}
div.center * {
margin-left:auto;
margin-right:auto;
}
div.tright {
border: none;
margin: 0.5em 0 0.8em 1.4em;
clear:right;
float:right;
}
div.thumb {
border: none;
margin-bottom:0.5em;
width:auto;
}
div.thumbinner {
background-color:#f9f9f9;
border: 1px solid #ccc;
font-size:94%;
overflow:hidden;
padding: 3px !important;
text-align:center;
min-width:10px;
}
table.gallery {
border: 1px solid #ccc;
margin: 2px;
padding: 2px;
background-color: white;
}
table.gallery caption {
font-weight: bold;
padding-bottom: 5px;
}
table.gallery td {
background-color: #f9f9f9;
border: solid 2px white;
text-align: center;
vertical-align: top;
}
table.gallery-cat td {
vertical-align: middle;
padding: 2px;
}
img.gallery {
border: 1px solid #bbbbbb;
padding: 0.3em;
}
div.gallerytext {
font-size: 94%;
overflow: hidden;
padding: 2px 4px
}
div.gallerytext p {
line-height: auto;
margin: auto;
}
div.gallerybox {
margin: 2px;
}
table.gallery-cat div.gallerybox {
width: 155px;
}
#edit-toolbar {
margin: 3px 0;
}
.toolbar-group {
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color: #e9e9e9;
border-radius: 5px;
display: inline-block;
margin: 3px 5px 3px 0;
padding-left: 3px;
}
.toolbar-button a {
border-radius: 3px;
cursor: default;
display: inline-block;
outline: none;
padding: 2px 3px;
}
.toolbar-button {
border-right: 1px solid #fff;
cursor: pointer;
display: inline-block;
padding: 2px 2px 2px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.toolbar-button a:hover, .toolbar-button a:focus, .toolbar-button a:active {
background-color: #bfd1ff;
border-bottom: none;
}
.toolbar-icon {
background: url(../images/toolbar-icons.png) 0 0 no-repeat;
cursor: default;
display: inline-block;
height: 22px;
width: 22px;
}
#button-bold .toolbar-icon {
background-position: 0 -66px !important;
}
#button-italic .toolbar-icon {
background-position: 0 -88px !important;
}
#button-underline .toolbar-icon {
background-position: 0 -110px !important;
}
#button-strike .toolbar-icon {
background-position: 0 -132px !important;
}
#button-subscript .toolbar-icon {
background-position: 0 -154px !important;
}
#button-superscript .toolbar-icon {
background-position: 0 -176px !important;
}
#button-nowiki .toolbar-icon {
background-position: 0 0 !important;
}
#button-orderedlist .toolbar-icon {
background-position: 0 -198px !important;
}
#button-unorderedlist .toolbar-icon {
background-position: 0 -220px !important;
}
#button-indent .toolbar-icon {
background-position: 0 -242px !important;
}
#button-wikilink .toolbar-icon {
background-position: 0 -264px !important;
}
#button-link .toolbar-icon {
background-position: 0 -22px !important;
}
#button-image .toolbar-icon {
background-position: 0 -286px !important;
}
#button-signature .toolbar-icon {
background-position: 0 -44px !important;
}
#button-hr .toolbar-icon {
background-position: 0 -308px !important;
}
#button-heading1 .toolbar-icon {
background-position: 0 -330px !important;
}
#button-heading2 .toolbar-icon {
background-position: 0 -352px !important;
}
#button-heading3 .toolbar-icon {
background-position: 0 -374px !important;
}
table.categories {
width: 100%;
}
table.categories td {
vertical-align: top;
width: 33%;
}
</style>
