.l{
    text-decoration: none;
    font-weight: bold;
    font-family:Tahoma;
    font-size:12px;
    color:brown;
}
.mess
{
    font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:5px;
     color:blue;

}
.user_login{

border:0px;
width:100px;
    
}
.mess a
{
    font-family:Tahoma;
    font-size:15px;
    letter-spacing:1px;
     padding-left:5px;
     text-decoration: none;
     font-weight: bold;
     color:blue;
     
}
.btn
    {
font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:10px;
    
     text-align:center;
     width:100px;


     
    }
    .btn2
    {
font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:10px;
     color:brown;
     text-align:center;
    



    }
    .txt1
    {
       font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:5px;
     color:brown;
    
     width:100px;


}
.txt
{
font-family: Arial,Helvetica,sans-serif;
font-size:15px;
letter-spacing:1px;
font-weight:bold;
}
.txt1
{
font-family: Arial,Helvetica,sans-serif;
font-size:12px;

color:brown;

}

.txt2
      {
      font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:5px;
    
      }

      .txt2 a
      {
      font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:5px;
     text-decoration: none;
     color:black;

      }


 .err
{
font-family: Arial,Helvetica,sans-serif;
font-size:11px;
letter-spacing:1px;
color:red;
font-weight:bold;

}

.txt3
      {
      font-family:Tahoma;
    font-size:11px;
    font-weight: bold;
    letter-spacing:1px;
     padding-left:5px;
     color:black;
    
      }
.btn1
    {
font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:10px;
     color:brown;
     text-align:center;
   



    }

    .accountbar
    {
font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:10px;
     
     text-align:left;




    }

    .btn3
    {
font-family:Tahoma;
    font-size:13px;
    letter-spacing:1px;
     padding-left:10px;
     color:brown;
     text-align:left;




    }
.opac_m
      {
      font-family:Tahoma;
    font-size:11px;
    font-weight: bold;
    letter-spacing:1px;
     padding-left:5px;
     color:black;

      }

 

.opac_table_design
{
    background-color:white;
    border:#cccccc solid 1px;
    color:black;
    font-family:Tahoma;
    font-size:12px;

}

.opac_table_bar
{
    background-color:#cccccc;
font-weight:bold;
    color:black;
    font-family:Tahoma;
    font-size:12px;
    text-align: center;
    height:28px;
}

.opac_table_text
{
    color:black;
    font-family:Tahoma;
    font-size:12px;
    text-align: right;
    letter-spacing:1px;




}
.opac_table_textbox
{
    color:black;
    font-family:Tahoma;
    font-size:12px;
    text-align:left;
    letter-spacing:1px;
    width:148px;
    valign:bottom;



}


.opac_mandatory
{
    color:red;
}

.opac_search_bar
{

}

     .rows          { background-color: white;height:15px ;}
     .hiliterows    { background-color: pink; color: #000000; font-weight: bold; }
     .alternaterows { background-color: #efefef; }
     .header        {background-color: 7697BC;color:black;font-weight: bold;text-decoration: none;padding-left: 10px; }

     .datagrid    a {  font-family: arial; font-size: 9pt;
	    font-weight: normal;text-decoration: none;color:black; }
     .item{ padding-left: 10px;}
     .login{

         width:160px;height:18px;background-color:#FFFFFF;border-color:#BFDBFF;border-width:1px;border-style:solid;color:#006BF5;font-family:Verdana;font-size:11px;
}




.textBoxWidth {
    width:200px;
}

.txtStyle
    {
       font-family:Tahoma;
    font-size:12px;
    letter-spacing:1px;
     padding-left:5px;
     color:black;
     
}
.headerStyle{
font-family: Tahoma;
font-size: 15px;
color:black;
  background-color: #E0E8F5;
  font-weight: bold;
}
.mandatory{
    font-family: Tahoma;
    color: blue;
    font-size: 12px;
}
.star{
    color: red;
    font-size: 14px;
}

.table{
    
    border:1px solid #CCCCCC;
}

.txtnormalStyle
    {
       font-family:Tahoma;
    font-size:12px;
    letter-spacing:1px;
     padding-left:5px;
     color:black;

}



.logintxtStyle
    {
       font-family:Tahoma;
    font-size:12px;
    letter-spacing:1px;
     padding-left:5px;
      color: #006BF5;

}

.loginemailbox
{
border:solid 1px #BFDBFF;
color:#006BF5;
font-family:Tahoma;
font-size:12px;
height:150px;
width:300px;
}

.txtloginTextBox
{
width:160px;
height:18px;
background-color:#FFFFFF;
border-color:#BFDBFF;
border-width:1px;
border-style:solid;
color:#006BF5;
font-family:Verdana;
font-size:11px;
}

.loginreg
{

color:#006BF5;
font-family:Tahoma;
font-size:12px;
}



.loginbtnStyle
    {
       font-family:Tahoma;
    font-size:12px;
    letter-spacing:1px;
     padding-left:5px;
      color: black;

}


.txtTextBox
{
width:160px;
height:18px;
background-color:#FFFFFF;
border-color:black;
border-width:1px;
border-style:solid;
font-family:Verdana;
font-size:11px;
}

.develope
{

height:18px;
background-color:red;
color:white;
text-decoration: bold;
text-align: center;
font-family:Verdana;
font-size:12px;
}

.superadminbar a{



    text-decoration:none;font-family: Arial;color:white;font-size: 13px;
    

}
.superadminbar {



    text-decoration:none;font-family: Arial;color:white;font-size: 13px;


}

.logout a{
    font-family:arial;
    color:brown;
    font-size:12px;
    text-decoration: none;
}