#*
 * @(#) Academic_Event.vm
 * Copyright (c) 2007,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:smita37uiet@gmail.com">Smita</a>
 * @author <a href="mailto:rekha20july@gmail.com">Rekha Devi Pal</a>
 * @modified date: 07-12-2010,12-03-2013, 13-03-2014
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" src="/brihaspati2/scrpts/Academic_Event.js">
        </script>

</head>
<body>
#set($lang = $data.getUser().getTemp("lang").toString())
## Representation of TOP BAR
<table width=100%>
        <tr bgcolor="$ui.menuColor" align="right"><td colspan=10>
			##if($data.getUser().getUserName() == "admin")
			$page.setTitle("Admin Home ")
			<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
	<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","personal") style=text-decoration:none>$brih_calendar</a> |
	$brih_col1
</tr>
## Representation of HELP link

##<table width=100% align=left bgcolor="$ui.menuColor">
        <tr bgcolor="$ui.tableColor">
                <td>
<a href=javascript:popupWin("/brihaspati/docs/acdcal.html","newWin") style='text-decoration:none'>$brih_help</a><img src="$content.getURI("/images/lefthand.gif")">
	<td colspan=5 align="right"><i>$brih_nt</i></td>
                </td>
        </tr>
##</table>
##</body>
##set($month=["01","02","03","04","05","06","07","08","09","10","11","12"])
##<form name=frm method="post" action="$link.setAction("AcademicAction").setPage("call,EventMgmt_Admin,Academic_Event.vm")">

  ##<table align=left bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor" align="right">
	<td colspan=10><b><i> #if($lang == "hindi" || $lang == "gujarati") $brih_col1 $brih_add #else  $brih_add $brih_col1 #end </i></b></td>
	</tr>
	</table>
#set($month=["01","02","03","04","05","06","07","08","09","10","11","12"])
<form name=frm method="post" action="$link.setAction("AcademicAction").setPage("call,EventMgmt_Admin,Academic_Event.vm")">
 <table align="right" bgcolor="$ui.tableColor" width=100%>
	##if(($mode==" ") || ($actionName=="eventSubmit_doInsert") ||($actionName=="eventSubmit_doUpdate"))
        <tr bgcolor="$ui.tableColor" align="right">
             	<td colspan=3>
		<select class="drop" name="Start_mon" id="u1" size="1" onChange="checkoption(document.frm,this);"/>
                        ##<select class="drop" name="vmonth" id="u1" size="1" onChange="checkoption(document.frm,this);"/>

                        #if($vmonth!="")
                        <option>$vmonth</option>
                        #end
                         #foreach($mon in $month)
                                        #if($mon!=$vmonth)
                                        <option value="$link.setPage("call,EventMgmt_Admin,Academic_Event.vm").addPathInfo("vmonth",$mon)">$mon</option>
                                        #end
                                </option>

                         #end
                        </select>
			&nbsp<font size=+1>.</font>&nbsp
                        <select class="drop" name="Start_year" id="u2" onChange="checkoption(document.frm,this);">

                        #if($vyear!="")
                        <option>$vyear</option>
                        #end
                        #foreach($year in $year_list)
                                #if($vyear!=$year)
                                <option value="$link.setPage("call,EventMgmt_Admin,Academic_Event.vm").addPathInfo("vmonth",$vmonth).addPathInfo("vyear",$year)">$year

                                #end
                        #end
                        </select>
            	<td width="25%">$brih_Da</td>

                </td>
	</tr>		
	#set ($event1="$brih_acd")
	#set($event2="$brih_col2")
	<tr bgcolor="$ui.menuColor" align="right">
		<td colspan=3>
		<select name="etype" class="drop" id="u" onChange="checkoption(document.frm,this);">
			#if($etype=="Academic")
				<option value="Academic">$brih_acd</option>
			#else if($etype=="Holidays")
				<option value="Holidays">$brih_col2</option>
			#end
				#if($etype!="Academic")
                        ##<option value="$link.setPage("call,EventMgmt_Admin,Academic_Event.vm").addPathInfo("vmonth",$vmonth).addPathInfo("vyear",$vyear).addPathInfo("etype","Academic")">$event1
			<option value="$link.setPage("call,EventMgmt_Admin,Academic_Event.vm").addPathInfo("vmonth",$vmonth).addPathInfo("vyear",$vyear).addPathInfo("etype","Academic")">$brih_acd
                        </option>
				#else 
                               ##<option value="$link.setPage("call,EventMgmt_Admin,Academic_Event.vm").addPathInfo("vmonth",$vmonth).addPathInfo("vyear",$vyear).addPathInfo("etype","Holidays")">$event2
				<option value="$link.setPage("call,EventMgmt_Admin,Academic_Event.vm").addPathInfo("vmonth",$vmonth).addPathInfo("vyear",$vyear).addPathInfo("etype","Holidays")">$brih_col2
	                      </option>
	
		     #end
                        </select>

		</td>
        	<td>$brih_Ev #if($lang =="hindi") $brih_Of2 #end $brih_type</td>
	</tr>
	##end
	<tr bgcolor="$ui.tableColor" align="right">
                <td colspan=3>
		<a href=javascript:popupWin("/brihaspati2/docs/acdevent.html","newWin");>$brih_hint</a>
                 <textarea name="detail" wrap="physical" rows=4 cols=50>$!detail</textarea>
                </td>
                <td>$brih_Ev</font></td>
        </tr>
        <tr bgcolor="$ui.menuColor" align="right">
                <td colspan=4>
        #if($detail=="")
         <input type=button class="button-ftextstyle" name="eventSubmit_doSave" value="$brih_save" onClick="checkList(document.frm,this);"/>
        #else
                <input type=button class="button-ftextstyle" name="eventSubmit_doUpdate" value="$brih_save" onClick="checkList(document.frm,this);"/>
        #end
                </td>
        </tr>
</table>
<input type="hidden" name="val">
<input type="hidden" name="actionName">
##<input type ="hidden" name="detail" value="$element">
<input type ="hidden" name="date" value="$date">
<input type="hidden" name="type" value="check">
<input type="hidden" name="maxValue" value="$maxValue">
</form>

<SCRIPT LANGUAGE="javascript">
	 function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=200,width=300,align=center");
        }

       /* function checkEvent(frm,field)
        {
          	if((frm.event.value!="") && (frm.etype.value!=""))
          	{
          		frm.actionName.value=field.name;
                	frm.submit();
		}
        	else 
        	{
        		alert("Please Write the events");
        	}
	}
        function checkList(frm,field)
        {
          	if(frm.detail.value!="") 
          	{
          		frm.actionName.value=field.name;
                	frm.submit();
		}
        	else 
        	{
        		alert("Please Write the events");
        	}
	}

        function checkData(frm,field)
        {
          	if((frm.Start_mon.value!="") && (frm.Start_year.value!="") && (frm.etype.value!=""))
          	{
          		frm.actionName.value=field.name;
                	frm.submit();
		}
	}
	function checkoption (frm,field)
	{
        	frm.val.value=document.frm.etype.value;
	}*/
	function checkoption(frm,field)
        {
                if(document.getElementById=="u1"){
                frm.val.value=document.frm.Start_mon.value;
                //alert("1--------"+frm.val.value);
                }
                else if(document.getElementById=="u2")
                {
                        frm.val.value=document.frm.Start_year.value;
                }
                else
                {
                        frm.val.value=document.frm.etype.value;
                }
                window.location = field.value;
                //alert("-------4-----------");
        }
	/*function checkList(frm,field)
        {
		if(frm.detail.value!="")
                {

                        frm.actionName.value=field.name;
                        frm.submit();
		}else
		{
                        alert("Please Write the events");
                }

        }
	function checkList1(frm,field)
        {
		frm.actionName.value=field.name;
                        frm.submit();
	}*/
	

</SCRIPT>
