#*
 * @(#) List_Mgmt.vm
 * Copyright (c) 2004 - 2005, 2009, 2010,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@gmail.com">Shaista</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @author <a href="mailto:chaudharydeepika88@gmail.com">Deepika Chaudhary</a>
 * @modified date: 22-11-2010, 31-01-2011,21-06-2013
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | User Management")
$page.setBgColor("#ffffff")

#set($lang = $data.getUser().getTemp("lang" ).toString()) 

##<table bgcolor="#d9e3ec" width=100% cellspacing=0>
$!data.getMessage()
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<div class="scroll">
<table bgcolor="$ui.tableColor" width="100%">
<tr bgcolor="$ui.menuColor">
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
	#if($listcourse=="")
     	<a href=$link.setPage("Index.vm") style="text-decoration:none">$brih_ad $brih_home</a> |$brih_list_mgmt 
	#else
     	<a href=$link.setPage("Index.vm") style="text-decoration:none">$brih_ad $brih_home</a> | 
	<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionstat","Edit").addPathInfo("count","1") style="text-decoration:none">$brih_list_mgmt</a> |
        #if($mode!="Search")
		$brih_view_all1
        #else
                $brih_view_sel
        #end
	</td>
	<td align="right">
        #if( $total_size!=0 )
        #if( $endIndex < $total_size )
                #if( $endIndex < $AdminConf )
	                #if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_Of $total_size #end
                #else
                	#if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $endIndex] #else [$k - $endIndex] $brih_Of $total_size #end
                #end
        #else
        	##[$k - $total_size] of $total_size
		#if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_Of $total_size #end
        #end
        #end
        </td>
	#end
        <td align="right">
                <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/ListManagement.html","newWin"); style=text-decoration:none><font size=4>Help</font></a>
        </td>
</tr>
</table>
<table width="100%" align="left" bgcolor="$ui.tableColor">
<tr>
#if($tdcolor != "1")
	<td width="50%"> 
#elseif($tdcolor == "1")
	<td width="50%" bgcolor="#AFDCEC">
#end
<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit").addPathInfo("count","1") style="text-decoration:none"> $brih_view_all1</a></td>
#if($tdcolor != "2")
	<td width="50%"> 
#elseif($tdcolor == "2")
	<td width="50%" bgcolor="#AFDCEC">
#end 
        <a href=$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").addPathInfo("mode","All").addPathInfo("count","2") style="text-decoration:none"> #if($lang == "hindi" || $lang == "gujarati") $brih_all $brih_usr $brih_Of1 $brih_view  #else $brih_view_all $brih_usr #end </a>
        </td>  
	</tr>
##  </table>
#if($listcourse =="listcourse")
<form name="frm" method="post" action="$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm")">
<table width="100%" align="left" bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor">
## **************** Search By Institute *****************
	
                <td><b> #if($lang == "hindi" || $lang == "gujarati") $RemoteInstitute $brih_searchBy #else $brih_searchBy $RemoteInstitute #end </b></td>
                <td align=left>
			<select class="drop" name="ciname" size="1" onChange="Changename(document.frm,this);" style="width:250px;">
				#if($mode != "All")
                                <option value="$ciid">$cinme</option>
				#end
                                <option>  </option>
                                #foreach ($iname in $instdetail)
                                        <option value="$iname.getInstituteId()" title="$iname.getInstituteName()" style="width:275px;">$iname.getInstituteName()</option>
                                #end
                        </select>
		</td>
                <td><b>$brih_searchBy</b></td>
                <td align=left>
                        <select class="drop" name="queryList">
                                <option value="CourseId"> $brih_course #if($lang == "hindi") $brih_Of1  #end $brih_ID</option>
                                <option value="Course Name"> $brih_course #if($lang == "hindi") $brih_Of1  #end $brih_name</option>
                                <option value="Dept"> $brih_dept </option>
                        </select>
                </td>
                <td align=left><b>$brih_match_str</b></td>
                <td align=left>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input class="button-ftextstyle" type="button" name="Search" value=$brih_search onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                        <input type="hidden" name="listcourse" value="listcourse">
                        <input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr>
</table>

#if($status=="Noblank")
	#if($lang == "hindi")
		#set($headings = ["","$brih_course $brih_Of1 $brih_ID","$brih_course $brih_Of1 $brih_name","$brih_dept","$brih_desc","$brih_creation $brih_Da","$brih_status",""] )
	#else
		#set($headings = ["","$brih_course $brih_ID","$brih_course $brih_name","$brih_dept","$brih_desc","$brih_creation $brih_Da","$brih_status",""] )
	#end
<table bgcolor="$ui.tableColor" align="center" width="100%" >
  <tr>
        <tr>
          #foreach($heading in $headings)
                  #headerCell($heading)
          #end
        </tr>
        #foreach($entry in $courseDetail)
	#if($velocityCount%2==0)
        <tr bgcolor="$ui.tableColor">
	#else

	#end
                  <td>
                        <font face="$ui.sansSerifFonts">
                        $brih_login_ins
                        </font>
                  </td>
                  <td>$entry.getGroupName()</td>
                  <td>
                        <font face="$ui.sansSerifFonts">
                        $entry.getCourseName()
                        </font>
                        </td>
                  <td>$entry.getDept()</td>
                  <td>$entry.getDescription()</td>
                  <td>$entry.getCreateDate()</td>
                  #if($entry.getActive()=="1")
                  <td><font bgcolor="$ui.tableColor" color="Green">$brih_active</font></td>
                  #else
                  <td><font bgcolor="$ui.tableColor" color="Red">$brih_inactive</font></td>
                  #end
                  <td>
		 <font face="$ui.sansSerifFonts">
          <a href=$link.setPage("call,CourseMgmt_Admin,EditCourse.vm").addPathInfo("gName",$entry.getGroupName()).addPathInfo("count","1") style="text-decoration:none">$brih_edit</a>
                        </font>
                 </td>
        </tr>
        #end
</td></tr>
         <tr bgcolor="$ui.menuColor">
         <td colspan="8">
         #if($mode!="Search")
         #if($total_size<= $AdminConf)
         <img src="$content.getURI("images/First_blank.png")">
         <img src="$content.getURI("images/Next_blank.png")">
         <img src="$content.getURI("images/Previous_blank.png")">
         <img src="$content.getURI("images/Last_blank.png")">
          #elseif($startIndex== $AdminConf_str)
         <img src="$content.getURI("images/First_blank.png")">
         <img src="$content.getURI("images/Previous_blank.png")">
			 <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Next.png")"></a>
 <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Last.png")"></a>
         #elseif($endIndex == $total_size || $endIndex > $total_size)
      <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/First.png")"></a>
    <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Previous.png")"></a>
         <img src="$content.getURI("images/Next_blank.png")">
         <img src="$content.getURI("images/Last_blank.png")">
          #else
	 <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathinfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/First.png")"></a>
 <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Previous.png")"></a>
     <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Next.png")"></a>
     <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Last.png")"></a>
     #end
     #else
         #if($total_size<= $AdminConf)
         <img src="$content.getURI("images/First_blank.png")">
         <img src="$content.getURI("images/Next_blank.png")">
         <img src="$content.getURI("images/Previous_blank.png")">
         <img src="$content.getURI("images/Last_blank.png")">
          #elseif($startIndex== $AdminConf_str)
         <img src="$content.getURI("images/First_blank.png")">
         <img src="$content.getURI("images/Previous_blank.png")">
       <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Next.png")"></a>
      <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Last.png")"></a>
         #elseif($endIndex == $total_size || $endIndex > $total_size)
      <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor)style="text-decoration:none"><img src="$content.getURI("images/First.png")"></a>
       <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor)style="text-decoration:none"><img src="$content.getURI("images/Previous.png")"></a>
         <img src="$content.getURI("images/Next_blank.png")">
         <img src="$content.getURI("images/Last_blank.png")">
          #else
        <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/First.png")"></a>
       <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Previous.png")"></a>
        <a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Next.png")"></a>
	<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("ciname",$ciid).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style="text-decoration:none"><img src="$content.getURI("images/Last.png")"></a>
     #end
    #end
    </td>
 </tr>
</table>
</div>
#end
</form>
<br>
<table width=100% bgcolor="$ui.tableColor" align=left>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="$ui.menuColor">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">User Name <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>
#end

</table>
</body>
<SCRIPT language="JavaScript">
	function Changename(frm,field)
        {
                if(frm.ciname.value!="")
                frm.submit();

        }
</SCRIPT>
