.scroll_up{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
        background:url('../images/scrollup.png')  no-repeat 0px 20px;
	background-position:50% 50%;
	width:25px;
	height:25px;
	bottom:800px;
	top:500px;
	opacity:1;
	left:96%;
	white-space:nowrap;
	cursor: pointer;
}
.scroll_down{
	padding:7px;
	background-color:blue;
	border:1px solid #CCC;
	position:fixed;
        background:url('../images/scrolldown.png')  no-repeat 0px 20px;
	background-position:50% 50%;
	width:25px;
	height:25px;
	top:450px;
	bottom:10px;
	opacity:100%;
	left:96%;
	white-space:nowrap;
	cursor: pointer;
}

