#backToTop {
    visibility:hidden;
    top:400px;
    right:20px;
    position:fixed;
}
scrolltotop
{
    position:fixed;
    top:300px;
    right:20px;
}
scrolltobottom
{
    position:fixed;
    top:30px;
    right:5px;
}
