#*
 * @(#)AnnounceExam_Manage.vm
 * Copyright (c) 2010-13 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:aayushi.sr@gmail.com ">Aayushi</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * @modify date: 14aug2013
 * Contributors: Members of MHRD Project DEI Agra
*#
$page.setTitle("Announce Exam")
$page.setBgColor("bgcolor")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
	<tr><td><b>
		<a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_home</a>|
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$course</a> |
		<a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1")  style='text-decoration:none'> $online_online $brih_examat $brih_system</a>|
		#if($lang=="hindi")$brih_exam $brih_QDannounce #else $brih_QDannounce $brih_exam #end
	</b></td>
## Creating the links for help regarding FAQ 
		<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/OLES_Quiz.html","newWin")  style='text-decoration:none'>$brih_help</a></td>
	</tr>
</table>

<form name="frm" method="post" enctype="multipart/form-data" action=$link.setPage("call,OLES,Announce_Exam.vm").setAction("OLES_Quiz")>
<table width="100%">
	<tr bgcolor="$ui.tableColor">
		#if($tdcolor != "1")
			<td>
		#elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style=text-decoration:none>$brih_queBank</b></a></td>
		#if($tdcolor != "2")
		        <td>
		#elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1").addPathInfo("mode","quizSetup") style=text-decoration:none> #if($lang=="hindi") $brih_exam $brih_generate #else $brih_generate $brih_exam #end</b></a></td>
		#if($tdcolor != "3")
		        <td>
		#elseif($tdcolor == "3")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,AnnounceExam_Manage.vm").addPathInfo("count","3") style=text-decoration:none> #if($lang=="hindi")$brih_exam $brih_QDannounce #else $brih_QDannounce $brih_exam #end</b></a></td>
			#if($tdcolor != "6")
                                <td>
                         #elseif($tdcolor == "6")
                <td bgcolor="#AFDCEC>
            #end
                <b><a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","6").addPathInfo("flag","security") style=text-decoration:none>$brith_security &nbsp;&nbsp;</b></a></td>

		#if($tdcolor != "4")
			<td>
		#elseif($tdcolor == "4")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","4") style=text-decoration:none>$brih_evaluation &nbsp;&nbsp;</b></a></td>
		#if($tdcolor != "5")
			<td>
		#elseif($tdcolor == "5")
		        <td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","5").addPathInfo("type","result") style=text-decoration:none>$brih_result &nbsp;&nbsp;</b></a></td>
           	#if($tdcolor != "7")
				<td>
			 #elseif($tdcolor == "7")
            	<td bgcolor="#AFDCEC>
            #end
           	<b><a href=$link.setPage("call,OLES,OLES_ReEvaluation.vm").addPathInfo("count","7") style=text-decoration:none>$brih_reevaluation &nbsp;&nbsp;</b></a></td>

		#if($tdcolor != "8")
                <td>
                #elseif($tdcolor == "8")
                <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,PracticeQuizInfo.vm").addPathInfo("count","8") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati")$brih_practice $brih_quiz $brih_of1 $brih_qinfo #else $brih_practice $brih_quiz $brih_qinfo #end</b></a></td>
	</tr>
</table>

##Drop down list to select a quiz
	<table align="center" width="100%" bgcolor="$ui.tableColor">
#if($quizList.size()!=0)
	<tr bgcolor="$ui.menuColor">
		<td align="left">
	      		<b> $brih_select  $brih_quiz </b>
	   	</td>
#end
	   	<td  align="left">
	        	#if($isFile!="")
	        		#if($quizList.size()!=0)
	        			<select name=quizList class="drop">
						#foreach($qid in $quizList)
						
		        				<option value="$qid.getQuizID(),$!qid.getExamDate()">
							#if($qid.getAllowPractice()=="yes")
                                				$qid.getQuizName() ( $brih_practice $brih_quiz )
                        				#else
                                				$qid.getQuizName()
                        				#end   
							</option>
	        				#end
	        			</select> &nbsp;
	        			<input type="button" class="button-ftextstyle" name="eventSubmit_announceExam" value="$brih_submit" onClick="checkValue(document.frm,this);">
					&nbsp;&nbsp;&nbsp;
				#else
		<td bgcolor="$ui.menuColor" align="center" width="100%">
					$brih_No_NewQuiz
				#end	
			</td>
			
	        	#else
		<td bgcolor="$ui.menuColor" align="center" width="100%">
	        		$brih_No_NewQuiz
	        	#end
		</td>
</td>
	</tr>
</table>
<input type="hidden" name="count" value="3">
<input type="hidden" name="quizID" value="">
<input type="hidden" name="actionName" value="">
<input type="hidden" name="mode" value="">
</form>
<script LANGUAGE="JAVASCRIPT">
	function popupWin(url,popupName){
    		Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=200,width=300,align=center");
   	}

	function checkValue(frm,field){		
		if(frm.quizList.value !=""){			
			frm.actionName.value=field.name;			
			var temp = new Array();
			temp = ((frm.quizList.options[frm.quizList.selectedIndex].value).split(","));
			frm.quizID.value = temp[0];	
			//alert(temp[1]);
			if(temp[1]==""){
				frm.mode.value="new";
				//frm.count.value="1";
				}
				else{
				frm.mode.value="update";
				//frm.count.value="2";
				}
			//frm.quizID.value=frm.quizList.options[frm.quizList.selectedIndex].value;
			frm.submit();
		}
		else
			alert("Please Select the Quiz !!");
	}	
</script>
