#*
 * @(#) Evaluate.vm
 * Copyright (c) 2010-13 DEI Agra, 2013 IITK.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * @author <a href="mailto:jaivirpal@gmail.com ">Jaivir Singh</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * Contributors: Members of MHRD Project DEI Agra, IITK
 * @modified date: 22may2013(Manorama Pal),14aug2013
*#

$page.setTitle("quiz Evaluation")
$page.setBgColor("bgcolor")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($cnm = $data.getUser().getTemp("course_name" ).toString())
<table bgcolor="$ui.menuColor" width=100%>
        <tr><td><b>
                <a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_home</a> |
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$cnm</a> |
                <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style='text-decoration:none'> $online_online $brih_examat $brih_system</a>|
                #if($!type == "result")
                	$brih_result
                #else
			$brih_evaluate
		#end
	</b></td>
##index of paginations
	<td align=right>
        	#if( $total_size!=0 )
                	#if( $endIndex < $total_size )
                        	#if( $endIndex < $userConf )
                                       #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                                #elseif($k == $j)
                                        ##[$k - $total_size] of $total_size
                                       #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                                #else
                                        ##[$k - $endIndex] of $total_size
                                       #if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $endIndex] #else [$k - $endIndex] $brih_of $total_size #end
                                #end
                        #else
                                ##[$k - $total_size] of $total_size
                               #if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
                        #end
                #end

        </td>
## Creating the link for help 
	<td align=right>
		<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/Quizstudent.html","newWin") style='text-decoration:none'>$brih_help</a>
	</td>
</tr>
</table>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Evaluate.vm").setAction("OLES_AttemptQuiz")>
<table width="100%" bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.tableColor">
		#if($tdcolor != "1")
			<td>
		#elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style=text-decoration:none>$brih_queBank</b></a></td>
		#if($tdcolor != "2")
		        <td>
		#elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1").addPathInfo("mode","quizSetup") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati") $brih_exam $brih_generate  #else $brih_generate $brih_exam #end</I></b></a></td>
		#if($tdcolor != "3")
		        <td>
		#elseif($tdcolor == "3")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,AnnounceExam_Manage.vm").addPathInfo("count","3") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati") $brih_exam $brih_QDannounce #else $brih_QDannounce $brih_exam #end</I></b></a></td>
			#if($tdcolor != "6")
                        <td>
                #elseif($tdcolor == "6")
                <td bgcolor="#AFDCEC>
        #end
        <b><a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","6").addPathInfo("flag","security") style=text-decoration:none>$brith_security &nbsp;&nbsp;</b></a></td>
		#if($tdcolor != "4")
			<td>
		#elseif($tdcolor == "4")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","4") style=text-decoration:none>$brih_evaluation &nbsp;&nbsp;</b></a></td>
		#if($tdcolor != "5")
			<td>
		#elseif($tdcolor == "5")
	        <td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","5").addPathInfo("type","result") style=text-decoration:none>$brih_result &nbsp;&nbsp;</b></a></td>
         #if($tdcolor != "7")
			<td>
		#elseif($tdcolor == "7")
           	<td bgcolor="#AFDCEC>
        #end
        <b><a href=$link.setPage("call,OLES,OLES_ReEvaluation.vm").addPathInfo("count","7") style=text-decoration:none>$brih_reevaluation &nbsp;&nbsp;</b></a></td>
	#if($tdcolor != "8")
                <td>
                #elseif($tdcolor == "8")
                <td bgcolor="#AFDCEC">
        #end
        <b><a href=$link.setPage("call,OLES,PracticeQuizInfo.vm").addPathInfo("count","8") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati")$brih_practice $brih_quiz $brih_of1 $brih_qinfo #else $brih_practice $brih_quiz $brih_qinfo #end</I></b></a></td>
	</tr>
</table>	
<table width="100%" >
	<tr bgcolor="$ui.menuColor" >
		<td colspan="6"><b> $brih_quiz $brih_name  </b></td>
		<td width="80%">
        	<SELECT name=quizlist class="drop" onChange="checkField(document.frm,this);" >
			#if($!quizID=="")       		
			<option>$brih_select $brih_quiz</option>
			#else
                                <option value="$!quizName">$!quizName</option>  #end			
				#foreach($topic in $quizList)
					#if($!topic.getQuizID()==$!quizID)
					 <option value="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("quizID",$!topic.getQuizID()).addPathInfo("quizName",$!topic.getQuizName()).addPathInfo("count",$tdcolor).addPathInfo("type",$type)"style="width:175px;">$!topic.getQuizName()</option>
					#else
					 <option value="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("quizID",$!topic.getQuizID()).addPathInfo("quizName",$!topic.getQuizName()).addPathInfo("count",$tdcolor).addPathInfo("type",$type)"style="width:175px;">$!topic.getQuizName()</option>
					#end               		 		
				#end			
    		</SELECT>
	</tr>
</table>
<table width="100%" >
		#if($type=="result" && $quizID!="")
		#if($flag==false)
                #set($headings=["","$brih_student $brih_name","$brih_score/$brih_total $brih_marks","$brih_percentage","$brih_min $brih_passing $brih_marks","$brih_result","$brih_answer $brih_sheet"])
		#else
                #set($headings=["$brih_student $brih_name","$brih_score/$brih_total $brih_marks","$brih_percentage","$brih_min $brih_passing $brih_marks","$brih_result","$brih_answer $brih_sheet"])
		#end
                <tr bgcolor="$ui.tableColor">
                        #foreach($heading in $headings)
                        <td align="left">
                                <b>$heading</b>
                        </td>
                        #end
                </tr>
                #end
                #set($coun="")
		#foreach($det in $details)
			#if($velocityCount%2==0)
                                <tr bgcolor="$ui.menuColor">
                        #else
                                <tr bgcolor="$ui.tableColor">
                        #end
			#if($type=="result" && $flag==false)
                        <td>
				#if($!det.evaluate=="complete")
                                <INPUT TYPE="CHECKBOX" NAME="$det.studentLoginName" VALUE="$det.studentLoginName" onClick="addDeleteList(this,document.frm);" DISABLED>
				#else
                                <INPUT TYPE="CHECKBOX" NAME="$det.studentLoginName" VALUE="$det.studentLoginName" onClick="addDeleteList(this,document.frm);">
				#end
                        </td>
                        #end
			<td>$det.studentLoginName</td>
			#if($type=="result")
			#if($!det.evaluate!="complete" && $flag==true)
			<td><font color="red">$brih_noevaluateQuiz</font></td>
			<td><b></b></td>
			#else
                        <td><b>$!det.studentMarks/$!maxMarks</b></td>
                        <td><b>$!det.percentageScore %</b></td>
			#end
                        <td>$!passingMarks</td>
			#if($!det.evaluate!="complete" && $flag==true)
                        <td><b><i></i></b></td>
			#else
                        <td><b><i> $!det.finalResult </i></b></td>
			#end
                        <td><a href=$link.setPage("call,OLES,Quiz_Score.vm").setAction("OLES_AttemptQuiz").addPathInfo("quizID",$det.quizId).addPathInfo("quizName",$quizName).addPathInfo("studentLoginName",$det.studentLoginName).addPathInfo("count",$tdcolor).addPathInfo("answerSheetFlag","yes").addPathInfo("actionName","eventSubmit_ViewAnswerSheet") onclick="showAnswerSheet(document.frm,this);" style=text-decoration:none>AnswerSheet</a></td>
                #set($coun="$coun$det.studentLoginName^") 
			#else
			#if($!det.evaluate=="complete")
			<td width="50%"><a href=$link.setPage("call,OLES,Evaluate.vm").setAction("OLES_AttemptQuiz").addPathInfo("quizId",$det.quizId).addPathInfo("quizName",$quizName).addPathInfo("studentLoginName",$det.studentLoginName).addPathInfo("count",$tdcolor).addPathInfo("actionName","eventSubmit_Evaluate") onclick="this.removeAttribute('href');this.className='disabled'" style=text-decoration:none>$brih_evaluate</a></td>
			#else
			<td width="50%"><a href=$link.setPage("call,OLES,Evaluate.vm").setAction("OLES_AttemptQuiz").addPathInfo("quizId",$det.quizId).addPathInfo("quizName",$quizName).addPathInfo("studentLoginName",$det.studentLoginName).addPathInfo("count",$tdcolor).addPathInfo("actionName","eventSubmit_Evaluate") style=text-decoration:none>$brih_evaluate</a></td>
			#end
			#end
		</tr>
		#end
		#if($type=="result" && $quizID!="" && $flag==false)
                <tr bgcolor="$ui.menuColor" >
                <td colspan="7">
                <input type="CHECKBOX" name="checkAll" onClick=selectAll(this);>
                <font face="$ui.sansSerifFonts"><b>$brih_selAll</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" class="button-ftextstyle" name="eventSubmit_Result_Vecrification" value="$brih_verify" onClick="resultverify(document.frm,this);"/>
                <input type="reset" value="$brih_reset" class="button-ftextstyle">
                </td>
        	</tr>
        	#end  
		#if( $total_size!=0 )
                        <table bgcolor="#e5e5e5" width="100%"><tr bgcolor="$ui.menuColor"><td align="left">
                         #if($total_size <= $userConf)
                        <img src="$content.getURI("images/First_blank.png")">
                        <img src="$content.getURI("images/Previous_blank.png")">
                        <img src="$content.getURI("images/Next_blank.png")">
                        <img src="$content.getURI("images/Last_blank.png")">
                        #elseif($startIndex == $userConf_string)
                        <img src="$content.getURI("images/First_blank.png")">
                        <img src="$content.getURI("images/Previous_blank.png")">
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$startIndex).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/Next.png")"></a>
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$check_last).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/Last.png")"></a>
                        #elseif($endIndex == $total_size || $endIndex > $total_size)
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$check_first).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/First.png")"></a>
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$check_pre).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/Previous.png")"></a>
                        <img src="$content.getURI("images/Next_blank.png")">
                        <img src="$content.getURI("images/Last_blank.png")">
                        #else
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$check_first).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/First.png")"></a>
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$check_pre).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/Previous.png")"></a>
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/Next.png")"></a>
                        <a href="$link.setPage("call,OLES,Evaluate.vm").addPathInfo("startIndex",$check_last).addPathInfo("quizID",$quizID).addPathInfo("quizName",$quizName).addPathInfo("count",$tdcolor).addPathInfo("type",$type)" style='text-decoration:none'><img src="$content.getURI("images/Last.png")"></a>
                        #end
                        </td></tr></table>
                #end                  
	#if($longtype == false)
	<tr bgcolor="$ui.tableColor" >
		<td align=center colspan=3 >
	        	<input type="button" class="button-ftextstyle" name="eventSubmit_doGrade" value="$brih_submit" onClick="checkField1(document.frm,this);"/>
		<input type="hidden" name="check" value="$flg">
			<input type="hidden" name="long_short" value="$long_short" />
			<input type="reset" name="Reset" class="button-ftextstyle" value="$brih_reset" /> 
			<input type="hidden" name="deleteFileNames" value="">		
			<input type="hidden" name="message" value="">
			<input type="hidden" name="startIndex" value= "$startIndex" >
		</td>
	</tr>
	#end
	<input type="hidden" name="actionName">
	<input type="hidden" name="type" value="$!type">
	<input type="hidden" name="count" value="$!tdcolor">
	<input type="hidden" name="quizID" value="$!quizID">
	<input type="hidden" name="studentLoginName" studentLoginName>
	<input type="hidden" name="quizName" value="$!quizName">
        <INPUT TYPE="hidden" NAME="deleteFileNames">
	<input type="hidden" name="answerSheetFlag" value="$!answerSheetFlag">
	</table>
  </div>
</form>
</body>

<SCRIPT LANGUAGE="javascript">
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
	
	function checkField1(frm,field)
        {
		if( frm.minmarks.value!="") {
			if(isNumberString(frm.minmarks.value))
                       	{
				alert(" Marks should be positive !! ");
                               	frm.noofques.focus();
                               	return false;
			}
			var temp=frm.MaxGrade.value;
			var temp1=frm.minmarks.value;
			if( temp >= temp1 ) {
			      	frm.actionName.value=field.name;
                        	frm.submit();
			}
			else
				alert("Please check the Max Marks and Marks !!");
		}
		else 
			alert("Marks is not Blank ");
        }
	function isNumberString(chString)
        {
                if(chString.length==0)
                        return false;
                var RefString="0123456789";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
                                return true;
                        }
                }
                return false;
        }
	
function resultverify(frm,field){
       	if(frm.deleteFileNames.value!=""){
               	if(confirm('Do you want to verify the selected  student result')){
                       	frm.actionName.value=field.name;
                       	frm.submit();
               	}
               	else{
                       	return false;
               	}
       	}
       	else{
               	alert("Please select checkbox to verify the result !!");
       	}

}
function addDeleteList(field,frm){
        if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteFileNames.value;
                index=actualString.indexOf(field.name+"^",0);
                preString=actualString.substring(0,index);
                postString=actualString.substring(index+field.name.length+1);
                actualString=preString+postString;
                frm.deleteFileNames.value=actualString;
        }
}
function selectAll(field){
                if(field.checked){
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$coun";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 ){
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=true;
                        }
                }
                else{
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$coun";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 ){
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=false;
                        }
                        document.frm.deleteFileNames.value="";
                }
        }


        function checkField(frm,field){
		window.location = field.value;
        }
        function showAnswerSheet(frm,field){
                frm.actionName.value=field.name;
                frm.answerSheetFlag.value="yes";
                frm.submit();
        }
</SCRIPT>
