#*
 * @(#) Evaluate_Quiz.vm
 * Copyright (c) 2010 DEI Agra, 2013 IITK.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * @author <a href="mailto:jaivirpal@gmail.com ">Jaivir Singh</a>
 * Contributors: Members of MHRD Project DEI Agra
*#

$page.setTitle("Quiz Evaluation")
$page.setBgColor($ui.bgcolor)

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## Retreiving the $lang (representing the choosen language for display, which was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())
## Creating the links for help regarding FAQ 
<table width="100%">
	<tr>
		<td align=left>
			## If some message has been set, that is retrieved and displayed.
			<font face="$ui.sansSerifFonts">
				$!data.getMessage()
			</font>
		</td>
		<td align=right>
			<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/Quizstudent.html","newWin");>$brih_help</a>
		</td>
	</tr>
</table>

#set($cnm = $data.getUser().getTemp("course_name" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
        <tr><td><b>
		<font face="$ui.sansSerifFonts">
                <a href=$link.setPage("Index.vm")>$brih_home</a> |
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cnm</a> |
                <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1")> $brih_onlineExamSystem</a>|
				<a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","4")>$brih_evaluation </a>|
				$!quizName             
    	</td>
	</tr>
</table>

<form name=frm method="post" action="$link.setPage("call,OLES,Evaluate_Quiz.vm").setAction("OLES_AttemptQuiz")">

<table width=100% bgcolor="$ui.tableColor">
	<tr>
		<td width="15%">
			<font color="$ui.fontColorBlue" size="4">$brih_quiz $brih_name:</font>
		</td>
		<td width="35%">
			$!quizName
		</td>
		<td width="15%">
			<font color="$ui.fontColorBlue" size="4">$brih_student $brih_name:</font>
		</td>
		<td width="35%">
			$!fullName ($!studentLoginName)
		</td>		
	</tr>

<table width=100% bgcolor="$ui.tableColor">
	#if($answerDetail.size()!=0)
	#foreach($answer in $answerDetail)
	#if($velocityCount%2==0)
		<tr bgcolor="$ui.tableColor">
	#else
		<tr bgcolor="$ui.menuColor">
	#end
		<td colspan="6">
		<table width=100% >
		<tr>
		<td width="5%">$velocityCount .
		</td>
		<td colspan="5">
			<table width=100% >
				<tr >
					<td width="30%"><b>$brih_qus</td>							
					<td colspan=4>$!answer.getQuestion()</td>
					<td align="right"><input type="text" ID="maxMarks$velocityCount" name="maxMarks$velocityCount" value="$answer.getMarksPerQuestion()" readOnly size="2%"></td>
				</tr>
				<tr>
					
						#if($!answer.getQuestionType()=="mcq")
						<td width="30%"><b>$brih_options</td>		
					<td colspan=4>
						<table width=100% >
						#set($A="")
						#set($B="")
						#set($C="")
						#set($D="")
						#if($!answer.getStudentAnswer()=="A")
							#set($A="checked")				
						#elseif($!answer.getStudentAnswer()=="B")				
							#set($B = "checked")
						#elseif($!answer.getStudentAnswer()=="C")				
							#set($C = "checked")
						#elseif($!answer.getStudentAnswer()=="D")				
							#set($D = "checked")
						#end
							<tr>
								<td align=left> <b> $brih_a </b>
						 			<input type="RADIO" name="answer$velocityCount" value="A" $!A disabled>$!answer.getOption1()						
       		        			</td>
								<td align=left ><b> $brih_b </b>
									<input type="RADIO" name="answer$velocityCount" value="B" $!B disabled>$!answer.getOption2()						
								</td>
							</tr>
							<tr>					
								<td align=left> <b> $brih_c </b>
									<input type="RADIO" name="answer$velocityCount" value="C" $!C disabled>$!answer.getOption3()	
            					</td>
        						<td align=left> <b> $brih_d </b>
           							<input type="RADIO" name="answer$velocityCount" value="D" $!D disabled>$!answer.getOption4()	
            					</td>
							</tr>
					</table></td></tr>
						#elseif($!answer.getQuestionType()=="tft")
						<td width="30%"><b>$brih_options</td>		
					<td colspan=4>
						<table width=100% >
							#if($!answer.getStudentAnswer()=="true")
								#set($A="checked")
								#set($B="")
							#elseif($!answer.getStudentAnswer()=="false")
								#set($A="")	
								#set($B = "checked")
							#elseif($!answer.getStudentAnswer()=="")
								#set($A="")	
								#set($B = "")
							#end
							<tr>
								<td align=left>
									<input type="RADIO" name="answer$velocityCount"  value="true" $!A disabled>True	
								</td>
								<td align=left>
									<input type="RADIO" name="answer$velocityCount" value="false" $!B disabled>False
								</td>	
							</tr>
							</table>
					</td>
				</tr>
						#end
						
				<tr>
					<td> <b> $brih_student  $brih_answer</td>
					#if($!answer.getStudentAnswer()!="")
					<td colspan=4>$!answer.getStudentAnswer()</td>
					#else
					<td colspan=4>$brih_notAttempted</td>
					#end
					<td align="right">
					#if($!answer.getQuestionType()=="mcq" || $!answer.getQuestionType()=="tft")
						
					#else
						
						#set($num="$velocityCount")

<input type="hidden" ID="quesID$velocityCount" name="quesID$velocityCount" value="$!answer.getQuestionID()">
<input type="hidden" ID="fileName$velocityCount" name="fileName$velocityCount" value="$!answer.getFileName()">
<input type="button" class="button-ftextstyle" name="eventSubmit_EvaluateQuestion" value="Save Evaluation" onClick="javascript:return saveEvaluation(document.frm,$!num);">
						
						##<a href=$link.setPage("call,OLES,Evaluate_Quiz.vm").addPathInfo("quesID",$!answer.getQuestionID()).addPathInfo("fileName",$!answer.getFileName()) onClick="javascript:return saveEvaluation(document.frm,$!num)">Save Evaluation </a>
					#end
					</td>					
				</tr>
				<tr >
					<td><b>$brih_correct $brih_answer</td>
					<td colspan=4>$!answer.getInstructorAnswer()</td>
				</tr>
				<tr>
					<td> <b> $brih_marks $brih_obtained</td>
					#if($!answer.getQuestionType()=="mcq" || $!answer.getQuestionType()=="tft")
						<td colspan=4><input type="text" ID="marks$velocityCount" name="marks$velocityCount" value="$!answer.getAwardedMarks()" readOnly size="2%"></td>
					#else
						<td colspan=4><input type="text" ID="marks$velocityCount" name="marks$velocityCount" value="$!answer.getAwardedMarks()" size="2%"></td>
					#end
				</tr>
			</table>
		</td>	
	</tr>
	</table>			
	#end
	<tr>
		<td>
			#if($flag)
			<input type="button" class="button-ftextstyle" name="eventSubmit_EvaluateQuestionDone" value="$brih_evaluationDone" onClick="saveEvaluation1(document.frm,this);"/>
			#end
		</td>
	</tr>
	#else
	<tr>
		<td colspan=5><font color="$ui.fontColorBlue" size="4"><b><i> $data.getMessage() !!!</i></b></font>
		</td>
	</tr>
	
	#end

<input type="hidden" name="actionName">
<input type="hidden" name="answerSheetFlag" value="$!answerSheetFlag">
<input type="hidden" name="maxMarks" value="$!maxMarks">
<input type="hidden" name="maxQuestion" value="$!maxQuestion">
<input type="hidden" name="quizName" value="$!quizName">
<input type="hidden" name="quizID" value="$!quizID">
<input type="hidden" name="studentLoginName" value="$!studentLoginName">
<input type="hidden" name="maxTime" value="$!maxTime">
<input type="hidden" name="awardedMarks">
<input type="hidden" name="quesID">
<input type="hidden" name="fileName">
<input type="hidden" name="count" value="$!tdcolor">
<input type="hidden" name="type" value="$!type">
</table>
</form>

<SCRIPT LANGUAGE="javascript">

 	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }

	function showAnswerSheet(frm,field){
		//frm.actionName.value=field.name;
		frm.answerSheetFlag.value="yes";
		frm.submit();
	}
	function saveEvaluation(frm,num){	
		var name = "marks"+num;
		var name1 = "maxMarks"+num;
		var quesName = "quesID"+num;
		var file = "fileName"+num;		
		marks = (document.getElementById(name).value);
		maxMarks = (document.getElementById(name1).value);
		quesID = (document.getElementById(quesName).value);
		fileName = (document.getElementById(file).value);	
		if(isNaN(marks)){
			alert("kindly give valid marks");
			document.getElementById(name).value="";
			document.getElementById(name).focus();
			return false;
		}
		else{
			if(marks>maxMarks){
				alert("Maximum marks for this question is :"+maxMarks+" and you have entered "+marks+ " marks");				
				document.getElementById(name).focus();
				return false;
			}
			else{
				document.frm.actionName.value="eventSubmit_EvaluateQuestion";
				document.frm.awardedMarks.value=marks;
				document.frm.quesID.value=quesID;
				document.frm.fileName.value=fileName;
				document.frm.submit();				
				//return true;
			}
		}	
	}
	function saveEvaluation1(frm,field){
				document.frm.actionName.value=field.name;
				document.frm.submit();
	}	
</SCRIPT>
