#*
 * @(#)Insert_Multiple.vm
 * Copyright(c)2010,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="palseema30@gmail.com">Manorama Pal</a>
 * @author <a href="jaivirpal@gmail.com">Jaivir Singh</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Enter the Question")
$page.setBgColor($ui.bgcolor)

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

#set($lang=$data.getUser().getTemp("lang" ).toString())
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
<tr>
        <td><b>
	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
        <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("mode","$mode").addPathInfo("count","1") style=text-decoration:none>$brih_queBank</a> |
	#if($acttype=="viewques" || $acttype=="editques")
        <a href=$link.setPage("call,OLES,View_QB.vm").addPathInfo("mode","$mode").addPathInfo("topic",$topic).addPathInfo("questype",$questype).addPathInfo("difflevel",$difflevel)>$brih_view  $brih_queBank</a> |
	#end
	#if($acttype=="viewques")
	$brih_view $brih_qus
	#elseif($acttype=="editques")
	$brih_edit $brih_qus
	#else
	$brih_add $brih_qus
	#end
        </b></td>
</tr>
</table>
<br>
<form name="frm" method="post" enctype="multipart/form-data" action=$link.setPage("call,OLES,Insert_Multiple.vm").setAction("OnlineExaminationSystem")>
<table width="100%" bgcolor="$ui.tableColor" cellpadding="2">
#if(($acttype=="editques")||($acttype=="viewques"))  
<tr bgcolor="$ui.menuColor"><td><b>$brih_queBank $brih_topic : $topic</b></td></tr>
#else
<tr bgcolor="$ui.menuColor"><td><b>$brih_queBank $brih_topic : $Topicname</b></td></tr>
#end
</table>
<table width="100%" bgcolor="$ui.tableColor" cellpadding="2"> 
##if($acttype!="editques") 
<tr bgcolor="$ui.menuColor"><td width="100%" align="center" colspan="2"><img src="$content.getURI("/images/QuestionBank/$username/$crsId/$topic/$quesimage")" width="80" height="100"></td></tr>
##end
  <tr>
   <td width=30% align="centre">
     <b><font face="$ui.sansSerifFonts">$brih_qus</font></b>
   </td>
   <td	width=70% align="left">
     <font face="$ui.sansSerifFonts">
      <textarea name="Question" rows=3 cols=50 #if($mode=="View") readonly #end >$!Ques</textarea >
     </td>
 </tr>
  <tr bgcolor="$ui.tableColor"> 
	#formCell("Option A" "op1" "$!opt1")
 </tr> 
  <tr> 
	#formCell("Option B" "op2" "$!opt2")
 </tr> 
  <tr bgcolor="$ui.tableColor"> 
	#formCell("Option C" "op3" "$!opt3")
 </tr> 
  <tr> 
	#formCell("Option D" "op4" "$!opt4")
 </tr> 
 #if($typeques=="imgtypeques")
#if($acttype !="viewques"))  
 <tr>
	#fileUpload ("<b>Upload Image </b><font color=Red>*</font>" "quesimg")
 </tr>
 #end
 #end
  <tr bgcolor="$ui.tableColor"> 
  	<td width=30% align="centre"> 
    	<b><font face="$ui.sansSerifFonts"> #if($lang=="hindi") Reply #else Answer #end</font></b>
   	</td>
   	<td width=70% align="left">
    	<font face="$ui.sansSerifFonts">
      	<select name="Answer" size=1 class="drop">
	 <option value=$!Ans>$!Ans
         <option value="A">A</option>
         <option value="B">B</option>
         <option value="C">C</option>
         <option value="D">D</option>
      	</select> 
   	</td>
 </tr>
  <tr> 
	<td width=30% align="centre">
        <b><font face="$ui.sansSerifFonts">$brih_desc</font></b>
        </td>
        <td  width=70% align="left">
        <font face="$ui.sansSerifFonts">
        <textarea name="hint" rows=3 cols=50 #if($mode=="View") readonly #end >$!Desc</textarea >
        </td>
	##formCell("Hint" "hint" "$!hint")

 </tr> 
<tr bgcolor="$ui.tableColor">
<td align=center colspan=2>  
<font face ="$ui.sansserifFonts">
		#if($acttype!="viewques")
		#if($acttype=="editques")
  		<input type="button" class="button-ftextstyle" name="eventSubmit_doEditQuestion" value="$brih_edit" onClick="checkValue(document.frm,this);"> 
		<input type="reset" class="button-ftextstyle" value="$brih_reset"> 
		#else
		<input type="reset" value="$brih_reset" class="button-ftextstyle"> 
  		<input type="button" class="button-ftextstyle" name="eventSubmit_doInserQuestion" value="$WikiSave & $brih_add $brih_more" onClick="checkValue(document.frm,this);"> 
  		<input type="button" class="button-ftextstyle" name="eventSubmit_doFinishQuestion" value="$WikiSave & $brih_finish" onClick="checkValue(document.frm,this);"> 
		#end
		#end
  <input type="hidden" name="actionName">
  <input type="hidden" name="mode" value="$mode">
  <input type="hidden" name="status" value="$status">
  <input type="hidden" name="Topicname" value="$Topicname">
  <input type="hidden" name="topic" value="$topic">
  <input type="hidden" name="typeques" value="$typeques">
  <input type="hidden" name="valQuestype" value="$valQuestype">
  <input type="hidden" name="valdifflevel" value="$valdifflevel">
  <input type="hidden" name="quesid" value="$quesid">
  <input type="hidden" name="questype" value="$questype">
  <input type="hidden" name="acttype" value="$acttype">
  <input type="hidden" name="difflevel" value="$difflevel">
  <input type="hidden" name="dlevel" value="$dlevel">
  <input type="hidden" name="qtype" value="$qtype">
</font>
</td>
</tr>
</table>
</form>
<script LANGUAGE="JAVASCRIPT">
        function checkValue(frm,field)
        {
                if(frm.Question.value!="")
                {
			if((frm.op1.value!="") && (frm.op2.value!="") && (frm.op3.value!="") && (frm.op4.value!=""))
			{
                        	frm.actionName.value=field.name;
                        	frm.submit();
			}
			else
			{
                        	alert("Please write minimum four answer !!");
                        	frm.op1.focus();
			}
                }
                else
                {
                        alert("Please write Question !!");
                        frm.Question.focus();
                }
        }
</script>
