#*
 * @#Oles_Gen.vm
 * Copyright (c) 2010 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * @modify date: 14aug2013
 * Contributors: Members of MHRD Project DEI Agra
*#

$page.setTitle("Quiz Management")
$page.setBgColor("bgcolor")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which
## was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
	<tr><td><b>
		<a href=$link.setPage("Index.vm")  style='text-decoration:none'>$brih_home</a>|
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$course</a> |
		<a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style='text-decoration:none'> $online_online $brih_examat $brih_system</a>|
		<a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1") style='text-decoration:none'> #if($lang =="hindi")$brih_exam $brih_generate #else $brih_generate $brih_exam #end</a> |
		#if($mode == "QuizDetail")		
			<a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("count","3") style='text-decoration:none'>$brih_quiz $brih_detail </a>|
				$brih_quiz #if($lang =="hindi") $brih_of1 #end $brih_update
		#else
				$brih_quiz #if($lang =="hindi") $brih_of1 #end $brih_setup
		#end
	</b></td>

## Creating the links for help regarding FAQ 
		<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/OLES_Quiz.html","newWin") style='text-decoration:none'>$brih_help</a></td>
	</tr>
</table>

#if($mode == "QuizDetail")
	<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Quiz_Detail.vm").setAction("OLES_Quiz")>
#else	
	<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Create_Quiz.vm").setAction("OLES_Quiz").addPathInfo("count","2").addPathInfo("type","selectQuiz")>
#end
	

<table  width="100%">
#if($mode == "QuizDetail")
	<tr width="100%">
		<td align="left" width="100%" colspan="5"><b><i><font size="3"> $brih_quiz $brih_update</font><b></i></td>
	</tr>
#else
	<tr bgcolor="$ui.tableColor">
		#if($tdcolor != "1")
        		<td>
		#elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1").addPathInfo("mode","quizSetup") style=text-decoration:none>$brih_quiz $brih_setup</b></a></td>
		#if($tdcolor != "2")
		        <td>
	        #elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Create_Quiz.vm").addPathInfo("count","2").addPathInfo("type","selectQuiz") style=text-decoration:none>$brih_quiz $brih_creation</b></a></td>
		#if($tdcolor != "3")
		        <td>
	        #elseif($tdcolor == "3")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("mode","quizDetail").addPathInfo("count","3") style=text-decoration:none>$brih_quiz $brih_detail</b></a></td>
		#if($tdcolor != "4")
		        <td>
	        #elseif($tdcolor == "4")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Preview_Quiz.vm").addPathInfo("mode","preview").addPathInfo("count","4") style=text-decoration:none>$brih_preview</b></a></td>
	</tr>
	<tr bgcolor="$ui.menuColor" width="100%">
		<td align="left" width="100%" colspan="5"><b><i><font size="3"> $brih_quiz $brih_setup</font><b></i></td>
	</tr>
#end
	
#if($mode == "QuizDetail")
	#foreach ($Quiz in $allQuiz)
		##<tr bgcolor="$ui.menuColor">
		<tr>	
			<td><b> $brih_quiz #if($lang =="hindi") $brih_Of1 #end $brih_ID</b></td>
			<td><input type="text" name="quizID" value="$!qid" readonly></td>
		</tr>	
		<tr>
	       		<td><b>$brih_quiz $brih_title</b><font color=Red>*</font></td>  
	       		<td><textarea rows="2" cols="23" name="quizName" readonly>$Quiz.getQuizName()</textarea></td>              
			##<td><input type="text" name="quizName" value="$Quiz.getQuizName()" readonly></td>
		</tr>
		<tr>
			<td><b>$brih_maximum $brih_marks</b><font color=Red>*</font></td>			
			<td><input type="text" name="maxMarks" value="$Quiz.getMaxMarks()"></td>
		</tr>
		<tr>
			<td><b>$brih_maximum $brih_time ($brih_minute)</b><font color=Red>*</font></td> 
			#set($len = $Quiz.getMaxTime().indexOf(":")) 
  			#set($mtime=$Quiz.getMaxTime().substring(0,$len))			
			<td><input type="text" name="maxTime" value="$mtime"></td>       	
			##<td><input type="text" name="maxTime" value="$Quiz.getMaxTime()"></td>
		</tr>
		<tr>
           		<td><b>$brih_nos $brih_qus2</b><font color=Red>*</font></td>
			<td><input type="text" name="numberQuestion" value="$Quiz.getnoQuestion()"></td>
	        </tr>   
	#end
#else
	##<tr bgcolor="$ui.menuColor">
	<tr>
		<td><b> $brih_quiz #if($lang =="hindi") $brih_Of1 #end $brih_ID <font color=RED> *</font></b> </td>
		<td> <input type="text" name="quizID" value="$!qid" "readonly"></td>
	</tr>
	<tr>
		<td><b> $brih_quiz #if($lang =="hindi") $brih_Of1 #end $brih_title <font color=RED> *</font></b> </td>
	        <td><input type="text" name="quizName" value=""></td>
	</tr>		
        <tr>
	        <td><b>$brih_maximum $brih_marks</b><font color=Red>*</font></td>
        	<td><input type="text" name="maxMarks" value=""></td>
        </tr>
        <tr>
           	<td><b>$brih_maximum $brih_time ($brih_minute)</b><font color=Red>*</font></td>
           	       	
	        <td><input type="text" name="maxTime" value=""></td>
        </tr>
	<tr>
           	<td><b> #if($lang =="hindi" || $lang =="gujarati") $brih_qus2 $brih_Of $brih_nos #else $brih_nos $brih_qus2 #end </b><font color=Red>*</font></td>
		<td><input type="text" name="numberQuestion" value=""></td>
        </tr>  
        <tr>
		<td><b>$brih_allowpractice</b><font color=Red>*</font></td>        	
		<td><input type="radio" name="allow" value="yes">$brih_yes
       		<input type="radio" name="allow" value="no" checked> $brih_no <br>		
		</tr>              
#end	
       
<tr bgcolor="$ui.menuColor" width="100%">
	<td align="left" width="100%" colspan="5">
		#if($mode == "QuizDetail")
			<input type=button class="button-ftextstyle" name="eventSubmit_doUpdate" value="$brih_update" onClick="checkField(document.frm,this);"/>
			<input type="hidden" name="mode" value=$mode >
			<input type="hidden" name="quizMode" value=$quizMode >					
		#else
			<input type="button" class="button-ftextstyle" name="eventSubmit_doUploadQuiz" value="$brih_submit" onClick="checkField(document.frm,this);"/>
		#end		
		<input type="reset" class="button-ftextstyle" name="reset" value="$brih_clear" onClick="checkClear(document.frm,this);"/>
	</td>
</tr>
</table>
	
<input type="hidden" name="actionName">	
<input type="hidden" name="count" value="$tdcolor">	
</form>
<SCRIPT LANGUAGE="javascript">        
	function checkField(frm,field){
		if(frm.quizName.value!="" && frm.maxMarks.value!="" && frm.maxTime.value!="" && frm.numberQuestion.value!=""){
			var quizName=frm.quizName.value;
			var temp="~`!@#%^&*()-+={[}]|\\:;'<,>./?\f\n\r\t\v";
			var btype=new Boolean(true);	
			for(k=0;k<temp.length;k++){
			    	for (n = 0; n < quizName.length; n++){
			        	if(temp.charAt(k) == quizName.charAt(n))
			            	btype=false;				
			        }
			}			
			if(btype){
				if((frm.maxMarks.value>=10) && (frm.maxMarks.value<=100)){
					if((frm.maxTime.value>=5) && (frm.maxTime.value<=120)){
						if((frm.numberQuestion.value>=1) && (frm.numberQuestion.value<=50)){
				                       	frm.actionName.value=field.name;
			                        	frm.submit();
				            	}
				                else{
					                alert("The number of questions in a quiz should be between 1 to 50");
				            	}
			        	}
					else{
			        		alert("The max time of a quiz should be between 5 to 120 minutes");
			        	}
			    	}
			    	else{
			    		alert("The max marks in a quiz should be between 10 to 100");
			    	}
			}
			else{
				alert("Special character is not allowed in quiz name !!");	
			}
		}
		else
		    alert("Please fill the Mandatory(*) Fields !!");
	}

	function checkClear(frm,field){
		frm.quizName.value=""
		frm.maxMarks.value=""
		frm.maxTime.value=""
		frm.noQuestion.value=""
	}

	function popupWin(url,popupName){
		Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
	}
</script>
