#*
 * @(#) OLES_ReEvaluation.vm
 * Copyright (c) 2010-13 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:dev.singha93@gmail.com ">Devendra Singhal</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * @modify date: 14aug2013
 * Contributors: Members of MHRD Project, DEI Agra
*#

$page.setTitle("Quiz ReEvaluation")
$page.setBgColor($ui.bgcolor)
#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($cnm = $data.getUser().getTemp("course_name" ).toString())
#if($flag)
$!data.getMessage()
#end
<table bgcolor="$ui.menuColor" width=100%>
        <tr><td><b>
                <a href=$link.setPage("Index.vm") style='text-decoration:none'>Home</a> |
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$cnm</a> |
                <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style='text-decoration:none'>$online_online $brih_examat $brih_system </a>| $brih_reevaluate    
        </b></td>    
## Creating the links for help regarding FAQ 
	<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/OLES_Quiz.html","newWin") style='text-decoration:none'>$brih_help</a></td>
	</tr>
</table>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,OLES,ReEvaluation.vm").setAction("OLES_AttemptQuiz")>
	<table width="100%" bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.tableColor">
		#if($tdcolor != "1")
		  	<td>
		 #elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style=text-decoration:none>$brih_queBank</b></a></td>
		#if($tdcolor != "2")
			<td>
		 #elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1").addPathInfo("mode","quizSetup") style=text-decoration:none> #if($lang=="hindi") $brih_exam $brih_generate #else $brih_generate $brih_exam #end</I></b></a></td>
		#if($tdcolor != "3")
		   <td>
	    #elseif($tdcolor == "3")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,AnnounceExam_Manage.vm").addPathInfo("count","3") style=text-decoration:none> #if($lang=="hindi")$brih_exam $brih_QDannounce #else $brih_QDannounce $brih_exam #end</I></b></a></td>
		#if($tdcolor != "6")
                        <td>
                #elseif($tdcolor == "6")
                <td bgcolor="#AFDCEC">
        	#end
        <b><a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","6").addPathInfo("flag","security") style=text-decoration:none>$brith_security &nbsp;&nbsp;</b></a></td>

		#if($tdcolor != "4")
			<td>
		#elseif($tdcolor == "4")
			<td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","4") style=text-decoration:none>$brih_evaluation &nbsp;&nbsp;</b></a></td>
		#if($tdcolor != "5")
			<td>
        #elseif($tdcolor == "5")
            <td bgcolor="#AFDCEC">
		#end
		<b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","5").addPathInfo("type","result") style=text-decoration:none>$brih_result &nbsp;&nbsp;</b></a></td>
      	#if($tdcolor != "7")
			<td>
		#elseif($tdcolor == "7")
           	<td bgcolor="#AFDCEC">
        #end
       	<b><a href=$link.setPage("call,OLES,OLES_ReEvaluation.vm").addPathInfo("count","7") style=text-decoration:none>$brih_reevaluation &nbsp;&nbsp;</b></a></td>

	#if($tdcolor != "8")
                <td>
                #elseif($tdcolor == "8")
                <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,PracticeQuizInfo.vm").addPathInfo("count","8") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati")$brih_practice $brih_quiz $brih_of1 $brih_qinfo #else $brih_practice $brih_quiz $brih_qinfo #end</b></a></td>
	</tr>
</table>
<table bgcolor="$ui.tableColor" width="100%">
	<tr bgcolor="$ui.menuColor" width="100%">
		<td align="left" width="100%" colspan="6"><b><font size="3">$brih_score $brih_reevaluation</font><b></td>
	</tr>
</table>

<table bgcolor="$ui.tableColor" width="100%">
	#if($collectScore.size()!=0)
	#if($flag)
		<tr bgcolor="$ui.tableColor" width="100%" collspan="6">
			<th>$brih_quiz $brih_ID</th>
			<th> $brih_student $brih_ID($brih_student $brih_name)</th>
			<th>$brih_total $brih_score</th>
		</tr>
	#else
		<tr bgcolor="$ui.tableColor" width="100%">
			<td align="center" collspan="6">
			<b><font size="4">
				$!data.getMessage()
			</font></b>
			</td>
		</tr>
	#end
       	#foreach($scr in $collectScore)
			#if($velocityCount%2==0)
				<tr bgcolor="$ui.menuColor">
			#else
				<tr bgcolor="$ui.tableColor">
			#end
			#if($scr.getEvaluate()=="ReEvaluate")
					<td>
						$scr.getQuizID()
					</td>
					<td>
						$scr.getUserID()($scr.getStudentName())
					</td>
					<td>
						$scr.getScore()
					</td>
					<td>	
						<b><I><a href=$link.setPage("call,OLES,Evaluate_Quiz.vm").addPathInfo("count","6").addPathInfo("quizID",$scr.getQuizID()).addPathInfo("type","ReEvaluate").addPathInfo("studentLoginName",$scr.getStudentName()).addPathInfo("actionName","eventSubmit_Evaluate") style=text-decoration:none>$brih_reevaluate</I></b></a>
					</td>
			#end
				</tr>
		#end
	#else
		<tr bgcolor="$ui.tableColor" width="100%">
			<td align="center" collspan="6">
			<b><font size="4">
				$!data.getMessage()
			</font></b>
			</td>
		</tr>
	#end
</table>		
</form>
</body>
<SCRIPT LANGUAGE="javascript">

	function popupWin(url,popupName){
	        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
	}
</SCRIPT>












