#*
 * @#Oles_Gen.vm
 * Copyright (c) 2010 MHRD, DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * Contributors: Members of MHRD, DEI, Agra
*#

$page.setTitle("Quiz Management")
$page.setBgColor("bgcolor")
## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which
## was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())
<table bgcolor="$ui.menuColor" width=100%>
##link for faq with modes(add,delete,alllist and edit)
#if($user_role == "instructor" )	
<tr><td><b>
	<font face="$ui.sansSerifFonts">
	<a href=$link.setPage("Index.vm")>Home</a>|
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
	<a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1")> OnLine Examination System</a>
	
</b></td>
</tr>
#elseif($user_role == "student" )	
<tr><td>
	<b>	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | $brih_quiz
	</b>
</td></tr>

#end
</table>
## Creating the links for help regarding FAQ 
<table width="100%">
<tr>
<td>Very soon this link will be active....</td>
</tr>
</table>

