#*
 * @(#) PracticeQuizInfo.vm
 * Copyright (c)2013 MHRD, IITK.
 * All Rights Reserved.
 * @author <a href="mailto:palseema@rediffmail.com">Manorama Pal</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * @modify date: 14aug2013
 * Contributors: Members IITK.
*#
$page.setTitle("PracticeQuizInfo")
$page.setBgColor($ui.bgcolor)

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($cnm = $data.getUser().getTemp("course_name" ).toString())
## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
        <tr><td><b>
                <a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_home</a> |
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$cnm</a> |
                <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style='text-decoration:none'>$online_online $brih_examat $brih_system</a>| #if($lang =="hindi" || $lang == "gujarati")$brih_practice $brih_quiz $brih_of1 $brih_qinfo #else $brih_practice $brih_quiz $brih_qinfo #end
        </b></td>    
	<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/OLES_Quiz.html","newWin") style='text-decoration:none'>$brih_help</a></td>
	</tr>
</table>
##==================
<table width="100%" bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.tableColor">
                #if($tdcolor != "1")
                        <td>
                #elseif($tdcolor == "1")
                        <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style=text-decoration:none>$brih_queBank</b></a></td>
                #if($tdcolor != "2")
                        <td>
                #elseif($tdcolor == "2")
                        <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","2").addPathInfo("mode","quizSetup") style=text-decoration:none> #if($lang=="hindi") $brih_exam $brih_generate #else $brih_generate $brih_exam #end</b></a></td>
                #if($tdcolor != "3")
                        <td>
                #elseif($tdcolor == "3")
                        <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,AnnounceExam_Manage.vm").addPathInfo("count","3") style=text-decoration:none> #if($lang=="hindi")$brih_exam $brih_QDannounce #else $brih_QDannounce $brih_exam #end</b></a></td>
		 #if($tdcolor != "6")
                <td>
                #elseif($tdcolor == "6")
                <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","6").addPathInfo("flag","security") style=text-decoration:none>$brith_security &nbsp;&nbsp;</b></a></td>

                #if($tdcolor != "4")
                        <td>
                #elseif($tdcolor == "4")
                        <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","4") style=text-decoration:none>$brih_evaluation &nbsp;&nbsp;</b></a></td>
                #if($tdcolor != "5")
                        <td>
                #elseif($tdcolor == "5")
                <td bgcolor="#AFDCEC">
                #end
                <b><a href=$link.setPage("call,OLES,Evaluate.vm").addPathInfo("count","5").addPathInfo("type","result") style=text-decoration:none>$brih_result &nbsp;&nbsp;</b></a></td>
         	#if($tdcolor != "7")
                <td>
                #elseif($tdcolor == "7")
                <td bgcolor="#AFDCEC">
        	#end
        	<b><a href=$link.setPage("call,OLES,OLES_ReEvaluation.vm").addPathInfo("count","7") style=text-decoration:none>$brih_reevaluation &nbsp;&nbsp;</b></a></td>
         	#if($tdcolor != "8")
                <td>
                #elseif($tdcolor == "8")
                <td bgcolor="#AFDCEC">
        	#end
        	<b><a href=$link.setPage("call,OLES,PracticeQuizInfo.vm").addPathInfo("count","8") style=text-decoration:none> #if($lang =="hindi" || $lang == "gujarati")$brih_practice $brih_quiz $brih_of1 $brih_qinfo #else $brih_practice $brih_quiz $brih_qinfo #end</b></a></td>
        </tr>
</table>
##=============================
<table width="100%" bgcolor="$ui.menuColor">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,OLES,PracticeQuizInfo.vm")>
	<table bgcolor="$ui.tableColor" width="100%">
		<tr bgcolor="$ui.menuColor"  width="100%">
			<td>
			<b> $brih_quiz $brih_name  </b>
    		</td>
			<td>
			<SELECT name=quizlist class="drop" onChange="checkField(document.frm);">
                                #if($quizlist=="")
				<option value="1"> #if($lang =="hindi" || $lang=="gujarati") $brih_quiz $brih_select #else $brih_select $brih_quiz #end </option>
				 #else                   
                                <option value="$!quizname">$!quizname</option>  #end
					#foreach($topic in $quizList)
							<option value="$!topic.getQuizID()">$!topic.getQuizName()</option>
					#end			
    			</SELECT>
			</td>
			#if($filemode !="blank" && $quizlist!="")
			<td><b>$brih_qtotal_attempt : $TotalAttempt</b>
			</td>
			#end
		</tr>
		#if($quizname!="" && $filemode!="blank")
                <table width="100%" bgcolor="$ui.tableColor">
                        <tr bgcolor="$ui.tableColor">
                                <td width="50%"><b>$brih_student $brih_name</b></td>
                                <td width="50%"><b>$brih_qattempt</b></td></tr>
                        #foreach($PracticeQuizInfo in $PracticeInfo)
                        	#if($velocityCount%2==0)
                                <tr bgcolor="$ui.tableColor">
                                #else
                                <tr bgcolor="$ui.menuColor">
                                #end

                        	<td>$PracticeQuizInfo.studentid</td>
                        	<td>
				#if($PracticeQuizInfo.attemptnos == "Not Attempted")
				<font color="red">$PracticeQuizInfo.attemptnos</font>
				#else
				<b>$PracticeQuizInfo.attemptnos</b>
                        	#end
				</td>
			#end
                        </tr>
               </table>
		#end
	</table>
	</table>
</form>
</body>
<input type="hidden" name="count" value="$!tdcolor">
<SCRIPT LANGUAGE="javascript">
	function popupWin(url,popupName){
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
        
	function checkField(frm,field){
	 	frm.submit();
	}	
</SCRIPT>
