#*
 * @#Preview_Quiz.vm
 * Copyright (c) 2010-13 MHRD, DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com">Nupur Dixit</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * @modify date: 14aug2013
 * Contributors: Members of MHRD, DEI Agra.
*#
$page.setTitle("Quiz Preview")
$page.setBgColor("bgcolor")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## If some message has been set, that is retrieved and displayed.
##$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which
## was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
	<tr><td><b>
		<a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_home</a>|
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$course</a> |
		<a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style='text-decoration:none'> $online_online $brih_examat $brih_system</a>|
		<a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1") style='text-decoration:none'> #if($lang =="hindi")$brih_exam $brih_generate #else $brih_generate $brih_exam #end</a> | 
          $brih_preview
	</b></td>
## Creating the links for help regarding FAQ 
	<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/OLES_Quiz.html","newWin") style='text-decoration:none'>$brih_help</a></td>
	</tr>
</table>

<form name="frm" method="post" enctype="multipart/form-data" action=$link.setPage("call,OLES,Preview.vm").addPathInfo("mode","random").addPathInfo("count","1").addPathInfo("type",$type).setAction("OLES_Quiz")>
## Adding links for  add category,showing list of Faq category and delete category
<table width="100%">
	
	<tr bgcolor="$ui.tableColor">
		#if($tdcolor != "1")
        		<td>
         	#elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
			<b><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1").addPathInfo("mode","quizSetup") style=text-decoration:none>$brih_quiz $brih_setup</b></a></td>
		#if($tdcolor != "2")
        		<td>
        	#elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
			<b><a href=$link.setPage("call,OLES,Create_Quiz.vm").addPathInfo("count","2").addPathInfo("type","selectQuiz") style=text-decoration:none>$brih_quiz $brih_creation</b></a></td>
		#if($tdcolor != "3")
        		<td>
        	#elseif($tdcolor == "3")
			<td bgcolor="#AFDCEC">
		#end
			<b><a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("mode","quizDetail").addPathInfo("count","3") style=text-decoration:none>$brih_quiz $brih_detail</b></a></td>
		#if($tdcolor != "4")
        		<td>
        	#elseif($tdcolor == "4")
			<td bgcolor="#AFDCEC">
		#end
			<b><a href=$link.setPage("call,OLES,Preview_Quiz.vm").addPathInfo("mode","preview").addPathInfo("count","4") style=text-decoration:none>$brih_preview</b></a></td>
	</tr>
		
</table>

##Drop down list to select a quiz
<table align="center" width="100%" bgcolor="$ui.tableColor">
#if($quizList.size()!=0)
	<tr bgcolor="$ui.menuColor" >
		<td align="left">
	      		<b> #if($lang =="hindi" || $lang =="gujarati") $brih_quiz $brih_select #else $brih_select  $brih_quiz#end </b>
	   	</td>
#end
	   	<td align="left">
	        	##if($isFile!="")
	        		#if($quizList.size()!=0)
	        			<select name=quizList class="drop">
	        				#foreach($qid in $quizList)
	        				<option value="$qid.getQuizID(),$qid.getMaxMarks(),$qid.getnoQuestion(),$qid.getMaxTime()">
						#if($qid.getAllowPractice()=="yes")
                                			$qid.getQuizName()<b>($brih_practice $brih_quiz)
                        			#else
                                			$qid.getQuizName()
                        			#end
						</option>
	        				#end
	        			</select> &nbsp;
	        			<input type="button" class="button-ftextstyle" name="" value="$brih_submit" onClick="checkValue(document.frm,this);">
					&nbsp;&nbsp;&nbsp;
				#else
				<td bgcolor="$ui.menuColor" align="center" width="100%">
					$brih_norandomquizmsg
				#end	
			</td>
	        	##else
	        		##$brih_norandomquizmsg
	        	##end
		</td>
	</tr>
</table>
	

<input type="hidden" name="mode" value="$mode" >
<input type="hidden" name="type" value="$type" >
<input type="hidden" name="count" value="$tdcolor">
<input type="hidden" name="quizDetail" value="">
<input type="hidden" name="actionName" value="">
<input type="hidden" name="quizName" value="">
</form>
<script LANGUAGE="JAVASCRIPT">
	function popupWin(url,popupName)
   	{
    		Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=200,width=300,align=center");
   	}

	function checkValue(frm,field)
    	{		
		if(frm.quizList.value !="") 
		{			
			//frm.actionName.value=field.name;
			frm.quizDetail.value=frm.quizList.options[frm.quizList.selectedIndex].value;
			frm.quizName.value=frm.quizList.options[frm.quizList.selectedIndex].text;
			//alert(frm.quizName.value);
			frm.submit();
		}
		else
			alert("Please Select the Quiz !!");
	}	
</script>
