#*
 * @(#) Quiz_Detail.vm
 * Copyright (c) 2010 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * Contributors: Members of MHRD Project, DEI Agra
*#

$page.setTitle("Quiz Management")
$page.setBgColor($ui.bgcolor)
#set($cnm = $data.getUser().getTemp("course_name" ).toString())

$!data.getMessage()


<table bgcolor="$ui.menuColor" width=100%>
	<tr>
		<td><b><font face="$ui.sansSerifFonts">
			<a href=$link.setPage("Index.vm")>Home</a>|	
	        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
	        <a href=$link.setPage("call,OLES,Oles_Gen.vm")>Generate Exam</a> | 
	         $brih_quiz $brih_detail 
        </td>
	</tr>
</table>

<form name="frm" method="post" action="$link.setPage("call,OLES,Quiz_Detail.vm").setAction("OLES_Quiz")">
<table bgcolor="$ui.tableColor" width="100%">
	
	#set($count="")
       	#foreach($qid in $allQuiz)
			#if($velocityCount%2==0)
				<tr bgcolor="$ui.menuColor">
			#else
				<tr bgcolor="$ui.tableColor">
			#end
			<td>
				<INPUT TYPE="CHECKBOX" NAME=$qid.getQuizID() VALUE=$qid.getQuizID() onClick="addDeleteList(this,document.frm);">
			</td>
   			<td> 
   				$qid.getQuizID()
			</td>
			
			<td>
				<a href=$link.setPage("call,OLES,Oles_Other.vm")>$brih_add $brih_more $brih_qus </a>
			</td>
			
			<td>
				<a href=$link.setPage("call,OLES,Oles_Other.vm")> $brih_delete </a>
			</td>
			<td>
				<a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("qname",$qid.getQuizID()).addPathInfo("mode","QuizDetail")>$brih_update </a>
			</td>
        </tr>
        
	<INPUT TYPE="hidden" NAME="qname" value=$qid.getQuizID() >
	#set($count="$count$qid.getQuizID()^")
	#end
	#if($allQuiz.size()!=0)
	<tr bgcolor="$ui.menuColor">
        <td colspan=7>
            <input type="CHECKBOX" name="checkAll" onClick=selectAll(this);>
            <font face="$ui.sansSerifFonts"><b>$brih_selAll</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<input type="button" name="eventSubmit_doRemove" value=$brih_delete onClick="checkField(document.frm,this);"/>
			<input type="reset" value="$brih_reset">
        </td>
	</tr>
	#end	
		<INPUT TYPE="hidden" NAME="deleteFileNames">	
    	<input type="hidden" name="actionName">
</table>
</form>

<SCRIPT LANGUAGE="javascript">

	function popupWin(url,popupName){
        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
    }

	function checkField(frm,field){
		if(frm.deleteFileNames.value!=""){
        	frm.actionName.value=field.name;
        	frm.submit();
		}
    	else{
	    	alert("Please select checkbox for deletion !!");
		}
	}

	function addDeleteList(field,frm){
		if(field.checked){
			frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
		}
        else{
            var rmFile,index,actualString,preString,postString;
            actualString=frm.deleteFileNames.value;
            index=actualString.indexOf(field.name+"^",0);
            preString=actualString.substring(0,index);
            postString=actualString.substring(index+field.name.length+1);
            actualString=preString+postString;
            frm.deleteFileNames.value=actualString;
        }
	}
	
	function selectAll(field){
    	if(field.checked){
        	var rmFile,index,actualString,pre=0,next=0;
        	actualString=document.frm.deleteFileNames.value="$count";
        	while( ( pre=actualString.indexOf("^",next) ) >=0 ){
            	var temp=actualString.substring(next,pre);
             	next=pre+1;
            	rmFile=document.frm.elements[temp].checked=true;
            }
		}
    	else{
        	var rmFile,index,actualString,pre=0,next=0;
            actualString=document.frm.deleteFileNames.value="$count";
			while( ( pre=actualString.indexOf("^",next) ) >=0 ){
				var temp=actualString.substring(next,pre);
            	next=pre+1;
            	rmFile=document.frm.elements[temp].checked=false;
            }
            document.frm.deleteFileNames.value="";
       	}
	}
	
</SCRIPT>
