#*
 * @(#) Report_Card.vm
 * Copyright (c) 2010 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * Contributors: Members of MHRD Project DEI Agra
*#

$page.setTitle("Report Card")
$page.setBgColor($ui.bgcolor)

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## Retreiving the $lang (representing the choosen language for display, which was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())
## Creating the links for help regarding FAQ 
<table width="100%">
	<tr>
		<td align=left>
			## If some message has been set, that is retrieved and displayed.
			<font face="$ui.sansSerifFonts">
				$!data.getMessage()
			</font>
		</td>
		<td align=right>
			<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/Quizstudent.html","newWin");>$brih_help</a>
		</td>
	</tr>
</table>

#set($cnm = $data.getUser().getTemp("course_name" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td>
		<b>
		<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |	
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cnm</a> |  
        <a href=$link.setPage("call,OLES,Student_Score.vm").addPathInfo("count","4").addPathInfo("type","gradeCard")>$brih_quiz </a> |         
			Report $brih_card 		                
    </td>
</tr>
</table>

<form name=frm method="post" action="$link.setPage("call,OLES,Report_Card.vm").setAction("OLES_AttemptQuiz")">

<table bgcolor="$ui.tableColor" width="100%">
	<tr>
		<td colspan=5><font color="$ui.fontColorBlue" size="4"><b><i> <u>Report $brih_card $brih_for $!quizName</i></b></font>
		</td>
	</tr>
	#if($hbtn != "true")
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> Name : </td>
		<td>$!fullName ($!userName)</td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> Roll No. : </td>
		<td>$!rollNo</td>
	</tr>		
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> Marks </td>
		<td>$!studentMarks out of $!maxMarks</td>
	</tr>
	<tr>
		<td width=20% colspan=2><b>Grade</td>
                <td>$!finalResult</td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> Average </td>
                <td>$!percentageScore %</td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> No. of correct Answer </td>
                <td>$!noCorrectAns</td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> Total No. of Question </td>
                <td>$!maxQuestion</td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b> Total Time Allowed for Quiz </td>
                <td>$!maxTime</td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td width=20% colspan=2><b>Time taken by student </td>
                <td>$!usedTime</td>
	</tr>
	
	<tr bgcolor="$ui.menuColor">
	        <td colspan=5>
	        <input type="button" class="button-ftextstyle" name="print" value="$brih_print" onClick="javascript:window.print();"/>
        	<a href=$link.setPage("call,OLES,Student_Score.vm").addPathInfo("count","4").addPathInfo("type","gradeCard")> Go Back </a>
	        </td>
	</tr>
	#end
</table>

<input type="hidden" name="actionName">
<input type="hidden" name="answerSheetFlag" value="$!answerSheetFlag">
<input type="hidden" name="maxMarks" value="$!maxMarks">
<input type="hidden" name="maxQuestion" value="$!maxQuestion">
<input type="hidden" name="quizName" value="$!quizName">
<input type="hidden" name="quizID" value="$!quizID">
<input type="hidden" name="maxTime" value="$!maxTime">
</table>
</form>

<SCRIPT LANGUAGE="javascript">

 	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }	

</SCRIPT>
