#*
 * @(#) Student_Quiz.vm
 * Copyright (c) 2010-13 MHRD, DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com">Nupur Dixit</a>
 * @author <a href="mailto:tejdgurung20@gmail.com ">Tej Bahadur</a>
 * @modify date: 14aug2013
 * Contributors: Members of MHRD, DEI Agra.
*#

$page.setTitle("Quiz Management")
$page.setBgColor("#ffffff")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($cnm = $data.getUser().getTemp("course_name" ).toString())
#set($flag=false)

$!data.getMessage()
<table width=100%  bgcolor="$ui.menuColor">
<tr><td>
	<b>	<a href=$link.setPage("call,IndexHome.vm") style='text-decoration:none'>$brih_home</a> |
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$cnm</a> | 
		#if($type=="practice")
			$brih_practice $brih_quiz
		#else
			$brih_attempt $brih_quiz
		#end
	</b>
</td>
#if($data.getUser().getTemp("modulename7") == "7")
        #set($flag=true)
#end
## Creating the links for help regarding FAQ 
<td align="right">
<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/Quizstudent.html","newWin") style='text-decoration:none'>$brih_help</a>
</td>
</tr>
</table>

#if($type=="practice")
<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,AttemptPractice_Quiz.vm").setAction("OLES_AttemptQuiz")>
#else
<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Attempt_Quiz.vm").setAction("OLES_AttemptQuiz")>
#end
<table width=100% align="left">
#*
#if($futureQuizList.size()!=0)
	#foreach($futureqid in $futureQuizList)
		<tr>	
			<td>$velocityCount .<td colspan="5">$brih_quiz "$futureqid.getQuizName()" $brih_quizSchedule $futureqid.getExamDate() $brih_at $futureqid.getStartTime()</td>
		</tr>
	#end	        						
#end *#	

<tr bgcolor="$ui.tableColor">
	#if(($user_role == "student")||(($user_role == "teacher_assistant")&&($flag==false)))
		#if($tdcolor != "1")
    		<td width="20%">
		#elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC" width="20%">
		#end
				<a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","1").addPathInfo("type","attempt") style='text-decoration:none'> #if($lang == "hindi") $brih_quiz $brih_attempt  #else $brih_attempt $brih_quiz #end </a>
			</td>
		#if($tdcolor != "2")
			<td width="20%"> 
		#elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC" width="20%">
		#end
				<a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","2").addPathInfo("type","practice") style='text-decoration:none'>  $brih_practice $brih_quiz  </a>
			</td>
			
		#if($tdcolor != "3")
			<td width="20%">
		#elseif($tdcolor == "3")
			<td bgcolor="#AFDCEC" width="20%">
		#end	
			<a href=$link.setPage("call,OLES,Student_Score.vm").addPathInfo("count","3") style='text-decoration:none'>$brih_score $brih_card</a>
			</td>
		#if($tdcolor != "4")
			<td width="20%">
		#elseif($tdcolor == "4")
			<td bgcolor="#AFDCEC" width="20%">
		#end	
        	<a href=$link.setPage("call,OLES,Student_Score.vm").addPathInfo("count","4").addPathInfo("type","gradeCard") style='text-decoration:none'>$brih_grade $brih_card</a>

        	</td>
		#if($tdcolor != "5")
			<td width="20%">
		#elseif($tdcolor == "5")
			<td bgcolor="#AFDCEC" width="20%">
		#end	
        	<a href=$link.setPage("call,OLES,Student_Score.vm").addPathInfo("count","5").addPathInfo("type","Certificate") style='text-decoration:none'>$brih_cert</a>

        	</td>
	#end		
	
   	</tr>
	<tr>
	#if($futureQuizList.size()!=0)
        #foreach($futureqid in $futureQuizList)
                <tr bgcolor="$ui.tableColor">
                        <td>$velocityCount .<td colspan="5">$brih_quiz "$futureqid.getQuizName()" $brih_quizSchedule $futureqid.getExamDate() $brih_at $futureqid.getStartTime()</td>
                </tr>
        #end                                                            
#end    

</tr>
</table>
	##Drop down list to select a quiz
<table align="left" width="100%" bgcolor="$ui.tableColor">

#if($quizList.size()!=0)
	<tr bgcolor="$ui.menuColor">
		<td align="left">
	      		<b>$brih_select  $brih_quiz</b>
	   </td>
#end
	   	<td  align="left">
	        	#if($isFile!="")
	        		#if($quizList.size()!=0)
	        			<select name="quizList" class="drop">
	        				#foreach($qid in $quizList)	        				
	        					<option value="$qid.getQuizID(),$qid.getMaxTime()">$qid.getQuizName()</option>
	        				#end
	        			</select> &nbsp;&nbsp;&nbsp;&nbsp;
				#else
			<td bgcolor="$ui.menuColor" align="center" width="100%">
					$!data.getMessage() !!!!
				#end	
</td>
	        	#else
			<td bgcolor="$ui.menuColor" align="center" width="100%">
	        		$!data.getMessage() !!!!
	        	#end
</td>
		</td>
	</tr>
	#if($type!="practice")
		#if($isFile!="")
			#if($quizList.size()!=0)
				<tr bgcolor="$ui.tableColor">
					<td align="left"><b>$brih_enter $brih_security $brih_num</b></td>
					<td align="left">
						<input type="text" name="textBox" value=""  MaxLength="8" size="10">	
					</td>
				</tr>
				<tr>
                                <td align="left"><font color="blue">$brih_SecurityInst</font></td>
                                </tr>

			#end
		#end
	#end
#if($quizList.size()!=0)
	<tr bgcolor="$ui.menuColor">
		<td align=left colspan="2">
			#if($type=="practice")
	        	<input type="button" class="button-ftextstyle" name="eventSubmit_attemptPracticeQuiz" value="$brih_startquiz" onClick="confirmQuizStart1(document.frm,this);">
        	#else
	        	<input type="button" name="eventSubmit_attemptQuiz" class="button-ftextstyle" value="$brih_startquiz" onClick="confirmQuizStart(document.frm,this,'$securityData','$ip');">
	        #end
#end
		</td>
	</tr>
</table>	
##</tr>
##</table>
<input type="hidden" name="count" value="$tdcolor">
<input type="hidden" name="type" value="$type">
<input type="hidden" name="actionName">
<input type="hidden" name="quizID">
<input type="hidden" name="quizName" value="$quizName">
<input type="hidden" name="quizIDTime">
<input type="hidden" name="ip" value="$ip">
</form>
<SCRIPT LANGUAGE="javascript">
 function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
   
 function confirmQuizStart1(frm,field){
	if(confirm("Are you sure to start Quiz")){
	frm.actionName.value=field.name;
		frm.quizIDTime.value=frm.quizList.options[frm.quizList.selectedIndex].value;
	frm.quizName.value=frm.quizList.options[frm.quizList.selectedIndex].text;
		//alert(frm.quizName.value);
		frm.submit();		
	}
	else{
		return false;
	}		
}
function confirmQuizStart(frm,field,secure,ip){
	var key=frm.quizList.options[frm.quizList.selectedIndex].value.split(",")[0];
		var arr=new Array();
		arr=secure.split(",");
		var quiz="";
		var sec="";
		var securityString="";
		var IP="";
		var enteredSecurity=frm.textBox.value;
		if(secure.length>2){
			for(var i=0;i<arr.length;i++){
				quiz=arr[i].split("=")[0];
				if(quiz.substring(0,1)=="{"){
					if(quiz.substring(1,quiz.length)==key){
						sec=arr[i].split("=")[1];
						break;
					}
				}
				else{
					if(quiz.substring(1,quiz.length) == key){
						sec=arr[i].split("=")[1];
						break;
					}
				}
			}
			securityString=sec.split(":")[0];
			IP=sec.split(":")[1];
			if(IP.substring(IP.length-1,IP.length)=="}"){
				IP=IP.substring(0,IP.length-1);
			}
		}
		
		if(IP==""){
			if(enteredSecurity!=""){
				if(enteredSecurity==securityString){
					if(confirm("Are you sure to start Quiz")){
						frm.actionName.value=field.name;
						frm.quizIDTime.value=frm.quizList.options[frm.quizList.selectedIndex].value;
						frm.quizName.value=frm.quizList.options[frm.quizList.selectedIndex].text;
							//alert(frm.quizName.value);
						frm.submit();		
					}
					else{
						return false;
					}	
				}
				else{
					alert("Please Enter Correct Security String !!");
					frm.textBox.value="";
					return false;
				}
			}
			else{
				alert("Please Enter Correct Security String !!");
					frm.textBox.value="";
					return false;
			}
		}
		else{
			if(IP==ip){
				if(enteredSecurity!=""){
					if(enteredSecurity==securityString){
						if(confirm("Are you sure to start Quiz")){
							frm.actionName.value=field.name;
							frm.quizIDTime.value=frm.quizList.options[frm.quizList.selectedIndex].value;
							frm.quizName.value=frm.quizList.options[frm.quizList.selectedIndex].text;
							//alert(frm.quizName.value);
							frm.submit();		
						}
						else{
							return false;
						}		
					}
					else{
						alert("Please Enter Correct Security String !!");
						frm.textBox.value="";
						return false;
					}
				}
				else{
					alert("Please Enter Correct Security String !!");
					frm.textBox.value="";
					return false;
				}
			}
			else{
				alert("You Have allready Logedin !!");
				return false;
			}
		}
		
}

</SCRIPT>
