#*
 * @#Update_Quiz_Question.vm
 * Copyright (c) 2010 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * Contributors: Members of MHRD Project DEI Agra
*#

$page.setTitle("Quiz Management")
$page.setBgColor("bgcolor")
## If some message has been set, that is retrieved and displayed.
<font face="$ui.sansSerifFonts">
$!data.getMessage()
</font>
## Retreiving the $lang (representing the choosen language for display, which was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())
<table bgcolor="$ui.menuColor" width=100%>
	<tr><td><b>
		<font face="$ui.sansSerifFonts">
		<a href=$link.setPage("Index.vm")>$brih_home</a>|
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
		<a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1")>$brih_generate $brih_exam</a> |
		<a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("count","3")>$brih_quiz $brih_detail</a>| 
		$brih_quiz #if($lang =="hindi")  #end  $brih_qus $brih_update
	</b></td></tr>
</table>

## Creating the links for help regarding FAQ 
<table width="100%">
	<tr>
		<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/OLES_Quiz.html","newWin");>$brih_help</a></td>
	</tr>
</table>

#set($cnm = $data.getUser().getTemp("course_name" ).toString())

<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Update_Quiz_Question.vm").setAction("OLES_Quiz")>
<div align="left">
<table align=center bgcolor="$ui.tableColor" border=0 cellpadding="5" width=95% >
	<tr bgcolor="$ui.menuColor" >
	    	<td align=center colspan=2 >    	    	
	    		<font size=4><b>$brih_quiz $brih_name : $!quizName </b></font>        
		</td>
	</tr>
	<tr>
		<td>
			<table align=center cellpadding="5" width=100% >
				<tr border="1" bgcolor="$ui.tableColor" font face="$ui.sansSerifFonts">
					<td align=center width=17%>
						<font color="$ui.fontColorBlue"><b> $brih_topic 
					</td>
					<td align=center width=20%>
						<font color="$ui.fontColorBlue"><b>$brih_type $brih_Of $brih_qus
					</td>
					<td align=center width=20%> 
						<font color="$ui.fontColorBlue"><b>$brih_difflevel
					</td>
					<td align=center width=18%>
							<font color="$ui.fontColorBlue"><b>$brih_marks $brih_per $brih_qus
					</td>
					<td align=center width=17%>
						<font color="$ui.fontColorBlue"><b>$brih_nos $brih_qus			
					</td>
					<td align=center width=8%>						
					</td>
				</tr>
				<tr>
					<td align=center colspan=6>
						<hr style="height:2px;border-width:0;color:black;background-color:black" />
					</td>
				</tr>
				#foreach($questionSetting in $allQuizSetting)
					#if($velocityCount%2==0)
						<tr bgcolor="$ui.tableColor">
					#else
						<tr bgcolor="$ui.menuColor">
					#end
					<td align=center width=20%>
						$questionSetting.getTopic() 
					</td>
					<td align=center width=20%>
						#if($questionSetting.getQuestionType()=="mcq")
							$brih_multiplechoice $brih_qus
						#elseif($questionSetting.getQuestionType()=="tft")
							$brih_true/$brih_false $brih_qus
						#elseif($questionSetting.getQuestionType()=="sat")
							$brih_shortType $brih_qus
						#else
							$brih_long $brih_qus
						#end
					</td>
					<td align=center width=20%> 
						#if($questionSetting.getQuestionLevel()=="0-3")
							$brih_easy
						#elseif($questionSetting.getQuestionLevel()=="4-6")
							$brih_medium					
						#else
							$brih_hard
						#end						
					</td>
					<td align=center width=15%>
						$questionSetting.getMarksPerQuestion()
					</td>
					<td align=center width=15%>
						$questionSetting.getQuestionNumber()
					</td>
					<td>
						#set($quizSetting="$questionSetting.getTopic(),$questionSetting.getQuestionType(),$questionSetting.getQuestionLevel(),$questionSetting.getMarksPerQuestion(),$questionSetting.getQuestionNumber(),$questionSetting.getID()")		
						#if($quizMode=="random")
							#if($allowPractice=="yes")
								<a href=$link.setPage("call,OLES,Practice_Quiz.vm").addPathInfo("quizDetail",$quizDetail).addPathInfo("quizSetting",$quizSetting).addPathInfo("quizName",$quizName).addPathInfo("mode","update").addPathInfo("quizMode",$quizMode)>$brih_edit</a>									
							#else
								<a href=$link.setPage("call,OLES,Random_Quiz.vm").addPathInfo("quizDetail",$quizDetail).addPathInfo("quizSetting",$quizSetting).addPathInfo("quizName",$quizName).addPathInfo("mode","update").addPathInfo("quizMode",$quizMode)>$brih_edit</a>
							#end
						#else
							<a href=$link.setPage("call,OLES,OneByOne_Quiz.vm").addPathInfo("quizDetail",$quizDetail).addPathInfo("quizSetting",$quizSetting).addPathInfo("quizName",$quizName).addPathInfo("mode","update").addPathInfo("quizMode",$quizMode)>$brih_edit</a>
						#end
					</td>
				</tr>					
				#end
			</table>
		</td>
	</tr>
</table>
			    	
<input type="hidden" name="qid" value="$!quizID">	
<input type="hidden" name="actionName">
<input type="hidden" name="allowPractice" value="$!allowPractice">

</div>
</form>
</body>
<SCRIPT LANGUAGE="javascript">

	function checkField(frm,field){
		frm.actionName.value=field.name;
               	frm.submit();
	}

</script>
