#*
 * @(#)Track_Report.vm
 * Copyright (c) 2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Tracking Report")
$page.setBgColor("bgcolor")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<table bgcolor="$ui.menuColor" width=100%>
<tr><td><b>
	<font face="$ui.sansSerifFonts">
	#if($data.getUser().getUserName() == "admin" ||$data.getUser().getTemp("role")=="institute_admin")
	<a href=$link.setPage("Index.vm")>$brih_ad $brih_home</a> |
	#if($mode == "repotype")
	$brih_tracking $brih_reports 
	#end
	#if($type =="user")
	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>$brih_tracking $brih_reports</a> |
	$brih_usr $brih_reports
	#end
	#else
	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$coursename </a> | 
	#if($mode == "repotype")
	$brih_tracking $brih_reports
	#end
	#if($type =="user")
	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>$brih_tracking $brih_reports </a> |
	$brih_usr $brih_reports	
	#end
	#if($type =="course")
	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>$brih_tracking $brih_reports </a> |
	$brih_course $brih_reports 
	#end
	#if($type =="quiz")
	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>$brih_tracking $brih_reports </a> |
	$brih_quiz $brih_reports
	#end
	#end
	</font>
</b></td></tr>
</table>
<table width="100%">
<tr><td align=right>
	#if($data.getUser().getUserName() == "admin")
	<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/Trackadminreport.html","newWin");>$brih_help</a>
	#elseif($data.getUser().getTemp("role")=="institute_admin")
	<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/Trackreport_Instadmin.html","newWin");>$brih_help</a>
	#else
	<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/TrackInstreport.html","newWin");>$brih_help
	#end
</td></tr>
</table>
##if($actionName=="eventSubmit_doSearchvalue")
<form name="frm" method="post" action=$link.setPage("call,TrackingReport,Track_Report.vm").setAction("TrackingReport")>
##else
##<form name="frm" method="post" action=$link.setPage("call,TrackingReport,Track_Report.vm")>
##end
<table width=100%>
#if($mode == "repotype")
##<tr bgcolor="$ui.menuColor"><b><i> Tracking Report</i></b></tr>
<tr bgcolor="$ui.tableColor"><td><b><i><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("type","user")>$brih_usr $brih_reports</a></i></b></td>
###if($data.getUser().getTemp("role")=="instructor")
#if(($data.getUser().getTemp("role")=="instructor")||($data.getUser().getTemp("role")=="teacher_assistant"))
<td><b><i><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("type","course")>$brih_course/$brih_lesson $brih_reports</a></i></b></td>
<td><b><i><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("type","quiz")>$brih_test/$brih_quiz $brih_reports</a></i></b></td>
#end
#if($data.getUser().getUserName() == "admin")
<td><b><i><a href=$link.setPage("call,TrackingReport,TrkReport_Instadmin.vm").addPathInfo("type","Instadmin").addPathInfo("mode","repoinfo")>$RemoteInstitute $brih_admin $brih_reports</a></i></b></td>
#end
#if($data.getUser().getUserName() == "admin" || $data.getUser().getTemp("role")=="institute_admin")
<td><b><i><a href=$link.setPage("call,TrackingReport,Track_Reportquiz.vm").addPathInfo("type","System").addPathInfo("mode","repoinfo")>$brih_system $brih_reports</a></i></b></td>
<td><b><i><a href=$link.setPage("call,TrackingReport,Track_ReportCourses.vm").addPathInfo("type","active").addPathInfo("mode","repoinfo")>$brih_most $brih_active$brih_usr /$brih_active$brih_course </a></i></b></td></tr>
#end
#end
#if($mode !="repotype" && $type !="System")
<tr bgcolor="$ui.menuColor" width="100%">
        <td>
        <b>$brih_match $brih_string </b>
              <input align=center type="text" name="valueString" value="" >
              <input type="button"  class="button-ftextstyle"  name="eventSubmit_doSearchvalue" value="$brih_search" onClick="checkNull(document.frm,this);">
              <input type="hidden" name="status" value="Search">
        </td>
        <td><b> 
		#if($lang == "hindi" || $lang=="gujarati") 
			$brih_reports $brih_for $brih_usr $brih_select 
		#else  
			$brih_select $brih_usr $brih_for $brih_reports 
		#end :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select class ="drop" name="uname" size="1" onChange="Changename(document.frm,this);"/>
        <option>  - $brih_select - </option>
                                #if($data.getUser().getUserName() == "admin"||$data.getUser().getTemp("role")=="institute_admin")
                                #foreach($usrname in $userList1)
                                <option value="$usrname.getLoginName()">$usrname.getLoginName()
                                #end
                                </option>
                                #else
                                #foreach($usrname in $userList)
                                <option value="$usrname">$usrname
                                #end
                                #end
                                </option>
                        </select>
        <input type="button"  class="button-ftextstyle" name="eventSubmit_doSelectValue" value="$brih_submit" onClick="Checkfield(document.frm,this);">
         </td>
</tr>
#end
#if($status == "Search")
	<tr bgcolor="$ui.tableColor" width="100%"><td width="100%" colspan="5"><b> #if($lang == "hindi" || $lang=="gujarati") 
											$brih_reports $brih_for $brih_usr $brih_select 
										   #else 
											$brih_select $brih_usr $brih_for $brih_reports 
										   #end :</b>&nbsp;
#if($data.getUser().getUserName() == "admin")
#foreach($usrname1 in $userList2)
#if($type =="user")
<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repoinfo").addPathInfo("type",$type).addPathInfo("usrname",$usrname1)>$usrname1</a>
#end
#end
#else
#foreach($usrname1 in $userList2)
#if($type =="user")
<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repoinfo").addPathInfo("type",$type).addPathInfo("usrname",$usrname1)>$usrname1</a>
#end
#if($type =="course")
<a href=$link.setPage("call,TrackingReport,Track_ReportCourses.vm").addPathInfo("mode","repoinfo").addPathInfo("type",$type).addPathInfo("usrname",$usrname1)>$usrname1</a>
#end
#if($type =="quiz")
<a href=$link.setPage("call,TrackingReport,Track_Reportquiz.vm").addPathInfo("mode","repoinfo").addPathInfo("type",$type).addPathInfo("usrname",$usrname1)>$usrname1</a>
#end
#end
#end
</td></tr>
##end
#else
#if($mode == "repoinfo" && $usrname!="")
#if($type =="user")
<tr><td><b><i>$brih_usr #if($lang == "hindi") $brih_Of #end $brih_reports $usrname</font></i></b></td></tr>
<table bgcolor="$ui.tableColor" width="100%" align="left" cellsapacing="0" cellpadding ="0">
<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5"><b>$brih_usr #if($lang == "hindi") $brih_Of #end $brih_general $brih_infos</b></td></tr>
<tr bgclor="$ui.tableColor" align="left">
        <td align="left" width="50%">$brih_usrName:
        <td align="left" width="50%"><b>$usrname</b>
</tr>
<tr bgclor="$ui.menuColor" >
        <td align="left" width="50%">$brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_role:
        <td align="left" width="50%"><b>$Rolename</b>
</tr>
<tr bgclor="$ui.menuColor" >
        <td align="left" width="50%">$brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_rollno:
	#if($empty=="falgrollnoprg")
        <td align="left" width="50%"><b>-</b>
	#else
        <td align="left" width="50%"><b>$rollno</b>
	#end
</tr>
<tr bgclor="$ui.menuColor" >
        <td align="left" width="50%">$brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_program:
	#if($empty=="falgrollnoprg")
        <td align="left" width="50%"><b>-</b>
	#else
        <td align="left" width="50%"><b>$prgname</b>
	#end
</tr>
<tr bgclor="$ui.menuColor">
	#if($data.getUser().getUserName() == "admin"||$data.getUser().getTemp("role")=="institute_admin")
        <td align="left" width="50">$brih_course #if($lang == "hindi") $brih_Of1 #end $brih_name:
	#else
        <td align="left" width="50%">$brih_topic:
	#end
	#if($data.getUser().getUserName() == "admin" || $data.getUser().getTemp("role")=="institute_admin")
        <td align="left" width="50%"><b>$dc</b>
	#else
	#if($value=="noempty")
        <td align="left" width="50%"><b>$dc</b>
	#else
        <td align="left" width="50%">$brih_trackmsg
	#end
	#end
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$brih_trklanguage:</td>
        ##<td align="left" width="50%"><b>English</td>
        <td align="left" width="50%"><b>$userLanguage</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$brih_active:</td>
        <td align="left" width="50%"><b>$Active</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$Res_join:</td>
        <td align="left" width="50%"><b>$jdate</td>
</tr>
<tr bgcolor="$ui.menuColor" width="100%"><td td width="100%" colspan="5"><b> #if($lang == "hindi" || $lang=="gujarati")
										$brih_communication  $brih_in $brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_info 
									     #else 
										$brih_usr $brih_info $brih_on $brih_communication 
									     #end </b></td></tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$personal $brih_indexHome_Msg:</td>
        <td align="left" width="50%"><b>$personalmess</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$Notice_Read $brih_indexHome_Msg:</td>
        <td align="left" width="50%"><b>$readmess</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$Notice_Unread $brih_indexHome_Msg:</id>
        <td align="left" width="50%"><b>$unreadmess</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$DiscussionBoard $brih_indexHome_Msg:</td>
        <td align="left" width="50%"><b>$DB</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$Notice_Read $DiscussionBoard $brih_indexHome_Msg:</td>
        <td align="left" width="50%"><b>$readDB</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$Notice_Unread $DiscussionBoard $brih_indexHome_Msg:</td>
        <td align="left" width="50%"><b>$unreadDB</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%"> #if($lang == "hindi" || $lang=="gujarati")
						$brih_Notices $brih_number 
					#else 
						$brih_number $brih_Of $brih_Notices 
					#end :</td>	
        <td align="left" width="50%"><b>$notices</td>
</tr>
<tr bgcolor="$ui.menuColor" width="100%"><td td width="100%" colspan="5"><b> $brih_usr $brih_grp #if($lang == "hindi") $brih_Of1 #end $brih_trkdetail </b></td></tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$brih_grp #if($lang == "hindi") $brih_Of1 #end $brih_name:</td>
	#if($name =="yes")
        <td align="left" width="50%"><b>$gname</td>
	#else
        <td align="left" width="50%"><b>__</td>
	#end
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$brih_grp #if($lang == "hindi") $brih_Of1 #end $brih_grpleader:</td>
	#if($name2=="yes")
        <td align="left" width="50%"><b>$sname</td>
	#else
        <td align="left" width="50%"><b>__</td>
	#end
</tr>
#if($data.getUser().getUserName() == "admin")
<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5"><b> #if($lang == "hindi" || $lang=="gujarati") 
										$brih_Usage $brih_system $brih_in $brih_usr #if($lang == "hindi") $brih_Of  #end $brih_info 
									#else 
										$brih_usr $brih_info $brih_on $brih_system $brih_Usage 
									#end</b></td></tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$brih_last $brih_login:</td>
        <td align="left" width="50%"><b>$ldate</td>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">$brih_login #if($lang == "hindi" || $lang=="gujarati") $brih_Of1 #end $brih_last $brih_trkmonth:</td>
        <td align="left" width="50%"><b>$lastdate</td>
</tr>
#end
#end
#end
#end
</table>
	<input type="hidden" name="actionName" >
        <input type="hidden" name="type" value="$type">
        <input type="hidden" name="mode" value="$mode">
        <input type="hidden" name="status" value="$status">
        <input type="hidden" name="usrname" value="$usrname">
        <input type="hidden" name="valdir">
</form>
<SCRIPT LANGUAGE="javascript">
function Changename(frm,field)
        {
                frm.valdir.value=document.frm.uname.value;

        }
function checkNull(frm,field)
{
        if(frm.valueString.value!="")
        {
		frm.actionName.value=field.name;
                frm.submit();
        }
        else
                alert("The 'Match String' text box can not be NULL");
}
function Checkfield(frm,field)
        {
                var items;
                items=frm.valdir.value;
                if(items.length!=0)
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                        else
                        alert("Please select option");
        }
function popupWin(url,popupName)
{
        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}
</script>
