#*
 * @(#)Quota.vm
 * Copyright (c)2008 - 2009,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($iid =$data.getUser().getTemp("Institute_id"))
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<table bgcolor="$ui.menuColor" width=100%>
	<tr>
		<td>
		<font face="$ui.sansSerifFonts"><b>
		##if($data.getUser().getUserName()=="admin")
		$page.setTitle("Quota Management")
         	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> | 
         	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("count","1").addPathInfo("mode","uquota").addPathInfo("status","nosearch") style=text-decoration:none>$brih_quota $brih_mgmt</a> |
		#if($mode=="cedit")
		$brih_quota $brih_update
		#else
		$brih_listOf $brih_course $brih_quota
		#end
		##end
		</font>
		</td>
	</tr>
</table>
<table width=100%>
        <tr bgcolor="$ui.tableColor">
                <td align=right colspan="10">
		<img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/Quota.html","newWin");>$brih_help</a>
                </td>
        </tr>
<tr bgcolor="$ui.menuColor">
	#*if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("mode","uquota").addPathInfo("count","1").addPathInfo("status","nosearch") style=text-decoration:none>$brih_usr $brih_quota </a></td>*#
	##<td>
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("mode","cquota").addPathInfo("count","1").addPathInfo("status","nosearch") style=text-decoration:none>$brih_course $brih_quota </a></td>
	<td>$quota_avail $allotedquota $brih_qsizegb</td><td colspan="7">$brih_rem $brih_quota $!rquota $brih_qsizegb</td>
</td>

</tr>
#if($mode == "cedit")
<form name="frm" action="$link.setPage("call,Quota_Mgmt,Quota.vm").setAction("QuotaAction")"> 
#else
<form name="frm" action="$link.setPage("call,Quota_Mgmt,Quota.vm")"> 
#end
#if($mode != "cedit")  
<tr bgcolor="$ui.tableColor">
	<td align=left colspan=10><b><I>$brih_listOf $brih_course $brih_quota </I></td>
</tr>
<tr bgcolor="$ui.menuColor">
                <td><b>$brih_searchBy</b></td>
                <td align=left>
                        <select class="drop" name="queryList">
                                <option value="CourseId"> $brih_course $brih_ID</option>
                                <option value="Course Name">$brih_course $brih_name</option>
                                <option value="Dept">$brih_dept </option>
                        </select>
                </td>
                <td align=left><b>$brih_match_str</b></td>
                <td align=left>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input type="button" class="button-ftextstyle" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="status" value="Search">
                        <input type="hidden" name="mode" value="$mode">
                        <input type="hidden" name="count" value="$tdcolor">
                </td>
                <td>
                <td>
        </tr>
##end
<tr bgcolor="$ui.tableColor"> 
<font size=1>	
	<td width=10%><b>$brih_name</b></td>
	<td><b>$brih_courseName</b></td>
	<td><b>$quota_avail $quota_sze</b></td>
	<td colspan=5><b>$brih_availableAction</b></td></font>
</tr>
	#if($status == "nosearch")	
		#set($counter=1)
		#foreach($lst in $entry)
		#set($counter1=1)
		#foreach($lst1 in $entry1)
		#set($counter2=1)
		#foreach($lst2 in $entry2)
		#if(($counter==$counter1)&&($counter==$counter2))
		#if($velocityCount%2==0)
                <tr bgcolor="$ui.menuColor">
		#else
                <tr bgcolor="$ui.tableColor">
		#end
		##if($lst.getGroupName().endsWith($iid))
                #*<td><I>$lst.getGroupName()</I></td>
                <td><I>$lst.getCname()</I></td>
                <td><I>$lst.getQuota()</I></td>*#
                <td><I>$lst</I></td>
                <td><I>$lst1</I></td>
                <td><I>$lst2</I></td>
                <td align=left colspan=2>
                <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("grName",$lst).addPathInfo("cname",$lst1).addPathInfo("mode","cedit").addPathInfo("cquota",$lst2).addPathInfo("status",$status).addPathInfo("count",$tdcolor) style=text-decoration:none><I>$brih_edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                </tr>
                #end
                #set($counter2=$counter2+1)
                #end
                #set($counter1=$counter1+1)
                #end
                #set($counter=$counter+1)
                #end
	#else
	#foreach($det in $detail)
	#if($velocityCount%2==0)
	<tr bgcolor="$ui.menuColor">
	#else
	<tr bgcolor="$ui.tableColor">
	#end
	<td><I>$det.getGroupName()</I></td>
        <td><I>$det.getCname()</I></td>
        <td><I>$det.getQuota()</I></td>
        <td align=left colspan=2>
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("grName",$det.getGroupName()).addPathInfo("cname",$det.getCname()).addPathInfo("mode","cedit").addPathInfo("cquota",$det.getQuota()).addPathInfo("status",$status).addPathInfo("count",$tdcolor) style=text-decoration:none><I>$brih_edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
	#end                
	#end                

<tr>
<td colspan=10 align=left bgcolor="$ui.menuColor">
#if($status == "nosearch")	
        #if($total_size <= $userConf)
        <img src="$content.getURI("images/First_blank.png")">
        <img src="$content.getURI("images/Previous_blank.png")">
        <img src="$content.getURI("images/Next_blank.png")">
        <img src="$content.getURI("images/Last_blank.png")">

        #elseif($startIndex == $userConf_string)
        <img src="$content.getURI("images/First_blank.png")">
        <img src="$content.getURI("images/Previous_blank.png")">
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a>
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a> &nbsp;

        #elseif($endIndex == $total_size || $endIndex > $total_size)
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a>
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a>
        <img src="$content.getURI("images/Next_blank.png")">
        <img src="$content.getURI("images/Last_blank.png")">

        #else
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a>
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a> &nbsp;
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a>
        <a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor).addPathInfo("status",$status) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a>
        #end
#else
	#if($total_size<= $userConf)
	<img src="$content.getURI("images/First_blank.png")">
	<img src="$content.getURI("images/Next_blank.png")">
	<img src="$content.getURI("images/Previous_blank.png")">
	<img src="$content.getURI("images/Last_blank.png")">
	#elseif($startIndex== $userConf_string)
	<img src="$content.getURI("images/First_blank.png")">
	<img src="$content.getURI("images/Previous_blank.png")">
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$startIndex).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a>
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_last).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a>
	#elseif($endIndex == $total_size || $endIndex > $total_size)
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_first).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a>
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_pre).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a>
	<img src="$content.getURI("images/Next_blank.png")">
	<img src="$content.getURI("images/Last_blank.png")">
        #else
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_first).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a>
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_pre).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a>
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$startIndex).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a>
	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("startIndex",$check_last).addPathInfo("status",$status).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a>
     		#end
     	#end
</td>
</tr>
#end
#if($mode=="cedit")  
	<tr bgcolor="$ui.tableColor"> 
	<td colspan=10><b><I>$brih_update $brih_course $brih_quota</I></td>
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td>$brih_course $brih_ID</td>
                <td colspan=10><input type="text" name="grName" value="$gname" "readonly"></td>
	</tr>	
	<tr bgcolor="$ui.tableColor">
		<td>$brih_courseName</td>
                <td colspan=10><input type="text" name="cname" value="$cname" "readonly"></td>
	</tr>	
	<tr bgcolor="$ui.menuColor">
		<td>$brih_course $brih_quota $quota_sze</td>
                <td colspan=10><input type="text" name="cquota" value="$cquota"></td>
	</tr>
	<tr bgcolor="$ui.tableColor"><td colspan=10>
	<input type="button" class="button-ftextstyle" name="eventSubmit_doUpdate" value=$brih_update onClick="Updatefield(document.frm,this);"/>	
	</td></tr>
#end
                <input type="hidden" name="actionName">
                <input type="hidden" name="mode" value=$mode>
                <input type="hidden" name="count" value="$tdcolor">
                <input type="hidden" name="status" value="$status">

</form>
</table> 
<SCRIPT LANGUAGE="javascript">
	function checkfield(frm,field)
	{
		if(frm.quota.value!="")
		{	
			if(isNumberString(frm.quota.value))
			{
     				frm.actionName.value=field.name;
     				frm.submit();
			}
    		}
	}
	function Updatefield(frm,field)
	{
		if(frm.cquota.value!="")
		{
			if(isNumberString(frm.cquota.value))
			{
     				frm.actionName.value=field.name;
     				frm.submit();
			}
    		}
	}
	 function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }


	function isNumberString(chString)
        {
                if(chString.length==0)
                return false;
                var RefString="0123456789";
                for(count=0;count<chString.length;count++)
                {
                        tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
				alert("Value should be numeric")
                                return false;
                        }
                }
                        return true;
        }
	function checkNull(frm,field){
                if(frm.valueString.value!="")
		{
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }

</SCRIPT>

