/* 
    Document   : task
    Created on : Jun 2, 2011, 1:27:30 AM
    Author     : Algox
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.even-row {
    background-color: #FCFFFE;
}

.odd-row {
    background-color: #ECF3FE;
}

.active-row {
    background-color:#22b195 !important;
    cursor: pointer;
}
