#*
 * @(#) CourseManagement.vm
 * Copyright (c) 2005, 2009-2010, 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kuamr Singh</a>
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
  @author <a href="mailto:piyushm45@gmail.com">Piyush Mishra</a>
 * @modified date: 30-03-2010
 * @modified date: 15-02-2011, 20-04-2012,04-10-2012, 04-01-2013, 22-04-2013 (Shaista)
*#

$page.setTitle("Home | $course | Course management")
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<link type="text/css" href="$content.getURI("/scrpts/youtubeplugin/youtube_Helplink.css")" rel="stylesheet"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/youtubeplugin/brih_Helpvideo.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/youtubeplugin/youtube_Helplink.js")"></script>
<script type="text/javascript">
        $(function () {
            $("a.youtube").YouTubePopup({ autoplay: 0 });
        });
 </script>
#set($lang = $data.getUser().getTemp("lang" ).toString())  
<table bgcolor="$ui.menuColor" width=100%>
<tr align="right">
<td>
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> $brih_mgmt $brih_course </a> | $brih_course $brih_content $brih_upload |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
	<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> 
</td>
</tr>
</table>
<table width=100% bgcolor="$ui.tableColor">
#if($errorMess!="")
     <tr>
           <td><b>$brih_uploadingError </b>$!errorMess </td>
     </tr>
#else
        <tr >
        #if($uploadStatus=="full")
                <td>
                #if($pub=="Publish")
                $brih_uploadSucessfully $brih_and $brih_published
                #else
                $brih_uploadSucessfully
                #end
		&nbsp;&nbsp;$!data.getMessage()
                #if($XmlMsg!="")
 	               $XmlMsg
                #end
                </td>
        #else
                #if($uploadStatus=="partial")
                        <td>
                       ## Some of the files have been uploaded
                        $brih_uploadSomeFile  <br>

                       ## Following files already existed, so were not uploaded :
                        $brih_uploadFileExist $brih_commaexist
			&nbsp;&nbsp;$!data.getMessage() <br>
			#if($XmlMsg!="")
 	                       $XmlMsg
	                #end
                
		#elseif($totalFilesEntries.Count>0)
                        <td>
                        ##None of the files were Uploaded <br>
                        ##All of the following  Existed at Server :
			$brih_uploadNonefile <br>
                        $brih_uploadFileOnServer $brih_commaexist<br>
			#if($XmlMsg!="")
	                        $XmlMsg
	                #end
                #elseif($uploadStatus!="")
                        <td>
                        ##There is nothing to Upload
                        $brih_uploadNothin <br>
		#elseif($tmpupload=="uploadXmlMsg")
	                $XmlMsg
                #end
                 <br>
                #set($count=1)
                #foreach($File in $failedFiles)
                        <tr>
                       <td> $count.  $File</td>
                        </tr>
                        #set($count=$count+1)
                #end
                </td>
        #end
        </tr>
#end
</table>
<table width=100% bgcolor="$ui.tableColor">
<tr>
        <td align=right>
	<a href=javascript:popupWin("/brihaspati2/docs/Upload.html","newWin"); style=text-decoration:none>$brih_help</a>
        <a class="youtube" href="#" rel="$vid" style=text-decoration:none><font size="3"> | $brih_VideoHelp</font></a>
        <img src="$content.getURI("/images/Lefthand.gif")"> 
	</td>
	<td align="right" ><b>$brih_usedspace $!TUSize $quota_sze</b></td>
        <td align="right"><b>$brih_space $!aSize $quota_sze </b></td>
</tr>
</table>
#if($user_role == "instructor")
        <table width="100%" align="left" bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor" align="right">
		#if($tdcolor != "7")
                <td>
                #elseif($tdcolor == "7")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")>$brih_scorm $Repo_Player</a> </td>
                #if($tdcolor != "6")
                <td>
                #elseif($tdcolor == "6")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") >$brih_scorm $brih_packager</a></td>
                #if($tdcolor != "5")
                <td>
                #elseif($tdcolor == "5")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") > $brih_grade $brih_Of $RemoteConfiguration </a></td>
                #if($tdcolor != "4")
                <td>
                #elseif($tdcolor == "4")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") > $brih_course $brih_Of $brih_header  $brih_upload </a></td> 
                #if($tdcolor != "3")
                <td>
                #elseif($tdcolor == "3")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3")>$brih_course $RemoteConfiguration</a></td>
		#if($tdcolor != "2")
		<td>
		#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") > $brih_course $brih_content $brih_upload </a></td>
		#if($tdcolor != "0")  
		<td>
	        #elseif($tdcolor == "0")
        	<td bgcolor="#AFDCEC">
	        #end
        	<a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user</a></td>
                #if($tdcolor != "1")
                <td>
                #elseif($tdcolor == "1")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") > $brih_course $brih_content  </a></td>
	</tr>
	</table>
#else
	<table width="100%" align="left" bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor">
                #if($tdcolor != "2")
                <td>
                #elseif($tdcolor == "2")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") > $brih_course $brih_content $brih_upload </a></td>
                #if($tdcolor != "0")  
                <td>
                #elseif($tdcolor == "0")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user</a></td><td>
		 #if($tdcolor != "1")
                <td>
                #elseif($tdcolor == "1")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") > $brih_course $brih_content </a></td>
	 </tr>
        </table>
#end
######################################
 ## Upload.vm
<form name=uploadform method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,CourseManagement.vm").setAction("UploadAction")">
<table width="100%" align="left">
      #if ($errorTemplate)
      <tr>
        <td colspan="4">
          <table bgcolor="$ui.bgcolor">
            <tr>
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end
        <tr width=100% bgcolor="$ui.menuColor" align="right">
		<td colspan="6" > <font color="red">$brih_UploadMsg</font> <img src="$content.getURI("/images/Lefthand.gif")"> </td>
        </tr>
	
	#if($user_role == "instructor")
	      <tr width=100% bgcolor="$ui.tableColor">
		<td align="right"> <b> $brih_mail $Notice_Send </b> <INPUT TYPE="CHECKBOX" name="sendMail" value="sendMail" onchange="javascript:showTextBox()" id="check"></td>
	        <td align="right" width=10%> <b>$brih_publish</b> <INPUT TYPE="CHECKBOX" name="publish" value="Publish"> </td>
		<td align="right"> <b>$brih_new $brih_topic</b><input type="RADIO" name=topicExisting value="NEWTOPIC" onClick=contentChange(document.uploadform)></td>
		<td align="right" colspan="3">
		        <SELECT class="drop" name=topicList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.uploadform)>
        		  <option></option>
		        #foreach($topic in $allTopics)
        		        <option>$topic</option>
	        	  #end
	        	</SELECT>
		         <INPUT TYPE="hidden" name="unpublish" checked=true  value="" >
			<b> $brih_Exist $brih_topic </b>
			<input type="RADIO" name=topicExisting checked=true value="OLDTOPIC" onClick=blurTopicName(document.uploadform)>
		</td>
	        </tr>
	#else
		<tr width=100% bgcolor="$ui.tableColor" align="right">
		<td colspan="5">
        	<SELECT class="drop" name=topicList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.uploadform) class="drop">
	          <option></option>
        	#foreach($topic in $allTopics)
                	<option>$topic</option>
	          #end
        	</SELECT>
		<INPUT TYPE="hidden" name="unpublish" checked=true  value="" >
	        <b>$brih_Exist $brih_topic</b><input type="RADIO" name=topicExisting checked=true value="OLDTOPIC" onClick=blurTopicName(document.uploadform)>
	        </td>
		<td> <b> $brih_new $brih_topic </b> <input type="RADIO" name=topicExisting value="NEWTOPIC" onClick=contentChange(document.uploadform)></td>
		</tr>	
	#end
      <tr bgcolor="$ui.menuColor" width=100% align="right">
	<td>
                <div style="display:none;" id="textboxDiv1">
                         <textarea name="text1" rows=2 cols=35></textarea>
                </div>
        </td>
        <td colspan="2">
                <div style="display:none;" id="textboxDiv">
                        <b>  $brih_mail $mailmsg </b>
                </div>
        </td>
        ##formCell ("Topic Name" "contentTopic" "")
        <td> <input type="text" name=contentTopic onFocus=checkRadio() size=30> </td>
        <td colspan="3"> <b><font face="$ui.sansSerifFonts">$brih_topic $brih_Of1 $brih_name</font> </b> </td>
      <tr bgcolor="$ui.tableColor">
              ##fileUpload ("1. &nbsp; $brih_at_file " "file1")</td><td></td>#fileUpload ("6.&nbsp; $brih_at_file  &nbsp;" "file6")
		<td> <input type="file" name="file6"> </td>
                <td align="right"> $brih_at_file </td>
                <td style="margin-right: 80px;">.6</td>
                <td> <input type="file" name="file1"> </td>
                <td align="right"> $brih_at_file </td>
                <td>.1</td>

      </tr>
      <tr bgcolor="$ui.menuColor">
##              #fileUpload ("2. &nbsp; $brih_at_file " "file2")</td><td></td>#fileUpload ("7.&nbsp; $brih_at_file  &nbsp;" "file7")
		<td> <input type="file" name="file7"> </td>
                <td align="right"> $brih_at_file </td>
                <td style="margin-right: 80px;">.7</td>
                <td> <input type="file" name="file2"> </td>
                <td align="right"> $brih_at_file </td>
		<td>.2</td>
      </tr>
      <tr bgcolor="$ui.tableColor">
              ###fileUpload ("3. &nbsp; $brih_at_file " "file3")</td><td></td>#fileUpload ("8.&nbsp; $brih_at_file  &nbsp;" "file8")
		<td> <input type="file" name="file8"> </td>
                <td align="right"> $brih_at_file </td>
                <td style="margin-right: 80px;">.8</td>
                <td> <input type="file" name="file3"> </td>
                <td align="right">$brih_at_file </td>
		<td>.3</td>
      </tr>
      <tr bgcolor="$ui.menuColor">
		##fileUpload ("4. &nbsp; $brih_at_file " "file4")</td><td></td>#fileUpload ("9.&nbsp; $brih_at_file  &nbsp;" "file9")
		 <td> <input type="file" name="file9"> </td>
                <td align="right"> $brih_at_file </td>
                <td style="margin-right: 80px;">.9</td>
                <td> <input type="file" name="file4"> </td>
                <td align="right"> $brih_at_file </td>
		<td>.4</td>
        </tr>
	<tr bgcolor="$ui.tableColor">
              ##fileUpload ("5. &nbsp; $brih_at_file " "file5")</td><td></td>#fileUpload ("10.&nbsp; $brih_at_file  &nbsp;" "file10")
		<td> <input type="file" name="file10"> </td>
                <td align="right"> $brih_at_file </td>
                <td style="margin-right: 80px;">.10</td>
                <td> <input type="file" name="file5"> </td>
                <td align="right">$brih_at_file </td>
		<td>.5</td>
      </tr>

      <tr align="right">
        <td colspan=6 bgcolor="$ui.buttonBoxColor">
          #*
            Check for a mode, the update and delete buttons
            shouldn't appear when inserting a new user.
          *#
	<font face="$ui.sansSerifFonts">

		<input type="button" class="button-ftextstyle" name="eventSubmit_doUpload" value="$brih_upload" onClick="validate(document.uploadform,this);"/>&nbsp;
	        <input type="hidden" name="actionName" value="">
        	<input type="hidden" name="count" value="$tdcolor">

          </font>
        </td>
      </tr>
    </table>
</form>

<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function blurTopicName(frm)
        {
                frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
        }

        function changeTopic(frm)
        {
                if(frm.topicExisting[1].checked)
                {
                        frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
                }
                else
                {
                        frm.contentTopic.focus();
                }
        }
         function checkRadio()
        {
                if(document.uploadform.topicExisting[1].checked)
                {
                        document.uploadform.contentTopic.blur();
                }

        }
	function contentChange(frm)
        {
                document.uploadform.contentTopic.value="";
        }
        function validate(uploadform,field)
        {
                var tList=uploadform.topicList;
                var cTopic=uploadform.contentTopic;
                if(uploadform.contentTopic.value!="")
                {
                        var totNamedEntries=uploadform.topicList.length;
                        for(i=1;i<totNamedEntries;i++)
                        {
                                if(tList.options[i].text==cTopic.value)
                                {
                                        if(uploadform.topicExisting[1].checked)
                                        {
                                                if(confirm("The topic already exists. Pressing OK will put the file/s in existing Topic"))
                                                {
                                                uploadform.actionName.value=field.name;
                                                uploadform.submit();
                                                }
                                                else
                                                {
                                                return;
                                                }

                                        }
                                }
                        }
                        uploadform.actionName.value=field.name;
                        uploadform.submit();
                }
                else
                {
                        alert("Topic Name Can not Empty !!");
                }
        }
	function showTextBox() {
        if ($('#check').is(':checked')) {
            $("#textboxDiv").show();
            $("#textboxDiv1").show();
        }
        else {
            $("#textboxDiv").hide();
            $("#textboxDiv1").hide();
        }
	}
</SCRIPT>
