#*
 * @(#) LearnerProgressModule.vm
 * Copyright (c) 2011-2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:kishore.shukla@gmail.com">Kishore Kumar shukla</a>
 * @author: <a href="mailto:seema_020504@yahoo.com">Seemapal</a>
 * @author <a href="shaistashekh@hotmail.com">Shaista </a>
 * @modified Date: 13-6-2012
*#

<head>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Scormjs/back.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
$page.setBgColor($ui.bgcolor)
$page.setTitle("Scorm content Upload")
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.menuColor" width=100%>
        <tr>
                <td>
                <font face="$ui.sansSerifFonts"><b>
                <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
                #if($user_role == "instructor")
                <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm")>$brih_course $brih_mgmt</a> | 
                <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm")>$brih_upload $brih_scorm $brih_packager</a> | $brih_scorm$brih_tracking
                </font>
                </td>
                #else
                <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm")> #if($lang == "hindi") $brih_content $RemoteShow #else $RemoteShow $brih_scorm $brih_content #end</a> | $brih_scorm$brih_tracking
                </font>
                #end
                </td>
        </tr>
</table>
	#if($user_role == "instructor")
<table width=100% bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.menuColor">
<tr>
        #if($tdcolor != "1")    
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")> #if($lang == "english") $brih_course  $brih_content #else $brih_content #end </a></td>
        #if($tdcolor != "0")  
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user </a></td><td>
        #if($tdcolor != "2")    
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2")> #if($lang !="english") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
        #if($tdcolor != "3")    
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3")> $brih_course $RemoteConfiguration </a></td>
        #if($tdcolor != "4")    
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4")> #if($lang == "english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload 	#end </a></td>
        #if($tdcolor != "5")    
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5")> #if($lang == "english") $RemoteConfiguration $brih_grade #else $brih_grade $RemoteConfiguration #end </a></td>
        #if($tdcolor != "6")    
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6")> $brih_scorm $brih_packager </a></td>
        #if($tdcolor != "7")
         <td>
         #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
         #end
       <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")> $brih_scorm $Repo_Player </a>
         </td>
</tr>
</table>
#end
<table>
	<tr>
	<td>
	<a href=javascript:popupWin("/brihaspati/docs/cmi_element.html","newWin");>$brih_help</a>
        <img src="$content.getURI("/images/Lefthand.gif")"> 
	</td>
	</tr>
</table>
<form name="learner_progress" method="post" enctype="multipart/form-data" >
<table width="100%" align="left" border="0" cellpadding="2" cellspacing="1" bgcolor="$ui.tableColor">
<tr align="right">
	<td colspan="5">
		<table>
			<tr  align="right">
				<td> <b>$package</b> </td>
				<td> :$brih_package $brih_title </td>
			</tr>
		</table>	
	</td>
</tr>
<tr align="right">
<td bgcolor="$ui.menuColor" align="center"><b>$brih_Session $brih_time</b></td>
<td bgcolor="$ui.menuColor" align="center"><b>$brih_exit $brih_status</b></td>
<td bgcolor="$ui.menuColor" align="center"><b>$brih_entry $brih_status</b></td>
<td bgcolor="$ui.menuColor" align="center"><b>$brih_lesson $brih_status</b></td>
<td bgcolor="$ui.menuColor" align="center"><b>$brih_lesson $brih_title</b></td>
</tr>
#foreach ( $item in $report )
	#set ( $lesson_status = $item.lesson_status )
	#set ( $clr = "black" )
	#if ( $lesson_status == "not attempted" ) 
		#set ( $clr = "red" )
	#elseif ( $lesson_status == "completed" )
		#set ( $clr = "blue" )
	#elseif ( $lesson_status == "browsed" )
		#set ( $clr = "green" )
	#end
	<tr  align="right">
	##<td bgcolor="white" align="center"><font color="$clr"><a class="$lesson_status" href="#item.lesson_status">$item.lesson_status</a></font></td>
	<td bgcolor="white" align="center">$item.session_time</td>
	<td bgcolor="white" align="center">$item.exit_status</a></td>
	<td bgcolor="white" align="center">$item.entry_status</a></td>
	<td bgcolor="white" align="center"><font color="$clr">$item.lesson_status</a></font></td>
	<td bgcolor="white">$item.lesson_title</td>
	#if ( $item.lesson_status == "not attempted" )
		#set ( $lesson_status = "notattempted" )
	#else
		#set ( $lesson_status = $item.lesson_status )
	#end
	</tr>
#end
<tr  align="right">
<td colspan="5" align="right">
	
	<input type="button" class="button-ftextstyle" value="$brih_back" onclick="back()">
	
</td>
</tr>
</table>
<input type="hidden" name="courseid" value="$courseid">
<input type="hidden" name="learnerid" value="learnerid">
</form>
<br>
<br>
</body>
