#*
 * @(#) ASS_subm.vm
 * Copyright (c) 2007,2009,2010,2011,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="arvindjss17@yahoo.co.in">Arvind Pal</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified date: 04-04-2011 (Shaista)
 * @modified date: 31-12-2009, 22-02-2010, 10-08-2010, 09-Aug-2011 (sunil kr), 18-03-2013(Tej)
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#
<head>
##This Script use for Fck Editor in Textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script> ## sk
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<body onload="initEditor()">
#set($lang=$data.getUser().getTemp("lang").toString())
$!data.getMessage() 
<table bgcolor="$ui.menuColor" width=100% > ##table 1 start
        <tr> <td><b>
        <a href=$link.setPage("call,IndexHome.vm") style="text-decoration:none">$brih_home</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style="text-decoration:none">$coursename </a>|
	#if($user_role == "instructor")	
	<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style="text-decoration:none"> $brih_assignment  </a>| #if($lang == "hindi") $brih_assignment $brih_post #else $brih_post $brih_assignment #end </b>
	#else
	<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style="text-decoration:none"> $brih_assignment  </a>| #if($lang == "hindi") $brih_assignment/$brih_answer $brih_Of1 $brih_view #else $brih_view $brih_assignment/$brih_answer #end </b>
	#end
        </td></tr>
</table> ##table 1 end  
<table width=100%>
<tr bgcolor="$ui.tableColor">
	#if($user_role == "instructor")
		#if($tdcolor != "1")
		<td>
		#elseif($tdcolor=="1")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment $brih_post #else $brih_post $brih_assignment #end </a></td>
               	#if($u == true)
		#if($tdcolor != "2")
		<td>
		#elseif($tdcolor=="2")
		<td bgcolor="#AFDCEC">
		#end
               	<a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment/$brih_answer $brih_Of1 $brih_view #else $brih_view $brih_assignment/$brih_answer #end </a></td>
		#if($u == true)
                #if($tdcolor != "5")
                <td>
                #elseif($tdcolor=="5")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Assignment,EditDelete.vm").addPathInfo("count","5") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment $brih_Of1 $brih_edit/$brih_delete #else $brih_edit/$brih_delete $brih_assignment #end </a></td>
                #end
        	       	#if($u1 == true)
			#if($tdcolor != "3")
			<td>
			#elseif($tdcolor=="3")
			<td bgcolor="#AFDCEC">
			#end
                	<a href=$link.setPage("call,Assignment,PostAns.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang == "hindi") $brih_answer $brih_post #else $brih_post $brih_answer #end </a></td>
			#if($tdcolor != "4")
			<td>
			#elseif($tdcolor=="4")
			<td bgcolor="#AFDCEC">
			#end
                        <a href=$link.setPage("call,Assignment,RePermission.vm").addPathInfo("count","4") style="text-decoration:none"> $brih_repost  #if($lang == "hindi") $brih_Of #end $Repo_Perm</a></td>
                	#end
        	#end
		<td><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/Ass.html","newWin"); style="text-decoration:none">$brih_help</a></td>
	#else
		#if($u == true)
			#if($tdcolor != "1")
			<td>
			#elseif($tdcolor=="1")
			<td bgcolor="#AFDCEC">
			#end
                	<a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment/$brih_answer $brih_Of1 $brih_view #else $brih_view $brih_assignment/$brih_answer #end </a></td>
        	#if($u1 == true)
			#if($tdcolor != "2")
			<td>
			#elseif($tdcolor=="2")
			<td bgcolor="#AFDCEC">
			#end
                	<a href=$link.setPage("call,Assignment,PostAns.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang == "hindi") $brih_answer $brih_post  #else $brih_post $brih_answer #end </a></td>
        	#end
        	#if($u2 == true)
			#if($tdcolor != "3")
			<td>
			#elseif($tdcolor=="3")
			<td bgcolor="#AFDCEC">
			#end
                	<a href=$link.setPage("call,Assignment,RePostAns.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang == "hindi") $brih_answer $brih_repost  #else $brih_repost $brih_answer #end </a></td>
        	#end
   		#end
		<td><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/ASS1.html","newWin"); style="text-decoration:none">$brih_help</a></td>
        #end
</tr>
</table>
#if($user_role == "instructor")
	#if($mode!="Update")
        <form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,Assignment,ASS_subm.vm").setAction("Assignments")>
        #else
        <form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,Assignment,EditDelete.vm").setAction("Assignments")>
        #end
	#set($month=["01","02","03","04","05","06","07","08","09","10","11","12"])
	#set($day=["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"])
	<table bgcolor="$ui.tableColor" width="100%">
	<tr bgcolor="$ui.menuColor">
		<td><b>$brih_topic #if($lang == "hindi") $brih_Of1 #end $brih_name<font color=Red>*</font></b></td>
		#if($mode!="Update")
		<td><input type="text" name="contentTopic" value="$!DB_subject" size=18 onChange="validate1(this)"/> &nbsp;
		#else
		<td><input type="text" name="contentTopic" value="$topic" size=18 onChange="validate1(this)"/ readonly> &nbsp;
		#end
		#if($mode!="Update")
		<input type="button" class="button-ftextstyle" name="dosubmitView" value="$brih_topic $QuestionBank_available" onClick="checkBlank1(document.uploadform,this);"/></td>
		#end
	</tr>
	<tr>
		<td><b>$brih_due $brih_Da</b></td>
		<td><select class="drop" id="y" name="Start_year"  >
                <option value="$cyear" >$cyear
                #foreach($year in $year_list)
                	#if($cyear != $year)
                        <option value="$year">$year
                        #end
		#end
                </select>
                &nbsp <b><font size=+1>-</font></b>&nbsp
                <select class="drop" id="m" name="Start_mon"  >
                <option value="$cmonth">$cmonth
		#foreach($mon in $month)
                	#if($mon != $cmonth)
                        <option value="$mon">$mon
                        #end
              	#end
                </select>
		&nbsp<b><font size=+1>-</font></b>&nbsp
                <select class="drop" id="d" name="Start_day"  >
                <option value="$cdays">$cdays
                #foreach($d in $day)
                	#if($d!=$cdays)
                        <option value="$d">$d
                        #end
		#end
                </select>
                </td>
	</tr>
        <tr bgcolor="$ui.menuColor">
		<td><b> $brih_instruction  </b></td>
		#if($mode == "")
            	<td align="left" width="3"><textarea id="ta" name="message" wrap="physical" rows=9 cols=80 > $!DB_message </textarea></td>
		#else
            	<td align="left" width="3"><textarea id="ta" name="message" wrap="physical" rows=9 cols=80 > $!message </textarea></td>
		#end
	</tr>
	<tr>
        	<td> <b> $brih_max $brih_marks </b> <b><font color=RED> * </font></b> </b></td>
		#if($mode == "")
                <td> <input type="text" size=3 name="grade" value="10" ></td>
		#else
                <td> <input type="text" size=3 name="grade" value="$maxmarks" ></td>
		#end
	</tr>
        <tr bgcolor="$ui.menuColor">
                #fileUpload ("<b> $brih_at_file<font color=RED> * </font> </b> " "file")
	</tr>
	<tr>
		<td> <b>$brih_publish</b></td>
		<td><INPUT TYPE="CHECKBOX" name="publish" value="0" checked>  </td>
		
	</tr>
	<tr bgcolor="$ui.menuColor">
		<td colspan=2>
		#if($mode!="Update")
		<input type="button" class="button-ftextstyle" name="brih_upload" value="$brih_upload" onClick="checkBlank(document.uploadform,this);" />
                <input type="reset" class="button-ftextstyle" name="brih_clear" value="$brih_clear" onClick="window.location.reload(true);"/>
		#else
		<input type="button" class="button-ftextstyle" name="doUpdate" value="$brih_update" onClick="checkBlank(document.uploadform,this);" />
		<input type="hidden" name="tmpId" value=$tmpId>
		#end
                        </font>
                        </td>
                </tr>
        </table>
		<input type="hidden" name="actionName">
                <input type="hidden" name="mode" value=$mode>
                <input type="hidden" name="cid" value=$cid>
		<input type="hidden" name="filename" value=$Assignmentfilename>
</form>
#end
</form>
</body>
<SCRIPT LANGUAGE="javascript">
 function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
	function checkBlank1(uploadform,field)
        {
                        uploadform.actionName.value=field.name;
                        uploadform.submit();
        }

        function checkBlank(uploadform,field)
        {
		editor.setMode("textmode")
                //if( (uploadform.contentTopic.value!="")  && (uploadform.message.value!="")  && (uploadform.grade.value!="")&& uploadform.file.value!="")
		if((uploadform.contentTopic.value!="") && (uploadform.grade.value!="") && (uploadform.file.value!=""))
                {
		//	if(uploadform.message.value!="" || uploadform.file.value!="")
                  //      {
	                        if(isNumberString(uploadform.grade.value))
        	                {
                	                alert("Max Grade should be an positive value");
                        	        frm.grade.focus();
                                	return false;
	                        }
	
        	                var temp=uploadform.message.value+uploadform.contentTopic.value;
	                        if(isString(temp))
        	                {
	
        	                        alert("Please check the special character !!");
                	                return false;
	                        }

                        	uploadform.actionName.value=field.name;
	                        uploadform.submit();
		//	}
                     //   else
                     //   {
                     //           alert("Please fill Instruction field or attach any file !!");
                     //   }		
                }
		else
		{
			if((uploadform.contentTopic.value!="") && (uploadform.grade.value!=""))
			{
				if(uploadform.file.value == "")
				{
                         	        alert("Please attach any ( doc, txt, pdf etc) file. ");
                                	frm.file.focus();
	                         	return false;
                        	}
			}
			else 
			{ 
				alert("Please fill all mandatory  fields () !!"); 
			}
		}
		editor.setMode("wysiwyg")
        }
	function checkBlankTest(uploadform,field)
        {
                        uploadform.actionName.value=field.name;
                        uploadform.submit();
                        alert(uploadform.actionName.value);
        }
	function isNumberString(chString)
        {
                if(chString.length==0)
                        return false;
                var RefString="0123456789&.";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
                                return true;
                        }
                }
                return false;
        }
        function isString(chString)
        {
                if(chString.length==0)
                        return false;
                var RefString="~`!&";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)>0)
                        {
                                return true;
                        }
                }
                return false;
        }
</SCRIPT>
