#*
 * @(#)  PostGrade.vm
 * Copyright (c) 2007,2009,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto: arvindjss17@yahoo.co.in ">Arvind Pal</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified date: 18-03-2013(Tej)
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

#set($lang=$data.getUser().getTemp("lang").toString())
$!data.getMessage()  
<table bgcolor="$ui.menuColor" width=100% > ##table 1 start
        <tr> <td><b>
        <a href=$link.setPage("call,IndexHome.vm") style="text-decoration:none">$brih_home</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style="text-decoration:none"> $coursename </a> | </b>
        <a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style="text-decoration:none"> $brih_assignment  </a>|</b>
        <a href=$link.setPage("call,Assignment,AssView.vm") style="text-decoration:none"> </a> $brih_post $brih_marks </b>
        </td></tr>
</table> ##table 1 end
<form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,Assignment,PostGrade.vm").setAction("Assignments")>
<table width=100% bgcolor="$ui.tableColor">
<tr>
	<td><b>$brih_marks $brih_and $brih_feedback of </b><font color=blue> <i> $topicList1</i></font><b>$brih_topic $brih_name</b><font color=blue><i> $topicList</i></font></td>
</tr>
<tr bgcolor="$ui.menuColor"><td>$brih_marks</td><td><input type="text" name="grade"   size=10  onChange="validate(this)" /></td></tr>
<tr><td>$brih_feedback</td><td><textarea name="feedback" rows=4 cols=15 wrap=physical ></textarea></td></tr>
<tr bgcolor="$ui.menuColor" >
<td colspan=2>
	<input type="button" class="button-ftextstyle" name="PostGrade" value="$brih_upload $brih_marks " onClick="checkBlank(document.uploadform,this);"  />
        <input type="button" class="button-ftextstyle" name="MarkUpload" value="$brih_file$brih_upload" onClick="checkBlank1(document.uploadform,this);"  />
	<input type="hidden" name="topicList1" value="$topicList1" >
	<input type="hidden" name="topicList" value="$topicList" >
	<input type="hidden" name="actionName"> 
</td>
<tr>	
</table>

<script LANGUAGE="JAVASCRIPT">
		
			
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }

	function checkBlank(uploadform,field)
        
		if(uploadform.grade.value!="") 
		{
			if(isNumberString(uploadform.grade.value))
			{
                		alert("Grade should be an integer value");
                        	frm.noofques.focus();
                        	return false;
			}

    		        uploadform.actionName.value=field.name;
                	uploadform.submit();
		}
		else
			 alert(" Grade can not be empty !!");
        }
	function isNumberString(chString)
        {
                if(chString.length==0)
                        return false;
                var RefString="0123456789.";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
                                return true;
                        }
                }
                return false;
        }

	
	function checkBlank1(uploadform,field)
        {
	        uploadform.actionName.value=field.name;
                uploadform.submit();
        
        }
	function validate(obj)
        {
                value = obj.value;
                for (n = 0; n < value.length; n++)
                if ( ! isDigit(value.charAt(n)))
                { alert("Field must be numeric !!");
                      return;
                }
        }
        function isDigit(ch)
        {
                if (ch >= '0' && ch <= '9')
                return true;
                return false;
        }
	function isString(chString)
        {
                if(chString.length==0)
                        return false;
           var RefString="/\$|,|@|#|~|`|\%|\*|\^|\&|\(|\)|\+|\=|\[|\-|\_|\]|\[|\}|\{|\;|\:|\'|\"|\<|\>|\|\||\\|\!|\$|\./";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)>0)
                        {
                                return true;
                        }
                }
                return false;
        }

</script>
