#*
 * @(#) ViewAss.vm 
 * Copyright (c) 2007,2009,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href=" mailto:arvindjss17@gmail.com "> Arvind Pal </a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 04-04-2011 (Shaista),18-03-2013(Tej)
*#

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

#set($lang=$data.getUser().getTemp("lang").toString())
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100% > ##table 1 start
        <tr> 
		<td><b>
			<a href=$link.setPage("call,IndexHome.vm") style="text-decoration:none" >$brih_home</a> |
	        	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style="text-decoration:none"> $coursename </a> |
        		<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style="text-decoration:none"> $brih_assignment  </a>| #if($lang == "hindi") $brih_assignment $brih_Of1 $brih_view #else $brih_view $brih_assignment #end </b>
	        	##<a href=$link.setPage("call,Assignment,AssView.vm")> </a> $brih_view $brih_assignment</b>
        	</td>
	</tr>
</table> ##table 1 end
<table width=100%>
	<tr bgcolor="$ui.tableColor">
        #if($user_role == "instructor")
        	#if($tdcolor != "1")
	        <td>
        	#elseif($tdcolor=="1")
	        <td bgcolor="#AFDCEC">
        	#end
	        <a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment $brih_post #else $brih_post $brih_assignment #end </a></td>
        	#if($tdcolor != "2")
		<td>
	        #elseif($tdcolor=="2")
        	<td bgcolor="#AFDCEC">
	        #end
        	<a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","2") style="text-decoration:none">  #if($lang == "hindi") $brih_assignment/$brih_answer $brih_Of1 $brih_view #else $brih_view $brih_assignment/$brih_answer #end </a></td>
	        #if($tdcolor != "5")
        	<td>
	        #elseif($tdcolor=="5")
        	<td bgcolor="#AFDCEC">
	        #end
        	<a href=$link.setPage("call,Assignment,EditDelete.vm").addPathInfo("count","5") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment $brih_Of1 $brih_edit/$brih_delete #else  $brih_edit/$brih_delete $brih_assignment #end </a></td>
	        #if($tdcolor != "3")
	        <td>
	        #elseif($tdcolor=="3")
	        <td bgcolor="#AFDCEC">
	        #end
		<a href=$link.setPage("call,Assignment,PostAns.vm").addPathInfo("count","3") style="text-decoration:none">  #if($lang == "hindi") $brih_answer $brih_post #else $brih_post $brih_answer #end </a></td>
	        #if($tdcolor != "4")
	        <td>
	        #elseif($tdcolor=="4")
	        <td bgcolor="#AFDCEC">
	        #end
        	<a href=$link.setPage("call,Assignment,RePermission.vm").addPathInfo("count","4") style="text-decoration:none"> $brih_repost  #if($lang == "hindi") $brih_Of #end $Repo_Perm</a></td>
                	<td><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/ViewAss.html","newWin"); style="text-decoration:none">$brih_help</a></td>
        #else
                        #if($tdcolor != "1")
                        <td>
                        #elseif($tdcolor=="1")
                        <td bgcolor="#AFDCEC">
                        #end
                        <a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_assignment/$brih_answer  $brih_Of1 $brih_view #else $brih_view $brih_assignment/$brih_answer #end</a></td>
                        #if($tdcolor != "2")
                        <td>
                        #elseif($tdcolor=="2")
                        <td bgcolor="#AFDCEC">
                        #end
			<a href=$link.setPage("call,Assignment,PostAns.vm").addPathInfo("count","2") style="text-decoration:none">  #if($lang == "hindi") $brih_answer $brih_post #else $brih_post $brih_answer #end </a></td>
                        #if($tdcolor != "3")
                        <td>
                        #elseif($tdcolor=="3")
                        <td bgcolor="#AFDCEC">
                        #end
                        <a href=$link.setPage("call,Assignment,RePostAns.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang == "hindi") $brih_answer $brih_repost #else $brih_repost $brih_answer #end </a></td>
                <td><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/ASS1.html","newWin"); style="text-decoration:none">$brih_help</a></td>
        #end
</tr>
</table>
<Form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,Assignment,ViewAss.vm").setAction("Assignments").addPathInfo("count","2")>   
<table width=100% bgcolor="$ui.menuColor">
        <tr>
	## #if($user_role == "instructor")
	#if(($user_role == "instructor")||($user_role == "teacher_assistant"))
	<td><b>$brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_name</b>
	<input type="text" name="GetUser"  size=26 /></td>
        #end
        <td><b>$brih_topic  #if($lang == "hindi") $brih_Of1 #end $brih_name</b>
	<SELECT style="width:40%" name=topicList class="drop" >
	#if($topicList!="")
	        <option value="$topicList" >$topicList</option>
	#else
	        <option value="" >$brih_select $brih_topic</option>
	#end
        #foreach($topic in $allTopics)
        	#if($topic!=$topicList)
		        <option value="$topic" > $topic </option>
		#end
        #end
        </SELECT> &nbsp;
        <input type="button" class="button-ftextstyle" name="dosubmitView" value="$brih_search" onClick="checkBlank(document.uploadform,this);"  />
        <input type="hidden" name="actionName">
        </td>
	<td>
	</td>
	</tr>
</table>
##<Form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,Assignment,ViewAss.vm").setAction("Assignments")>   
<table bgcolor="$ui.tableColor" width="100%">
			#*if($user_role == "instructor")
			<tr bgcolor="$ui.menuColor" >   
			<td colspan=10 >
				<b> $brih_email #if($lang == "hindi") $brih_Of1 #end $brih_email</b>
				<input type="text" name="GetUser"  size=26 onChange="validate1(this)"  /> &nbsp; 
			#end
			##&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<tr bgcolor="$ui.tableColor"><b> $brih_topic #if($lang == "hindi") $brih_Of1 #end $brih_name </b> &nbsp;
                	##<SELECT name=topicList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.uploadform)>
                	<SELECT name=topicList class="drop">
				<option value="" ></option>
				#foreach($topic in $allTopics)
					<option value="$topic" > $topic </option>
                        	#end
                	</SELECT> &nbsp;
                	<input type="button" class="button-ftextstyle" name="dosubmitView" value="$brih_search" onClick="checkBlank(document.uploadform,this);"  />
                       	<input type="hidden" name="actionName">
                </td>
        </tr>*#
#if($startpage !=  0 )
	#if($user_role ==  "student") 
	<tr bgcolor="$ui.menuColor">
		##<td align="center"> <b> $brih_usr  #if($lang == "hindi") $brih_Of1 #end $brih_name</b> </td>
		<td align="center"> <b> $brih_topic  #if($lang == "hindi") $brih_Of1 #end $brih_name</b> </td>
        	<td align="center">  <b> $brih_instruction / $brih_assignment  #if($lang == "hindi") $brih_Of1 #end $brih_file  </b> </td>
        	#if($anscheck == "ok")
        	<td align="center">  <b> $brih_answer  #if($lang == "hindi") $brih_Of #end $brih_file  </b> </td>
        	#end
        	#if($studentfilecheck == "ok")
        	<td align="center">  <b> #if($lang == "hindi") $brih_answer $brih_Of1 $brih_view #else $brih_view $brih_answer #end </b> </td>
        	#end
        	#if($datecheck == "ok")
        	<td align="center">  <b> $brih_assignment $brih_post #if($lang == "hindi") $brih_Of #end $brih_Da </b> </td>
        	#end
        	<td  align="Center"> <b> $brih_assignment $brih_due #if($lang == "hindi") $brih_Of #end $brih_Da  </b> </td>
	        <td  align="Center"> <b> $brih_max $brih_marks </b> </td>
	        <td  align="Center"> <b> $brih_action </b> </td>
        	#if($gradecheck == "ok")
	        <td align="center">  <b> $brih_marks  </b> </td>
        	<td align="center">  <b> $brih_feedback  </b> </td>
		#end
	#end	
	## #if($user_role ==  "instructor")
	#if(($user_role ==  "instructor")||($user_role ==  "teacher_assistant"))
	<tr><td colspan=6>The $brih_instruction / $brih_assignment is 
		 #set ($stlp = 0)
		 #foreach($news in $detail)
			#if($stlp == 0)
                        <a href=javascript:popupWin("$link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender()).addPathInfo("TopicName",$topicList)","newWin"); style="text-decoration:none"> $brih_instruction</a>
			#set ($stlp = $stlp + 1)
			#end
		 #end

		#set ($stlp = 0)
                #foreach($e in $Assignmentlist )

                        #if(($e.getAssignmentfile()!= "") && ($stlp == 0))
			<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getAssignmentfile())","newWin"); style="text-decoration:none">, $brih_assignment </a> 
 			#set ($stlp = $stlp + 1)
                        #end

                #end
		
		##downloading assignments
		#if($studentfilecheck == "ok")
        		<a href="$link.setPage("call,Zipcreate.vm").addPathInfo("dest_folder",$str1)" style="text-decoration:none">/ $brih_download $brih_assignment</a>
		#end
	</td></tr> 
	<tr bgcolor="$ui.menuColor">
		<td align="center"> <b> $brih_email, $brih_full $brih_name , $brih_rollno</b> </td>
##		<td align="center">  <b> $brih_assignment #if($lang == "hindi") $brih_Of #end $brih_file  </b> </td>
		#if($anscheck == "ok")
		<td align="center">  <b> $brih_answer #if($lang == "hindi") $brih_Of #end $brih_file  </b> </td>
		#end
		#if($studentfilecheck == "ok")
		<td align="center">  <b>  #if($lang == "hindi") $brih_answer $brih_Of1 $brih_view #else $brih_view $brih_answer #end </b> </td>
		<td align="center"><b> #if($lang == "hindi") $brih_correct $brih_answer $DisBoard_DB_msg25 #else $DisBoard_DB_msg25 $brih_correct $brih_answer #end </b></td>
		#end
		#if($datecheck == "ok")
		<td align="center">  <b> $brih_post #if($lang == "hindi") $brih_Of #end $brih_Da </b> </td>
		#end
		<td  align="Center"> <b> $brih_assignment $brih_due #if($lang == "hindi") $brih_Of #end $brih_Da  </b> </td>
		<td  align="Center"> <b> $brih_max $brih_marks </b> </td>
		#if($gradecheck == "ok")
		<td align="center">  <b> $brih_marks  </b> </td>
		<td align="center">  <b> $brih_feedback  </b> </td>
		#end
		#if($studentfilecheck == "ok")
                	<td align="center">  <b> $Repo_Permgiv  $brih_marks </b> </td>
                #end

	#end
	</tr>	
	## #if($user_role ==  "instructor")
	#if(($user_role ==  "instructor") || ($user_role == "teacher_assistant"))
		#foreach($e in $Assignmentlist )
			#if($velocityCount%2==0)
				<tr bgcolor="$ui.menuColor">
			#else
				<tr bgcolor="$ui.tableColor">
			#end
		<td width="10%"> $!e.getStudentname() , 
			#if($e.getStudentname() ==  $e.getFullName()) 
			#else $!e.getFullName() , 
			#end  
			$!e.getRollNo()  </td>  ##student name Full Name RollNo

##		<td width="10%">   ##  Assignment file
##			<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getAssignmentfile())","newWin"); style="text-decoration:none">$brih_assignment </a>
##		</td>
		#if($anscheck == "ok")
		<td width="10%" align="center"> ## Answer file  
			#if($!e.getanswerfile() != "")
			<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getanswerfile())","newWin"); style="text-decoration:none">$brih_answer </a>
			#end
		</td>
		#end
		#if($studentfilecheck == "ok")
		<td width="10%" align="center"> ##Student file
			#if($!e.getStudentfile() != "")
				<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getStudentfile())","newWin"); style="text-decoration:none">$brih_view</a> </td>
				<td width="10%" align="center">
				#if($!e.getBoolean())		
					<a href=$link.setPage("call,Assignment,PostCorrectAns.vm").addPathInfo("count","2").addPathInfo("topicname","$topicList").addPathInfo("filename",$e.getStudentfile()) style="text-decoration:none">  #if($lang == "hindi") Correct Answer Post #else Post Correct Answer #end </a> ##post Ans
				#end
			#else
				</td><td width="10%">
	
			#end
		</td>
		#end
		#if($datecheck == "ok")
  		<td width="20%" align="Center">
			#if( $!e.getDuedate() != "" )
			$!e.getDuedate()  ##postdate
			#end
		</td>
		#end
	
		<td width="10%" align="Center"> $!e.getAssignmentDuedate() </td>  ## Duedate
		<td width="10%" align="Center"> $!e.getmaxgrade() </td> ## max grade
		#if($gradecheck == "ok")
			<td width="10%" align="Center">	
			#if($!e.getgrade() != "")
				$!e.getgrade()  ## given grade
			#end
			</td>
			<td width="10%" align="Center">
			#if($!e.getgrade() != "")
				$!e.getfeedback()
			#end
			</td>
		#end	

		#if($studentfilecheck == "ok")
                        <td width="10%" align="Center">
				#if($!e.getStudentfile() != "")
					<a href=$link.setPage("call,Assignment,PostGrade.vm").addPathInfo("qname",$topicList).addPathInfo("studentsname",$!e.getStudentname()) style="text-decoration:none"> $brih_marks </a>				
				#end
			</td>	
		#end
	</tr>
        #end
	#end  

	#if($user_role ==  "student")
	#foreach($e in $Assignmentlist)
	#if($velocityCount%2==0)
	<tr bgcolor="$ui.menuColor">
	#else
	<tr bgcolor="$ui.tableColor">
	#end
                ##<td width="10%" align="Center"> $!e.getStudentname()  </td>  ##student name
                <td width="10%" align="Center">$topicList</td>  ##Topic name
                <td width="10%" align="center">   ##  Assignment file
		#set ($stlp = 0)
		#foreach($news in $detail)
			#if($stlp == 0)
			<a href=javascript:popupWin("$link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender()).addPathInfo("TopicName",$topicList)","newWin"); style="text-decoration:none">$brih_instruction</a> 
			#set ($stlp = $stlp + 1)
                        #end
		#end
        	#if($e.getAssignmentfile()!="")
			/<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getAssignmentfile())","newWin"); style="text-decoration:none">$brih_assignment </a>
		#end
                </td>
                #if($anscheck == "ok")
                <td width="10%" align="center"> ## Answer file
                        #if($!e.getanswerfile() != "")
				<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getanswerfile())","newWin"); style="text-decoration:none">$brih_answer </a>
                        #end
                </td>
                #end
                #if($studentfilecheck == "ok")
                <td width="10%" align="center"> ##Student file
                        #if($!e.getStudentfile() != "")
	                      <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$str1).addPathInfo("filename",$!e.getStudentfile())","newWin"); style="text-decoration:none">$brih_view</a>
                        #end
                </td>
                #end
                #if($datecheck == "ok")
                <td width="20%" align="Center">
                        #if( $!e.getDuedate() != "" )
                        $!e.getDuedate()  ##postdate
                        #end
                </td>
                #end
		<td width="10%" align="Center"> $!e.getAssignmentDuedate() </td>  ## Duedate
                <td width="10%" align="Center"> $!e.getmaxgrade() </td> ## max grade
		#if($!e.getPostAnsMode()=="Yes")
			<td width="10%" align="Center">  <a href=$link.setPage("call,Assignment,PostAns.vm").addPathInfo("count","2").addPathInfo("topicname","$topicList") style="text-decoration:none">  #if($lang == "hindi") $brih_answer $brih_post #else $brih_post $brih_answer #end </a></td> ##post Ans
		#else
			<td width="10%" align="Center">  #if($lang == "hindi") $brih_answer $brih_post #else $brih_post $brih_answer #end </td> ##post Ans
		#end
		#if($gradecheck == "ok")
                        <td width="10%" align="Center">
                        #if($!e.getgrade() != "")
                                $!e.getgrade()  ## given grade
                        #end
                        </td>
                        <td width="10%" align="Center">
                        #if($!e.getgrade() != "")
                                $!e.getfeedback()
                        #end
                        </td>
                #end
        </tr>
	#end
	#end
#end	
</table>
</form>
<script language="javascript">
        
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }

        function checkBlank(uploadform)
        {
		uploadform.actionName.value="dosubmitView";
		uploadform.submit();

        }
	
</script>


