#*
 * @(#)pollUpdate.vm
 * Copyright (c) 2012-2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author<a href="mailto:piyushm45@gmail.com">Piyush Mishra</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

<html>
<head>
<script type="text/javascript">
_editor_url="#springUrl("")/js/Editor/";
_editor_lang = "en";
</script>
<script type="text/javascript" src="#springUrl("")/js/Editor/Head.js" /></script>
<script type="text/javascript" src="#springUrl("")/js/Editor/htmlarea.js" /></script>
<link rel="stylesheet" type="text/css" href="#springUrl("")/css/htmlarea.css" />
<link rel="stylesheet" type="text/css" href="#springUrl("")/css/profile_css.css" />
<link rel="stylesheet" type="text/css" href="#springUrl("")/css/color.css" />
</head>
<title>
#springMessage("brih_poll")
</title>
<body onload="initEditor()">
##  <table Cell spacing=0 align="center"  border="0" width="100%">
#if(${model.note}=="deleted")
##!!poll deleted from list!!##
<div  style="position:auto; margin-top:-3px; margin-left:-3px">
<table width="100%">
<tr>
<td align="left">
<font style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;"><b>#springMessage("brih_delpoll")</b></font>
</td>
</tr>
<table>
</div>
#end
#if(${model.note}=="updated")
##!!poll updated from list!!##
<table width="100%">
<tr>
<td align="left">
<font color="#000" style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;"><b>#springMessage("brih_updtpoll")</b></font>
</td>
<tr>
</table>
#end
#if(${model.note}=="update")
##!!poll update editor !!##
<div  style="position:auto; margin-top:-3px; margin-left:-3px">
<table width="100%">
<tr>
<td class="tableBottomColor"><font class="serif" style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;" color="#000">&nbsp;#springMessage("brih_updt")</font></td>
</tr>
</table>
<table width="100%" height="50px">
#foreach($ls in ${model.ques})
<form name="insert" method="post">
<tr>
<td class="tableBottomColor">
<textarea id="ta" name="question" rows="9" cols="114">$!ls.getQuestion()</textarea>
</td>
</tr>
</table>
<table width="100%">
<tr>
<td class="formLabelColor">
<input class="button-ftextstyle" type="submit" name="doInsert" value=#springMessage("brih_updt") onClick="checkValue(document.insert,this);" style="width:100px">
<input name="question" type="hidden" value="question"/>
<input name="up_Date" type="hidden" value="$!ls.getQuestionId()"/>
<input name="UpDate" type="hidden" value="UpDate"/>
##&nbsp;<input  class="button-ftextstyle" type="Reset" name="reset" value="Reset"  onClick="clearData(document.uploadform,this)"; style="width:100px"/>
</td>
</tr>
</form>
</table>		
</div>
#end
#else
#if($model.total_size<= $model.AdminConf)	
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td class="tableBottomColor"><font class="serif" style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;" color="#000"><b> #springMessage("brih_polllst")</b></font></td>     
</tr>
</table>
</div>	
##!!online poll view/edit list!!##
#set( $count = 1 )
#set( $countPoll = 0 )
#foreach($ls in ${model.dirList})
#set($countPoll = $countPoll + 1 )
#if($count == 1)
<table width="100%" height="50px">
<tr style="width:500px">
<td class="tableBottomColor"><br><font size="3"><b>&nbsp;$!ls.getQuestion()</b></font><br><font size="2" style="margin-right:2px;"><br>&nbsp;#springMessage("brih_datepoll") : $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="tableBottomColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'  style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId()", "myWindow", "status = 1,maximize=0, height = 200, width = 400, left=600,top=250,resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"><b> #springMessage("brih_Result") </b></font>
</td>
</tr>
</table>
</div>
#set( $count = 2 )
#else
<table width="100%" height="50px">
<tr style="width:500px">
<td class="formLabelColor"><br><font size="3">&nbsp;<b>$!ls.getQuestion()</b></font><br><font size="2"><br>&nbsp;#springMessage("brih_datepoll") : $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="formLabelColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf' style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"><b> #springMessage("brih_Result") </b></font>
</td>
</tr>   
</table>             
</div>
#set( $count = 1 )
#end
#end
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td  class="formLabelColor">
<img title="First" src="#springUrl("")/images/First_blank.png" width="35" height="25"> &nbsp;
<img title="Previous" src="#springUrl("")/images/Previous_blank.png" width="35" height="25"> &nbsp;
<img title="Next" src="#springUrl("")/images/Next_blank.png" width="35" height="25"> &nbsp;
<img title="Last" src="#springUrl("")/images/Last_blank.png" width="35" height="25"> &nbsp;
</td>
</tr>
</table>
</div>
#elseif($model.startIndex== $model.AdminConf_str)
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%" class="tableBottomColor">
<tr>
<td width="60%"><font class="serif" style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;" color="#000"><b>&nbsp;#springMessage("brih_polllst")</b></font></td>
<td width="40%" align="center"><font class="serif" style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;" color="#000"><b>#springMessage("brih_availableActions")</b></font></td>
</tr>
</table>
</div>
##!!online poll view/edit list!!##
#set( $count = 1 )
#set( $countPoll = 0 )
#foreach($ls in ${model.dirList})
#set($countPoll = $countPoll + 1 )
#if($count == 1)
<table width="100%" height="50px">
<tr style="width:500px">
<td class="tableBottomColor"><br><font size="3">&nbsp;<b>$!ls.getQuestion()</b></font><br><font size="2" style="margin-right:2px;"><br>&nbsp;#springMessage("brih_datepoll"): $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="tableBottomColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'  style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"> <b>#springMessage("brih_Result")</b>  </font>
</td>
</tr>
<table>
</div>
#set( $count = 2 )
#else
<table width="100%" height="50px">
<tr style="width:500px">
<td class="formLabelColor"><br><font size="3">&nbsp;<b>$!ls.getQuestion()</b></font><br><font size="2"><br>&nbsp;#springMessage("brih_datepoll") : $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="formLabelColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf' style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"> <b>#springMessage("brih_Result")</b></font>
</td>
</tr>
</table>
</div>
#set( $count = 1 )
#end
#end
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td class="formLabelColor"><font color="#000">
<img title="First" src="#springUrl("")/images/First_blank.png" width="35" height="25"> &nbsp;
<b> <img title="Previous" src="#springUrl("")/images/Previous_blank.png" width="35" height="25"> &nbsp;</b></font>&nbsp;&nbsp;&nbsp;&nbsp;
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?Id=$!ls.getQuestionId()&startIndex=$model.startIndex&institute_Id=$model.i&AdminConf=$model.AdminConf")' style=text-decoration:none><font color="0000FF"><img title="Next" src="#springUrl("")/images/Next.png" width="35" height="25"></font></a></b>
<a href='#springUrl("/pollmodule/pollUpdate.vm?Id=$!ls.getQuestionId()&startIndex=${model.check_last}&institute_Id=$model.i&AdminConf=$model.AdminConf")' style=text-decoration:none><font color="0000FF"><img title="Last" src="#springUrl("")/images/Last.png" width="35" height="25"></font></a></b></td>
</tr>
</table>
</div>
#elseif($model.endIndex==$model.total_size||$model.endIndex>$model.total_size)
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td class="tableBottomColor"><font class="serif"  style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;" color="#000"><b>#springMessage("brih_polllst")</b></font></td>
</tr>
</table>
</div>
##!!online poll view/edit list!!##
#set( $count = 1 )
#set( $countPoll = 0 )
#foreach($ls in ${model.dirList})
#set($countPoll = $countPoll + 1 )
#if($count == 1)
<table width="100%" height="50px">
<tr style="width:500px">
<td class="tableBottomColor"><br><font size="3">&nbsp;<b>$!ls.getQuestion()</b></font><br><font size="2" style="margin-right:2px;"><br>&nbsp;#springMessage("brih_datepoll"): $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="tableBottomColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'  style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"><b> #springMessage("brih_Result") </b></font>
</td>
</tr>
</table>
</div>
#set( $count = 2 )
#else
<table width="100%" height="50px">
<tr style="width:500px">
<td class="formLabelColor"><br><font size="3">&nbsp;<b>$!ls.getQuestion()</b></font><br><font size="2"><br>&nbsp;#springMessage("brih_datepoll"): $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="formLabelColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf' style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"><b> #springMessage("brih_Result") </b>  </font>
</td>
</tr>
</table>
</div>
#set( $count = 1 )
#end
#end
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td  class="formLabelColor">
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?startIndex=${model.check_first}&institute_Id=$model.i&AdminConf=$model.AdminConf")'style=text-decoration:none><font color="#0000FF">&nbsp;<img title="First" src="#springUrl("")/images/First.png" width="35" height="25"></font></a></b>&nbsp;&nbsp;&nbsp;&nbsp;
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?startIndex=$model.check_pre&institute_Id=$model.i&AdminConf=$model.AdminConf")'style=text-decoration:none><font color="#0000FF">&nbsp;<img title="Previous" src="#springUrl("")/images/Previous.png" width="35" height="25"></font></a></b>&nbsp;&nbsp;&nbsp;&nbsp;
<b><font color="#000"><img title="Next" src="#springUrl("")/images/Next_blank.png" width="35" height="25"></font></b>
<img title="Last" src="#springUrl("")/images/Last_blank.png" width="35" height="25"> &nbsp;
</td>
</tr>
</table>
</div>
#else
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td class="tableBottomColor"><font class="serif" color="#000" style="font-family:'Times New Roman',Georgia,Serif; color:#000; font-size:20px;" ><b>#springMessage("brih_polllst")</b></font></td>
</tr>
</table>
</div>
##!!online poll view/edit list!!##
#set( $count = 1 )
#set( $countPoll = 0 )
#foreach($ls in ${model.dirList})
#set($countPoll = $countPoll + 1 )
#if($count == 1)
<table width="100%" height="50px">
<tr style="width:500px">
<td class="tableBottomColor"><br><font size="3">&nbsp;$!ls.getQuestion()</font><br><font size="2" style="margin-right:2px;"><br>&nbsp;#springMessage("brih_datepoll"):<b> $!ls.getInsertDate()</b></font></td>
<td style="width:275px" align="left"  class="tableBottomColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'  style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"><b> #springMessage("brih_Result") </b> </font>
</td>
</tr>
</table>
</div>
#set( $count = 2 )
#else
<table width="100%" height="50px">
<tr style="width:500px">
<td class="formLabelColor"><br><font size="3">&nbsp;<b>$!ls.getQuestion()</b></font><br><font size="2"><br>&nbsp;#springMessage("brih_datepoll"): $!ls.getInsertDate()</font></td>
<td style="width:275px" align="left"  class="formLabelColor">
&nbsp;<a onclick="javascript:return confirm('Do you want to delete this Poll ?')" href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Delete&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf' style=text-decoration:none><font size="3"  color="#0000FF"><b>#springMessage("brih_deletepoll")</b></font></a>&nbsp;
<a href='#springUrl("/pollmodule/pollUpdate.vm")?mode=Update&Id=$!ls.getQuestionId()&institute_Id=$model.i&AdminConf=$model.AdminConf'style=text-decoration:none ><font size="3"  color="#0000FF"><b>#springMessage("brih_updatepoll")</b></font></a>&nbsp;
<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId() ", "myWindow", "status = 1,maximize=0, height = 200, width = 400,left=600,top=250, resizable = 0" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"><b> #springMessage("brih_Result") </b>  </font>
</td>
</tr>
</table>
</div>
#set( $count = 1 )
#end
#end
#if($countPoll != 0)
<div  style="position:auto; margin-top:0px; margin-left:-3px">
<table width="100%">
<tr>
<td class="formLabelColor">
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?startIndex=${model.check_first}&institute_Id=$model.i&AdminConf=$model.AdminConf")' style=text-decoration:none><font color="#0000FF">&nbsp;<img title="First" src="#springUrl("")/images/First.png" width="35" height="25"></font></a></b>&nbsp;&nbsp;&nbsp;&nbsp;
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?startIndex=${model.check_pre}&institute_Id=$model.i&AdminConf=$model.AdminConf")' style=text-decoration:none><font color="#0000FF"><img title="Previous" src="#springUrl("")/images/Previous.png" width="35" height="25"></font></a></b>
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?startIndex=${model.startIndex}&institute_Id=$model.i&AdminConf=$model.AdminConf")' style=text-decoration:none><font color="#0000FF">&nbsp;<img title="Next" src="#springUrl("")/images/Next.png" width="35" height="25"></font></a></b>&nbsp;&nbsp;&nbsp;&nbsp;
<b><a href='#springUrl("/pollmodule/pollUpdate.vm?startIndex=${model.check_last}&institute_Id=$model.i&AdminConf=$model.AdminConf")' style=text-decoration:none><font color="#0000FF"><img title="Last" src="#springUrl("")/images/Last.png" width="35" height="25"></font></a></b>
</td>
</tr>
</table>
</div>
#end
#end
#end
 ##!!No poll list!!##
#if($countPoll == 0)
</br>
<div  style="position:auto; margin-top:-25px; margin-left:-3px">
<table width="100%">
<tr bgcolor="#f7f3de" align="center">
<td><font style="margin-left:5px; font-size:20px;">&nbsp;#springMessage("brih_pollmsg")</font></td>
</tr>
</table>
</div>
#end
</body>
</html>
<script language="javascript">
function checkValue(insert,field)
{	
if(insert.question.value!="")
 {
insert.submit();
  }

else
  {
alert("Please Fill All The mandatory (*) Fields");
   }
}
function clearData(uploadform,field)
   {
insert.question.value="";
}
function checkValue(uploadform,field)
{
if((uploadform.question.value!="") )
{
uploadform.actionName.value=field.name;
uploadform.submit();
   }
 else
{
alert("Please Fill All The mandatory (*) Fields");
    }
}
</script>

