#*
 * @(#)pollAttemptIndex.vm
 * Copyright (c) 2012-2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author<a href="mailto:piyushm45@gmail.com">Piyush Mishra</a>
 * @author<a href="mailto:sisaudiya.dewan17@gmail.com">Dewanshu Singh Sisaudiya</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

<html>
<head>
<link rel="stylesheet" type="text/css" href="#springUrl("")/css/color.css" />
<link rel="stylesheet" type="text/css" href="#springUrl("")/css/profile_css.css" />
</head>
<title>
Poll
</title>
<style>
a:hover {
   background: #AFDCEC;
   }
font:hover {
   background: #AFDCEC;
   }

.pval {
        word-wrap:break-word;
        width:16em;}

.clear{
clear:both;
}
</style>
<body class="menuColor">
<script type="text/javascript">
##!!script to sychrnonization between popup window and the index poll question!!##
##!!script to avoid the overflow of the poll!!##
var keys = [];
window.addEventListener("keydown",
function(e){
keys[e.keyCode] = true;
switch(e.keyCode){
case 37: case 39: case 38:  case 40:
case 32: e.preventDefault(); break; 
default: break; 
 }
},
false);
window.addEventListener('keyup',
function(e){
keys[e.keyCode] = false;
   },
false);
##!!script to auto dropdown!!##

function go(){
location=document.brihaspaticombo.brihInst.options[document.brihaspaticombo.brihInst.selectedIndex].value
}</script>
<div>
##!!display poll index page!!##
#if($model.mod == 2 || $model.modev == "viewp")
	<div style="overflow-y:hidden; position:fixed;z-index:500; width:100%;" class="tableColor">
	<table width="100%" height="75px">
	<tr>	
	<td><center><b><font size="4" color="#000">#springMessage("brih_poll")</font></b></center>
	#if($model.lsSize > 1)
		<form name="brihaspaticombo">
		<p>&nbsp;
		<select name="brihInst" size="1" class="drop_Val" onchange="go()" style="width:135px; height:30px;">
		<option>Select Institute
		<option hidden>$model.inst
		#foreach($name in $model.lstData)
			<option style="width:100px; height:20px;" value='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&user_Id=$model.UserId&instNme=$name.getInstituteId()&modeview=viewp' title="$name.getInstituteName()">$name.getInstituteName()</option>
		#end
		</select>
	#else
		<div style="width:125px; height:30px;"></div>
	#end
	</td>
	</tr>
	#if($model.lsSize > 1)
	<tr><td>
	<font style="margin-left:5px; font-size:16px;">&nbsp;$model.inst</font>
	</tr></td>
	#end
	</table>
	</div>
	<br><br><br><br>
	#if($model.lsSize > 1)
		<div style="overflow-y:hidden; position:fixed;z-index:500; margin-top:-50px; margin-left:150px; width:100%; "class="tableColor">
	#else
		<div style="overflow-y:hidden; position:fixed;z-index:500; margin-top:-50px; margin-left:105px; height:35px; width:100%; "class="tableColor">
	#end
		<script type="text/javascript">function PopupViewPoll() { window.open( "#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&user_Id=$model.UserId&instNme=$model.instidv&modeview=check", "myWindow","status = 1, height = 400, width = 600, resizable = 1, scrollbars = 1,left=600,top=250" )}</script><form>&nbsp;<font onClick="PopupViewPoll()" color="#0000FF" size="3" style="cursor:pointer;">#springMessage("brih_View") </font>&nbsp;|
		<script type="text/javascript">function PopupViewResult() { window.open( "#springUrl("/pollmodule/pollViewResult.vm")?usrNme=$model.usrNme&user_Id=$model.UserId&instNme=$model.instidv", "myWindow","status = 1, height = 400, width = 600, resizable = 1, scrollbars = 1,location =0,left=600,top=250 " )}</script><table width="320px"  height="40px"><form>&nbsp;<font onClick="PopupViewResult()" color="#0000FF" size="3" style="cursor:pointer;">#springMessage("brih_Result")</font></form></table><br></div>
#end
#if($model.modev == "check")
<br>
<table width="100%"><tr><td align="center"><font style="margin-left:5px; font-size:20px;"><b>#springMessage("brih_Previouspoll")</b></font></td></tr></table>
#end
	#set ($countPoll = 0 ) 
	#set( $count = 0 )
#if(${model.fgt.size()}!=0)
	<div style="width:100%;" onkeydown="return false">
	#foreach($ls in ${model.fgt})
			#set( $count = $count + 1 )
			#set( $countPoll = $countPoll + 1 )
			<table width="100%">
			<tr><br><br>
			#if( $model.mod == 2 || $model.modev == "viewp" )
				#if($count==1)
#if( $model.dateNow.compareTo($ls.getValidTill())<0)
					<td style="color:#000;"><style="margin-left:0; font-size:14px;"><div class="pval">&nbsp; $!ls.getQuestion()</div></font>
					##!!poll to Index page manipulation!!##
					<br>
					<div>

					<a href='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&mode=Yes&Id=$!ls.getQuestionId()&user_Id=$model.UserId&instNme=$ls.getInstituteId()'style=text-decoration:none><font color="green" size="3">&nbsp; #springMessage("brih_Yespoll")  </font></a>|
					<a href='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&mode=No&Id=$!ls.getQuestionId()&user_Id=$model.UserId&instNme=$ls.getInstituteId()' style=text-decoration:none><font color="red" size="3"> #springMessage("brih_Nopoll")   </font></a>|
					<a href='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&mode=Cant&Id=$!ls.getQuestionId()&user_Id=$model.UserId&instNme=$ls.getInstituteId()'  style=text-decoration:none><font color="orange" size="3"> #springMessage("brih_Canpoll")  </font></a>|
					<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId()", "myWindow", "status = 1,maximize=0, height = 200, width = 400, resizable = 0,left=600,top=250" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"> #springMessage("brih_Result")  </font>
	</div>
#else
<table width="100%"><td align="center"><font style="margin-left:5px; font-size:16px;">#springMessage("brih_nopoll") </font>
#end

				#end
			#else
				#if($count!=1)
					#set( $countQues = $count - 1 )
					#if( $model.dateNow.compareTo($ls.getValidTill())<0)
					<td style="color:#000;"><style="margin-left:0; font-size:14px;"><div>$countQues - $!ls.getQuestion()</div></font>
					##!!poll to popwindow!!##
					<br>
					<div>
					<a href='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&mode=Yes&Id=$!ls.getQuestionId()&user_Id=$model.UserId&instNme=$ls.getInstituteId()&modeview=check'style=text-decoration:none><font color="green" size="3">&nbsp; #springMessage("brih_Yespoll")  </font></a>|
					<a href='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&mode=No&Id=$!ls.getQuestionId()&user_Id=$model.UserId&instNme=$ls.getInstituteId()&modeview=check' style=text-decoration:none><font color="red" size="3"> #springMessage("brih_Nopoll")   </font></a>|
					<a href='#springUrl("/pollmodule/pollAttemptIndex.vm")?usrNme=$model.usrNme&mode=Cant&Id=$!ls.getQuestionId()&user_Id=$model.UserId&instNme=$ls.getInstituteId()&modeview=check'  style=text-decoration:none><font color="orange" size="3"> #springMessage("brih_Canpoll")  </font></a>|
					<script type="text/javascript">function View$!ls.getQuestionId()() {window.open( "#springUrl("/pollmodule/pollResultSingle.vm")?Id=$!ls.getQuestionId()&modeSingle=check", "myWindow", "status = 1,maximize=0, height = 200, width = 400, resizable = 0 , left=700,top=250" )}</script><font onClick="View$!ls.getQuestionId()()" color="#0000FF" size="3" style="cursor:pointer;"> #springMessage("brih_Result")  </font>
					<hr style="opacity:0.6;">
					</div></td>
#end
				#end
			#end
			</td></tr>
			</table>
	#end
#end
##!!no poll question!!##
#if(($countPoll == 0) || ($model.modev == "check" && $countPoll == 1))
	<br><br>
	<table width="100%"><td align="center"><font style="margin-left:5px; font-size:16px;">#springMessage("brih_nopoll") </font>
#end
</div>
</div>
#if($model.modev == "check")
	<br><br>
	<table width="100%"><td align="center"><font  onclick="closeWin()" style="font-size:16px; cursor:pointer;"><b>#springMessage("brih_CloseWindow")</b></font></td></table>
#end
</body>
</html>

<script type="text/javascript">
function closeWin()
{
window.close();
}
</script>
