/* FOR IIT */
/*
.menuColor{
        background: #e5e5e5;
}
.buttonBoxColor{
        background: #e5e5e5;
}
.tableHeaderColor{
        background: #e5e5e5;
}
.tableBottomColor{
        background: #e5e5e5;
}
.tableColor{
        background: #d9e3ec;
}
.headerColor{
        background: #d9e3ec;
}
.formLabelColor{
        background: #d9e3ec;
}
.formFieldColor{
        background: #d9e3ec;
}
.headerLinkColor{
        background: #01669C;
}
.labelColor{
        background: #b3cc99;
}
.dataColor{
        background: #b3cc99;
}
.vlink{
        background: #00ff00;
}
.alink{
        background: #0000ff;
}
*/
/* FOR MIT */

.menuColor{
        background: #efe3b5;
}
.buttonBoxColor{
        background: #efe3b5;
}
.tableHeaderColor{
        background: #efe3b5;
}
.tableBottomColor{
        background: #efe3b5;
}
.tableColor{
        background: #f7f3de;
}
.headerColor{
        background: #f7f3de;
}
.formLabelColor{
        background: #f7f3de;
}
.formFieldColor{
        background: #f7f3de;
}
.headerLinkColor{
        background: #c0a062;
}
.labelColor{
        background: #b3cc99;
}
.dataColor{
        background: #b3cc99;
}
.vlink{
        background: #00ff00;
}
.alink{
        background: #0000ff;
}


