@charset "utf-8";
/* CSS Document */
body{overflow-y:scroll}

.ad { 
    color: #6e6e6e;
    font: bold 15px Helvetica, Arial, sans-serif;
 	padding-top: 4px ;
	padding-left: 4px ;
	padding-right: 4px ;
	padding-top: 4px ;
	padding-bottom: 2px ;    
	text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #d1d1d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	}
.ad:hover {
}

.adv { 
    color: #000000;
    font: bold 12px Helvetica, Arial, sans-serif;
 	padding-top: 4px ;
	padding-left: 4px ;
	padding-right: 4px ;
	padding-top: 4px ;
	padding-bottom: 2px ;    
	
    background: #efe3b5;
    
    border: solid 1px #d1d1d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	}
.backimage
{
    background-image:url("../images/Show.png;");
    background-position: center bottom;
    background-repeat:no-repeat;
}
.scroll{
        width:870px;
        overflow-x:scroll;
}

