<html>
#*
 * @(#) Activitygroup.vm
 *  Copyright (c) 2006-07,2009,2013 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 *  @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 *  @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 *  @modified date:jan 17- 2011
 *  @modified date:Feb 15- 2011
 *  @modified date:Feb 07- 2013
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#

$page.setTitle("create group")
$page.setBgColor("$ui.bgcolor")
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<table bgcolor="$ui.menuColor" width=100% > ##table 1 start
	<tr> <td><b>
	<a href=$link.setPage("call,IndexHome.vm") style="text-decoration:none">$brih_home</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style="text-decoration:none">$coursename </a>| 
        <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1") style="text-decoration:none">$brih_grp $brih_mgmt </a>| $brih_grp #if($lang =="hindi") $brih_Of #end $brih_activity </b>
     </td></tr>
</table> ##table 1 end
<table width=100% bgcolor="$ui.tableColor"> ##table 2 start
<tr>
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_grp $brih_Of1 $WikiCreate #else $WikiCreate $brih_grp #end </a></td>
	#if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang == "hindi") $brih_member $brih_add/$brih_view #else $brih_add/$brih_view $brih_member #end </a></td>
	#if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Group_Mgmt,Grp_View_Delete.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang == "hindi") $brih_grp $brih_Of1 $brih_view/$brih_delete #else $brih_view/$brih_delete $brih_grp #end </a></td>
	#if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("count","4") style="text-decoration:none"> #if($lang == "hindi") $brih_member $brih_Of1 $brih_edit/$brih_remove #else $brih_edit/$brih_remove $brih_member #end </a></td>
	#if($tdcolor != "5")
        <td>
        #elseif($tdcolor=="5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Group_Mgmt,Activitygroup.vm").addPathInfo("count","5") style="text-decoration:none">$brih_grp #if($lang == "hindi") $brih_Of #end $brih_activity</a></td>
	<td><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/activity.html","newWin"); style="text-decoration:none">$brih_help</a></td>
</tr>
</table> ## table 2 end
<form name="frm" method="post" action=$link.setPage("call,Group_Mgmt,Activitygroup.vm").setAction("Groupmanagement")>
	<table bgcolor="$ui.tableColor" width=100% > ## table 3 start
		<tr bgcolor="$ui.menuColor"><td colspan=5 vlaign="top"> ## td tr 1 satart
			##<b><font size=5><I>$brih_course$brih_Groups:</I></font><font size=4><font color=green><I>$courseid</I></font></font></b>
			#if($lang == "english")
			<b><font size=4><I>$brih_set $brih_and $brih_reset $brih_activity $brih_forthe $brih_grp</I></font></b>
			#else
			<b><font size=4><I>$brih_grp $brih_for $brih_activity $brih_insert1 $brih_and $brih_remove</I></font></b>
			#end
		</tr></td> ## td tr 1 end
	<tr bgcolor="$ui.tableColor">
		<td>
		#if($lang == "english")
		<b> $brih_select $brih_grp $brih_forthe $brih_activity :</b>
		#else
		<b> $brih_grp $brih_for $brih_activity $brih_select :</b>
		#end
		</td>
		<td>
        		<select class="drop" name="groupname" size="1" onChange="Changegroup(document.frm,this);"/>
       				<option>  - $brih_select - </option>
				#foreach($grpname in $grplist)
					<option value="$grpname.Name">$grpname.Name
				#end
				</option>
			</select>
		</td>
	</tr>
        <tr bgcolor="$ui.menuColor">
		<td align="left">
		<input type="radio" checked="true" name="actmode" value="setact" onClick="this.form.activity.disabled=false;this.form.pollno.disabled=true;this.form.activity.focus();" />
        	<b> $brih_grp #if($lang == "hindi") $brih_Of #end $brih_activity :</b>
		</td>
        	<td>
       			<select class="drop" name="activity" size="1" onKeyUp="if (this.disabled) this.value=''" onChange="Changeactivity(document.frm,this);" />
       				<option>  - $brih_select - </option>
       				<option value="Discussion Board">$DiscussionBoard</option>
       				<option value="Notice">$brih_Notices</option>
       				<option value="Local Mail">$brih_localmail</option>
       				<option value="Chat">$brih_chat</option>
        		</select>
		</td>
        </tr>
	<tr>
        <td align="left">
       <input type="radio" name="actmode" value="setpoll" onClick="this.form.pollno.disabled=false;this.form.activity.disabled=true;" />
        <b> #if($lang == "hindi") $brih_grppoll $brih_for $brih_expiry: #else $brih_expiry $brih_for $brih_grppoll: #end </b>
        </td>
	<td>
	<input type="text" disabled="true" name="pollno" value="" onChange="validate(this)"/>
	</td>
	</tr>
	<tr  bgcolor="$ui.tableHeaderColor"> <td colspan="5">
		#if($lang == "hindi" || $lang == "gujarati")
        	<input type="button" class="button-ftextstyle" name="eventSubmit_doActivity" value="$brih_activity $brih_insert1 " onClick="checkselect(document.frm,this);"/>
		
		#else
        	<input type="button" class="button-ftextstyle" name="eventSubmit_doActivity" value="$brih_set $brih_activity " onClick="checkselect(document.frm,this);"/>
		#end
		#if($lang == "english")
        	<input type="button" class="button-ftextstyle" name="eventSubmit_doResetActivity" value="$brih_reset $brih_activity " onClick="checkselect(document.frm,this);"/>
		#else
        	<input type="button" class="button-ftextstyle" name="eventSubmit_doResetActivity" value="$brih_activity $brih_remove" onClick="checkselect(document.frm,this);"/>
		#end
	</td></tr>
	##end ## end if
	<input type="hidden" name="actionName" >
	<input type="hidden" name="mode1" value="grpmgmt">
	<input type="hidden" name="mode" value="$mode">
	<input type="hidden" name="course_id" value="$courseid">
	<input type="hidden" name="val">
	<input type="hidden" name="val1">
</form>
</table> ## end of table 3
</html>
<SCRIPT LANGUAGE="javascript">
        function checkselect(frm,field)
        {
                var items;
                var items1;
                items=frm.val.value;
                items1=frm.val1.value;
                if(((items.length!=0)||(frm.pollno.value!=""))&& (items1.length!=0))
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                        else
                        alert("Please select group and activity	");
        }
        function Changeactivity(frm,field)
        {
                frm.val.value=document.frm.activity.value;

        }
        function Changegroup(frm,field)
        {
                frm.val1.value=document.frm.groupname.value;

        }
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }

function validate(obj)
{
        value = obj.value;
        for (n = 0; n < value.length; n++)
        if ( ! isDigit(value.charAt(n)))
        {
                alert("Field must be numeric !!");
                return;
        }
}
function isDigit(ch)
{
        if(ch >= '0' && ch <= '9')
        return true;
        return false;
}
</script>
