#*
 * @(#)NoticeContent.vm
 *  Copyright (c) 2005,2009,2010 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#
#*
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:shaistashekh@hotmail.com"> Shaista Bano</a>
 * @modified date: 25-01-2010, 27-04-2010, 26-07-2010
 *#
<head>
#if($flag=="FromHome")
<script type="text/javascript">
	_editor_url = "../../../../../../../../../../../../../scrpts/";
	_editor_lang = "en";
</script>
<script type="text/javascript" src= "../../../../../../../../../../../../../scrpts/htmlarea.js"></script>
#elseif($flag=="FromCourseHome")
<script type="text/javascript">
	_editor_url = "../../../../../../../../../../../../../scrpts/";
	_editor_lang = "en";
</script>
<script type="text/javascript" src="../../../../../../../../../../../../../scrpts/htmlarea.js"></script>
#else
<script type="text/javascript">
        _editor_url = "../../../../../../../../../../../scrpts/";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="../../../../../../../../../../../scrpts/htmlarea.js"></script>
#end
<script type="text/javascript">
        var editor = null;
        function initEditor() {
                editor = new HTMLArea("ta");
                editor.generate();
                return false;
                var cfg = editor.config;
                cfg.registerButton({
                        id        : "my-hilite",
                        tooltip   : "Highlight text",
                        image     : "ed_custom.gif",
                        textMode  : false,
                        action    : function(editor) {
                                editor.surroundHTML("<span class=\"hilite\">", "</span>");
                        },
                        context   : 'table'
                });
                cfg.toolbar.push(["linebreak", "my-hilite"]); var cfg = editor.config;
                function clickHandler(editor, buttonId) {
                        switch (buttonId) {
                                case "my-toc":
                                        editor.insertHTML("<h1>Table Of Contents</h1>");
                                break;
                                case "my-date":
                                        editor.insertHTML((new Date()).toString());
                                break;
                                case "my-bold":
                                        editor.execCommand("bold");
                                        editor.execCommand("italic");
                                break;
                                case "my-hilite":
                                        editor.surroundHTML("<span class=\"hilite\">", "</span>");
                                break;
                        }
                };
                Cfg.registerButton("my-toc",  "Insert TOC", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-date", "Insert date/time", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-bold", "Toggle bold/italic", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-hilite", "Hilite selection", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-sample", "Class: sample", "ed_custom.gif", false,
                        function(editor) {
                                if (HTMLArea.is_ie) {
                                        editor.insertHTML("<span class=\"sample\">&nbsp;&nbsp;</span>");
                                        var r = editor._doc.selection.createRange();
                                        r.move("character", -2); r.moveEnd("character", 2); r.select();
                                } else {
                                        var n = editor._doc.createElement("span"); n.className = "sample"; editor.insertNodeAtSelection(n);
                                        var sel = editor._iframe.contentWindow.getSelection();  sel.removeAllRanges(); var r = editor._doc.createRange();
                                        r.setStart(n, 0); r.setEnd(n, 0); sel.addRange(r);
                                }
                        }
                );
                cfg.pageStyle = "body { background-color:  } .hilite { background-color: yellow; } "+ ".sample { color: green; font-family: monospace; }";
                cfg.toolbar.push(["linebreak", "my-toc", "my-date", "my-bold", "my-hilite", "my-sample"]);
               editor.generate();
        }
        function insertHTML() { var html = prompt("Enter some HTML code here"); if (html) { editor.insertHTML(html); } }
        function highlight() { editor.surroundHTML('<span style="background-color: yellow">', '</span>'); }
</script>
</head>
<body onload="initEditor()">

$page.setTitle("Home | $CName | Communication | Local Mail | Mails")

$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
	<tr>
		<td>
		<font face="$ui.sansSerifFonts"><b>
		<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		#if($flag=="FromHome")
                        #set($path = 1)
                        $Notice_NoticeContent_msg1
                #elseif($flag=="FromCourseHome")
                        #set($path = 2)
                        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$CName</a> | $Notice_NoticeContent_msg1
                #elseif($user_role=="instructor")
                        #set($path = 3)
                        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$CName</a> |
                        ##<a href=$link.setPage("call,CourseMgmt_User,Communication.vm")>$brih_communication</a> |
                        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> |
                        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1")>$brih_Notices</a> | $Notice_All $brih_Notices
                #elseif($user_role=="student")
                        #set($path = 3)
                        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$CName</a> |
                        ##<a href=$link.setPage("call,CourseMgmt_User,Communication.vm")>$brih_communication</a> | $Notice_NoticeContent_msg1
                        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> | $Notice_NoticeContent_msg1
                #end
		</font>
		</td>
	</tr>
</table>
<table width=100% bgcolor="$ui.tableColor">
<tr>
#if($user_role=="student")

	#if($tdcolor != "2")
                <td>
	#elseif($tdcolor == "2")
                <td bgcolor="#AFDCEC">
        #end
                <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","2")> $Notice_NoticeContent_msg1 </a></td>

#else	

	#if($tdcolor != "1")
        	<td>
        #elseif($tdcolor == "1")
	        <td bgcolor="#AFDCEC">
        #end
        	<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1")>$Notice_NoticeSend_msg1</a></td>
	#if($tdcolor != "2")
                <td>
                #elseif($tdcolor == "2")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","2")>$Notice_NoticeContent_msg1</a></td>
                #if($tdcolor != "3")
                <td>
                #elseif($tdcolor == "3")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Notice_User,DeletePosted.vm").addPathInfo("count","3")>$Notice_DeletePosted_msg1</a></td>
#end
</tr>
</table>
<form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action="$link.setPage("call,Notice_User,NoticeContent.vm").setAction("Notice_Send_Delete")">
#if($Rec_size!="0")
<table width=100% bgcolor="$ui.tableColor">
<tr>
<td>
	<table width=100% bgcolor="$ui.tableColor">
 	<tr bgcolor="$ui.menuColor">
  	<td colspan=5>
  	<I><b>
		#if(( $data.getUser().getTemp("lang" ).toString())=="hindi")
			<font color=blue>#UNAME()</font> $Notice_NoticeContent_msg3 
		#else
			$Notice_NoticeContent_msg3<font color=blue> #UNAME() </font>
		#end
		</b></I>
  	</td>
 	</tr>
	#set($headings=["$Notice_Sender","$Notice_Subject","$brih_Da","$brih_status"])
	<tr>
		<td>
		</td>
	#foreach($heading in $headings)
		<td align="center">
		<b>$heading</b>
		</td>
	#end
	</tr>
	#set($boolian= "")
	#foreach ($SeRe in $notice_Sent_Rec)
		#if($velocityCount % 2 == 0)
			<tr bgcolor="$ui.tableColor">
			#set($boolian = "true")
		#elseif($e.getRole_Id()=="7")
                        <tr bgcolor="$ui.fontColorPink">
			#set($boolian = "false")
		#else
			<tr bgcolor="$ui.menuColor">
			#set($boolian = "false")
		#end
        	#if($flag=="FromNotices") 
#*
                	#if($SeRe.getReadFlag() == "0")
				<tr bgcolor="$ui.buttonBoxColor">
				#set($boolian = false)
			#elseif($e.getRole_Id()=="7")
	                        <tr bgcolor="$ui.fontColorPink">
			#else
				<tr bgcolor="$ui.tableColor">
				#set($boolian = true)
			#end
*#
			<td align="Center">
        			<INPUT TYPE="CHECKBOX" NAME="$SeRe.getMsgId()" onClick="addDeleteList(this,document.frm);">
			</td>
			<td align="Center">$SeRe.getUserName()</td>
			<td align="Center">
				<a href="$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("notice_id",$SeRe.getMsgId()).addPathInfo("flag",$flag).addPathInfo("desc","Notice_Des").addPathInfo("count",$tdcolor)">$SeRe.getMsgSubject()</a>
			</td>
			<td align="Center">$SeRe.getPostTime()</td>
				<td align=center>
				#if( $SeRe.getReadFlag() == "0")
					##<font face="$ui.sansSerifFonts" color="$ui.fontColorRed">
                                	<font color="Red" face="$ui.sansSerifFonts">
                                        $Notice_Unread
                                #else
                                        <font face="$ui.sansSerifFonts">
                                        $Notice_Read
                                #end
			</font>
			</td>
		#else
                	##if($SeRe.getReadFlag() == "0")
			<td align="Center">
        			<INPUT TYPE="CHECKBOX" NAME="$SeRe.getMsgId()" onClick="addDeleteList(this,document.frm);">
			</td>
			<td align="Center">$SeRe.getUserName()</td>
			<td align="Center">
				<a href="$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("notice_id",$SeRe.getMsgId()).addPathInfo("flag",$flag).addPathInfo("desc","Notice_Des").addPathInfo("courseId",$courseId).addPathInfo("count",$tdcolor)">$SeRe.getMsgSubject()</a>
			</td>
			<td align="Center">$SeRe.getPostTime()</td>
                        <td align=center>
        		#if($flag=="FromHome") 
                                <font color="Red" face="$ui.sansSerifFonts">
                                $brih_new
			#elseif($SeRe.getReadFlag() == "0")
                                <font color="Red" face="$ui.sansSerifFonts">
                                	$Notice_Unread
			#else
                        	<font face="$ui.sansSerifFonts">
                                        $Notice_Read
                        #end
				</font>
                        </td>
                       ##end
		#end
		</tr>
	#end
	#if($boolian == "false")
                <tr bgcolor= "$ui.tableColor">
        #else
		<tr bgcolor="$ui.menuColor">
	#end
	<td align=center>
		<INPUT TYPE="button" NAME="eventSubmit_doDelete" VALUE="$brih_delete" onClick="checkValue(document.frm,this);">
        	<INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
        	<INPUT TYPE="hidden" NAME="actionName" VALUE="">
        	<INPUT TYPE="hidden" NAME="flag" VALUE="$flag">
        	<INPUT TYPE="hidden" NAME="courseId" VALUE="$courseId">
	</td>
	<td colspan=4>
	</td>
	</tr>
	</table>
</td>
#if($desc=="Notice_Des")
<td>
	<table>
	<tr>
	<td bgcolor="$ui.tableColor" align="center">
		<font size=4><I><b>$Notice_sub</b></I></font>
	</td>
	</tr>
	<tr>
	<td>
		<textarea id="ta" name=description rows=10 cols=70 wrap=physical onFocus="this.blur();">$message</textarea>
	</td>
	</tr>
	</table>
</td>
#end
</tr>
</table>
#end
<form>
</body>
<SCRIPT LANGUAGE="javascript">
function checkValue(frm,field)
{
        if(frm.deleteFileNames.value!="")
	{
		frm.actionName.value=field.name;
        	frm.submit();
	}
	else
	{
		alert("Please select checkbox for deletion !!");
	}
}
function addDeleteList(field,frm)
{
	if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteFileNames.value;
                index=actualString.indexOf(field.name+"^",0);
                       preString=actualString.substring(0,index);
                       postString=actualString.substring(index+field.name.length+1);
                       actualString=preString+postString;
                       frm.deleteFileNames.value=actualString;
       	}
}

</SCRIPT>
