#*
 * @(#) Notices.vm
 * Copyright (c) 2005,2006,2009,2010,2011,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:madhavi_mungole@hotmail.com ">Madhavi Mungole</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:sunil0711@gmail.com">Sunil Yadav</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @author <a href="mailto:vipulk@iitk.ac.in">vipul kumar pal</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 31-12-2009, 25-04-2010,07-09-2010 , 09-Aug-2011 (Sunil Kr).
 * @modified date: 24-08-2012 (Sunil Yadav),23-02-2013,27-07-2013
*#
<head>
##This Script use for Fck Editor in textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script> ##sk
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<body onload="initEditor()">

#if($data.getUser().getUserName() == "admin")
	 $page.setTitle("AdminHome | Notices")
#else
	$page.setTitle("Home | $course | Communication | Notices")
#end
#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($time = $data.getSession().getMaxInactiveInterval())

$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
<tr><td><b>
	#if(($data.getUser().getUserName() == "admin") || $data.getUser().getTemp("role")=="institute_admin")
        	<a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_ad $brih_home</a> | $brih_Notices
	#else
		<a href=$link.setPage("call,IndexHome.vm") style='text-decoration:none'>$brih_home</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$data.getUser().getTemp("course_name" ).toString()</a> |
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style='text-decoration:none'>$brih_communication</a> | $brih_Notices
	#end
	</font>
</td></tr>
</table>
<table align=left width="100%">
<tr bgcolor="$ui.tableColor">
	#if($tdcolor != "1")
		<td>
	#elseif($tdcolor == "1")
		<td bgcolor="#AFDCEC">
	#end
    	##<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1")>$Notice_NoticeSend_msg1</a></td>
 	##if($data.getUser().getUserName() == "admin")
	#if(($data.getUser().getUserName() == "admin") || $data.getUser().getTemp("role")=="institute_admin")
    		<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1") style=text-decoration:none>$Notice_NoticeSend_msg1</a></td>
		#if($tdcolor != "2")
		<td>
		#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
		#end
		#if($data.getUser().getTemp("role")=="institute_admin")
		<a href=$link.setPage("call,Notice_User,InstDeletePostedAdmin.vm").addPathInfo("count","2") style=text-decoration:none>$Notice_DeletePosted_msg1</a></td>
		#else
		<a href=$link.setPage("call,Notice_User,DeletePostedAdmin.vm").addPathInfo("count","2") style=text-decoration:none>$Notice_DeletePosted_msg1</a></td>
		#end
		#if($tdcolor != "3")
		<td>
		#elseif($tdcolor == "3")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh").addPathInfo("count","3") style=text-decoration:none >$brih_flash $brih_heading</a></td>
		##<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh")>$brih_flash $brih_heading</a></td>
		#if($tdcolor != "4")
		<td>
		#elseif($tdcolor == "4")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("mod","adminmail").addPathInfo("count","4") style=text-decoration:none >$brih_localmail</a></td>
		#set($flag = true)
	#else
        	<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none >$brih_localmail</a> </td>
	        #if($tdcolor != "2")
        	        <td>
	        #elseif($tdcolor=="2")
        	        <td bgcolor="#AFDCEC">
	        #end
                <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2") style=text-decoration:none >$brih_chat</a> </td>
        	#if($tdcolor != "3")
                	<td>
	        #elseif($tdcolor=="3")
        	        <td bgcolor="#AFDCEC">
	        #end
        	#if($data.getUser().getTemp("role") == "student")
                	<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none > $Notice_NoticeContent_msg1</a></td>
	        	#if($tdcolor != "4")
        	        	<td>
		        #elseif($tdcolor=="4")
        		        <td bgcolor="#AFDCEC">
	        	#end
	        	<a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4") style=text-decoration:none >$DiscussionBoard</td>
			</tr>
			<tr bgcolor="$ui.menuColor">
			#set($flag = false)
			#if($tdcolor1 != "2")
				<td>
			#elseif($tdcolor1 == "2")
				<td bgcolor="#AFDCEC">
			#end
			<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none> $Notice_NoticeContent_msg1</a></td>
		 #else
        	        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1") style=text-decoration:none >$brih_Notices </td>
	        	#if($tdcolor != "4")
        	        	<td>
		        #elseif($tdcolor=="4")
        		        <td bgcolor="#AFDCEC">
	        	#end
	        	<a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4") style=text-decoration:none >$DiscussionBoard</td>
        	        #if($tdcolor != "5")
                	        <td>
	                #elseif($tdcolor=="5")
        	                <td bgcolor="#AFDCEC">
                	#end
		        <a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5") style=text-decoration:none >$brih_news</td>
		</tr>
		<tr bgcolor="$ui.menuColor">
			#set($flag = false)
			#if($tdcolor1 != "1")
				<td>
			#elseif($tdcolor1 == "1")
				<td bgcolor="#AFDCEC">
			#end
		    	<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1") style=text-decoration:none >$Notice_NoticeSend_msg1</a></td>
			#if($tdcolor1 != "2")
				<td>
			#elseif($tdcolor1 == "2")
				<td bgcolor="#AFDCEC">
			#end
			##<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("courseId",$groupName).addPathInfo("flag","FromNotices").addPathInfo("count","2") style=text-decoration:none> $Notice_NoticeContent_msg1</a></td>
			<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none> $Notice_NoticeContent_msg1</a></td>
			#if($tdcolor1 != "3")
				<td colspan="3">
			#elseif($tdcolor1 == "3")
				<td bgcolor="#AFDCEC" colspan="3">
			#end
			<a href=$link.setPage("call,Notice_User,DeletePosted.vm").addPathInfo("count","3").addPathInfo("countTemp","3") style=text-decoration:none >$Notice_DeletePosted_msg1</a></td>
	        #end
	#end

</td></tr>
</table>
###########################Add by jai Notice_Send.vm
<form name=frm method="post" action="$link.setPage("call,Notice_User,Notices.vm").setAction("Notice_Send_Delete")">
<table align=left bgcolor="$ui.tableColor" width="100%">
#*if ($errorTemplate)
<tr><td colspan="4">
<table bgcolor="$ui.bgcolor">
<tr><td>
<img src="$ui.image($ui.alertImage,$data)">
</td>
<td>
#parse ($errorTemplate)
</td>
</tr>
</table>
</td>
</tr>
#end*#
#if($nflag == "fh")
        #if($data.getUser().getUserName() == "admin")
        <tr bgcolor="$ui.menuColor">
        <td width=35%>$brih_heading $brih_type</td>
	 <td> <select id="sel" name="htype" class="drop" onChange="go(frm)">
	  #if($!hflag == "Flash Heading")
          <option value="Flash Heading" >$brih_flash $brih_heading</option>
          #end
          #if($!hflag == "Shutdown Notices")
          <option value="Shutdown Notices" >$brih_shutd $brih_Notices</option>
          #end  
          <option value="Flash Heading" >$brih_flash $brih_heading</option>
          <option value="Shutdown Notices">$brih_shutd $brih_Notices</option>
          </select>
        </td>
        </tr>
#if($hflag=="Shutdown Notices")
<tr bgcolor="$ui.tableColor">
	<td>$brih_shutd $brih_time</td>
        <td> <select id="" name="shtime" class="drop">
          <option value="15">15 $brih_minute</option>
          <option value="30">30 $brih_minute</option>
          <option value="45">45 $brih_minute</option>
          <option value="60">1 $brih_hour</option>
          <option value="120">2 $brih_hour</option>
          <option value="180">3 $brih_hour</option>
          <option value="240">4 $brih_hour</option>
          <option value="300">5 $brih_hour</option>
          <option value="360">6 $brih_hour</option>
          </select>
        </td>
</tr>
#end
#else
	<tr bgcolor="$ui.menuColor"><td>$brih_flash $brih_heading $RemoteConfiguration</td></tr>
#end
	</table>
	<table align=left bgcolor="$ui.tableColor" width="100%">
#else
	#if($flag)
		<tr width=100% bgcolor="$ui.menuColor">
	#else
		<tr>
	#end
	#if(( $data.getUser().getTemp("lang" ).toString())=="hindi")
		<td colspan="2">$Notice_NoticeSend_msg2</td>
	#else
		<td width=20%>$Notice_NoticeSend_msg2</td>
		<td>$brih_courseName</td>
	#end
	</tr>
	##if($data.getUser().getUserName() == "admin")
	#if(($data.getUser().getUserName() == "admin") || $data.getUser().getTemp("role")=="institute_admin")
		<tr bgcolor="$ui.tableColor">
		<td>$brih_sel_course</td>
		<td>
		<select class="drop" name="course_list" size=1 style="width:300px;">
		#foreach($c_ls in $clist)
			#if($data.getUser().getUserName() == "admin")
			###if(($c_ls.getName()!="author")&&($c_ls.getName()!="global"))
				#if(($c_ls.getName()!="author")&&($c_ls.getName()!="global") && ($c_ls.getName()!="institute_admin"))
					<option value="$c_ls.getName()" title="$c_ls.getName()" style="width:275px;">$c_ls.getName()
				#end
			#else
				#if($data.getUser().getTemp("role")=="institute_admin")
					<option value="$c_ls.getGroupName()" title="$c_ls.getGroupName()" style="width:275px;">$c_ls.getGroupName()
				#end
			#end
		#end
		</option>
		</select>
		#set($flag = false)
		</td></tr>
	#else
		#set($count = 1)
		#foreach($course_ls in $courselist)
			#set($count1 = 1)
			#foreach($groupId_ls in $groupIdList)
			#if($count == $count1)
				#if($velocityCount % 2 == 0)
					##<tr bgcolor="$ui.menuColor">
					<tr bgcolor="$ui.tableColor">
					#set($flag = false)
				#else
					##<tr bgcolor="$ui.tableColor">
					<tr bgcolor="$ui.menuColor">
					#set($flag = true)
				#end
				<td>
				#if($course_ls == $course)
					##<input type="checkbox" checked="true" name="course_list" value="$course_ls">
					<input type="checkbox" checked="true" name="course_list" value="$groupId_ls">
				#else
					##<input type="checkbox"  name="course_list" value="$course_ls">
					<input type="checkbox"  name="course_list" value="$groupId_ls">
				#end
				</td>
				<td>$course_ls</td>
				</tr>
	        	#end
			#set ( $count1 = $count1+1 )
			#end
		        #set ( $count = $count+1 )
		#end
	#end
#if($flag)
	<tr bgcolor="$ui.tableColor">
#else
	<tr bgcolor="$ui.menuColor">
#end
#formCell("$Notice_Subject <font color=red>*</font>" "subject" "")
</tr>
#if($flag)
	<tr bgcolor="$ui.menuColor">
#else
	<tr bgcolor="$ui.tableColor">
#end
##<tr bgcolor="$ui.tableColor">
<td>$Notice_NoticeSend_msg3</td>
<td>
<select class="drop" name="role" size=1>
#if($mode1!= "grpmgmt")
	<option value="all">$Notice_All
	<option value="instructor">$brih_Instructor
	<option value="student">$brih_student
	<option value="teacher_assistant">$bri_ta
#else
	<option value="all">$Notice_All
#end
        </option>
</select>
</td>
</tr>
<tr> <td> <input type="hidden" name="role" ></td></tr>
#end ##end for Flash Heading

#if($flag)
	<tr bgcolor="$ui.menuColor">
#else
	<tr bgcolor="$ui.tableColor">
#end
##<tr bgcolor="$ui.tableColor">
<td>$brih_msg2 </td>
<td width="3"><textarea id="ta" name="message" rows=10 cols=100> #if($nflag=="fh") $!msg #else $!fNoti $!sNoti $!msg #end </textarea></td>
</tr>
       #if($nflag == "fh")
		#set ($ext=10)
	#else
        	#set ($ext=1)
                ##<tr>
		#if($flag)
			<tr bgcolor="$ui.menuColor">
		#else
			<tr bgcolor="$ui.tableColor">
		#end
                #formCell("$Notice_NoticeSend_msg4" "expiry" "$ext")
                </tr>
	#end
	##<tr>
	#if($nflag == "fh")
		<tr bgcolor="$ui.tableColor">
	#elseif($flag)
                <tr bgcolor="$ui.menuColor">
	#else
		<tr bgcolor="$ui.menuColor">
	#end
        	##<td align=left bgcolor="$ui.menuColor" colspan=2>
	        <td align=left colspan=2>
        	  #*
	            Check for a mode, the update and delete buttons
        	    shouldn't appear when inserting a new user.
	          *#

        	<font face="$ui.sansSerifFonts">
	        <input type="hidden" name="mode1" value="$mode1">
        	<input type="hidden" name="val" value="$val">
	        <input type="hidden" name="count" value="$tdcolor">
	        <input type="hidden" name="countTemp" value="1">
		<input type="hidden" name="actionName">
	        #if($nflag == "fh")
		  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        	  <input type="button" class="button-ftextstyle" name="eventSubmit_doWrite" value="$Notice_Send" onClick="checkField1(document.frm,this);"/>
		  <input type="hidden" name="nflag" value="$nflag" >
		  <input type="hidden" name="shtime">
		  <input type="hidden" name="htype" value="$!hflag">
                  <input type="hidden" name="eventSubmit_doChange">
		  <input type="hidden" name="page" value="flash">
	        #else
		  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        	  <input type="button" class="button-ftextstyle"  name="eventSubmit_doSend" value="$Notice_Send" onClick="checkField(document.frm,this);"/>
		   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                  <input type="reset" class="button-ftextstyle" name="brih_clear" value="Clear" onClick="window.location.reload(true);"/>
		  <input type="hidden" name="page" value="notices">
		   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	        #end
		  <input type="button" class="button-ftextstyle" name="eventSubmit_doSave" value="$brih_save" id="autoclick1" onClick="check(document.frm,this);"/>

        	</font>
	        </td>
      </tr>

    </table>
  </div>
</form>
</body>
<SCRIPT LANGUAGE="javascript">
	
        function checkField1(frm,field)
        {
		editor.setMode("textmode");
                if(frm.message.value!="")
                {
                        frm.actionName.value=field.name;
                        frm.submit();

                }
                else
                {
                        alert("Message can not be empty and Click this [<>] button !!");
                }
		editor.setMode("wysiwyg");
        }

	function check(frm,field){
        editor.setMode("textmode");
        frm.actionName.value=field.name;
        frm.submit();
        editor.setMode("wysiwyg");
        }
	tt= $time;
	autosavetime = (tt-30)*1000;
        setInterval(function() {
          $("#autoclick1").click();
        }, autosavetime);

        function checkField(frm,field)
        {
		editor.setMode("textmode");
                if(frm.subject.value!="" && frm.message.value!="")
                {
                         if((frm.expiry.value>=1) && (frm.expiry.value<=365))
                                {
                                        frm.actionName.value=field.name;
                                        frm.submit();
                                }
                         else
                                alert("Deletion Time should not be less than 1 day and greater than 365 days");

                }
                else
                {
                        alert("Subject and Message can not be empty !!");
                }
		editor.setMode("wysiwyg");
        }
	function go(frm){
                frm.actionName.value="eventSubmit_doChange";
                frm.submit();
        }

</SCRIPT>
