#*
 * @(#) Notices.vm
 * Copyright (c) 2005,2006,2009,2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:madhavi_mungole@hotmail.com ">Madhavi Mungole</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 31-12-2009
*#
<head>
<script type="text/javascript">
        _editor_url = "../../../../../scrpts/";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="../../../../../scrpts/htmlarea.js"></script>
<script type="text/javascript">
        var editor = null;
        function initEditor() {
                editor = new HTMLArea("ta");
                editor.generate();
                return false;
                var cfg = editor.config;
                cfg.registerButton({
                        id        : "my-hilite",
                        tooltip   : "Highlight text",
                        image     : "ed_custom.gif",
                        textMode  : false,
                        action    : function(editor) {
                                editor.surroundHTML("<span class=\"hilite\">", "</span>");
                        },
                        context   : 'table'
                });
                cfg.toolbar.push(["linebreak", "my-hilite"]); var cfg = editor.config;
                function clickHandler(editor, buttonId) {
                        switch (buttonId) {
                                case "my-toc":
                                        editor.insertHTML("<h1>Table Of Contents</h1>");
                                break;
                                case "my-date":
                                        editor.insertHTML((new Date()).toString());
                                break;
                                case "my-bold":
                                        editor.execCommand("bold");
                                        editor.execCommand("italic");
                                break;
                                case "my-hilite":
                                        editor.surroundHTML("<span class=\"hilite\">", "</span>");
                                break;
                        }
                };
                Cfg.registerButton("my-toc",  "Insert TOC", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-date", "Insert date/time", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-bold", "Toggle bold/italic", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-hilite", "Hilite selection", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-sample", "Class: sample", "ed_custom.gif", false,
                        function(editor) {
                                if (HTMLArea.is_ie) {
                                        editor.insertHTML("<span class=\"sample\">&nbsp;&nbsp;</span>");
                                        var r = editor._doc.selection.createRange();
                                        r.move("character", -2); r.moveEnd("character", 2); r.select();
                                } else {
                                        var n = editor._doc.createElement("span"); n.className = "sample"; editor.insertNodeAtSelection(n);
                                        var sel = editor._iframe.contentWindow.getSelection();  sel.removeAllRanges(); var r = editor._doc.createRange();
                                        r.setStart(n, 0); r.setEnd(n, 0); sel.addRange(r);
                                }
                        }
                );
                cfg.pageStyle = "body { background-color:  } .hilite { background-color: yellow; } "+ ".sample { color: green; font-family: monospace; }";
                cfg.toolbar.push(["linebreak", "my-toc", "my-date", "my-bold", "my-hilite", "my-sample"]);
               editor.generate();
        }
        function insertHTML() { var html = prompt("Enter some HTML code here"); if (html) { editor.insertHTML(html); } }
        function highlight() { editor.surroundHTML('<span style="background-color: yellow">', '</span>'); }
</script>
</head>
<body onload="initEditor()">

#if($data.getUser().getUserName() == "admin")
	 $page.setTitle("AdminHome | Notices")
#else
	$page.setTitle("Home | $course | Communication | Notices")
#end
#set($lang = $data.getUser().getTemp("lang" ).toString())


$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
	<font face="$ui.sansSerifFonts"><b>
	#if($data.getUser().getUserName() == "admin")
        	<a href=$link.setPage("Index.vm")>$brih_ad $brih_home</a> | $brih_Notices
	#else
		<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$data.getUser().getTemp("course_name" ).toString()</a> |
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> | $brih_Notices
	#end
	</font>
</td></tr>
</table>
<table align=left bgcolor="$ui.tableColor" width="100%">
<tr>
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1")>$Notice_NoticeSend_msg1</a></td>
 	#if($data.getUser().getUserName() == "admin")
		#if($tdcolor != "2")
		<td>
		#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Notice_User,DeletePostedAdmin.vm").addPathInfo("count","2")>$Notice_DeletePosted_msg1</a></td>
		#if($tdcolor != "3")
		<td>
		#elseif($tdcolor == "3")
		<td bgcolor="#AFDCEC">
		#end
		##<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh").addPathInfo("count","3")>$brih_flash $brih_heading</a></td>
		<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh")>$brih_flash $brih_heading</a></td>
		#if($tdcolor != "4")
		<td>
		#elseif($tdcolor == "4")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("mod","adminmail").addPathInfo("count","4")>$brih_localmail</a></td>
	#else
		#if($tdcolor != "2")
		<td>
		#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","2")>$Notice_NoticeContent_msg1</a></td>
		#if($tdcolor != "3")
		<td>
		#elseif($tdcolor == "3")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Notice_User,DeletePosted.vm").addPathInfo("count","3")>$Notice_DeletePosted_msg1</a></td>
	#end

</td></tr>
</table>
###########################Add by jai Notice_Send.vm
<form name=frm method="post" action="$link.setPage("call,Notice_User,Notices.vm").setAction("Notice_Send_Delete")">
<table align=left bgcolor="$ui.tableColor" width="100%">
#*if ($errorTemplate)
<tr><td colspan="4">
<table bgcolor="$ui.bgcolor">
<tr><td>
<img src="$ui.image($ui.alertImage,$data)">
</td>
<td>
#parse ($errorTemplate)
</td>
</tr>
</table>
</td>
</tr>
#end*#
#if($nflag == "fh")
##<tr bgcolor="$ui.menuColor"><td>Flash Heading Configuration</td></tr>
<tr bgcolor="$ui.menuColor"><td>$brih_flash $brih_heading $RemoteConfiguration</td></tr>
</table>
<table align=left bgcolor="$ui.tableColor" width="100%">
#else
<tr width=100% bgcolor="$ui.menuColor">
#if(( $data.getUser().getTemp("lang" ).toString())=="hindi")
<td>$Notice_NoticeSend_msg2</td>
#else
<td>$Notice_NoticeSend_msg2</td>
<td>$brih_courseName</td>
#end
</tr>
#if($data.getUser().getUserName() == "admin")
<tr bgcolor="$ui.tableColor">
<td>$brih_sel_course</td>
<td>
<select name="course_list" size=1>
#foreach($c_ls in $clist)
	#if(($c_ls.getName()!="author")&&($c_ls.getName()!="global"))
	<option value="$c_ls.getName()">$c_ls.getName()
	#end
#end
	</option>
</select>
</td></tr>
#else
	#foreach($course_ls in $courselist)
	<tr bgcolor="$ui.tableColor"><td>
		#if($course_ls == $course)
		<input type="checkbox" checked="true" name="course_list" value="$course_ls">
		#else
		<input type="checkbox"  name="course_list" value="$course_ls">
		#end
		</td>
		<td>$course_ls</td>
	</tr>
	#end
#end
<tr bgcolor="$ui.menuColor">
#formCell("$Notice_Subject <font color=red>*</font>" "subject" "")
</tr>
<tr bgcolor="$ui.tableColor"><td>$Notice_NoticeSend_msg3</td>
<td>
<select name="role" size=1>
#if($mode1!= "grpmgmt")
	<option value="all">$Notice_All
	<option value="instructor">$brih_Instructor
	<option value="student">$brih_student
#else
	<option value="all">$Notice_All
#end
        </option>
</select>
</td>
</tr>
#end ##end for Flash Heading
<tr bgcolor="$ui.tableColor"><td>$brih_msg2 </td>
<td width="3"><textarea id="ta" name="message" rows=10 cols=80></textarea></td>
</tr>
                        #if($nflag == "fh")
                               #set ($ext=10)
                        #else
                               #set ($ext=1)
                                <tr>
                                        #formCell("$Notice_NoticeSend_msg4" "expiry" "$ext")
                                </tr>
                        #end
			<tr>
        <td align=left bgcolor="$ui.menuColor" colspan=2>
          #*
            Check for a mode, the update and delete buttons
            shouldn't appear when inserting a new user.
          *#

          <font face="$ui.sansSerifFonts">
          <input type="hidden" name="mode1" value="$mode1">
          <input type="hidden" name="val" value="$val">
          <input type="hidden" name="count" value="$tdcolor">

          <input type="hidden" name="actionName">
        #if($nflag == "fh")
          <input type="button" name="eventSubmit_doWrite" value="$Notice_Send" onClick="checkField1(document.frm,this);"/>
        #else
          <input type="button" name="eventSubmit_doSend" value="$Notice_Send" onClick="checkField(document.frm,this);"/>
        #end

          </font>
        </td>
      </tr>

    </table>
  </div>
</form>
</body>
<SCRIPT LANGUAGE="javascript">

        function checkField1(frm,field)
        {
		editor.setMode("textmode");
                if(frm.message.value!="")
                {
                        frm.actionName.value=field.name;
                        frm.submit();

                }
                else
                {
                        alert("Message can not be empty and Click this [<>] button !!");
                }
		editor.setMode("wysiwyg");
        }

        function checkField(frm,field)
        {
		editor.setMode("textmode");
                if(frm.subject.value!="" && frm.message.value!="")
                {
                         if((frm.expiry.value>=1) && (frm.expiry.value<=365))
                                {
                                        frm.actionName.value=field.name;
                                        frm.submit();
                                }
                         else
                                alert("Deletion Time should not be less than 1 day and greater than 365 days");

                }
                else
                {
                        alert("Subject and Message can not be empty !!");
                }
		editor.setMode("wysiwyg");
        }
</SCRIPT>


###################################
