#*
 * @(#)InstStudentCourseList.vm
 *  Copyright (c) 2010,2011-2013 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:sharad23nov@yahoo.com ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a> 
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @author  <a href="prajeev@iitk.ac.in">Rajeev Parashari</a>
 * @author  <a href="shaistashekh@hotmail.com">Shaista</a>
 * @modified date:28-12-2011(Richa)
 * @modified date:18-07-2012(Rajeev), 22-04-2013 
 *#

$page.setTitle("Admin Home | User Management | Search Student | Course Details for '$username'")
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
$page.setBgColor($ui.bgcolor)
<table bgcolor="$ui.menuColor" width=100% cellspacing=0>
<tr align="right"><td>
<b><a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_Of1 $brih_home</a> |
<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm") style=text-decoration:none> $brih_mgmt $brih_usr</a> |
##<a href=$link.setPage("call,UserMgmt_Admin,SelectUser.vm")>$brih_ser_student</a> | $brih_courseDetail
<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","sclist") style=text-decoration:none>$brih_ser_student</a> | $brih_course $brih_detail
</b></td>
</tr>
</table>
<table bgcolor="$ui.tableColor" width=100%>
<tr align="right">
	#if($tdcolor != "7")
        <td>
        #elseif($tdcolor == "7")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstAttendence_Sheet.vm").addPathInfo("count","7") style=text-decoration:none>$brih_attendence</a></td>
	#if($tdcolor != "6")
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","UPhoto")addPathInfo("count","6") style=text-decoration:none> $brih_photo $brih_upload</a></td>
	#if($tdcolor != "5")
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none>$brih_multi_usr</a></td>
	#if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student").addPathInfo("count","4") style=text-decoration:none>$brih_delete $brih_student</a></td>
	#if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor").addPathInfo("count","3") style=text-decoration:none>$brih_delete $brih_Instructor</a></td>
	#if($tdcolor != "0")
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","instlist").addPathInfo("count","0") style=text-decoration:none>$brih_Instructor $brih_Of $brih_course $brih_list </a></td>
	#if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","sclist").addPathInfo("count","2") style=text-decoration:none>$brih_student $brih_Of $brih_course $brih_list</a></td>
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none> $brih_add $brih_usr</a></td>

</tr>
</table>
<FORM ENCTYPE="multipart/form-data" NAME="frm" METHOD="POST" ACTION="$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").setAction("InstituteRemoveStudentCourse").addPathInfo("username",$username)">
<table align=left width=100% bgcolor="$ui.tableColor">
	#foreach($i in $student)
		#if($!i.getFirstName() != "")
		<tr bgcolor="$ui.menuColor" align="right">
			<td colspan=2><b>$brih_usr $brih_Of1 $brih_name</b></td>
			<td colspan=7><b> #if($mode=="instlist") $brih_Instructor  #else $brih_student #end $brih_Of1 $brih_name</b></td>
		</tr>
		<tr align="right">
			<td>$!i.UserName</td>
			<td colspan=8>$!i.getFirstName() $!i.getLastName()</td>
		</tr>
		#else
		<tr bgcolor="$ui.menuColor"  align="right">
			<td colspan=9><b>$brih_usr $brih_Of1 $brih_name</b></td>
		</tr>
		<tr  align="right">
			<td colspan=9>$!i.UserName</td>
		</tr>
		#end
	#end
##</table>
##<table align=left width=100% bgcolor="$ui.tableColor">
		#foreach($i in $student)
			<tr bgcolor="$ui.menuColor"  align="right">
				#if($mode != "instlist")<td colspan="6"><b>$brih_program</b></td>#else <td colspan=6> </td> #end
					<td colspan="3"><b>$brih_listCourse</b></td> 
			</tr>
					#set($count="")
                                        #set($temp=0)
                                        #set($counter=0)
                                        #set($num=0)
					#foreach($groupname in $groupname)
						#set($num=$num+1)
						#if($velocityCount%2==0)
							<tr bgcolor="$ui.menuColor" align="right">
						#else
							<tr bgcolor="$ui.tableColor" align="right">
						#end
						####################
						#foreach($st in $UDetail)
							#if($groupname==$st.grpname)
                                                        	<td colspan="6">
									<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").setAction("InstituteRemoveStudentCourse").addPathInfo("actionName","eventSubmit_doRemove").addPathInfo("courseid",$groupname).addPathInfo("username",$username).addPathInfo("mode",$mode).addPathInfo("count","2") style=text-decoration:none onclick="javascript:return confirm('Do you want to delete this Course for student.')">$brih_remove</a>&nbsp;&nbsp;
									<select name="prg$num" id="pg$num" class="drop" size=1 style="width:130px"; onChange="changePrg(document.frm,this,$num);">
                                                                	<option value="$st.pgcode">$st.pgname </option>
                                                                        #foreach($instplist in $rlprglist)
                                                                        	#if($st.pgname!=$instplist.getPrgName())
                                                                                	<option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
										#end
									#end
                                                                        </select>
                                                                #set($temp=$temp+1)
							#else
                                                        	#set($counter=$counter+1)
                                                        #end
							#if($counter==$UDetail.size()&&($mode != "instlist"))
                                                        	##<td colspan="4"><select name="prg$num" id="pg$num" class="drop" size=1 onChange="changePrg(document.frm,this,$num);">
                                                        	<td colspan="6">
									<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").setAction("InstituteRemoveStudentCourse").addPathInfo("actionName","eventSubmit_doRemove").addPathInfo("courseid",$groupname).addPathInfo("username",$username).addPathInfo("mode",$mode).addPathInfo("count","2") style=text-decoration:none onclick="javascript:return confirm('Do you want to delete this Course for student.')">$brih_remove</a>&nbsp;&nbsp;
                                                        	<select name="prg$num" id="pg$num" class="drop" size=1 style="width:130px"; onChange="changePrg(document.frm,this,$num);">
                                                                	<option value="Select Program">$brih_select $brih_program</option>
                                                                        #foreach($instplist in $rlprglist)
                                                                        	<option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
									#end
                                                                        </select>
							#end
						#end
                                                #if(($temp==0)&&($UDetail.size()==0)&&($mode != "instlist"))
                                                	##<td colspan="4"><select name="prg$num" id="pg$num" class="drop" size=1 onChange="changePrg(document.frm,this,$num);">
                                                        	<td colspan="6">
									<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").setAction("InstituteRemoveStudentCourse").addPathInfo("actionName","eventSubmit_doRemove").addPathInfo("courseid",$groupname).addPathInfo("username",$username).addPathInfo("mode",$mode).addPathInfo("count","2") style=text-decoration:none onclick="javascript:return confirm('Do you want to delete this Course for student.')">$brih_remove</a>&nbsp;&nbsp;
                                                	<select name="prg$num" id="pg$num" class="drop" size=1 style="width:130px"; onChange="changePrg(document.frm,this,$num);">
                                                        	<option value="Select Program">$brih_select $brih_program</option>
                                                                        #foreach($instplist in $rlprglist)
                                                                                <option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
                                                                        #end
							</select>
						#end
						###############
						#if($mode == "instlist")
							<td colspan="6"> $groupname</td>
						#else
							<td id="grp$num" colspan="3">$groupname</td>
						#end
						</td>
						</tr>
						#set($count="$count$userAndGroup^")
						#set($temp=0)
						#set($counter=0)

					#end
					##</table>
				</td>
			</tr>
			#if($mode != "instlist")
				<tr align="right">
                                <td colspan="9" align="right">
                                ##<td>    
					<INPUT TYPE="submit" class="button-ftextstyle" NAME=eventSubmit_doUpdate VALUE="$brih_update"> </td>
                                        <INPUT TYPE="hidden" NAME="count" VALUE="$tdcolor">
                        </tr>

			#end
		#end
##</table>
##<table align=left width=100% bgcolor="$ui.menuColor"> 
	<tr bgcolor="$ui.menuColor" align="right">
		#if($mode != "instlist") 
			<td colspan="6"> 
			<b>$brih_program $brih_Of1 $brih_name </b></td>
		#else 
			<td colspan="6"></td>  
		#end </b>
			<td colspan=2><b> $brih_c_msg13 </b></td> 
	</tr>
	<tr align="right">
		#if($mode != "instlist")
		<td colspan="6">
		##<input type="text" name="rollno" value=""></td>
		##<td> 
		<select name="prg" class="drop" size=1>
                        <option value="Select Program">$brih_select $brih_program</iption>
			#foreach($instplist in $PrgDetail)
				        <option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
			#end
			</select></td>
		#end
		 #if($mode == "instlist") 
			<td colspan="6"><select name="group" class="drop" size=1>
		#else
			<td colspan="2"><select name="group" class="drop" size=1>
		#end
		#foreach($name in $CourseList)
			<option value="$name.getGroupName()">$name.getCAlias(): $name.getCourseName()- $name.getUserName()
		#end
		</option>
		</select>
		</td>
	</tr>
	<tr bgcolor="$ui.menuColor" align="right">
		<td colspan=9>
			 #if($mode != "instlist")
			<INPUT TYPE="button" class="button-ftextstyle" NAME=eventSubmit_doRegister VALUE="$brih_reg1" onclick="ChkField(document.frm,this);">
			#else
			<INPUT TYPE="submit" class="button-ftextstyle" NAME=eventSubmit_doRegister VALUE="$brih_reg1">
			#end
		
			<INPUT TYPE="hidden" NAME="count" VALUE="$tdcolor">
			<INPUT TYPE="hidden" NAME="actionName" >
			<INPUT TYPE="hidden" NAME="mode" VALUE=$mode >
		</td>
	</tr>
</table>

<INPUT TYPE="hidden" NAME=updateFileNames VALUE="">
</FORM>

<SCRIPT LANGUAGE="javascript">
function ChkField(frm,field)
{
        frm.actionName.value=field.name;
        frm.submit();
}
function changePrg(frm,field,count)
{
	var grpid = document.getElementById("grp"+count).textContent;
        var pgid = document.getElementById("pg"+count);
        var pgval = pgid.value;
        var tmp=grpid+":"+pgval;
        var index,actualString,preString,postString,newIndex;
        actualString=frm.updateFileNames.value;
        index=actualString.indexOf(grpid+":",0);
        if(index!=-1)
        {
                newIndex=actualString.indexOf("^",index);
                preString=actualString.substring(0,index);
                postString=actualString.substring(newIndex+1);
                actualString=preString+postString;
                frm.updateFileNames.value=actualString+tmp+"^";
        }
        else
        {
                frm.updateFileNames.value=frm.updateFileNames.value+tmp+"^";

        }
}
</SCRIPT>																			
