#*
 * @(#) BackupIns.vm
 * Copyright (c) 2006,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:nksinghiitk@yahoo.co.in">Nagendra Kumar Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 12-04-2010
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Instructor Backup")
#set($lang = $data.getUser().getTemp("lang" ).toString())
$!data.getMessage()
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<table bgcolor="$ui.menuColor" width=100%>
<tr>
        <td><b><a href=$link.setPage("call,IndexHome.vm")>$brih_home </a> |<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$data.getUser().getTemp("course_name" ).toString() </a> |  $brih_backup 
        </td>
</tr>
</table>
<form name=frm method="post" action="$link.setAction("BackupAction").setPage("call,Backups,BackupIns.vm")">

<table bgcolor="$ui.tableColor" align=left width=100%>
        
#if ($errorTemplate)
<tr>
	<td colspan="4">
	<table bgcolor="$ui.bgcolor" width=100%>
        <tr><td><img src="$ui.image($ui.alertImage,$data)"></td>
        <td>
	#parse ($errorTemplate)
	</td></tr>
    	</table>
        </td>
</tr>
#end
<tr><td colspan="3">
#if ($lang == "english") 
	<b>$brih_course Wise $brih_backup 
	#else 
	$brih_course $brih_Of1 $brih_backup</b> 
	#end 
<tr><td><font size=4></font></td><td align="right"><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/Backup.html","newWin");>$brih_help</a></td></tr>

</td></tr>
<tr bgcolor="$ui.menuColor" >
<td><input type="text" name="courses" value="$data.getUser().getTemp("course_id" ).toString()" readonly /></td>
<td align=left>
<input type="button" class="button-ftextstyle" name="eventSubmit_doCourseBackup" value="$brih_content #if($lang == "hindi") $brih_Of1 #end $brih_backup" onClick="checkField(document.frm,this);"/>
<input type="button" class="button-ftextstyle" name="eventSubmit_doStudent_db_backup" value="$brih_database #if($lang == "hindi") $brih_Of1 #end $brih_backup" onClick="checkField(document.frm,this);"/>
<input type="hidden" name="actionName">
</td>
</tr>
<tr><td align="left" colspan="2"><a href=$link.setPage("call,Backups,BackupList.vm").addPathInfo("st","ins")><b>$brih_backup $brih_list</b></a></td></tr>
	     
</table>
</form>

<SCRIPT LANGUAGE="javascript">
        function checkField(frm,field)
        {
                                frm.actionName.value=field.name;
                                frm.submit();
        }	
</SCRIPT>
