#*
 * @(#) News_Edit.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 * @author <a href="mailto:awadhesh_trivedi.yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com ">Sunil Kumar</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 07-09-2010,
 * @ modified date: 13-Oct-2010 (Shaista), 09-Aug-2011 (Sunil Kr)
*#
<head>
##This Script use for Fck Editor in Textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script> ##sk
</head>
<body onload="initEditor()">

#set ($lang=$data.getUser().getTemp("lang" ).toString())
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td><b>
	#if($data.getUser().getUserName() == "admin")
        $page.setTitle("Admin Home ")
	<a href=$link.setPage("Index.vm")>$brih_ad $brih_home</a> |
        #elseif($data.getUser().getTemp("role") != "")
	$page.setTitle("Home ")
        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
	#else
	$page.setTitle("Home ")
        <a href=$link.setPage("Index.vm")>$brih_home</a> |
        #end
        #if($status=="fromIndex")
	$page.setTitle("| General News")
	$brih_genNews
	#else
	$page.setTitle("| $course | Communication | News")
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")> $course</a> |
	##<a href =$link.setPage("call,CourseMgmt_User,Communication.vm")>$brih_communication</a> | $brih_course 
	<a href =$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> | $brih_course 
	#if($lang=="hindi") $brih_Of2 #end $brih_news
        #end
        </td>
</tr>
</table>
#if($status=="fromCourse")
<table bgcolor="$ui.tableColor" width=100%>
<tr>
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_localmail</a></td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2")>$brih_chat</a></td>
	#if($tdcolor != "3")
	<td>
	#elseif($tdcolor=="3")
	<td bgcolor="#AFDCEC">
	#end
		<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1")>$brih_Notices</td>		
	#if($tdcolor != "4")
	<td>
	#elseif($tdcolor=="4")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
	#if($tdcolor != "5")
	<td>
	#elseif($tdcolor=="5")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5")>$brih_news</td>
</tr>
</table>
#end
#set($boolian="")
<form name="frm" action="$link.setPage("call,News,News_Edit.vm").setAction("NewsAction")">
<table width=100%  bgcolor="$ui.tableColor">
#*<tr><td>
#if($status=="fromIndex")
$brih_genNews
#else
$brih_course #if($lang=="hindi") $brih_Of2 #end $brih_news
#end
</td></tr>*#
#if($mode!="NoNews")
	#foreach ($entry in $entries)
		##<tr>
		#if($velocityCount%2==0)
                	<tr bgcolor="$ui.tableColor">
                	#set($boolian ="true")
		#else
                	<tr bgcolor="$ui.menuColor">
                        #set($boolian ="false")
		#end
		#*if($status=="fromCourse")
			#if($velocityCount%2==0)
               		<tr bgcolor="$ui.tableColor">
			#else
			<tr bgcolor="$ui.menuColor">
			#end        
		#elseif($status=="fromIndex")
			#if($velocityCount%2==0)
               		<tr bgcolor="$ui.menuColor">
			#else
			<tr bgcolor="$ui.tableColor">
			#end        
		#end*#
			#if(("$entry.getUserId()" == "$currentUserId") || ("$currentUserId"=="1"))
				<td><input type="checkbox" name="$entry.getNewsId()" onClick="addDeleteList(this,document.frm);">
			#else
				<td><input type="checkbox" disabled="true">
			#end
			<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("Id",$entry.getNewsId()).addPathInfo("status",$status).addPathInfo("desc","true").addPathInfo("count",$tdcolor)>$entry.getNewsTitle()</a>
			#if("$News_Id" == "$entry.getNewsId()")
				<img src="$content.getURI("/images/star_off_2.gif")">
				#end
			</td>
			#if(("$entry.getUserId()" == "$currentUserId") || ("$currentUserId"=="1"))
                        	<td><a href=$link.setPage("call,News,News_Update.vm").addPathInfo("Id",$entry.getNewsId()).addPathInfo("mode","Update").addPathInfo("status",$status).addPathInfo("count",$tdcolor)>$brih_update</a></td>
			#else
				<td><font color="white"><u>$brih_update</u></font></td>
			#end
		##</tr>
	      #end
		#if($desc=="true")
		<td>
		<table bgcolor="$ui.tableColor" width=100%>
		<tr bgcolor="$ui.menuColor"><td colspan=5><b>$brih_news $brih_desc</b></td></tr>
		<tr><td width="7"><textarea id="ta" rows=10 cols=90 wrap="physical">$News_Des</textarea></td> </tr>
		</table>
		</td>
		#end
		</tr>
#else
<tr bgcolor="$ui.menuColor"><td colspan=3>$brih_newsNo</td></tr>
#end
##<tr bgcolor="$ui.menuColor">
##<td>
#if($mode!="NoNews")
	#if($boolian == "true")
        	<tr bgcolor="$ui.menuColor">
	#else
        	<tr>
	#end
	<td>
	<input type="button" name="eventSubmit_doDelete" Value=$brih_delete onClick="checkField(document.frm,this);">
	<input type="hidden" name="actionName">
	<input type="hidden" name="deleteFileNames">
	<input type="hidden" name="status" value=$status>
	<input type="hidden" name="count" value="$tdcolor" >
	</td>
#else
	<tr>

#end
	#set($lang = $data.getUser().getTemp( "lang" ).toString())
	#if($lang == "english")
		<td colspan=2><b><a href=$link.setPage("call,News,News_Add.vm").addPathInfo("status",$status).addPathInfo("count",$tdcolor)>$brih_add $brih_news</a></b></td>
	#else
		<td colspan=2><b><a href=$link.setPage("call,News,News_Add.vm").addPathInfo("status",$status).addPathInfo("count",$tdcolor)> $brih_news $brih_add</a></b></td>
	#end
</tr>
</td>
##</table>
</td>
</tr>
</table>
</form>
</body>
<SCRIPT LANGUAGE="javascript">
  function checkField(frm,field)
   {
    if(frm.deleteFileNames.value!="")
    {
     frm.actionName.value=field.name;
     frm.submit();
    }
    else
     alert("Please select checkbox for deletion !!");
   }
function addDeleteList(field,frm)
{
        if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteFileNames.value;
                index=actualString.indexOf(field.name+"^",0);
                       preString=actualString.substring(0,index);
                       postString=actualString.substring(index+field.name.length+1);
                       actualString=preString+postString;
                       frm.deleteFileNames.value=actualString;
        }
}

</SCRIPT>
