#*
 * @(#) Chat.vm
 * Copyright (c) 2005, 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhk_t@yahoo.com ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com ">Shaista Bano</a>
 * @modified date: 10-aug-2010 (Shaista)
*#

$page.setTitle("Chat")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
#set($lang=$data.getUser().getTemp("lang").toString())
#set($flag=false)

#if ($lang == "urdu")
        #set($lang="urd")
#elseif($lang == "arabic")
        #set($lang="ar")
#elseif($lang == "persian")
        #set($lang="pr")
#end
#if($data.getUser().getTemp("modulename3") == "3")
        #set($flag=true)
#end
<table bgcolor="$ui.tableColor" width=100%>
	<tr align="right">
		<td>
		<font face="$ui.sansSerifFonts"><b>
		#if($mode == "general")
                        <a href=$link.setPage("Index.vm")>$brih_home</a> | $brih_chat
                #else
			<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> |$brih_chat
			| <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | 
			<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> 
		#end
		</font>
		</td>
	</tr>
<td>
</tr>
</table>
<table align=left bgcolor="$ui.tableColor" width=100%>
<tr align="right">
	#if($data.getUser().getTemp("role") == "guest")
	        #if($tdcolor!="4")
        	        <td>
	        #elseif($tdcolor == "4")
        	        <td bgcolor="#AFDCEC">
	        #end
                <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
	#elseif($mode == "instituteWise")
                #if($tdcolor!="4")
                        <td width="50%">
                #elseif($tdcolor == "4")
                        <td width="50%" bgcolor="#AFDCEC">
                #end
                        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","4").addPathInfo("grpName",$grpName) style=text-decoration:none>$RemoteInstitute $brih_wise $DiscussionBoard</a></td>
                #if($tdcolor!="2")
                        <td width="50%">
                #elseif($tdcolor == "2")
                        <td width="50%" bgcolor="#AFDCEC">
                #end
                        <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2").addPathInfo("mode2","instituteWise").addPathInfo("grpName",$grpName) style=text-decoration:none>$brih_chat</a></td>
#elseif($mode == "general")
                #if($tdcolor!="2")
                        <td width="50%">
                #elseif($tdcolor == "2")
                        <td width="50%" bgcolor="#AFDCEC">
                #end
                        <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2").addPathInfo("mode",$mode) style=text-decoration:none>$brih_chat</a></td>


        #elseif($mode == "general")
                #if($tdcolor!="2")
                        <td>
                #elseif($tdcolor == "2")
                        <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2").addPathInfo("mode",$mode)> $brih_chat</a></td>
        #else
                #if($tdcolor!="1")
                        <td>
                #elseif($tdcolor == "1")
                        <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_local $brih_mail</a></td>

                #if($tdcolor!="2")
                        <td>
                #elseif($tdcolor == "2")
                        <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2")>$brih_chat</a></td>
                #if($tdcolor!="3")
                        <td>
                #elseif($tdcolor == "3")
                        <td bgcolor="#AFDCEC">
                #end
		#if(( $data.getUser().getTemp("role") == "student")||(($data.getUser().getTemp("role") == "teacher_assistant")&&($flag==false)))
                        <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none> $Notice_NoticeContent_msg1</a>
			#foreach($msg in $unreadMsg)
	                        #if($msg!="0")
        	                	#BlinkingText("New")
                	        #end
                        #end
			</td>
               #else
                        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1")>$brih_Notices
			 #foreach($msg in $unreadMsg)
                                #if($msg!="0")
                                        #BlinkingText("New")
                                #end
                        #end
		</td>
                #end

                #if($tdcolor!="4")
                        <td>
                #elseif($tdcolor == "4")
                        <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>
			#if($unreadm!="0")
                        	#BlinkingText("New")
                        #end
			$DiscussionBoard</td>
		#if( $data.getUser().getTemp("role") != "student")
                	#if($tdcolor!="5")
                        	<td>
	                #elseif($tdcolor == "5")
        	                <td bgcolor="#AFDCEC">
                	#end
	                <a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5")>$brih_news</td>
        	#end
        #end
</tr>
</table>
#if($username=="guest")
<table align="right" width=100%>
        <tr>
        <td colspan=2 align="left" bgcolor="$ui.menuColor"><font size=4><b>$brih_chatNotPermission </b></font></td></tr>
</table>
#else
<table align="right" bgcolor="$ui.tableColor">
<tr bgcolor="tableColor" align="right"><td>
		<a href=http://javashoplm.sun.com/ECom/docs/Welcome.jsp?StoreId=8&PartDetailId=jre-6u5-oth-JPR&SiteId=JSC&TransactionId=noreg>$brih_djre</a>
		<blink> <img src="$content.getURI("/images/Lefthand.gif")"> </blink> 
</td></tr>
<tr align="right" bgcolor="$ui.menuColor"><td> 
		$brih_chatMsg2 	<a href="/brihaspati/docs/saveChat.html">$brih_here</a>
		<blink> <img src="$content.getURI("/images/Lefthand.gif")"> </blink> 
</td></tr>
<tr align="right"><td>    
	$brih_chatMsg1
	<a href=$link.setPage("call,UserMgmt_User,changePassword.vm")>$brih_changePassword</a>
	<blink> <img src="$content.getURI("/images/Lefthand.gif")"> </blink>
</td> </tr>
</table>
<applet archive="babylon.jar" code="babylon.babylonApplet.class" codebase=$codeBase width="0" height="0">
	#if($mode == "general")
                <param name="chatroom" value="general">
	#elseif ($mode == "grpmgmt")
                <param name="chatroom" value=$grpName>

        #else
                <param name="chatroom" value=$chatRoom>
        #end
	##<param name="chatroom" value=$chatRoom>
	<param name="lang" value=$lang>
	<param name="username" value=$username>
	<param name="password" value=$password>
	<param name="servername" value=$serverName>
	<param name="autoconnect" value="yes">
	<param name="locksettings" value="yes">
	<param name="embed" value="no">
        ##<param name="expiryTime" value=$TaskConf>
        <param name="babylonPath" value=$babylonPath>
        <param name="fullfile" value="$fullfile">
        <param name="role" value=$role>
        <param name="mode" value=$mode>
</applet>
#end
