.rowBG1 {
	background-color: #FCFCFC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;

}
.rowBG2 {
	background-color: #E8E8E8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.tabBG1 {
	background-color:#9dc6d9;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;	
	/*font-weight: bold;*/
	color:#174664;	
	border-width:1px;
	border-style:solid;
	border-collapse: collapse;
	border-color:#729CB2;
	}
	
.tabBG2 {
	background-color:#9dc6d9;/*#E0EDF9;*/
	border-collapse: collapse;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;	
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #6C7D87;
	border-bottom-color: #9dc6d9;
	border-right-color:#9dc6d9;
	border-left-color: #9dc6d9;
	padding:0px;
	
}
.thead{ 
       
       /*background-color:#9dc6d9;*/
        background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9DC6D9;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	border-collapse: collapse;
	border-width: 1px;	
	border-style: solid;
	line-height:27px;
	border-color: #e6f3f7;//#81aec5;
	padding:3px;
	
        
}

.tsubhead{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-color:#fae0af;
	border-collapse: collapse;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #81aec5;
	border-bottom-color: #81aec5;
	border-right-color: #81aec5;
	border-left-color: #81aec5;
}

.tabBG3 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-color:#f8f3e6;
	border-collapse: collapse;	
	border-width: 1px;	
	border-style: solid;	
	border-color:#cce6f3;//white;
	
	
}
.tabBG4 {

	font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
	background-color:#cce6f3;/* #FFFFFF;*/
 	/*background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9DC6D9;*/
	border-collapse: collapse;	
	border-width:5px;
	border-color:#81aec5;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:4px;
        padding-left:4px
}

.tabBG5 {
	border-right-width: 0px;	
	border-right-style: solid;	
	border-right-color:#81aec5;/*#333333;*/
	border-left-color: #81aec5;	
	padding-right:2px;
        padding-left:2px;
        text-align:left;
}
/*.gradient{
        
        background-image: url(../images/toolbarbg.PNG); 

        
       background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EFF6F9),color-stop(1, #D5E7F1));
      
        
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E7F1', endColorstr='#EFF6F9');

        
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E7F1', endColorstr='#EFF6F9')";

        
}*/
.rowBG3 {
        background-color: #000099;	
	font-weight: normal;
	color: #FFFFFF;
	border-collapse: collapse;
	border-color: #81aec5;
}

.row2Head { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 14pt; color : #000000; text-decoration : none; ; font-weight: normal}

.labeltext{
    color: #333333;
    font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;border-width:0px;background-color:transparent;
}

.fostyles{text-decoration: none; background-color: #FFFFFF; BORDER-RIGHT: #81aec5 1px groove; BORDER-TOP: #81aec5 1px groove; FONT-SIZE: 10pt;BORDER-LEFT: #81aec5 1px groove; BORDER-BOTTOM: #81aec5 1px groove; FONT-FAMILY: Arial, Helvetica, sans-serif;}

.pHeader {  background-color: #004D9C; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #FFFFFF; background-position: center}

.dataTableRows {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border-collapse: collapse;
	border-width: 1px;
	border-style:solid;
	border-color:#81AEC5;/*#808080;*/
	background-color: #FFFFFF;
		
}
.dataTableRowHead {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-style:solid;
	border-width: 1px;
	/*background-color:#d5e5ed;*/
	background-color:#A3C9DE;	
	color:#333333;
	border-color:#81AEC5;
	
	
	
}
.Header1{
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC9933;
	text-align:left;
	width: 20%;
	text-decoration:underline;
}
.Header2{
	background-color:#FFFFFF;
	width: 30px;
	padding-right:0px;
}
.Header3{
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC9933;
	text-align:left;
	width: 30%;
	text-decoration:underline;
}
.printtab {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;			
	}
	
.printtabhead {
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	font-size: 15px;
	font-weight: bold;
	background-color:#CCCCCC;
	}
	
.printtabHoriz {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	}

.childdiv{	
	position: relative;
	overflow: auto;	
	background-color:#FFFFFF;
	border-width: 1px;
	border-style: solid; 
	border-color:#9dc6d9;/* #808080;*/
}

.ListTable{
	font-family: verdana,Helvetica,sans-serif;
	font-size: 12px;font-weight: normal;			
    	width: 98%;    	
    	border-collapse: collapse;		
	border-width: 2px;			
	border-style: solid;	
	border-color: #e6f3f7;
	border-width: 2px;	
			
    
}
.ListHeader {
					
		color: #000000;		
		font-family: verdana,Helvetica,sans-serif;font-size: 11px;font-weight: bold;			
		background-color:#A3C9DE;		
		letter-spacing: 0;		
		//line-height: 20px;
		text-align:left;
		/*border-left-width:1px;
		border-left-style:solid; 
		border-left-color:#81aec5;*/
		border: 1px solid #81AEC5;
		padding:1px;
	}
	
.ListRow {
	background:#FFFFFF;		
	border: 1px solid #81AEC5;
	padding:1px;
	}
	
.ListRownext {
	
	background-color:  #E9F4FA;
	border-left: 1px solid #81AEC5;
	padding:1px;
	}

.listdiv{
	min-height:30px;
	overflow:auto; 
	height:auto;
	background-color:#9dc6d9;	
	background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9dc6d9;
	margin:-7px 0px 0px -5px ;
	border: 1px solid #FFFFFF;
	} 


.listdiv_toggle{
	min-height:230px;
	overflow: auto;	
	height:auto;
	background-color:#d5e5ed;
	color: #333333;
    	font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
    	
}
.listdiv_eventscheduler{
	min-height:30px;
	background-color:#9dc6d9;	
	background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9dc6d9;
	margin:-7px 0px 0px -5px ;
	border: 1px solid #FFFFFF;
	}

.adminmenu{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;		
	background: url("../images/glossyback.gif") repeat-x scroll left bottom #C6E3EF;
	border-bottom: 1.5px solid #729CB2;
	color: #104D6B;   
	text-align:left;
	padding-left:3px;
}


.adminmenuSelect{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;		
	background-color:#ffe7ce;
	color:red;
	border-width: 1px;
	border-style: solid; 
	border-color:#66CCFF;
	text-align:left;
	padding-left:3px;
}

.errorlogin
{
font-family: Verdana, Helvetica, sans-serif;
font-weight:bold;
font-size:13px;
color:#f3f8fc;/*white*/
text-align:center;
background-color:white;/*#FF3300;*/
border: 1px #912B46 solid;
width:auto;
} 


label.desc {    
    border: 0;
    color:#000099;
    font-weight:lighter	
}


.success
{
font-family: Verdana, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
text-align:center;
background-image:url(../images/tab3.png);
font-weight:bold;
border: 1px #912B46 solid;
width:auto
} 
.textmedium{ 
width: 200px; font-family: Verdana, Helvetica, sans-serif;  font-size: 12px; padding: 0px; margin: 0 0 5px 0; color: #3a3a3a; font-family: Verdana, Helvetica, sans-serif;}

.hidetd{
display:none;
}


.footerdiv{		
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #CCE6F3;
	border-bottom-color: #66CCFF;
	border-right-color: #66CCFF;
	border-left-color: #66CCFF;	
	background-image:url(../images/footer.png);		
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;font-weight: bold;background-color:transparent;
	text-align:center;
	color:#333333;	
	line-height: 2em;	
	} 

.contentdiv{	
	overflow:auto; 
	height:380px;	
	border-width: 1px;	
	border-style: solid; 
	border-color:#9496BD;
	background-color:white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;font-weight: normal;background-color:transparent;	
	} 


.footerdivlogin{		
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #66CCFF;
	border-left-color: #66CCFF;
	border-bottom-color:#66CCFF;
	border-right-color: #66CCFF;
	border-left-color: #66CCFF;		
	background-image:url(../images/footer.png);
	background-repeat: no-repeat;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;font-weight: bold;background-color:transparent;
	text-align:center;
	color:#333333;
	height:38px;
	} 

.logindiv{	
	background-image:url(../images/loginheader.png);
	background-repeat: no-repeat;
	height:105px;
	} 

.footercolor{
	color:#FFFFFF;
	font-weight: bold;
	background-color:#E0EDF9;
	}
.profiletabdiv{
	overflow:auto; 	
	overflow: auto;

}

.search_field_div{		
	overflow: auto;	
	background: none repeat scroll 0 0 #e6f3f7;/*#CCE6F3;*/
	color: #333333;
    	font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
    	border-radius:8px;
    	padding:12px;
}

.search_field_div_toggle{		
	overflow: auto;	
	background-color:#e6f3f7;
	color: #333333;
    	font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
    	border-radius:8px;
}



.search_links_div{
	position: absolute; 
	left: 700px; 	
	top: 0px; 
        color: #333333;
    	font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
    	
}

.search_resul_category {
     background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9DC6D9;
    color: #333333;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 2em;
    margin: 0 8px;
    text-align: center;
}

.search_resul_head{		
	background-color:#E9F4FA;/*#efefef;*/	
	text-align:left;	
	font-family: Verdana,Arial,Helvetica,sans-serif;
    	font-weight: 500;
    	color: #333333;
    	line-height: 1.5em;
}

.searchtab {	
	font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color:white;
	border-bottom-color:white;
	border-right-color:white;
	border-left-color: white;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:4px;
        padding-left:4px        
        
}

.bodystyle{
    color: #333333;
    font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
    background-color:#D5E5ED;       
    }
.bodystyle1{
    color: #333333;
    font-family: Verdana, Helvetica, sans-serif;font-size: 12px;font-weight: normal;
    background-color:#9dc6d9;
    background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9dc6d9;    
    }
    
.footerstlye{
    color: #333333;
    font-family: Verdana, Helvetica, sans-serif;font-size: 10px;font-weight: bold;
    background-color:#9DC6D9;    
    text-align:center}
    
  .button {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 2px 3px #FFFFFF inset;
      color: #555555;
      cursor: pointer;
      font-size: 0.9em;
      font-weight: bold;
      margin: 5px;
      //padding: 4px 10px;
      padding: 1px;
      text-shadow: 0 -1px 1px #FFFFFF;
}


    
.innnerBanner {
    background-color: #B9DCEF;
    background-image: url("../images/innerpageheader.jpg");
    background-repeat: no-repeat;
    height: 146px;
    margin: 0 auto;
    width: 1013px;
}    

.loginLink {
    height: 30px;
    margin: 0 auto;
    padding-top: 17px;
    text-align: right;
    width: 975px;
}

.loginLink_header {
    height: 30px;    
    background-color: white;
    text-align: right;
    margin: -108px 0px;
}
.message {
    background: url("../images/information.png") no-repeat scroll 8px 50% #F3F8FC;
    border: 1px solid #ff0000;
    color: #006DBA;
    margin: 10px 10px 0px 5px;
    padding: 5px 5px 5px 30px;
}

.dialog table {
    background: none repeat scroll 0 0 #CCE6F3;
    padding: 5px;
    text-align: left;
    width: 100%;
}


.buttons {
    background: none repeat scroll 0 0 #A3C9DE;
    border: 1px solid #CCE6F3;
    color: #666666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.profilemenu{
	background: url("../images/glossyback.gif") repeat-x scroll left bottom #C6E3EF;
	border-bottom: 1.5px solid #729CB2;
	color: #104D6B;   
	font-weight:bold;
	text-align:left;
	padding-left:3px;
}

.profilemenuhover{
	background: url("../images/glossyback2.gif") repeat-x scroll left bottom #C6E3EF;
	border-bottom: 1.5px solid #729CB2;
	color: #104D6B;   
	font-weight:bold;
}

.profilemenuselected{
	background: repeat-x scroll left bottom #ffe7ce;
	border-bottom: 1.5px solid #729CB2;
	color: #104D6B;  
	font-weight:bold;
	text-align:left;
	padding-left:3px;
}

.mandatory{
 color: red;
  font-family: Verdana, Helvetica, sans-serif;font-size: 10px;font-weight: bold;
}

.approved{
	background: repeat-x scroll left bottom #fff1ec;
	border: 1px solid #81AEC5;
	text-align:left;
	color:#000000;
}

.notApproved{
	background: repeat-x scroll left bottom #eaf7ea;
	border: 1px solid #81AEC5;
	text-align:left;
	color:#000000;
}
.horizontalTab{
    background-color: #6da5d0;
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    color: #174664;
}
.horizontalTabli{
    background-color:#6da5d0;//#DFEFFC;
    float: left;
    text-align: center;
    padding:9px;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left:1px; 
    margin-top:2px;
    border: 1px solid #C5DBEC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}
.horizontalTabli:hover{
    cursor:pointer;
    background-color: #AFCDE3;
}
.horizontalTabliselected{
    float: left;
    text-align: center;
    padding:9px;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left:2px;
    margin-top:2px;
    background-color: #D0E5F5;//:#DFEFFC;//#6da5d0;//#D0E5F5;
    color: #174664;//#FFFFFF;//#E17009;
    text-color:#FFE7CE;
    border: 1px solid #C5DBEC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.userdetails{      
       
    background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9DC6D9;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	border-collapse: collapse;
	border-width: 1px;	
	border-style: solid;
	line-height:27px;
	border-color: #e6f3f7;//#81aec5;
	padding:3px;
	       
}

.ReportFormatTable{      
    background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9DC6D9;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	border-collapse: collapse;
	border-width: 2px;	
	border-style: solid;
	line-height:27px;
	border-color:#9dc7dd;	 
}

#Reports_menu_container
{
    margin: 0 0;
    width: auto;
    background-color:#9dc6d9;
    background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9dc6d9;    
}

#Reports_menu_header
{
	background:#9dc6d9;
	padding: 2px;
}

#Reports_menu_header h1 { margin: 0; }

#Reports_menu_navigation
{
	float: left;
	width: 100%;
    background-color:#9dc6d9;
    background: url("../images/tablebg.jpg") repeat-x scroll 0 0 #9dc6d9;    
}

#Reports_menu_navigation ul
{
	margin: 0;
	padding: 0;
}

#Reports_menu_navigation ul li
{
	list-style-type: none;
	display: inline;
}

#Reports_menu_navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#000;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#Reports_menu_navigation li a:hover { background:#b6dbed; }

