*				{ margin: 0; padding: 0; }
body				{ font-family: Georgia, serif; background: url(../images/NFES_header.jpg)  top center no-repeat #FFFFFF; color:#FFFFFF;}

.clear				{ clear: both; }

form				{ width: 500px; margin: 170px auto 0; }

legend				{ display: none; }

fieldset			{ border: 0;padding-top:70px; }

label				{ width: 140px; text-align: left; float: left; margin: 0 10px 0 0; padding: 9px 0 0 0; font-size: 16px; color:#000000}

input				{ width: 200px; display: block; padding: 1px; margin: 0 0 5px 0; font-size: 15px;
					  color: #3a3a3a; font-family: Georgia, serif;}
					  
.button:hover		{ background: white; color: black; }

.errorlogin
{
color:#FFFFFF;
text-align:center;
background-color:#FF3300;
font-size:16px;
border: 1px #912B46 solid;
width:auto
} 
label.desc {    
    border: 0;
    color:#000099;
    font-weight:lighter	
}


