#*
 * @(#)Grpmgmt.vm
 * Copyright (c) 2006,2007,2009,2010,2011,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 *  @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 *  @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 *  @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 *  @modified date: 31-12-2009, 07-09-2010, 11-08-2011
 *  @modified date:jan 17- 2011
 *  @modified date:Feb 15- 2011,Feb 07 2013
 *  Contributors: Members of ETRG, I.I.T. Kanpur
*#
<head>
## This Script usr for Fck Editor in textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<body onload="initEditor()">

#set($lang = $data.getUser().getTemp("lang" ).toString()) 
#set($flag1=false)
#if($data.getUser().getTemp("modulename6") == "6")
	#set($flag1=true)
#end
$page.setTitle("Home | $courseName | $brih_grpmgmt")
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
	<a href=$link.setPage("call,IndexHome.vm") style="text-decoration:none"><b>$brih_home</a> | 
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style="text-decoration:none"> $coursename </a>|	$brih_grp $brih_mgmt	
</td></tr>
</table>
<table width=100% bgcolor="$ui.tableColor">
<tr>
## #if($user_role == "instructor")
## modify by sunil

#if(($user_role == "instructor")||($user_role == "teacher_assistant"&& $flag1))
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang =="hindi" || $lang =="gujarati") $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate #else $WikiCreate $brih_grp #end </a></td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang =="hindi"|| $lang =="gujarati") $brih_member $brih_add/$brih_view #else $brih_add/$brih_view $brih_member #end </a></td>
	#if($tdcolor != "3")
	<td>
	#elseif($tdcolor=="3")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Group_Mgmt,Grp_View_Delete.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang =="hindi" || $lang =="gujarati") $brih_grp #if($lang =="hindi") $brih_Of1 #end $brih_view/$brih_delete #else  $brih_view/$brih_delete $brih_grp #end </a></td>
	#if($tdcolor != "4")
	<td>
	#elseif($tdcolor=="4")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("count","4") style="text-decoration:none"> #if($lang =="hindi" || $lang =="gujarati") $brih_member #if($lang =="hindi") $brih_Of1 #end $brih_edit/$brih_remove #else $brih_edit/$brih_remove $brih_member #end </a></td>
	#if($tdcolor != "5")
	<td>
	#elseif($tdcolor=="5")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Group_Mgmt,Activitygroup.vm").addPathInfo("count","5") style="text-decoration:none"> $brih_grp #if($lang =="hindi") $brih_Of #end $brih_activity</a></td>
#else
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Group_Mgmt,Signupform.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang =="hindi" || $lang =="gujarati") $brih_grp $brih_in $brih_join #else $brih_join $brih_grp #end </a></td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC">
	#end
    	<a href=$link.setPage("call,Group_Mgmt,ViewActivity.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang =="hindi") $brih_activity $brih_Of1 $brih_view #else $brih_view $brih_activity #end </a></td>
	<td><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/joingroupactivity.html","newWin"); style="text-decoration:none">$brih_help</a></td>
#end
</tr>
</table>
############################Creategroup.vm add by jai
## #if($user_role=="instructor")
## modify by sunil
#if(($user_role == "instructor")||($user_role == "teacher_assistant" && $flag1))
##<form name="frm" method="post" action=$link.setPage("call,Group_Mgmt,Creategroup.vm").setAction("Groupmanagement")>
<form name="frm" method="post" action=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").setAction("Groupmanagement")>
<table bgcolor="$ui.tableColor" width=100% > ## table 3 start
	<tr bgcolor="$ui.menuColor"><td colspan=5 valign="top"> ## td tr 1 satart
                        ##<b><font size=5><I>$brih_course $brih_Groups</I></font></b>
                        <b><font size=5><I> #if($lang =="hindi" || $lang =="gujarati") $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate #else $WikiCreate $brih_grp  #end </I></font></b>
        </td></tr> ##tr 1 end
                #if($flag == "true")
                        <tr><td> ## tr td 2 start
                                &nbsp;&nbsp;<b> #if($lang =="hindi" || $lang =="gujarati") $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate #else $WikiCreate $brih_grp #end :$brih_grpmsg1 </b><br><br>
                                <input type="radio" checked="true" name="grouptype" value="usagegroup"> #if($lang =="hindi" || $lang =="gujarati") $brih_Usage $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate #else $WikiCreate $brih_Usage $brih_grp #end<br>  
                                &nbsp;&nbsp;($brih_grpmsg2)<br><br>
                                <input type="radio" name="grouptype" value="Multiplegroup">
                                #if($lang=="hindi" || $lang =="gujarati")
					$brih_multiple1 $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate<br>
        	                        &nbsp;&nbsp;($brih_grpmsg8 $brih_grpmsg7<br>
	                                &nbsp;&nbsp;&nbsp;$brih_grpmsg19 $brih_grpmsg20)<br><br>
                                #else
					$WikiCreate $brih_multiple1 $brih_grp<br>
                                	&nbsp;&nbsp;($brih_grpmsg7 $brih_grpmsg19 $brih_grpmsg20<br>
	                                &nbsp;&nbsp;$brih_grpmsg8)<br><br>
				#end
                                <input type="radio" name="grouptype" value="signupgroup">
                                #if($lang=="hindi" || $lang =="gujarati")
					$brih_signup $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate<br><br>
                                #else
					$WikiCreate $brih_grp $brih_signup<br><br>
                                #end
                                &nbsp;&nbsp;($brih_grpmsg3) <br>
                                <tr bgcolor="$ui.tableHeaderColor"><td colspan="5">
                                <input type="button" class="button-ftextstyle"  name="eventSubmit_doCreategrouptype" value="$brih_cont" onClick="checkField1(document.frm, this);"/>
                                <input type="submit" class="button-ftextstyle"  name="eventSubmit_doCancel" value="$brih_cancel">
                        </tr></td> ## tr td 2 end
                #end
                #if($actionName == "eventSubmit_doCreategrouptype" && $grouptype == "usagegroup")
                        <tr><td>
                                <left><b><font size=4>&nbsp;&nbsp;
                                #if($lang=="hindi" || $lang =="gujarati")
                                	$brih_Usage $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate
                                #else
					$WikiCreate $brih_Usage $brih_grp
                                #end
				</font></b><br>
                                <table  border="0" bgcolor="$ui.tableColor" width="100%" colspan=3>
                                        <tr bgcolor="$ui.menuColor">
                                        <td><b><font color=red>*</font> #if($lang =="hindi" || $lang =="gujarati") $brih_grp #if($lang =="hindi") $brih_Of1 #end $brih_name #else $brih_name $brih_Of1 $brih_grp #end :</b></td>
                                        <td align="left"><input type="text"  size="31" name="groupname"  value=""/></td>
                                        </tr>
                                        <tr>
                                        <td><b> #if($lang == "hindi" || $lang =="gujarati") $brih_grp #if($lang =="hindi") $brih_Of1 #end $brih_desc #else $brih_desc $brih_Of1 $brih_grp #end :</b></td>
                                        <td align="left" width="2"><textarea id="ta" name="groupdesc" rows=10 cols=80 ></textarea></td>
                                        </tr>
                                </table>
                        </td></tr>
                #end
		## end of usage create ##
                ## start of multiple group ##
                #if($actionName == "eventSubmit_doCreategrouptype" &&  $grouptype == "Multiplegroup" || $actionName == "eventSubmit_doCreategrouptype" &&  $grouptype == "signupgroup" )
                <tr><td>
                        #if($grouptype == "Multiplegroup")
                                #if($lang== "hindi" || $lang =="gujarati")
                                <br><b>&nbsp;&nbsp;$brih_multiple1 $brih_grp #if($lang =="hindi") $brih_Of1  #end $WikiCreate:</b><br>
                                #else
                                <br><b>&nbsp;&nbsp;$WikiCreate $brih_multiple1 $brih_grp:</b><br>
                               #end
                        #else
				#if($lang== "hindi" || $lang =="gujarati")
                                <br><b>&nbsp;&nbsp; $brih_signup $brih_grp #if($lang =="hindi") $brih_Of1 #end $WikiCreate:</b><br>
                                #else
                                <br><b>&nbsp;&nbsp;$WikiCreate $brih_grp $brih_signup:</b><br>
                                #end
                        #end
                        &nbsp;&nbsp;$brih_grpmsg5<br>
                        &nbsp;&nbsp;$brih_grpmsg6<br><br>
                        <table  border="0" width="100%" >
                        #if($grouptype =="Multiplegroup")
                                <tr bgcolor="$ui.menuColor"> <td bgcolor="$ui.menuColor" colspan="2"> 
                                <input type="radio" name="groupmode" value="Mgroup"onClick="this.form.studentno.disabled=true;this.form.studentno.focus();" />
                                $brih_grpmsg7 $brih_grpmsg19 
				</td> </tr>
				<tr><td> 
                                <input type="radio"  checked="true" name="groupmode" value="MRgroup"onClick="this.form.studentno.disabled=false;this.form.studentno.focus();" /> 
				#if($lang== "hindi" || $lang =="gujarati")
                                $brih_grpmsg7 $brih_grpmsg8
                                #else
                                $brih_grpmsg7 $brih_grpmsg8 $brih_students
                                #end
				</td> </tr>
				 #set($boolFlag = false)
                        #end
			#if($boolFlag)  
                                <tr>
                        #else
                                <tr bgcolor="$ui.menuColor">
                        #end
			<td><b>
                                <font color=red>*</font>
				#if($lang== "hindi" || $lang =="gujarati")
					$brih_grp #if($lang== "hindi") $brih_Of1 #end $brih_name:
				#else
	                                $brih_name $brih_Of $brih_grp:
				#end
				</b>
                                </td>
                                <td>
                                <input type="text"  size="31" name="groupname"  value=""/>
                                </td>
                        </tr>
			#if($boolFlag)
                                <tr bgcolor="$ui.menuColor">
                        #else
                                <tr>
                        #end
                                <td>
                                &nbsp;<b>$brih_default $brih_desc:</b>
                                </td>
                                <td width="2">
                                <textarea id="ta" name="groupdesc"  rows=10 cols=80 ></textarea>
                                </td>
                        </tr>
			#if($boolFlag)
                                <tr>
                        #else
                                <tr bgcolor="$ui.menuColor">
                        #end
                                <td><b>
                                <font color=red>*</font>
                                ##$brih_nos $brih_groups:</b>
				#if($lang== "hindi" || $lang =="gujarati")
                                $brih_grp $brih_Of $brih_nos:>
                                #else
                                $brih_nos $brih_grp:
                                #end
				</b>
                                </td>
                                <td>
                                <input type="text" size="31" name="groupno" value="" onChange="validate(this)">
                                </td>
                        </tr>
			#if($boolFlag)
                                <tr bgcolor="$ui.menuColor">
                        #else
                                <tr>
                        #end
                                <td><b><font color=red>*</font>
                                ##$brih_nos $brih_students $brih_perg $brih_group:</b>
				#if($lang== "hindi" || $lang =="gujarati")
				$brih_perg $brih_grp $brih_in $brih_students $brih_Of $brih_nos:</b>
                                #else
                                $brih_nos $brih_students $brih_perg:</b>
                                #end
                                </td>
                                <td>
                                ##<input type="text" size="20" name="studentno" value="" onKeyUp="if (this.disabled) this.value=''" onChange="validate(this)">
                                #if($grouptype == "Multiplegroup")
                         	       <input type="text" size="31" name="studentno"  onClick="this.form.disabled=true" onChange="validate(this)">
                                #else
                                	<input type="text" size="31" name="studentno" onClick="this.form.enabled=true" onChange="validate(this)">
                                #end
                                </td>
                        </tr>
                </table>
        </tr></td>
        #end
        ##<br><br>
        ## end of multiple group
        ##<br>
        #if($actionName == "eventSubmit_doCreategrouptype" )
        #*<tr><td> ## td tr of 7
               <I><b><font size="3">$brih_students $brih_infos:</b></font>$brih_grpmsg4</b></I><br>
        </tr></td>*#
        <tr><td> ## td tr 8 start
                <table bgcolor="$ui.tableColor" colspan="5" width="100%"> ## table 7 start
                        <tr bgcolor="$ui.menuColor" ><td align="left" >&nbsp;&nbsp;&nbsp;
                        #if($grouptype=="usagegroup")
                          <input type="button" class="button-ftextstyle" name="eventSubmit_doSavegroup" value="$WikiSave" onClick="checkField(document.frm,this);"/>
                        #end
                        #if($grouptype=="Multiplegroup")
			  <input type="button" class="button-ftextstyle" name="eventSubmit_doSavegroup" value="$WikiSave" onClick="checkField3(document.frm,this);"/>
                        #end
			#if($grouptype=="signupgroup")
                          <input type="button" class="button-ftextstyle" name="eventSubmit_doSavegroup" value="$WikiSave" onClick="checkField2(document.frm,this);"/>
                        #end
                                <input type="submit" class="button-ftextstyle" name="eventSubmit_doCancel" value="$brih_cancel"/>
                        </tr></td>
                </table> ## end of table 7
        </tr></td> ## end od td tr 8
        #end ## end if
        <input type="hidden" name="actionName" >
        <input type="hidden" name="grouptype" value="$grouptype" >
        <input type="hidden" name="groupdesc" value="$groupdesc" >
        <input type="hidden" name="deleteFileNames" value="">
        <input type="hidden" name="stat" value="grpmgmt">
        <input type="hidden" name="val" value="$val">
</form>
</table> ## end of table 3
</body>
#end
###########################################
<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
	function checkField1(frm,field)
{
                frm.actionName.value=field.name;
                frm.submit();
}
function checkField(frm,field)
{
	editor.setMode("textmode");
        if(frm.groupname.value!="")
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
                alert("Please fill the Mandatory(*) Fields !!");
		editor.setMode("wysiwyg");
}
function checkselect(frm,field)
{
        var items;
        items=frm.deleteFileNames.value;
        if(items.length!=0)
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
                alert("Please check box");
}
function deleteConfirm(frm,field)
{
        var delfiles;
        delfiles=frm.deleteFileNames.value;
        if(delfiles.length!=0)
        {
                if(confirm("Selected Group will be Deleted"))
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }

        }
        else
                alert("Please Select check box  !!");
}
function addDeleteList(field,frm)
{
        if(field.checked)
        {
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
        }
        else
        {
                 var rmFile,index,actualString,preString,postString;
                 actualString=frm.deleteFileNames.value;
                 index=actualString.indexOf(field.name+"^",0);
                 preString=actualString.substring(0,index);
                 postString=actualString.substring(index+field.name.length+1);
                 actualString=preString+postString;
                 frm.deleteFileNames.value=actualString;
         }

}
function validate(obj)
{
        value = obj.value;
        for (n = 0; n < value.length; n++)
        if ( ! isDigit(value.charAt(n)))
        {
                alert("Field must be numeric !!");
                return;
        }
}
function isDigit(ch)
{
        if (ch >= '0' && ch <= '9')
        return true;
        return false;
}
function Changegroup(frm,field)
{
        frm.val.value=document.frm.activity.value;
        alert(frm.val.value);
}
function checkField2(frm,field)
{
	editor.setMode("textmode");
        if((frm.groupname.value!="") && (frm.groupno.value!="") && (frm.studentno.value!=""))
        {
                if((frm.studentno.value>=1) && (frm.groupno.value>=1))
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                else
                        alert("Number of student per group and Number of groups should not be less than 1");
        }
        else
                alert("Please fill the Mandatory(*) Fields !!");
		editor.setMode("wysiwyg");
}
function checkField3(frm,field)
{
	editor.setMode("textmode");
        if(frm.groupmode[1].checked)
        {
                if((frm.groupname.value!="") && (frm.groupno.value!="") && (frm.studentno.value!=""))
                {
                        if((frm.studentno.value>=1) && (frm.groupno.value>=1))
                        {
                                frm.actionName.value=field.name;
                                frm.submit();
                        }
                        else
                                alert("Number of student per group and Number of groups should not be less than 1");
                }
                else
                {
                        alert("Please fill the Mandatory(*) Fields !!");
                }
           }
           if(frm.groupmode[0].checked)
           {
                if((frm.groupname.value!="") && (frm.groupno.value!=""))
                {
                        if(frm.groupno.value>=1)
                        {
                                frm.actionName.value=field.name;
                                frm.submit();
                        }
                        else
                                alert("Number of groups should not be less than 1 ");
                }
                else
                {
                        alert("Please fill the Mandatory(*) Fields !!");
                }
          }
	editor.setMode("wysiwyg");
}	
</SCRIPT>
