#*
 *@(#)poll.vm
 * Copyright(c)2012-2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author: <a href="piyushm45@gmail.com">Piyush Mishra</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
<!DOCTYPE html>
$page.setTitle("POLL")
<table bgcolor="$ui.menuColor" width=100%>
<tr>
        <td>
        <a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home </a>
        <font>| <a href=$link.setPage("call,poll,poll.vm").addPathInfo("inst_Mode","psnl").addPathInfo("do","create") style=text-decoration:none>$poll_brih</a></font>
        #if($do=="view")
        <font>| $View_brih</font>
	#end
        #if($do=="create")
        <font>| $Compose_brih</font>
        #end
        </td>
<tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor" cellpadding="2" >
        #if($do=="view")
<tr>
        <td style="width:50%"><a href=$link.setPage("call,poll,poll.vm").addPathInfo("inst_Mode","psnl").addPathInfo("do","create") style=text-decoration:none>$Compose_brih</a></td>
        <td  align="left" style="width:50%; background:#AFDCEC;" ><a href=$link.setPage("call,poll,poll.vm").addPathInfo("inst_Mode","psnl").addPathInfo("do","view") style=text-decoration:none>$View_brih</a></td>
        <td></td>
</tr>
<table width="100%">
<tr><td>
        <iframe src="$ipadd/brihaspatiSpring/pollmodule/pollUpdate.vm?institute_Id=$i&user_Id=$id&AdminConf=$AdminConf" style="height:500px; width:100%;" frameborder="0" scrolling="no"></iframe>
</td></tr>
</table>
#end
#if($do=="create")
        <tr>
        <td  style="width:50%; background:#AFDCEC;"><a href=$link.setPage("call,poll,poll.vm").addPathInfo("inst_Mode","psnl").addPathInfo("do","create") style=text-decoration:none>$Compose_brih</a></td>
        <td  align="left" style="width:50%;" ><a href=$link.setPage("call,poll,poll.vm").addPathInfo("inst_Mode","psnl").addPathInfo("do","view") style=text-decoration:none>$View_brih</a></td>
        <td></td>
</tr>
<table width="100%">
<tr><td>
<iframe src="$ipadd/brihaspatiSpring/pollmodule/pollAdd.vm?institute_Id=$i&user_Id=$id" frameborder="0" scrolling="no" style="height:500px; width:100%;"></iframe>
</td></tr>
</table>
        #end
</table>

</html>

