#top {
 	clear: both;
        margin: 0px auto;
        height: 30px;
        background: url(images/img03.gif) repeat-x left top;
        background-size:110px 110px;
        text-align: center;

}

/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	background: url(images/img021.jpg) repeat-x left top;
	line-height: 22.5px;
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: #0077dd;
}

a:hover {
	text-decoration: none;
}

.list1 {
erProfilemargin: 0;
	padding: 0;
	list-style: none;
}

.list1 a {
	background: url(images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

.list2 {
	margin: 0;
	list-style: none;
}

.list2 a {
	background: url(images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 20px 0px 0px;
}

/** HEADER */

#header {
	width: 1078px;
	margin: 0px auto;
	padding: 1em;
	height: 90px;
	color: #254360;
}

#header h1 {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	text-transform: none;
	font-weight: bold;
	font-size: 43px;
}

#header h2 {
	margin: 0 0 0 -3330px;
	padding: 0px 0px 0px 90px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

/** MENU */

#menu {
	width: 1078px;
	margin: 0px auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	background: url(images/img04.gif) no-repeat right 50%;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}

#menu a:hover {
	background: #FFFFFF;
	color: #254360;
}

#menu .active {
	background: #FFFFFF;
	color: #254360;
}

/** SecondaryMenu*/
#link {
        width: 1080px;
        margin: -25px auto;
	background: url(images/img021.jpg) repeat-x left top;
	margin-top: -25px;
	height:45px;
}

#link a {
        
        padding: 0px 20px 0px 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #1C364F;
}

#link a:hover {
        background: #FFFFFF;
        color: #254360;
}

#link .active {
        background: #FFFFFF;
        color: #254360;
}

/** CONTENT */
#frame{

      width:350px; 

      margin:0px ; 

      border:1px solid #444; 

      height:350px;
    

     padding-left: 5px;

     padding-right:5px;

}
#content {
	width: 1078px;
        height: 817px;
	margin: 0px auto;
	padding: 40px 0px 20px 0px;
}

#columnA {
	float: right;
	width: 600px;
	margin-top: -28px;
}
#listA {
        float: right;
        width: 1077px;
}
#listB {
        float: left;
        width: 1077px;
}
.button {
  padding:3px;
  background-color: #CEF6F5;
  border: 1px solid #666;
   border-radius: 28px;
  font-family: Arial; 
  color:#000;
  text-decoration:none;
  float: right;
  margin-right: 0px;
  }
#columnA h2 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	font-size: 12pt;
	font-weight: bold;
}

#columnB {
	float: left;
	width: 400px;
	margin-top: -45px;
	height: 580px;
	background-color: #D0E9FD;
	border: 1px solid #444;
	border-radius: 25px;
}

#columnB h3 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	border-spacing: 2px;
	font-size: 11pt;
	font-weight: bold;
}

/** FOOTER */

#footer {
	clear: both;
	margin: 0px auto;
	height: 110px;
	background: url(images/img03.gif) repeat-x left top;
	background-size:110px 110px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width:100%;
}

#footer p {
	margin: 0px;
	padding: 8px 0px 0px 0px;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #CCCCCC;
}
input {
	border-radius: 20px;
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.submit{
  padding:3px;
  background-color: #CEF6F5;
  border: 1px solid #666;
   border-radius: 28px;
  font-family: Arial;
  color:#000;
  text-decoration:none;
  margin-left: 0px;

  }
.login{
	border-radius: 20px;
	height: 300px;
    	width: 500px;
	margin-left: 5cm;
	color: white;

}
.register{
	border-radius: 20px;
        height:565px;
    	width: 510px;
        margin-left: 5cm;
        color: white;

}
fieldset{
border-radius: 5px;
padding: 5px; /*Just to prevent the content from being to close to the corner*/
}
.ScrollStyle
{
    max-height: 550px;
    overflow-y: scroll;
}



