#*
 * @(#) PermissionReceive.vm
 *  Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#

$page.setTitle("$brih_ad $brih_home |$Repo_Repo1")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">

  <td colspan=4><b>
	#if($mode=="fromauthor")
        <a href=$link.setPage("call,Repository_Mgmt,Author.vm").addPathInfo("count","1") style=text-decoration:none>$brih_authorHome </a>| 
        <a href=$link.setPage("call,Repository_Mgmt,RepositoryList.vm").addPathInfo("count","2") style=text-decoration:none>$Repo_Repo1</a> | $Repo_Perm $brih_view </b>
	#end
	#if($mode=="frominstructor")
        <a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_home </a>| 
        <a href=$link.setPage("call,UserMgmt_User,PersonalArea.vm").addPathInfo("count","1") style=text-decoration:none> $personal $area</a> | $Repo_Perm  $brih_view </b>
	#end
     </td>
</tr>
#if($mode=="fromauthor")
<tr>
 #if($tdcolor!="1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Repository_Mgmt,Author.vm").addPathInfo("count","1") style=text-decoration:none>$brih_upload $brih_content</a></td>
        #if($tdcolor!="2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Repository_Mgmt,RepositoryList.vm").addPathInfo("status","fromViewContent").addPathInfo("count","2") style=text-decoration:none>$brih_view $brih_content</a></td>
        #if($tdcolor!="3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Repository_Mgmt,RepositoryBrowser.vm").addPathInfo("count","3") style=text-decoration:none>$Repo_Repo1 $Repo_browser</a></td>
        #if($tdcolor!="4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","personal").addPathInfo("count","4") style=text-decoration:none>$personal $brih_calendar</a></td>
</tr>
#end
</table>
#*<table bgcolor="$ui.tableColor" width=100%>
   <tr><td align =center>
                <marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="rotation">
                <font size=4 color="blue">
                <b> 
			#if($lang=="hindi")
				$authorname $brih_welcome
			#else
			        $brih_welcome $authorname 
			#end
		</b>
                </font>
</td>
</tr>
</table>
*#
<table  bgcolor="$ui.tableColor" width=100%>
<tr> 
	<td  valign="top"> 
		<table bgcolor="$ui.tableColor" width=100%>
		<form name="frm" action="$link.setPage("call,Repository_Mgmt,PermissionReceive.vm").setAction("Repo_Permission")">
		<tr bgcolor="$ui.menuColor"><td colspan=4><b>$Repo_Perm $Repo_PermRec</b></td></tr>
		#if($check!="NoPermm")
			<tr><td>$Repo_select</td><td>$brih_usr $brih_name &nbsp; $brih_topic $brih_name</td></tr>
			#set($countm=0)
	 		#foreach($r in $read)
				#if($velocityCount%2==0)
				<tr bgcolor="$ui.tableColor">
				#else
				<tr bgcolor="$ui.menuColor">
				#end
				<td><INPUT TYPE="CHECKBOX" name="permdel" value="$countm" ></td> 
                                <td>$r.UserName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
				#if($mode=="fromauthor")
                                <a href=$link.setPage("call,Repository_Mgmt,PermissionReceive.vm").addPathInfo("name",$r.UserName).addPathInfo("list",$r.Topic).addPathInfo("status","permissionreceive").addPathInfo("mode","fromauthor").addPathInfo("count",$tdcolor) style=text-decoration:none>$r.Topic</a>
				#end
				#if($mode=="frominstructor")
                                <a href=$link.setPage("call,Repository_Mgmt,PermissionReceive.vm").addPathInfo("name",$r.UserName).addPathInfo("list",$r.Topic).addPathInfo("status","permissionreceive").addPathInfo("mode","frominstructor").addPathInfo("count",$tdcolor) style=text-decoration:none>$r.Topic</a>
				#end
				#if($mode=="fromCourses")
                                <a href=$link.setPage("call,Repository_Mgmt,PermissionReceive.vm").addPathInfo("name",$r.UserName).addPathInfo("list",$r.Topic).addPathInfo("status","permissionreceive").addPathInfo("CourseDir",$CourseDir).addPathInfo("mode","fromCourses").addPathInfo("count",$tdcolor) style=text-decoration:none>$r.Topic</a>
				#end
                                </td> 
				</tr>
			#set($countm = $countm+1)
			#end
		<tr><td colspan=5>
		<input type="hidden" name="mode" value="$mode">
		<input type="hidden" name="empty" value="false">
		<input type="hidden" name="actionName" value="">
                <input type="button" name="eventSubmit_doRemoveperm_receive" value="$brih_remove" onClick="checkField(frm,this);">
               	</td></tr>
		#else
		<tr><td>$Repo_PermmNo</td></tr>
		#end	
		</form>
		</table>
		</td> 
                #if($listvalue!= "")
		<tr><td valign="top"> 
                <table width=100% bgcolor="$ui.tableColor">
                <tr bgcolor="$ui.menuColor"><td><b>
		#if($lang == "hindi")
                $listvalue  $brih_file1 
		#else
           	$brih_file1 $listvalue
		#end
		</b></td></tr>
                #foreach($values in $listfile)
                <tr><td>
		<a href=javascript:popupWin($link.setPage("call,ViewFileContent.vm").addPathInfo("contents",$listname).addPathInfo("TotalFiles",$listvalue).addPathInfo("type","repo").addPathInfo("filename",$!values.getName()) style=text-decoration:none,"newWin")>$!values.getName()</a>
               </td></tr>
               #end
               </table>
               </td>
		##</tr> 
               #end
#if(($status != "")&&($mode =="fromauthor"))
<tr><td> 
	<table width=100% bgcolor="$ui.tableColor">
	<form name="frm1" action="$link.setPage("call,Repository_Mgmt,PermissionReceive.vm").setAction("Repo_Permission")">
	<tr bgcolor="$ui.menuColor"><td colspan=4><b>$Repo_Perm $Repo_Permgiv</b></td></tr>
	#if($check1!="NoPermm")
	<tr><td>$Repo_select</td><td>$brih_usr$brih_name &nbsp; $brih_topic$brih_name</td></tr>
        #set($countm=0)
	#foreach($d in $write)
		#if($velocityCount%2==0)
                <tr bgcolor="$ui.tableColor">
		#else
		<tr bgcolor="$ui.menuColor">
		#end
                <td><INPUT TYPE="CHECKBOX" name="permdel" value="$countm"></td>
                                        <td>
                                        #if($d.UserName!="")
					$d.UserName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp  
					#else
                                        $d.CourseName
					#end
                                        $d.Topic 
                                        </td>
					#set($countm = $countm+1)
                                        #end
					</tr>
		<tr>
                <td colspan=4>
		<input type="hidden" name="actionName" value="">
		<input type="hidden" name="mode" value="$mode">
		<input type="hidden" name="empty" value="false">
		<input type="hidden" name="count" value="$tdcolor">
                <input type="button" name="eventSubmit_doRemoveperm_given" value="$brih_remove" onClick="checkField(document.frm1,this);">
                </td>
		</tr>
				#else
				<tr><td>$Repo_PermmNo</td></tr>
				#end	
                                        ##</table>
				##</form>

                                </td> 
				#end
                       </tr> 
</form>
</table>
</table>

<script LANGUAGE="JAVASCRIPT">

	function checkField(frm,field)
        {
		var i=0;
                var bool=false;
                var bool2=true;
                var permdel = frm.permdel;
                var bool1 = isNaN(permdel.length) ;
                if(!bool1)
                {

                        for(i=0;i< permdel.length ;i++)
                        {
                                if(permdel[i].checked)
                                {
                                        bool=true;
                                        break;
                                }

                        }//for

                        for(i=0;i< permdel.length  ;i++)
                        {
                               bool2 = ((permdel[i].checked)&& (bool2))

                        } //for

                        if( bool)
                        {
                                 if(bool2)
                                {
                                       frm.empty.value="true";
                                }

                                frm.actionName.value=field.name;
                                frm.submit();

                        }
                        else
                        {
                                alert("Please select checkbox");
                        }
                }//if
                else
                {
                 if(permdel.checked)
                 {
                                /*
                                * empty value is made true when the list is empty
                                */
                                frm.empty.value="true";
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                        else
                        {
                                alert("Please select checkbox");
                        }
                } //else


        }

	function popupWin(urlName,popupName)
        {
                window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
        }

</script>
