#*
 * @(#) Adminwiki.vm
 * Copyright(c)2005,2009,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_home|$course|$brih_Wiki | $Wikimain5")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<style type="text/css"> input{ width:170px; } </style>
<table bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor">
		<td>
        		<b> <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
		        <a href=$link.setPage("call,Wiki,Wiki.vm")>$brih_Wiki</a> | $Wikimain5  </b>
		</td>
	</tr>
</table>
<FORM  name=frm method="POST" action="$link.setPage("call,Wiki,Adminwiki.vm").setAction("Wikieditaction")">
<table width="100%" align=left bgcolor="$ui.tableColor">
	<tr>
        	<td>
                	<a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none > $brih_Wiki $brih_home </a> &nbsp;|&nbsp;
	                <a href=$link.setPage("call,Wiki,Wiki.vm") style=text-decoration:none > $brih_index </a>
			##if($userrole == "instructor")
				&nbsp;|&nbsp;
	        	        <a href=$link.setPage("call,Wiki,Adminwiki.vm") style=text-decoration:none > $Wikimain5 </a>&nbsp; &nbsp;
        	        	##<a href=$link.setPage("call,Wiki,Wiki.vm") style=text-decoration:none>Discussion Wiki</a>&nbsp;|&nbsp;
			##end
	                ##Search : <input type="text" name="search">
        	</td>
	</tr>
</table>
<table width="100%" align=left bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.menuColor">
                <td width="90%">
                	<table width="100%" >
			#if($mypage=="empty")
				<tr>
				        <td>
				                <h3> $WikiNullMessage </h3>
				        </td>
				</tr>
				<tr>
				        <td>
				                $WikiFirstPage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=$link.setPage("call,Wiki,Editwiki.vm") style=text-decoration:none> $WikiCreate $brih_Wiki </a> &nbsp;
				        </td>
				</tr>
			#else
#if($num != 0)
	<tr bgcolor="#CEF6CE">
		<td>
			<p align=center><b><font color="red">${Wikiadmin3} ( $num ) $dispage</font></b></p>
		</td>
	</tr>
#end
                        	<tr width="100%" bgcolor="$ui.menuColor">
                                	<td>
                                        	<p align ="center">
                                                $WikiCreatetxt2<SELECT  name="fname" >
						#if($fname!="")
							<OPTION >$fname</OPTION>
						#end
						#foreach($file in $mypage)			
							<OPTION >$file</OPTION>
						#end
						</SELECT>
						${Wikiadmin4} <INPUT type="text" name="vname" 
						#if($vname!="")
							value ="$vname" 
						#end
							size="25">
							<input type="submit" name="eventSubmit_doShoworiginal" value="$Wikibutton15"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</p>
					</td>
				</tr>
			</table>
				<table align="center" width="42%">
					<tr>
						<td>
#*
* Setting of textarea tag  contents below may seem untidy but don't touch them
* as they work properly only in this way
*#
#*
<TEXTAREA  name="text" rows="25"  cols="90" >
#if($pad!="")
$pad
#end
#foreach($t in $first)
$t
#end
</TEXTAREA>
*#
#if($pad!="")
$pad
#end
#foreach($t in $first)
$t
#end
					</td>
				</tr>
			</table>
			<table  width="100%">
				<tr bgcolor="$ui.menuColor">
					<td align="center" colspan="">
						<input type="hidden" name="actionName">
			 			#if($merge == "false")
							##<input type="submit" name="eventSubmit_doShowhistory" value="$Wikibutton1"/>
							##<input type="submit" name="eventSubmit_doShowhistory" value="$Wikibutton2"/>
							<input type="submit" name="eventSubmit_doDiff" value="$Wikibutton3"/>
							##<input type="submit" name="eventSubmit_doDiff" value="$Wikibutton4"/>
 							<input type="submit" name="eventSubmit_doShoworiginal" value="$Wikibutton5"/>
							##<input type="button" name="eventSubmit_doRevert" value="$Wikibutton6"  onClick="checktextName(document.frm,this);"/>
							#if($userrole == "instructor")
								<input type="button" name="eventSubmit_doDelpage" value="$Wikibutton7" onClick="doAskPage(document.frm,this);"/>
								#if($fname!="")
        								#if($traffic == "stop")
                								<input type="submit" disabled name="eventSubmit_doStoptraffic" value="$Wikibutton8"/>
	                							<input type="submit" name="eventSubmit_doStoptraffic" value="$Wikibutton9"/>
        								#else
               									<input type="submit" name="eventSubmit_doStoptraffic" value="$Wikibutton8"/>
                								<input type="submit" disabled  name="eventSubmit_doStoptraffic" value="$Wikibutton9"/>
        								#end
								#end
		  					#end
		  				#end

						#*
						#if(($traffic == "stop")&&($merge != "true"))
						<input type="button" name="eventSubmit_doDelversion" value="$Wikibutton10" onClick="doAskVersion(document.frm,this);"/>
						#end
						#if($traffic == "stop")
						<input type="button" name="eventSubmit_doMergenow" value="$Wikibutton11" onClick="checkVersion(document.frm,this);"/>
			   			#end
        		   			#if(($fname!="")&&($merge == "true"))
						<input type="submit" name="eventSubmit_doMergedone" value="$Wikibutton12"/>
                				<input type="submit" name="eventSubmit_doShoworiginal" value="$Wikibutton13"/>
                				<input type="submit" name="eventSubmit_doRevert" value="$Wikibutton14"/>
        	    				#end
        	    				*#
				</td>
			</tr>
			<tr>
				<td>
## This space is for look and feel

				</td>
			</tr>
			#end
		</table>
	</table>
</table>
</FORM>
##end   #* end of #if($mypage=="empty")*#
<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }

        function checkVersion(frm,field)
        {
                if(frm.vname.value!="") 
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill Page Version Field");
                }
        }
	function checktextName(frm,field)
        {
                if(frm.text.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please write something on the page ");
                }
        }


      function doAskPage(frm,field)
        {
                if(confirm('Are you sure you want to delete?'))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }



      function doAskVersion(frm,field)
        {
                if(confirm('Are you sure ,all current versions will be deleted by this?'))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }

	 function doAskMerge(frm,field)
        {
                if(confirm('Are you sure , you have  clicked on merge now before ?'))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }


</SCRIPT>
