#*
 * @(#) Editwiki.vm
 * Copyright(c)2005,2009,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_home | $course | $brih_Wiki |  $brih_edit $brih_Wiki $WikiPage")
$page.setBgColor("#ffffff")
$!data.getMessage()
<head>
##This Script use for Fck Editor in Textarea.
<script charset="utf-8" type="text/javascript" src="$content.getURI("/scrpts/wiki2html.js")"> </script>
<script type="text/javascript">
        function dewiki() {
                document.getElementById('debug').innerHTML = document.getElementById('wiki').value.wiki2html();
        }
</script>
</head>
<body>
#set($lang=$data.getUser().getTemp("lang").toString())
<style type="text/css">input{width:170px;}</style>
<table bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor">
		<td>
        		<b>
		        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
		        <a href=$link.setPage("call,Wiki,Wiki.vm")>$brih_Wiki</a>
				#if($filename=="")
					#if($lang == "hindi")
                        			| $brih_Wiki $WikiPage $brih_Of1 $WikiCreate
					#else	
        		                	| $WikiCreate $brih_Wiki $WikiPage
					#end
                        	#else
					#if($lang == "hindi")
	                        		| $brih_Wiki $WikiPage $brih_Of1 $brih_edit
					#else
        		                	| $brih_edit $brih_Wiki $WikiPage
					#end
	                        #end
			</b>
		</td>
	</tr>
<FORM  name=frm method="POST" 
	#if($filename=="")
		action="$link.setPage("call,Wiki,Wiki_Home.vm").setAction("Wikieditaction").addPathInfo("fName",$filename)">
	#else
		action="$link.setPage("call,Wiki,Wiki_Home.vm").setAction("Wikieditaction").addPathInfo("fName",$filename).addPathInfo("query",$query).addPathInfo("filename",$searchtype)">
	#end
	<table width="100%" align=left bgcolor="$ui.tableColor">
        	<tr colspan="6">
        		<td>
		                <a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none > $brih_Wiki $brih_home</a> &nbsp;|&nbsp;
			        <a href=$link.setPage("call,Wiki,Wiki.vm") style=text-decoration:none > $brih_index </a>
				##if($userrole == "instructor")
					&nbsp;|&nbsp;
                			<a href=$link.setPage("call,Wiki,Adminwiki.vm") style=text-decoration:none > $Wikimain5 </a>&nbsp; &nbsp;
				##end
			                ##Search : <input type="text" name="search">
				</td>
		        </tr>
		</table>
		<table width="100%" align=left bgcolor="$ui.tableColor">
			<tr>
					<td> <h3>$WikiCreatetxt2 => $filename </h3>   </td>
			</tr>
        		<tr bgcolor="$ui.menuColor">
			      	<td width="60%" colspan="3">
<TEXTAREA id="wiki" name="text" rows="20"  cols="140">
#if($pad!="")
$pad
#end
#foreach($t in $first)
$t
#end
</TEXTAREA>
				</td>
                   	</tr>
             	</table>
                <table width="100%">
                	<tr width="100%">
                        	<td width="100%" align="left" bgcolor="$ui.menuColor" >
					#if($FileName == "newtab")
						<input type="button" name="eventSubmit_doCreate" value="$WikiSave" onClick="checkFileName(document.frm,this);" />
					#else
						#if($traffic =="stop")
							<input type="submit" disabled  name="eventSubmit_doEdit" value="$WikiSave" />
						#else
							<input type="submit" name="eventSubmit_doEdit" value="$WikiSave" />
						#end
					#end
                                        <input type="hidden" name="actionName" >		
					<input type="hidden" name="filename" value=$filename>
                                        <input type="hidden" name="mode" value=$mode>
                                </td>
                        </tr>
                </table>
		<table width="100%" align=left bgcolor="$ui.menuColor" >
                <tr>
                        <td bgcolor="$ui.menuColor" >
                        <div bgcolor="$ui.menuColor" id="debug"></div>
                        </td>
                </tr>
        </table>
</table>
</FORM>
<SCRIPT LANGUAGE="javascript">
document.getElementById('wiki').onkeyup = dewiki;
        dewiki();
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }

 	function checkFileName(frm,field)
        {
        	frm.actionName.value=field.name;
                frm.submit();
        }
	function checkClear(frm,field)
        {
        	frm.text.value="";
        }
</SCRIPT>
