#*
 * @(#) Editwiki.vm
 * Copyright(c)2005,2009,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_home | $course | $brih_Wiki |  $brih_edit $brih_Wiki $WikiPage")
$page.setBgColor("#ffffff")
$!data.getMessage()
<head>
##This Script use for Fck Editor in Textarea.
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<LINK Rel="stylesheet" Href="$content.getURI("/scrpts/wiki.css")" Type="text/css">
<script type="text/javascript" src="$content.getURI("/scrpts/Brihwiki.js")"></script>
##<script type="text/javascript" src="$content.getURI("/scrpts/Wiki.js")"></script>

<script charset="utf-8" type="text/javascript" src="$content.getURI("/scrpts/wiki2html.js")"> </script>
<script type="text/javascript">
        function dewiki() {
                document.getElementById('debug').innerHTML = document.getElementById('wiki').value.wiki2html();
        }
</script>
</head>
<body>
#set($lang=$data.getUser().getTemp("lang").toString())
<style type="text/css">input{width:170px;}</style>
<table bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor">
		<td>
        		<b>
		        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
		        <a href=$link.setPage("call,Wiki,Wiki.vm")>$brih_Wiki</a>
				#if($filename=="")
					#if($lang == "hindi")
                        			| $brih_Wiki $WikiPage $brih_Of1 $WikiCreate
					#else	
        		                	| $WikiCreate $brih_Wiki $WikiPage
					#end
                        	#else
					#if($lang == "hindi")
	                        		| $brih_Wiki $WikiPage $brih_Of1 $brih_edit
					#else
        		                	| $brih_edit $brih_Wiki $WikiPage
					#end
	                        #end
			</b>
		</td>
		<td align="right">
                        <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/WikiHelp.html","newWin");>$brih_help</a>
                </td>
	</tr>
<FORM name="frm" id="frm" method="POST" 
	#if($filename=="")
		action="$link.setPage("call,Wiki,Wiki_Home.vm").setAction("Wikieditaction").addPathInfo("fName",$filename)">
	#else
		action="$link.setPage("call,Wiki,Wiki_Home.vm").setAction("Wikieditaction").addPathInfo("fName",$filename).addPathInfo("query",$query).addPathInfo("filename",$searchtype)">
	#end
	<table width="100%" align=left bgcolor="$ui.tableColor">
        	<tr colspan="6">
        		<td>
		                <a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none > $brih_Wiki $brih_home</a> &nbsp;|&nbsp;
			        <a href=$link.setPage("call,Wiki,Wiki.vm") style=text-decoration:none > $brih_index </a>
				##if($userrole == "instructor")
					&nbsp;|&nbsp;
                			<a href=$link.setPage("call,Wiki,Adminwiki.vm") style=text-decoration:none > $Wikimain5 </a>&nbsp; &nbsp;
				##end
			                ##Search : <input type="text" name="search">
				</td>
		        </tr>
		</table>
		<table width="100%" align=left bgcolor="$ui.tableColor">
			<tr>
					<td> <h3>$WikiCreatetxt2 => $filename </h3>   </td>
			</tr>
        		<tr bgcolor="$ui.menuColor">
			      	<td width="60%" colspan="3">
<div>
	<input type="hidden" value="StartingPoints" name="topic">
	<input type="hidden" value="25" name="lastTopicVersionId">
	<input type="hidden" value="1" name="section">
	<input type="hidden" value="" name="topicVersionId">
</div>
<div id="edit-toolbar" class="">
<span class="toolbar-group">
	<span class="toolbar-button">
		<a id="button-bold" href="#" title="Bold text">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
	<span class="toolbar-button">
		<a id="button-italic" href="#" title="Italic text">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
	<span class="toolbar-button">
		<a id="button-underline" href="#" title="Underlined text">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
	<span class="toolbar-button">
		<a id="button-strike" href="#" title="Strikethrough">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
	<span class="toolbar-button">
		<a id="button-subscript" href="#" title="Subscript">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
	<span class="toolbar-button">
		<a id="button-superscript" href="#" title="Superscript">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
	<span class="toolbar-button">
		<a id="button-nowiki" href="#" title="Ignore wiki formatting">
			<span class="toolbar-icon">&nbsp;</span>
		</a>
	</span>
</span>
	<span class="toolbar-group">
		<span class="toolbar-button">
			<a id="button-orderedlist" href="#" title="Numbered list">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
		<span class="toolbar-button">
			<a id="button-unorderedlist" href="#" title="Bulleted list">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
		<span class="toolbar-button">
			<a id="button-indent" href="#" title="Indentation">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
	</span>
	<span class="toolbar-group">
		<span class="toolbar-button">
			<a id="button-wikilink" href="#" title="Internal link">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
		<span class="toolbar-button">
			<a id="button-link" href="#" title="External link (remember http:// prefix)">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
		<span class="toolbar-button">
			<a id="button-image" href="#" title="Embedded image">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
		<span class="toolbar-button">
			<a id="button-signature" href="#" title="Your signature with time stamp">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
		<span class="toolbar-button">
			<a id="button-hr" href="#" title="Horizontal line">
				<span class="toolbar-icon">&nbsp;</span>
			</a>
		</span>
	</span>
	<span class="toolbar-group">
		<span class="toolbar-button">
			<a id="button-heading1" href="#" title="Level 1 headline"><span class="toolbar-icon">&nbsp;</span</a></span>
				<span class="toolbar-button"><a id="button-heading2" href="#" title="Level 2 headline"><span class="toolbar-icon">&nbsp;</span></a>
		</span>
		<span class="toolbar-button"><a id="button-heading3" href="#" title="Level 3 headline"><span class="toolbar-icon">&nbsp;</span></a>
		</span>
	</span>
</div>
<script type="text/javascript">
BrihWiki.UI.removeClass(document.getElementById("edit-toolbar"), "hidden");
BrihWiki.Editor.initButton("button-bold", "'''", "'''", "Bold text");
BrihWiki.Editor.initButton("button-italic", "''", "''", "Italic text");
BrihWiki.Editor.initButton("button-underline", "<u>", "</u>", "Underlined text");
BrihWiki.Editor.initButton("button-strike", "<s>", "</s>", "Strikethrough text");
BrihWiki.Editor.initButton("button-subscript", "<sub>", "</sub>", "Subscript text");
BrihWiki.Editor.initButton("button-superscript", "<sup>", "</sup>", "Superscript text");
BrihWiki.Editor.initButton("button-nowiki", "<nowiki>", "</nowiki>", "Insert non-formatted text here");
BrihWiki.Editor.initButton("button-orderedlist", "\n# ", "\n", "Numbered list item");
BrihWiki.Editor.initButton("button-unorderedlist", "\n* ", "\n", "Bulleted list item");
BrihWiki.Editor.initButton("button-indent", "\n: ", "\n", "Indented line");
BrihWiki.Editor.initButton("button-wikilink", "[[", "]]", "Link title");
BrihWiki.Editor.initButton("button-link", "[", "]", "http://www.example.com link title");
BrihWiki.Editor.initButton("button-image", "[[Image:", "]]", "Example.jpg");
BrihWiki.Editor.initButton("button-signature", "-- ~~~~", "", "");
BrihWiki.Editor.initButton("button-hr", "\n----\n", "", "");
BrihWiki.Editor.initButton("button-heading1", "\n= ", " =\n", "Headline text");
BrihWiki.Editor.initButton("button-heading2", "\n== ", " ==\n", "Headline text");
BrihWiki.Editor.initButton("button-heading3", "\n=== ", " ===\n", "Headline text");
</script>
<TEXTAREA id="wiki" name="text" rows="20"  cols="80">
#if($pad!="")
$pad
#end
#foreach($t in $first)
$t
#end
</TEXTAREA>
				</td>
                   	</tr>
             	</table>
                <table width="100%">
                	<tr width="100%">
                        	<td width="100%" align="left" bgcolor="$ui.menuColor" >
					#if($FileName == "newtab")
						<input type="button" class="button-ftextstyle" name="eventSubmit_doCreate" value="$WikiSave" onClick="checkFileName(document.frm,this);" />
					#else
						#if($traffic =="stop")
							<input type="submit" class="button-ftextstyle" disabled  name="eventSubmit_doEdit" value="$WikiSave" />
						<input type="reset" class="button-ftextstyle" name="brih_clear" value="Clear" onClick="window.location.reload(true);"/>
						#else
							<input type="submit" class="button-ftextstyle" name="eventSubmit_doEdit" value="$WikiSave" />
							<input type="reset" class="button-ftextstyle" name="brih_clear" value="Clear" onClick="window.location.reload(true);"/>
						#end
					#end
                                        <input type="hidden" name="actionName" >		
					<input type="hidden" name="filename" value=$filename>
                                        <input type="hidden" name="mode" value=$mode>
                                </td>
                        </tr>
                </table>
		<table width="100%" align=left bgcolor="$ui.menuColor" >
                <tr>
                        <td bgcolor="$ui.menuColor" >
                        <div bgcolor="$ui.menuColor" id="debug"></div>
                        </td>
                </tr>
        </table>
</table>
</FORM>
<SCRIPT LANGUAGE="javascript">
document.getElementById('wiki').onkeyup = dewiki;
        dewiki();
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }

 	function checkFileName(frm,field)
        {
        	frm.actionName.value=field.name;
                frm.submit();
        }
	function checkClear(frm,field)
        {
        	frm.text.value="";
        }
</SCRIPT>
