#*
 * @(#)Wiki_Home.vm
 * Copyright(c)2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar </a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle(" Home | $course | Wiki")
$page.setBgColor("#ffffff")
#set($lang=$data.getUser().getTemp("lang").toString())
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
##This Script use for wiki text to html.
<script charset="utf-8" type="text/javascript" src="$content.getURI("/scrpts/wiki2html.js")"> </script>
</head>
<body>
<table bgcolor="$ui.menuColor" width=100%>
	<tr>
		<td>
			<b>
		        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
			<a href=$link.setPage("call,Wiki,Wiki.vm")>$brih_Wiki </a> | $brih_Wiki $brih_home
			</b>
		</td>
		<td align="right">
			<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/WikiHelp.html","newWin");>$brih_help</a>
		</td>
	</tr>
</table>
<FORM  name=frm method="POST" action="$link.setPage("call,Wiki,Wiki_Home.vm").setAction("Wikieditaction")">
<table width=100% align=left bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.tableColor">
		<td colspan="2">
			<a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none > $brih_Wiki $brih_home </a> &nbsp;|&nbsp;
			#if($userrole == "instructor")
                        	<a href=$link.setPage("call,Wiki,Wiki_Home.vm").addPathInfo("role","inst") style=text-decoration:none > Student Content </a> &nbsp;|&nbsp;
			#end
        	        <a href=$link.setPage("call,Wiki,Wiki.vm") style=text-decoration:none > $brih_index </a>&nbsp;|&nbsp;
                	<a href=$link.setPage("call,Wiki,Adminwiki.vm") style=text-decoration:none > $Wikimain5 </a>&nbsp; &nbsp;
		        <b> $brih_search </b><INPUT type="text" name="query" size="15">
                        <input type="hidden" name="actionName" >
                        <input type="submit" class="button-ftextstyle" name="eventSubmit_doFindPage" value="${Wikimain7}" onClick="return checkSearchName(document.frm,this);" />
	        </td>
	</tr>
</table>
</form>
<table width="100%" align=left bgcolor="$ui.tableColor">
        <tr width="100%">
                <td bgcolor="#CEF6CE">
                	<font size="6" color="blue"> $topic_name_file_name </font>
                </td>
                <td bgcolor="#CEF6CE" align="right">
                        <a href="$link.setPage("call,Wiki,Editwiki.vm").addPathInfo("filename",$topic_name_file_name)" style=text-decoration:none > <img src="$content.getURI("/images/EDIT.JPG")" width="25" height="15"> $brih_edit </a>
                        <input type="hidden" name="filename" value=$filename>
                </td>
        </tr>
</table>
	 #if($topic_wiki =="")
	         <h3>$Wikimain10</h3>
         #end
</body>
<div id="debug"></div>
<script>
        var kkk="$topic_wiki";
        var qqq = kkk.split("wde");
        var fff="";
        for (i=0;i<qqq.length;i++) {
                fff=fff+qqq[i].wiki2html();//+"<br>";
        }
        document.getElementById('debug').innerHTML = fff;
function popupWin(url,popupName)
{
        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}

</script>
</form>
