.glowingtabs{
width:100%;
line-height:normal;
/*margin-top:.8%;*/
/*border-bottom: 2px solid #7e9fff; /*Add border strip to bottom of menu*/
}

.glowingtabs ul{
position:relative;
list-style-type: none;
margin:0;
margin-left:0px; /*Left offset of entire tab menu relative to page*/
padding:.34em 1.5% 8%;
}

.glowingtabs li{
display:inline;
margin:0;
padding:0;
font-family:Verdana, Geneva, sans-serif;
font-size:13px
}

.glowingtabs a{
float:left;
background:url(images/tab_left.png) no-repeat left top;
margin:0;
margin-right: 0px; /*spacing between each tab*/
padding:0 0 0 20px; /* controls the space between the left and right image */
text-decoration:none;
border:none;
}

.glowingtabs a span{
float:left;
display:block;
background:url(images/tab_right.png) no-repeat right top;
padding: 10px 20px 3px 0px;
color:#3B3B3B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.glowingtabs a span {float:none;}
/* End IE5-Mac hack */


.glowingtabs li.current a{
	background-position:0% -96px; /*Shift background image up to start of 2nd tab image*/
}

.glowingtabs li.current a span{
	background-position:100% -96px; /*Shift background image up to start of 2nd tab image*/
}

.tabcontainer{
clear: left;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.tabcontent{
display:none;
}

.div1Style{
background-image:url(../images/bg_img.gif) ;
background-repeat:no-repeat left top;
/*background:right top;*/
/*background-image: url(../image/bg_img.gif) no-repeat left top; */
/*background: url(../image/bg_img.gif) no-repeat left top; */
min-height:700px;
/*background-size: 100%;*/

}

.divContent{

padding-top:10px; 
padding-left:29px; 
padding-right:25px;

}
.textHeadTabs {
	font-family: Verdana, Arial, Helvetica, Bitstream Vera Sans;
	font-size: 16px;
	/*padding-left: 13px;*/
	text-align:center;
	/*text-align: justify;*/
	font-weight: bold;
	/*text-transform: capitalize;*/
}
.textBlueHeadTabs {

	font-family: Verdana, Arial, Helvetica, Bitstream Vera Sans;
	font-size: 14px;
	/*padding-left: 13px;*/
	text-align:center;
	/*text-align: justify;*/
	font-weight: bold;
	color: #003366;
	background-color:#CCE3FF;
	
	
}
.tinyTextRedTabs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	text-align:center;
}
table.myTableTabs {

	border-width: 2px 2px 2px 2px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: #99CCFF;/*
	border-color: #FFBD5B;*/
	border-collapse: separate;
	table-layout:fixed;
	
	}

table.myTableTabs th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: #99CCFF;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.myTableTabs td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: #99CCFF;
	-moz-border-radius: 0px 0px 0px 0px;
}	