#*
 * @(#)DB.vm
 * Copyright (c) 2005-2006,2009,2010,2011,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *@author <a href="mailto:aktri@iitk.ac.in">Awadhesh Kumar Trivedi</a>
 *@author <a href="mailto:sumanrjpt@yahoo.co.in">Suman Rajput</a>
 *@author <a href="mailto:rekha_20july@yahoo.co.in">Rakha Pal</a>
 *@author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 *@author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 *@modified date: 20-08-2010 (Sunil Kumar) 11-Aug-2011,
 * @ modified date: 13-Oct-2010 (Shaista)
 * @ modified date: 15-May-2012, 22-April-2013 (Shaista)
 *#

#set($flag=false)
#if($data.getUser().getTemp("modulename3") == "3")
        #set($flag=true)
#end
$page.setTitle("Home | DiscussionBoard")

$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
   <tr align="right"><td>
##($stats == "fromIndex") Use for general discussion group ## 
##($mode2 == "instituteWise") Use for insititue wise discussion group ## 
	#if($stats == "fromIndex")
        	<b><a href=$link.setPage("Index.vm")>$brih_home</a> |$brih_general $DiscussionBoard
	#elseif($mode2 == "instituteWise")
	        <b><a href=$link.setPage("Index.vm")>$brih_home</a> | $brih_Institute $brih_Of2 $brih_wise $DiscussionBoard
	#else
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> | $DiscussionBoard
		|<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cname</a> |
        	<b><a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> 
	#end
       </td></tr>
</table>
<table bgcolor="$ui.tableColor" width=100%>
<tr align="right">
	#if($data.getUser().getUserName() != "guest")
		#if(($stats != "fromIndex") && ($mode2 != "instituteWise"))
			#if($data.getUser().getTemp("role") == "instructor")
				#if($tdcolor != "5")
	        			<td>
			       	#elseif($tdcolor=="5")
				        <td bgcolor="#AFDCEC">
        			#end
				<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5")>$brih_news</td>
			#end
                	#if($tdcolor!="4")
                        	<td>
	                #elseif($tdcolor == "4")
        	                <td bgcolor="#AFDCEC">
                	#end
                        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
			#if(($data.getUser().getTemp("role") == "student")||(($data.getUser().getTemp("role") == "teacher_assistant")&&($flag==false)))
	                        #if($tdcolor != "3")
        	                        <td>
                	        #elseif($tdcolor=="3")
                        	        <td bgcolor="#AFDCEC">
	                        #end
        			<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2")> $Notice_NoticeContent_msg1</td>
			#end
			#if(($data.getUser().getTemp("role") == "instructor")||(($data.getUser().getTemp("role") == "teacher_assistant")&& $flag))
	                        #if($tdcolor != "3")
        	                        <td>
                	        #elseif($tdcolor=="3")
                        	        <td bgcolor="#AFDCEC">
	                        #end
				<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1") style=text-decoration:none>$brih_Notices
				#foreach($msg in $unreadMsg)
					#if($msg!="0")
						#BlinkingText("New")
					#end
				#end

				</td>
			#end
			#if($data.getUser().getTemp("role") != "guest")
                	        #if($tdcolor != "2")
                        	        <td>
	                        #elseif($tdcolor=="2")
        	                        <td bgcolor="#AFDCEC">
                	        #end
                        	<a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2")>$brih_chat</a></td>
        	                #if($tdcolor != "1")
                	                <td>
                        	#elseif($tdcolor=="1")
                                	<td bgcolor="#AFDCEC">
	                        #end
        	                        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_local $brih_mail</a></td>
        	        #end
		#elseif ($mode2 == "instituteWise")
	                #if($tdcolor!="8")
        	                <td>
                	#elseif($tdcolor == "8")
                        	<td bgcolor="#AFDCEC">
	                #end
        	                <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","8").addPathInfo("grpName",$grpName) > $brih_institute $brih_Of2 $brih_wise $DiscussionBoard </td>
                	#if($tdcolor!="2")
                        	<td>
	                #elseif($tdcolor == "2")
        	                <td bgcolor="#AFDCEC">
                	#end
	                <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","2").addPathInfo("grpName",$grpName)> $brih_institute $brih_Of2 $brih_wise $brih_chat </a></td>
	</tr>
		#end
	#end
###if($data.getUser().getTemp("role") =="student" && $data.getUser().getUserName() == "guest")
#if(($data.getUser().getTemp("role") =="student" && $data.getUser().getUserName() == "guest") ||($data.getUser().getTemp("role") == "teacher_assistant" && $flag==false))

                #if($tdcolor1 != "2")
                        <td>
                #elseif($tdcolor1 == "2")
                        <td bgcolor="#AFDCEC">
                #end
                ##<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","2")> Read Notice </a></td>
                <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2")> $Notice_NoticeContent_msg1</a></td>
#end

	<form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action="$link.setPage("call,Dis_Board,DB.vm").setAction("SendDB")">
#if($stats == "fromIndex")
        <tr bgcolor="$ui.menuColor" align="right"><td colspan=5 align="right"><b> <font color=green> $brih_general $DiscussionBoard</font> &nbsp :$DisBoard_WorkGroup</b>
#elseif ($mode2 == "instituteWise")
        <tr bgcolor="$ui.menuColor" align="right"><td colspan=5 align="right"><b> <font color=green> $brih_institute $brih_Of2 $brih_wise $DiscussionBoard </font> &nbsp :$DisBoard_WorkGroup</b>
#else
        <tr bgcolor="$ui.menuColor" align="right"><td colspan=5 align="right"><b><font color=green>$courseid</font> &nbsp :$DisBoard_WorkGroup</b>
#end
 	</td></tr>
	<tr align="right"><td colspan=5 align="right">
	#if($unread=="0")
		<font size="3" face="$ui.sansSerifFonts"><b>($brih_unread $brih_message(<font color="Blue">$unread</font>&nbsp&nbsp
	#else
		<blink>
		<font size="3" face="$ui.sansSerifFonts"><b>($brih_unread $brih_message(<font color="Blue">$unread</font></blink>&nbsp&nbsp
	#end
	)&nbsp;&nbsp; $LocalMail_Mail_msg1(<font color="blue">$total</font></b></font>
	</tr>
	<tr bgcolor="$ui.menuColor" align="right">
	#if($stats == "fromIndex")
                <td ><a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("stats","fromIndex").addPathInfo("count","$tdcolor").addPathInfo("mode","All")><b>$brih_general $LocalMail_Mail_msg2</b></a></td>
                <td ><a href=$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("stats","fromIndex").addPathInfo("count","$tdcolor").addPathInfo("mode","All")><b>$brih_general $brih_arch</b></a></td>
                <td ><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("stats","fromIndex").addPathInfo("count","$tdcolor").addPathInfo("mode","compose")><b>$LocalMail_MailContent_msg1</b></a></td>
        #elseif ($mode2 == "instituteWise")
                <td><a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","8").addPathInfo("mode","All")><b> $brih_institute $brih_Of2 $brih_wise $LocalMail_Mail_msg2 </b></a></td>
                <td><a href=$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","8").addPathInfo("mode","All")><b> $brih_institute $brih_Of2 $brih_wise $brih_arch </b></a></td>
                <td><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","8").addPathInfo("mode","compose")><b>$LocalMail_MailContent_msg1</b></a></td>
        #else
		#if($total!="0")
			<td><a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("mode","All").addPathInfo("course_id",$courseid).addPathInfo("count","$tdcolor")><b>$LocalMail_Mail_msg2</b></a></td>
                        <td><a href=$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("course_id",$courseid).addPathInfo("count","$tdcolor")><b>$brih_arch</b></a></td>
                        <td colspan="3"><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode","compose").addPathInfo("check","more").addPathInfo("course_id",$courseid).addPathInfo("count","4")><b>$LocalMail_MailContent_msg1</b></a></td>
		#else
			#if($data.getUser().getUserName() != "guest")
                        <td colspan="3"><a href=$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("course_id",$courseid).addPathInfo("count","$tdcolor")><b>$brih_arch</b></a></td>
                        <td colspan="2"><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode","compose").addPathInfo("check","first").addPathInfo("course_id",$courseid).addPathInfo("count","4")><b>$LocalMail_MailContent_msg1</b></a></td>
			#end
		#end
	#end
	</tr>	
			<input type="hidden" name="mode" value="All">
			<input type="hidden" name="course_id" value=$courseid>
			<input type="hidden" name="cid" value=$cid>
	 		<INPUT TYPE="hidden" NAME="actionName">
	 		<INPUT TYPE="hidden" NAME="count" value="$tdcolor">
			<INPUT TYPE="hidden" NAME="stats" value="$stats">
                        <INPUT TYPE="hidden" NAME="mode2" value="$mode2">
</table>
</form>
<SCRIPT LANGUAGE="javascript">
function checkValue(frm,field)
{
	frm.actionName.value=field.name;
        frm.submit();
}
</SCRIPT>
