#*
*
 * @(#)PreRequisitesModule.vm
 * Copyright (c) 2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:seema_020504@yahoo.com ">Manorama Pal</a>
 * @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Scorm")
$page.setBgColor("bgcolor")
#set($lang=$data.getUser().getTemp("lang").toString())
<table align="center" style="font-family:arial; font-size:10pt">



	<tr>
		<td>
		</p>
		<font face="arial" size="4" color="red"><strong>
		$brih_scormprereq
		##You have not passed <br>
		##this lesson's pre-requisites.
		</strong></font>
		</td>
	</tr>
	
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>
	
	<tr>
		<td>
			<font  size="4"><b>$scoTitle</b></font>
		</td>
	</tr>	
	
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>	

	<tr>
		<td>
		##<font  size="4"><u>Pre-requisite(s) for this lesson:</u></font><br>
		<font  size="4"><u>$brih_scormprereq1:</u></font><br>
		<table width="100%" style="font-family:arial; font-size:10pt" cellspacing="0" cellpadding="1">
			<tr bgcolor="$ui.tableColor">
				<td bgcolor="$ui.tableColor">
					&nbsp;
				</td>
				<td bgcolor="$ui.menuColor">
					##<b>Module Title</b>
					<b>$brih_module $brih_title</b>
				</td>
				<td align="center" bgcolor="$ui.menuColor" width="0">
					##<b>Passed?</b>
					<b>$brih_passed?</b>
				</td>
			</tr>		
		#set ( $cnt = 0 )
		#foreach ( $presco in $preScoTitles )
			#set ( $cnt = $cnt + 1)
			<tr>
				<td>
					-
				</td>
				<td>
					$presco.title
				</td>
				<td align="center">
					<b>
					#if ( $presco.status == "1")
						<font color="blue">$brih_yes</font>
					#else
						<font color="red">$brih_No</font>
					#end
					</b>
				</td>
			</tr>
			<tr>
				<td bgcolor="$ui.tableColor"></td>
				<td bgcolor="$ui.tableColor">
				#if ( $presco.relation == "1" )
					$brih_AND
				#elseif ( $presco.relation == "0" )
					$brih_OR
				#end
				</td>
				<td bgcolor="$ui.tableColor"></td>
			</tr>
		#end
		</table>

		</td>
	</tr>
</table>
