#*
 * @(#)Archive.vm
 * Copyright (c)2005-2006, 2009, 2010, 2011-13  ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:aktri@iitk.ac.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:sumanrjpt@yahoo.co.in">Suman Rajput</a>
 * @author <a href="mailto:rekha_20july@yahoo.co.in">Rekha Pal</a>
 * @author <a href="sneha.srivastava24@gmail.com">Sneha Srivastava</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @ modified date: 13-Oct-2010 (Shaista), 09-Aug-2011 (Sunil Kr),27-07-2013
 *#

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

$!data.getMessage()
<table bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor">
		<td colspan=5>
		<b>

## (stats == fromIndex) Use for general discussion group ##
## (mode2 == instituteWise) Use for InsitituteWise discussion group ##

		#if($stats == "fromIndex")
                        <a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_home</a> |
                        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("stats","fromIndex").addPathInfo("count","4") style='text-decoration:none'>$brih_general $DiscussionBoard</a>
                #elseif($mode2 == "instituteWise")
                        <b><a href=$link.setPage("Index.vm")>$brih_home</a> |
                        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","8") style='text-decoration:none'> $RemoteInstitute $brih_wise $DiscussionBoard</a>
                #else
			<a href=$link.setPage("call,IndexHome.vm") style='text-decoration:none'>$brih_home</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$cname</a>|
			<a href =$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style='text-decoration:none'>$brih_communication</a> | 
			<a href =$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4") style='text-decoration:none'>$DiscussionBoard</a> 
		#end
			| $brih_arch
		</td>
	</tr>
<tr>
#if($stats == "fromIndex")
        #if($tdcolor!="4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("stats","fromIndex").addPathInfo("count","4") style='text-decoration:none'>$brih_general $DiscussionBoard</td>
#elseif($mode2 == "instituteWise")
        #if($tdcolor!="8")
        <td>
        #elseif($tdcolor == "8")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("mode2","instituteWise").addPathInfo("count","8") style='text-decoration:none'>$RemoteInstitute $brih_wise $DiscussionBoard</td>
#else
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style='text-decoration:none'>$brih_localmail</a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2") style='text-decoration:none'>$brih_chat</a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
	#if($data.getUser().getTemp("role") == "student")
                 <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3") style='text-decoration:none'> $Notice_NoticeContent_msg1</a>
        #else
	        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3") style='text-decoration:none'>$brih_Notices</td>
	#end
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4") style='text-decoration:none'>$DiscussionBoard</td>
	#if($data.getUser().getTemp("role") != "student")
	        #if($tdcolor != "5")
        	<td>
	        #elseif($tdcolor=="5")
        	<td bgcolor="#AFDCEC">
	        #end
        	<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5") style='text-decoration:none'>$brih_news</td>
	#end
#end
</tr>

</table>
	
	#if($t_size != 0)
<table width=100% bgcolor="$ui.tableColor">
 		<tr colspan=8 align=center >
  			<td colspan=6 align=left  bgcolor="$ui.menuColor">
  				<font face="$ui.sansSerifFonts">
     					<b> $DiscussionBoard $DisBoard_DBCont_msg20   
					<font color=blue>$UserName</font> 
						$brih_in $DisBoard_WorkGroup -
					<font color=green> $course_id</font>
  				</font>
  			</td>
 		</tr>
		
		<form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action=$link.setPage("call,Dis_Board,Archive.vm").setAction("SendDB")> 
		<tr   bgcolor="$ui.menuColor">
                        <td  align="center">  <b> $brih_select  </b></td>
			<td  align="center">  <b> $Notice_Subject </b></td>
			<td  align="center">  <b> $LocalMail_Task </b></td>
			#foreach($e in $contentvalue)
				#if($e.getStatus()=="0")
				<tr  colspan=2  bgcolor="$ui.tableColor"></tr>
                                #else
				<tr  colspan=2  bgcolor="#ffffff"></tr>
				#end
				<td width="2%" align="Center">
					<INPUT TYPE="CHECKBOX" NAME= "$!e.getStudentfile()" VALUE = $!e.getStudentname() onClick="addDeleteList(this,document.frm);" >
                        	</td> 
				 
				<td width="50%" align="Center"> $!e.getStudentname() </td> 
				<td width="50%" align="center">
                                #if($mode2 == "instituteWise")
                                        <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("mode2","instituteWise").addPathInfo("type","Archive").addPathInfo("msgid",$e.getStudentfile()).addPathInfo("filename",$e.getStudentname())","newWin") style='text-decoration:none'>$brih_view</a>
				#elseif($stats == "fromIndex")
                                        <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("stats","fromIndex").addPathInfo("type","Archive").addPathInfo("msgid",$e.getStudentfile()).addPathInfo("filename",$e.getStudentname())","newWin") style='text-decoration:none'>$brih_view</a>
                                #else
					<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("type","Archive").addPathInfo("msgid",$e.getStudentfile()).addPathInfo("filename",$e.getStudentname())","newWin") style='text-decoration:none'>$brih_view</a>
				#end
				#if($e.getfeedback() != "")
                                	#if($mode2 == "instituteWise")
						<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("mode2","instituteWise").addPathInfo("type","Archive").addPathInfo("msgid",$e.getStudentfile()).addPathInfo("attachment","Attachment").addPathInfo("filename",$e.getfeedback())","newWin") style='text-decoration:none'> $brih_attachment </a>
					#elseif($stats == "fromIndex")
						<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("stats","fromIndex").addPathInfo("type","Archive").addPathInfo("msgid",$e.getStudentfile()).addPathInfo("attachment","Attachment").addPathInfo("filename",$e.getfeedback())","newWin") style='text-decoration:none'> $brih_attachment </a>
                                	#else
						<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("type","Archive").addPathInfo("msgid",$e.getStudentfile()).addPathInfo("attachment","Attachment").addPathInfo("filename",$e.getfeedback())","newWin") style='text-decoration:none'> $brih_attachment </a>
					#end
				#end
			#end  
		</tr>
                <tr>
			<td colspan=8>
                        <INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doDelete" VALUE="$brih_delete" onClick="checkValue(document.frm,this);">
                	<INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
                        <INPUT TYPE="hidden" NAME="actionName">
			<INPUT TYPE="hidden" name="Deleteper" value="Archive_Deleted">
			<INPUT TYPE="hidden" name="DB_subject" value="">
			<INPUT TYPE="hidden" name="course_id" value="$course_id">
                        <INPUT TYPE="hidden" NAME="count" VALUE="$tdcolor">
			<INPUT TYPE="hidden" NAME="mode2" VALUE="$mode2">
			<INPUT TYPE="hidden" NAME="stats" VALUE="$stats">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				
			#if($mode!="Search")
				#if($total_size<= $AdminConf)
        	 		<u><font color="white">$brih_first</font></u> &nbsp;
        	 		<u><font color="white">$brih_nxt</font></u> &nbsp;
        	 		<u><font color="white">$brih_pre</font></u> &nbsp;
        	 		<u><font color="white">$brih_last</font></u> &nbsp;
        			#elseif($startIndex== $AdminConf_str)
          			<u><font color="white">$brih_first</font></u> &nbsp;
				<u><font color="white">$brih_pre</font></u> &nbsp;
					#if($stats == "fromIndex") ## this is use for general discussion group
						<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
	        	  			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#elseif($mode2 == "instituteWise") ## this is use for institute wise discussion group
						<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
          					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#else
						<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
		          			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#end			
        			#elseif($endIndex == $total_size || $endIndex > $total_size)
					#if($stats == "fromIndex")
        			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
				<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
					#elseif($mode2 == "instituteWise")
        			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
				<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
					#else
        			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
				<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
					#end
         			<u><font color="white">$brih_nxt</font></u> &nbsp;
         			<u><font color="white">$brih_last</font></u> &nbsp;
         			#else
					#if($stats == "fromIndex")
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> ## &nbsp;
						<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> ## &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
        	 				<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("stats","fromIndex").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> ## &nbsp;
					#elseif($mode2 == "instituteWise")
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> ## &nbsp;
						<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> ## &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
		        	 		<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode2","instituteWise").addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> ## &nbsp;
					#else
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> ## &nbsp;
						<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> ## &nbsp;
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)">$brih_nxt</a> &nbsp;
        			 		<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> ## &nbsp;
					#end
         			#end
         		#else
         			#if($total_size<= $AdminConf)
         			<u><font color="white">$brih_first</font></u> &nbsp;
         			<u><font color="white">$brih_nxt</font></u> &nbsp;
         			<u><font color="white">$brih_pre</font></u> &nbsp;
	 			<u><font color="white">$brih_last</font></u> &nbsp;
         			#elseif($startIndex== $AdminConf_str)
         			<u><font color="white">$brih_first</font></u> &nbsp;
         			<u><font color="white">$brih_pre</font></u> &nbsp;
					#if($stats == "fromIndex")
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#elseif($mode2 == "instituteWise")
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#else
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#end
         			#elseif($endIndex == $total_size || $endIndex > $total_size)
					#if($stats == "fromIndex")
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
					#elseif($mode2 == "instituteWise")
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
					#else
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
					#end
         			<u><font color="white">$brih_nxt</font></u>  &nbsp;
         			<u><font color="white">$brih_last</font></u> &nbsp;
         			#else
					#if($stats == "fromIndex")
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("stats","fromIndex").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#elseif($mode2 == "instituteWise")
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode2","instituteWise").addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#else
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_first</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_pre</a> &nbsp;
         					<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_nxt</a> &nbsp;
		         			<a href="$link.setPage("call,Dis_Board,Archive.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor)" style='text-decoration:none'>$brih_last</a> &nbsp;
					#end
         			#end
    			#end
                </tr>
	</table>
#end
</form>

<script LANGUAGE="JAVASCRIPT">
	function checkValue(frm,field)
	{
       		if(frm.deleteFileNames.value!="")
        	{
	        	frm.actionName.value=field.name;
                	frm.submit();
        	}
        	else
        	{
        		alert("Please select checkbox  !!");
        	}
	}
	function addDeleteList(field,frm) {
                if(field.checked)
                {
 
                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                        frm.DB_subject.value=frm.DB_subject.value+field.value+"@@@@";
			 
                 }
                 else
                     {
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                     }
        }
	function popupWin(urlName,popupName) {
		window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
	}                                    
</script>
