#*
 * @(#)DB.vm
 * Copyright (c) 2005-2006,2009, 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *@author <a href="mailto:aktri@iitk.ac.in">Awadhesh Kumar Trivedi</a>
 *@author <a href="mailto:sumanrjpt@yahoo.co.in">Suman Rajput</a>
 *@author <a href="mailto:rekha_20july@yahoo.co.in">Rakha Pal</a>
 *@author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 *@modified date: 20-08-2010 (Sunil Kumar),
 * @ modified date: 13-Oct-2010 (Shaista)
 *#

#set($lang = $data.getUser().getTemp("lang" ).toString())
$page.setTitle("$brih_home |$DiscussionBoard")

$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
   <tr><td>
   #if($mode1 == "DGeneral")
	<b><a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | $DiscussionBoard
   #else
        	<b><a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cname</a> |
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> | $DiscussionBoard
  #end
       </td></tr>
</table>
<table bgcolor="$ui.tableColor" width=100%>
<tr>
#if($data.getUser().getTemp("role") == "guest")
	#if($tdcolor!="4")
		<td>
	#elseif($tdcolor == "4")
        	<td bgcolor="#AFDCEC">
	#end
                <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
#else
##if($data.getUser().getUserName()!= "guest")
	#if($mode1 != "DGeneral")
		#if($tdcolor != "1")
        		<td>
	        #elseif($tdcolor=="1")
		        <td bgcolor="#AFDCEC">
	        #end
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_localmail</a></td>
		#if($tdcolor != "2")
        		<td>
	        #elseif($tdcolor=="2")
		        <td bgcolor="#AFDCEC">
	        #end
		<a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2")>$brih_chat</a></td>
		#if($tdcolor != "3")
        		<td>
	        #elseif($tdcolor=="3")
		        <td bgcolor="#AFDCEC">
	        #end
		#if($data.getUser().getTemp("role") == "student")	
        		<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2")>$Notice_NoticeContent_msg1</td>
		#else
			<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1")>$brih_Notices</td>
		#end
		#if($tdcolor != "4")
        		<td>
	        #elseif($tdcolor=="4")
		        <td bgcolor="#AFDCEC">
	        #end
        	<a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
		#if($data.getUser().getTemp("role")!= "student")	
			#if($tdcolor != "5")
	        		<td>
	        	#elseif($tdcolor=="5")
			        <td bgcolor="#AFDCEC">
        		#end
			<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5")>$brih_news</td>
		#end
	#end
#end
</tr>
	<form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action="$link.setPage("call,Dis_Board,DB.vm").setAction("SendDB")">
#if($mode1 == "DGeneral")
 	##<tr bgcolor="$ui.menuColor"><td colspan=2><b>$DisBoard_WorkGroup:&nbsp&nbsp<font color=green> $brih_general $DiscussionBoard</font></b>
 	<tr bgcolor="$ui.menuColor"><td colspan=5><b>$DisBoard_WorkGroup:&nbsp&nbsp<font color=green> $brih_general $DiscussionBoard</font></b>
#else
 	##<tr bgcolor="$ui.menuColor"><td colspan=2><b>$DisBoard_WorkGroup:&nbsp&nbsp<font color=green>$courseid</font></b>
 	<tr bgcolor="$ui.menuColor"><td colspan=5><b>$DisBoard_WorkGroup:&nbsp&nbsp<font color=green>$courseid</font></b>
#end
 	</td></tr>
	<tr><td colspan=5>
	#if($unread=="0")
		<font size="3" face="$ui.sansSerifFonts"><b>$brih_unreadMsg(<font color="Blue">$unread</font>)&nbsp&nbsp
	#else
		<blink>
		<font size="3" face="$ui.sansSerifFonts"><b>$brih_unreadMsg(<font color="Blue">$unread</font>)</blink>&nbsp&nbsp
	#end
	$LocalMail_Mail_msg1(<font color="blue">$total</font>)</b></font>
	<tr bgcolor="$ui.menuColor">	
	#if($total!="0")
		<td align="center">
			<input type="hidden" name="mode" value="All">
			<INPUT TYPE="button" NAME="eventSubmit_doShowDBContent" VALUE="$LocalMail_Mail_msg2" onClick="checkValue(document.frm,this);">
			<input type="hidden" name="course_id" value=$courseid>
		</td>
	#end
		<td colspan="5" align="left">
			#if($mode1 == "DGeneral")
			   <INPUT TYPE="button" NAME="eventSubmit_doShowArchive" VALUE=" $brih_general $brih_arch">
			#else
			   <INPUT TYPE="button" NAME="eventSubmit_doShowArchive" VALUE="$brih_arch" onClick="checkValue(document.frm,this);">
			#end
			<input type="hidden" name="course_id" value=$courseid>
	 		<INPUT TYPE="hidden" NAME="actionName">
	 		<INPUT TYPE="hidden" NAME="count" value="$tdcolor">
                </td>
	</tr>	
#if($data.getUser().getUserName()!="guest")
<tr>

## this is use for Gerneral DiscussionBoard.

#if ($mode1 == "DGeneral")
	<td colspan=5><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode","compose").addPathInfo("mode1","DGeneral")><b>$LocalMail_MailContent_msg1</b></a></td>
#else
	#if($total!="0")
	<td colspan=5><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode","compose").addPathInfo("check","more").addPathInfo("course_id",$courseid).addPathInfo("count","4")><b>$LocalMail_MailContent_msg1</b></a></td>
	#else
	<td colspan=5><a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode","compose").addPathInfo("check","first").addPathInfo("course_id",$courseid).addPathInfo("count","4")><b>$LocalMail_MailContent_msg1</b></a></td>
	#end
#end
</tr>
#end
</table>
</form>

<SCRIPT LANGUAGE="javascript">
function checkValue(frm,field)
{
	frm.actionName.value=field.name;
        frm.submit();
}
</SCRIPT>

