#*
 * @(#)DBView.vm
 * Copyright (c)2005-2006, 2009, 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:aktri@iitk.ac.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="sumanrjpt@yahoo.co.in">Suman Rajput</a>
 * @author <a href="rekha_20july@yahoo.co.in">Rekha Pal</a>
 * @author <a href="mailto:singh_jaivir@Rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * @modified date: 31-12-2009
 * @ modified date: 13-Oct-2010 (Shaista)
 *#
<head>
##This Script use for Fck Editor in Textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript">
        var editor = null;
        function initEditor() {
                editor = new HTMLArea("ta");
                editor.generate();
                return false;
                var cfg = editor.config;
                cfg.registerButton({
                        id        : "my-hilite",
                        tooltip   : "Highlight text",
                        image     : "ed_custom.gif",
                        textMode  : false,
                        action    : function(editor) {
                                editor.surroundHTML("<span class=\"hilite\">", "</span>");
                        },
                        context   : 'table'
                });
                cfg.toolbar.push(["linebreak", "my-hilite"]); var cfg = editor.config;
                function clickHandler(editor, buttonId) {
                        switch (buttonId) {
                                case "my-toc":
                                        editor.insertHTML("<h1>Table Of Contents</h1>");
                                break;
                                case "my-date":
                                        editor.insertHTML((new Date()).toString());
                                break;
                                case "my-bold":
                                        editor.execCommand("bold");
                                        editor.execCommand("italic");
                                break;
                                case "my-hilite":
                                        editor.surroundHTML("<span class=\"hilite\">", "</span>");
                                break;
                        }
                };
                Cfg.registerButton("my-toc",  "Insert TOC", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-date", "Insert date/time", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-bold", "Toggle bold/italic", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-hilite", "Hilite selection", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-sample", "Class: sample", "ed_custom.gif", false,
                        function(editor) {
                                if (HTMLArea.is_ie) {
                                        editor.insertHTML("<span class=\"sample\">&nbsp;&nbsp;</span>");
                                        var r = editor._doc.selection.createRange();
                                        r.move("character", -2); r.moveEnd("character", 2); r.select();
                                } else {
                                        var n = editor._doc.createElement("span"); n.className = "sample"; editor.insertNodeAtSelection(n);
                                        var sel = editor._iframe.contentWindow.getSelection();  sel.removeAllRanges(); var r = editor._doc.createRange();
                                        r.setStart(n, 0); r.setEnd(n, 0); sel.addRange(r);
                                }
                        }
                );
                cfg.pageStyle = "body { background-color:  } .hilite { background-color: yellow; } "+ ".sample { color: green; font-family: monospace; }";
                cfg.toolbar.push(["linebreak", "my-toc", "my-date", "my-bold", "my-hilite", "my-sample"]);
               editor.generate();
        }
        function insertHTML() { var html = prompt("Enter some HTML code here"); if (html) { editor.insertHTML(html); } }
        function highlight() { editor.surroundHTML('<span style="background-color: yellow">', '</span>'); }
</script>
</head>
<body onload="initEditor()">
~

$page.setBgColor($ui.bgcolor)
$page.setTitle("Home|$CName|Communication|Discussion Board|Read Message")
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.tableColor" width=100%> 
<tr bgcolor="$ui.menuColor"><td colspan=5> 
	<b>
	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | <a href=$link.setPage("CourseHome.vm")>$CName</a> | 
        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> | 
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</a> |
	<a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("mode","All").addPathInfo("count","4")>$LocalMail_MailContent_msg3</a> | $Notice_Read $brih_msg2
</td></tr>
<tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_localmail</a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2")>$brih_chat</a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
	#if($data.getUser().getTemp("role") == "student")
                 <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3") style=text-decoration:none> $Notice_NoticeContent_msg1</a>
        #else
	        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3")>$brih_Notices</td>
	#end
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
	#if($data.getUser().getTemp("role") != "student")
        	#if($tdcolor != "5")
	        <td>
        	#elseif($tdcolor=="5")
	        <td bgcolor="#AFDCEC">
        	#end
	   	<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5")>$brih_news</td>
        #end
</tr>
 
</table> 
<form method="post" enctype="multipart/form-data">
<table width=100% bgcolor="$ui.tableColor"> 
	<tr><td>    
    	<table bgcolor="$ui.tableColor" width=100%> 
      	#if($errorTemplate)
      		<tr><td colspan="4"> 
        		<table bgcolor="$ui.tableColor"> 
            			<tr> 
				<td> 
                		<img src="$ui.image($ui.alertImage,$data)">
              			</td>
              			<td> 
                		#parse ($errorTemplate)
              			</td>  
				</tr>  
          		</table> 
        	</td></tr> 
      	#end
	<tr bgcolor="$ui.menuColor"><td>$Notice_Subject :&nbsp $sub </td></tr>
     	<tr><td>$Notice_Sender :&nbsp $retrive_user </td></tr>
	<tr bgcolor="$ui.menuColor">
	#if($lang == "hindi")
     	<td>$brih_Da $LocalMail_MailView_msg2 :</u></b>&nbsp $retrive_date</td>
	#else
     	<td>$LocalMail_MailView_msg2 :</u></b>&nbsp $retrive_date</td>
	#end
	</tr>
     	##<tr><td> 
     	##<table align=center> 
     		<tr><td>$brih_msg2 :</td></tr>
      		<tr> <td>
		<textarea id="ta" name=description rows=10 cols=110 wrap=physical onFocus="this.blur();"> $message</textarea>
       		</td></tr>
	##</table> 
     	##</td></tr> 
   	</table> 
	#set($count=1)
	<table width=100% bgcolor="$ui.tableColor"> 
				<tr><td><b><u>$brih_attachment :</u></b></td></tr>
		#foreach($file in $dirContent)
			<tr> 
				<td>&nbsp;&nbsp;</td>
		     		#set($countfield=0)
		     		<td>&nbsp <image src="$content.getURI("/images/star_off_2.gif")" height=10 width=10> &nbsp </td>
				#foreach($var in $file)
		     			#if($countfield==0)
    						<td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("topic","$topic").addPathInfo("view","content").addPathInfo("type","DB").addPathInfo("msgid",$msgID).addPathInfo("filename",$var)","newWin");>$var</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	             			#else
		         			<td>
							#if($lang == "hindi")
								<b>$var $DisBoard_DBView_msg22  </b></td>
							#else
								<b>$DisBoard_DBView_msg22  $var</b></td>
							#end
		     			#end
		     		#set($countfield=1)
			#end
			</tr> 
		#set ( $count= $count+1)
		#end
	</table>
	<tr bgcolor="$ui.menuColor"><td colspan=5>
		<a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("msgid",$msgID).addPathInfo("mode","reply").addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor)>$LocalMail_Reply</a>&nbsp&nbsp
		<a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("course_id",$workgroup).addPathInfo("mode","All").addPathInfo("count",$tdcolor).addPathInfo("countTemp","1")>$LocalMail_Close</a>

 	 </td></tr>
</table> 
</td></tr> 
</form>
</body>
<script LANGUAGE="JAVASCRIPT">									  
	function popupWin(urlName,popupName)
	{
		 window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
	 }
</script>
