#*
 * @()Multithread.vm
 * Copyright (c)2007,2009, 2010, 2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:arvindjss17@gmail.com">Arvind Pal</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @ modified date: 26-07-2010, 13-Oct-2010 (Shaista), 09-Aug-2011(Sunil Kr)
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#

$page.setTitle("Home | $cname | Communication |DiscussionBoard |$DisBoard_DB_msg23")
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

<table bgcolor="$ui.tableColor" width=100%>
        <tr bgcolor="$ui.menuColor"><td colspan=5>
                <b>
##($stats == "fromIndex") Use for general discussion group ## 
##($mode2 == "instituteWise") Use for insititue wise discussion group ## 
	#if($stats == "fromIndex")
                <b><a href=$link.setPage("Index.vm")>$brih_home</a> | <a href =$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4").addPathInfo("stats","fromIndex")>$brih_general $DiscussionBoard</a> |
        #elseif($mode2 == "instituteWise")
                <b><a href=$link.setPage("Index.vm")>$brih_home</a> | 
		<a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","8").addPathInfo("mode2","instituteWise")>$RemoteInstitute $brih_wise $DiscussionBoard</a> |
        #else
                <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | <a href=$link.setPage("call,CourseMgmt_User,Cour
seHome.vm")>$cname</a> |
                <a href =$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_communication</a> |
                <a href =$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</a> |
	#end
                #if($mode=="All")
                        $LocalMail_MailContent_msg3
                #else
                        $brih_unreadMsg
                #end
                </font>
        </td></tr>
<tr>
#if ($stats == "fromIndex")
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4").addPathInfo("stats","fromIndex")>$brih_general $DiscussionBoard</td>
#elseif($mode2 == "instituteWise")
        #if($tdcolor != "8")
        <td>
        #elseif($tdcolor=="8")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","8").addPathInfo("mode2","instituteWise")>$RemoteInstitute $brih_wise $DiscussionBoard</td>
#else
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1")>$brih_localmail</a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2")>$brih_chat</a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
	#if($user_role == "student")
		 <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3") style=text-decoration:none> $Notice_NoticeContent_msg1</a>
	#else
	        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3")>$brih_Notices</td>
	#end
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4")>$DiscussionBoard</td>
	#if($user_role != "student")
	        #if($tdcolor != "5")
        	<td>
	        #elseif($tdcolor=="5")
        	<td bgcolor="#AFDCEC">
	        #end
	      <a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5")>$brih_news</td>
	#end
#end
</tr>
</table>
<table width=100% bgcolor="$ui.tableColor">
        <tr>
               	##if($data.getUser().getUserName()!="guest")
		#if(($data.getUser().getUserName()!="guest") && ($stats !="fromIndex") && ($mode2 != "instituteWise"))
                        <td>
	                        <a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode","compose").addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor)>$LocalMail_MailContent_msg1</a>
                        </td>
		#elseif($mode2 == "instituteWise")
                        <td>
                                <a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode2","instituteWise").addPathInfo("mode","compose").addPathInfo("course_id",$workgroup).addPathInfo("count","8")>$LocalMail_MailContent_msg1</a>
                        </td>
                #else
			<td>
                                <a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("stats","fromIndex").addPathInfo("count","$tdcolor").addPathInfo("mode","compose")><b>$LocalMail_MailContent_msg1</b></a>
                </td>
                #end
                #if($mode=="All")
			#if($tdcolor1 !="2")
				<td>
			#elseif( $tdcolor1 == "2")
                        	<td bgcolor="#AFDCEC">
			#end
			#if ($stats == "fromIndex")
                                <a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("stats","fromIndex").addPathInfo("mode","All").addPathInfo("count",$tdcolor).addPathInfo("countTemp","2")>$LocalMail_Mail_msg2</a>
                        #elseif($mode2 == "instituteWise")
                                <a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("mode2","instituteWise").addPathInfo("mode","All").addPathInfo("count","8").addPathInfo("countTemp","2")>$LocalMail_Mail_msg2</a>
                        #else
                                <a href=$link.setPage("call,Dis_Board,DBContent.vm").addPathInfo("mode","All").addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor).addPathInfo("countTemp","2")>$LocalMail_Mail_msg2</a>
			#end
                        </td>
			#if($tdcolor1 !="4")
				<td>
			#elseif( $tdcolor1 == "4")
                        	<td bgcolor="#AFDCEC">
			#end
			#if ($stats == "fromIndex")
                                <a href=$link.setPage("call,Dis_Board,Multithread.vm").addPathInfo("stats","fromIndex").addPathInfo("mode","All").addPathInfo("count",$tdcolor1).addPathInfo("countTemp",$tdcolor1)>$brih_thread</a>
                        #elseif($mode2 == "instituteWise")
                                <a href=$link.setPage("call,Dis_Board,Multithread.vm").addPathInfo("mode2","instituteWise").addPathInfo("mode","All").addPathInfo("count","8").addPathInfo("countTemp",$tdcolor1)>$brih_thread</a>
                        #else
        	        	<a href=$link.setPage("call,Dis_Board,Multithread.vm").addPathInfo("mode","All").addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor).addPathInfo("countTemp",$tdcolor1)>$brih_thread</a>
			#end
			</td>
		#end
        </b></tr>
</table>
	#if($stats=="fromIndex")
                <form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action="$link.setPage("call,Dis_Board,Multithread.vm").addPathInfo("stats","fromIndex").setAction("SendDB")">
        #elseif($mode2 == "instituteWise")
                <form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action="$link.setPage("call,Dis_Board,Multithread.vm").addPathInfo("mode2","instituteWise").setAction("SendDB")">
        #else
		<form name="frm" ENCTYPE="multipart/form-data" METHOD="POST" action="$link.setPage("call,Dis_Board,DBContent.vm").setAction("SendDB")">
	#end	
	#if($status!="blank")
		<table width=100% bgcolor="$ui.tableColor">
                <tr bgcolor="$ui.menuColor">
			<td colspan=5>
                        	<b>$DiscussionBoard $DisBoard_DBCont_msg20
                                <font color=blue>$username</font>
                                	$brih_in $DisBoard_WorkGroup -
				<font color=green> $workgroup</font>
                        </td>
                </tr>
                #set($headings=["$brih_select","$Notice_Sender","$LocalMail_Task","$Notice_Subject"])
                <tr>
                        #foreach($heading in $headings)
                        <td><b>$heading</b></td>
                        #end
                </tr>
                #set($counter = 0)

                #foreach($e in $entry)
                        #if($e.getStatus()=="0")
                                <tr bgcolor="$ui.tableColor">
                        #else
                                <tr bgcolor="$ui.bgcolor">
                        #end
                        <td>

                                #if($user_role == "student")
                                        #if(($e.getSender()== $UserName)&&($e.getPermission() == "1"))
       					<INPUT TYPE="CHECKBOX" NAME="$e.getMsgID()" VALUE ="$e.getMSubject()" onClick="addDeleteList(this,document.frm);">
                                #else
                                        <input type="CHECKBOX" disabled="true">
                                #end
			#end
			#if(($user_role == "instructor") || ($stats == "fromIndex") || ($mode2 == "instituteWise"))
	                        <INPUT TYPE="CHECKBOX" NAME="$e.getMsgID()" VALUE ="$e.getMSubject()" onClick="addDeleteList(this,document.frm);">
                        #end
                        </td>
			<td>$e.getSender()</td>
			<td>
			#if(($stats != "fromIndex") && ($mode2 != "instituteWise"))
                                <a href=$link.setPage("call,Dis_Board,DBView.vm").addPathInfo("topic",$e.getMSubject()).addPathInfo("course_id",$workgroup).addPathInfo("msgid",$e.getMsgID()).addPathInfo("count",$tdcolor)>$brih_view</a>&nbsp
                        #elseif($mode2 == "instituteWise")
                                <a href=$link.setPage("call,Dis_Board,DBView.vm").addPathInfo("mode2","instituteWise").addPathInfo("topic",$e.getMSubject()).addPathInfo("course_id",$workgroup).addPathInfo("msgid",$e.getMsgID()).addPathInfo("count",$tdcolor)>$brih_view</a>&nbsp
                        #else
				<a href=$link.setPage("call,Dis_Board,DBView.vm").addPathInfo("stats","fromIndex").addPathInfo("topic",$e.getMSubject()).addPathInfo("course_id",$workgroup).addPathInfo("msgid",$e.getMsgID()).addPathInfo("count",$tdcolor)>$brih_view</a>&nbsp
			#end
				#if($user_role=="instructor")
       				<a href=$link.setPage("call,Dis_Board,Edit.vm").addPathInfo("topic",$e.getMSubject()).addPathInfo("msgid",$e.getMsgID()).addPathInfo("sender",$e.getSender()).addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor).addPathInfo("countTemp","2")>$brih_edit</a> &nbsp;
				#end
				#if($user_role == "student")
                                	#if($e.getSender()== $UserName)
						<a href=$link.setPage("call,Dis_Board,Edit.vm").addPathInfo("topic",$e.getMSubject()).addPathInfo("msgid",$e.getMsgID()).addPathInfo("sender",$e.getSender()).addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor).addPathInfo("countTemp","2")>$brih_edit</a> &nbsp;
                                	#else
						<font color="white"><u>$brih_edit</u></font>&nbsp;
                                        #end
				#end
				#if(($data.getUser().getUserName()!="guest") && ($stats != "fromIndex") && ($mode2 != "instituteWise"))
				        <a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("topic",$e.getMSubject()).addPathInfo("msgid",$e.getMsgID()).addPathInfo("mode","reply").addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor).addPathInfo("countTemp","2")>$LocalMail_Reply</a>&nbsp
				#end
				#if($stats == "fromIndex")
                                        <a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("stats","fromIndex").addPathInfo("topic",$e.getMSubject()).addPathInfo("msgid",$e.getMsgID()).addPathInfo("mode","reply").addPathInfo("course_id",$workgroup).addPathInfo("count",$tdcolor).addPathInfo("countTemp","2")>$LocalMail_Reply</a>&nbsp
                                #end
                                #if($mode2 == "instituteWise")
                                        <a href=$link.setPage("call,Dis_Board,DisBoard.vm").addPathInfo("mode2","instituteWise").addPathInfo("topic",$e.getMSubject()).addPathInfo("msgid",$e.getMsgID()).addPathInfo("mode","reply").addPathInfo("course_id",$workgroup).addPathInfo("count","8").addPathInfo("countTemp","2")>$LocalMail_Reply</a>&nbsp
                                #end
				</td>
					##<a href=$link.setPage("call,Dis_Board,Edit.vm").addPathInfo("topic",$e.getMSubject()).addPathInfo("msgid",$e.getMsgID()).addPathInfo("course_id",$workgroup) >
			<td>
                        #set($count4 = 0)
                        #set($count1 = 0)
                        #set($count3 = 0)
                        #set($count2 = 0)
                        #foreach($ans in $spacevector)
                                #if($counter == $count1)
                                        #set($count2 = $ans)
                                        #foreach($ans in $spacevector)
                                                #if($count3 < $count2)
                                                 &nbsp&nbsp;
                                                        #set($count4 = $count4 + 1)
                                                        #set($count3 = $count3 + 1)
                                                #end  ##if
                                                        #set($count1 = $count1 + 1)
                                        #end   ##for
                                #end    ##if
                                #set($count1 = $count1 + 1)
                        #end   ##for

                        #set($counter = $counter + 1)
                        $e.getMSubject()
                        </td>
		</tr>
		#end
		<tr>
                 <td colspan=5>
                        <INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doDelete" VALUE="$brih_delete" onClick="checkValue(document.frm,this);">
			<INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doArchive" VALUE="$brih_archive" onClick="checkValue(document.frm,this);">

                        <INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
                        <INPUT TYPE="hidden" NAME="actionName">
                        <INPUT TYPE="hidden" name="msg_id" value="$msgid">
                        <INPUT TYPE="hidden" name="DB_subject" value="">
                        <INPUT TYPE="hidden" name="user_id" value="$userid">
                        <INPUT TYPE="hidden" name="course_id" value="$course_id">
                        <INPUT TYPE="hidden" NAME="mode" VALUE="$mode">
                        <INPUT TYPE="hidden" NAME="countTemp" VALUE="$tdcolor1">
                        <INPUT TYPE="hidden" NAME="count" VALUE="$tdcolor">
			<INPUT TYPE="hidden" NAME="mode2" VALUE="$mode2">
                </td>
                </tr>

	#end
</table>	
</form>
						
<SCRIPT LANGUAGE="javascript">
function checkValue(frm,field)
{
        if(frm.deleteFileNames.value!="")
                {

                        frm.actionName.value=field.name;
                                frm.submit();
                 }
        else
                {
                        alert("Please select checkbox for deletion !!");
                }
}

function addDeleteList(field,frm)
        {
                if(field.checked)
                {

                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                        frm.DB_subject.value=frm.DB_subject.value+field.value+"@@@@";
                 }
                 else
                     {
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                     }
        }
			
	function selectAll(field)
	{
        	if(field.checked)
          	{
                	var rmFile,index,actualString,pre=0,next=0;
                    	actualString=document.frm.deleteFileNames.value="$count";
                     	while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                               var temp=actualString.substring(next,pre);
                                 next=pre+1;
                               rmFile=document.frm.elements[temp].checked=true;
                             }

            }


        else
         {
                  var rmFile,index,actualString,pre=0,next=0;
                  actualString=document.frm.deleteFileNames.value="$count";
                    while( ( pre=actualString.indexOf("^",next) ) >=0 )
                             {
                               var temp=actualString.substring(next,pre);
                                   next=pre+1;
                               rmFile=document.frm.elements[temp].checked=false;
                              }
                                document.frm.deleteFileNames.value="";
          }
}
</SCRIPT>
