BODY,TD 
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 10pt;
}

A:visited, A:link
{
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}

A:hover
{
	color: #FF33FF;
	text-decoration: underline;
	font-weight: bold;
}

.date
{
	background: #FFCC33;
	font-weight: bold;
}

.title
{
	font-family: Arial, Helvetica, sans-serif;
	color: #708090;
	font-size: 30px;
	font-weight: bold;
}

.cat
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-	serif;
	font-weight: bold;
}

.art
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-	serif;
}

.head
{
	font-family: Arial, Helvetica, sans-serif;
	color: #CC3399;
	font-size: 16px;
	font-weight: bold;
}

.sub
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-	serif;
	color: #003399;
	font-weight: bold;
}

.msg
{
	color: #663399;
}

.foot
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.element
{
	font-family:  Arial, Helvetica, sans-serif;
	color: #696969;
	font-size: 10pt;
	font-weight: bold;
}

.errormsg
{
	color: #FF3399;
}

.message
{
	color: #003399;
}

.member
{
	color: #CE7173;
	font-weight: bold;
}

.type
{
	color: #CE7173;
	font-weight: bold;
}