#*
 * @(#) OnlineRegistration_Admin.vm 
 * Copyright (c) 2008, 2009, 2010-2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a> 
 * @author <a href="mailto:omprakash_kgp@yahoo.co.in">Om Prakash</a>
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 *  @modified date: 07-12-2010
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modify 20-03-2009 , 20-10-2010, 23-12-2010,10-06-2013
*#

$page.setTitle("Admin Home | View Online Registration ")

$page.setBgColor($ui.bgcolor)

$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang").toString())
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<body>
<table  bgcolor="$ui.menuColor" width=100%>
<tr> <td>
 <b><a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_ad $brih_home</a> |
 <a href=$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("status","CourseRegistration").addPathInfo("count","1") style='text-decoration:none'> #if ($lang == "hindi" || $lang == "bhojpuri") $online_online $brih_reg $brih_Of1 $brih_view #else $brih_view $online_online $brih_reg #end </a> |
#if($status=="UserResitration")
	#if($lang =="hindi" || $lang == "bhojpuri") $brih_usr $brih_Of2 $brih_reg $brih_Of1 $brih_view  #else $brih_view $brih_usr $brih_reg #end
#else
	#if($lang =="hindi" || $lang == "bhojpuri") $brih_course $brih_Of2 $brih_reg $brih_Of1 $brih_view  #else $brih_view $brih_course $brih_reg #end
#end 
</td></tr>
</table>
<table width=100% bgcolor="$ui.tableColor">
<tr>
	#if($tdcolor!="1")
	<td width=33%>
	#elseif($tdcolor=="1")
	<td width=33% bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("status","CourseRegistration").addPathInfo("count","1") style=text-decoration:none> #if($lang =="hindi" || $lang =="bhojpuri") $brih_course $brih_Of2 $brih_reg $brih_Of1 $brih_view  #else $brih_view $brih_course $brih_reg #end </a></td>
	#if($tdcolor!="2")
	<td width=33%>
	#elseif($tdcolor=="2")
	<td width=33% bgcolor="#AFDCEC">
	#end
        	<a href=$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("status","UserResitration").addPathInfo("count","2") style='text-decoration:none'> #if($lang =="hindi" || $lang =="bhojpuri") $brih_usr $brih_Of2 $brih_reg $brih_Of1 $brih_view  #else $brih_view $brih_usr $brih_reg #end </a></td>
<td align="right">
<img src="$content.getURI("/images/hand.gif")"><font face="$ui.sansSerifFonts" size=3>
<a href=javascript:popupWin("/brihaspati2/docs/OnlineRegistrationAdmin.html","newWin") style='text-decoration:none'>$brih_help</a></font>
</tr>
</table>
#if($entry.size() !=0)
<div class="scroll" style="margin-top:7px; position:absolute;">
<form name="frm" method="post" action="$link.setPage("call,OnLine_Rgtn,OnlineRegistration_Admin.vm").addPathInfo("lang",$lang).setAction("OnlineRegistration_Admin")">
<table bgcolor="$ui.tableColor" cellpadding="5" align=left>
	#if($status == "UserResitration")
	#set ( $headings = ["$brih_select","$brih_usr $brih_name","$brih_first $brih_name","$brih_last $brih_name","$brih_email","$brih_rollno","$brih_program","$brih_course $brih_ID","$brih_role"] )
	<tr align="center" bgcolor="$ui.menuColor">
                  #foreach ($heading in $headings)
                  	#headerCell($heading)
                  #end
        </tr>
        #foreach($e in $entry)
	#if($velocityCount%2==0)
        <tr bgcolor="$ui.menuColor">
	#else
        <tr bgcolor="$ui.tableColor">
	#end
                <td align=center>
                        ##<INPUT TYPE="CHECKBOX" NAME=$e.getMSubject() VALUE="" onClick="addDeleteList(this,document.frm);">
			#set($mailCname="${e.getMSubject()}:${e.getStatus()}:${e.getSender()}")
                        <INPUT TYPE="CHECKBOX" NAME="$mailCname" VALUE="" onClick="addDeleteList(this,document.frm);">
                </td>
                <td>$e.getSender()</td> ##user Name
		<td>$e.getExpiryDate()</td>
		<td>$e.getPermission()</td>
		##<td>$e.getGrpmgmtType()</td>
                <td>$e.getMSubject()</td> ##Mail id
		<td>$e.getRollno() </td> ##Roll No
		<td>$e.getPrgCode()</td>  ##Program Name
                <td>$e.getStatus()</td> ## group name
                <td>$e.getMsgID()</td>
        </tr>
        #end
 
        <tr bgcolor="$ui.menuColor">
                <td align="left" colspan=9>
                <input type="hidden" name="actionName" value="">
                <input type="button" class="button-ftextstyle" name="eventSubmit_AcceptUser" value="$online_accept" onClick="AcceptField(document.frm,this);">
                <input type="button" class="button-ftextstyle" name="eventSubmit_RejectUser" value="$online_reject" onClick="AcceptField(document.frm,this);">
                <input type="hidden" name="deleteFileNames" value="">
                <input type="hidden" name="role" value="$role">
                <input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr> 

	#end
               	<input type="hidden" name="status" value=$status>

##////////////////////////view courses/////////////////////////////	
		

	#if($status == "CourseRegistration")
	#set ( $headings = ["$brih_select","$brih_course $brih_ID","$brih_usr $brih_name","$brih_course $brih_name","$brih_email","$brih_first $brih_name","$brih_last $brih_name","$brih_dept","$brih_schce"])
	<tr align="center" bgcolor="$ui.menuColor">
                  #foreach ($heading in $headings)
                        #headerCell($heading)
                  #end
        </tr>
	#foreach($e in $entry)
	#if($velocityCount%2==0)
	<tr bgcolor="$ui.menuColor">
	#else
	<tr bgcolor="$ui.tableColor">
	#end
        	<td align="center">
			#set($mailCname="${e.getStatus()}:${e.getSender()}${e.getMSubject()}")
			<INPUT TYPE="CHECKBOX" NAME="$mailCname" VALUE="" onClick="addDeleteList(this,document.frm);">
	  	</td>	 	
          	<td>$e.getSender()</td> ## CourseId
          	<td>$e.getMSubject()</td> ## User Name
        	<td>$e.getPDate()</td>
          	<td>$e.getStatus()</td> ## getting Email ID
	  	<td>$e.getMsgID()</td>
	  	<td>$e.getPermission()</td>
	  	<td>$e.getGrpmgmtType()</td>
		<td>$e.getSchoolCenter()</td>
	</tr>
	#end
	<tr bgcolor="$ui.menuColor">
  		<td align="left" colspan=9>
			<input type="hidden" name="actionName" value="">
			<input type="button" class="button-ftextstyle"  name="eventSubmit_doAcceptCourses" value="$online_accept" onClick="AcceptField(document.frm,this);">
			<input type="button" class="button-ftextstyle"  name="eventSubmit_doDeleteCourse" value="$online_reject" onClick="AcceptField(document.frm,this);">
			<INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
                	<input type="hidden" name="count" value="$tdcolor">
     		</td>
	</tr>
	#end
</table>
</form>
</div>
#end
</body>

<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function AcceptField(frm,field)
        {
		if(frm.deleteFileNames.value != "")
		{
			frm.actionName.value=field.name;
        	        frm.submit();
		}
		else
		{
			alert("Please select the check box");	
			return;	
		}
	}
 
        function addDeleteList(field,frm)
        {
		if(field.checked)
        	{
                	frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
		}                
        	else
		{
                      	var rmFile,index,actualString,preString,postString;
	        	actualString=frm.deleteFileNames.value;
        	        index=actualString.indexOf(field.name+"^",0);
                	preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
	                actualString=preString+postString;
        	        frm.deleteFileNames.value=actualString;
		}                
        }


</SCRIPT>

