#*
 * @(#) ViewOnlineRegistrationInstructor.vm 
 * Copyright (c) 2008, 2009,2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>	
 * @author <a href="mailto:omprakash_kgp@yahoo.co.in">Om Prakash</a>
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modify 20-03-2009, 20-10-2010, 23-12-2010
*#

$page.setTitle("Home | $course | Student Management | View Online Registration ")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<table  bgcolor="$ui.menuColor" width=99%>
<tr>
	 <td>
	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | 
	<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1")>$brih_student $brih_mgmt</a> |$brih_view $online_online $brih_reg
	</td>
                <td align="right">
                <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/ViewOnlineResgistration.html","newWin") style=text-decoration:none><font size=4>$brih_help</font></a>
                </td>
</tr>
</table>
<body>
<div class="scroll">
<form name="frm" method="post" action="$link.setPage("call,OnLine_Rgtn,ViewOnlineRegistrationInstructor.vm").setAction("OnlineRegistration_Instructor")">
<table width=100%>
<tr bgcolor="$ui.tableColor">
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1")>$brih_add $brih_students</a>
        </td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,RemoveStudents.vm").addPathInfo("count","2")>$brih_rem_student</a></td>
        #if($tdcolor != "3")
        <td colspan=2>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC" colspan=2>
        #end
 	<a href=$link.setPage("call,UserMgmt_User,MultiUserReg_Instructor.vm").addPathInfo("count","3")>$brih_add $brih_multiple1 $brih_students</a></td>
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count","4")>$brih_listOfStudent</a></td>
        #if($tdcolor != "5")
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,OnLine_Rgtn,ViewOnlineRegistrationInstructor.vm").addPathInfo("count","5")>$online_online $brih_reg</a></td>
	#if($tdcolor != "6")
        <td>
        #elseif($tdcolor=="6")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,ListMgmt_InstituteAdmin,Parent_Mgmt.vm").addPathInfo("count","6").addPathInfo("mode","instructor").addPathInfo("searchFor","instructor") style=text-decoration:none>$brih_parent $brih_info</a>
        </td>

</tr>
#if($entry.size() !=0)
    
       <tr bgcolor="$ui.menuColor" width=100%>
                <td align=center>
                        <b> $brih_select </b>
                </td>
                <td align=center>
                        <b> $brih_usr $brih_name </b>
                </td>
		<td align=center>
			<b> $brih_first $brih_name </b>
		</td>
		<td align=center>
			<b> $brih_last $brih_name </b>
		</td>
		 <input type="hidden" name="$online_organisation" value="$!e.getGrpmgmtType()">
                <td align=center>
                        <b> $brih_email </b>
                </td>
		<td align=center>
                        <b> $brih_rollno </b>
                </td>
		<td align=center>
                        <b> $brih_program </b>
                </td>
                <input type="hidden" name="$brih_course $brih_ID" value="$!e.getStatus()">
                <td align=center>
                        <b> $brih_role</b>
                </td>
 
        </tr>
        #foreach($e in $entry)
        <tr>
                <td align=center>
			#set($GpUsrEmail ="${e.getSender()}:${e.getStatus()}:${e.getMSubject()}")
                        ##<INPUT TYPE="CHECKBOX" NAME=$e.getMSubject() VALUE="" onClick="addDeleteList(this,document.frm);">
                        <INPUT TYPE="CHECKBOX" NAME=$GpUsrEmail VALUE="" onClick="addDeleteList(this,document.frm);">
                </td>
                <td>
                        $!e.getSender()
                </td>
		<td>
			$!e.getExpiryDate()
		</td>
		<td>
			$!e.getPermission()
		</td>	
		<input type="hidden" name="$online_organisation" value="$!e.getGrpmgmtType()">
			##$!e.getGrpmgmtType()
                <td>
                        $!e.getMSubject()
                </td>
		<td>
                        $!e.getRollno()
                </td>
		<td>
                        $!e.getPrgCode()
                </td>
		<input type="hidden" name="$brih_course $brih_ID" value="$!e.getStatus()">
                       ## $!e.getStatus()
                <td>
                        $!e.getMsgID()
                </td>
        </tr>
        #end
 
        <tr>
                <td colspan=10 bgcolor="$ui.menuColor">
                <input type="hidden" name="actionName" value="">
                <input type="button" class="button-ftextstyle" name="eventSubmit_AcceptUser" value="$online_accept" onClick="AcceptField(document.frm,this);">
                <input type="button" class="button-ftextstyle" name="eventSubmit_RejectUser" value="$online_reject" onClick="AcceptField(document.frm,this);">
                <input type="hidden" name="deleteFileNames" value="">
                ##<input type="hidden" name="group" value="$group">
                <input type="hidden" name="role" value="$role">
                <input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr>

</td>
</tr>
##</table>
#end
</table>
</form>
</div>
</body>

<SCRIPT LANGUAGE="javascript">

        function AcceptField(frm,field)
        {
		 if(frm.deleteFileNames.value != "")
                {
			frm.actionName.value=field.name;
	                frm.submit();
		}
		else
		{
			alert("Please select the check box");
                        return;
                }
		
	}
 
        function addDeleteList(field,frm)
        {
                if(field.checked)
                {
                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                }
                else
                {
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
        }


</SCRIPT>

