#*
 * @(#)StudentAttendance.vm
 * Copyright (c) 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Student Attendance Management")
$!data.getMessage()

<head>
	#### CSS ###	
	<link rel="stylesheet" href="$content.getURI("scrpts/css/ui.daterangepicker.css")" type="text/css" />
        <link rel="stylesheet" href="$content.getURI("scrpts/css/redmond/jquery-ui-1.7.1.custom.css")" type="text/css" title="ui-theme" />
	
	#### Java Script #####	
	<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.ui.min.js")"></script>
        <script type="text/javascript" src="$content.getURI("scrpts/jquery/js/daterangepicker.jQuery.js")"></script>
        <script type="text/javascript" src="$content.getURI("/scrpts/slimScroll.js")"></script>

	<script type="text/javascript">
        	$(function(){
        		$("#scroll").slimScroll({
                		height: '470px',
                		disableFadeOut: true
        		});
                	$("#Calrange").daterangepicker({arrows:true});
     		});
	</script>
</head>

<body>

<table width="100%" bgcolor="$ui.tableColor">
<tr bgcolor="$ui.menuColor">
	<td colspan=2>
	#if($data.getUser().getTemp("role") == "institute_admin")
		<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home | </a>
	#else
		<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
	#end
	 <a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style="text-decoration:none">$brih_attend $brih_mgmt </a> 
	#if($mode=="attend") | $brih_student $brih_attend #end
	#if($mode=="list") | $brih_attendence #end
	
	</td>
</tr>
<tr bgcolor="$ui.menuColor" align="left">
#if(($data.getUser().getTemp("role") == "institute_admin") || ($data.getUser().getTemp("role") =="instructor"))
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        	<a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style="text-decoration:none">$brih_student $brih_attend</a> 
        </td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td  bgcolor="#AFDCEC">
        #end
        	<a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","2").addPathInfo("mode","list") style="text-decoration:none">$brih_attendence</a>
        </td>
#else
	<td bgcolor="#AFDCEC">
      	<a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","2").addPathInfo("mode","list") style="text-decoration:none">$brih_attendence</a>
	</td>
#end
</tr>
</table>
<table width="100%" bgcolor="$ui.tableColor">
################## This code is written for student Attendance each day ##################

#if(($mode =="attend") || ($mode ==""))
<tr valign="top">
	<td><p><b>$brih_attend $brih_sheet : $!course</b></p>
        	<form name="frm" method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table width="80%" align="center" border="1"bgcolor="$ui.menuColor" style="border-collapse:collapse; border:1px solid black;">
        	<tr align="center">
                	<td width="30%"><b>$brih_today : </b><input type="text" value="$currentdate" readonly name="searchdate" size="6"/></td>
			#if($data.getUser().getTemp("role") == "institute_admin")
                	<td width="50%"><b>$brih_course: </b> 
                		<select id="group_id" class="drop" name="group" size=1 onChange="checkOption(document.frm,this);" style="width:300px;"/>
				#if($!course_id != "")
                        		<option value="$course_id" style="width:275px;" title="$!course">$!course_id</option>
                        	#end
                        		<option value="" style="width:275px;" title="select a course">$brih_sel_course</option>
                        	#foreach($name in $courseList)
                        		<option value="$name.getGroupName()" style="width:275px;" title="$name.getCAlias(): $name.getCourseName()-$name.getUserName()">$name.getCAlias(): $name.getCourseName()-$name.getUserName()</option>
                        	#end    
                        	</select>
                        	<input type="hidden" name="val"/>
				<input type="hidden" name="mode" value="attend"/>
				<input type="hidden" name="count" value="$tdcolor"/>
				<input type="hidden" name="actionName" value="eventSubmit_doSearch">
				<input type="submit" name="eventSubmit_doSearch" value="Search" id="btnSearch" style="visibility: hidden"/>
               		</td>   
               		 #else
			<td width="50%"><b>$brih_course: </b><input type="text" value="$!course_id" size="35" title="$!course" readonly/></td>
                	#end
        	</tr>
        	</table>
        	<br>
		
	        #if(($status=="true") && ($studentlist.size()!=0) && ($dayName!="Sunday"))
		<div id="scroll" style="font-size: 85%;">
        	<table width="100%" align="center"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	#set ( $headings = ["$brih_serialNo","$brih_student $brih_name","$brih_email ","$brih_attend","$brih_remark"] )
        	<tr bgcolor="$ui.menuColor" align="center">
                	#foreach ($heading in $headings)
                		<td><font size=3><b>$heading</font></td>
                	#end
        	</tr>
                #set($sno=1)
                #set($studattendlist="")
                	#foreach ($urecord in $studentlist)
                        	#if($velocityCount%2==0)
                                <tr bgcolor="$ui.menuColor">
                        	#else
                                <tr bgcolor="$ui.tableColor">
                       		#end        
                			<td align="center">$sno</td>
                			<td>$!urecord.getLoginName()</td>
                			<td>$!urecord.getEmail()</td>
                			#set($radioname="attendance$sno")
                			#set($remark="remark$sno")
               				<td align="center">
                        			<input type="radio" name="$radioname" value="p" checked="checked">$brih_present
                        			<input type="radio" name="$radioname" value="a">$brih_absent
                  			      	<input type="radio" name="$radioname" value="l">$brih_leave
               				</td>
                			<td align="center"><input name="$remark" type="text" value="" maxlength="500" size="10"/></td>
                			#set($studattendlist="$studattendlist:$!urecord.getLoginName():$!urecord.getEmail():$!radioname:$!remark^")
                			#set($sno=$sno+1)
                	#end
         			<tr bgcolor="$ui.menuColor">
                			<td colspan=5>
                			<INPUT TYPE="submit" class="button-ftextstyle" NAME="eventSubmit_doAttendance" VALUE="$brih_submit" onClick="selectAll(document.frm,this);">
                			<INPUT TYPE="reset" class="button-ftextstyle" NAME="$brih_reset" >
                			<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doAttendance">
                			<INPUT TYPE="hidden" NAME="selectFileNames" VALUE="">
					<input type="hidden" name="count" value="$tdcolor"/>
                			</td>
        			</tr>
        	</table>
		</div>
		#end

		############ Set message if day's name is "sunday" and status is false or student list is zero. ##############
		#if($dayName=="Sunday")
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_sunday</font></td>
                </tr>
                #elseif(($status=="false") && ($!course !="") && ($studentlist.size()==0))
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_noStudent</font></td>
                </tr>
                #elseif (($data.getUser().getTemp("role") == "institute_admin") && ($studentlist.size()==0)) 
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_attendSheet</font></td>
                </tr>
                #end
        	</form>
	</td>
</tr>
#end

####################### End of code for student attendance ################################

###############This code is written for getting student attendance report #################

#if($mode=="list")
<tr valign="top">
        <td><p><b>$brih_attendence :  
	#if($data.getUser().getTemp("role") == "student")
	 $!loginName
	#else
	 $!course
	#end
	</b></p>
        	<form name=frm method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table width="100%" align="center" bgcolor="$ui.menuColor"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr>
                	<td width="10%"><b>$brih_select $brih_Da : </b></td><td width="21%"><div style="width: 10px; font-size: 80%;"><input type="text" value="$currentdate" name="searchdate" id="Calrange" /></div></td>
			#if($data.getUser().getTemp("role") == "institute_admin")
                	<td align="center" width="44%"><b>$brih_course: </b>
                        <select id="group_id" class="drop" name="group" size=1 style="width:300px;"/>
				#if($!course_id != "")
                        		<option value="$course_id" style="width:275px;" title="$!course">$!course_id</option>
                        	#end
                        		<option value="" style="width:275px;" title="select a course">$brih_sel_course</option>
                        	#foreach($name in $courseList)
                        		<option value="$name.getGroupName()" style="width:275px;" title="$name.getCAlias(): $name.getCourseName()-$name.getUserName()">$name.getCAlias(): $name.getCourseName()-$name.getUserName()</option>
                        	#end    
                	</select>
                	</td>
                	#else
			<td align="center" width="44%"><b>$brih_course: </b><input type="text" name="group" value="$!course_id" size="35" title="$!course" readonly/></td>
                	#end
                	<td width="4%">
				<INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doSearch" VALUE="$brih_get $brih_attend" onClick="checkCourse(document.frm,this);">
				<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doSearch">
                		<INPUT TYPE="hidden" NAME="mode" VALUE="list">
				<input type="hidden" name="count" value="$tdcolor"/>
			</td>
        	</tr>
        	</table>
        	<br>
		#if($status=="true")
		<div id="scroll" style="font-size: 85%;">
        	<table  width="100%" align="center"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr bgcolor="$ui.menuColor" align="center">
                	<th rowspan="2"><font size=3>$brih_serialNo</font></th>
			#if($data.getUser().getTemp("role") == "institute_admin" || $data.getUser().getTemp("role") == "instructor")
                	<th rowspan="2"><font size=3>$brih_student $brih_name</font></th>
                	<th rowspan="2"><font size=3>$brih_email</font></th>
                	<th colspan="3"><font size=3>$brih_attend $brih_status [<font color="blue"> $searchdate</font>]</th>
                	<th rowspan="2"><font size=3><b>$brih_action</b></font></th>
                	#else
                	<th colspan="3"><font size=3>$brih_attend $brih_status (<font color="blue"> $brih_total $brih_attend = $attendreport.size() $brih_day</font>)</th>
			<th rowspan="2"><font size=3>$brih_attend $brih_Da</font></th>
                	#end
        	</tr>
		<tr align="center" bgcolor="$ui.menuColor">
                	<td><font color="green">$brih_present ($brih_inday)</font></td>
                	<td><font color="dark red">$brih_absent ($brih_inday)</font></td>
                	<td><font color="dark orange">$brih_leave ($brih_inday)</font></td>
		</tr>
		#set($sno=1)
                #set($flag="false")
		#set($present=0)
                #set($absent=0)
                #set($leave=0)
	
		## set flag true if all attendace is zero.		
                	
		#foreach ($urecord in $attendreport)
                        #if($!urecord.getPresent()==0 && $!urecord.getAbsent()==0 &&  $!urecord.getLeave()==0)
                                #set($flag="true")
                        #end
                #end
                
		#if($flag=="false") 
                	#foreach ($urecord in $attendreport)
                       		#if($velocityCount%2==0)
                                <tr align="center" bgcolor="$ui.menuColor">
                      		#else
                                <tr align="center" bgcolor="$ui.tableColor">
                       		#end        
                			<td>$sno</td>
					#if($data.getUser().getTemp("role") == "institute_admin" || $data.getUser().getTemp("role") == "instructor")
                			<td align="left">$!urecord.getLoginName()</td>
                			<td align="left">$!urecord.getEmail()</td>
					<td>$!urecord.getPresent()</td>
                			<td>$!urecord.getAbsent()</td>
                			<td>$!urecord.getLeave()</td>
					<td>
					   	<a href="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance").addPathInfo("actionName","eventSubmit_doSearch").addPathInfo("userid",$urecord.getUserId()).addPathInfo("count",$tdcolor).addPathInfo("mode","All").addPathInfo("group",$course_id)" style="text-decoration:none;"><font color="blue"> $brih_full $brih_attend</font> | </a>
						<a href="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance").addPathInfo("actionName","eventSubmit_doSearch").addPathInfo("userid",$urecord.getUserId()).addPathInfo("count",$tdcolor).addPathInfo("mode","update").addPathInfo("group",$course_id).addPathInfo("date",$encodedate)" style="text-decoration:none;" ><font color="blue"> $brih_update</font></a>
					</td>

					#else
					<td>$!urecord.getPresent()</td>
                                        <td>$!urecord.getAbsent()</td>
                                        <td>$!urecord.getLeave()</td>
                			<td>$!urecord.getCreateDate()</td>
					#end
                			#set($sno=$sno+1)
					
					######### Calculate grand total of attendance ############
					
					#set($present=$present+$!urecord.getPresent())
                                        #set($absent=$absent+$!urecord.getAbsent())
                                        #set($leave=$leave+$!urecord.getLeave())
				</tr>
                	#end
				######### Show total attendance ############
			
				#if(($data.getUser().getTemp("role") == "student") && ($attendreport.size()>1))
                                <tr align="center">
                                <td><b>Grand Total</td>
                                <td><font color="green"><b>Present ($present)</font></td>
                                <td><font color="dark red"><b>Absent ($absent)</font></td>
                                <td><font color="dark orange"><b>Leave ($leave)</font></td>
				#set( $presentStatus = $present * 100 /$attendreport.size())
                                <td><font color="blue"> <b>Present ( $presentStatus % )</font></td>
                                </tr>
                                #end
		#else
                		<tr align="center">
                			<td colspan="7" ><font color="red" size=3>$brih_norecord</font></td>
                		</tr>
                #end
        	</table>
		</div>
		#end
		#if(($course!="") && ($status=="false"))
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_norecord</font></td>
                </tr>
                #end
        	</form>
	</td>
</tr>
#end

############################End of Code ######################################

############## This code is written for updation of attendance ###############

#if($mode=="update" || $mode=="updatelist" || $mode=="All")
<tr valign="top">
        <td><p><b>$brih_attend #if($mode=="All") $brih_status #else $brih_updation #end : $loginName</b></p>
        	<form name="frm" method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table width="100%" align="center" bgcolor="$ui.menuColor"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr>
                	<td width="9%"><b>$brih_select $brih_Da : </b></td>
			<td width="20%">
			<div style="width: 10px; font-size: 80%;">
			#if($mode=="All")
                        	<input type="text" value="$currentdate" name="searchdate" id="Calrange" />
                        #else
                        	<input type="text" value="$searchdate" name="searchdate" id="Calrange" />
                        #end
                        </div>
                        </td>
			<td width="40%"><b>$brih_course: </b><input type="text" value="$!course_id" size="35" title="$!course" readonly/></td>
                	<td width="10%">
                		<INPUT TYPE="submit" class="button-ftextstyle" NAME="eventSubmit_doSearch" VALUE="$brih_attend">
				<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doSearch">
				 #if($mode=="All")
                                <INPUT TYPE="hidden" NAME="mode" VALUE="$mode">
                                #else
                                <INPUT TYPE="hidden" NAME="mode" VALUE="updatelist">
                                #end
                		<INPUT TYPE="hidden" NAME="loginName" VALUE="$loginName">
				<INPUT TYPE="hidden" NAME="group" VALUE="$course_id">
				<input type="hidden" name="count" value="$tdcolor"/>
                	</td>
        	</tr>
        	</table>
		</form>
        	<br>
		#if(($status=="true") && ($attendreport.size()!=0) && ($mode=="updatelist" || $mode=="update" || $mode=="All" ))
        	<div id="scroll" style="font-size: 85%;">
        	<form name=frm method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table  width="100%" align="center"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr bgcolor="$ui.menuColor" align="center">
                	<th width="10%"><font size=3>$brih_serialNo</font></th>
                	<th colspan="3"><font size=3>$brih_attend $brih_status (<font color="blue"> $brih_total $brih_attend = $attendreport.size() $brih_day</font>)</th>
                	<th width="20%"><font size=3><b>$brih_attend $brih_Da</b></font></th>
        	</tr>
                #set($sno=1)
		#set($present=0)
                #set($absent=0)
                #set($leave=0)

                #set($studattendlist="")
                #foreach ($urecord in $attendreport)
                	#if($velocityCount%2==0)
                      	<tr align="center" bgcolor="$ui.menuColor">
                       	#else
                       	<tr align="center" bgcolor="$ui.tableColor">
                       	#end        
                		<td>$sno</td>
                	## get name of User
                	#set($radioname="attendance$sno")
			#if($mode!="All")
                		#if($!urecord.getPresent()==1)
                		<td><input type="radio" name="$radioname" value="p" checked="checked">$brih_present</td>
                		<td><input type="radio" name="$radioname" value="a">$brih_absent</td>
                		<td><input type="radio" name="$radioname" value="l">$brih_leave</td>
                		#elseif($!urecord.getAbsent()==1)
                		<td><input type="radio" name="$radioname" value="p" >$brih_present</td>
                		<td><input type="radio" name="$radioname" value="a" checked="checked">$brih_absent</td>
                		<td><input type="radio" name="$radioname" value="l">$brih_leave</td>
                		#else
                		<td><input type="radio" name="$radioname" value="p" >$brih_present</td>
                		<td><input type="radio" name="$radioname" value="a">$brih_absent</td>
                		<td><input type="radio" name="$radioname" value="l" checked="checked">$brih_leave</td>
                		#end
			#else
                                <td>$!urecord.getPresent()</td>
                                <td>$!urecord.getAbsent()</td>
                                <td>$!urecord.getLeave()</td>
                        #end
                		<td>$!urecord.getCreateDate()</td>
                		#set($studattendlist="$studattendlist:$!radioname:$!urecord.getCreateDate()^")
                		#set($sno=$sno+1)
				
				##### set attendance status for calculate grand total of attendance ############
				
				#set($present=$present+$!urecord.getPresent())
                                #set($absent=$absent+$!urecord.getAbsent())
                                #set($leave=$leave+$!urecord.getLeave())

			</tr>
                #end
			######### Show total attendance ############
			#if($attendreport.size()>1)
			 <tr bgcolor="$ui.tableColor" align="center">
                                <td><b>Grand Total</td>
                                <td><font color="green"><b>Present ($present)</font></td>
                                <td><font color="dark red"><b>Absent ($absent)</font></td>
                                <td><font color="dark orange"><b>Leave ($leave)</font></td>
				 #set( $presentStatus = $present * 100 /$attendreport.size())
                                <td><font color="blue"> <b>Present ( $presentStatus % )</font></td>

                	</tr>
			#end
		#if($mode!="All")
		<tr bgcolor="$ui.menuColor">
                	<td colspan=5>
                		<INPUT TYPE="submit" class="button-ftextstyle" NAME="eventSubmit_doUpdate" VALUE="$brih_update" onClick="selectAll(document.frm,this);">
                		<INPUT TYPE="reset" class="button-ftextstyle" NAME="$brih_reset" >
                		<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doUpdate">
                		<INPUT TYPE="hidden" NAME="selectFileNames" VALUE="$studattendlist">
				<INPUT TYPE="hidden" NAME="loginName" VALUE="$loginName">
				<INPUT TYPE="hidden" NAME="group" VALUE="$course_id">
				<INPUT TYPE="hidden" NAME="mode" VALUE="update">
				<INPUT TYPE="hidden" NAME="date" VALUE="$searchdate">
				<input type="hidden" name="count" value="$tdcolor"/>
                	</td>
        	</tr>
		#end
        	</table>
		</form>
        	</div>
		#end
        	#if($status=="false" || $attendreport.size()==0)
        	<tr align="center" bgcolor="$ui.menuColor">
        	        <td><font color="red">$brih_norecord</font></td>
        	</tr>
        	#end
        </td>
</tr>
#end
####################### END of code ####################
</table>
</body>
###################### SCRIPT #######################
<SCRIPT LANGUAGE="javascript">
function selectAll(field)
{
	var rmFile,index,actualString,pre=0,next=0;
        actualString=document.frm.selectFileNames.value="$studattendlist";
        while( ( pre=actualString.indexOf("^",next) ) >=0 )
        {
        	var temp=actualString.substring(next,pre);
                next=pre+1;
                rmFile=document.frm.elements[temp].checked=false;
        }
        document.frm.selectFileNames.value="";
}
function checkOption (frm,field)
        {
                frm.val.value=document.frm.group.value;
                document.getElementById("btnSearch").click();
        }
function checkCourse (frm,field)
{
	var course = document.frm.group.value;
        if (course == "") {
        	alert(" you haven't select any course !!");
                return false;
	}
        else {
        	document.frm.submit();
       	}       
}  
</script>
############# END of SCRIPT ####################
