#*
 * @(#)StudentAttendance.vm
 * Copyright (c) 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified date: 02-08-2013,27-08-2013(Tej)
 * @author <a href="mailto:shaistashekh@gmail.com">Shaista</a>
 * @modified date: 30-08-2014
 * @Video help file added by 16 August 2013(omprakash) 
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Student Attendance Management")
$!data.getMessage()
<head>
	##### Video Help CSS ########
        <link type="text/css" href="$content.getURI("/scrpts/youtubeplugin/youtube_Helplink.css")" rel="stylesheet">
        <script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script

        ##### Video Help Java Script ########
        <script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.js")"></script>
        <script type="text/javascript" src="$content.getURI("/scrpts/youtubeplugin/brih_Helpvideo.js")"></script>
        <script type="text/javascript" src="$content.getURI("/scrpts/youtubeplugin/youtube_Helplink.js")"></script>
        <script type="text/javascript">
                $(function () {
                        $("a.youtube").YouTubePopup({ autoplay: 0 });
                });
        </script>

        #### DatePicker and Calender CSS ###    
        <link rel="stylesheet" href="$content.getURI("scrpts/css/ui.daterangepicker.css")" type="text/css" />
        <link rel="stylesheet" href="$content.getURI("scrpts/css/datepickr.css")" type="text/css" />
        <link rel="stylesheet" href="$content.getURI("scrpts/css/redmond/jquery-ui-1.7.1.custom.css")" type="text/css" title="ui-theme" />

        #### DatePicker and Calender Java Script #####  
        <script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.ui.min.js")"></script>
        <script type="text/javascript" src="$content.getURI("scrpts/jquery/js/daterangepicker.jQuery.js")"></script>
        <script type="text/javascript" src="$content.getURI("/scrpts/jquery/js/datepickr.js")"></script>
        <script type="text/javascript" src="$content.getURI("/scrpts/slimScroll.js")"></script>
        <script type="text/javascript">
                $(function(){
                        $("#scroll").slimScroll({
                                height: '470px',
                                disableFadeOut: true
                        });
                        $("#Calrange").daterangepicker({arrows:true});
                });
        </script>
	<style type="text/css">
                a.one:link,a.one:visited{
                        display:block;
                        font-size:14px;
                        color:#FFFFFF;
                        background-color:#98bf21;
                        width:140px;
                        text-align:center;
                        padding:4px;
                        text-decoration:none;

                }
                a.one:hover,a.one:active{
                        background-color:#7A991A;
                }

        </style>

</head>

<body>

<table width="100%" bgcolor="$ui.tableColor">
<tr bgcolor="$ui.menuColor">
	<td colspan=2><b>
	#if($data.getUser().getTemp("role") == "institute_admin")
		<a href=$link.setPage("Index.vm") style='text-decoration:none'>$brih_ad $brih_home | </a>
	#else
		<a href=$link.setPage("call,IndexHome.vm") style='text-decoration:none'>$brih_home</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style='text-decoration:none'>$course</a> |
	#end
	#if($data.getUser().getTemp("role") == "student")
	 <a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","All") style="text-decoration:none">$brih_attend $brih_mgmt </a> 
	#else
	 <a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style="text-decoration:none">$brih_attend $brih_mgmt </a> 
	#end
	#if($mode=="attend") | $brih_student $brih_attend #end
	#if($mode=="list") | $brih_attendence #end
	</td>
	 <td align="right">
	#if($data.getUser().getTemp("role") != "student")
         <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/AttendanceManagement.html","newWin"); style=text-decoration:none><font size=3>$brih_help</font></a>
	<a class="youtube" href="#" rel="$vid" style=text-decoration:none><font size="3">| $brih_VideoHelp</font></a></td>
 	#end
       </td>
</tr>
<tr bgcolor="$ui.menuColor" align="left">
#if(($data.getUser().getTemp("role") == "institute_admin") || ($data.getUser().getTemp("role") =="instructor") || ($data.getUser().getTemp("role") =="teacher_assistant"))
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        	<a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style="text-decoration:none">$brih_student $brih_attend</a> 
        </td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td  bgcolor="#AFDCEC">
        #end
        	<a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","2").addPathInfo("mode","list") style="text-decoration:none">$brih_attendence</a>
        </td>
        <td></td>
#else
	<td bgcolor="#AFDCEC">
      	<a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","2").addPathInfo("mode","list") style="text-decoration:none">$brih_attendence</a>
	</td>
#end
</tr>
</table>
<table width="100%" bgcolor="$ui.tableColor">
################## This code is written for student Attendance each day ##################

#if(($mode =="attend") || ($mode ==""))
<tr valign="top">
	<td><p><b>$brih_attend $brih_sheet : $!course</b></p>
                <form name="frm" method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table width="100%" align="center" border="1"bgcolor="$ui.menuColor" style="border-collapse:collapse; border:1px solid black;">
        	<tr align="left">
                	<td width="14%"><b> #if($lang == "marathi")$brih_Da $brih_select #else $brih_select $brih_Da #end : </b></td><td width="13%"><div style="width: 10px; font-size: 80%;"><input type="text" value="$currentdate" name="searchdate" id="datepick" class="button-ftextstyle" style="width:90px;"/></div></td>
			#if($data.getUser().getTemp("role") == "institute_admin")
                	<td align="center" width="52%"><b>$brih_course : </b> 
				#if($mode =="attend")
                			<select id="group_id" class="drop" name="group" size=1 onChange="checkOption(document.frm,this);" style="width:300px;"/>
					#if($!course_id != "")
                        		<option value="$course_id" style="width:275px;" title="$!course_id">$!course_id</option>
                        		#end
                        		<option value="" style="width:275px;" title="$brih_sel_course">$brih_sel_course</option>
                        		#foreach($name in $courseList)
                        		<option value="$name.getGroupName()" style="width:275px;" title="$name.getCAlias(): $name.getCourseName()-$name.getUserName()">$name.getCAlias(): $name.getCourseName()-$name.getUserName()</option>
                        		#end    
                        		</select>
                        		<input type="hidden" name="val"/>
					<input type="hidden" name="mode" value=""/>
					<input type="hidden" name="count" value="$tdcolor"/>
					<input type="hidden" name="actionName" value="eventSubmit_doSearch">
					<input type="submit" name="eventSubmit_doSearch" value="Search" id="btnSearch" style="visibility: hidden"/>
				#else
                                        <input type="text" value="$!courseAlias - $!course" title="$!courseAlias - $!course" class="input_button" readonly/>
                                #end
               		</td>   
               		 #else
			<td width="50%"><b>$brih_course : </b><input type="text" value="$!courseAlias - $!course" title="$!courseAlias - $!course" class="input_button" readonly/></td>
                	#end
			<td width="7%"><b>$brih_class : </b></td>
                        <td>
                                <input type="radio" name="class" value="regular" checked="checked"><font size=2>$brih_regular</font><br>
                                <input type="radio" name="class" value="extra"><font size=2>$brih_ext</font>
                        </td>

        	</tr>
        	</table>
        	<br>
		
	        #if(($status=="true") && ($studentlist.size()!=0))
		<div id="scroll" style="font-size: 85%;">
        	<table width="100%" align="center"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr bgcolor="$ui.menuColor" align="center">
			<th rowspan="2"><font size=3>$brih_serialNo</font></th>
                        <th colspan="3"><font size=3>$brih_student $brih_detail</font></th>
                        <th rowspan="2"><font size=3>$brih_attend</font></th>
                        <th rowspan="2"><font size=3>$brih_remark</th>
        	</tr>
		<tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="blue">$brih_rollno</font></td>
                        <td><font color="blue">$brih_name</font></td>
                        <td><font color="blue">$brih_email</font></td>
                </tr>
                #set($sno=1)
                #set($studattendlist="")
                	#foreach ($urecord in $studentlist)
                        	#if($velocityCount%2==0)
                                <tr bgcolor="$ui.menuColor">
                        	#else
                                <tr bgcolor="$ui.tableColor">
                       		#end        
                			<td align="center">$sno</td>
					<td>$!urecord.getRollNo()</td>
					<td> #if ($!urecord.getUserName() !=  $!urecord.getEmail()) $!urecord.getUserName() #end</td>
                			<td>$!urecord.getEmail()</td>
                			#set($radioname="attendance$sno")
                			#set($remark="remark$sno")
               				<td width="25%" align="center">
                        			<input type="radio" name="$radioname" value="p" checked="checked">$brih_present
                        			<input type="radio" name="$radioname" value="a">$brih_absent
                  			      	<input type="radio" name="$radioname" value="l">$brih_leave
               				</td>
                			<td align="center"><input name="$remark" type="text" value="" maxlength="500" size="10"/></td>
                			#set($studattendlist="$studattendlist:$!urecord.getLoginName():$!urecord.getEmail():$!radioname:$!remark^")
                			#set($sno=$sno+1)
                	#end
         			<tr bgcolor="$ui.menuColor">
                			<td colspan=6>
                			<INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doAttendance" VALUE="$brih_submit" onClick="CheckExpire(document.frm,this);">
                			<INPUT TYPE="reset" class="button-ftextstyle" VALUE="$brih_reset" NAME="$brih_reset" >
                			<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doAttendance">
                			<INPUT TYPE="hidden" NAME="selectFileNames" VALUE="$studattendlist">
					<input type="hidden" name="count" value="$tdcolor"/>
					<input type="hidden" name="group" value="$course_id"/>
                			</td>
        			</tr>
        	</table>
		</div>
		#end

		############ Set message status is false or student list is zero. ##############
                #if(($status=="false") && ($!course !="") && ($studentlist.size()==0))
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_noStudent</font></td>
                </tr>
                #elseif (($data.getUser().getTemp("role") == "institute_admin") && ($studentlist.size()==0)) 
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_attendSheet</font></td>
                </tr>
                #end
        	</form>
	</td>
</tr>
#end

####################### End of code for student attendance ################################

###############This code is written for getting student attendance report #################

#if($mode=="list")
<tr valign="top">
        <td><p><b>$brih_attendence :  
	#if($data.getUser().getTemp("role") == "student")
	 $!loginName
	#else
	 $!course
	#end
	</b></p>
        	<form name=frm method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table width="100%" align="center" bgcolor="$ui.menuColor"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr>
                	<td width="12%"><b>$brih_select $brih_Da : </b></td><td width="24%"><div style="width: 10px; font-size: 80%;"><input type="text" value="$currentdate" name="searchdate" id="Calrange" class="button-ftextstyle" /></div></td>
			#if($data.getUser().getTemp("role") == "institute_admin")
                	<td align="center" width="44%"><b>$brih_course : </b>
                        <select id="group_id" class="drop" name="group" size=1 style="width:300px;"/>
				#if($!course_id != "")
                        		<option value="$course_id" style="width:275px;" title="$!courseAlias - $!course">$!courseAlias - $!course</option>
                        	#end
                        		<option value="" style="width:275px;" title="$brih_sel_course">$brih_sel_course</option>
                        	#foreach($name in $courseList)
                        		<option value="$name.getGroupName()" style="width:275px;" title="$name.getCAlias(): $name.getCourseName()-$name.getUserName()">$name.getCAlias(): $name.getCourseName()-$name.getUserName()</option>
                        	#end    
                	</select>
                	</td>
                	#else
			<td align="center" width="44%"><b>$brih_course : </b><input type="text" name="group" value="$!courseAlias - $!course" title="$!courseAlias - $!course" class="input_button" readonly/></td>
                	#end
                	<td width="4%">
				<INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doSearch" VALUE="$brih_get $brih_attend" onClick="checkCourse(document.frm,this);">
				<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doSearch">
                		<INPUT TYPE="hidden" NAME="mode" VALUE="list">
				<input type="hidden" name="count" value="$tdcolor"/>
			</td>
        	</tr>
        	</table>
        	<br>
		#if($status=="true")
		<div id="scroll" style="font-size: 85%;">
        	<table  width="100%" align="center"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr bgcolor="$ui.menuColor" align="center">
                	<th rowspan="2"><font size=3>$brih_serialNo</font></th>
                	#if($data.getUser().getTemp("role") =="student")
                	<th colspan="3"><font size=3>$brih_attend $brih_status (<font color="blue"> $brih_total $brih_attend = $attendreport.size() $brih_day</font>)</th>
			<th rowspan="2"><font size=3>$brih_attend $brih_Da</font></th>
			#else
			<th colspan="3"><font size=3>$brih_student $brih_detail</font></th>
                        <th colspan="3"><font size=3>$brih_attend $brih_status <font color="blue">($brih_inday)</font></th>
                        <th width="20%" rowspan="2"><font size=3>$brih_availableAction</font></th>
                	#end
        	</tr>
		<tr align="center" bgcolor="$ui.menuColor">
			#if($data.getUser().getTemp("role") !="student")
                        <td><font color="blue">$brih_rollno</font></td>
                        <td><font color="blue">$brih_name</font></td>
                        <td><font color="blue">$brih_email</font></td>
                        #end
                	<td><font color="green">$brih_present</font></td>
                	<td><font color="dark red">$brih_absent</font></td>
                	<td><font color="dark orange">$brih_leave</font></td>
		</tr>
		## $allDetail is added by shaista
		#set($allDetail="") 
		#set($sno=1)
		#set($present=0)
                #set($absent=0)
                #set($leave=0)
	
                	#foreach ($urecord in $attendreport)
                       		#if($velocityCount%2==0)
                                <tr align="center" bgcolor="$ui.menuColor">
                      		#else
                                <tr align="center" bgcolor="$ui.tableColor">
                       		#end        
                			<td>$sno</td>
					#if($data.getUser().getTemp("role") == "student")
					<td>$!urecord.getPresent()</td>
                                        <td>$!urecord.getAbsent()</td>
                                        <td>$!urecord.getLeave()</td>
                                        <td>$!urecord.getCreateDate()</td>
					#else
					<td align="left">$!urecord.getRollNo()</td>
                                        <td align="left">$!urecord.getLoginName()</td>
                                        <td align="left">$!urecord.getEmail()</td>
                                        <td>$!urecord.getPresent()</td>
                                        <td>$!urecord.getAbsent()</td>
                                        <td>$!urecord.getLeave()</td>
                                        <td>
                                                <a href="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance").addPathInfo("actionName","eventSubmit_doSearch").addPathInfo("userid",$urecord.getUserId()).addPathInfo("count",$tdcolor).addPathInfo("mode","All").addPathInfo("group",$course_id)" style="text-decoration:none;"><font color="blue"> $brih_full $brih_attend</font> | </a>
                                                <a href="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance").addPathInfo("actionName","eventSubmit_doSearch").addPathInfo("userid",$urecord.getUserId()).addPathInfo("count",$tdcolor).addPathInfo("mode","update").addPathInfo("group",$course_id).addPathInfo("date",$encodedate)" style="text-decoration:none;" ><font color="blue"> $brih_update</font></a>
                                        </td>
					#set($allDetail ="${allDetail}${sno}-${urecord.getRollNo()}-${urecord.getLoginName()}-${urecord.getEmail()}-${urecord.getPresent()}-${urecord.getAbsent()}-${urecord.getLeave()}<br>")
					#end
                			#set($sno=$sno+1)
					
					######### Calculate grand total of attendance ############
					
					#set($present=$present+$!urecord.getPresent())
                                        #set($absent=$absent+$!urecord.getAbsent())
                                        #set($leave=$leave+$!urecord.getLeave())
				</tr>
                	#end
                	#if($allDetail != "")
                		<table width="100%" valign="top" bgcolor="$ui.menuColor">
                                        <tr><td><input type="hidden" name="allDetail" value="$allDetail">
					 ##Below line for print the Details
					  <tr><td colspan="2"><a class="one" href=javascript:(popupWin1("newWin"))> #if( $data.getUser().getTemp("lang").toString() == "english") $brih_print $brih_student $brih_detail #else $brih_student $brih_Of $brih_detail $brih_print #end </a></td></tr>
                                        </td></tr>
                                </table>
                        #end

				######### Show total attendance ############
			
				#if(($data.getUser().getTemp("role") == "student") && ($attendreport.size()>1))
                                <tr align="center">
                                <td><b>$brih_grand</td>
                                <td><font color="green"><b>$brih_present ( $present )</font></td>
                                <td><font color="dark red"><b>$brih_absent ( $absent )</font></td>
                                <td><font color="dark orange"><b>$brih_leave ( $leave )</font></td>
				#set( $presentStatus = $present * 100 /$attendreport.size())
                                <td><font color="blue"> <b>$brih_present ( $presentStatus % )</font></td>
                                </tr>
                                #end
        	</table>
		</div>
		#end
		#if(($course!="") && ($status=="false"))
                <tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="red">$brih_norecord</font></td>
                </tr>
                #end
        	</form>
	</td>
</tr>
#end

############################End of Code ######################################

############## This code is written for updation of attendance ###############

#if($mode=="update" || $mode=="updatelist" || $mode=="All")
<tr valign="top">
        <td><p><b>$brih_attend #if($mode=="All") $brih_status #else $brih_updation #end : $loginName</b></p>
        	<form name="frm" method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table width="100%" align="center" bgcolor="$ui.menuColor"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr>
                	<td width="12%"><b>$brih_select $brih_Da : </b></td>
			<td width="20%">
			<div style="width: 10px; font-size: 80%;">
			#if($mode=="All")
                        	<input type="text" value="$currentdate" name="searchdate" id="Calrange" class="button-ftextstyle" />
                        #else
                        	<input type="text" value="$searchdate" name="searchdate" id="Calrange" class="button-ftextstyle" />
                        #end
                        </div>
                        </td>
			<td width="40%"><b>$brih_course : </b><input type="text" value="$!courseAlias - $!course" title="$!courseAlias - $!course" class="input_button" readonly/></td>
                	<td width="10%">
                		<INPUT TYPE="submit" class="button-ftextstyle" NAME="eventSubmit_doSearch" VALUE="$brih_attend">
				<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doSearch">
				 #if($mode=="All")
                                <INPUT TYPE="hidden" NAME="mode" VALUE="$mode">
                                #else
                                <INPUT TYPE="hidden" NAME="mode" VALUE="updatelist">
                                #end
                		<INPUT TYPE="hidden" NAME="loginName" VALUE="$loginName">
				<INPUT TYPE="hidden" NAME="group" VALUE="$course_id">
				<input type="hidden" name="count" value="$tdcolor"/>
                	</td>
        	</tr>
        	</table>
		</form>
        	<br>
		#if(($status=="true") && ($attendreport.size()!=0) && ($mode=="updatelist" || $mode=="update" || $mode=="All" ))
        	<div id="scroll" style="font-size: 85%;">
        	<form name=frm method="post" action="$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").setAction("StudentAttendance")">
        	<table  width="100%" align="center"  border="1" style="border-collapse:collapse; border:1px solid black;">
        	<tr bgcolor="$ui.menuColor" align="center">
                	<th rowspan="2" width="10%"><font size=3>$brih_serialNo</font></th>
                	<th colspan="3"><font size=3>$brih_attend $brih_status (<font color="blue"> $brih_total $brih_attend = $attendreport.size() $brih_day</font>)</th>
                	<th rowspan="2" width="20%"><font size=3>$brih_attend $brih_Da</font></th>
			<th rowspan="2"><font size=3>$brih_class</font></th>
        	</tr>
		<tr align="center" bgcolor="$ui.menuColor">
                        <td><font color="green">$brih_present ($brih_inday)</font></td>
                        <td><font color="dark red">$brih_absent ($brih_inday)</font></td>
                        <td><font color="dark orange">$brih_leave ($brih_inday)</font></td>
                </tr>

                #set($sno=1)
		#set($present=0)
                #set($absent=0)
                #set($leave=0)

                #set($studattendlist="")
                #foreach ($urecord in $attendreport)
                	#if($velocityCount%2==0)
                      	<tr align="center" bgcolor="$ui.menuColor">
                       	#else
                       	<tr align="center" bgcolor="$ui.tableColor">
                       	#end        
                		<td>$sno</td>
                	## get name of User
                	#set($radioname="attendance$sno")
			#if($mode!="All")
                		#if($!urecord.getPresent()==1)
                		<td><input type="radio" name="$radioname" value="p" checked="checked">$brih_present</td>
                		<td><input type="radio" name="$radioname" value="a">$brih_absent</td>
                		<td><input type="radio" name="$radioname" value="l">$brih_leave</td>
                		#elseif($!urecord.getAbsent()==1)
                		<td><input type="radio" name="$radioname" value="p" >$brih_present</td>
                		<td><input type="radio" name="$radioname" value="a" checked="checked">$brih_absent</td>
                		<td><input type="radio" name="$radioname" value="l">$brih_leave</td>
                		#else
                		<td><input type="radio" name="$radioname" value="p" >$brih_present</td>
                		<td><input type="radio" name="$radioname" value="a">$brih_absent</td>
                		<td><input type="radio" name="$radioname" value="l" checked="checked">$brih_leave</td>
                		#end
			#else
                                <td>$!urecord.getPresent()</td>
                                <td>$!urecord.getAbsent()</td>
                                <td>$!urecord.getLeave()</td>
                        #end
                		<td>$!urecord.getCreateDate()</td>
				<td #if($!urecord.getRemarks()!="") style="cursor:pointer;" #end title="$!urecord.getRemarks()"> #if ($!urecord.getClassType()== "extra") <font color="dark orange"> $brih_ext </font> #else  <font color="green">$brih_regular </font> #end</td>

                                #if($!urecord.getStudAttendKey()!="")
                                        #set($attendKey=$!urecord.getStudAttendKey())
                                #else
                                        #set($attendKey="null")
                                #end

                		#set($studattendlist="$studattendlist:$!radioname:$!urecord.getCreateDate():$attendKey^")
                		#set($sno=$sno+1)
				
				##### set attendance status for calculate grand total of attendance ############
				
				#set($present=$present+$!urecord.getPresent())
                                #set($absent=$absent+$!urecord.getAbsent())
                                #set($leave=$leave+$!urecord.getLeave())

			</tr>
                #end
			######### Show total attendance ############
			#if($attendreport.size()>1)
			<tr bgcolor="$ui.tableColor" align="center">
				<td><b>$brih_grand</td>
                                <td><font color="green"><b>$brih_present ( $present )</font></td>
                                <td><font color="dark red"><b>$brih_absent ( $absent )</font></td>
                                <td><font color="dark orange"><b>$brih_leave ( $leave )</font></td>
                                #set( $presentStatus = $present * 100 /$attendreport.size())
                                <td colspan='2'><font color="blue"> <b>$brih_present ( $presentStatus % )</font></td>
                	</tr>
			#end
		#if($mode!="All")
		<tr bgcolor="$ui.menuColor">
                	<td colspan=6>
                		<INPUT TYPE="submit" class="button-ftextstyle" NAME="eventSubmit_doUpdate" VALUE="$brih_update">
                		<INPUT TYPE="reset" class="button-ftextstyle" NAME="$brih_reset" VALUE="$brih_reset">
                		<INPUT TYPE="hidden" NAME="actionName" value="eventSubmit_doUpdate">
                		<INPUT TYPE="hidden" NAME="selectFileNames" VALUE="$studattendlist">
				<INPUT TYPE="hidden" NAME="loginName" VALUE="$loginName">
				<INPUT TYPE="hidden" NAME="group" VALUE="$course_id">
				<INPUT TYPE="hidden" NAME="mode" VALUE="update">
				<INPUT TYPE="hidden" NAME="date" VALUE="$searchdate">
				<input type="hidden" name="count" value="$tdcolor"/>
                	</td>
        	</tr>
		#end
        	</table>
		</form>
        	</div>
		#end
        	#if($status=="false" || $attendreport.size()==0)
        	<tr align="center" bgcolor="$ui.menuColor">
        	        <td><font color="red">$brih_norecord</font></td>
        	</tr>
        	#end
        </td>
</tr>
#end
####################### END of code ####################
</table>
</body>
###################### SCRIPT #######################
<SCRIPT LANGUAGE="javascript">

new datepickr("datepick", {
        "dateFormat": "d/m/y"
});

function CheckExpire(frm,field)
{
	var currdate = new Date()
	var day = currdate.getDate()
	var month = currdate.getMonth() + 1
	var year = currdate.getFullYear()
	var currentdate=(month + "/" + day + "/" + year)

	var userdate1 = document.frm.searchdate.value;
	var arr = userdate1.split("/");
	var day1= arr[0]
	var month1= arr[1]
	var year1= arr[2]

	var userdate =(month1 + "/" + day1 + "/" + year1)

	var date1=currentdate.replace(/-/g,"/"); 	// this line is for if date format is in hyphen like  2013-12-12 00:00:00
	var date2=userdate.replace(/-/g,"/"); 		// this line is for if date format is in hyphen like  2013-12-12 00:00:00
	
	var date_ini = new Date(date1).getTime();
	var date_end = new Date(date2).getTime();

	if(date_end > date_ini) {
    		alert("Future attendance not allowed !!");
		return false;
	}
	else {
		document.frm.submit();
	}
}

function checkOption (frm,field)
{
  	frm.val.value=document.frm.group.value;
        document.getElementById("btnSearch").click();
}
function checkCourse (frm,field){
	var course = document.frm.group.value;
        if (course == "") {
        	alert(" you haven't select any course !!");
                return false;
	}
        else {
        	document.frm.submit();
       	}       
}
function popupWin1(popupName) {
	var x = document.getElementsByName('allDetail');
        var col_array=x[0].value.split("<br>");
        //alert("col_array[]="+col_array);
        Win1=window.open('',popupName,"scrollbars=1,resizable,height=200,width=400");
        var tmp = Win1.document;
        tmp.write('<html><head><title>Task List</title>');
        tmp.write('<body bgcolor="$ui.tableColor"></head>');
        tmp.write('<table width="100%"><tr><td colspan="2"</td>');
        tmp.write('<tr bgcolor="$ui.menuColor">');
        tmp.write('<th rowspan="2"><font size=3>S.No.</font></th>');
        tmp.write('<th colspan="3"><font size=3>Student Details</font></th>');
        tmp.write('<th colspan="3"><font size=3>Attendance  Status <font color="blue">(In days)</font></th>');
	tmp.write('<tr bgcolor="$ui.menuColor">');
        tmp.write('<td><font color="blue">Roll No</font></td>');
        tmp.write('<td><font color="blue">Name</font></td>');
        tmp.write('<td><font color="blue">Email </font></td>');
        tmp.write('<td><font color="green">Present</font></td>');
        tmp.write('<td><font color="dark red">Absent</font></td>');
        tmp.write('<td><font color="dark orange">Leave</font></td>');
        tmp.write('</tr>');

        var value=2;
        for (var i=0;i<col_array.length;i++) {
        	//alert("col_array[i]="+col_array[i]);
                if(value%2 == 0){
                        tmp.write('<tr bgcolor="$ui.tableColor" >');
		}else {
                	tmp.write('<tr bgcolor="$ui.menuColor" >');
		}
                var tmpColArray = col_array[i].split("-")
                //alert("tmpColArray.length=="+tmpColArray.length);
                for (var j=0; j<tmpColArray.length; j++) {
                	//alert('tmpColArray=='+tmpColArray[j]);
                        tmp.write('<td>'+tmpColArray[j]+'</td>');
		}
                tmp.write('</tr>');
                value++;
	}
        tmp.write('</td></tr></table>');
        tmp.write('<p><a href="javascript:self.print()">Print</a> &nbsp;&nbsp;&nbsp;<a href="javascript:self.close()">Close</a> window</p>');
        tmp.write('</body></html>');
}
  
</script>
############# END of SCRIPT ####################
