#*
 * @(#) MapProgram.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("MapProgram")

$page.setBgColor($ui.bgcolor)
<body> 
#set($lang = $data.getUser().getTemp("lang").toString())
## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which
## was set in corresponding screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())
##creating link for Admin's home & Program Management
<table  bgcolor="$ui.tableColor" width=100%>
        <tr bgcolor="$ui.menuColor">
                <td>
                <font face="$ui.sansSerifFonts">
                <a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
                <a href=$link.setPage("call,Program,MapProgram.vm").addPathInfo("count","1") style=text-decoration:none>$brih_program $brih_mgmt</a> |$brih_map $brih_program
                </td>
        </tr>
</table> ##table close
##form created 
<form name="frm" method="Post" action="$link.setPage("call,Program,MapProgram.vm").setAction("AddProgram")">
<table  bgcolor="$ui.tableColor" width=100%>
        <tr>
	#if($tdcolor != "1")
		<td>
	#elseif($tdcolor == "1")
		<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Program,MapProgram.vm").addPathInfo("count","1") style=text-decoration:none> $brih_map $brih_program </a></td>
	#if($tdcolor != "2")
		<td align="center">
	#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Program,AddProgram.vm").addPathInfo("count","2") style=text-decoration:none> #if($lang == "hindi") $brih_program $brih_add  #else $brih_add $brih_program #end </a></td>
	#if($tdcolor != "3")
		<td>
	#elseif($tdcolor == "3")
		<td bgcolor="#AFDCEC">
	#end
		<a href=$link.setPage("call,Program,ProgramList.vm").addPathInfo("count","3") style=text-decoration:none>$brih_program $brih_list </a></td>
	</tr>
</table>
<table bgcolor="$ui.tableColor" width=100%>
        <tr bgcolor="$ui.menuColor">
        <td width=5%>$brih_select
        </td>
        <td colspan=2><b>$brih_program $brih_name<b></td>
        </tr>
	#set($flag=false)
	#set( $count = "" )
	##Get program list
	#foreach($program in $prgList)
		#if($velocityCount%2==0)
			<tr bgcolor="$ui.menuColor">
		#else
			<tr bgcolor="$ui.tableColor">
		#end
		##Get Institute program list
		#foreach($InstProgram in $InstprgList)
			##check institute program code with Program list code
			##if match it shows, this institute already have program
			##then set flag true
			#if(("$InstProgram.ProgramCode")==("$program.ProgramCode"))
				#set($flag=true)
			#end	
		#end
		##If flag true then disable that check box 
		#if($flag)
			<td><INPUT TYPE="CHECKBOX" NAME=$!program.getProgramCode() onClick="addSelectedList(this,document.frm);" DISABLED></td>
		        <td colspan=2>$program.getProgramName()</td>
			#set($flag=false)
		#else
			<td><INPUT TYPE="CHECKBOX" NAME=$!program.getProgramCode() onClick="addSelectedList(this,document.frm);" ></td>
                        <td colspan=2>$program.getProgramName()</td>
		#end
	#end
	#set ( $count = "$count$!program.getProgramCode()^"  )
	</tr>
        <tr bgcolor="$ui.menuColor">
                <td colspan=3>
                        <INPUT TYPE="button" NAME="eventSubmit_doSelect" VALUE="$brih_submit" onClick="checkValue(document.frm,this);">
			<INPUT TYPE="hidden" NAME="selectFileNames" VALUE="">
                        <INPUT TYPE="hidden" NAME="actionName" VALUE="">
                </td>
        </tr>
	</table>
<SCRIPT LANGUAGE="javascript">
function checkValue(frm,field)
{
        if(frm.selectFileNames.value!="")
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
        {
                alert("Please Select check box for Program Name !!");
        }
}
function addSelectedList(field,frm)
{
if(field.checked)
{
frm.selectFileNames.value=frm.selectFileNames.value+field.name+"^";
}
                else
                {
                        var slFile,index,actualString,preString,postString;
                        actualString=frm.selectFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.selectFileNames.value=actualString;
                }
}
</SCRIPT>

