/* 
    Document   : components
    Created on : Jul 14, 2010, 12:41:32 PM
    Author     : Algox
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.fields{

    background-color: #9AAEDB;
    border-color: tomato;
    font-size: 12px;
    
}

