<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
version="2.5">

<display-name>National Faculty Expertise System</display-name>
   
       <!--
         - Location of the XML file that defines the root application context
         - Applied by ContextLoaderListener.
         -->
       <context-param>
           <param-name>contextConfigLocation</param-name>
           <param-value>/WEB-INF/spring-security.xml</param-value>
       </context-param>
       
       <context-param>
            <param-name>log4jConfigLocation</param-name>
            <param-value>/WEB-INF/classes/log4j.properties</param-value>
       </context-param>
   
   
       <filter>
           <filter-name>springSecurityFilterChain</filter-name>
           <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
       </filter>
   
       <filter-mapping>
         <filter-name>springSecurityFilterChain</filter-name>
         <url-pattern>/*</url-pattern>
       </filter-mapping>
       
       
       <listener>
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
       </listener>
         
       <!--
       - Publishes events for session creation and destruction through the application
       - context. Optional unless concurrent session control is being used.
       -->
       
       <listener>
         <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
       </listener>
           
       <!-- -->
       <listener>
         <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
       </listener>
       
    
<servlet>
<servlet-name>StaffProfileServlet</servlet-name>
<servlet-class>com.erp.nfes.StaffProfileServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StaffProfileServlet</servlet-name>
<url-pattern>/StaffProfileServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UploadFiles</servlet-name>
<servlet-class>com.erp.nfes.UploadFiles</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UploadFiles</servlet-name>
<url-pattern>/UploadFiles</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DownloadFile</servlet-name>
<servlet-class>com.erp.nfes.DownloadFile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DownloadFile</servlet-name>
<url-pattern>/DownloadFile</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteUploadedFile</servlet-name>
<servlet-class>com.erp.nfes.DeleteUploadedFile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteUploadedFile</servlet-name>
<url-pattern>/DeleteUploadedFile</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserCreationServlet</servlet-name>
<servlet-class>com.erp.nfes.UserCreationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserCreationServlet</servlet-name>
<url-pattern>/UserCreationServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ProfileActivationServlet</servlet-name>
<servlet-class>com.erp.nfes.ProfileActivationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProfileActivationServlet</servlet-name>
<url-pattern>/ProfileActivationServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ResetPasswordController</servlet-name>
<servlet-class>com.erp.nfes.ResetPasswordController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ResetPasswordController</servlet-name>
<url-pattern>/ResetPasswordController</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ChangePasswordServlet</servlet-name>
<servlet-class>com.erp.nfes.ChangePasswordServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChangePasswordServlet</servlet-name>
<url-pattern>/ChangePasswordServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RoleAssignServlet</servlet-name>
<servlet-class>com.erp.nfes.RoleAssignServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RoleAssignServlet</servlet-name>
<url-pattern>/RoleAssignServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GetImageServlet</servlet-name>
<servlet-class>com.erp.nfes.GetImageServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetImageServlet</servlet-name>
<url-pattern>/GetImageServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CourseTaught</servlet-name>
<servlet-class>com.erp.nfes.CourseTaught</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CourseTaught</servlet-name>
<url-pattern>/CourseTaught</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MasterTables</servlet-name>
<servlet-class>com.erp.nfes.MasterTables</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MasterTables</servlet-name>
<url-pattern>/MasterTables</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SearchFaculty</servlet-name>
<servlet-class>com.erp.nfes.SearchFaculty</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SearchFaculty</servlet-name>
<url-pattern>/SearchFaculty</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAdvanceSearch</servlet-name>
<servlet-class>com.erp.nfes.FacultyAdvanceSearch</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FacultyAdvanceSearch</servlet-name>
<url-pattern>/FacultyAdvanceSearch</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ApprovalServlet</servlet-name>
<servlet-class>com.erp.nfes.ApprovalServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ApprovalServlet</servlet-name>
<url-pattern>/ApprovalServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReportsServlet</servlet-name>
<servlet-class>com.erp.nfes.ReportsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReportsServlet</servlet-name>
<url-pattern>/ReportsServlet</url-pattern>
</servlet-mapping>

<servlet>
<description>
</description>
<display-name>ProfileCreationActivationServlet</display-name>
<servlet-name>ProfileCreationActivationServlet</servlet-name>
<servlet-class>com.erp.nfes.ProfileCreationActivationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProfileCreationActivationServlet</servlet-name>
<url-pattern>/ProfileCreationActivationServlet</url-pattern>
</servlet-mapping>

<servlet>
<description>
</description>
<display-name>RecordTypeSettingServlet</display-name>
<servlet-name>RecordTypeSettingServlet</servlet-name>
<servlet-class>com.erp.nfes.RecordTypeSettingServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RecordTypeSettingServlet</servlet-name>
<url-pattern>/RecordTypeSettingServlet</url-pattern>
</servlet-mapping>

<servlet>
<description>
</description>
<display-name>AddEventsServlet</display-name>
<servlet-name>AddEventsServlet</servlet-name>
<servlet-class>com.erp.nfes.AddEventsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddEventsServlet</servlet-name>
<url-pattern>/AddEventsServlet</url-pattern>
</servlet-mapping>


<servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.erp.nfes.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>CreateXMLFileServlet</display-name>
    <servlet-name>CreateXMLFileServlet</servlet-name>
    <servlet-class>com.erp.nfes.CreateXMLFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateXMLFileServlet</servlet-name>
    <url-pattern>/CreateXMLFileServlet</url-pattern>
  </servlet-mapping>

<servlet>
<description></description>
<display-name>GetAjaxResponse</display-name>
<servlet-name>GetAjaxResponse</servlet-name>
<servlet-class>com.erp.nfes.GetAjaxResponse</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetAjaxResponse</servlet-name>
<url-pattern>/GetAjaxResponse</url-pattern>
</servlet-mapping>


<servlet>
    <description></description>
    <display-name>InstitutionTransfer</display-name>
    <servlet-name>InstitutionTransfer</servlet-name>
    <servlet-class>com.erp.nfes.InstitutionTransfer</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>InstitutionTransfer</servlet-name>
    <url-pattern>/InstitutionTransfer</url-pattern>
</servlet-mapping>

<servlet>
    <description></description>
    <display-name>CreateWebpageServlet</display-name>
    <servlet-name>CreateWebpageServlet</servlet-name>
    <servlet-class>com.erp.nfes.CreateWebpageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CreateWebpageServlet</servlet-name>
    <url-pattern>/CreateWebpageServlet</url-pattern>
</servlet-mapping>


<servlet>
    <description></description>
    <display-name>URLTranslater</display-name>
    <servlet-name>URLTranslater</servlet-name>
    <servlet-class>com.erp.nfes.URLTranslater</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>URLTranslater</servlet-name>
    <url-pattern>/webpage/*</url-pattern>
</servlet-mapping>
  

    
<welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
</welcome-file-list>


<error-page>
	<exception-type>java.lang.NullPointerException</exception-type>
	<location>/error_page.jsp?errmsg=java.lang.NullPointerException</location>
</error-page>
<error-page>
	<exception-type>java.lang.NumberFormatException</exception-type>
	<location>/error_page.jsp?errmsg=java.lang.NumberFormatException</location>
</error-page>

</web-app>
