#*
 * @(#)directory.vm
 * Copyright (c) 2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author<a href="mailto:vipulk@iitk.ac.in">Vipul Kumar Pal</a>
 * @modified date: 11-06-2012 (vipul kumar pal)
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#

<head><title>Directory</title></head>
<link rel="stylesheet" type="text/css" href="css/profile_css.css" />

<body>
	<p><font color="red">$!{model.ErrorMsg}</font><p>
	<form name="frm" method="post" action="http://${model.ip}:${model.port}/brihaspatiSpring/directory.vm?mode=${model.mod}&adminconf=${model.AdminConf}">
	<table width="100%" bgcolor="#efe3b5" border="0" cellspacing="2" cellpadding="5">
	<tr>
		<td align="right" width="120px"><b><font size="4">Search By</font></b></td>
		<td><select name="querylist" value="">
			<option value="name">Name</option>
			<option value="mailid">Mail ID</option>
			<option value="address">Address</option>
			<option value="department">Department</option>
		</select></td>
		<td align="right" width="150px"><b><font size="4">Match String</font></b></td>
		<td width="70px"><input type="text" name="matchstring" value="">
		</td><td><input title="Search" type="image" src="images/Search.png" width="30" height="30"name="Search" value="Search" onClick="checkNull(document.frm,this);"></td><td>
		<input type="hidden" name="crt" value="Search">
		<input type="hidden" name="instid" value="${model.instid}">
		<input type="hidden" name="uid" value="${model.uid}">
		</td>
		<td><a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&instid=${model.instid}&uid=${model.uid}" ><image title="Show" src="images/Show.png"/> </a></td>
        

		<td width="150px" align="right">
	#if( ${model.total_size}!=0 )
        #if( ${model.endIndex} < ${model.total_size} )
                #if( ${model.endIndex} < ${model.AdminConf} )
                        [${model.k} - ${model.total_size}] of ${model.total_size} 
                #else
                        [${model.k} - ${model.endIndex}] of ${model.total_size} 
                #end
        #else
                [${model.k} - ${model.total_size}] of ${model.total_size} 
        #end
        #end
</td>
	</tr>
	</table>
	<table width="100%" bgcolor="#f7f3de" border="1" cellspacing="2" cellpadding="5" border-color="c6bfbf">
	<tr bgcolor="#efe3b5" class="adv"><b>
		<td>ID</td>
		<td>NAME</td>
		<td>MAIL-ID</td>
		<td>ADDRESS</td>
		<td>OFFICE NO</td>
		<td>MOBILE NO</td>
		<td>HOME NO</td>
		<td>OTHER NO</td>
		<td>DEPARTMENT</td>
		<td>DESIGNATION</td>
		<td>STATE</td></b>
	</tr>
#foreach ($value in ${model.dirList})
	<tr title="On Contact Number 'x' Denote Absence of Country code, State Code or Number" class="ad">
		<td>$!value.getId() </td> 
		<td>$!value.getName()</td> 
		<td>$!value.getMailId()</td> 
		<td>$!value.getAddress()</td>
		<td>$!{value.getOfficeNo()}</td>
		<td>$!{value.getMobileNo()}</td>
		<td>$!{value.getHomeNo()}</td>
		<td>$!{value.getOtherNo()}</td>
		<td>$!{value.getDepartment()}</td>
		<td>$!{value.getDesignation()}</td>
		<td>$!{value.getState()}</td>
	</tr>
#end
	</table>
	<table width="100%"><tr><td bgcolor="#efe3b5">
	#if(${model.crt}=="null")
	#if(${model.total_size}<= ${model.AdminConf})
        <img title="First" src="images/First_blank.png" width="35" height="25"> &nbsp;
        <img title="Previous" src="images/Previous_blank.png" width="35" height="25"> &nbsp;
        <img title="Next" src="images/Next_blank.png" width="35" height="25"> &nbsp;
        <img title="Last" src="images/Last_blank.png" width="35" height="25"> &nbsp;
        #elseif(${model.startIndex}== ${model.AdminConf_str})
        <img title="First" src="images/First_blank.png" width="35" height="25"> &nbsp;
        <img title="Previous" src="images/Previous_blank.png" width="35" height="25"> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.startIndex}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Next" src="images/Next.png" width="35" height="25"></a> &nbsp;
	<a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.check_last}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Last" src="images/Last.png" width="35" height="25"></a> &nbsp;
        #elseif(${model.endIndex} == ${model.total_size} || ${model.endIndex} > ${model.total_size})
	<a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.check_first}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="First" src="images/First.png" width="35" height="25"></a> &nbsp;
	<a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.check_pre}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Previous" src="images/Previous.png" width="35" height="25"></a> &nbsp;
        <img title="Next" src="images/Next_blank.png" width="35" height="25"> &nbsp;
        <img title="Last" src="images/Last_blank.png" width="35" height="25"> &nbsp;
         #else
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.check_first}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="First" src="images/First.png" width="35" height="25"></a> &nbsp;
	<a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.check_pre}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Previous" src="images/Previous.png" width="35" height="25"></a> &nbsp;
	<a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.startIndex}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Next" src="images/Next.png" width="35" height="25"></a> &nbsp;
	<a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&adminconf=${model.AdminConf}&startIndex=${model.check_last}&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Last" src="images/Last.png" width="35" height="25"></a> &nbsp;
	#end
	#else
	#if(${model.total_size}<= ${model.AdminConf})
	<img title="First" src="images/First_blank.png" width="35" height="25"> &nbsp;
        <img title="Next" src="images/Next_blank.png" width="35" height="25"> &nbsp;
        <img title="Previous" src="images/Previous_blank.png" width="35" height="25"> &nbsp;
        <img title="Last" src="images/Last_blank.png" width="35" height="25"> &nbsp;
        #elseif(${model.startIndex}== ${model.AdminConf_str})
	<img title="First" src="images/First_blank.png" width="35" height="25"> &nbsp;
        <img title="Previous" src="images/Previous_blank.png" width="35" height="25"> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.startIndex}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Next" src="images/Next.png" width="35" height="25"></a> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.check_last}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Last" src="images/Last.png" width="35" height="25"></a> &nbsp;
        #elseif(${model.endIndex} == ${model.total_size} || ${model.endIndex} > ${model.total_size})
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.check_first}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="First" src="images/First.png" width="35" height="25"></a> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.check_pre}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Previous" src="images/Previous.png" width="35" height="25"></a> &nbsp;
        <img title="Next" src="images/Next_blank.png" width="35" height="25"> &nbsp;
        <img src="images/Last_blank.png" width="35" height="25"> &nbsp;
         #else
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.check_first}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="First" src="images/First.png" width="35" height="25"></a> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.check_pre}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Previous" src="images/Previous.png" width="35" height="25"></a> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.startIndex}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Next" src="images/Next.png" width="35" height="25"></a> &nbsp;
        <a href="#springUrl("/directory.vm")?mode=${model.mod}&ip=${model.ip}&startIndex=${model.check_last}&adminconf=${model.AdminConf}&querylist=${model.query}&matchstring=${model.match}&crt=Search&instid=${model.instid}&uid=${model.uid}" style="text-decoration:none"><img title="Last" src="images/Last.png" width="35" height="25"></a> &nbsp;

     #end
    #end

</td></tr></table>
<input type="hidden" name="ip" value="${model.ip}">

</form>
</body>

<SCRIPT language="JavaScript">
        function checkNull(frm,field){
                if(frm.matchstring.value!=""){
			window.location.href='#springUrl("/directory.vm")?mode=${model.mod}&adminconf=${model.AdminConf}&ip=${model.ip}'
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }
function MouseEvents(objRef, evt) {
    if (evt.type == "mouseover") {
        objRef.className = "tr";
    } else {
        objRef.className = "ad";
    }
}


</SCRIPT>

