#*InsAdmin_MakeGraph.vm
 * Copyright (c) 2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 *  @author <a href="mailto:smita37uiet@gmail.com">Smita Pal</a>
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$!data.getMessage()

<html>
        <head>

                 <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
                <script type="text/javascript" src="/brihaspati2/scrpts/dygraph-dev.js"></script>
                ##<script type="text/javascript" src="/brihaspati2/scrpts/CommonScripts/CommonScript.js")"></script>
        </head>
#if($valuestr!=" ")
        <body onload="graph()">
#else
        <body>
#end

<table bgcolor="$ui.menuColor" width=100%>
                <tr align="right">
                        <td><b>
                        <font face="$ui.sansSerifFonts">
                        <a href=$link.setPage("call,InstituteAdmin.vm")>$brih_home</a> |
                         <a href=$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("count","1") style=text-decoration:none> $Repo_browser $brih_statistics</a>
                        </td>
              </tr>
        </table>
 <form name="frm" method="post">
        <table width="100%">
                <tr bgcolor="$ui.tableColor" align="right">
                        ##<td colspan="1">
	#if($userList.size()!=0)
                        <td colspan="1">
		#if(($mode=="cinfo") && ($cname!=""))
			<select name="uname2" id="u2" size="1" onChange="Changename(document.frm,this);"/>
			#if($studname!="")
                               <option>$studname </option>
                	 #else
                                <option>  - $brih_student $brih_Of1 $brih_name - </option>
                       	 #end
			 #foreach($studlist in $userList)
				#if($studname!=$studlist)
                                <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studlist)">$studlist
				#end
				</option>
			#end
			</select>
			$brih_student $brih_Of1  $brih_name $brih_select
		#end
		</td>
	#end		
                        <td colspan="1" align="right">
                        <select name="uname1" id="u1" size="1" onChange="Changename(document.frm,this);"/>
			#if($cname!="")
                                <option>$coursename</option>
                        #else
                                <option>  - $brih_course $brih_Of1 $brih_name - </option>
                        #end
                        #foreach($cnamelist in $courseList)
                                #if($cname!=$cnamelist.getGroupName())
                                <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cnamelist.getGroupName())">$cnamelist.getCourseName()
                                #end    
                                </option>
                        #end

			</select>
                        $brih_course $brih_Of1 $brih_name $brih_select
			</td>
		</tr>
		<tr bgcolor="$ui.menuColor" align="right">
			<td colspan="2">
	#if($ModuleList.size()!=0)
		#if(($mode=="cinfo") && ($studname!="") && ($mname!=""))
			<select name="uname4" id="u4" size="1" onChange="Changename(document.frm,this);"/>
			#if($value!="")
                                <option>$value </option>
	                #else
                               <option> - $brih_days $brih_value - </option>
        	        #end
			 #if($value!="7")
                        	    <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("mname",$mname).addPathInfo("value","7")">7 </option>
                        #end
                        #if($value!="15")
                                <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("mname",$mname).addPathInfo("value","15")">15</option>
                        #end
                        #if($value!="30")
                                <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("mname",$mname).addPathInfo("value","30")">30</option>
                        #end

			</select>
			$brih_days $brih_select
		#end
			
	#else
		#if(($mode=="cinfo") && ($studname!=""))
                                <select name="uname4" id="u4" size="1" onChange="Changename(document.frm,this);"/>
                                #if($value!="")
                                <option>$value </option>
                                #else
                                <option> - $brih_days $brih_value - </option>
                                #end
                                 #if($value!="7")
                	                <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("value","7")">7 </option>
                        	#end
                        	#if($value!="15")
                                	<option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("value","15")">15</option>
                        	#end
                        	#if($value!="30")
                                	<option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("value","30")">30</option>
                        	#end

                                </select>
                                $brih_days $brih_select
                     #end

	#end
	#if($ModuleList.size()!=0)
		#if(($mode=="cinfo") && ($studname!=""))
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <select name="uname3" id="u3" size="1" onChange="Changename(document.frm,this);"/>
                         #if($mname!="")
                                <option>$mname </option>
                         #else
                                <option>  - $brih_module $brih_Of1 $brih_name - </option>
                         #end
                         #foreach($Modulelist in $ModuleList)
				#if($mname!=$Modulelist)
                                <option value="$link.setPage("call,Browser_Statistics,InsAdmin_MakeGraph.vm").addPathInfo("mode","cinfo").addPathInfo("cname",$cname).addPathInfo("studname",$studname).addPathInfo("mname",$Modulelist)">$Modulelist
                                #end
				</option>
			#end
					
			</select>
			##&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			$brih_module $brih_Of1 $brih_name $brih_select
		#end
	#end
			</td>		
		</tr>
		
		 #if($valuestr!="")
                        <tr bgcolor="$ui.menuColor"><td colspan="2"><div id="graphdiv1" align="right"></td></div></tr>
                #end
                #if($Modulevaluestr!="")
                        <tr bgcolor="$ui.menuColor"><td colspan="2"><div id="graphdiv2" align="right"></td></div></tr>
                #end

			</tr>

			
	</table>
		<input type="hidden" name="valdir">
                <input type="hidden" name="mname" value="$mname">
                <input type="hidden" name="valuestr" value="$valuestr">
                <input type="hidden" name="Modulevaluestr" value="$Modulevaluestr">

</form>
</html>
<SCRIPT LANGUAGE="javascript">
function Changename(frm,field)
        {

                if(document.getElementById=="u1"){
                    frm.valdir.value=document.frm.uname1.value;

                }else if(document.getElementById=="u2"){

                frm.valdir.value=document.frm.uname2.value;
                }
                else if(document.getElementById=="u3"){

                frm.valdir.value=document.frm.uname3.value;
                }
		else if(document.getElementById=="u4"){

                frm.valdir.value=document.frm.uname4.value;
                }

                window.location = field.value;

        }
	function graph(){
        var e=document.frm.valuestr.value;
        var e1=document.frm.Modulevaluestr.value;
        g1 = new Dygraph(document.getElementById("graphdiv1"),
                      e,{
                  title:'CourseUsageTime',
                  ylabel: 'Time in Minutes',
                  xlabel:'Date',
                  labelsDivStyles: { 'textAlign': 'right' }
                 });
        g2 = new Dygraph(document.getElementById("graphdiv2"),
                      e1,{
                  title:'ModuleUsageTime',
                  ylabel: 'Time in Minutes',
                  xlabel:'Date',
                  labelsDivStyles: { 'textAlign': 'right' }
                 });
        }

</SCRIPT>
