 #*
  * @(#)Profile.vm
  * Copyright (c) 2006,2009,2010 ETRG,IIT Kanpur.
  * All Rights Reserved
  * @author <a href="mailto:singhnk@iitk.ac.in ">Nagendra Kumar Singh</a>
  * @author <a href="mailto:satyapal@iitk.ac.in ">Satyapal Singh</a>
  * @author <a href="mailto:ynsingh@iitk.ac.in ">Yatindra Nath Singh</a>
  * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
  * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
  * @modified date:3-11-2010,23-12-2010
  * Contributors: Members of ETRG, I.I.T. Kanpur
  *#

$page.setTitle("Change Profile")
$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.menuColor" width=100%>
<tr>
<td><a href=$link.setPage("Index.vm")>$brih_home</a> | $Profile_user</td>
</tr></table>
$!data.getMessage()

#set($lang = $data.getUser().getTemp("lang" ).toString())
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("Index.vm").setAction("ProfileUser")">
        <table width=100% bgcolor="$ui.tableColor">
	 <tr><td><b>$brih_profile1 </b></td></tr>
	 #foreach($ud in $udetl)
	 <tr>
           #formCell("$brih_first $brih_name" "FName" "$!ud.getFirstName()")
         </tr>
	 <tr>
           #formCell("$brih_last $brih_name" "LName" "$!ud.getLastName()")
         </tr>
         <tr>
	   #formCell("$brih_alternate $brih_email" "EMAIL" "$!ud.getEmail()")
	 </tr>
	   #end
	 #*<tr>
           #formCell("$brih_rollno($brih_if $brih_student)" "rollno" "$!rollno")
         </tr>*#
	 <tr>
	   #fileUpload("$brih_photo" "PHOTO")
	 </tr>
	 <tr>
	   #formCell("$List_config" "Conf" "$!conf")
         </tr>
	<tr>	
	   <td>#if($lang=="hindi") $brih_qus $brih_select #else $brih_select $brih_qus #end</td>
	    <td>
		 <select name="que" size=1 onChange="clearAnswer(document.frm,this);"/>
                 <option value=$!qid> #foreach($q in $qname) $q.getQuestionName() #end</option>
                 #foreach($questions in $question)
                        <option value="$questions.getQuestionId()">$questions.getQuestionName()</option>
                 #end
                
              </select>
            </td>
                <tr>
                #formCell("$Profile_Ans:" "ANSWER" "$!ans")
                </tr>
		<tr>
                #formCell("$brih_tcf" "TaskConf" "$!TaskConf")
                </tr>
		<tr>
		<td>$RemoteInstitute $brih_name</td><td>$brih_program $brih_name</td><td>$brih_rollno</td>
		</tr>
		#*#if($status == "more")
			#set ($counter = $counter +1)
		#elseif($counter <1)
			#set ($counter=1)
		#end*#
		#if($count<1)
			#set($count=1)
		#end
		#set($temp=0)
		##foreach($num in [1..$counter])
		#foreach($num in [1..$count])
			<tr>
			<td><select name="instName$num" size=1  #if($sizecount==0) enabled #elseif($count>0) disabled #end/>
				#set($temp1=0)
                                #foreach($st in $UDetail)
                                	#if($temp == $temp1)
					<option value="$st.getInstId()">$!st.getInstName() </option>
					#end
	                                #set($temp1=$temp1+1)
                                #end
						<option>$brih_select $RemoteInstitute </option>
						#foreach($name in $instList)
					        <option value="$name.getInstituteId()">$name.getInstituteName() </option>
				          	#end
			        </select></td>	
			<td><select name="prg$num" size=1 #if($sizecount==0) enabled #elseif($count>0) disabled #end/>
				#set($temp1=0)
				#foreach($st in $UDetail)
                                        #if($temp == $temp1)
					<option value="$st.getPrgCode()">$!st.getPrgName() </option>
					#end
                                        #set($temp1=$temp1+1)
                                #end
						<option>$brih_select $brih_program </option>
					       	#foreach($prgname in $prgList)
	        	        		<option value="$prgname.getProgramCode()">$prgname.getProgramName() </option>
	                		  	#end
				</select></td>
			<td>	
				#set($temp1=0)
				#foreach($st in $UDetail)
                                        #if($temp == $temp1)
						<input type="text" name="rollno$num" value="$!st.getRollNo()" #if($count>0) readonly #end>
					#end
                                        #set($temp1=$temp1+1)
                                #end
					#if($sizecount == 0)
					<input type="text" name="rollno$num" value="" #if($sizecount>0) readonly #end>
					#end
			</td></tr>
                                #set($temp=$temp+1)
		#end
		<tr>
		#*<td align="right" colspan=4>
		<a href=$link.setPage("call,UserMgmt_User,Profile.vm").addPathInfo("status","more").addPathInfo("counter",$counter) style=text-decoration:none>More</a>
		</td>*#
		</tr>
		<tr bgcolor="$ui.menuColor">
                <td colspan=7>
                 <input type="button" name="eventSubmit_doUpdate" value="$brih_submit" onClick="checkAnswer(document.frm,this);"/>                 
		 <input type="reset"  value="$brih_reset"/>
		 <input type="hidden" name="actionName"/>
		 <input type="hidden" name="counter" value="$counter"/>
		 <input type="hidden" name="count" value="$count"/>
                </td>
          </tr>
     </table>
</form>

<SCRIPT LANGUAGE="javascript">
        function checkAnswer(frm,field)
        {
                if((frm.Conf.value!="" )&&(frm.ANSWER.value!="")) 
                {
			if(frm.Conf.value > 100 || frm.Conf.value < 1 )
                        {
                                alert("Maximum  No. of Student in list view should be between 1 to 100 !!");
                        }
			else if (frm.TaskConf.value >7 || frm.TaskConf.value < 1)
                        {
                                alert(" Task Configuration  value should be between 1 to 7 !!");
                        }
                        else
                        //if( (frm.Conf.value>=1 && frm.Conf.value<=100) && (frm.TaskConf.value>=1 && frm.TaskConf.value<=7))
                        {
                                frm.actionName.value=field.name;
                                frm.submit();
                        }
                }
                else
		{
			if(frm.ANSWER.value =="")
			{
	                        alert("The answer should not be null !!");
			}
			else if(frm.Conf.value =="" )	
				 alert("Maximum  No. of Student in list view should not be null !!");
                	else
			{
	                        alert("The task configuration value should not be null !!");
			}
		}
        }
	function checkOption (frm,field)
        {
                frm.instnm.value=document.frm.instName.value;
        }
	function checkOption1 (frm,field)
        {
                frm.prgnm.value=document.frm.prg.value;
	}
</SCRIPT>
