#*
 * @(#) StudentList.vm
 *  Copyright (c) 2005,2009-2010,2012 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @author <a href="mailto:santoshkumarmiracle@gmail.com">Santosh Kumar</a>
 * @modified date: 07-04-2010
 * @modified date: 20-10-2010,3-11-2010
 * @modified date: 22-11-2010 (Shaista), 30-05-2011,20-05-2012
 *     
 *#
#set($lang = $data.getUser().getTemp("lang" ).toString())
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

$page.setTitle("Home | $course | Student Management | Students List")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
##<div class="scroll">
<style>
span
{
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
</style>
<font face="$ui.sansSerifFonts">$!mmessage</font>
<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
     	<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | 
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> | 
	<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1") style=text-decoration:none>$brih_student $brih_mgmt</a> |
	#if($mode!="Search")
		$brih_listAllStudent
	#else
		#if($lang == "hindi")
			$brih_selected $brih_students $brih_Of1 $brih_view
		#else
			$brih_viewSel $brih_students
		#end
	#end
	</td>
	<td align="right">
	#if( $total_size!=0 )
		#if( $endIndex < $total_size )
        	        #if( $endIndex < $userConf )
                	        ##[$k - $total_size] of $total_size
                        	#if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
	                #else
        	                ##[$k - $endIndex] of $total_size
                	         #if($lang == "hindi") $total_size $brih_in $brih_from1 [$k - $endIndex] #else [$k - $endIndex] $brih_of $total_size #end
	                #end
	       #else
        	       ##[$k - $total_size] of $total_size
                	#if($lang == "hindi")  $total_size $brih_in $brih_from1 [$k - $total_size] #else [$k - $total_size] $brih_of $total_size #end
	       #end
	#end
	</td>
</tr>
</table>
<table  width=100%>
<tr bgcolor="$ui.tableColor">
	#if($tdcolor != "1")
        <td colspan=2>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
	<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang =="hindi") $brih_student $brih_add #else $brih_add $brih_students #end </a>
	</td>
	#if($tdcolor != "2")
        <td colspan=2>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
        <a href=$link.setPage("call,UserMgmt_User,RemoveStudents.vm").addPathInfo("count","2") style=text-decoration:none>$brih_rem_student</a>
	</td>
	#if($tdcolor != "3")
        <td colspan=2>
	#elseif($tdcolor=="3")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
	<a href=$link.setPage("call,UserMgmt_User,MultiUserReg_Instructor.vm").addPathInfo("count","3") style=text-decoration:none> #if($lang =="hindi") $brih_multiple1 $brih_student $brih_add #else $brih_add $brih_multiple1 $brih_students #end </a>
	</td>
	#if($tdcolor != "4")
        <td colspan=3>
	#elseif($tdcolor=="4")
	<td bgcolor="#AFDCEC" colspan=3>
	#end
	<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count","4") style=text-decoration:none>$brih_listOfStudent</a>
	</td>
	#if($tdcolor != "5")
        <td colspan=2>
	#elseif($tdcolor=="5")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
        <a href=$link.setPage("call,OnLine_Rgtn,ViewOnlineRegistrationInstructor.vm").addPathInfo("count","5") style=text-decoration:none>$online_online $brih_reg</a>
	</td>
	#if($tdcolor != "6")
        <td colspan=2>
        #elseif($tdcolor=="6")
        <td bgcolor="#AFDCEC" colspan=2>
        #end
        <a href=$link.setPage("call,ListMgmt_InstituteAdmin,Parent_Mgmt.vm").addPathInfo("count","6").addPathInfo("course",$course).addPathInfo("mode","instructor").addPathInfo("searchFor","instructor") style=text-decoration:none>$brih_parent $brih_info</a>
        </td>

	 #if($status=="notempty")
                #if($tdcolor != "7")
                <td colspan=2>
                #elseif($tdcolor=="7")
                <td bgcolor="#AFDCEC" colspan=2>
                #end
                <a href=$link.setPage("call,UserMgmt_User,getBackup_Students.vm").addPathInfo("count","7") style=text-decoration:none>$brih_listOfStudent $brih_download </a>
                </td>
        #end

	#*if($status=="notempty")
		#if($tdcolor != "6")
        	<td colspan=2>
		#elseif($tdcolor=="6")
		<td bgcolor="#AFDCEC" colspan=2>
		#end
        	<a href=$link.setPage("call,UserMgmt_User,getBackup_Students.vm").addPathInfo("count","6") style=text-decoration:none>$brih_listOfStudent $brih_download </a>
		</td>
	#end
	#if($tdcolor != "7")
        <td colspan=4>
        #elseif($tdcolor=="5")
        <td bgcolor="#AFDCEC" colspan=4>
        #end
        <a href=$link.setPage("call,OnLine_Rgtn,ViewOnlineRegistrationInstructor.vm").addPathInfo("count","5") style=text-decoration:none>$online_online $brih_reg</a>
        </td>*#
</tr>
##</table>
#if($lang == "hindi")
	#set($headings = ["$brih_usr $brih_Of1 $brih_name","$brih_name", "$brih_email $brih_ID","$brih_rollno ($brih_program)","$brih_availableAction"] )
#else
	#set($headings = ["$brih_usr $brih_name","$brih_name", "$brih_email $brih_ID","$brih_rollno ($brih_program)","$brih_availableAction"] )
#end

#*if($status=="notempty")
<table width=100% bgcolor="$ui.menuColor">
        <tr><td>
                <a href=$link.setPage("call,UserMgmt_User,getBackup_Students.vm").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_listOfStudent $brih_download </a>
        </td></tr>
</table>
#end
*#
<form name=frm method="post" action="$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("status","ForallUser")">
##<table bgcolor="$ui.tableColor" cellpadding=1 cellspacing=1>
##<table bgcolor="$ui.menuColor" width=100% align="left">
        <tr bgcolor="$ui.menuColor">
                <td><b>$brih_searchBy</b></td>
                <td>
                        <select name="queryList" class="drop">
                                <option value="UserName"> $brih_usr #if($lang == "hindi") $brih_Of1 #end $brih_name</option>
                                <option value="FirstName">$brih_first $brih_name</option>
                                <option value="LastName">$brih_last $brih_name</option>
                                <option value="Email">$brih_email $brih_ID</option>
				<option value="RollNo">$brih_rollno </option>
                        </select>
                </td>
                <td><b>$brih_match_str</b></td>
                <td>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input type="button" class="button-ftextstyle" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                        <input type="hidden" name="count" value="$tdcolor">
                </td>
<td colspan=11><a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_listAllStudent</a></td>
        </tr>
##</table>
#if($status=="notempty")
##<table width=100% bgcolor="$ui,tableColor" align="left">
  <tr>
    <td colspan=16>
      <table width=100% align=left bgcolor="$ui.tableColor">
        <tr>
          #foreach ($heading in $headings)
		#headerCell($heading)
          #end
        </tr>
		## get the user record list
                #foreach ($urecord in $userlist)
                        #if($velocityCount%2==0)
                        	<tr bgcolor="$ui.tableColor">
				#set($bg=$ui.menuColor)
                        #else
                                <tr bgcolor="$ui.menuColor">
				#set($bg=$ui.tableColor)
                       #end                    
                	## Get one record from the list
	                ## get login name of user
                        <td>$!urecord.getLoginName()</td>
        	        ## get name of User
                        <td>$!urecord.getUserName()</td>
                	## get Email of User
		      	<td><span><a href=mailto:$!urecord.getEmail()>$!urecord.getEmail()</a></span></td>
	                ## get the list of student RollNO of that course 
	                #set ($i=2)
	                <td>
	                #foreach ($urecord1 in $rollnolist)
	                	## get Email id form this list
	                	## Compare Email id of both list
	                	#if($!urecord.getLoginName()== $!urecord1.getEmail())
	                		## if email exist then get the roll no and program of that student
	                		#if($i<=1) <font color=$bg>| </font>#end
	                		 $!urecord1.getRollNo() ($!urecord1.getPrgName())
					#set ($i = $i - 1)
				#end
			#end
			</td>
			        	<td>

 				 ## if user is only student then enable change password link else disable link
				
					#if($urecord.getStudsrid()==1)
					<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor).addPathInfo("mode", "All").setAction("UserAction_Instructor").addPathInfo("actionName","eventSubmit_doUpdatePass") style=text-decoration:none>$brih_changePassword</a> &nbsp;
					#else
						<font color="white">$brih_changePassword</font>&nbsp;&nbsp;
					#end
##			                <a href=$link.setPage("call,UserMgmt_User,UpdatePass_Ins.vm").addPathInfo("status","update").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_changePassword</a> &nbsp;
			                <a href=$link.setPage("call,UserMgmt_User,UserForm_Instructor.vm").addPathInfo("status","update").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_update</a> &nbsp;
		        	        <a href=$link.setPage("call,UserMgmt_User,UserForm_Instructor.vm").addPathInfo("status","remove").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_remove</a> &nbsp;
		                	<a href=$link.setPage("call,UserMgmt_User,Usertime_display.vm").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_usageDetail</a> &nbsp
			##              <a href=javascript:popupWin("$link.setScreen("call,ViewPhoto").addPathInfo("username",$urecord.getLoginName())","newWin");>$brih_view $brih_photo </a>
					#foreach ($explst in $sexplst)
						#if($explst.getUid() == $urecord.getLoginName())
							#if ($explst.getExpiryDate())
					<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor).addPathInfo("mode", "All").setAction("UserAction_Instructor").addPathInfo("actionName","eventSubmit_doExpDisb") style=text-decoration:none>$DisBoard_Expiry $DisBoard_DBmsg8</a> &nbsp;
							#else
					<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor).addPathInfo("mode", "All").setAction("UserAction_Instructor").addPathInfo("actionName","eventSubmit_doExpEnab") style=text-decoration:none>$DisBoard_Expiry $DisBoard_DBmsg7</a> &nbsp;
							#end
						#end
					#end
					<a href=$link.setPage("call,UserMgmt_User,ViewMarks.vm").addPathInfo("status","viewmarks").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count","1") style=text-decoration:none>
					#if($lang!="english") 
                                        	$brih_marks $brih_view 
                                        #else
	                                        $brih_view $brih_marks
                                       #end 
					#if($urecord.getParentFirstName() == "NotExists")
						##<a href=$link.setPage("call,UserMgmt_User,AddParentDetails.vm").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count","1") style=text-decoration:none>
						<a href=$link.setPage("ParentRegistration.vm").addPathInfo("mode", "instructor").addPathInfo("stu_userName",$!urecord.getLoginName()).addPathInfo("stu_email",$!urecord.getEmail()) style=text-decoration:none>
                                        	#if($lang!="english") 
                                                	Parent Details
                                        	#else
                                                	Parent Details
                                       		#end
						</a> &nbsp;
					#end
					</td>
			        </tr>
	        #end
      </table>
         <tr>
	 <td colspan=16 bgcolor="$ui.menuColor">
	 #if($mode!="Search")
	 #if($total_size<= $userConf)
	 	<img src="$content.getURI("images/First_blank.png")">
	        <img src="$content.getURI("images/Next_blank.png")">
        	<img src="$content.getURI("images/Previous_blank.png")">
	        <img src="$content.getURI("images/Last_blank.png")">
	 #elseif($startIndex== $userConf_str)
		 <img src="$content.getURI("images/First_blank.png")">
        	 <img src="$content.getURI("images/Previous_blank.png")">
		 <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a> &nbsp;
		 <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a> &nbsp;
	 #elseif($endIndex == $total_size || $endIndex > $total_size)
	         <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a> &nbsp;
	 	 <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a> &nbsp;
		<img src="$content.getURI("images/Next_blank.png")">
	        <img src="$content.getURI("images/Last_blank.png")">
	 #else
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a> &nbsp;
     	#end
     	#else
	#if($total_size<= $userConf)
		 <img src="$content.getURI("images/First_blank.png")">
        	 <img src="$content.getURI("images/Next_blank.png")">
	         <img src="$content.getURI("images/Previous_blank.png")">
        	 <img src="$content.getURI("images/Last_blank.png")">
	#elseif($startIndex== $userConf_str)
		  <img src="$content.getURI("images/First_blank.png")">
        	  <img src="$content.getURI("images/Previous_blank.png")">
		  <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a> &nbsp;
		  <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a> &nbsp;
	#elseif($endIndex == $total_size || $endIndex > $total_size)
	         <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a> &nbsp;
 		 <a href=$link.setPage("call,UsertMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a> &nbsp;
		<img src="$content.getURI("images/Next_blank.png")">
        	<img src="$content.getURI("images/Last_blank.png")">
	#else
	  	<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a> &ibsp;
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a> &nbsp;
     	#end
    #end
    </td>
 </tr>
</table>
 #end
</form>
##</div>
<table width=100% bgcolor="$ui.tableColor" align=left>
        #foreach( $entry in $error_Messages )
        <tr bgcolor="$ui.tableColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_usr $brih_name <font color="brown">"$entry.getErr_User()"</font></font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$entry.getErr_Type()</font>
        </td>
        </tr>
        #end
</table>

