#*
 * @(#) StudentList.vm
 *  Copyright (c) 2005,2009-2010 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
  * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
  * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 *     
 *#
#set($lang = $data.getUser().getTemp("lang" ).toString())

$page.setTitle("Home | $course | Student Management | Students List")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<font face="$ui.sansSerifFonts">$!mmessage</font>
<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
     	<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | 
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> | 
	<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1") style=text-decoration:none>$brih_student $brih_mgmt</a> |
	#if($mode!="Search")
	 $brih_listAllStudent
	#else
	$brih_viewSel $brih_students
	#end
	</td>
	<td align="right">
	#if( $total_size!=0 )
	#if( $endIndex < $total_size )
		#if( $endIndex < $userConf )
                [$k - $total_size] of $total_size
		#else
		[$k - $endIndex] of $total_size
		#end
	#else
	[$k - $total_size] of $total_size
	#end
	#end
	</td>
</tr>
</table>
<table bgcolor="$ui.tableColor" width=100%>
<tr>
	#if($tdcolor != "1")
        <td colspan=2>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
	<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1") style=text-decoration:none>$brih_add $brih_students</a>
	</td>
	#if($tdcolor != "2")
        <td colspan=2>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
        <a href=$link.setPage("call,UserMgmt_User,RemoveStudents.vm").addPathInfo("count","2") style=text-decoration:none>$brih_rem_student</a>
	</td>
	#if($tdcolor != "3")
        <td colspan=2>
	#elseif($tdcolor=="3")
	<td bgcolor="#AFDCEC" colspan=2>
	#end
	<a href=$link.setPage("call,UserMgmt_User,MultiUserReg_Instructor.vm").addPathInfo("count","3") style=text-decoration:none>$brih_add $brih_multiple1 $brih_students</a>
	</td>
	#if($tdcolor != "4")
        <td colspan=3>
	#elseif($tdcolor=="4")
	<td bgcolor="#AFDCEC" colspan=3>
	#end
	<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count","4") style=text-decoration:none>$brih_listOfStudent</a>
	</td>
	#if($tdcolor != "5")
        <td colspan=4>
	#elseif($tdcolor=="5")
	<td bgcolor="#AFDCEC" colspan=4>
	#end
        <a href=$link.setPage("call,OnLine_Rgtn,ViewOnlineRegistrationInstructor.vm").addPathInfo("count","5") style=text-decoration:none>$online_online $brih_reg</a>
	</td>
	#if($status=="notempty")
		#if($tdcolor != "6")
        	<td colspan=2>
		#elseif($tdcolor=="6")
		<td bgcolor="#AFDCEC" colspan=2>
		#end
        	<a href=$link.setPage("call,UserMgmt_User,getBackup_Students.vm").addPathInfo("count","6") style=text-decoration:none>$brih_listOfStudent #if($lang="hindi") $brih_Of1 #end $brih_download </a>
		</td>
	#end
</tr>
##</table>
#set($headings = ["$brih_usr $brih_name","$brih_name", "$brih_email $brih_ID", "$brih_availableAction"] )

#*if($status=="notempty")
<table width=100% bgcolor="$ui.menuColor">
        <tr><td>
                <a href=$link.setPage("call,UserMgmt_User,getBackup_Students.vm").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_listOfStudent #if($lang="hindi") $brih_Of1 #end $brih_download </a>
        </td></tr>
</table>
#end
*#
<form name=frm method="post" action="$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("status","ForallUser")">
##<table bgcolor="$ui.tableColor" cellpadding=1 cellspacing=1>
##<table bgcolor="$ui.menuColor" width=100% align="left">
        <tr bgcolor="$ui.menuColor">
                <td><b>$brih_searchBy</b></td>
                <td>
                        <select name="queryList">
                                <option value="UserName">$brih_usr $brih_name</option>
                                <option value="FirstName">$brih_first $brih_name</option>
                                <option value="LastName">$brih_last $brih_name</option>
                                <option value="Email">$brih_email $brih_ID</option>
                        </select>
                </td>
                <td><b>$brih_match_str</b></td>
                <td>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input type="button" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                        <input type="hidden" name="count" value="$tdcolor">
                </td>
<td colspan=10><a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_listAllStudent</a></td>
        </tr>
##</table>
#if($status=="notempty")
##<table width=100% bgcolor="$ui,tableColor" align="left">
  <tr>
    <td colspan=16>
      <table width=100% align=left bgcolor="$ui.tableColor">
        <tr>
          #foreach ($heading in $headings)
		#headerCell($heading)
          #end
        </tr>
	
	#foreach ($urecord in $userlist)
	#if($velocityCount%2==0)
	<tr bgcolor="$ui.tableColor">
	#else
	<tr bgcolor="$ui.menuColor">
	#end			
        	##entryCell ($!urecord.getLoginName())
         	##entryCell ($!urecord.getUserName())
        	##entryCell ("<a href=mailto:$!urecord.getEmail()>$!urecord.getEmail()</a>")
        	<td>$!urecord.getLoginName()</td>
         	<td>$!urecord.getUserName()</td>
        	<td><a href=mailto:$!urecord.getEmail()>$!urecord.getEmail()</a></td>
        	<td>
                <a href=$link.setPage("call,UserMgmt_User,UserForm_Instructor.vm").addPathInfo("status","update").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_update</a> &nbsp;
                <a href=$link.setPage("call,UserMgmt_User,UserForm_Instructor.vm").addPathInfo("status","remove").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_remove</a> &nbsp;
                <a href=$link.setPage("call,UserMgmt_User,Usertime_display.vm").addPathInfo("username",$urecord.getLoginName()).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_usageDetail</a> &nbsp
##                <a href=javascript:popupWin("$link.setScreen("call,ViewPhoto").addPathInfo("username",$urecord.getLoginName())","newWin");>$brih_view $brih_photo </a>
            	</td>
        </tr>
        #end
      </table>
         <tr>
	 <td colspan=16 bgcolor="$ui.menuColor">
	 #if($mode!="Search")
	 #if($total_size<= $userConf)
	 <font color="white">$brih_first</font> &nbsp;
	 <font color="white">$brih_nxt</font> &nbsp;
	 <font color="white">$brih_pre</font> &nbsp;
	 <font color="white">$brih_last</font> &nbsp;
	  #elseif($startIndex== $userConf_str)
	  <font color="white">$brih_first</font> &nbsp;
	  <font color="white">$brih_pre</font> &nbsp;
	  <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
	  <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
	 #elseif($endIndex == $total_size || $endIndex > $total_size)
         <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
 	 <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
	 <font color="white">$brih_nxt</font>&nbsp;
         <font color="white">$brih_last</font>&nbsp;
	  #else
	   <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
	   <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
	   <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
	    <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
     #end
     #else
	 #if($total_size<= $userConf)
	 <font color="white">$brih_first</font>&nbsp;
	 <font color="white">$brih_nxt</font>&nbsp;
	 <font color="white">$brih_pre</font>&nbsp;
	 <font color="white">$brih_last</font>&nbsp;
	  #elseif($startIndex== $userConf_str)
	 <font color="white">$brih_first</font>&nbsp;
	 <font color="white">$brih_pre</font>&nbsp;
	  <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
	  <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
	 #elseif($endIndex == $total_size || $endIndex > $total_size)
         <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
 	 <a href=$link.setPage("call,UsertMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
	 <font color="white">$brih_nxt</font>&nbsp;
         <font color="white">$brih_last</font>&ibsp;
	  #else
	   <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &ibsp;
	   <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
	   <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
	    <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
     #end
    #end
    </td>
 </tr>
</table>
 #end
</form>
<table width=100% bgcolor="$ui.tableColor" align=left>
        #foreach( $entry in $error_Messages )
        <tr bgcolor="$ui.tableColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_usr $brih_name <font color="brown">"$entry.getErr_User()"</font></font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$entry.getErr_Type()</font>
        </td>
        </tr>
        #end
</table>

<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=300");
        }
	function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL !!");
                }
        }
</SCRIPT>
