#*
 * @(#) UploadMarks.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:richa.tandon1@gmail.com ">Richa Tandon</a>
 * @modified date 15-09-2010
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Upload Marks")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

## If some message has been set, that is retrieved and displayed.
$!data.getMessage()

## Retreiving the $lang (representing the choosen language for display, which
## was set in the corresponding screen class.
#set ($lang=$data.getUser().getTemp("lang" ).toString())
<html>
        <head>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_HtmlUtil.lib.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_Array.class.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_String.lib.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_CsvUtil.class.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_Misc.lib.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_SpreadSheet.class.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_SpreadSheet.inc.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_ButtonBar.class.js"></script>
        <script type="text/javascript" src="/brihaspati/scrpts/Bs_Button.class.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
	    		var counter = 2;
    			$("#addFile").click(function () {
        			if(counter>10){
            				alert("Only 10 file options allow");
            				return false;
        			}
        			var newTextBoxDiv = $(document.createElement('div'))
             			.attr("id", 'FileBoxDiv' + counter);
        			newTextBoxDiv.html('<label><b>$brih_alias<font color="red">*</font></b></label> <input type="text" name="text' + counter + '" id="text' + counter + '" value="" > <label><b>$brih_file<font color="red">*</font></b></label> <input class="browse" type="file" name="file' + counter + '" id="file' + counter + '" value="" >');
        			newTextBoxDiv.appendTo("#FileBoxesGroup");
        			counter++;
     			});

     			$("#removeFile").click(function () {
        			if(counter==2){
          			alert("No more file options to remove");
          			return false;
       			}
        		counter--;
         		$("#FileBoxDiv" + counter).remove();
      			});

			$("#upload").click(function () {
                                for(var i=1;i<counter;i++){
                        	        if((document.getElementById('text'+i).value=="") || (document.getElementById('file'+i).value=="")){
                                	        alert("All fields are mandatory!!");
                                        	return false;
                                	}
                                }
                                $("#load").submit();
                        });

			document.getElementById('myvalue').value = counter;

   		});
 
	</script>

        </head>

##This check for displaying spreadsheet
##if status is edit then load spreadsheet
#if(($type=="spreadsheet") || ($status=="edit"))
        <body onload="init();" id="cvsTextarea">
#end
##first row for link is created
<table bgcolor="$ui.tableColor" width=100%> ## table 1 created
	<tr bgcolor="$ui.menuColor"><td colspan=3>
	<b>
	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | 
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | 
	#if($lang=="hindi")
		$brih_marks $brih_upload
	#else
		$brih_upload $brih_marks
	#end
	</b>	
</td></tr>

  	<tr><td>
		<font color=red>$brih_MarksMsg1</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</td><td align="right">
                <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/MarkList.html","newWin");>$brih_help</a>
  	</td></tr>
	<tr><td>
		<font color=red>$brih_MarksMsg5</font>
	</td></tr>
</table>
<div align="right"><a href="$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("type","spreadsheet")">$brih_create $brih_sheet</a></div>
## Form is created
<form name="show" method="POST" action="$link.setPage("call,UserMgmt_User,UploadMarks.vm").setAction("UploadMarksAction")">
#if($show.size()!=0)
<div style="width:925px; max-height:150px; overflow:auto;">
<table style="border:1px solid #ccc;">
<tr style="font-weight:bold; background:$ui.menuColor;"><td style="border:1px solid #ccc">$brih_serialNo</td><td style="border:1px solid #ccc">$brih_alias</td><td style="border:1px solid #ccc">$brih_file $brih_name</td><td style="border:1px solid #ccc">$brih_action</td>
</tr>

#set($count = 0)
#foreach($sh in $show)
<tr style="background:$ui.tableColor;">
#set($count=$count+1)
<td style="border:1px solid #ccc">$count</td><td style="border:1px solid #ccc">$sh.getAlias()</td><td style="border:1px solid #ccc">$sh.getFileName()</td>
<td style="border:1px solid #ccc">
<a href="$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("alias",$sh.getAlias()).addPathInfo("FileName",$sh.getFileName()).addPathInfo("actionName","eventSubmit_doDelete").setAction("UploadMarksAction")" style="text-decoration:none" onclick="javascript:return confirm('Do you want to delete this file')">$brih_delete</a>
#set($ts="-")
#set($name=$sh.getAlias().concat($ts.concat($sh.getFileName())))
|
<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("type","marks").addPathInfo("filename",$name)","newWin"); style="text-decoration:none">$brih_view $brih_marks</a>
|
<a href="$link.setPage("call,ViewFileContent.vm").addPathInfo("type","marks").addPathInfo("dl",1).addPathInfo("filename",$name)" style="text-decoration:none">$brih_download</a>
|
<a href="$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("filename",$name).addPathInfo("status","edit").addPathInfo("type","edit")" style="text-decoration:none">$brih_edit</a>
</td>
</tr>
#end
</table>
</div>
#end
<br>
#if(($type=="spreadsheet")|| ($status=="edit"))
<div class="scroll">
<div id="dataTableDiv" style="width:600; height:300; border:1px solid black;"></div>
## table 3 created for viewing spreadsheet
        <table>
<tr><td>
<INPUT TYPE="CHECKBOX" name="sendMails" value="sendMail" id="check"> <b> #if($lang=="hindi" || $lang=="gujarati") $brih_mail $Notice_Send #else $Notice_Send $brih_mail #end </b> &nbsp;&nbsp;&nbsp;
</td>
#if($type=="spreadsheet")
        <td><label><b>$brih_alias<font color="red">*</font></b></label></td><td> <input type="text" name="alias" value=""></td>
        <td>
        <input type="button" class="button-ftextstyle" name="eventSubmit_doSave" value="$WikiSave" onClick="exportDataToTextarea(document.show,this)";>
         <button type="cancel" class="button-ftextstyle" onclick="window.location='call,UserMgmt_User,UploadMarks.vm';return false;">Cancel</button>
</td>
#else
<td>
        <input type="button" class="button-ftextstyle" name="eventSubmit_doSave" value="$brih_update" onClick="exportDataToTextarea(document.show,this);">
</div>
</td>
#end
</tr>
	<input type="hidden" name="fieldValue" value="">
        <input type="hidden" name="fileName" value="$fileName">
        <input type="hidden" name="myvalue" id="myvalue"  value="">
        <input type="hidden" name="marksDetail" value="$marksDetail">
        <input type="hidden" name="formulaDetail" value="$formulaDetail">
        <input type="hidden" name="status" value="$status">
        <input type="hidden" name="actionName" value="">
        <input type="hidden" name="type" value="$type">
        </table> ## table 3 end
<hr>
#end
</form>
</br>
<form id="load" name="upload" method="POST" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_User,UploadMarks.vm").setAction("UploadMarksAction")">
<div>
<div>
##<INPUT TYPE="CHECKBOX" name="sendMail" value="sendMail" onchange="javascript:showTextBox()" id="check"> <b> #if($lang=="hindi" || $lang=="gujarati") $brih_mail $Notice_Send #else $Notice_Send $brih_mail #end </b> &nbsp;&nbsp;&nbsp;
<INPUT TYPE="CHECKBOX" name="sendMailu" value="sendMail" id="check"> <b> #if($lang=="hindi" || $lang=="gujarati") $brih_mail $Notice_Send #else $Notice_Send $brih_mail #end </b> &nbsp;&nbsp;&nbsp;
</div>
#* <table><tr>
	<td >
                <div style="display:none;" id="textboxDiv">
                        <b> $brih_mail $brih_mailmsg </b>
                </div>
        </td>
        <td>
                <div style="display:none;" id="textboxDiv1">
                         <textarea name="text1" rows=2 cols=35></textarea>
                </div>
        </td>
        </tr>
</table>
*#
<div id='FileBoxesGroup'>
        <div id="FileBoxDiv1">
        <label><b>$brih_alias<font color="red">*</font></b></label>
        <input type='text' id='text1' name="text1">
        <label><b>$brih_file<font color="red">*</font></b></label>
        <input class="browse" type="file" name="file1" id="file1">
        </div>
##<div align="right"><a href="$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("type","spreadsheet")">$brih_create $brih_sheet</a></div>
</div>
<input class="button-ftextstyle" type="button" name="eventSubmit_doUpload" value="$brih_upload" id="upload"/>
<input class="button-ftextstyle" type='button' value='$brih_add $brih_marks $brih_file' id='addFile'> 
<input class="button-ftextstyle" type='button' value='$brih_remove $brih_file' id='removeFile'>
<input type="reset" class="button-ftextstyle" name="Reset" value="$brih_clear" onClick="checkClear(document.frm,this);"/>
<input type="hidden" name="actionName" value="eventSubmit_doUpload">
<input type="hidden" name="type" value="$type">
</div>
</form>


        </body> ## body end
</html> ## html end

<SCRIPT language="JavaScript">
        function popupWin(urlName,popupName)
        {
                window.open(urlName,popupName,"resizable,height=500,width=800,menubar=yes,toolbar=yes,scroll=yes");
        }
        function checkFile(upload,field)
        {
                if(upload.file1.value!="")
                {
                        uploadform.actionName.value=field.name;
                        uploadform.submit();
                }
                else
                {
                        alert("File could not empty !!");
                }
        }
        if (moz) {
                        document.writeln("<link rel='stylesheet' href='/brihaspati/scrpts/win2k_mz.css'>");
                }
        else    {
                        document.writeln("<link rel='stylesheet' href='/brihaspati/scrpts/win2k_ie.css'>");
                }
        function init()
        {
                //var enable= "false";
                //if(enable)
                       // alert("status is"+document.show.status.value);
                        //alert("type is"+document.uploadform.type.value);

                /**
                * below method for editing spreadsheet
                */
                var data = new Array();
                if(document.upload.type.value!="spreadsheet")
                {// 1 if
                        /**
                        * @param str, String having value of spreadsheet
                        */
                        var temp = new Array();
                        var rstr = new Array();
                        var i;
                        var j;
                        var str = document.show.marksDetail.value;
                        /**
                        * @param temp, gives split string with '\n' that represent change of line
                        */
                        temp = str.split("\n");
                        mySpreadSheet = new Bs_SpreadSheet;
                        mySpreadSheet.objectName = 'mySpreadSheet';
                        mySpreadSheet.mayUseWysiwyg = false;
                        //mySpreadSheet.sheetWidth  = 550;
                        mySpreadSheet.sheetWidth  = 750;
                        //mySpreadSheet.sheetHeight = 250;
                        mySpreadSheet.sheetHeight = 450;
                        /**
                        * loop for geeting each line of spreadsheet
                        */
                        for(i =0; i < temp.length ; i++)
                        {//1 for
                                //alert("No of line ="+temp[i]);
                                var stemp = temp[i];
                                /**
                                * @param rstr ,split values with ',' that give saperate values of cell
                                */
                                rstr = stemp.split(",");
                                //alert(" No of column length="+rstr.length);
                                 data[i] = new Array();
                                /**
                                * put into array to display in spreadsheet
                                */
                                for(j=0; j< rstr.length; j++)
                                {//2 for
                                        var columStr= rstr[j];
                                        //alert(columStr);
                                        if(columStr != "" )
                                        data[i][j] = columStr;
                                        //alert("data["+i+"]["+j+"]="+ data[i][j]);
                                }// end of 2 for
                        }// end of 1 for
                        //alert("data Length="+data.length);
                }// end of 1 if
                else
                {// 1 else

                        mySpreadSheet = new Bs_SpreadSheet;
                        mySpreadSheet.objectName = 'mySpreadSheet';
                        mySpreadSheet.mayUseWysiwyg = false;
                        mySpreadSheet.sheetWidth  = 550;
                        mySpreadSheet.sheetHeight = 250;
                }// end of 1 else
                mySpreadSheet.init(data,'dataTableDiv');
        }// end of init function


        function exportDataToTextarea(show,field)
        {
                if(show.type.value=="edit"){
                        /**
                         * @param elm,getting id where spreadsheet have to be opened
                         */
                        var elm = document.getElementById('cvsTextarea');
                        /**
                         * Getting values of spreadsheet
                         */
                        elm.value = mySpreadSheet.exportDataToCsv(); //note that formatting information (bold etc) is not exported.
                        show.status.value = "";
                        show.type.value = "";
                        show.actionName.value=field.name;
                        show.submit();
                }else{
                        if(show.alias.value!=""){
                                var elm = document.getElementById('cvsTextarea');
                                elm.value = mySpreadSheet.exportDataToCsv(); //note that formatting information (bold etc) is not exported.
                                show.status.value = "";
                                show.type.value = "SpreadSheet";
                                show.actionName.value=field.name;
                                show.submit();
                        }
                        else{
                                alert("You were not inserted alias name!");
                        }
                }
        }
	function showTextBox() {
        	if ($('#check').is(':checked')) {
	            $("#textboxDiv").show();
        	    $("#textboxDiv1").show();
        	}
        	else {
	            $("#textboxDiv").hide();
	            $("#textboxDiv1").hide();
        	}
	}

</SCRIPT>
