<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.datasource">java:comp/env/jdbc/pl</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="org/smvdu/payroll/beans/SessionMaster.hbm.xml" />    
    <mapping resource="org/smvdu/payroll/beans/setup/Department.hbm.xml"/>
    <mapping resource="org/smvdu/payroll/beans/setup/Designation.hbm.xml"/>
    <mapping resource="org/smvdu/payroll/beans/setup/EmployeeType.hbm.xml"/>
    <mapping resource="org/smvdu/payroll/api/BankDetails/BankProfileDetails.hbm.xml"/>
    <mapping resource="org/smvdu/payroll/beans/setup/SalaryGrade.hbm.xml"/>
    <mapping resource="org/smvdu/payroll/beans/setup/SalaryProcessingSetup.hbm.xml" />     
  </session-factory>
</hibernate-configuration>
