#set($directories = $data.getSession().getAttribute("directories"))
#set($user = $data.getUser().getName())

#if(!($user.equals("guest")))
<div align="left" >
	<a href=$link.setPage("call,Timetable,SelectDepartments.vm").addPathInfo("mode","get").addPathInfo("count","3") style="text-decoration:none"> Manage Department </a>
	<br/>
#end
	<br/>

#if($directories.size() > 0)
	#foreach( $key in $directories.keySet())
		<a href=$link.setPage("call,Timetable,Index.vm").addPathInfo("count", "2").addPathInfo("department", $directories.get($key).concat("~").concat($key)) style="text-decoration:none"> $directories.get($key) </a>
		<br/>
	#end
#end

</div>
