#* * @(#)InstituteProfile.vm
 * Copyright (c) 2010,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modify date: 25-02-2011, 19-10-2011
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | Change Parameters")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">
	<td colspan="2">
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")> $RemoteInstitute $brih_ad $brih_home</a> | #if($lang =="hindi") $brih_Institute $brih_Of2 #else $RemoteInstitute #end $brih_ap
	</td>
</tr>
## Form action in InstchangeAParam.java
<form name="frm" method="post" action="$link.setPage("call,AdminProfile,InstituteProfile.vm").setAction("InstchangeAParam")">
    <tr><td colspan=2><font size=4> #if($lang =="hindi") $brih_Institute $brih_Of2 #else $RemoteInstitute #end $brih_ap  ($iname)</font></td></tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("$brih_first $brih_name" "AFName" "$!afname")
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_first $brih_name </font></td> 
	<td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AFName" value="$!afname"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("$brih_last $brih_name" "ALName" "$!alname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_last $brih_name </td>   
	<td width="50"> <font face="$ui.sansSerifFonts"><input type="text" size="30" name="ALName" value="$!alname"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("$brih_lcv" "AdminConf" "$!AdminConf")	
	<td width="30"> <font face="$ui.sansSerifFonts">$brih_lcv </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminConf" value="$!AdminConf"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("$brih_course $brih_expiry" "AdminCrsExp" "$!CrsExp")	
	<td width="30"> <font face="$ui.sansSerifFonts"> $brih_course $brih_expiry </font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminCrsExp" value="$!CrsExp"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("$RemoteLocal Domain $brih_name" "mailDomain" "$!dName")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") $RemoteLocal $brih_domain $brih_Of1 $brih_name #else  $RemoteLocal $brih_domain $brih_name #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailDomain" value="$!dName"> </font> </td>
    </tr>
	## formEmailCell("admin email")
   <tr bgcolor="$ui.tableColor">
        <td width=30><font face="$ui.sansSerifFonts"> $brih_ad $brih_email </td>             
        <td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="eMail" value="$!eMail"></font></td>
</tr>
    <tr bgcolor="$ui.menuColor">
	<td width=30><font face="$ui.sansSerifFonts">$brih_course #if($lang =="hindi") $brih_Of1 #end $brih_quota ($quota_sze)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="cquota" value="$!cquota"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
	<td width=30><font face="$ui.sansSerifFonts">$brih_usr #if($lang =="hindi") $brih_Of1 #end $brih_quota ( $quota_sze)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="uquota" value="$!uquota"></font></td>
   </tr>
##--------------------------------------FAQ---------------------
    <tr bgcolor="$ui.menuColor">
        <td width=30><font face="$ui.sansSerifFonts">$brih_Faq $brih_expiry</td>
        <td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminFaqExp" value="$!FaqExp"></font></td>
    </tr>
##--------------------------------------FAQ---------------------
##-------------------------------------student expiry days----added by @Tej--------------
   <tr bgcolor="$ui.menuColor">
	<td width=30><font face="$ui.sansSerifFont">$brih_student $brih_course $brih_expiry</td>
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="expdays" value="$!expdays"></font></td>
   </tr>
		
   <tr bgcolor="$ui.tableColor">
      <td colspan=2 bgcolor="$ui.menuColor">	
	  <input type="hidden" name="actionName">
          <input type="button" name="eventSubmit_doUpdate" value="$brih_submit" onClick="checkValues(document.frm,this);"/>
	  <input type="reset" name="reset" value="$brih_reset" onClick="checkClear(document.frm,this);"/>
	  <input type="hidden" name="count" value="$tdcolor">
 	<input type="hidden" name="iname" value="$iname">
      </td>
   </tr>
</form>
</table>

<SCRIPT LANGUAGE="javascript">
function checkValues(frm,field)
{
	if((frm.AFName.value!="") && (frm.ALName.value!="") && (frm.AdminConf.value!="") && (frm.AdminFaqExp.value!="") && (frm.expdays.value!=""))
        {
		if(frm.AdminConf.value>=1 && frm.AdminConf.value<=100)
		{
			if(isNumberString(frm.AdminCrsExp.value))
                        {
				if(isNumberString(frm.cquota.value))
                        	{
					if(isNumberString(frm.uquota.value))
		                        {
						if(isNumberString(frm.AdminFaqExp.value))
						{
				                      	if(isNumberString(frm.expdays.value) && (frm.expdays.value>=1 ))
                       				        {	
								frm.actionName.value=field.name;
                                				frm.submit();
							}
							else
                                                        {
        			                                 alert("Student Course Expiry Days should be greater then 0 !!!");         
                                              	        }       
	
						}
                        		}
                        	}
			}
		}	
		else
		{
			alert("List Config. Value should be between 1 to 100");
		}
	}
        else
        {
		alert("None of the fields can be empty !!");
	}
}
function checkClear(frm,field)
{
	frm.AFName.value="";
        frm.ALName.value="";
}
function isNumberString(chString)
{
	if(chString.length==0)
        return false;
        var RefString="0123456789";
        for(count=0;count<chString.length;count++)
        {
        	tempChar=chString.charAt(count);
                	if(RefString.indexOf(tempChar)==-1)
                        {
                                alert("Value should be numeric")
                                return false;
                        }
        }
        return true;
}
</SCRIPT>
