@charset "utf-8";
img{ border:0px;}
body{margin:0px; padding:0px; font-size:12px; font-family:Arial, Helvetica, sans-serif; background:url(images/footer-bg.jpg) bottom repeat-x;}
#container{background:url(images/container-bg.jpg) top repeat-x; padding-top:31px;}
.wrapper{ width:1000px; margin:0px auto;}
#container .wrapper{ width:985px; margin:0px auto; padding-left:8px;}
#footer .wrapper{ width:800px; margin:0px auto;}
#header{ background:url(images/header-bg.gif) top repeat-x #050505; height:93px;}
#logo{ float:left; position:absolute;}
#accountinfo{ float:right; width:200px; padding-top:20px; text-align:right; color:#fff;}
#accountinfo a{ color:#fff; margin:0px 10px; margin-right:5px;}
#profilepic{ float:left; background:url(images/student-image.jpg) no-repeat; padding:3px; height:57px; width:57px; overflow:hidden;}
#profilepic img{ width:56px; height:56px;}
#footer{ padding:10px 0px 10px 50px; text-align:center; clear:both; font-size:10px;}
#col1,#col2,#col3{min-height:400px; height:auto !important; height:400px; box-shadow:0px 0px 1px #999; border:1px solid #eeecec; }
#col1, #col3{ background:url(images/white-trans.png) repeat;}
#col1{ width:240px; float:left;}
#col2{ width:500px; float:left; margin-left:15px; background:url(images/white-trans.png) repeat;}
#col3{ width:210px; float:right; text-align:center;}
.clear{ clear:both;}
#changecolors{ padding:3px 0px 0px; float:right; clear:both; margin-top:10px;}
#changecolors a{ padding:1px;}

#col2 h2, #col2 h3{ margin:0px; padding:5px 0px; background:url(images/col2-header.jpg) center repeat-y; font-size:18px; text-align:center; color:#fff; font-weight:normal;}
#col2 p{ margin:0px; padding:5px 0px 5px 15px;}
#col2 h4.heading{ font-size:14px; border-bottom:1px dotted #CCCCCC; padding:3px; margin:0px; margin:10px 0px; color:#1d7bb6;}
#col2 h4.heading span{ background:#e3f5fe; padding:3px 5px; border:#ccc dotted; border-width:1px 1px 0px;}
#col2 a{ color:#000; text-decoration:none;}
table.default{ padding:0px; width:90%; margin:0px auto;}
table.default td{ margin:0px; padding:5px; font-size:12px; text-align:center;}
table.default td a{ text-decoration:none;}
table.default td a span{ display:block; font-weight:bold;}

#col3 h2, #col3 h3{ margin:0px; padding:3px 0px; background:url(images/col3-header.jpg) center repeat-y; font-size:18px; text-align:center; color:#000; font-weight:normal;}
#col3 h4.heading{ font-size:14px; border-bottom:2px solid #CCCCCC; padding:3px; margin:0px; margin:10px 0px;}


div.more{ text-align:right; padding:10px 10px 0px; color:#CC0033!important; font-weight:bold;}
div.more a{ text-decoration:none; color:#CC0033!important; font-weight:bold;}
#footerlinks{ text-align:center; padding:10px 0px 0px 50px; font-size:11px;}
#footerlinks a{ margin:0px 2px; text-decoration:none; color:#000000;}
#footerlinks a:hover{ text-decoration:underline;}

ul a{
    text-decoration:none;
}
ul#accordion{
    margin:0px; padding:0px; list-style:none;
}
ul#accordion li{
    background:url(images/mainnav-arrow.gif) no-repeat 5px 8px; padding:5px 5px 5px 20px; font-weight:bold; font-size:14px;
}
ul#accordion li a{
    color:#2571a1;
}

#accordion ul{
    display: none; margin:0px; padding:0px; list-style:none;
}
ul#accordion li ul li{
    padding-left:20px; background:url(images/mainnav-dot.gif) no-repeat left; font-weight:normal;
}
ul#accordion li ul li a{
    color:#000;
}
.defaulttab1{ border:solid #999; border-width:1px 0px 0px 1px; margin:0px auto;}
.defaulttab1 td, .defaulttab1 th{ border:solid #999; border-width:0px 1px 1px 0px; padding:0px 3px; vertical-align: top;}
.defaulttab1 th{ background:#c1d8ea; text-align:center; font-weight:bold;}

.floatL{ float: left;}
.buttonsMiddle{ margin-left: 200px;}
.width250{ width:250px;}
textarea.width250{ height:100px; }
/*table td{ vertical-align:top;}*/

#registeras{ display: none; position: absolute; margin:15px 0px 0px 130px; *margin:15px 0px 0px 60px!important; float: right; background: #000; color: #fff; list-style: none; padding:0px; width:100px;}
#registeras li{ margin: 0px; padding: 5px; list-style: none; text-align: left;}
#registeras li a{ color:#fff;}
ol.default1{}
ol.default1 li{ margin-bottom:10px;}
.width150{ width:77px;}
.marl5{margin-left:5px;}