#*
 * @(#)Announce_Exam.vm
 * Copyright (c) 2010 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:aayushi.sr@gmail.com ">Aayushi</a>
 * Contributors: Members of MHRD Project DEI Agra
*#
$page.setTitle("Announce Exam")
$page.setBgColor("bgcolor")
## If some message has been set, that is retrieved and displayed.
<font size="4">
$!data.getMessage()
</font>
## Retreiving the $lang (representing the choosen language for display, which was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
	<tr><td><b>
		<font face="$ui.sansSerifFonts">
		<a href=$link.setPage("Index.vm")>$brih_home</a>|
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
		<a href=$link.setPage("call,OLES,AnnounceExam_Manage.vm").addPathInfo("count","3")>$brih_select $brih_quiz</a> |
		$brih_QDannounce $brih_exam
	</b></td></tr>
</table>

## Creating the links for help regarding FAQ 
<table width="100%">
	<tr>
		<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/OLES_Quiz.html","newWin");>$brih_help</a></td>
	</tr>
</table>

#set($month=["01","02","03","04","05","06","07","08","09","10","11","12"])
#set($day=["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"])

#set($hour=["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"])
#set($minute=["00","05","10","15","20","25","30","35","40","45","50","55"])	

<form name="frm" method="post" enctype="multipart/form-data" action=$link.setPage("call,OLES,Announce_Exam.vm").setAction("OLES_Quiz")>
<table width="100%" bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.tableColor">
		#if($tdcolor != "1")
        		<td>
        	#elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
		<b><I><a href=$link.setPage("call,OLES,Announce_Exam.vm").addPathInfo("count","1").addPathInfo("mode","$mode").addPathInfo("quizID","$quizID").addPathInfo("quizName","$quizName").addPathInfo("maxTime","$maxTime").addPathInfo("maxMarks","$maxMarks").addPathInfo("noQuestions","$noQuestions").addPathInfo("creationDate","$creationDate").addPathInfo("Start_year","$Start_year").addPathInfo("Start_mon","$Start_mon").addPathInfo("Start_day","$Start_day").addPathInfo("Start_hr","$Start_hr").addPathInfo("Start_min","$Start_min").addPathInfo("End_year","$End_year").addPathInfo("End_mon","$End_mon").addPathInfo("End_day","$End_day").addPathInfo("End_hr","$End_hr").addPathInfo("End_min","$End_min").addPathInfo("allowPractice","$allowPractice") style=text-decoration:none>$brih_new $brih_announcement</I></b></a></td>
		#if($tdcolor != "2")
             		<td>
        	#elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
		<b><I><a href=$link.setPage("call,OLES,Announce_Exam.vm").addPathInfo("count","2").addPathInfo("mode","$mode").addPathInfo("quizID","$quizID").addPathInfo("quizName","$quizName").addPathInfo("maxTime","$maxTime").addPathInfo("maxMarks","$maxMarks").addPathInfo("noQuestions","$noQuestions").addPathInfo("creationDate","$creationDate").addPathInfo("Start_year","$Start_year").addPathInfo("Start_mon","$Start_mon").addPathInfo("Start_day","$Start_day").addPathInfo("Start_hr","$Start_hr").addPathInfo("Start_min","$Start_min").addPathInfo("End_year","$End_year").addPathInfo("End_mon","$End_mon").addPathInfo("End_day","$End_day").addPathInfo("End_hr","$End_hr").addPathInfo("End_min","$End_min").addPathInfo("allowPractice","$allowPractice") style=text-decoration:none>$brih_update $brih_Exist</I></b></a></td>		
	</tr>

#if($mode == "update")
	#if($tdcolor == "1")
		<tr bgcolor="$ui.menuColor" width="100%">
			<td align="left" width="100%" colspan="5"> $brih_alreadyannounce </td>
		</tr>
	#else
		<tr bgcolor="$ui.menuColor" width="100%">
			<td align="left" width="100%" colspan="5"><b><i><font size="3"> $brih_update </font><b></i></td>
		</tr>
		#set($display="display")
	#end
#else	
	#if($tdcolor == "2")
		<tr bgcolor="$ui.menuColor" width="100%">
			<td align="left" width="100%" colspan="5"> $brih_newannounce </td>
		</tr>
	#else
		<tr bgcolor="$ui.menuColor" width="100%">
			<td align="left" width="100%" colspan="5"><b><i><font size="3"> $brih_QDannounce </font><b></i></td>
		</tr>
		#set($display="display")
	#end
#end

#if($display == "display")
	<tr>
		<td><b>$brih_quiz $brih_ID</b></td>
		<td><input type="text" name="quizID" value="$quizID" readonly></td>
	</tr>
	<tr>
		<td><b>$brih_quiz $brih_title</b></td>
		<td><textarea rows="2" cols="23" name="quizName" readonly>$quizName</textarea></td>              
			
		##<td><input type="text" name="quizName" value="$quizName" readonly></td>
	</tr>
	<tr>
		<td><b>$brih_maximum $brih_time</b></td>
		<td><input type="text" name="maxTime" value="$maxTime" readonly></td>
	</tr>
	<tr>
		<td><b>$brih_maximum $brih_marks</b></td>
		<td><input type="text" name="maxMarks" value="$maxMarks" readonly></td>
	</tr>
	<tr>
		<td><b>$brih_nos $brih_qus2</b></td>
		<td><input type="text" name="noQuestions" value="$noQuestions" readonly></td>
	</tr>
	<tr>
		<td><b>$brih_cre_dat</b></td>
		<td><input type="text" name="creationDate" value="$creationDate" readonly></td>
	</tr>
	<tr>
		<td><b>$brih_start $brih_Da</b><font color=Red>*</font></td>
		<td>
			<select name="Start_year">
				#if($mode=="update")
					<option value="$Start_year">$Start_year
				#else
					<option value="$year">$year
				#end
				#foreach($cyear in $year_list)
					#if($mode=="update")
						#if($cyear != $Start_year)
							<option value="$cyear">$cyear
						#end
					#else
						#if($cyear != $year)
							<option value="$cyear">$cyear
						#end
					#end
				#end				
			</select>
			&nbsp<b><font size=+1>-</font></b>&nbsp
			<select name="Start_mon">
				#if($mode=="update")
					<option value="$Start_month">$Start_month
				#else
					<option value="$cmonth">$cmonth
				#end
				#foreach($mn in $month)
					#if($mode=="update")
						#if($mn != $Start_month)
							<option value="$mn">$mn
						#end
					#else
						#if($mn != $cmonth)
							<option value="$mn">$mn
						#end
					#end
				#end							
			</select>
  			&nbsp;<b><font size=+1>-</font></b>&nbsp;
	                <select name="Start_day">
				#if($mode=="update")
					<option value="$Start_day">$Start_day
				#else
					<option value="$cday">$cday
				#end
				#foreach($dy in $day)
					#if($mode=="update")
						#if($dy != $Start_day)
							<option value="$dy">$dy
						#end
					#else
						#if($dy != $cday)
							<option value="$dy">$dy
						#end
					#end
				#end			
			</select>
	        </td>
	</tr>
	<tr>
		<td><b>$brih_start $brih_time</b><font color=Red>*</font></td>
		<td>
		    
			<select name="Start_hr">
				#if($mode=="update")
					<option value="$Start_hr">$Start_hr
				#else
					<option value="$eHour">$eHour                		
				#end
        		 #foreach($hr in $hour)
        		 	#if($mode=="update")
						#if($hr != $Start_hr)
							<option value="$hr">$hr
						#end
					#else
						#if($hr != $eHour)
							<option value="$hr">$hr
						#end
					#end
				#end
                	</select>
			&nbsp<b><font size=+1>-</font></b>&nbsp
			<select name="Start_min">
				#if($mode=="update")
					<option value="$Start_min">$Start_min
				#else
					<option value="$eMinute">$eMinute                		
				#end						
			    #foreach($m in $minute)
			    	#if($mode=="update")
			    		  #if($m != $Start_min)
							<option value="$m">$m
						  #end
					#else
						#if($m != $eMinute)
							<option value="$m">$m
						#end
					#end
				#end
        	    	</select>
 		</td>
	</tr>
	<tr>
		<td><b>$brih_end $brih_Da</b></td>
		<td>
                	<select name="End_year" id="end1">
				#if($mode=="update")
					<option value="$End_year">$End_year
				#else
					<option value="$eYear">$eYear
				#end
				#foreach($cyear in $year_list)
					#if($mode=="update")
						#if($cyear != $End_year)
							<option value="$cyear">$cyear
						#end
					#else
						#if($cyear != $eYear)
							<option value="$cyear">$cyear
						#end
					#end
				#end	
			</select>
			&nbsp<b><font size=+1>-</font></b>&nbsp
			<select name="End_mon" id="end2">
				#if($mode=="update")
					<option value="$End_month">$End_month
				#else
					<option value="$eMonth">$eMonth
				#end
	            #foreach($mn in $month)
	            	#if($mode=="update")
						#if($mn != $End_month)
							<option value="$mn">$mn
						#end
					#else
						#if($mn != $eMonth)
							<option value="$mn">$mn
						#end
					#end
				#end					
			</select>
	  		&nbsp;<b><font size=+1>-</font></b>&nbsp;
	                <select name="End_day" id="end3">
				#if($mode=="update")
					<option value="$End_day">$End_day
				#else
					<option value="$eDate">$eDate
				#end
				#foreach($dy in $day)
					#if($mode=="update")
						#if($dy != $End_day)
							<option value="$dy">$dy
						#end
					#else
						#if($dy != $eDate)
							<option value="$dy">$dy
						#end
					#end
				#end				
			</select>
	        </td>
	</tr>
	<tr>
		<td><b>$brih_end $brih_time</b></td>
		<td>
        	<select name="End_hr">
				#if($mode=="update")
					<option value="$End_hr">$End_hr
				#else
					<option value="$eHour">$eHour                		
				#end	
				#foreach($hr in $hour)
					#if($mode=="update")
						#if($hr != $End_hr)
							<option value="$hr">$hr
						#end
					#else
						#if($hr != $eHour)
							<option value="$hr">$hr
						#end
					#end		
				#end			
            </select>
			&nbsp<b><font size=+1>-</font></b>&nbsp
			<select name="End_min">
				#if($mode=="update")
					<option value="$End_min">$End_min
				#else
					<option value="$eMinute">$eMinute              		
				#end	
				#foreach($m in $minute)
					#if($mode=="update")
			    	  	#if($m != $End_min)
							<option value="$m">$m
						#end
					#else
						#if($m != $eMinute)
							<option value="$m">$m
						#end
					#end
				#end					
	    	</select>
 		</td>
	</tr>
    	 
        <tr style="visibility:$setVisible">
		<td><b>$brih_result $brih_Da</b></td>
		<td>
                	<select name="Res_year" id="res1">
				#if($mode=="update")
					<option value="$Res_year">$Res_year
				#else
					<option value="$eYear">$eYear
				#end
				#foreach($cyr in $year_list)
					#if($mode=="update")
						#if($cyr != $Res_year)
							<option value="$cyr">$cyr
						#end
					#else
						#if($cyr != $eYear)
							<option value="$cyr">$cyr
						#end
					#end
				#end	
			</select>
			&nbsp<b><font size=+1>-</font></b>&nbsp
			<select name="Res_mon" id="res2">
				#if($mode=="update")
					<option value="$Res_month">$Res_month
				#else
					<option value="$eMonth">$eMonth
				#end
	            #foreach($mn in $month)
	            	#if($mode=="update")
						#if($mn != $Res_month)
							<option value="$mn">$mn
						#end
					#else
						#if($mn != $eMonth)
							<option value="$mn">$mn
						#end
					#end
				#end					
			</select>
	  		&nbsp;<b><font size=+1>-</font></b>&nbsp;
	                <select name="Res_day" id="res3">
				#if($mode=="update")
					<option value="$Res_day">$Res_day
				#else
					<option value="$eDate">$eDate
				#end
				#foreach($dy in $day)
					#if($mode=="update")
						#if($dy != $Res_day)
							<option value="$dy">$dy
						#end
					#else
						#if($dy != $eDate)
							<option value="$dy">$dy
						#end
					#end
				#end				
			</select>
	        </td>
	</tr>
	
	<tr bgcolor="$ui.menuColor" width="100%">
		<td align="left" width="100%" colspan="5">
			#if($mode == "update")
				<input type=button name="eventSubmit_newAnnouncement" value="$brih_update" onClick="checkField(document.frm,this);"/>
			#else
				<input type="button" name="eventSubmit_newAnnouncement" value="$brih_submit" onClick="checkField(document.frm,this);"/>
			#end		
			<input type="reset" name="reset" value="$brih_clear" onClick="checkClear(document.frm,this);"/>
		</td>
	</tr>
#end
</table>
<input type="hidden" name="mode" value="$mode" >
<input type="hidden" name="count" value="$tdcolor">
<input type="hidden" name="quizID" value="$quizID">
<input type="hidden" name="quizName" value="$quizName">
<input type="hidden" name="maxTime" value="$maxTime">
<input type="hidden" name="maxMarks" value="$maxMarks">
<input type="hidden" name="noQuestions" value="$noQuestions">
<input type="hidden" name="creationDate" value="$creationDate">
<input type="hidden" name="Start_year" value="$Start_year">
<input type="hidden" name="Start_mon" value="$Start_mon">
<input type="hidden" name="Start_day" value="$Start_day">
<input type="hidden" name="Start_hr" value="$Start_hr">
<input type="hidden" name="Start_min" value="$Start_min">
<input type="hidden" name="End_year" value="$End_year">
<input type="hidden" name="End_mon" value="$End_mon">
<input type="hidden" name="End_day" value="$End_day">
<input type="hidden" name="End_hr" value="$End_hr">
<input type="hidden" name="End_min" value="$End_min">
<input type="hidden" name="allowPractice" value="$allowPractice">
<input type="hidden" name="allow" value="">
<input type="hidden" name="actionName" value="">
<input type="hidden" name="checkResultDate" value="$setVisible">
</form>
<script LANGUAGE="JAVASCRIPT">
	function popupWin(url,popupName){
    		Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=200,width=300,align=center");
   	}

	function checkField(frm,field){		
		var dd1=document.getElementById('end1');
		var mm1=document.getElementById('end2');
		var yy1=document.getElementById('end3');
		var dd2=document.getElementById('res1');
		var mm2=document.getElementById('res2');
		var yy2=document.getElementById('res3');
		var validate=true;

		//if(yy2<yy1){
		//validate=false;
		//}
		//else if((yy2==yy1)&&(mm2<mm1)){
		//validate=false;
		//}
		//else if(((yy2==yy1)&&(mm1==mm2)&&(dd2<dd1)){
		//validate=false;
		//}
		
		var date1=yy1.value.toString()+"/"+mm1.value.toString()+"/"+dd1.value.toString();
		var date2=yy2.value.toString()+"/"+mm2.value.toString()+"/"+dd2.value.toString();
		
		var checkres=frm.checkResultDate.value;
		
		if(checkres=="visible"){
			//if(Date.parse(date2) > Date.parse(date1)){
			frm.actionName.value=field.name;
			frm.allow.value=frm.allow.value;
			frm.submit();		
			//}
			//else if(Date.parse(date2)==(Date.parse(date1))){
				//alert("Result Date Can't be Equal to End Date");
			//}
			//else if(Date.parse(date2)<(Date.parse(date1))){
			//alert("Result Date Can't be Less than End Date"+date2+"  endDate  "+ date1);
			//}
		}
		else{
			frm.actionName.value=field.name;
			frm.allow.value=frm.allow.value;
			frm.submit();	
		}
	}
</script>