#*
 * @#Oles_Gen.vm
 * Copyright (c) 2010 DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com ">Nupur Dixit</a>
 * @author <a href="mailto:rekha20july@gmail.com">Rekha Devi Pal</a>
 * @author <a href="mailto:shaistashekh@gmail.com"> Shaista</a>
 * Contributors: Members of MHRD Project DEI Agra
*#

$page.setTitle("Quiz Management")
$page.setBgColor("bgcolor")
## If some message has been set, that is retrieved and displayed.
<font face="$ui.sansSerifFonts">
$!data.getMessage()
</font>
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

<table bgcolor="$ui.menuColor" width=100%>
	<tr align="right"><td align="right"><b>
		<font face="$ui.sansSerifFonts">
               <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1") style="text-decoration:none;">$online_online $brih_examat $brih_system</a>|
                <a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1") style="text-decoration:none;"> $brih_exam $brih_generate </a>|
#if($mode == "QuizDetail")              
               <a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("count","3") style="text-decoration:none;">$brih_quiz $brih_detail </a>|
                                $brih_quiz $brih_Of3 $brih_update
                #else
                                $brih_quiz $brih_Of1 $brih_setup
                #end
                
                |<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style="text-decoration:none;">$course</a>
                |<a href=$link.setPage("Index.vm") style="text-decoration:none;">$brih_home</a>
 </b></td></tr>

</table>

## Creating the links for help regarding FAQ 
<table width="100%">
	<tr>
		<td>
<a href=javascript:popupWin("/brihaspati2/docs/OLES_Quiz.html","newWin");>$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")"></td>
	</tr>
</table>

#if($mode == "QuizDetail")
	<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Quiz_Detail.vm").setAction("OLES_Quiz")>
#else	
	<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Oles_Gen.vm").setAction("OLES_Quiz")>
#end
	

<table width="100%" bgcolor="$ui.tableColor">
#if($mode == "QuizDetail")
	<tr bgcolor="$ui.menuColor" width="100%" align="right">
		<td align="left" width="100%" colspan="5"><b><i><font size="3"> $brih_update $brih_quiz</font><b></i></td>
	</tr>
#else
	<tr width="100%" align="right">
                  #if($tdcolor != "4")
                        <td colspan="4">
                #elseif($tdcolor == "4")
                        <td bgcolor="#AFDCEC" colspan="4">
                #end
                <b><I><a href=$link.setPage("call,OLES,Preview_Quiz.vm").addPathInfo("mode","preview").addPathInfo("count","4") style=text-decoration:none>$brih_preview</I></b></a></td>
                  #if($tdcolor != "3")
                        <td>
                #elseif($tdcolor == "3")
                        <td bgcolor="#AFDCEC">
                #end
                <b><I><a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("mode","quizDetail").addPathInfo("count","3") style=text-decoration:none>$brih_quiz $brih_Of $brih_detail</I></b></a></td>
                    #if($tdcolor != "2")
                        <td>
                #elseif($tdcolor == "2")
                        <td bgcolor="#AFDCEC">
                #end
                <b><I><a href=$link.setPage("call,OLES,Create_Quiz.vm").addPathInfo("count","2").addPathInfo("type","selectQuiz") style=text-decoration:none>$brih_quiz $brih_Of $brih_creation</I></b></a></td>

                   #if($tdcolor != "1")
                        <td>
                #elseif($tdcolor == "1")
                        <td bgcolor="#AFDCEC">
                #end
                <b><I><a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1").addPathInfo("mode","quizSetup") style=text-decoration:none>$brih_quiz $brih_Of1 $brih_setup</I></b></a></td>

 </tr>
      <tr align="right"  bgcolor="$ui.menuColor" width="100%">
                <td align="right" width="100%" colspan="7"><b><i><font size="3">$brih_quiz $brih_Of1 $brih_setup</font><b></i></td>

#end
	
#if($mode == "QuizDetail")
	#foreach ($Quiz in $allQuiz)
		##<tr bgcolor="$ui.menuColor">
		<tr align="right" colspan="7">	
			<td align="right"><b> $brih_quiz $brih_Of1 $brih_ID</b></td>
			<td align="right"><input type="text" name="quizID" value="$!qid" readonly></td>
		</tr>	
		<tr align="right"  bgcolor="$ui.menuColor">
	       		<td align="right"><font color=Red>*</font><b>$brih_quiz $brih_Of $brih_title</b></td>  
	       		<td align="right"><textarea rows="2" cols="23" name="quizName" readonly>$Quiz.getQuizName()</textarea></td>              
			##<td><input type="text" name="quizName" value="$Quiz.getQuizName()" readonly></td>
		</tr>
		<tr align="right">
			<td align="right"><font color=Red>*</font><b>$brih_marks $brih_Of $brih_maximum </b></td>			
			<td align="right"><input type="text" name="maxMarks" value="$Quiz.getMaxMarks()"></td>
		</tr>
		<tr align="right"  bgcolor="$ui.menuColor">
			<td align="right"><font color=Red>*</font><b>$brih_time $brih_Of $brih_maximum </b></td> 
			#set($len = $Quiz.getMaxTime().indexOf(":")) 
  			#set($mtime=$Quiz.getMaxTime().substring(0,$len))			
			<td align="right"><input type="text" name="maxTime" value="$mtime"></td>       	
			##<td><input type="text" name="maxTime" value="$Quiz.getMaxTime()"></td>
		</tr>
		<tr align="right"  bgcolor="$ui.menuColor">
           		<td align="right"><font color=Red>*</font><b>$brih_qus2 $brih_Of $brih_num</b></td>
			<td align="right"><input type="text" name="numberQuestion" value="$Quiz.getnoQuestion()"></td>
	        </tr>   
	#end
#else
	##<tr bgcolor="$ui.menuColor">

                <tr align="right">
                <td align="right" colspan="6"> <input type="text" name="quizID" value="$!qid" "readonly"></td>
                <td align="right" colspan="4"> <font color=RED> *</font><b> $brih_quiz $brih_Of1 $brih_ID</b> </td>
        </tr>
        <tr>
                <td align="right" colspan="6"><input type="text" name="quizName" value=""></td>
                <td align="right" colspan="4"><font color=RED> *</font><b>$brih_quiz $brih_Of $brih_title </b> </td>
        </tr>
        <tr>
                <td align="right" colspan="6"><input type="text" name="maxMarks" value=""></td>
                <td align="right" colspan="4"><font color=Red>*</font><b> $brih_marks $brih_Of $brih_maximum</b></td>
        </tr>
        <tr>

                <td align="right" colspan="6"><input type="text" name="maxTime" value=""></td>
                <td align="right" colspan="4"><font color=Red>*</font><b>$brih_time $brih_Of  $brih_maximum </b></td>
        </tr>
        <tr>
                <td align="right" colspan="5"><input type="text" name="numberQuestion" value=""></td>
        <td align="right" colspan="5"><font color=Red>*</font><b>$brih_qus2 $brih_Of $brih_num</b></td>
        </tr>
        <tr align="right" colspan="5">
                <td align="right" colspan="5">
                <input type="radio" name="allow" value="no" checked>$brih_no <br>
                <td align="right"><input type="radio" name="allow" value="yes">$brih_yes</td>
               <td align="right"><font color=Red>*</font><b>$brih_allowpractice</b></td>
                </tr>
              
#end	
       
<tr align="right" bgcolor="$ui.menuColor" width="100%">
	<td align="right" width="100%" colspan="7">
		<input type="reset" name="reset" value="$brih_clear" class="button-ftextstyle" onClick="checkClear(document.frm,this);"/>
		#if($mode == "QuizDetail")
			<input type=button class="button-ftextstyle" name="eventSubmit_doUpdate" value="$brih_update" onClick="checkField(document.frm,this);"/>
			<input type="hidden" name="mode" value=$mode >
			<input type="hidden" name="quizMode" value=$quizMode >					
		#else
			<input type="button" class="button-ftextstyle" name="eventSubmit_doUploadQuiz" value="$brih_insert" onClick="checkField(document.frm,this);"/>
		#end		
	</td>
</tr>
</table>
	
<input type="hidden" name="actionName">	
<input type="hidden" name="count" value="$tdcolor">	
</form>
<SCRIPT LANGUAGE="javascript">        
	function checkField(frm,field){
		if(frm.quizName.value!="" && frm.maxMarks.value!="" && frm.maxTime.value!="" && frm.numberQuestion.value!=""){
			var quizName=frm.quizName.value;
			var temp="~`!@#%^&*()-+={[}]|\\:;'<,>./?\f\n\r\t\v";
			var btype=new Boolean(true);	
			for(k=0;k<temp.length;k++){
			    	for (n = 0; n < quizName.length; n++){
			        	if(temp.charAt(k) == quizName.charAt(n))
			            	btype=false;				
			        }
			}			
			if(btype){
				if((frm.maxMarks.value>=10) && (frm.maxMarks.value<=100)){
					if((frm.maxTime.value>=5) && (frm.maxTime.value<=120)){
						if((frm.numberQuestion.value>=5) && (frm.numberQuestion.value<=20)){
				                       	frm.actionName.value=field.name;
			                        	frm.submit();
				            	}
				                else{
					                alert("The number of questions in a quiz should be between 5 to 20");
				            	}
			        	}
					else{
			        		alert("The max time of a quiz should be between 5 to 120 minutes");
			        	}
			    	}
			    	else{
			    		alert("The max marks in a quiz should be between 10 to 100");
			    	}
			}
			else{
				alert("Special character is not allowed in quiz name !!");	
			}
		}
		else
		    alert("Please fill the Mandatory(*) Fields !!");
	}

	function checkClear(frm,field){
		frm.quizName.value=""
		frm.maxMarks.value=""
		frm.maxTime.value=""
		frm.noQuestion.value=""
	}

	function popupWin(url,popupName){
		Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
	}
</script>
