#*
 * @#Practice_Quiz.vm
 * Copyright (c) 2010, 2013 MHRD, DEI Agra.
 * All Rights Reserved.
 * @author <a href="mailto:noopur.here@gmail.com">Aayushi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * Contributors: Members of MHRD, DEI Agra.
*#
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
#if($mode == "update")
	$page.setTitle("Practice quiz Update")
#else
	$page.setTitle("Practice Quiz Creation")
#end
$page.setBgColor("bgcolor")
## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
## Retreiving the $lang (representing the choosen language for display, which was set in corresponding the screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
	<tr align="right"><td><b>
		<font face="$ui.sansSerifFonts">
		<a href=$link.setPage("call,OLES,Oles_Gen.vm").addPathInfo("count","1")>$brih_generate $brih_exam</a> |
		#if($quizMode == "random")
			<a href=$link.setPage("call,OLES,Quiz_Detail.vm").addPathInfo("count","3")> 
			$brih_quiz $brih_Of1 $brih_detail </a> | $brih_practice $brih_quiz $brih_Of $brih_update
			
		#else	
			<a href=$link.setPage("call,OLES,Create_Quiz.vm").addPathInfo("count","2")>$brih_quiz $brih_creation</a> | $brih_practice $brih_quiz $brih_Of $brih_creation 
			
		#end	
		| <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> 
		| <a href=$link.setPage("Index.vm")>$brih_home</a>
	</b></td></tr>
</table>

## Creating the links for help regarding FAQ 
<table width="100%">
	<tr align="right">
		<td> <a href=javascript:popupWin("/brihaspati/docs/OLES.html","newWin");>$brih_help</a> <img src="$content.getURI("/images/Lefthand.gif")"> </td>
	</tr>
</table>

#if($quizMode == "random")
	#if($mode == "update")
		#set($tdcolor="3")
		<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Update_Quiz_Question.vm").setAction("OLES_Quiz")>
	#else
		#set($tdcolor="3")
		<form name="frm" method="get"  enctype="multipart/form-data" action=$link.setPage("call,OLES,Practice_Quiz.vm").setAction("OLES_Quiz")>
	#end
#else	
	<form name="frm" method="post" enctype="multipart/form-data" action=$link.setPage("call,OLES,Practice_Quiz.vm").setAction("OLES_Quiz")>
#end
	
<table width="100%" bgcolor="$ui.tableColor">
	#if($quizMode != "random")
			
		<tr bgcolor="$ui.menuColor" width="100%" align="right">
			<td align="left" width="100%" colspan="5"><b><i><font size="3"color=$ui.fontColorBlue> $brih_practice $brih_quiz $brih_Of $brih_generation </font><b></i></td>
		</tr>
	#else		
		<tr bgcolor="$ui.menuColor" width="100%" align="right">
			<td align="left" width="100%" colspan="5"><b><i><font size="3" color=$ui.fontColorBlue> $brih_practice $brih_quiz $brih_Of $brih_update </font><b></i></td>
		</tr>		
	#end
	<tr align="right">
        	<td><select name=topicList class="drop">		
			#if($mode == "update")
				#foreach($topicname in $topicList)				
					#if($topicname.getTopic().toString()==$topic.toString())						
						<option Selected value="$topicname.getTopic()">$topicname.getTopic()</option>
					#else						
						<option value="$topicname.getTopic()">$topicname.getTopic()</option>
					#end
				#end
			#else
				#foreach($topicname in $topicList)
					<option value="$topicname.getTopic()">$topicname.getTopic()</option>
				#end
			#end	
		</select></td>
		<td><font color=Red>*</font> <b>$brih_topic $brih_Of1 $brih_name</b></td>        		              
	</tr>
        <tr align="right">
        	<td><select name=typeList class="drop">            	
		    	#if($mode == "update")
		    		#if($questionType=='mcq')	
		    			#set($mcq='selected')                		
				#elseif($questionType=='tft')							
		    			#set($tft='selected')                		
				             		
				#end
			#end
			<option value="mcq" $mcq>$brih_multiplechoice
			<option value="tft" $tft>$brih_true/$brih_false		
			</option>
            	</select></td>     	
        	<td><font color=Red>*</font><b>$brih_type</b></td>
        </tr>
        <tr align="right">
        	<td><select name="levelList" class="drop">
    			#if($mode == "update")
    				#if($questionLevel=='0-3')	
    					#set($easy='selected')										
				#elseif($questionLevel=='4-6')							
					#set($medium='selected')				
				#else
					#set($hard='selected')	
				#end
			#end                	
			<option value="0-3" $easy>$brih_easy
			<option value="4-6" $medium>$brih_medium
			<option value="7-9" $hard>$brih_hard
			</option>
            	</select></td> 
        	<td><font color=Red>*</font><b>$brih_difflevel</b></td>        	
        </tr>
	<tr align="right">
		<td>
		  	#if($mode == "update")
		  		<input type="text" name="numberQuestion" value="$questionNumber">
	  		#else
	  			<input type="text" name="numberQuestion" value="">	
  			#end	  	
  		</td>
        	<td><font color=Red>*</font><b> $brih_qus2 $brih_Of $brih_nos</b></td>
        </tr>                
	<tr align="right">
		<td>
			#if($mode == "update")
		  		<input type="text" name="marksQuestion" value="$markPerQuestion">
	  		#else
	  			<input type="text" name="marksQuestion" value="">		
			#end	
		</td>
        	<td><font color=Red>*</font> <b>$brih_marks $brih_per $brih_qus</b></td>
        </tr>
	<tr bgcolor="$ui.menuColor" width="100%" align="right">
		<td width="100%" colspan="5">
			#if($mode == "update")
		  		<input type="reset" name="$brih_reset" class="button-ftextstyle" value="$brih_restore $brih_original"/>
				<input type="button" class="button-ftextstyle" name="eventSubmit_updateQuizQuestionSetting" value="$brih_update" onClick="checkValue(document.frm,this);"/>
			#else
				<input type="reset" name="reset" value="$brih_reset" class="button-ftextstyle" onClick="checkClear(document.frm,this);"/>
				<input type="button" name="eventSubmit_practiceQuiz" class="button-ftextstyle" value="$WikiSave & $brih_exit" onClick="checkValue(document.frm,this);">			
				<input type="button" name="eventSubmit_practiceQuiz" class="button-ftextstyle" value="$WikiSave & $brih_add $brih_more" onClick="checkValue(document.frm,this);"/>
			#end
		</td>
	</tr>
</table>

<input type="hidden" name="mode" value="$mode" >
<input type="hidden" name="type" value="createQuiz" >
<input type="hidden" name="count" value="$tdcolor">
<input type="hidden" name="courseID" value="$courseID">
<input type="hidden" name="quizID" value="$quizID">
<input type="hidden" name="quizName" value="$quizName">
<input type="hidden" name="maxMarks" value="$maxMarks">
<input type="hidden" name="noQuestions" value="$noQuestions">
<input type="hidden" name="topicName" value="">
<input type="hidden" name="topicID" value="$topicID">
<input type="hidden" name="typeName" value="">
<input type="hidden" name="levelName" value="">
<input type="hidden" name="actionName" value="">
<input type="hidden" name="quizMode" value="$quizMode">
<input type="hidden" name="page" value="">
<input type="hidden" name="quizDetail" value="$quizID,$maxMarks,$noQuestions,$allowPractice">
</form>
<script LANGUAGE="JAVASCRIPT">
	
	function popupWin(url,popupName){
    		Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=200,width=300,align=center");
   	}
   	
	function checkValue(frm,field){		
        	if(frm.topicList.value!="" && frm.typeList.value!="" && frm.levelList.value!="" && frm.numberQuestion.value!=""&& frm.marksQuestion.value!=""){
			if(isNumberString(frm.numberQuestion.value)){
                                alert("Question Number should be an integer value");
                                frm.numberQuestion.focus();                                
                        }
			else{
				if(isNumberString(frm.marksQuestion.value)){
                                	alert("Marks should be an integer value");
                                	frm.marksQuestion.focus();                                
                        	}
				else{
					frm.actionName.value=field.name;			
					frm.topicName.value=frm.topicList.options[frm.topicList.selectedIndex].value;
					frm.typeName.value=frm.typeList.options[frm.typeList.selectedIndex].value;
					frm.levelName.value=frm.levelList.options[frm.levelList.selectedIndex].value;
					if(field.value=="Save & Exit"){
						frm.page.value="exit";
					}
        				frm.submit();
				}
			}			
        	}
        	else
            		alert("Please fill the Mandatory(*) Fields !!");            
	}

	function isNumberString(chString){
                if(chString.length==0)
                        return false;
                var RefString="0123456789.";
                for(count=0;count<chString.length;count++){
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1){
                                return true;
                        }
                }
                return false;
        }        
</script>
