#*
 * @(#) SecurityString.vm
 * Copyright (c) 2010,2013 MHRD, DEI Agra, IITK.
 * All Rights Reserved.
 * @author <a href="mailto:dev.singha93@gmail.com">Devendra singhal</a>
 * @author <a href="mailto:palseema30@gmail.com">Manorama Pal</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * Contributors: Members of MHRD, DEI Agra, IITK.
*#
$page.setTitle("Show Security String")
$page.setBgColor($ui.bgcolor)
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
#set($cnm = $data.getUser().getTemp("course_name" ).toString())
## If some message has been set, that is retrieved and displayed.
<font size="4">
	$!data.getMessage()
</font>

<table bgcolor="$ui.menuColor" width=100%>
        <tr align="right"><td><b>
		<font face="$ui.sansSerifFonts">
                <a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1")>$online_online $brih_examat $brih_system</a>|
                #if($flag == "security")
              	  $brith_security $brih_string |   
              	#elseif($flag == "show") 
              		<a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","6").addPathInfo("flag","security")>$brith_security</a>| $RemoteShow $brith_security $brih_string |
              	#elseif($flag == "generate") 
              		<a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","6").addPathInfo("flag","security")>$brith_security</a>| $brih_generate $brith_security $brih_string |
              	#else
			$brith_security $brih_string |              	
              	#end
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cnm</a> |
                <a href=$link.setPage("Index.vm")>$brih_home</a> 
        </b></td> </tr>    
</table>
## Creating the links for help regarding FAQ 

<table width="100%">
	<tr align="right">
		<td align="left"> <a href=javascript:popupWin("/brihaspati2/docs/OLES_Quiz.html","newWin");>$brih_help</a> <img src="$content.getURI("/images/Lefthand.gif")"> </td>
	</tr>
</table>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#if($flag=="show")
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("flag",$flag)>
#else
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,OLES,SecurityString.vm").setAction("OLES_AttemptQuiz")>
#end
#if($flag == "security")
<table width="100%" bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.tableColor" align="right">
		#if($tdcolor != "2")
			<td>
		 #elseif($tdcolor == "2")
			<td bgcolor="#AFDCEC">
		#end
		<b><I><a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","2").addPathInfo("flag","show") style=text-decoration:none>$brith_showSecurity</I></b></a></td>
		#if($tdcolor != "1")
		  	<td>
		 #elseif($tdcolor == "1")
			<td bgcolor="#AFDCEC">
		#end
		<b><I><a href=$link.setPage("call,OLES,SecurityString.vm").addPathInfo("count","1").addPathInfo("flag","generate") style=text-decoration:none>$brith_generateSecurity</I></b></a></td>
	</tr>
</table>
<table bgcolor="$ui.tableColor" width="100%">
	<tr bgcolor="$ui.menuColor" width="100%" align="right">
		<td align="left" width="100%" colspan="6"><b><i><font size="3"> $brith_security $brih_Of $brih_string </font><b></i></td>
	</tr>
</table>
#elseif($flag == "show")
	<table bgcolor="$ui.tableColor" width="100%">
		<tr bgcolor="$ui.menuColor" align="right">
			<td  width="50%">
        		<SELECT name=quizlist class="drop" onChange="checkField(document.frm);"> 
				#if($quizlist=="")      		
					<option value="1"> $brih_quiz $brih_select </option>
				#else                   
                                	<option value="$!quizname">$!quizname</option>  #end
					#foreach($topic in $quizList)
						<option value="$!topic.getQuizID()">$!topic.getQuizName()</option>
					#end			
    			</SELECT>
			</td>
			<td width="50%"> <b> $brih_quiz $brih_Of1 $brih_name  </b> </td>
		</tr>
	</table>
		#if($quizname!="")
                <table width="100%" bgcolor="$ui.tableColor">
                        <tr bgcolor="$ui.tableColor" align="right">
                                <td width="50%"><b>$brih_secritystrs</b></td>
                                <td width="50%"><b>$brih_student $brih_Of1 $brih_name</b></td>
			</tr>
                        #foreach($secstrs in $securitydetail)
                        	#if($velocityCount%2==0)
                                	<tr bgcolor="$ui.tableColor" align="right">
                                #else
	                                <tr bgcolor="$ui.menuColor" align="right">
                                #end
	
        	                <td>$secstrs.SecurityID</td>
                	        <td>$secstrs.StudentID</td>
                        #end
                        </tr>
                <tr bgcolor="$ui.menuColor" align="right">
                        <td colspan="2"> <input type="button" class="button-ftextstyle" name="print" value="$brih_print" onClick="javascript:window.print();"/> </td>
                </tr>
                </table>
                #end
	
#elseif($flag == "generate")

	<table bgcolor="$ui.tableColor" width="100%">
		<tr bgcolor="$ui.menuColor" align="right">
			<td>
        		<SELECT name=quizlist class="drop">       		
				<option value="1"> $brih_quiz $brih_select </option>			
					#foreach($topic in $quizList)
						#if($!topic.getQuizID()==$!quizID)
							<option value="$!topic.getQuizID()">$!topic.getQuizName()</option>
						#else
							<option value="$!topic.getQuizID()">$!topic.getQuizName()</option>
						#end               		 		
					#end			
    			</SELECT>
			</td>
			<td> <b> $brih_quiz $brih_Of1 $brih_name </b> </td>
		</tr>
	
	
		<tr bgcolor="$ui.menuColor" align="right">
			<td colspan="2"> <input type="button" class="button-ftextstyle" name="eventSubmit_generateSecurity" value="$brith_generateSecurity" onClick="checkField1(document.frm,this);"/>	</td>
		</tr>    
		<input type="hidden" name="actionName">
		<input type="hidden" name="quizID">
		<input type="hidden" name="quizName">
	</table>
#end	
<input type="hidden" name="count" value="$!tdcolor">
<input type="hidden" name="flag" value="$flag">
</form>
</body>


<SCRIPT LANGUAGE="javascript">
	function popupWin(url,popupName){
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
        
	function checkField(frm,field){
		frm.submit();
	}	
	function checkField1(frm,field){
		quizid = frm.quizlist.options[frm.quizlist.selectedIndex].value;			
			if(quizid ==1){
					alert("kindly select the quiz")
					frm.quizlist.focus();
					return false;
			}
			else{
					frm.quizID.value = frm.quizlist.options[frm.quizlist.selectedIndex].value;
					frm.quizName.value = frm.quizlist.options[frm.quizlist.selectedIndex].text;			
					frm.actionName.value=field.name;
	       			frm.submit();
			}
	}	
</SCRIPT>
