#*
 * @(#) InstUserMgmt_Admin.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a> 
 * @author <a href="mailto:richa.tandon1@gmail.com ">Richa Tandon</a> 
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 20-10-2010, 22-11-2010, 23-12-2010, 11-01-2011, 27-03-2012
 * @modified date: 15-03-2013
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
$page.setTitle("Admin Home | User Management")
$page.setBgColor("bgcolor")
$!data.getMessage()
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
#set($lang = $data.getUser().getTemp("lang" ).toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor" align="right">
	#if($mode=="sclist")
		<td>
		#if($mode1=="list")
			#if( $total_size!=0 )
				  #if( $endIndex < $total_size )
                                        #if( $endIndex <  $AdminConf )
                                                ##[$k - $total_size] of $total_size
						[$k - $total_size ] $brih_in $brih_from1 <td width="10%" align="left"> $total_size </td>
                                        #else
                                                ##[$k - $endIndex] of $total_size
						[$k - $endIndex] $brih_in $brih_from1 <td width="10%" align="left"> $total_size </td>
                                        #end
                               #else
                                       ##[$k - $total_size] of $total_size
					[$k - $total_size ] $brih_in $brih_from1 <td width="10%" align="left"> $total_size</td>
                               #end
			#end
		#end
		</td>		
		<td colspan="7">
	#else
		<td colspan="8">
	#end
     	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_Of1 $brih_home</a> | 
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none> $brih_mgmt $brih_usr</a> | 
	#if($mode=="")
		$brih_add $brih_usr

	##elseif($mode=="sclist")
		##$brih_student $brih_course $brih_list 
	 #elseif(($mode=="sclist") || ($mode == "instlist"))
                #if($mode=="sclist")
                      $brih_student $brih_Of $brih_course $brih_list
                #else
                        $brih_Instructor $brih_Of $brih_course $brih_list
                #end
	#elseif($mode=="AddMUser")
	##	$brih_add $brih_multiple1 $brih_usr
		$brih_multiple1 $brih_usr $brih_add | $brih_txt $brih_file $brih_upload 
        #elseif($mode=="USzip")
	       $brih_multiple1 $brih_usr $brih_add | $brih_zip $brih_file $brih_upload 
	#elseif($mode=="UPhoto")
		$brih_photo $brih_upload 	 
	#else
		#if($role=="instructor")
			$brih_delete $brih_ins 
		#else
			$brih_delete $brih_student 
		#end
	#end
</td></tr>
<tr bgcolor="$ui.tableColor" align="right">
	#if($tdcolor != "7")
        <td>
        #elseif($tdcolor == "7")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("count","7") style=text-decoration:none>$brih_attendence</a></td>
	#if($tdcolor != "6")
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","UPhoto").addPathInfo("count","6") style=text-decoration:none> $brih_photo $brih_upload </a></td>
	 #if($tdcolor != "5")
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("mode","USzip").addPathInfo("count","5") style=text-decoration:none>$brih_multi_usr</a></td>

        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student").addPathInfo("count","4") style=text-decoration:none> $brih_delete $brih_student </a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor").addPathInfo("count","3") style=text-decoration:none> $brih_delete $brih_Instructor</a></td>
	#if($tdcolor != "0")
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","instlist").addPathInfo("count","0") style=text-decoration:none>$brih_Instructor $brih_Of $brih_course $brih_list </a></td>

	#if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","sclist").addPathInfo("count","2") style=text-decoration:none>$brih_student $brih_Of $brih_course $brih_list</a></td>
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none>$brih_add $brih_usr</a></td>
</tr>
</table>
#if(($mode=="")&&($mode !="instlist")&&($mode !="sclist")&&($mode !="AddMUser")&&($mode !="UPhoto")&&(($mode !="userdelete")||($role=="instructor")||($role=="student"))) 
	<form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("AddUser_Institute")">
	<table width=100% align="right" bgcolor="$ui.tableColor">
	<tr bgcolor="$ui.menuColor" align="right"><td align="right" colspan="5"><b>$brih_entUsrDetail</b></td></tr>
	<tr align="right">
        ##formCell ("$brih_usr $brih_name <font color=red>*</font>" "UNAME" "")
 #foreach($st in $UsrDetail)
           ##formCell("$brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
		<td align="right" colspan="4"> <input type="text" name="EMAIL" value="$!st.usrname"> </td>
		<td> <font color=red>*</font> $brih_email $brih_ID </td> 
      </tr>
      <tr bgcolor="$ui.menuColor" align="right">
        ##formPasswordCell ("$brih_pwd" "PASSWD" "")
	<td align="right" colspan="4"> <input type="password" name="PASSWD" value="$!st.Pswd"> </td>
	<td> $brih_pwd </td> 
      </tr>
          <tr align="right">
                ##formCell ("$brih_first $brih_name" "FNAME" "")
		<td align="right" colspan="4"> <input type="text" name="FNAME" value="$!st.Fstname"> </td>
		<td> $brih_first $brih_name </td>
          </tr>
          <tr bgcolor="$ui.menuColor" align="right">
          	##formCell("$brih_last $brih_name" "LNAME" "")
		<td align="right" colspan="4"> <input type="text" name="LNAME" value="$!st.Lstname"> </td>
		<td> $brih_last $brih_name </td>
	
          </tr>
	<tr align="right">
     	<td align="right" colspan="4">
        <select id="group_id" class="drop" name="group" size=1 onChange="ChangeRole(document.frm,this);"/>
		#foreach($name in $courseList)
                        <option value="$name.getGroupName()">$name.getCAlias(): $name.getCourseName()-$name.getUserName()</option>
	          #end

          </select>
         </td>
	<td>
	          <font color=RED>*</font> $brih_sel_course
	</td>
         </tr>
 	<tr bgcolor="$ui.menuColor" align="right">
     	<td colspan="4" align="right">
		<select id="role_id" class="drop" name="role" size=1 onChange="ChangeGroup(document.frm,this);"/>
		#if($st.Rolename!="")
                                #if($st.Rolename=="student")
                                        <option value="student">$brih_student
                                #elseif($st.Rolename=="instructor")
                                        <option value="instructor">$brih_Instructor
                                #elseif($st.Rolename=="group_admin")
                                        <option value="group_admin">$brih_groupAdmin
                                #elseif($st.Rolename=="author")
                                        <option value="author">$brih_author
                                #end
		#else
                                <option value="Select Role">$brih_sel_Role
                #end
                        #if($st.Rolename!="instructor")
                                <option value="instructor">$brih_Instructor
                         #end
                         #if($st.Rolename!="student")
                                <option value="student">$brih_student
                         #end
                         #if($st.Rolename!="group_admin")
                                <option value="group_admin">$brih_groupAdmin
                        #end
                        #if($st.Rolename!="author")
                                <option value="author">$brih_author
                        #end
                                </option>
                        </select>

        </td>
          <td align="right">
		<font color="Red">*</font> $brih_role $brih_select
          </td>
        </tr>
	#if($st.Rolename=="")   
                <tr id="table1" style="display:none;" align="right">
                <td colspan=3 align="right">
                #if($st.Pgname!="")
                        <select name="prg" id="prg_id" size=1 onChange="DeleteField(document.frm,this);" class="drop"/>
                                <option value="$!st.Pgcode">$!st.Pgname</option>
                #else
                        <select name="prg" id="prg_id" size=1 onChange="DeleteField(document.frm,this);" class="drop"/>
                                <option value="Select Program"> #if($lang=="hindi") $brih_program $brih_select #else $brih_select $brih_program #end</option>
                #end
                #foreach($progname in $PrgDetail)
                        #if($progname.getPrgName()!=$st.Pgname)
                                <option value="$progname.getPrgCode()">$progname.getPrgName() </option>
                        #end
                #end
                        </select>
                </td>
                <td>($brih_program($brih_student $brih_if </td>
        #elseif($st.Rolename=="student")
                <tr id="table1" align="right">
                <td colspan=3>
                #if($st.Pgname!="")
                        <select name="prg" id="prg_id" size=1 onChange="DeleteField(document.frm,this);" class="drop"/>
                                <option value="$!st.Pgcode">$!st.Pgname</option>
                #else
                        <select name="prg" id="prg_id" size=1 onChange="DeleteField(document.frm,this);" class="drop"/>
                                <option value="Select Program"> #if($lang=="hindi") $brih_program $brih_select #else $brih_select $brih_program #end</option>
                #end
                #foreach($progname in $PrgDetail)
                        #if($progname.getPrgName()!=$st.Pgname)
                                <option value="$progname.getPrgCode()">$progname.getPrgName() </option>
                        #end
                #end
                        </select>
                </td>
                <td>$brih_program($brih_if $brih_student) </td>
        </tr>
        #end
        #if($st.Rolename=="")
                <tr bgcolor="$ui.menuColor" id="table2" bgcolor="$ui.menuColor" style="display:none;" align="right">
                #if($rollno.size()>0)
                        #foreach($rlno in $rollno)
                                <td><input type="text" name="rollno" value="$rlno.getRollNo()" /></td>
                        #end
                #else
                        #if($st.usrname=="")
                                <td><input type="text" name="rollno" id="rollno_id" value=""/></td>
                        #else
                                <td><input type="text" name="rollno" id="rollno_id" value="" /></td>
                        #end
                #end
                <td>$brih_rollno($brih_if $brih_student)</td>
        #elseif($st.Rolename=="student")
                <tr id="table2" bgcolor="$ui.menuColor" align="right">
                #if($rollno.size()>0)
                        #foreach($rlno in $rollno)
                                <td><input type="text" name="rollno" value="$rlno.getRollNo()" /></td>
                        #end
                #else
                        #if($st.usrname=="")
                                <td><input type="text" name="rollno" id="rollno_id" value=""/></td>
                        #else
                                <td><input type="text" name="rollno" id="rollno_id" value="" /></td>
                        #end
                #end
                <td>$brih_rollno($brih_if $brih_student)</td>
        </tr>
        #end
#end ## end of Foreach loop
        <tr align="right">
        <td colspan=5 align="right">
        <input type="hidden" name="actionName">
        <input type="hidden" name="group_author">
        <input type="hidden" name="role_author">
        <input type="Reset" class="button-ftextstyle" name="Reset" Value="$brih_clear"/>
        <input type="button" class="button-ftextstyle" name="eventSubmit_doRegister" value="$brih_reg1" onClick="checkFieldAddUser(document.frm,this);"/>
        <input type="hidden" name="count" Value="$tdcolor"/>
        </td>
        </tr>
</table>
</form>
#end
##if($mode == "sclist")
#if(($mode == "sclist")||($mode == "instlist"))
 <form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("status","ForallStudent")">
<table width=100% cellpadding=1 align="right" bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor" align="right">
                <td colspan=10>
                <select name="queryList" class="drop">
                <option value="User Name">$brih_usr $brih_Of1 $brih_name</option>
                <option value="First Name">$brih_first $brih_name</option>
                <option value="Last Name">$brih_last $brih_name</option>
                <option value="Email">$brih_email</option>
		#if($mode == "sclist") 	<option value="RollNo">$brih_rollno </option> #end
                </select></td>
                <td width=20% align="right">$brih_searchBy</td>
        </tr>
        <tr align="right">
                <td colspan=10><input align=left type="text" name="valueString" value=""></td>
                <td width=20%>$brih_match_str</td>
        </tr>
        <tr bgcolor="$ui.menuColor" align="right">
                <td colspan=11>
			<input type="button" class="button-ftextstyle" name="Search" value="$brih_search" onClick="checkNull(document.frm, this);">
			<input type="hidden" name="mode" value="$mode"/>	
			<input type="hidden" name="mode1" value="list"/>	
			<input type="hidden" name="count" value="$tdcolor"/>	
                </td>
        </tr>
#if($total_size != 0)
#if($mode1 == "list")
	<tr align="right">
	#if($mode == "sclist")
		#set ( $headings = ["", "", "", "", "", "", "", "$brih_rollno", "$brih_email", "$brih_student $brih_Of1 $brih_name", "$brih_login $brih_name"])
	#elseif($mode == "instlist")
		#set ( $headings = ["", "", "", "", "", "", "", "","$brih_login $brih_name","$brih_Instructor $brih_Of1 $brih_name","$brih_email"] )
	#end
 
        #foreach ($heading in $headings)
                <td><font size=3><b>$heading</b></font></td>
        #end
    </tr>
        #foreach($list in $ListUser)
		#if($velocityCount%2==0)
        		<tr bgcolor="$ui.tableColor" align="right">
			#set($bg=$ui.menuColor)
        	#else
	        	<tr bgcolor="$ui.menuColor" align="right">
			#set($bg=$ui.tableColor)
        	#end
		#if($mode == "sclist")
                        <td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("count","2").addPathInfo("mode","sclist") style=text-decoration:none>$brih_course $brih_list</a></td>
                        <td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("mode","rollnomgmt").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_rollno $brih_mgmt </a> </td>
                #elseif($mode == "instlist")
                        <td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentCourseList.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("count","0").addPathInfo("mode","instlist") style=text-decoration:none>$brih_course $brih_list</a></td>
                #end
		<td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("mode","changePW").addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_changePassword </a> &nbsp; </td>
                ##<td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstituteUserForm.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("Process","modify").addPathInfo("mode","sclist").addPathInfo("count",$tdcolor).addPathInfo("from","usermgmt") style=text-decoration:none>$brih_update</a></td>
		#if($mode == "sclist")
                        <td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstituteUserForm.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("Process","modify").addPathInfo("mode","sclist").addPathInfo("count",$tdcolor).addPathInfo("from","usermgmt") style=text-decoration:none>$brih_update</a></td>
                #end
		##<td><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstituteUserForm.vm").addPathInfo("username",$list.getLoginName()).addPathInfo("Process","modify").addPathInfo("mode","All").addPathInfo("count",$tdcolor).addPathInfo("from","usermgmt") style=text-decoration:none>$brih_update</a> &nbsp;</td>
        	#set ($i=2)
		#if($mode == "sclist")
                #set ($j=0)
		 <td>
                #foreach ($urecord1 in $rollnolist)
                        #if($!list.getLoginName()== $!rollnolist.get($j).getEmailId())
				#if($i<=1) <font color=$bg>| </font>#end
				$!rollnolist.get($j).getRollNo()
                                #set ($i = $i - 1)
                        #end
                        #set($j = $j + 1)
                #end
		</td>
		#end
		<td align="right"><a href=mailto:$!list.getEmail()>$!list.getEmail()</a></td>
        	<td align="right">$!list.getUserName()</td>
        	<td align="right">$!list.getLoginName()</td>
    		</tr>
        #end
	<tr align="right">
        <td bgcolor="$ui.menuColor" colspan="11" align="right">
        #if($total_size<= $AdminConf)

        <font color="white">$brih_first</font> &nbsp;
        <font color="white">$brih_nxt</font> &nbsp;
        <font color="white">$brih_pre</font> &nbsp;
        <font color="white">$brih_last</font> &nbsp;

        #elseif($startIndex== $AdminConf_str)

        <font color="white">$brih_first</font> &nbsp;
        <font color="white">$brih_pre</font> &nbsp;
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$startIndex).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;

        #elseif($endIndex == $total_size || $endIndex > $total_size)

        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
        <font color="white">$brih_nxt</font>&nbsp;
        <font color="white">$brih_last</font>&nbsp;

        #else

	       	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstStudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
        #end
#end
  </td>
 </tr>
##</table>

</tr>
#end
#####################
</form>
<table width=100% bgcolor="$ui.menuColor" align=left>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="$ui.menuColor">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">$brih_usr $brih_name <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>
#end
#if($mode == "AddMUser")
<table width="100%" bgcolor="$ui.tableColor" align="left">
<tr align="right"><td align="left" colspan=7>
<b>
<font face="$ui.sansSerifFonts" size=3><a href=javascript:popupWin("/brihaspati2/docs/Userdoc.html","newWin"); style=text-decoration:none>$brih_help</a></font> <img src="$content.getURI("/images/Lefthand.gif")">
</td></tr>
<tr  bgcolor="$ui.menuColor" align="right">
<td bgcolor="#AFDCEC" align="right"> 
	<img src="$content.getURI("/images/text.jpg")"> 
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none> $brih_txt $brih_file $brih_upload</a></td>
<td  align="right"> 
	<img src="$content.getURI("/images/zipfile.jpg")"> 
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","5").addPathInfo("mode","USzip") style=text-decoration:none> $brih_zip $brih_file $brih_upload</a></td>
</tr>
<tr bgcolor="$ui.menuColor" align="right"><td colspan=7>
<marquee scrollamount="3" direction="left" width="100%" behaviour="slide">
<font size=4 color=red><b>$brih_upload_msg5</b></font>
</marquee>
</td></tr>
##<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").setAction("UserAction_InstituteAdmin")">
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
      #if ($errorTemplate)
      <tr align="right">
        <td colspan="4">
          ##<tableibgcolor="$ui.bgcolor">
          <table>
            <tr bgcolor="$ui.menuColor" align="right">
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end
        <tr align="right">
        ##<td colspan=2 bgcolor="$ui.menuColor" align="left">
        <td align="right">
                ## <font size=4><b>File Upload for automatic multiple user registration</b></font>
                <font size=4><b>$brih_upload_msg1</b></font>
        </td>
        </tr>
	<tr bgcolor="$ui.menuColor" align="right">
        ##<td bgcolor="$ui.tableColor">
        <td>
                <select name="GroupName" size=1 class="drop">
                #foreach($name in $courseList)
                ##if(($name.getName()!="global") && ($name.getName()!="author"))
                        <option value="$name">$name
                        ##<option value="$name.getGroupName()">$name.getGroupName()
                ##end
                #end
                </option>
                </select>
        </td>
        <td>
                 <b>  <font face="$ui.sansSerifFonts">  ## Select a course <font color=RED>*</font>
                <font color=RED>*</font> $brih_course $brih_select
                </font> </b>
        </td>
        </tr>
        <tr align="right">
          ##<td bgcolor="$ui.menuColor">
          <td>
                <select name="role" size=1class="drop">
                <option value="student">$brih_student
                <option value="instructor">$brih_Instructor
                </option>
                </select>
         </td>
          <td>
                <b> <font face="$ui.sansSerifFonts">        ## Select a role <font color=RED>*</font>
                $brih_sel_Role <font color=RED>*</font>
                </font> </b>
	</td>
	 </tr>
        <tr bgcolor="$ui.menuColor" align="right">
                ## #fileUpload ("Attach File <font color=RED>*</font>" "file")

                <td> <input type="file" name="file" value="" ></td>
		<td> <font color=RED>*</font>$brih_at_file </td>

        </tr>
        <tr align="right">
        ##<td colspan=2 align="left" bgcolor="$ui.buttonBoxColor">
        <td colspan=2 align="right">
          #*
            Check for a mode, the update and delete buttons
            shouldn't appear when inserting a new user.
          *#
                <font face="$ui.sansSerifFonts">
                <input type="button" class="button-ftextstyle" name="eventSubmit_doUploadadmin" value="$brih_upload" onClick="CheckFieldFile(document.frm,this);"/>
                <input type="hidden" name="actionName" value=""/>
                <input type="hidden" name="mode" value="$mode"/>
                <input type="hidden" name="count" value="$tdcolor"/>

                </font>
        </td>
        </tr>
<table width=100% bgcolor="$ui.menuColor" align=left>
#foreach( $e in $Msg )
        <tr bgcolor="$ui.menuColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">Entry <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
</form>

#end
#### Upload multiple user in a single zip file as primary instructor and their student along with their speicfied courses #####

#if($mode == "USzip")
<table width="100%" bgcolor="$ui.tableColor" align="left">
<tr bgcolor="$ui.menuColor" align="right">
<td> <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none><img src="$content.getURI("/images/text.jpg")"> $brih_txt $brih_file $brih_upload </a></td>
<td bgcolor="#AFDCEC"> <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","5").addPathInfo("mode","USzip") style=text-decoration:none><img src="$content.getURI("/images/zipfile.jpg")"> $brih_zip $brih_file $brih_upload</a></td>
</tr>
<tr align="left"><td align="left" colspan=8>
	<font face="$ui.sansSerifFonts" size=3><a href=javascript:popupWin("/brihaspati2/docs/ZipUploadHelp.html","newWin"); style=text-decoration:none>$brih_help</a></font>
	<img src="$content.getURI("/images/Lefthand.gif")"><b>
</td></tr>
<tr bgcolor="$ui.menuColor" align="right"><td colspan=8>
<font size=4 color=red><b>$brih_upload_msg4 $brih_upload_msg6</b></font>
</td></tr>
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
        #if ($errorTemplate)
        <tr align="right">
        <td colspan="4">
        <table>
        <tr bgcolor="$ui.menuColor">
        <td><img src="$ui.image($ui.alertImage,$data)"></td>
        <td>
         #parse ($errorTemplate)   
        </td>
        </tr>
        </table>
        </td>
        </tr>
        #end
        <tr bgcolor="$ui.tableColor" align="right">
        <td colspan=2  align="right"><font size=4><b>$brih_upload_msg1</b></font></td>
        </tr>
        <tr bgcolor="$ui.menuColor" align="right">
	<td><input type="file" name="file" value=""> </td>

	<td> <font color=RED>*</font> $brih_at_file</td>
        ##fileUpload ("Attach File <font color=RED>*</font>" "file")
		
        </tr>
        <tr bgcolor="$ui.tableColor" align="right">
        <td colspan=2 align="right">
        <font face="$ui.sansSerifFonts">
        <input type="button" class="button-ftextstyle" name="eventSubmit_doUploadMultiUserZip" value="Upload" onClick="CheckFieldFile(document.frm,this);"/>
        <input type="hidden" name="actionName" value=""/>
        <input type="hidden" name="mode" value="$mode"/>
        <input type="hidden" name="count" value="$tdcolor"/>
        </font>
        </td>
        </tr>
        <table width=100% bgcolor="$ui.menuColor" align=left>
        #foreach( $e in $Msg )
        <tr bgcolor="$ui.menuColor" align="right">
        <td align=center>
        <font face="$ui.sansSerifFonts">$brih_entry <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
        #end
        </table>
        </form>
#end
#if($mode == "UPhoto")
<table width=100% align=left bgcolor="$ui.tableColor">
<tr bgcolor="$ui.menuColor"><td colspan=7>
<a href=javascript:popupWin("/brihaspati/docs/PhotoUpload.html","newWin"); style=text-decoration:none>$brih_help</a>
<img src="$content.getURI("/images/Lefthand.gif")"> 
</td></tr>
<tr><td colspan=7><marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
<font size=4 color=red><b>$brih_upload_msg4</b></font>
</marquee>
</td></tr>
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
        <tr bgcolor="$ui.menuColor" align="right"> <td colspan=2><font size=4><b>$brih_upload_msg2</b></font></td></tr>
        <tr align="right">
                ##fileUpload ("$brih_at_file <font color=RED>*</font>" "file")
                <td align="right"> <input type="file" name="file" value="" ></td>
		<td> <font color=RED>*</font>$brih_at_file </td>
        </tr>
        <tr bgcolor="$ui.menuColor" align="right">
        <td colspan="2" align="right">
                <font face="$ui.sansSerifFonts">
                <input type="button" class="button-ftextstyle" name="eventSubmit_doUploadphoto" value="$brih_upload" onClick="CheckFieldFile(document.frm,this);"/>
                <input type="hidden" name="actionName" value=""/>
                <input type="hidden" name="mode" value="$mode"/>
                <input type="hidden" name="count" value="$tdcolor"/>

                </font>
        </td>
        </tr>
</table>
<table width=100% bgcolor="$ui.menuColor" align=left>
#foreach( $e in $Msg )
        <tr bgcolor="$ui.menuColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">Entry <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
</form>
#end
#if(($mode == "userdelete")||($role == "instructor") ||($role == "student"))
	<form name="frm" method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("InstituteUserManagement_RemoveUser").addPathInfo("mode",$mode)">
	<table width=100% align="left" bgcolor="$ui.tableColor">
	<tr align="right">
		<td>
			<table align="right" width=100%>
			        <tr bgcolor="$ui.menuColor" align="right">
				        <td align="right">
				        <input type="submit" class="button-ftextstyle" name="eventSubmit_doSearch" value="$brih_search">
				        <input type="hidden" name="role" value="$role">
				        <input type="hidden" name="mode" value="userdelete">
				        <input type="hidden" name="count" value="$tdcolor">
				        </td>
				          <td width=20% align="right">
					          <select name="group" size=1 class="drop">
						          #set($i=1)
						          <option name=all value="All">$Notice_All
							#foreach($course in $courseList)
								<option name=option$i value="$course.getGroupName()">$course.getCAlias(): $course.getCourseName()-$course.getUserName()</option>
						                #set($i=$i+1)
							#end	

						          ##</option>
						</select>
					          ##</space>
					</td>
					<td width=40%><b> <font face="$ui.sansSerifFonts">
				        #if($role=="instructor")
				        	$brih_selCourseRemIns
					#else
				        	$brih_selCourseRemStu
					#end
				        </font> </b></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr align="right">
		<td align="right">
		#if($status=="notempty")
			###set($headings = ["$brih_course $brih_ID","$brih_usr $brih_name","$brih_first $brih_name","$brih_last $brih_name"] )
			#set($headings = ["$brih_last $brih_name", "$brih_first $brih_name", "$brih_usr $brih_Of1 $brih_name", "$brih_course $brih_Of1 $brih_ID"] )
			<table width=100% align=left bgcolor="$ui.tableColor">
				<tr align="right">
				<td align="right">
			                <table width=100% cellspacing=1 cellpadding=5>
				                <tr bgcolor="$ui.tableColor" align="right">
				                        #set($lang = $data.getUser().getTemp("lang" ).toString())
				                        ##<td bgcolor="$ui.menuColor" align=left>

					                        #foreach ($heading in $headings)
					                                #headerCell ($heading)
					                        #end
				                        <td align="right">
					                        <font face="$ui.sansSerifFonts"><b> $brih_all $brih_select</b>
					                        <input type="CHECKBOX" name="checkAll" onClick=selectAll(this);>
				                        </td>
						</tr>
					                ##set($count="")
				        	        #set($counter="")
					                #set($count2=1)
					                #foreach($user in $selected_users)
					                        #foreach($i in $user)
					                                #set($count1=1)
					                                #foreach($groupname in $groupname)
							                        #if($count2==$count1)
											#if($velocityCount%2==0)
								                                <tr bgcolor="$ui.tableColor" width=100% align="right">
							                                #else
								                                <tr bgcolor="$ui.menuColor" width=100% align="right">
							                                #end
							                                        <td>$!i.getLastName()</td>
							                                        <td>$!i.getFirstName()</td>
							                                        <td>$!i.UserName</td>
												<td>$groupname</td>
							                                        <td>
        	                                        						#set($userAndGroup = "$groupname:$!i.UserName" )
                							                          	<INPUT TYPE="CHECKBOX" NAME="$userAndGroup" onClick="addDeleteList(this,document.frm);">
							                                        </td>
						                                        </tr>
					                                        #end
                                        					#set($count1=$count1+1)
					                                #end
					                                #set($counter="$counter$userAndGroup^")
					                                #set($count2=$count2+1)
					                        #end
					                #end
					</table>
		                </td>
			        </tr>
			        <tr bgcolor="$ui.menuColor" align="right">
			                <td align="right">
				                <input type="submit" class="button-ftextstyle" name="eventSubmit_doRemoveUser" value="$brih_remove" onClick="DeleteField(document.frm,this);">
				                <input type="hidden" name="deleteFileNames" value="">
				                <input type="hidden" name="group" value="$group">
				                <input type="hidden" name="role" value="$role">
				 		<input type="hidden" name="count" value="$tdcolor">
			                </td>
			        </tr>
			</table>
		#end
#############3</td>
##################3</tr>
###########################</table>
	 <input type="hidden" name="actionName" value="">
	</tr> </td>
	</form>
##<td>
	<table width=100% bgcolor="$ui.tableColor" align="left">
	#foreach( $e in $error_user )
        	<tr bgcolor="$ui.menuColor">
		        <td align="right">
	        		<font face="$ui.sansSerifFonts">$brih_usr $brih_name <font color="brown">"$e.getErr_User()"</font>
        		</td>
		        <td align="right">
        			<font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
	        	</td>
        	</tr>
	#end
	</table>
#end
#if($mode=="changePW")
	<form name="frm" method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
       		<table align="right" width="100%" bgcolor="$ui.menuColor" >
               		<tr align="right"><td> $brih_changePassword1 $username</td></tr>
	        </table>
                <table align="right" width="100%" bgcolor="$ui.tableColor" >
                        <tr align="right">
                                ##formPasswordCell("$brih_pwd  <font color=Red>*</font>" "newpass" "")
				<td> <input type="password" name="newpass" value=""> </td>
				<td> <font color=Red>*</font> $brih_pwd </td>
                        </tr>
                </table>
                <table align="right" width="100%" bgcolor="$ui.menuColor" >
        	        <tr align="right"><td>
                        	<input type="reset" class="button-ftextstyle" name="clear" value="$brih_clear" onClick="clearValues(document.frm,this);"/>
                	        <input type="button" class="button-ftextstyle" name="eventSubmit_doUpdatePass" value="$brih_update" onClick="checkpass(document.frm,this);"/>
	                        <input type="hidden" name="username" value=$username />
        	                <input type="hidden" name="actionName"/>
                	        <input type="hidden" name="mode" value="sclist"/>
                        	<input type="hidden" name="count" value="$tdcolor"/>
	                </td></tr>
                </table>
	</form>
#end
#if($mode=="rollnomgmt")
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin").addPathInfo("username",$username).addPathInfo("mode",$mode)">
        <table align="left" width="100%" bgcolor="$ui.menuColor" >
                <tr><td>$brih_rollno $brih_Manage $brih_for $username</td></tr>
        </table>
                <table align="left" width="100%" bgcolor="$ui.tableColor" >

        #* If Rollno conflict with other user then it comes inside if check otherwise in else check*#
                #if($Rollnolist.size()>0)
                        <tr>
                                <td><b>$brih_email</b></td>
                                <td><b>$brih_program</b></td>
                                <td><b>$brih_rollno</b></td>
                        </tr>
                         #foreach($st in $Rollnolist)
                        <tr bgcolor="$ui.menuColor">
                                <td>$st.confuname</td>
                                <td>$st.confProgram</td>
                                <td><input type="text" name="rollno1" value=$st.confRollno></td>
                        </tr>
                        <tr>
                                <td>$st.uname</td>
                                <td>$st.Program</td>
                                <td><input type="text" name="rollno2" value=$st.Rollno></td>
                                <input type="hidden" name="confuser" value=$st.confuname>
                                <input type="hidden" name="confprogram" value=$st.confProgram>
                                <input type="hidden" name="rlnocount" value="2">
                        #end
                        </tr>
                        <tr bgcolor="$ui.menuColor">
                                <td colspan=3><input type="button" class="button-ftextstyle" name="eventSubmit_doUpdateConflictRollno" VALUE="$brih_update" onClick="UpdateConflictrollno(document.frm,this);"></td>
                        </tr>
                #else
                        <tr>
                        #set ( $headings = ["","$brih_program","$brih_rollno","","","",""] )
                                #foreach ($heading in $headings)
                                        <td><font size=3><b>$heading</b></font></td>
                                #end
    	                    </tr>
                #* when status is new rollno then it comes inside if check, otherwise in else check to show rollno and program of the student for deleteion or updation.*#
                         #if($status=="newrollno"||$rlnolist.size()==0)
                                <tr bgcolor="$ui.menuColor">
                                        <td></td>
                                        <td><select class="drop" name="prg" size=1 id="pg$num" onChange="showList(document.frm,this,$num);">
                                                <option value="Select Program"> #if($lang=="hindi") $brih_program $brih_select #else $brih_select $brih_program #end </option>
                                                        #foreach($instplist in $NewPrgDetail)
                                                                <option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
                                                        #end
                                        </td>
                                        <td colspan=5><input type="text" name="rlno" id="rl$num" value=""></td>
                                </tr>
                                        <tr><td></td><td colspan=6><input type="button" class="button-ftextstyle" name="eventSubmit_doAddRollno" value="$brih_add" onClick="DeleteField(document.frm,this);"></td>
                                </tr>

                        #else
                                #set($num=0)
                                #foreach ($urecord1 in $rlnolist)
                                        #set($num=$num+1)
                                        #if($velocityCount%2==0)
                                                <tr bgcolor="$ui.tableColor">
                                        #else
                                                <tr bgcolor="$ui.menuColor">
                                        #end
                                                <td width="5%">
                                                        <INPUT TYPE="CHECKBOX" NAME="PrgAndRollno" onClick="addUpdateList(this,document.frm,$num);">
                                                </td>
                                                        <td id="pg$num">$urecord1.getPrgName()</td>
                                                        <td colspan=5><input type="text" name="rlno$num" id="rl$num" value=$urecord1.getRollNo()>&nbsp; &nbsp;
                                                        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("username",$username).setAction("UserAction_InstituteAdmin").addPathInfo("actionName","eventSubmit_doDeleteRollno").addPathInfo("prgval",$urecord1.getPrgName()).addPathInfo("rollnoval",$urecord1.getRollNo()).addPathInfo("mode","rollnomgmt").addPathInfo("count",$tdcolor) onclick="javascript:return confirm('Do you want to delete this Program')" style=text-decoration:none>$brih_delete</a></td>
                                                </tr>
                                #end
                                #if($rlnolist.size()%2==0)
                                        <tr bgcolor="$ui.menuColor">
                                #else
                                        <tr>
                                #end
                                        <td width="10%"><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("username",$username).addPathInfo("mode","rollnomgmt").addPathInfo("count",$tdcolor).addPathInfo("status","newrollno") class="button-ftextstyle">$brih_add $brih_new</td>
                                        <td colspan=7><input type="button" class="button-ftextstyle" name="eventSubmit_doUpdateRollno" value="$brih_update" onClick="DeleteField(document.frm,this);"></td>
                        </tr>
                        #end
                #end
                                <input type="hidden" name="deleteFileNames" value="">
                                <input type="hidden" name="actionName" value="">
                                <input type="hidden" name="count" value="$tdcolor"/>
                </table>
</form>
#end
##</table>
<SCRIPT LANGUAGE="javascript">
        function ChangeRole(frm,field)
                {
                        if(frm.group.value=="author")
                        {
                               frm.role.value="author";
                               frm.role_author.value=frm.role.value;
                               makeDisable();
                        }
                        else
                        {
                               if(frm.role.value=="author")
                               {
                               frm.role.value="";
                               }
                               makeEnable();
                        }
                }
 function ChangeGroup(frm,field)
                {
                        if(frm.role.value=="author")
                        {
                                frm.group.value="author";
                                frm.group_author.value=frm.group.value;
                                makeDisable_group();
                                document.getElementById('table1').style.display ='none';
                                document.getElementById('table2').style.display ='none';

                        }
                        else
                        {
                               /*if(frm.group.value=="author")
                               {
                               frm.group.value="";
                               }*/
                               makeEnable_group();
                                if(frm.role.value=="student")
                                {
                                        document.getElementById('table1').style.display ='table-row';
                                        document.getElementById('table2').style.display ='table-row';
                                }
                                else
                                {
                                        document.getElementById('table1').style.display ='none';
                                        document.getElementById('table2').style.display ='none';
                                }
                        }
                }
         function makeDisable_group()
        {
        var x=document.getElementById("group_id")
        x.disabled=true
        }
        function makeEnable_group()
        {
        var x=document.getElementById("group_id")
        x.disabled=false
        }
        function makeDisable()
        {
        var x=document.getElementById("role_id")
        x.disabled=true
        }
        function makeEnable()
        {
        var x=document.getElementById("role_id")
        x.disabled=false
        }
          function addDeleteList(field,frm){
                if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
                }
                else{
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
        }

        function selectAll(field){
                if(field.checked){
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$counter";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 ){
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=true;
                        }
                }
                else{
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$counter";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 ){
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=false;
                        }
                        document.frm.deleteFileNames.value="";
                }
        }
         function DeleteField(frm,field)
        {
                                frm.actionName.value=field.name;
                                frm.submit();
        }
        function checkpass(frm,field)
        {
                if(frm.newpass.value!="")
                {
                      frm.actionName.value=field.name;
                      frm.submit();
                }
                else
                {
                      alert("Password can not be null!");
                }
         }

        function clearValues(frm,field)
        {
                frm.newpass.value="";
        }
function addUpdateList(field,frm,count){
        var pgid = document.getElementById("pg"+count).textContent;
        var rlid = document.getElementById("rl"+count);
        var rlval = rlid.value;
        var tmp=pgid+":"+rlval;

        if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+tmp+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteFileNames.value;
                //index=actualString.indexOf(field.name+"^",0);
                index=actualString.indexOf(tmp+"^",0);
                preString=actualString.substring(0,index);
                //postString=actualString.substring(index+field.name.length+1);
                postString=actualString.substring(index+tmp.length+1);
                actualString=preString+postString;
                frm.deleteFileNames.value=actualString;
        }
}
function UpdateConflictrollno(frm,field)
{
        if(frm.rollno1.value==frm.rollno2.value)
        {
                alert("Roll no cannot be same for two students");
        }
        else
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
}
</SCRIPT>

