/*
 * @author Sumit Saxena(sumitsesaxena@gmail.com)
*/

    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }
#menu1 {background-color:#067eb7;color:white;height:auto;}
#menu1 li a{color:white;font-size:20px;font-family: Times New Roman, Times, serif;}

/*****************Seprator arrow for menu*******************/
.breadcrumb {
    padding: 0px;
    background:transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 20px;
    border-radius: 4px;
    	
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 2%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 5px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );

    font-size:140%;font-family: Times New Roman, Times, serif;
   /* background-color: hsla(0, 0%, 83%, 1);
     background-color:#067eb7;*/
    text-align: left;
   font-weight:bold;height:50px;
}

.breadcrumb li.completed a {
   
}

.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active a {
   /* background: #ffc107;*/ font-weight: bold;color:white;background-color:#38B0DE;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #38B0DE;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;	
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 8px );
}


.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: auto;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #067eb7;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}


@media only screen and (min-width: 1024px)  {
	.breadcrumb li a {
    		color: white;
    		text-decoration: none;
    		padding: 5px 0 10px 45px;
   		position: relative;
    		display: inline-block;
    		width: calc( 100% - 10px );
    		font-size:130%;font-family: Times New Roman, Times, serif;
   		/* background-color: hsla(0, 0%, 83%, 1);*/
		background-color:#067eb7;
    		text-align: left;
   		font-weight:bold;height:50px;
	}

}


}

