/*
    Created on : Apr 28, 2017, 12:33:24 PM
    Author     : Manorama Pal(palseema30@gmail.com)
*/


 .isa_info, .isa_success, .isa_warning, .isa_error {
                margin: 10px 0px;
                padding:12px;
 
            }
            .isa_info {
                color: #00529B;
                background-color: #BDE5F8;
		width:100%;
		text-align:left;
		font-size:20px;	
            }
            .isa_success {
                color: #4F8A10;
                background-color: #DFF2BF;
		width:100%;
		text-align:left;
		font-size:20px;	
            }
            .isa_warning {
                color: #9F6000;
                background-color: #FEEFB3;
		width:100%;
		text-align:left;
		font-size:20px;	
            }
            .isa_error {
                color: #D8000C;
                background-color: #FFBABA;
		width:100%;
		text-align:left;
		font-size:20px;	
            }
            .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
                margin:10px 22px;
                font-size:2em;
                vertical-align:middle;
		width:100%;
		text-align:left;
		font-size:20px;	
            }
            .top_parent{
                /*color:white;*/
                text-decoration: none;
                padding: 8px 8px 8px 20px;
            }
            .table_margin{
                margin-left:30px;
            }
           
     


