label{font-weight:normal;}
	#button{font-size:18px;width:40%;}
	input[type=button]{font-weight:bold;text-decoration:none;color:black;}
	#body{font-family: Times New Roman, Times, serif;background:none repeat scroll 0 0 #DDDDDD;}

body {
	background:none repeat scroll 0 0 #DDDDDD;
	color:#333333;font-family: Times New Roman, Times, serif;
	font:12px "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif;
	margin:0;
	min-width:950px;
	padding:0;
	text-align:center;
}

.scroller{overflow:auto;height:700px;}
.scroller_sub_page{overflow:auto;height:665px;}

#uname{font-size:16px;width:100%;margin:0 auto;background-color: #0099CC;color:white;font-weight:bold;}

.welcome{width:100%;margin-top:-1%;border-radius:0.4em;
	background:none repeat scroll 0 0 #0099CC;
	height:35px;
	padding:0 0 0 18px;
	color:#FFFFFF;}
.welcome h2{padding: 5px 25px;text-align:center;}

#star{color:red;}

/*enterence registration steps css start*/

.currentpage {
        font-weight:bold;
	color:white;background-color:#38B0DE;
  	 }

.steps{background-color:#cacaca;width:60%;height:50px;}
.stepalign td{text-align:center;font-size:20px;}
.active {
    font-weight: bold;color:white;background-color:#38B0DE;
}

.active1 {
    font-weight: bold;color:white;background-color:black;
}
/*enterence steps css end*/

#head {background-color:#067eb7;color:white;width:100%;font-size:16px;font-weight:bold;height:40px;}

#head tr td a{color:white;text-decoration:none;}

label{font-size:18px;}
#container {
	margin:0 auto 0;
	min-width:100%;
	text-align:left;
	float:left;
}

#header {
	background:none repeat scroll 0 0 #067eb7;
	height:101px;
	margin:0;
	position:relative;
	text-align:center;
}

#header #logo {
	padding:35px 0 0 18px;
	font-size:40px;
	float:left;
	width:70%;
}

#header #admin {
	color:#000000;
	font-size:15px;
	display:block;
	position:absolute;
	background:none repeat scroll 0 0 #E5F1F4;
	padding:0 15px 5px 15px;
	-moz-border-radius:0 0 5px 5px;
	margin:0 0 0 350px;
}

#header #info {
	color:#000000;
	display:block;
	position:absolute;
	right:18px;
	top:20px;
	background:none repeat scroll 0 0 #EEEEEE;
	padding:10px;
	font-size:15px;
	-moz-border-radius: 10px;
	border-radius: 1px;
}

#content #main {
	background:none repeat scroll 0 0 #FFFFFF;
	position:relative;
	padding:10px 18px 10px 18px;
	min-height:400px;
}

#content #sidebar {
	background:none repeat scroll 0 0 #EEEEEE;
	float:left;
	width:20%;
}

#content #main #main-title {
	font-size:19px;
	padding:8px 0 8px 0;
}

#content #main  #main-content {
	padding:10px 0 10px 0;
	font-size:14px;
}
/* Footer */

footer{
    background:none repeat scroll 0 0 #0c6f9e;
    position: fixed;width:70%;margin:0 auto;
    bottom: 0;
    left: 0;
    right: 0;font-size: 20px;
    height: 35px;
    text-align: center;
    color:black; text-decoration:none;
}
footer a{color:white;}

footer p {
    padding: 10.5px;
    margin: 0px;font-size: 20px;
    line-height: 100%;
}

footer a:hover{color:white;}

body{width:70%;margin:0 auto;height:auto;}

/*.footer {
	background:none repeat scroll 0 0 #067eb7;
	color:black;
	font-size:13px;
	margin:9px 20px 18px 20px;
	text-align:center;
}


.footer a {
	font-size: 18px;
	color:white;
	text-align:center;
}

p.footer {
		
		text-align: center;
		font-size: 18px;font-weight:bold;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
*/
/* PAGE MENU */
#content #main ul#main-links-nav
{
	list-style:none;
	padding:0;
	margin:0;
}

#content #main ul#main-links-nav li
{
	float:left;
	margin:0 18px 0 0;
}

#content #main ul#main-links-nav li a {
	-moz-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	background:repeat-x scroll 0 0 transparent;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding:4px 10px;
	text-shadow:-1px -1px 0 #333333;
	text-decoration:none;
}

/* MESSAGE BOX */
#message-box {
	border:solid 1px #787878;
	background:#F0F0F0;
	color:#222222;
	margin:5px 0 12px 0px;
	text-align:left;
	display:block;
	padding-right:20px;
}

#error-box {
	border:solid 1px #C34A2C;
	background:#FFBABA;
	color:#222222;
	margin:5px 0 12px 0px;
	text-align:left;
	display:block;
	padding-right:20px;
	font-weight:bold;
}

#success-box {
	border:solid 1px #90EE90;
	background:#90EE90;
	color:#222222;
	margin:5px 0 12px 0px;
	text-align:left;
	display:block;
	padding-right:20px;
	font-weight:bold;
}

/* COMMON */
.clear {
	clear:both;
}

.bold {
	font-weight:bold;
}

.hidden-element {
	display:none;
}

a.no-underline {
	text-decoration:none;
}

.small-font {
	font-size:12px;
}

/* NOT SO COMMON */
#beta-area {
	font-size:18px;
	color:#00000;
}

#header1 {
        background:none repeat scroll 0 0 #FFFFFF;
        height:125px;
        margin:0;
        position:relative;
        text-align:center;
}

#header1 #logo {
        color:#000000;
        font-size:15px;
        display:block;
        position:relative;
        background:none repeat scroll 0 0;
        padding:0px;
        -moz-border-radius:0 0 5px 5px;
        margin:0px;
        float:left;
}

#header1 #logo1 {
        color:#000000;
        font-size:33px;
        display:block;
        position:relative;
        background:none repeat scroll 0 0;
        padding:0px;
        -moz-border-radius:0 0 5px 5px;
        top:35%;
        left:-10%;
}

#header1 #info {
        color:#000000;
        display:block;
        position:absolute;
        right:18px;
        top:20px;
        background:none repeat scroll 0 0 #EEEEEE;
        padding:10px;
        font-size:15px;
        -moz-border-radius: 10px;
        border-radius: 1px;
}

#header1 #admin {
	color:#000000;
	font-size:15px;
	display:block;
	position:relative;
	background:none repeat scroll 0 0;
	padding:0 15px 5px 15px;
	-moz-border-radius:0 0 5px 5px;
	margin:0px;
}

#mainheader{
        background:none repeat scroll 0 0 #FFFFFF;
        height:125px;
        margin:0px;
        position:relative;
        text-align:center;
}

#mainheader #admin {
	color:#000000;
	font-size:15px;
	display:block;
	position:relative;
	background:none repeat scroll 0 0;
	padding:0 15px 5px 15px;
	-moz-border-radius:0 0 5px 5px;
	margin:0px;
}

#mainheader #logo1 {
        color:#000000;
        font-size:40px;
        display:block;
        position:relative;
        background:none repeat scroll 0 0;
        padding:0px;
        -moz-border-radius:0 0 5px 5px;
        top:20%;
        left:0%;
}
