#*
 * @(#) InstList_Mgmt.vm
 * Copyright (c) 2010,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | User Management")
$page.setBgColor("#ffffff")
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
#set($lang = $data.getUser().getTemp("lang" ).toString()) 

##<table bgcolor="#d9e3ec" width=100% cellspacing=0>
$!data.getMessage()
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
	#if($listcourse=="")
     	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |$brih_list_mgmt 
	#else
     	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> | 
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").addPathInfo("mode","All").addPathInfo("count","1") style=text-decoration:none>$brih_list_mgmt</a> | 	
	##<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionstat","Edit").addPathInfo("count","2") style=text-decoration:none>$brih_view_all1</a> |
        #if($mode!="Search")
                #if($lang == "hindi")
                         $brih_view_all1
                #else
                        $brih_view_all $brih_course
                #end
        #else
                $brih_view_sel
        #end
	</td>
	<td align="right">
        #if( $total_size!=0 )
        #if( $endIndex < $total_size )
                #if( $endIndex < $AdminConf )
                [$k - $total_size] of $total_size
                #else
                [$k - $endIndex] of $total_size
                #end
        #else
        [$k - $total_size] of $total_size
        #end
        #end
        </td>
	#end
</tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
#if($tdcolor != "1")
<td width=50%> 
#elseif($tdcolor == "1")
<td width=50% bgcolor="#AFDCEC">
#end 
<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").addPathInfo("mode","All").addPathInfo("count","1") style=text-decoration:none>
#if($lang == "hindi")
	$brih_listUsr
#else
	$brih_view_all $brih_usr
#end
</a></td>
#if($tdcolor != "2")
<td width=50%> 
#elseif($tdcolor == "2")
<td width=50% bgcolor="#AFDCEC">
#end 
<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit").addPathInfo("count","2") style=text-decoration:none>$brih_view_all1</a></td>
        ##</td>  
	</tr>
##  </table>

#if($listcourse =="listcourse")
<form name="frm" method="post" action="$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm")">
<table width=100% align=left bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor">
                <td><b>$brih_searchBy</b></td>
                <td align=left>
                        <select name="queryList">
                                <option value="CourseId"> $brih_course $brih_ID</option>
                                <option value="Course Name">$brih_course $brih_name</option>
                                <option value="Dept">$brih_dept </option>
                        </select>
                </td>
                <td align=left><b>$brih_match_str</b></td>
                <td align=left>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input type="button" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                        <input type="hidden" name="listcourse" value="listcourse">
                        <input type="hidden" name="count" value="$tdcolor">
                </td>
                <td>
                <td>
        </tr>
</table>
#if($status=="Noblank")
#set($headings = ["","$brih_course $brih_ID","$brih_course $brih_name","$brih_dept","$brih_desc","$brih_creation $brih_Da","$brih_status",""] )
##<br>
<table bgcolor="$ui.tableColor" align="left" width="100%">
  <tr><td>
      <table cellspacing="1" cellpadding="1">
        <tr>
          #foreach($heading in $headings)
                  #headerCell($heading)
          #end
        </tr>
        #foreach($entry in $courseDetail)
	#if($velocityCount%2==0)
        <tr bgcolor="$ui.tableColor">
	#else
	<tr bgcolor="$ui.menuColor">
	#end
                  ##<td bgcolor="$ui.tableColor">
                  <td>
                        <font face="$ui.sansSerifFonts">
                        $brih_login_ins
                        </font>
                  </td>
                  ##entryCell($entry.getGroupName())
                  <td>$entry.getGroupName()</td>
                  <td>
                        <font face="$ui.sansSerifFonts">
                        $entry.getCourseName()
                        </font>
                        </td>
                  <td>$entry.getDept()</td>
                  <td>$entry.getDescription()</td>
                  <td>$entry.getCreateDate()</td>
                  #if($entry.getActive()=="1")
                  <td><font bgcolor="$ui.tableColor" color="Green">$brih_active</font></td>
                  #else
                  <td><font bgcolor="$ui.tableColor" color="Red">$brih_inactive</font></td>
                  #end
                  <td colspan=2>
		 <font face="$ui.sansSerifFonts">
          ##<a href=$link.setPage("call,CourseMgmt_InstituteAdmin,InstEditCourse.vm").addPathInfo("gName",$entry.getGroupName()).addPathInfo("count","1") style=text-decoration:none>$brih_edit</a>
          <a href=$link.setPage("call,CourseMgmt_InstituteAdmin,InstEditCourse.vm").addPathInfo("gName",$entry.getGroupName()).addPathInfo("count","2") style=text-decoration:none>$brih_edit</a>
                        </font>
                 </td>
        </tr>
        #end
##</table>
</td></tr>
         <tr bgcolor="$ui.menuColor">
              ##<td align=center bgcolor="$ui.menuColor">
              <td colspan=10>
         #if($mode!="Search")
         #if($total_size<= $AdminConf)
         <font color="white">$brih_first</font> &nbsp;
         <font color="white">$brih_nxt</font> &nbsp;
         <font color="white">$brih_pre</font> &nbsp;
         <font color="white">$brih_last</font> &nbsp;
          #elseif($startIndex== $AdminConf_str)
          <font color="white">$brih_first</font> &nbsp;
          <font color="white">$brih_pre</font> &nbsp;
	 <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
        #elseif($endIndex == $total_size || $endIndex > $total_size)
        <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
    <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_last</font></u> &nbsp;
          #else
	 <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
     <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
     <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
     #end
     #else
         #if($total_size<= $AdminConf)
         <font color="white">$brih_first</font>&nbsp;
         <font color="white">$brih_nxt</font>&nbsp;
         <font color="white">$brih_pre</font>&nbsp;
         <font color="white">$brih_last</font>&nbsp;
          #elseif($startIndex== $AdminConf_str)
          <font color="white">$brih_first</font> &nbsp;
          <font color="white">$brih_pre</font> &nbsp;
          <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
      <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
         #elseif($endIndex == $total_size || $endIndex > $total_size)
      <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
       <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
         <font color="white">$brih_nxt</font> &nbsp;
         <font color="white">$brih_last</font> &nbsp;
          #else
        <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_first</a> &nbsp;
       <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_pre</a> &nbsp;
        <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_nxt</a> &nbsp;
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("listcourse",$listcourse).addPathInfo("count",$tdcolor) style=text-decoration:none>$brih_last</a> &nbsp;
     #end
    #end
    </td>
 </tr>
##</table>

</table>
#end
</form>
<br>
<table width=100% bgcolor="$ui.tableColor" align=left>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="$ui.menuColor">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">User
Name <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>
##end
#end
</table>
