
.outerbox
{
border: 1px solid black; /*Add 1px solid border, use any color you want*/
background-color:#F5FFFA; /*Add a background color to the box*/
text-align:center; /*Align the text to the center*/
border-bottom-style:ridge;
padding-bottom:180px;
}
.innerbox
{
border: 1px solid black; /*Add 1px solid border, use any color you want*/
background-color:#FFE4C4; /*Add a background color to the box*/
text-align:center; /*Align the text to the center*/
border-bottom-style:ridge;
}
.butStnd {
    font-family:arial,sans-serif;
    font-size:11px;
    width:105px;
    background-color:#B0C4DE ;color:black;font-weight:bold;
}
 .B:link {
	color: #0000ff;
	text-decoration: none;
	font-weight: normal;
}

.B:visited {
	color: #0000ff;
	text-decoration: none;
	font-weight: normal;
}
.B:hover {
	
	text-decoration: underline;
	font-weight: normal;
}

.navigation_page{
	color: lightgreen
	font-size: 170%;
	background-color:#A6A6FF;
}
.header123{
background-color: #c3d9ff;
      font-size: 140%;
}
.bodypage
	{
	background-color: #FFFFFF;
}
	
.footerpage
	{
	background-image: url('../img/footerimage.PNG');background-repeat: repeat;
}

		
body, p, td {
   font-family: verdana, arial, helvetica, sans-serif; 
   font-size: 8pt;
   color: #000000;
}


#main_title {
  height:18px;
  font-size: 13pt;
  color: #666666;
  float:none;
  margin-top:3px;
  position:relative;		
}

.logotext {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  top: 1pt;
}

.logobracket {
  position: relative;
  color: #adde6b;
  top: -1pt;
}


.admin_menu {
   position: absolute;
   top: 20px;
   left: 30px;
   background-color: #fff;
   color: #fff;
   width: 110px;
}

.admin-menu ul {
   list-style: none;
   padding-left: 5px;
}

.admin-menu a {
   text-decoration: none;
   color: #000;
}
.admin-menu a.selected {
   font-weight: bold;
}

.admin-menu p {
   font-size: 10pt;
   font-weight: bold;
   color: #000;
   padding-left: 5px;
}

#admin-content {
   margin-left: 125px;
   overflow: auto;
}


    .form-label {font-size: 8pt; background-color: threedlightshadow; padding-right:10px;}
    .form-widget {font-size: 8pt; background-color:threedface;}
    .form-required-mark {color: #FF0000;}

	.form-element {
	height:17px; 
        border-top: 1px solid #F0EDED;
        border-bottom: 1px solid #F0EDED;
	}

    .rowgreen {font-size:8pt; background-color: #00FF00 }
    .rowyellow {font-size:8pt; background-color: #FFFF00}
    .rowred {font-size:8pt; background-color: #FF0000}

    .form-error {font-size:8pt; color: #FF0000}
    .form-required-mark {font-size:8pt; color: #FF0000}

    .tablebody {font-size: 8pt; background-color: #FFFFFF;}
    .tableheader {font-size: 8pt; background-color: #EEEEEE;}

    .list-even {font-size: 8pt; background-color: #DDDDDD;}
    .list-odd {font-size: 8pt; background-color: #EEEEEE;}
    .list-bold {font-size: 8pt; background-color: #E0E0E0; font-weight: bold }


