#*
 * @(#) Default.vm
 * Copyright (c) 2005,2009,2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author<a href="mailto:aktri@iitk.ac.in">Awadhesh Kumar Trivedi</a>
 * @author<a href="mailto:nksngh_p@yahoo.co.in">Nagendra Kumar Singh</a>
 * @author<a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author<a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a>
 * @author<a href="mailto:smita37uiet@gmail.com">smita Pal</a>
 * @modified date:27-09-2010
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#
$page.DefaultDoctype

<html>
$page.setBgColor("$ui.bgcolor")
#set($lang=$data.getUser().getTemp("lang" ).toString())
##$page.addStyleSheet($content.getURI("resources/css/brihaspati.css"))

##getting the varible from screen file for video files
#set($result=$data.getParameters().getString("str"))

#TurbineHtmlHead()
##if file is video than play the file
#if($result=="runscorm")
<body valign="left">
  $screen_placeholder
</body>
#elseif(($result=="video")||($result=="document"))
<body valign="left">
        <table align="center"  height="600px" width="100%">
                <tr valign="middle">
                        <td  height="100%"valign="middle" >
                         $screen_placeholder
                        </td>
                </tr>

        </table>
</body>
##file is not video than play other files
#else
<body>
<div style="width:1100px; margin:0px auto;">
<table> ##1#t table
	<tr> ##1#t tr
		<td colspan="2">$navigation.setTemplate("/DefaultTop.vm")</td>
	</tr> ##1#t tr closed
	<tr> ##2#d tr
		<td colspan=2>  ##1#t td of 2nd tr
         			<table style="width:1100px; margin:0px auto;"> ##2#d table
	 				##<tr bgcolor="$ui.headerLinkColor"> ##3#d tr
	 				<tr bgcolor="$ui.menuColor"> ##3#d tr
	    					#if($data.getUser().hasLoggedIn()) ##if(7)
	       						<td width=100> ##2#d td
                  					<a href=$link.setPage("Index.vm") style=text-decoration:none><center>
		   					<img src=$content.getURI("/images/home.png") style=border:0px solid; ><br><font size=2>$brih_home</font></a></center>
                					</td> ##2#d closed
                					#if($data.getUser().getUserName() != "guest") ##if(0)
                   						#if($data.getUser().getTemp("role") == "author") ##if(8)
                      						<td width=100> ##3#d td
                         					<a href=$link.setPage("call,Repository_Mgmt,Author.vm") style=text-decoration:none><center>
		   						<img src=$content.getURI("/images/repository.png") style=border:0px solid; ><br><font size=2>$Repo_Repo1</font></a></center>
                      						</td> ##3#t td closed
		   						#else
                   						<td width=100> ##4#h td
                      						<a href=$link.setPage("call,Repository_Mgmt,RepositoryBrowser.vm") style=text-decoration:none><center>
		   						<img src=$content.getURI("/images/repository.png") style=border:0px solid;><br><font size=2>$Repo_Repo1</font></a></center>
                   						</td> ##4#d closed
                   						#end ##(end8)
							#end	 
                					#if($data.getUser().getUserName() == "admin") ##if(9)
                					##<td width=110> ##5#h td
                   					##<a href=$link.setPage("Index.vm") style=text-decoration:none><center>
		   					##<img src=$content.getURI("/images/home.png") style=border:0px solid; ><br><font size=2>$brih_ad $brih_Of1 $brih_home</font></a></center>
                					##</td>  ##5#h td closed
                					<td width=100> ##6#h td
                   						<a href=$link.setPage("call,UserMgmt_Admin,ProxyUser.vm") style=text-decoration:none><center>
		   						<img src=$content.getURI("/images/prxyusr.png") style=border:0px solid;><br><font size=2>$Proxy_User</font></a></center>
                					</td>  ##6#h td closed
                					#end  ##end(9)
                					#if($data.getUser().getUserName() != "guest") ##if(10)
                   						#if($data.getUser().getUserName() != "admin") ##if(11)
                   						<td width=100> ##7#h td
                      						<a href=$link.setPage("call,Task_Mgmt,TaskDIUD.vm").addPathInfo("all","aa") style=text-decoration:none><center>
		      						<img src=$content.getURI("/images/TaskManager.png") style=border:0px solid;><br><font size=2>$brih_task</font></a></center>
                   						</td> ##7#h td closed
                   						#end ##end(11)
                   						<td width=100> ##8#h td
                      						<a href=$link.setPage("call,Glossary,Glossary_Search_Word.vm").addPathInfo("count","1") style=text-decoration:none> <center>
		      						<img src=$content.getURI("/images/glsry.png") style=border:0px solid;><br><font size=2>$Glossary</font></a></center>
                   						</td> ##8#h td closed
                   						<td width=110> ##9#h td
                      						<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromIndex") style=text-decoration:none><center>
		      						<img src=$content.getURI("/images/news.png") style=border:0px solid;><br><font size=2>$brih_genNews</font></a></center>
                   						</td> ##9#h td closed 
		   						<td width=110> ##10#h td
                      						<a href=$link.setPage("call,Search.vm") style=text-decoration:none> <center>
		      						<img src=$content.getURI("/images/search.png") style=border:0px solid;><br><font size=2>$brih_eng</font></a></center>
                   						</td> ##10#h td closed
							#end	 ##end(10)
                					<td width=120> ##11#h td
							<a href=$link.setPage("call,ResearchRepository,ResearchRepo.vm").addPathInfo("count","1") style=text-decoration:none> <center>
		   					<img src=$content.getURI("/images/rschgrp.png") style=border:0px solid;><br><font size=2>$brih_Res $brih_grp</font></a></center>
                					</td> ##11#h td closed
                					<td width=100> ##12#h td
            						<a href=$link.setPage("call,Calculator.vm") style=text-decoration:none><center>
		   					<img src=$content.getURI("/images/calculater.png") style=border:0px solid;><br><font size=2>$brih_calculator</font></a></center>
                					</td> ##12#h td closed
							<td width=100> ##13#h td
                                                        <a href=$link.setActionEvent("TimetableAction", "doInit").setPage("call,Timetable,Index.vm") style=text-decoration:none><center>
							<img src=$content.getURI("/images/Timetable.png") style=border:0px solid;><br>
                                                        <font size=2>$brih_timetable</font></a></center>
                                                        </td> ##13#h td closed

                					<td width=100> ##13#h td
                   					##<a href=$link.setAction("LogoutUser") style=text-decoration:none> 
                                			<a href=$link.setAction("myLogout") style=text-decoration:none><center>
		   					<img src=$content.getURI("/images/lgot.png") style=border:0px solid;><br><font size=2>$brih_logout</font></a></center>
                					</td> ##13#h td closed
             					#end ##end(7)
          				</tr> ##3#d tr closed
        			</table> ##2#d table closed
   		</td> ##1#t td of 2nd tr
	</tr> ##2#d tr closed
	<tr> ##5#h tr
      		#if($data.getUser().hasLoggedIn())
		#if($data.getUser().getUserName() == "admin") 
      			<td width="17%" valign="top"> ##26#h td
         			<table width="100%"> ##4#h table
            				<tr bgcolor="$ui.menuColor"> ##6#h tr
               					<td valign="top"> ##27#h td
                  				$navigation.setTemplate("/AdminMenu.vm")
               					</td> ##27#h td closed
            				</tr> ##6#h tr closed
         			</table> ##4#h table closed
      			</td> ##26#h td closed
   		#end
   		#end
		#if($data.getUser().hasLoggedIn())
                #if($data.getUser().getTemp("role")=="institute_admin")
		#if($data.getUser().getTemp("mInststat")=="1")
                        <td width="17%" valign="top"> ##26#h td
                                <table width="100%"> ##4#h table
                                        <tr bgcolor="$ui.menuColor"> ##6#h tr
                                                <td valign="top"> ##27#h td
                                                $navigation.setTemplate("/InstituteAdminMenu.vm")
                                                </td> ##27#h td closed
                                        </tr> ##6#h tr closed
                                </table> ##4#h table closed
                        </td> ##26#h td closed
                #end
                #end
                #end
      		#if($data.getUser().hasLoggedIn())
         		#if($data.getUser().getTemp("role")!="")
   	    			#if($data.getUser().getTemp("course_id")!="")
  	       				<td bgcolor="$ui.tableColor" width="17%" valign="top"> ##29#h td
       	          				<table width="100%" > ##5#h table
        	     					<tr> ##7#h tr
        	        					<td valign="top"> ##30#h td
      			      						$navigation.setTemplate("/Screen_Menu.vm")
        							</td> ##30#h td closed
        	     					</tr> ##7#h tr closed
        	  				</table> ##5#h table closed
    	       				</td> ##29#h td closed
	    			#end
	 		#end
     		#end
   		<td align="left" height="100%" valign="top"> ##31#h td
      		$screen_placeholder
    		</td> ##31#h td closed
	</tr> ##5#h tr closed
	<tr> ##8#h tr
		<td colspan="2" > ##32#h td
      		$navigation.setTemplate("/DefaultBottom.vm")
    		</td> ##32#h td closed
	</tr> ##8#h tr closed
</table>
</body>
</div>
#end
</html>

