#*
 *@(#) ResendActivation.vm
 * Copyright (c) 2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *@author <a href="mailto:rpriyanka12@ymail.com">Priyanka Rawat</a>
 * Contributor: Member of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Login Page | Resend Activation")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
</head>

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td>
		<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)> $brih_login</a> | $brih_resend $brih_mail
        </td>
        <td align="right">
        	<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/ResendMail.html","newWin"); style=text-decoration:none><font size=4>$brih_help</font></a>
                </td>
</tr>
</table>

<form name=frm method="post" action="$link.setPage("ResendActivation.vm").setAction("ResendActivation")">
<table align=left width=100% bgcolor="$ui.tableColor">
                <tr><td width="15"> <font face="$ui.sansSerifFonts">$brih_email </td>
                <td width="40"><input type="text" size="30" name="email" value=""></td>
		</tr>

                <tr bgcolor="$ui.menuColor">
                ##<td align=center colspan=2 bgcolor="$ui.menuColor">
                <td colspan=2>
                        <input type="hidden" name="lang" value=$lang>
                        <input type="hidden" name="actionName" >
   <input type="button" name="eventSubmit_doCheckUser" class="button-ftextstyle" value="$brih_get $brih_new $brih_mail" onClick="checkUserMail(document.frm,this);">
                </td>
                </tr>
</table>
</form>


<SCRIPT LANGUAGE="javascript">
        function checkUserMail(frm,field)
        {
                if(frm.email.value=="")
                {
                        alert("Please Fill The Email!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
</SCRIPT>

