#*
 * @(#) Twtwin.vm
 * Copyright(c)2004,2009, 2010,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *  @author: <a href="sisaudiya.dewan17@gmail.com">Dewanshu Singh Sisaudiya</a>
*#
<head>
<link rel="stylesheet" href="$content.getURI("/scrpts/htmlarea.css")" type="text/css">
</head>
<body style="background:$ui.menuColor;">
<div class="bgd"style="height:1200px;">
<center>
<iframe id="frame" name="frame" style="margin: auto;" src="$ipadd/brihaspatiSpring/index.vm?username=$fullname&uname=$username&Uid=$Uid&mode=$mode" frameborder="0" height="2900px" width="100%" class="restricted" scrolling="no"></iframe>
</center>
</div>

