#*
 * @(#) ViewDocumentViewer.vm
 * Copyright(c) 2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#     
<table width="100%">

<tr><td width="100%">
#set($rs=$link.setPage("call").toString())
#set($count1 = 0)
        #set($count2 = 1)
        #foreach($a in $rs.split(":"))
                #if($count1 == $count2)
                        #set($a=$a.substring(2))
                        #set($rs=$link.setPage("call").toString())
                        #set($count1 = 0)
                        #set($count2 = 1)
                        #foreach($a in $rs.split(":"))
                                #if($count1 == $count2)
                                        #set($a=$a.substring(2))
<iframe height="800" width="100%" src="http://$a:$port/brihaspatiSpring/Viewer.vm?path=$path&courseid=$courseid&topic=$topic&filename=$filename" frameborder="0"></iframe>
                                #end
                                        #set($count1 = $count1 + 1)
                        #end
                #end
                        #set($count1 = $count1 + 1)
        #end
</td>
</tr>
</table>


