*{
	padding:0;
	margin:0;
}


.text {	
	font-family: Verdana;
	 	background-color:#FFFCCC;
		border : 1px grey SOLID;
} 

.wrapper{
	text-align:center;
	font-size:90%;
	position:relative;
	margin-right:15%;
	margin-left:15%;
	padding:0px;
}

.catheader{
	margin-top:1em;
	width:100%;
	text-align:center;
	font:1.5em;
	background-color:grey;
	color:white;
	margin-bottom:1px;
	padding-bottom:3px;
	padding-top:3px;
}

.linepart{
	margin:0;
	width:32.5%;
	text-align:left;
	display:inline-block;
	padding-top:3px;
	padding-bottom:3px;
	vertical-align:top;
}

.container{
	text-align:left;
}
.container1{
text-align:left;
background-color: #F0FCCC; 
}
.linepart1{
		margin:0;
	width:24%;
	text-align:left;
	display:inline-block;
	padding-top:3px;
	padding-bottom:3px;
	vertical-align:top;
}

.header{
	margin:1px;
}
.horizontal{
	width:25%;
	text-align:left;
	display:inline-block;
	padding-top:3px;
	padding-bottom:3px;
	vertical-align:top;
}
/* Main Table*/
.ewTable {
	width: inherit; 
	color: inherit;
	font-family: Verdana; 
	font-size: xx-small; 
	border: 0px outset; 
	border-collapse: collapse;
}


.ewTableHeader {
	background-color: #3366CC; 
	color: #FFFFFF; 
	vertical-align: top;	
}

.ewTableRow {
	background-color: #F0FFCC; 
}
.ewTable td {
	padding: 4px; 
	border: 1px solid; 
	border-color: #CCCCCC; 
}


.ewTableHighlightRow {
	background-color: #6699FF; 
}


.ewTableSelectRow {
	background-color: #CCFFFF; 
}
a {
	color:#003366;
	text-decoration:none;
}

a.current {
	color:#999999;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 100%;
	background-color:#FFFFFF;
	margin:0;
	padding:0;
}


ul {
	font-size:60%;
	color:#666666;
	line-height: 1.5em;
	list-style: none;
}

h1 {
	color:#FF9933;
	font-weight:bold;
	padding-left: 0.5em;
	padding-top: 0.2em;
}

h2 {
	color:#FF9933;
	font-size:80%;
	font-weight:bold;
	border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#E5E5E5;
}

h3 {
	color:#FF9933;
	font-size:70%;
	font-weight:bold;
}

h3 a{
	color:#FF9933;
}

p {
	text-align:justify;
	color:#777777;
	font-size: 70%;
	line-height: 1.5em;
}

.orange {
	color: #FF9933;
}

.blue {
	color: #003366;
}

.green {
	color: #DFFFBE;
}

.gray {
	font-weight:normal;
	font-size:70%;
	color: #C0C0C0;
}

/* ----- Superior Bar -----  */
div.supBar {
	color:#C03;
	margin 0px;
	padding 0px;
}

div.search {
	width: 20em;
	float: right;
	clear: right;
	color:#003366;
	font-size: 70%;
	margin: 1.5em 1em 0em 1em;
}

.searchbox {
	color:#666666;
	background-color:#F8F8F8;
	border-style:solid; border-width:1px; border-color:#F0F0F0;
}

/* ----- Menu -----*/
div.menu {
	width: auto;
	font-size:85%;
	background-color:Lightblue;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style:solid; border-width:1px; border-color:#E5E5E5;
	text-align: right;
	color:#FFFFFF;
}

div.menu a{
	color:#FFFFFF;
}

/* ----- right Info - News -----*/

div.leftContainer{
	float: left;
	clear: left;
	width: 20%;
	
	margin: 0% 0.5% 1% 0.5%;
	border-radius:40px; -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
    -ms-border-radius: 10px; 
}

div.center2, div.center4, div.center6{
	background-color:#F8F8F8;
	border-style:solid; border-width:1px; border-color:#F0F0F0;
	margin-bottom: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

div.center1, div.center3, div.center5{
	background-color:#E8EFFF;
	border-style:solid; border-width:1px; border-color:#F0F0F0;
	margin-bottom: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

div.news1, div.news3, div.news5{
	background-color:#F8F8F8;
	border-style:solid; border-width:1px; border-color:#F0F0F0;
	margin-bottom: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;	
}

div.news2, div.news4, div.news6{
	background-color:#DFFFBE;
	border-style:solid; border-width:1px; border-color:#F0F0F0;
	margin-bottom: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

/* ----- main Container ----- */
div.centerContainer{
	width:53.5%;
	padding: 0.5% 0.5% 1% 0.5%;
	border-style:solid; border-width:1px; border-color:#F0F0F0;
	margin: 1% 0% 1% 23%;
	border-radius:40px; -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
    -ms-border-radius: 10px;    
}

div.rightContainer{
	float: right;
	clear: right;
	width: 20%;
	background-color:#FFFFFF;
	border-style:solid; border-width:1px; border-color:#FFF3CE;
	margin: 0% 0.5% 1% 0.5%;
	padding: 0.5% 0.5% 0.5% 0.5%;
	border-radius:40px; -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
    -ms-border-radius: 10px;    
}

div.rightContainer h2{
	color:#FFFFFF;
	background-color:#FF9933;
	border-style:solid; border-width:1px; border-color:#FF9933;
}

div.mainInfo{
	border-bottom-style:solid; 
	border-width:1px; 
	border-color:#F0F0F0;
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

div.mainInfo h3 a{
	color:#003366;
}

div.logo {
	padding-left:1em;
	float:left;
	}

div.image {
	float:left;
	width: 60px;
	height: 60px;
	margin-right:0.5em;
	margin-bottom:0.5em;
	background-color:#FFFFFF;
	border-style:dotted; border-width:1px; border-color:#F0F0F0;
}

div.image h3{
	color:#CCCCCC;
}

div.screenshot1 {
	color: #555555;
	float:left;
	font-size: 70%;
	width: 300px;
	height: auto;
	margin-right:0.5em;
	margin-bottom:0.5em;
	background-color:#FFFFFF;
	border-style:dotted; border-width:1px; border-color:#F0F0F0;
}

div.screenshot2 {
	color: #555555;
	float:right;
	font-size: 70%;
	width: 300px;
	height: auto;
	margin-right:0.5em;
	margin-bottom:0.5em;
	background-color:#FFFFFF;
	border-style:dotted; border-width:1px; border-color:#F0F0F0;
}

/* ----- sub Compainer ----- */
div.subContainer{
	clear:both;
	width: auto;
	font-size:60%;
	background-color:#F8F8F8;
	border-style:solid; border-width:1px; border-color:#E5E5E5;
	margin: 0em 0em 0em 0em;
	padding: 1em 0.5em 1em 0.5em;
}

div.copyright {
	color: #999999;
	text-align:right;
	margin-left:20em;
	margin-right:0.5em;
	font-size:80%;
}

div.copyright a{
	color:#999999;
}

div.subLinks{
	float:left;
	clear:left;
	color:#777777;
	margin-left:2em;
}

div.subLinks a{
	color:#777777;
}
.content{
	margin-left:5em; 
	margin-right:5em;
}