<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


<!--   Default page to serve -->
  <welcome-file-list>
    <welcome-file>AdmissionSystem.html</welcome-file>
  </welcome-file-list>
  
<!--   Servlets -->
<servlet>
 <servlet-name>one</servlet-name>
 <servlet-class>in.ac.dei.edrp.server.COS_DataServiceImpl</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>one</servlet-name>
 <url-pattern>/admissionsystem/cos_service</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>two</servlet-name>
 <servlet-class>in.ac.dei.edrp.server.FinalMeritDataServiceImpl</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>two</servlet-name>
 <url-pattern>/admissionsystem/final-merit-data-service</url-pattern>
 </servlet-mapping>
<servlet>
 <servlet-name>three</servlet-name>
 <servlet-class>in.ac.dei.edrp.server.SetupTRDataServiceImpl</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>three</servlet-name>
 <url-pattern>/admissionsystem/TRDataService</url-pattern>
 </servlet-mapping>

     <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.SharedFiles.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
     </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
   <!--
    <servlet-mapping>
    <servlet-name>Log4JInitServlet</servlet-name>
    <url-pattern>/admissionsystem/log4jMap</url-pattern>
  </servlet-mapping>
   
       --> 
 
  <servlet>
    <servlet-name>connectServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_connectImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>connectServlet</servlet-name>
    <url-pattern>/admissionsystem/hello1</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_connectRImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/admissionsystem/helloR</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>greetServletLogin</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_LoginConnectSImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServletLogin</servlet-name>
    <url-pattern>/admissionsystem/helloLogin</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <servlet-name>superServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_connectDImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>superServlet</servlet-name>
    <url-pattern>/admissionsystem/helloD</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>progOfferedByServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_progOfferedByImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>progOfferedByServlet</servlet-name>
    <url-pattern>/admissionsystem/progOfferedBy</url-pattern>
  </servlet-mapping>
  
  <!-- For Deepak Project -->
<servlet>
    <servlet-name>greet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greet</servlet-name>
    <url-pattern>/admissionsystem/greet</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>TempServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_connectTempImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TempServlet</servlet-name>
    <url-pattern>/admissionsystem/helloTemp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>boardServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_boardImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>boardServlet</servlet-name>
    <url-pattern>/admissionsystem/board</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>marksServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.CM_manageMarksImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>marksServlet</servlet-name>
    <url-pattern>/admissionsystem/helloManage</url-pattern>
  </servlet-mapping>
  <!-- Added by Deepak  -->
  <servlet>
    <servlet-name>exportServlet</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.ExportServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>exportServlet</servlet-name>
    <url-pattern>/admissionsystem/export</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.DowLoadSheetAction</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/admissionsystem/download</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>exportServlet1</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.ExportServlet1</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>exportServlet1</servlet-name>
    <url-pattern>/admissionsystem/exportcall</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>exportServlet2</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.ExportServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>exportServlet2</servlet-name>
    <url-pattern>/admissionsystem/exportfinal</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>addmarksservice</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.addmarks.AddMarksExcelServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addmarksservice</servlet-name>
    <url-pattern>/admissionsystem/addmarksservice</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>UploadQuestionsServlet</servlet-name>
		<servlet-class>in.ac.dei.edrp.server.addmarks.GenerateExcelForAddmarks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadQuestionsServlet</servlet-name>
		<url-pattern>/admissionsystem/addmarks</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>newSummarySheet</servlet-name>
		<servlet-class>in.ac.dei.edrp.server.summarysheet.SummarySheetImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newSummarySheet</servlet-name>
		<url-pattern>/admissionsystem/newSummarySheet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>uploadDocs</servlet-name>
	<servlet-class>in.ac.dei.edrp.server.summarysheet.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>uploadDocs</servlet-name>
	<url-pattern>/admissionsystem/upload</url-pattern>
	</servlet-mapping>
	

	  <!-- Servlets -->
	  
	   
	  <servlet>
    <servlet-name>SimpleCaptcha</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.servlet.ExtendedCaptchaServlet</servlet-class>
    <init-param>
        <param-name>width</param-name>
        <param-value>200</param-value>
    </init-param>
    <init-param>
        <param-name>height</param-name>
        <param-value>50</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
    <url-pattern>/SimpleCaptcha.jpg</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ApplicantAccount</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.ApplicantAccountImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantAccount</servlet-name>
    <url-pattern>/admissionsystem/ApplicantAccount</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>finalMeritList</servlet-name>
		<servlet-class>in.ac.dei.edrp.server.process.FinalMeritListProcessImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>finalMeritList</servlet-name>
		<url-pattern>/admissionsystem/finalMeritList</url-pattern>
	</servlet-mapping>
	<servlet>
    		<servlet-name>FormSearch</servlet-name>
    		<servlet-class>in.ac.dei.edrp.server.InternalSummarySheet.FormSearchImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    		<servlet-name>FormSearch</servlet-name>
    		<url-pattern>/admissionsystem/FormSearch</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
		<servlet-name>internalSummarySheet</servlet-name>
		<servlet-class>in.ac.dei.edrp.server.InternalSummarySheet.InternalSummaryImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>internalSummarySheet</servlet-name>
		<url-pattern>/admissionsystem/internalSummarySheet</url-pattern>
	</servlet-mapping>
<servlet>
    <servlet-name>AccountLoginEDEI</servlet-name>
    <servlet-class>in.ac.dei.edrp.server.AccountLoginEDEIImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountLoginEDEI</servlet-name>
    <url-pattern>/admissionsystem/AccountLoginEDEI</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>edeiSummarySheet</servlet-name>
		<servlet-class>in.ac.dei.edrp.server.EDeiSummaryImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>edeiSummarySheet</servlet-name>
		<url-pattern>/admissionsystem/edeiSummarySheet</url-pattern>
	</servlet-mapping>
</web-app>
