#*
 * @(#)MailTestMessage.vm
 *  Copyright (c) 2005, 2008, 2009, 2010, 2012 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author  <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author  <a href="mailto:rachanadwivedi22@gmail.com">Rachana Dwivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author  <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author  <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @author <a href="mailto:vipulk@iitk.ac.in">vipul kumar pal</a>
 * @modified date: 31-12-2009, 10-04-2010,07-09-2010, 10-Oct-2010, 11-08-2011 add js
 * @modified date: 15-02-2011, 05-09-2012, 07-12-2012 (Shaista)
*#


#set($lang = $data.getUser().getTemp("lang").toString())
#set($time = $data.getSession().getMaxInactiveInterval())
##if ($lang != "english" || $lang != "french" )
<head>
#### This scripts is used for autosearch EmailId in compose mail. 
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" language="JavaScript" src="$content.getURI("/scrpts/AutoSuggestUser/jquery.autocomplete.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/AutoSuggestUser/jquery.autocomplete.css")" media="screen"/>
<script type='text/javascript' src="$content.getURI("$usrfile")"></script>
##This Script use for Fck Editor in Textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script>
#*
	<script type="text/javascript">/*<![CDATA[*/
	var wgIsArticle = false;
	        /*]]>*/</script>
	<script type="text/javascript" src="../../../../../scrpts/index"> </script>
	##<link rel="stylesheet" href="../../../../../scrpts/matthew" type="text/css">
##end
#if ($lang == "bangla")
	<script type="text/javascript" src="../../../../../scrpts/bangla_002" &action="raw"></script>
#end

#if ($lang == "hindi" ||  $lang == "marathi")
	<script type="text/javascript" src="../../../../../scrpts/hindiMarathi_002" &action="raw"></script>
#end
*#
</head>
<body onload="initEditor()">
$page.setTitle("Home | $cname | Communication | Local Mail | Compose Message")
$page.setBgColor($ui.bgcolor)

$!data.getmessage()
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor"><td colspan=5>
        <b>
        <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> |
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$cname</a> |
	#if($mode1 == "grpmgmt")
        	<a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm") style=text-decoration:none><b>$brih_grp $brih_mgmt</a> |
        #else
		##<a href=$link.setPage("call,CourseMgmt_User,Communication.vm")> $brih_communication </a> | 
		<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none>$brih_communication</a> |
		##<a href=$link.setPage("call,Local_Mail,Mail.vm")> $brih_local $LocalMail_mail </a> |
		<a href=$link.setPage("call,Local_Mail,MailContent.vm").addPathInfo("mode","All") style=text-decoration:none> $Notice_All $Notice_Mails </a> |
	#end
	#if($status!="reply") 
		$LocalMail_MailContent_msg1
	#else
		$LocalMail_Reply
	#end 	
</tr>
</table>
<table align=left width=100%>
<tr bgcolor="$ui.tableColor">
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none>$brih_localmail</a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2") style=text-decoration:none>$brih_chat</a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
	#if($data.getUser().getTemp("role") == "student")
                 <a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none> $Notice_NoticeContent_msg1</a>
        #else
	        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1") style=text-decoration:none>$brih_Notices</a></td>
	#end
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4") style=text-decoration:none>$DiscussionBoard</a></td>
	#if($data.getUser().getTemp("role") != "student")
        	#if($tdcolor != "5")
	        <td>
        	#elseif($tdcolor == "5")
	        <td bgcolor="#AFDCEC">
        	#end
		<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5") style=text-decoration:none>$brih_news</a>
	#end
	</td>

</tr>
</table>

##if ( $lang == "english")
	<form name ="editform" method = "post" enctype="multipart/form-data" action="$link.setAction("MailSendMessage").setPage("call,Local_Mail,Mail.vm")">
#*
#else
	 <div id="bodyContent">
	<form id="editform" name="editform" method="post" enctype="multipart/form-data" action="$link.setAction("MailSendMessage").setPage("call,Local_Mail,Mail.vm")">
#end	
*#
<table  align="left" width=100% bgcolor="$ui.menuColor">
##<table align="left" width=100%>  
#if(($status!="reply")&& ($mode1!="grpmgmt"))
##<tr bgcolor="$ui.menuColor">
<tr>
	<td colspan=5>
	#if($stat1=="")
		<a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("stat1","insertcc") style=text-decoration:none>$brih_add $LocalMail_CC</a> |
		##<a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("stat1","insertcc").addPathInfo("count","1") style=text-decoration:none>$brih_add $LocalMail_CC</a> |
		<a href=$link.setPage("call,Local_Mail,viewall.vm").addPathInfo("mode","NotAll") style=text-decoration:none>$brih_adb  </a>
        	##<a href=$link.setPage("call,Local_Mail,viewall.vm").addPathInfo("mode","NotAll").addPathInfo("count","1") style=text-decoration:none>$brih_adb  </a>
	#else
		<a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("stat1","") style=text-decoration:none>$brih_remove $LocalMail_CC</a>
		##<a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("stat1","").addPathInfo("count","1") style=text-decoration:none>$brih_remove $LocalMail_CC</a>  
	#end
	</td>
</tr>
#end
##<tr> 
##<tr bgcolor="$ui.menuColor">
	#if($mode1 == "grpmgmt")
	<tr>
        	#formCell("$LocalMail_MailTestMessage_To<font color=Red>*</font>" "addressNames" "$!val")
		<td colspan=4></td>
        #else
	<tr bgcolor="$ui.tableColor"> 
		#if($checkVector == "AddressBook")
			## #formCell("$LocalMail_MailTestMessage_To<font color=Red>*</font>" "addressNames" "$!userVector")
			<td>$LocalMail_MailTestMessage_To<font color=Red>*</font></td>
			<td> <textarea name="addressNames" cols="60" />$!userVector</textarea> </td>
		##	<td colspan=4></td>
		#else
			##formCell("$LocalMail_MailTestMessage_To<font color=Red>*</font>" "addressNames" "$!toAddress")
			<td>$LocalMail_MailTestMessage_To<font color=Red>*</font></td>
			<td><textarea id="suggest" name="addressNames" cols="60" />$!toAddress</textarea> <img class ="loading" id="loading-image" src="$content.getURI("/images/loader.gif")" alt="Loading..." /></td>
			##<td colspan=4></td>
		#end	
	#end
	</tr>
#if($stat1=="insertcc")
	<tr> 
		##formCell("$LocalMail_CC" "addressNames1" "")
		<td>$LocalMail_CC<font color=Red>*</font></td>
                <td><textarea id="suggest1" name="addressNames1" cols="60" /></textarea> <img class ="loading1" id="loading-image" src="$content.getURI("/images/loader.gif")" alt="Loading..." /></td>
	##	<td colspan=4></td>
	</tr>	
#end
#if(($stat1=="insertcc") || ($mode1 == "grpmgmt") )
	##<tr bgcolor="$ui.menuColor">
	<tr bgcolor="$ui.tableColor"> 
#else 
	<tr>
#end 
##<tr bgcolor="$ui.menuColor"> 
	#formCell("$Notice_Subject" "subject" "$!subject")
	##<td colspan=4></td>
</tr>
<input type="hidden" name="hexaStr" value="">
###if($stat1=="insertcc")
#if(($stat1=="insertcc") || ($mode1 == "grpmgmt") )
	<tr>
#else
	##<tr bgcolor="$ui.menuColor"> 
	<tr bgcolor="$ui.tableColor"> 
#end
<td align="centre">
	<b><font face="$ui.sansSerifFonts">$brih_msg2</b> </font>
</td>
	<td align="left" width="3">
	<font face="$ui.sansSerifFonts">
##	#if ( $lang == "english")
      		<textarea id="ta" name="wpTextbox1" rows=10 cols=80>$!msg</textarea >
#*	
	#else
		<textarea tabindex="1" accesskey="," name="wpTextbox1" id="wpTextbox1" rows="8" cols="80">$!message</textarea>
		<script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>
*#
	</td>
	</tr>
##end
##<tr>
###if($stat1=="insertcc")
#if(($stat1=="insertcc") || ($mode1 == "grpmgmt") )
	##<tr>
	<tr bgcolor="$ui.tableColor"> 
#else
	<tr bgcolor="$ui.menuColor"> 
#end
	#fileUpload("$brih_at_file" "file")
</tr>
##<tr bgcolor="$ui.menuColor">
###if($stat1=="insertcc")
#if(($stat1=="insertcc") || ($mode1 == "grpmgmt") )
	<tr bgcolor="$ui.menuColor"> 
#else
	##<tr>
	<tr bgcolor="$ui.tableColor"> 
#end
<td colspan=5>
<input type="button" class="button-ftextstyle" name="eventSubmit_doSend" value="$Notice_Send"  onClick="checkValue(document.editform,this);"/>
  #if($status!="reply")
  	<input type="reset" class="button-ftextstyle" value="$brih_clear" onClick="window.location.reload(true);"> 
  #end
<input type="button" class="button-ftextstyle" name="eventSubmit_doSave" value="$brih_save" id="autoclick1" onClick="check(document.editform,this);"/>
        <input type="hidden" name="mode1" value="$mode1">
	<input type="hidden" name="val" value="$val">
	<input type="hidden" name="actionName">
	<input type="hidden" name="RepMsg_Id" value=$RepMsg_id>
	<input type="hidden" name="repStat" value="$status">
	<input type="hidden" name="lang" value="$lang">
	<input type="hidden" name="page" value="mailtest">
	##<input type="hidden" name="sentMessage" value="$!sentMess">
</td>
</tr>
</table>
</form>
 </body>
<SCRIPT LANGUAGE="javascript">
$(window).load(function() {
    $('.loading').hide();
  });
$(window).load(function() {
    $('.loading1').hide();
  });
$('#suggest').keypress(function() {
$('.loading').show().fadeOut(4000);
});
$('#suggest1').keypress(function() {
$('.loading1').show().fadeOut(4000);
});

function checkValue(editform,field){
	
	/**
	 * Below check is added by shaista
	 */
	//if (editform.lang.value == "english")
		editor.setMode("textmode");
   	if(editform.addressNames.value!="") 
    	{
   		if(editform.subject.value=="")
    		{
     			alert("Fill the Subject Field");
     			editform.subject.focus();
    		}
		else{
			if(editform.wpTextbox1.value == "")	
			{
				if(confirm("Your message is empty and Click this [<>] button!!"))
				{
					//if (editform.lang.value == "english")
						editform.hexaStr.value = editform.wpTextbox1.value;
/*
					if(editform.repStat.value == "reply")
						editform.hexaStr.value = editform.sentMessage.value + editform.hexaStr.value;
					//alert("sentMessage.value....."+editform.sentMessage.value);
					//alert("hexastr.value....."+editform.hexaStr.value);
*/
  	   				editform.actionName.value=field.name;
     					editform.submit();
				}
				else
				{
					return;
				}
			}
			else
			{
				//if (editform.lang.value == "english")
					editform.hexaStr.value = editform.wpTextbox1.value;
/*
				if(editform.repStat.value == "reply")
					editform.hexaStr.value = editform.sentMessage.value + editform.hexaStr.value;
				//alert("sentMessage.value....."+editform.sentMessage.value);
				//alert("hexastr.value....."+editform.hexaStr.value);
*/
				editform.actionName.value=field.name;
     				editform.submit();
			}
		}
    	}
   	else
    	{
     		alert("Fill the Address Field");
     		editform.addressNames.focus();
    	}
	editor.setMode("wysiwyg");
}

function check(editform,field){
        editor.setMode("textmode");
        editform.hexaStr.value = editform.wpTextbox1.value;
        editform.actionName.value=field.name;
        editform.submit();
        editor.setMode("wysiwyg");
}
tt= $time;
autosavetime = (tt-30)*1000;
setInterval(function() {
       $("#autoclick1").click();
   }, autosavetime);

</SCRIPT>

