#*
 * @(#)MailView.vm
 *  Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *  @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 *  @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 *  @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @modify date: 01-05-09
 * @modified date: 31-12-2009
 *#
<head>
#if($mode=="adminmail")
<script type="text/javascript">
        _editor_url = "../../../../../../../scrpts/";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="../../../../../../../scrpts/htmlarea.js"></script>
#else
<script type="text/javascript">
        _editor_url = "../../../../../scrpts/";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="../../../../../scrpts/htmlarea.js"></script>
#end
<script type="text/javascript">
        var editor = null;
        function initEditor() {
                editor = new HTMLArea("ta");
                editor.generate();
                return false;
                var cfg = editor.config;
                cfg.registerButton({
                        id        : "my-hilite",
                        tooltip   : "Highlight text",
                        image     : "ed_custom.gif",
                        textMode  : false,
                        action    : function(editor) {
                                editor.surroundHTML("<span class=\"hilite\">", "</span>");
                        },
                        context   : 'table'
                });
                cfg.toolbar.push(["linebreak", "my-hilite"]); var cfg = editor.config;
                function clickHandler(editor, buttonId) {
                        switch (buttonId) {
                                case "my-toc":
                                        editor.insertHTML("<h1>Table Of Contents</h1>");
                                break;
                                case "my-date":
                                        editor.insertHTML((new Date()).toString());
                                break;
                                case "my-bold":
                                        editor.execCommand("bold");
                                        editor.execCommand("italic");
                                break;
                                case "my-hilite":
                                        editor.surroundHTML("<span class=\"hilite\">", "</span>");
                                break;
                        }
                };
                Cfg.registerButton("my-toc",  "Insert TOC", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-date", "Insert date/time", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-bold", "Toggle bold/italic", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-hilite", "Hilite selection", "ed_custom.gif", false, clickHandler);
                cfg.registerButton("my-sample", "Class: sample", "ed_custom.gif", false,
                        function(editor) {
                                if (HTMLArea.is_ie) {
                                        editor.insertHTML("<span class=\"sample\">&nbsp;&nbsp;</span>");
                                        var r = editor._doc.selection.createRange();
                                        r.move("character", -2); r.moveEnd("character", 2); r.select();
                                } else {
                                        var n = editor._doc.createElement("span"); n.className = "sample"; editor.insertNodeAtSelection(n);
                                        var sel = editor._iframe.contentWindow.getSelection();  sel.removeAllRanges(); var r = editor._doc.createRange();
                                        r.setStart(n, 0); r.setEnd(n, 0); sel.addRange(r);
                                }
                        }
                );
                cfg.pageStyle = "body { background-color:  } .hilite { background-color: yellow; } "+ ".sample { color: green; font-family: monospace; }";
                cfg.toolbar.push(["linebreak", "my-toc", "my-date", "my-bold", "my-hilite", "my-sample"]);
               editor.generate();
        }
        function insertHTML() { var html = prompt("Enter some HTML code here"); if (html) { editor.insertHTML(html); } }
        function highlight() { editor.surroundHTML('<span style="background-color: yellow">', '</span>'); }
</script>
</head>
<body onload="initEditor()">

$page.setBgColor($ui.bgcolor)
#if($mode=="adminmail")
$page.setTitle("Admin Home|Communication|Local Mail|Read Message")
#else
$page.setTitle("Home|$CName|Communication|Local Mail|Read Message")
#end
<table bgcolor="$ui.tableColor" width=100%>
<tr>
<td>
<font face="$ui.sansSerifFonts"><b>
#if($mode=="adminmail")
<a href=$link.setPage("call,Admin.vm") style=text-decoration:none>$brih_ad $brih_home </a> | 
<a href=$link.setPage("call,Notice_User,Notices.vm") style=text-decoration:none>$brih_communication </a> | 
<a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("mod","adminmail") style=text-decoration:none>$brih_localmail</a> |	 
<a href=$link.setPage("call,Local_Mail,MailContent.vm").addPathInfo("mode","All").addPathInfo("stat","admns") style=text-decoration:none>$Notice_All $Notice_Mails</a> | $LocalMail_MailView_msg1
#else
<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home </a> | 
<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$CName</a> | 
<a href=$link.setPage("call,CourseMgmt_User,Communication.vm") style=text-decoration:none>$brih_communication </a> | 
<a href=$link.setPage("call,Local_Mail,Mail.vm") style=text-decoration:none>$brih_localmail</a> |	 
<a href=$link.setPage("call,Local_Mail,MailContent.vm").addPathInfo("mode","All") style=text-decoration:none>$Notice_All $Notice_Mails</a> | $LocalMail_MailView_msg1
#end
</font>
</td>
</tr>
</table>
<br>
<br>
<form method="post" enctype="multipart/form-data">
  <div align="left">
  <table align="center" border=1>
    <tr> 
    <td>   
    <table bgcolor="$ui.tableColor" border=1 cellpadding="0" align=center>
        
      #if ($errorTemplate)
      <tr>
        <td colspan="4">
          <table bgcolor="$ui.bgcolor">
            <tr>
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end
     <tr>
     <td><b><u>$Notice_Subject :</u></b>&nbsp $sub </td>
     </tr>
     
     <tr>
     <td><b><u>$Notice_Sender :</u></b>&nbsp $retrive_user</td>
     </tr>
     
     <tr>
     <td><b><u>$LocalMail_MailView_msg2 :</u></b>&nbsp $retrive_date</td>
     </tr>
    
    <tr>
     <tr>
     <td>
      <table align=center>

      <tr><td>
	<b><u>$brih_msg2 :</u><b>
      </td></tr>
      <tr>
       <td bgcolor="$ui.bgcolor">
	<textarea id="ta" name=description rows=10 cols=70 wrap=physical onFocus="this.blur();"> $message</textarea>
       </td>
       </tr>
      </table>
      </td>
      </tr>

      <tr><td>
		#foreach($file in $dirContent)
		<tr><td><b><u>$brih_attachment :</u></b></td>
		</tr>

		<tr>
		     #set($countfield=0)
		     <td>
		     #foreach($var in $file)
		     #if($countfield==0)	
			  <a href=javascript:popupWin($link.setPage("call,ViewFileContent.vm").addPathInfo("topic","$msgID").addPathInfo("view","content").addPathInfo("type","UserArea").addPathInfo("filename","$var") style=text-decoration:none,"newWin");>$var</a>&nbsp;
		     #else
		         <b>$var</b></td>
		     #end
		     #set($countfield=1)
		#end
		</tr>
		#end
	</table>

      </td>
     </tr>

    <tr>
    <td align="center" bgcolor="$ui.menuColor">
#if($data.getUser().getUserName()!="guest")
	
	#* 
	## Below Lines  for language  "hindi" || "marathi" & @param $tempId added by shaista
	*#

	#if( ($data.getUser().getTemp("lang" ).toString() == "hindi")  || ($data.getUser().getTemp("lang" ).toString() == "marathi")  )
                #set($tempId = "reply${msgID}")
		#if($mode=="adminmail")
			<a href=$link.setPage("call,Local_Mail,MailCompose.vm").addPathInfo("status",$tempId) style=text-decoration:none>$LocalMail_Reply</a> &nbsp&nbsp
		#else
			<a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("status",$tempId) style=text-decoration:none>$LocalMail_Reply</a> &nbsp&nbsp
		#end
	#else
		#if($mode=="adminmail")
			<a href=$link.setPage("call,Local_Mail,MailCompose.vm").addPathInfo("msgid",$msgID).addPathInfo("status","reply") style=text-decoration:none>$LocalMail_Reply</a>&nbsp&nbsp
		#else
			<a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("msgid",$msgID).addPathInfo("status","reply") style=text-decoration:none>$LocalMail_Reply</a>&nbsp&nbsp
		#end
	#end
#end
#if($mode=="adminmail")
<a href=$link.setPage("call,Local_Mail,MailContent.vm").addPathInfo("mode","All").addPathInfo("stat","admns") style=text-decoration:none>$LocalMail_Close</a>
#else
<a href=$link.setPage("call,Local_Mail,MailContent.vm").addPathInfo("mode","All") style=text-decoration:none>$LocalMail_Close</a>
#end
  </td>
  </tr>
  </table>
  </td>
    </tr>
  </table>
  </div>
</form>
</body>
<SCRIPT language="JavaScript">
        function popupWin(urlName,popupName)
        {
                window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
        }
</SCRIPT>
