<plugin name='eastwood-chart' version='0.5' grailsVersion='1.1-RC1 &gt; *'>
  <author>Seymour Cakes</author>
  <authorEmail>seymores @ gmail</authorEmail>
  <title>This plugin wraps JFreeChart's Eastwood servlet for Grails app</title>
  <resources>
    <resource>UrlMappings</resource>
    <resource>EastwoodChartTagLib</resource>
    <resource>GChartTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='googleChart' version='0.5.0' />
  </dependencies>
</plugin>