#*
 * @(#) BrihaspatiLogin.vm
 * Copyright (c) 2008-2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
*#

$page.setTitle("Login in Brihaspati")
$page.setBgColor($ui.bgcolor)
<form name="frm" method="post" action="$link.setAction("myLogin")">
<table width="100%">
<tr><td>
<marquee> <font size=4>$!fNoti</font></marquee>
</td></tr>
</table>
<table align=left> ## 1
<tr><td valign="top" width="25%">  ## 2, 3
		<table bgcolor="$ui.tableColor" width="100%"> ## 4
        	<tr bgcolor="$ui.menuColor"><td>  ## 5, 6
                <img src="$content.getURI("/images/newspaper.gif")"><u><b>$brih_newsHeadline</b></u>
        	</td></tr> ## 6, 5
        	<tr><td> ## 5, 6
		<marquee scrollamount="1" direction="up" loop="2" width="100%" behaviour="slide">
		#if($status!="empty")
                #set($count=1)
                #foreach($news in $detail)
                        #if($count % 2 == 0)
                                <font size=3>
                                <table bgcolor="$ui.buttonBoxColor" width="100%"> ## 7
                                <tr> ## 8
                                <td><image src="$content.getURI("/images/orange_nav_arrow.gif")"> $news.getNews_Subject() ## 9
				<a href=javascript:popupWin($link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender()) style=text-decoration:none,"newWin");>...$brih_more</a>
                                </td> ## 9
                                </tr> ## 8
                                </table> ## 7
                                </font>
                                #set($count = $count + 1)
                        #else
                                <font size=3>
                                <table><tr><td><image src="$content.getURI("/images/orange_nav_arrow.gif")"> $news.getNews_Subject()   ## 7, 8, 9
				<a href=javascript:popupWin($link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender()) style=text-decoration:none,"newWin");>...$brih_more</a>
                                </td></tr></table> ## 9, 8, 7
                                </font>
                                #set($count = $count + 1)
                        #end
                #end
		#else
			<b>$brih_newsNo</b>
		#end
                </marquee>
		</td></tr> ## 6, 5
		<tr><td align=right> ## 5, 6
		<a href=$link.setPage("News_All.vm").addPathInfo("lang",$lang) style=text-decoration:none>$brih_more $brih_news &raquo;</a>
                </td></tr> ## 6, 5
        </table> ## 4
	</td> ## 3
	<td valign="top" width="50%"> ## 3
	<table align="left" bgcolor="$ui.tableColor"> ## 4
	<tr><td> ## 5, 6
	##<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
	<b>$brih_msg</b>
	##</marquee>
        <br>
	<b>What is BRIHASPATI?</b><br>
	A platform independent, highly scalable content-delivery tool for web based e-learning system !!<br>
	<b><u>Entities !!</u></b><br>
	ENJOY the features of Administrator, Instructor (Primary/Secondary) or Student !!
	<br><b><u>Interactive communication tools !!</u></b>
	<ul><li> CHAT :- Users can communicate online...</ul>
	<ul><li> WHITE BOARD :- Instructor can make drawings,freehand or pre-defined components while chatting...</ul>
	#*<b><u>Features under development !!</u></b>
	<ul><li> SCORM player in brihaspati</ul>
	<ul><li> Content authoring and course instruction functionality decoupled</ul>
	<ul><li> Multiserver architecture</ul>
	<ul><li> Synchronous tool</ul>*#
	</td></tr> ## 6, 5
	</table> ## 4
	</td> ## 3
	<td valign="top" bgcolor="$ui.tableColor" width="25%"> ## 3
	<table align="left" width="100%"> ## 4
        <tr><td colspan=2><font color="red">$!data.getMessage() </font></td></tr>

	<tr> ## 5
	#if($lang == "hindi")
                <td>$brih_any $brih_language $brih_select</td>
        #else
                <td> $brih_language</td>
        #end
        <td> ## 6
	<select id="language" onChange ="javascript:OnChange();">
	#if($flag)
		<option> $brih_select $brih_language </option>
	#end
#if($lang == "english")
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","english")">  $brih_english 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","bangla")">  $brih_bangla 
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","chinese")">  $brih_chinese 
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","dutch")">  $brih_dutch 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","french")"> $brih_french 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","german")"> $brih_german 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","gurmukhi")"> $brih_gurmukhi 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","hindi")"> $brih_hindi 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","italian")"> $brih_italian
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","japanese")">  $brih_japanese  
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","korean")">$brih_korean 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","marathi")">$brih_marathi 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","malayalam")">$brih_malayalam 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","russian")"> $brih_russian
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","tamil")">$brih_tamil
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","telugu")">$brih_telugu
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","urdu")">$brih_urdu
#else
        #if($lang == "bangla")
                <option>$brih_bangla (Bangla)</option>
	#elseif($lang == "chinese")
                <option>$brih_chinese (Chinese)</option>
	#elseif($lang == "dutch")
                <option>$brih_dutch (Dutch)</option>
        #elseif($lang == "french")
                <option>$brih_french (French)</option>
        #elseif($lang == "german")
                <option>$brih_german (German)</option>
        #elseif($lang == "gurmukhi")
                <option>$brih_gurmukhi (Panjabi)</option>
        #elseif($lang == "hindi")
                <option>$brih_hindi (Hindi)</option>
        #elseif($lang == "italian")
                <option>$brih_italian (Italian)</option>
	#elseif($lang == "japanese")
                <option>$brih_japanese (Japanese)</option>
        #elseif($lang == "korean")
                <option>$brih_korean (Korean)</option>
	#elseif ($lang == "malayalam")
                <option> $brih_malayalam ( Malayalam)</option>
        #elseif($lang == "marathi")
                <option>$brih_marathi (Marathi)</option>
	#elseif($lang == "tamil")
                 <option>$brih_tamil (Tamil)</option>
        #elseif($lang == "telugu")
                <option>$brih_telugu (Telugu)</option>
        #elseif($lang == "russian")
                <option>$brih_russian (Russian)</option>
        #else ($lang == "urdu")
                <option>$brih_urdu (Urdu)</option>
        #end
		#if ($lang != "english")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","english")">  $brih_english (English)</option>
        #end

        #if ($lang != "bangla")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","bangla")">  $brih_bangla (Bangla) </option>
        #end
	
	#if ($lang != "chinese")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","chinese")">  $brih_chinese (Chinese)</option>
        #end
	
	#if ($lang != "dutch")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","dutch")">  $brih_dutch (Dutch)</option>
        #end

        #if ($lang != "french")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","french")"> $brih_french (French) </option>
        #end

        #if ($lang != "german")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","german")"> $brih_german (german) </option>
        #end

        #if ($lang != "gurmukhi")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","gurmukhi")"> $brih_gurmukhi (Panjabi) </option>
        #end

        #if ($lang != "hindi")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","hindi")"> $brih_hindi (Hindi) </option>
        #end
	
        #if ($lang != "italian")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","italian")"> $brih_italian (Italian) </option>
        #end

	#if ($lang != "japanese")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","japanese")">  $brih_japanese (Japanese)</option>
        #end

        #if ($lang != "korean")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","korean")">$brih_korean (Korean)  </option>
        #end
	#if ($lang != "malayalam")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","malayalam")">$brih_malayalam (Malayalam) </option>
        #end
        #if ($lang != "marathi")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","marathi")">$brih_marathi (Marathi) </option>
        #end
	#if ($lang != "tamil")
                  <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","tamil")">$brih_tamil (Tamil)  </option>
        #end
        #if ($lang != "telugu")
		 <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","telugu")">$brih_telugu (Telugu)  </option>
        #end
        #if ($lang != "russian")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","russian")"> $brih_russian (Russian) </option>
        #end
        #if ($lang != "urdu")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","urdu")">$brih_urdu (Urdu) </option>
        #end

#end
        </select>
        </td> </tr> ## 6, 5
<tr> #formCell("$brih_usr" "username" "") </tr> 
<tr> #formPasswordCell("$brih_pwd" "password" "") </tr> 
<tr align="right"><td align=left> ## 5, 6
<font face="$ui.sansSerifFonts">
##<input type="button" value="$brih_submit" onClick="checkUNamePwd(document.frm,this);">
<input type="button" value="$brih_login" onClick="checkUNamePwd(document.frm,this);">
##<input type=hidden name="LangFile" value="$LangFile">
<input type=hidden name="lang" value="$lang">
<input type=hidden name="flag" value="$flag">
</font>
</td> </tr> ## 6, 5
<tr><td colspan=2>$brih_guestMsg2</td></tr>
##</table>
<tr><td colspan=2><b> ## 5, 6
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("ForgotPassword.vm").addPathInfo("lang",$lang).addPathInfo("status","User") style=text-decoration:none>$brih_forgot $brih_pwd</a>
</b></td></tr> ## 6, 5
<tr><td colspan=2><b> ## 5, 6
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("ViewCourseList.vm").addPathInfo("lang",$lang) style=text-decoration:none>$brih_reg2 $brih_course $brih_list</a>
</b></td></tr> ## 6, 5
<tr><td colspan=2><b> ## 5,6
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","UserResitration").addPathInfo("count","1") style=text-decoration:none> $online_online $brih_reg </a>
</b></td></tr> ## 6, 5

<tr><td colspan=2><b> ## 5, 6
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setAction("myLogin").addPathInfo("username","guest").addPathInfo("password","guest").addPathInfo("lang",$lang) style=text-decoration:none> $brih_open $brih_access $brih_courses</a>
</b></td></tr> ## 6, 5
</table> ## 4
</td></tr> ## 3, 2
</table> ## 1
</form>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=400");
        }
	function checkUNamePwd(frm,field)
	{
		if(frm.username.value!="")
		{
			if(frm.password.value!="")
			{
				frm.submit();  
			}
	        	else
	        	{
                		alert("Password should not be blank !!"); 
				frm.password.focus();
			}
		}
	        else
	        {
                	alert("User Name should not be blank !!"); 
			frm.username.focus();
		}
	}

function doSomething(e)
 {

        if (!e) var e = window.event;
        if (e.keyCode == 13)
        {
        checkUNamePwd(document.frm,this);
        }
}

document.onkeydown = doSomething;
function OnChange()
{
var x=document.getElementById("language");
/** These below line show the selected index value (lang ) at very first row of selected box while u select. **/
//var index = (x.value).indexOf("lang");
//var str=(x.value).substring(index+5);
//x.options[x.selectedIndex].text=str;
window.location=x.value;
}
                         
</SCRIPT>
