#*
 * @(#) BrihaspatiLogin.vm
 * Copyright (c) 2012-2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @modified date: 29-08-2010, 24-09-2010 (Shaista)
 * @author <a href="palseema30@gmail.com">ManoramaPal</a>
 * @author <a href="kishore.shukla@gmail.com">Kishore Kumar Shukla</a>
 * @author modified date 09-08-2012<a href="mailto:rpriyanka12@ymail.com">Priyanka Rawat</a>
 * @author modified date 31-10-2012<a href="mailto:shikhashuklaa@ymail.com">Shikha Shukla</a>
 * @author modified date 22-07-2013<a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified date: 07-12-2010
 * @modified date: 15-02-2011,23-04-2013(Priyanka Rawat),22-07-2013(Tej)
*#

$page.setTitle("Login in Brihaspati")
$page.setBgColor($ui.bgcolor)
<head>
<body>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.ui.min.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/slimScroll.js")"></script>
<link type="text/css" href="$content.getURI("/scrpts/fixedstyle.css")" rel="stylesheet"></script>
</head>
<div class="main" style="width:1100px; margin:-10px auto; background:$ui.tableColor;">
<table align=center style= "font-size:16px;font-family:Times New Roman;font-weight:bold;">
<tr><td align=center>$!fNoti</td></tr>
<tr><td align=center>$!quotation</td></tr>
</table>
#if(($openid_identifier== "Google") ||($openid_identifier== "Yahoo"))
$!data.getMessage() 
#end
$!msg
<table align=center> ## 1
<tr><td valign="top">  ## 2, 3
		<table class="news" style= "font-size:16px;font-family:Times New Roman;"> ## 4
        	<tr bgcolor="$ui.menuColor"><td align=center>  ## 5, 6
                <img src="$content.getURI("/images/news.png")">&nbsp;<b>$brih_newsHeadline</b>
        	</td></tr> ## 6, 5
        	<tr><td> ## 5, 6
		#if($detail.size()> 5)
		<div style class="scrl">
		#end
		#if($status!="empty")
                #set($count=1)
                #foreach($news in $detail)
                        #if($count % 2 == 0)
                                <font size=3>
                                <table bgcolor="$ui.buttonBoxColor"> ## 7
                                <tr> ## 8
                                <td>$news.getNews_Subject() ## 9
				<a href=javascript:popupWin("$link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender())","newWin");>...$brih_more</a>
                                </td> ## 9
                                </tr> ## 8
                                </table> ## 7
                                </font>
                                #set($count = $count + 1)
                        #else
                                <font size=3>
                                <table><tr><td><div  class="fixed" style='width: 275px;'>$news.getNews_Subject()   ## 7, 8, 9
				<a href=javascript:popupWin("$link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender())","newWin");>...$brih_more</a>
                              	</div></td></tr></table> ## 9, 8, 7
                                </font>
                                #set($count = $count + 1)
                        #end
                #end
		#else
			<b>$brih_newsNo</b>
		#end
                ##</marquee>
		</td></tr> ## 6, 5
		<tr><td align=right> ## 5, 6
		<a href="$link.setPage("News_All.vm").addPathInfo("lang",$lang)" style="text-decoration:none">$brih_more $brih_news &raquo;</a>
                </td></tr> ## 6, 5
        </table> ## 4

	<table class="session" style= "font-size:16px;font-family:Times New Roman;height:60%"> ## 4
                <tr bgcolor="$ui.menuColor" style="height:100px"><td align=center>  ## 5, 6
                <b>$sec_session</b>
                </td></tr>
        #if($lec_details.size()==0)
		<tr><td valign="top"> <br>$session_info</td></tr>
        #else
	        #foreach($st in $lec_details)
		<tr> <td>
	        	<span style="margin-left:10px;">$st.lecname</span> <a href=javascript:popup("$link.setPage("LectureInfo.vm").addPathInfo("lang",$lang).addPathInfo("lectureId",$st.lid).addPathInfo("mode","Alecture")","newWin"); style="float:right; font-size:16px;font-family:Times New Roman; margin-right:10px; text-decoration:none; font-weight:normal;" class="link">$brih_more</a><br>
		</td></tr>
        	#end
        #end
        </table>

	</td> ## 3
	<td valign="top"> ## 3
	<table align="left" class="desc"> ## 4
	<tr><td valign=top> ## 5, 6
        
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
	&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")"><a href=$link.setPage("ViewCourseList.vm").addPathInfo("lang",$lang) style="text-decoration:none"> <b>$brih_reg2 $brih_course #if($lang == "marathi") $brih_Of1 #end $brih_list</b></a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","UserResitration").addPathInfo("count","1") style="text-decoration:none"><b>$online_online $brih_reg</b> </a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setAction("myLogin").addPathInfo("username","guest").addPathInfo("password","guest").addPathInfo("lang",$lang) style="text-decoration:none"><b>$brih_open $brih_access $brih_courses</b></a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")"><a href=$link.setPage("InstituteAdminRegistration.vm").addPathInfo("lang",$lang) style="text-decoration:none"><b> #if($lang == "hindi")$brih_Institute $brih_Of2 #else $RemoteInstitute #end $brih_admin #if($lang == "hindi")$brih_Of1 #end $brih_reg </b> </a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setPage("ViewInstituteList.vm").addPathInfo("lang",$lang) style="text-decoration:none"><b>$brih_reg2 $RemoteInstitute #if($lang == "hindi") $brih_of1 #end $brih_list</b></a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setPage("FAQlist.vm").addPathInfo("lang",$lang).addPathInfo("mode","alllist").addPathInfo("type","general") style="text-decoration:none"><b>$brih_FAQ #if($lang =="hindi" || $lang =="bhojpuri")$brih_Of #end $brih_list</b></a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setPage("ParentRegistration.vm").addPathInfo("lang",$lang) style="text-decoration:none"><b>$brih_parent $brih_reg</b> </a>
<br>
	<span class="spce" style= "font-size:16px;font-family:Times New Roman;">
&nbsp;&nbsp;<img src="$content.getURI("/images/orange_sq_but.gif")"><a href=$link.setPage("RemoteAuthenticate.vm").addPathInfo("lang",$lang) style="text-decoration:none"><b> #if($lang =="hindi" || $lang =="bhojpuri" || $lang == "marathi")$brih_bri $brih_server $brih_from $brih_auth #else $brih_auth $brih_from $brih_bri $brih_server #end</b> </a>
<br><br>
<div style="width:400px; height:auto;font-size:16px;font-family:Times New Roman;text-align: justify;">
<table>
<tr>
<td>
<b> <span style="font-size:19px;color:#00000;">Exam Instruction For Student</span> </b><br>
<ul><li><b>Step-1:-</b> Enter username (Email-ID) and Password to Login in Brihaspati.</ul>
<ul><li><b>Step-2:-</b> If you unable to login then click on <b>Forget Password</b> link by this you get new mail for new password.</ul>
<ul><li><b>Step-3:-</b> After login as a student, click on <b>Student Course Area</b>.</ul>
<ul><li><b>Step-4:-</b> In Course Home click to the exam module and go to the <b>Attempt Quiz</b> link. (Read the message for quiz start time).</ul>
<ul><li><b>Step-5:-</b> After entering numeric eight digit number, the quiz will start.</ul>
<ul><li><b>Step-6:-</b> Before one minute end the quiz, Please save and submit the quiz.</ul>
</td>
</tr>
</table>
</div>
	</td></tr> ## 6, 5
	</table> ## 4
	</td> ## 3
	<td valign="top" class="login"> ## 3
	<table align="left" style= "font-size:16px;font-family:Times New Roman;"> ## 4
	<tr>
	<div class="tp">

                        #if($!load_flag == 0)
                                <td colspan=4><img src="$content.getURI("/images/green.gif")" border="0">&nbsp;$brih_trafficMessage1</td>
                        #end
                                        
                        #if($!load_flag == 1)
                                <td colspan=4><img src="$content.getURI("/images/orange.jpg")" border="0">&nbsp;$brih_trafficMessage2</td>
                        #end

			#if($!load_flag == 2)
				<td colspan=4><img src="$content.getURI("/images/red.gif")" border="0">&nbsp;$brih_trafficMessage3</td>           
                        #end
	</tr>
	<tr>
		<td colspan=4>
			$brih_noOfUsersLoggedIn $!active_user
		</td>
	</tr>
	<tr>
		<td colspan=4>
			$brih_timeTakenAtLastLogin $!login_time
		</td>
	</tr>
	</div>
        <tr><td colspan=4><font color="red">$!data.getMessage() </font></td></tr>

	<tr> ## 5
	#if($lang == "hindi")
                <td>$brih_any $brih_language $brih_select</td>
        #else
                <td> $brih_language</td>
        #end
        <td> ## 6
	<select id="language" onChange ="javascript:OnChange();" class="drop" style="width:200px">
	#if($flag)
		<option> $brih_select $brih_language </option>
	#end
#if($lang == "english")
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","english")"> $brih_english 
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","arabic")"> $brih_arabic </option>
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","bangla")"> $brih_bangla 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","bhojpuri")"> $brih_bhojpuri
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","chinese")"> $brih_chinese 
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","dutch")"> $brih_dutch 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","french")"> $brih_french 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","german")"> $brih_german 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","greek")"> $brih_greek 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","gujarati")"> $brih_gujarati 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","gurmukhi")"> $brih_gurmukhi 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","hindi")"> $brih_hindi 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","italian")"> $brih_italian
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","japanese")"> $brih_japanese  
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","korean")"> $brih_korean 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","kannada")"> $brih_kannada
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","marathi")"> $brih_marathi 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","malayalam")"> $brih_malayalam 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","nepali")"> $brih_nepali 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","persian")"> $brih_persian 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","portuguese")"> $brih_portuguese 
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","russian")"> $brih_russian
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","spanish")"> $brih_spanish
	<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","tamil")"> $brih_tamil
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","telugu")"> $brih_telugu
        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","urdu")"> $brih_urdu
#else
        #if($lang == "bangla")
                ##<option>$brih_bangla ($brih_bangla)</option>
                <option>$brih_bangla </option>
        #elseif($lang == "bhojpuri")
                ##<option>$brih_bhojpuri ($brih_bhojpuri)</option>
                <option>$brih_bhojpuri </option>
	#elseif($lang == "chinese")
                ##<option>$brih_chinese ($brih_chinese)</option>
                <option>$brih_chinese </option>
	#elseif($lang == "dutch")
                ##<option>$brih_dutch (Nederlands)</option>
                <option>$brih_dutch </option>
        #elseif($lang == "french")
                ##<option>$brih_french (Franýais)</option>
                <option>$brih_french </option>
        #elseif($lang == "german")
                ##<option>$brih_german (Deutsch)</option>
                <option>$brih_german </option>
        #elseif($lang == "greek")
	        <option> $brih_greek </option>
        #elseif($lang == "gujarati")
	        <option> $brih_gujarati </option>
        #elseif($lang == "gurmukhi")
                ##<option>$brih_gurmukhi ($brih_gurmukhi)</option>
                <option>$brih_gurmukhi </option>
        #elseif($lang == "hindi")
                ##<option>$brih_hindi ($brih_hindi)</option>
                <option>$brih_hindi </option>
        #elseif($lang == "italian")
                ##<option>$brih_italian (Italiano)</option>
                <option>$brih_italian </option>
	#elseif($lang == "japanese")
                ##<option>$brih_japanese ($brih_japanese)</option>
                <option>$brih_japanese </option>
        #elseif($lang == "korean")
                ##<option>$brih_korean ($brih_korean)</option>
                <option>$brih_korean </option>
        #elseif($lang == "kannada")
                ##<option>$brih_kannada ($brih_kannada)</option>
                <option>$brih_kannada </option>
	#elseif ($lang == "malayalam")
                ##<option> $brih_malayalam ($brih_malayalam)</option>
                <option> $brih_malayalam </option>
        #elseif($lang == "marathi")
                ##<option>$brih_marathi ($brih_marathi)</option>
                <option>$brih_marathi </option>
        #elseif($lang == "nepali")
                <option>$brih_nepali </option>
	#elseif($lang == "portuguese")
		<option> $brih_portuguese </option>
	#elseif($lang == "tamil")
                 ##<option>$brih_tamil ($brih_tamil)</option>
                 <option>$brih_tamil </option>
        #elseif($lang == "telugu")
                ##<option>$brih_telugu ($brih_telugu)</option>
                <option>$brih_telugu </option>
        #elseif($lang == "russian")
                ##<option>$brih_russian ($brih_russian)</option>
                <option>$brih_russian </option>
        #elseif($lang == "spanish")
                ##<option>$brih_spanish (EspaýOB)</option>
                <option>$brih_spanish </option>
       #* #else ($lang == "urdu")
                ##<option>$brih_urdu ($brih_urdu)</option>
                <option>$brih_urdu </option>
	*#
        #end
	#if($lang != "arabic")
		<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","arabic")"> $brih_arabic ($brih_arabic1) </option>
	#end

        #if ($lang != "bangla")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","bangla")">  $brih_bangla ($brih_bangla1) </option>
        #end
        #if($lang != "bhojpuri")
		<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","bhojpuri")" > $brih_bhojpuri ($brih_bhojpuri1) </option>
	#end
	#if ($lang != "chinese")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","chinese")">  $brih_chinese ($brih_chinese1)</option>
        #end
	
	#if ($lang != "dutch")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","dutch")">  $brih_dutch (Nederlands)</option>
        #end
	#if ($lang != "english")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","english")">  $brih_english (English)</option>
        #end

        #if ($lang != "french")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","french")"> $brih_french (Franýais) </option>
        #end

        #if ($lang != "german")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","german")"> $brih_german (Deutsch) </option>
        #end

        #if($lang != "greek")
	        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","greek")"> $brih_greek ($brih_greek1)
	#end
	
        #if($lang != "gujarati")
		<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","gujarati")"> $brih_gujarati ($brih_gujarati1)
	#end

        #if ($lang != "gurmukhi")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","gurmukhi")"> $brih_gurmukhi ($brih_gurmukhi1) </option>
        #end

        #if ($lang != "hindi")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","hindi")"> $brih_hindi ($brih_hindi1) </option>
        #end
	
        #if ($lang != "italian")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","italian")"> $brih_italian (Italiano) </option>
        #end

	#if ($lang != "japanese")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","japanese")">  $brih_japanese ($brih_japanese1)</option>
        #end

        #if ($lang != "korean")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","korean")">$brih_korean ($brih_korean1)  </option>
        #end
       #if ($lang != "kannada")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","kannada")">$brih_kannada ($brih_kannada1)  </option>
        #end

	#if ($lang != "malayalam")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","malayalam")">$brih_malayalam ($brih_malayalam1) </option>
        #end
        #if ($lang != "marathi")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","marathi")">$brih_marathi ($brih_marathi1) </option>
        #end

        #if($lang != "nepali")
	        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","nepali")"> $brih_nepali ($brih_nepali1) 
	#end
	#if($lang !="persian")
		<option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","persian")"> $brih_persian ($brih_persian1)
	#end
        #if($lang != "portuguese")
	        <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","portuguese")"> $brih_portuguese ($brih_portuguese1)
	#end

        #if ($lang != "russian")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","russian")"> $brih_russian ($brih_russian1) </option>
        #end

        #if ($lang != "spanish")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","spanish")"> $brih_spanish (EspaýOB) </option>
        #end
	#if ($lang != "tamil")
                  <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","tamil")">$brih_tamil ($brih_tamil1)  </option>
        #end
        #if ($lang != "telugu")
		 <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","telugu")">$brih_telugu ($brih_telugu1)  </option>
        #end
        #if ($lang != "urdu")
                <option value="$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang","urdu")">$brih_urdu ($brih_urdu1) </option>
        #end
#end
        </select>
        </td> </tr> ## 6, 5
<form name="frm" method="post" action="$link.setAction("myLogin")">
##<tr> #formCell("$brih_email ($brih_usr)" "username" "")</tr>
<tr><td>$brih_email ($brih_usr)</td><td><input type="text" name="username" value=""></td></tr> 
<tr><td colspan=4><span class="example" style= "font-size:12px;font-family:Times New Roman;color:#0000FF;">Example: brihspti@iitk.ac.in</span></td></tr>
##<tr> #formPasswordCell("$brih_pwd" "password" "") </tr> 
<tr><td>$brih_pwd</td><td><input type="password" name="password" value=""></td></tr>
#if(($ldapcat == "null")||($ldapcat ==""))
&nbsp;
#else
<tr><td>$brih_ldap $brih_cat</td>
<td>
<select id="lcate_id" name="lcate" class="drop">
<option>  </option>
#foreach($num in $ldapcat.split(","))
<option value=$num> $num </option>
#end
</select>
</td></tr>
#end
<tr><td></td><td> ## 5, 6
<font face="$ui.sansSerifFonts">
<input type="button" value="$brih_login" class="lgbtn" style="width:100px" onClick="checkUNamePwd(document.frm,this);">
<input type=hidden name="lang" value="$lang">
<input type=hidden name="flag" value="$flag">
##<tr><td></td><td class="lgbt"><img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setPage("ForgotPassword.vm").addPathInfo("lang",$lang).addPathInfo("status","User") style="text-decoration:none">$brih_forgot $brih_pwd</a></td></tr>
<tr><td></td><td><img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;<a href=$link.setPage("ForgotPassword.vm").addPathInfo("lang",$lang).addPathInfo("status","User") style="text-decoration:none">$brih_forgot $brih_pwd</a></td></tr>
<tr><td></td><td colspan=4><img src="$content.getURI("/images/orange_sq_but.gif")"><a href=$link.setPage("ResendActivation.vm").addPathInfo("lang",$lang) style="text-decoration:none"> #if($lang =="hindi" || $lang =="gujarati" || $lang == "bhojpuri") $brih_Url $brih_resend #else $brih_resend $brih_act $brih_Url #end </a></td></tr>
</font>
</td> </tr> ## 6, 5
<tr><td colspan=4><span style= "font-size:16px;font-family:Times New Roman;font-weight:bold;">$brih_guestMsg2</span></td></tr>
</form>

<tr><td colspan="4">
<br>$brih_signin:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
#if($!load_flag == 0)
	<a href=$link.setAction("OpenIdRequest").addPathInfo("lang",$lang).addPathInfo("openid_identifier","Google")><img src="$content.getURI("/images/google.png")" border="0" alt="Google" align="middle" title="The email can be your Login Id or Email"></a>
&nbsp;&nbsp;
	<a href=$link.setAction("OpenIdRequest").addPathInfo("lang",$lang).addPathInfo("openid_identifier","Yahoo")><img src="$content.getURI("/images/yahoo.png")" border="0" alt="Yahoo" align="middle" title="The email can be your Login Id or Email"></a>
<br>
#end

#if($!load_flag == 1)
	<a href="javascript: if(confirm('Traffic on site is high, it may take longer to login. If you still want to continue then click OK.')) {window.location.href='$link.setAction("OpenIdRequest").addPathInfo("lang",$lang).addPathInfo("openid_identifier","Google")'} else {void('')};"><img src="$content.getURI("/images/google.png")" border="0" alt="Google" align="middle" title="The email can be your Login Id or Email"></a>
&nbsp;&nbsp;
        <a href="javascript: if(confirm('Traffic on site is high, it may take longer to login. If you still want to continue then click OK.')) {window.location.href='$link.setAction("OpenIdRequest").addPathInfo("lang",$lang).addPathInfo("openid_identifier","Yahoo")'} else {void('')};"><img src="$content.getURI("/images/yahoo.png")" border="0" alt="Yahoo" align="middle" title="The email can be your Login Id or Email"></a>
<br>
#end

#if($!load_flag == 2)
	 <a href="javascript: alert('High traffic on site. Please try again later or wait for the light on login page to be green.');"><img src="$content.getURI("/images/google.png")" border="0" alt="Google" align="middle" title="The email can be your Login Id or Email"></a>
&nbsp;&nbsp;
        <a href="javascript: alert('High traffic on site. Please try again later or wait for the light on login page to be green.');"><img src="$content.getURI("/images/yahoo.png")" border="0" alt="Yahoo" align="middle" title="The email can be your Login Id or Email"></a>
<br>
#end
</td></tr>
</table> ## 4
</td></tr> ## 3, 2
</table> ## 1
</div>
<br>
</body>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=400, scrollbars=yes");
        }
	
	function popup(url,popupName)
        {
                var w=650;
                var h=200;
                var left = (screen.width/2)-(w/2);
                var top = (screen.height/2)-(h/2);
                Win2 = window.open (url,popupName, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
                //Win2=window.open(url,popupName,"resizable,height=200,width=650");
        }

##	window.onload = setupRefresh;

##       function setupRefresh() {
##        setTimeout("refreshPage();", 60000); // milliseconds
##        }
##    	function refreshPage() {
##       	window.location = location.href;
##    	}

	function checkUNamePwd(frm,field)
	{
		if(frm.username.value!="")
		{
			if(frm.password.value!="")
			{
				loadFlag(frm,field);
				//frm.submit();  
			}
	        	else
	        	{
                		alert("Password should not be blank !!"); 
				frm.password.focus();
			}
		}
	        else
	        {
                	alert("User Name should not be blank !!"); 
			frm.username.focus();
		}
	}

function doSomething(e)
 {

        if (!e) var e = window.event;
        if (e.keyCode == 13)
        {
        checkUNamePwd(document.frm,this);
        }
}

document.onkeydown = doSomething;
function OnChange()
{
var x=document.getElementById("language");
/** These below line show the selected index value (lang ) at very first row of selected box while u select. **/
//var index = (x.value).indexOf("lang");
//var str=(x.value).substring(index+5);
//x.options[x.selectedIndex].text=str;
window.location=x.value;
}
$(function(){
     $('#scroll').slimScroll({
         height: '200px',
         disableFadeOut: true
          });
      });

function loadFlag(frm,field)
{
        var loadFlag = $!load_flag;

	if(frm.username.value == "admin")
	{
		frm.submit();
	}
	else
	{
        	if(loadFlag == "0")
        	{
                	frm.submit();
        	}

        	if(loadFlag == "1")
        	{
                	var r=confirm("Traffic on site is high, it may take longer to login. If you still want to continue then click OK.");
                	if (r)
                	{
                        	frm.submit();
                	}
        	}
        	if(loadFlag == "2")
        	{
                	alert("High traffic on site. Please try again later or wait for the light on login page to be green.");
        	}
	}
}
         
</SCRIPT>
