#*
 * @(#)InstituteAdminRegistration.vm 
 * Copyright (c)2010,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a> 
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a> 
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a> 
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modify date- 10-12-2011
 *#
$!data.getMessage()
$page.setTitle("Login Page | Institute Admin Registration ")
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/FormValidation/InstituteAdminRegistration.js")"></script>
	
## Adding the line containing urls after the header image.
	<table bgcolor="$ui.menuColor" width=100%>
		<tr><td>
			<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang) style=text-decoration:none> $brih_login $WikiPage </a>| #if($lang == "hindi") $brih_Institute $brih_Of2 #else $RemoteInstitute #end $brih_admin #if($lang == "hindi") $brih_Of1 #end $brih_reg   
		</td></tr>
	</table>

## Creating the links for help regarding registration.
		<table align="left" bgcolor="$ui.tableColor" width=100%>
			<tr><td align="right"><img src="$content.getURI("/images/hand.gif")">
        			<font face="$ui.sansSerifFonts" size=3>
        			<a href=javascript:popupWin("/brihaspati2/docs/InstituteAdminRegistration.html","newWin");>$brih_help</a></font>
			</td></tr>
		</table>

## Creating the form to collect the information for creation of Instiute account
## alongwith Institute admin information.
#macro(opt)

        <option value=Govt>$brih_govt</option>
        <option value=SemiGovt2>$brih_semi $brih_govt</option>
        <option value=SF>$brih_sf</option>
        <option value=Other>$brih_other</option>
#end
	<form name="frm" method="post" action="$link.setPage("InstituteAdminRegistration.vm").addPathInfo("lang",$lang).setAction("InstituteRegistration")">

	   <table align=left bgcolor="$ui.tableColor" width="100%">
	      <tr bgcolor="$ui.menuColor">
## forming cell for institute's name.
                 #formCell ("$RemoteInstitute $brih_name <font color=red>*</font>" "INAME" "")
	      </tr>
	      <tr>
## forming cell for entry of Institute's address.
		#formCell ("$RemoteInstitute $RemoteAddress <font color=red>*</font>" "IADDRESS" "")

			</tr>
			<tr bgcolor="$ui.menuColor">   
                        	#formCell ("$Inst_city <font color=red>*</font>" "ICITY" "")
                        </tr>
                        <tr>
                                #formCell ("$Inst_pincode <font color=red>*</font>" "IPINCODE" "")
                        </tr>
			<tr bgcolor="$ui.menuColor">      
                                #formCell ("$Inst_state <font color=red>*</font>" "ISTATE" "")
                        </tr>
                        <tr>
                                ##formCell ("$Inst_landline <font color=red>*</font>" "ILANDLINE" "")
				<td>$Inst_landline <font color=red>*</font></td>
			</tr>
			<tr>
				<td>$brih_country $brih_code</td>		
				<td>+<input type="text" name="ccode" value="91">
			</tr>
			<tr>
				<td>$brih_region $brih_code </td>
				<td><input type="text" name="rcode" value=""> Ex. #if($lang == "hindi") (0512)$brih_knp $brih_for #else $brih_for $brih_knp (0512) #end</td>
			</tr>
			<tr>
				<td>$brih_num </td>
				<td><input type="text" name="phnumber" value=""> Ex. #if($lang == "hindi")(2597841)$brih_iit $brih_knp $brih_for #else $brih_for $brih_iit $brih_knp (2597841) #end</td>
			</tr>

                        </tr>
			<tr bgcolor="$ui.menuColor">   
                                ##formCell ("$RemoteInstitute $brih_domain <font color=red>*</font>" "IDOMAIN" "")
				<td>$RemoteInstitute $brih_domain <font color=red>*</font></td>
				<td>@<input type="text" name="IDOMAIN" value=""></td>
                        </tr>
                        <tr>
                                ##formCell ("$Inst_type <font color=red>*</font>" "ITYPE" "")
				<td>$Inst_type <font color=red>*</font></td>
				<td><select name="ITYPE">
					#opt()
				</select></td>
                        </tr>
                        <tr bgcolor="$ui.menuColor">
                                ##formCell ("$RemoteInstitute $Inst_website <font color=red>*</font>" "IWEBSITE" "")
				<td>$RemoteInstitute $Inst_website <font color=red>*</font></td>
                                <td>http://<input type="text"  name="IWEBSITE" value=""></td>

                        </tr>
			<tr>
				#formCell ("$brih_ad $brih_first $brih_name<font color=red>*</font>" "IADMINFNAME" "")
                        </tr>
                        <tr bgcolor="$ui.menuColor">    
				#formCell ("$brih_ad $brih_last $brih_name<font color=red>*</font>" "IADMINLNAME" "")
                        </tr>
			<tr>
	                        #formCell ("$brih_ad $Inst_designation<font color=red>*</font>" "IADMINDESIGNATION" "")

			<tr bgcolor="$ui.menuColor"> 
				#formCell ("$brih_ad $brih_email <font color=red>*</font>" "IADMINEMAIL" "")
			</tr>
			<tr>
				 #formPasswordCell ("$brih_ad $brih_pwd<font color=red>*</font>" "IADMINPASSWORD" "")
			</tr>
			<tr>
        			<td colspan=2 align="left">
				<input type="hidden" name="actionName">
				<input type="button" name="eventSubmit_InstituteRegister" value="$brih_reg1" onClick="checkField(document.frm,this);"/>
        			<input type="Reset" name="Reset" Value="$brih_clear"/>
        			</td>
        		</tr>
			
		</table>
	</form>
