#*
 * @(#) InstituteAdmin.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date 22-11-2010
*#

$page.setTitle("Login | Index | IndexHome")
$page.setBgColor("$ui.tableColor")
<body>
#set($lang = $data.getUser().getTemp("lang" ).toString())
$!data.getMessage()
#macro(UNAME)
$flname
#end
<table bgcolor="$ui.tableColor" width=100% CellPadding=0 align=center>
<tr bgcolor="$ui.menuColor">
	<td align="center">
			###if(( $data.getUser().getTemp("lang" ).toString())=="hindi")
			#if($lang =="hindi" || $lang =="bhojpuri")
			        <font size=4 face="$ui.sansSerifFonts"><b>#UNAME()  $brih_welcome
			        </font>
			#else
			        <font size=4 face="$ui.sansSerifFonts"><b>$brih_welcome
			        #UNAME()
			        </font>
			#end
	</td>
</tr>
	
	##<tr><td align="center">Institute Admin List</td></tr>
	<tr><td align="center"> #if($lang =="hindi") $brih_Institute $brih_Of2 #else $RemoteInstitute #end $brih_ad #if($lang =="hindi") $brih_Of #end $brih_list </td></tr>
	#if($rldpage != "yes")
		#set($coun=1)
		#foreach($lst in $list1)
		##	#foreach($lst1 in $list1)
		##		#if($lst.getInstituteId() == $lst1.getInstituteId())
		##<tr>
		#if($velocityCount%2==0)
                                <tr bgcolor="$ui.tableColor">
                        #else
                                <tr bgcolor="$ui.menuColor">
                        #end

		<td align=center><a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").addPathInfo("role",$role).addPathInfo("mInststat","1").addPathInfo("instituteId",$lst.getInstituteId()).addPathInfo("iname",$lst.getInstituteName()).addPathInfo("domainName",$lst.getInstituteDomain()).addPathInfo("reload","yes").addPathInfo("count","1") style=text-decoration:none>$lst.getInstituteName()</a>
                ##set($coun1=1)
                #foreach($idinst in $onlineinst)
                ###if($coun==$coun1)
                #if("$lst.getInstituteId()"=="$idinst")
&nbsp;&nbsp;<a href=javascript:popupWin("$link.setPage("call,OnLine_Rgtn,OnlineCourseApproval.vm").addPathInfo("instituteId",$lst.getInstituteId())","newWin");>$online_online $brih_courses $brih_view </a></td>
		#end
		#end		
		</tr>
		##		#end
		##	#end
		#end
	#else
        <tr><td align=center><b>$list</b></td></tr>
	#end	
</table>
</body>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=800,width=1200");
        }
        function checkUNamePwd(frm,field)
        {
                if(frm.username.value!="")
                {
                        if(frm.password.value!="")
                        {
                                frm.submit();
                        }
                        else
                        {
                                alert("Password should not be blank !!");
                                frm.password.focus();
                        }
                }
                else
                {
                        alert("User Name should not be blank !!");
                        frm.username.focus();
                }
        }
function doSomething(e)
 {

        if (!e) var e = window.event;
        if (e.keyCode == 13)
        {
        checkUNamePwd(document.frm,this);
        }
}

document.onkeydown = doSomething;
function OnChange()
{
var x=document.getElementById("language");
/** These below line show the selected index value (lang ) at very first row of selected box while u select. **/
//var index = (x.value).indexOf("lang");
//var str=(x.value).substring(index+5);
//x.options[x.selectedIndex].text=str;
window.location=x.value;
}

</SCRIPT>

