#*
 * @(#)OnlineRegistration.vm 
 * Copyright (c) 2008-09,2010,2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a> 
 * @author <a href="mailto:omprakash_kgp@yahoo.co.in">Om Prakash</a> 	
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>20092010 	
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a>
 * @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @author <a href="mailto:rpriyanka12@ymail.com">Priyanka Rawat</a>
 * @modidied date: 20-10-2010, 23-12-2010, 11-01-2011, 05-08-2011,10-12-2011,07-02-2012
 * @modified date: 09-08-2012 (Priyanka),31-05-2013,06-06-2013
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#
$page.setTitle("Login Page | Online Registration ")
$!data.getMessage()
<head>
## This java script is called for return alert message and highlighted the field if the input value in the form is missing or incorrect.
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/CommonScript.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.tableColor">
<td>
<table bgcolor="$ui.tableColor" width=100%>
#set($lang = $data.getUser().getTemp().toString())
<tr bgcolor="$ui.menuColor">
	<td colspan=3>
		<a href=$link.setPage("BrihaspatiLogin.vm") style=text-decoration:none> $brih_login $WikiPage </a>| $online_online $brih_reg   
	</td>
</tr>
<tr bgcolor="$ui.menuColor">
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
		<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","UserResitration").addPathInfo("count","1") style=text-decoration:none> $brih_student #if($lang =="hindi") $brih_Of1 #end $brih_reg </a>
	</td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor == "2")
	<td bgcolor="#AFDCEC">
	#end
		<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","CourseRegistration").addPathInfo("count","2") style=text-decoration:none> $brih_Instructor ($brih_course) #if($lang =="hindi") $brih_Of1 #end $brih_reg </a>
	</td>
	<td align=right>
		<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/OnlineRegistration.html","newWin") style='text-decoration:none'>$brih_help</a>
	</td>
</tr>
</table>
</td>
</tr>
<tr bgcolor="$ui.tableColor">
<td>
<table bgcolor="$ui.tableColor" width=100%>
<form name=frm method="post" action="$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).setAction("OnlineRegistration")">
#if($status == "UserResitration")
<tr>
	<td> #if($lang =="hindi" || $lang =="marathi") $RemoteInstitute $brih_name $brih_select #else $brih_select $RemoteInstitute $brih_name #end <font color=RED>*</font></td>
	<td>
    		<select name="instName" size=1 class="drop" onChange="checkOption(document.frm,this);" style="width:300px;"/>
		#if($Insname=="")
			<option> #if($lang == "hindi") $brih_Institute $brih_select #else  $brih_select $RemoteInstitute #end </option>
		#else
			<option>$Insname</option>
			<option> #if($lang == "hindi") $brih_Institute $brih_select #else  $brih_select $RemoteInstitute #end </option>
		#end
		#foreach($name in $instList)
	 		<option value="$name.getInstituteName()" style="width:300px;" title="$name.getInstituteName()">$name.getInstituteName() </option>
	  	#end
	  	</select>
		<select class="drop" id="group_id" name="group" size=1 onChange="ChangeRole(document.frm,this);" style="width:300px;"/>
		#foreach($crsname in $courseList)
			<option value="$crsname.getGroupName()" style="width:275px;" title="$crsname.getCAlias(): $crsname.getCourseName()-$crsname.getUserName()">$crsname.getCAlias(): $crsname.getCourseName()-$crsname.getUserName()</option>
		#end
		</select>
	</td>
</tr>
<tr bgcolor="$ui.menuColor">
	#formCell(" $brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
</tr>
<tr>
	#formPasswordCell ("$brih_pwd" "PASSWD" "")
</tr>
<tr bgcolor="$ui.menuColor">
	#formCell(" $brih_first  $brih_name " "FNAME" "")
</tr>
<tr>
	#formCell(" $brih_last $brih_name " "LNAME" "")
</tr>
#*<tr bgcolor="$ui.menuColor">
	#formCell(" $online_organisation " "ORGTN " "")
</tr>*#	
<tr bgcolor="$ui.menuColor">
	<td>$brih_sel_Role <font color="Red">*</font></td>
        <td>
		<select id="role_id" name="role" size=1 class="drop" onChange="ChangeGroup(document.frm,this);"/>
			<option value="student">$brih_student</option>
		</select>
	</td>
</tr>
<tr>
	<td>$brih_program($brih_if $brih_student)</td>
        <td colspan=3>
		<select name="prg" size=1 onChange="ChkPrg(document.frm,this);" class="drop" />
			<option value="Select Program"> #if($lang=="hindi") $brih_program $brih_select #else $brih_select $brih_program #end</option>
		#foreach($progname in $PrgDetail)
			<option value="$progname.getPrgCode()">$progname.getPrgName() </option>
		#end
                </select>
	</td>
</tr>           
<tr bgcolor="$ui.menuColor">
	<td>$brih_rollno($brih_if $brih_student)</td>
        <td><input type="text" name="rollno" value="" disabled="true"/></td>
</tr>
<tr>
	<td colspan=3>
		<input type="hidden" name="actionName">
        	<input type="hidden" name="groupName" value="$name.getName()">
    		<input type="hidden" name="group_author">
    		<input type="hidden" name="role_author">
    		<input type="button" class="button-ftextstyle" name="eventSubmit_UserRegister" value="$brih_reg1" onClick="checkField(document.frm,this);"/> 
		<input type="Reset" name="Reset" class="button-ftextstyle" Value="$brih_clear" onClick="clearField(document.frm,this);"/>
		<input type="submit" name="eventSubmit_doSearch" value="$brih_search" id="btnSearch" style="visibility: hidden"/>
		<input type="hidden" name="count" value="$tdcolor"/>
		<input type="hidden" name="status" value="$status"/>
		<input type="hidden" name="val"/>
		##following mode added by Priyanka
		<input type="hidden" name="mode" value="cnfrm_u"/>
	</td>
</tr>
#end

##////////////Course Registration///////////

#if($status == "CourseRegistration")	
<tr>
	<td>$brih_select $RemoteInstitute $brih_name <font color=RED>*</font></td>
	<td>
	        <select class="drop" name="instName" size="1" onChange="checkOption(document.frm,this);" style="width:300px;" />
                #if($Insname=="")
        	        <option> #if($lang == "hindi") $brih_Institute $brih_select #else  $brih_select $RemoteInstitute #end </option>
                #else
      	        	<option>$Insname</option>
                	<option> #if($lang == "hindi") $brih_Institute $brih_select #else  $brih_select $RemoteInstitute #end </option>
                #end
                #foreach($name in $instList)
                	<option value="$name.getInstituteName()" title="$name.getInstituteName()" style="width:275px;">$name.getInstituteName() </option>
                #end
                </select>
	</td>
</tr>
<tr bgcolor="$ui.menuColor">
        ##formCell(" $brih_course $brih_ID <font color=red>*</font>" "COURSEID" "")
	<td> $brih_course #if($lang =="hindi") $brih_Of1 #end $brih_ID <font color=red>*</font> </td>
	<td>  <input type="text" name="COURSEID" value=""> </td>
</tr>
<tr>
	##formCell("$brih_course $brih_name <font color=red>*</font>" "CNAME" "")
	<td> $brih_course #if($lang =="hindi") $brih_Of1 #end $brih_name <font color=red>*</font> </td>
	<td> <input type="text" name="CNAME" value=""> </td> 
</tr>
<tr bgcolor="$ui.menuColor">
	<td> $brih_schce </td>
        <td>
        	<select class="drop" name="SCHNAME" size=1 style="width:300px;" />
                	<option value="" title="$brih_select $brih_sch">$brih_select $brih_sch</option>
                #foreach($name in $schlist)
                	<option value="$!name.getName()" title="$!name.getName()" style="width:275px;">$!name.getName()</option>
                #end
                </select>
	</td>
</tr>
<tr>
	<td> $brih_dept</td>
        <td>
        	<select class="drop" name="DEPT" size=1 style="width:300px;" />
                	<option value="" title="$brih_select $brih_dept">$brih_select $brih_dept </option>
                #foreach($name in $deptlist)
                	<option value="$!name.getName()" title="$!name.getName()" style="width:275px;">$!name.getName()</option>
                #end
                </select>
	</td>
</tr>
<tr bgcolor="$ui.menuColor">
	#formCell(" $brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
</tr>
<tr>
	#formPasswordCell(" $brih_pwd " "PASS" "")
</tr>
<tr bgcolor="$ui.menuColor">
	#formCell(" $brih_first  $brih_name " "FNAME" "")
</tr>
<tr>
	#formCell(" $brih_last $brih_name " "LNAME" "")
</tr>	
#*<tr bgcolor="$ui.menuColor">
	#formCell(" $online_organisation " "ORGTN" "")
</tr>*#
<tr bgcolor="$ui.menuColor">
	<td colspan=3>
    		<input type="hidden" name="actionName">
    		<input type="button" class="button-ftextstyle" name="eventSubmit_CourseRegister" value=" $brih_submit " onClick="checkCourseName(document.frm,this);"/>
    		<input type="reset" name="Clear" value=" $brih_clear" class="button-ftextstyle" onClick="checkClear(document.frm,this);"/>
		<input type="submit" name="eventSubmit_doSearch" value="Search" id="btnSearch" style="visibility: hidden"/>
                <input type="hidden" name="count" value="$tdcolor">
                <input type="hidden" name="status" value="$status">
		<input type="hidden" name="val"/>
		##following mode added by Priyanka
		<input type="hidden" name="mode" value="cnfrm_c"/>
	</td>
</tr>
#end
</form>
</table>
</td>
</tr>
</table>
</body>
<SCRIPT LANGUAGE="javascript">
	function ChangeRole(frm,field)
	{
		if(frm.group.value=="author")
		{
		       frm.role.value="author";
		       frm.role_author.value=frm.role.value;
		       makeDisable();
		}
		else
		{
		       if(frm.role.value=="author")
		       {
		       frm.role.value="";
		       }
		       makeEnable();
		}
	}
	function ChangeGroup(frm,field)
        {
		if(frm.role.value=="author")
		{
		       frm.group.value="author";
		       frm.group_author.value=frm.group.value;
		       makeDisable_group();
		}
		else
		{
		       if(frm.group.value=="author")
		       {
		       frm.group.value="";
		       }
			frm.tmp.value = frm.role.value;
		       makeEnable_group();
		}
	}
	function checkOption (frm,field)
        {
                frm.val.value=document.frm.instName.value;
		document.getElementById('btnSearch').click();
        }


</SCRIPT>
