#*
 * @(#)OnlineRegistration.vm 
 * Copyright (c) 2008,2009,2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a> 
 * @author <a href="mailto:omprakash_kgp@yahoo.co.in">Om Prakash</a> 	
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modify 20-03-2009
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>20092010 	
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @modidied date: 20-10-2010, 23-12-2010 	
 *#

$page.setTitle("Login Page | Online Registration ")
<table bgcolor="$ui.tableColor" width=100%>
#set($lang = $data.getUser().getTemp().toString())
<tr bgcolor="$ui.menuColor"><td colspan=3>
<a href=$link.setPage("BrihaspatiLogin.vm") style=text-decoration:none> $brih_login $WikiPage </a>| $online_online $brih_reg   
</td></tr>
##</table>
<form name=frm method="post" action="$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).setAction("OnlineRegistration")">
##<table align="left" bgcolor="$ui.tableColor" width=100%>
##</table>
$!data.getMessage()
##<table align=left bgcolor="$ui.tableColor" width="100%">
<tr>
#if($tdcolor != "1")
<td>
#elseif($tdcolor == "1")
<td bgcolor="#AFDCEC">
#end
<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","UserResitration").addPathInfo("count","1") style=text-decoration:none> $brih_student #if($lang =="hindi") $brih_Of1 #end $brih_reg </a>
</td>
#if($tdcolor != "2")
<td>
#elseif($tdcolor == "2")
<td bgcolor="#AFDCEC">
#end
<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang",$lang).addPathInfo("status","CourseRegistration").addPathInfo("count","2") style=text-decoration:none> $brih_Instructor ($brih_course) #if($lang =="hindi") $brih_Of1 #end $brih_reg </a>
</td>
<td align=right><img src="$content.getURI("/images/hand.gif")">
<a href=javascript:popupWin("/brihaspati2/docs/OnlineRegistration.html","newWin");>$brih_help</a>
	</td>
</tr>
##</table>
##<table align=center bgcolor="$ui.tableColor" border=2 cellpadding="5">
	#if($status == "UserResitration")
      	#*<tr>
	    <td colspan=2 face="$ui.sansSerifFonts" align=left>
        	<b>$brih_usr #if($lang =="hindi") $brih_Of1 #end $brih_reg </b>
	</td>
        </tr>*#
	  <tr>
	  <td> #if($lang =="hindi") $RemoteInstitute $brih_name $brih_select #else $brih_select $RemoteInstitute $brih_name #end <font color=RED>*</font></td>
	<td>
    	##<select id="inst_id" name="instname" size=1 onChange="ChangeRole(document.frm,this);"/>
    	<select name="instName" size=1 onChange="checkOption(document.frm,this);"/>
	  <option> #if($lang == "hindi") $brih_Institute $brih_select #else  $brih_select $RemoteInstitute #end </option>
	  #foreach($name in $instList)
	  <option value="$name.getInstituteName()">$name.getInstituteName() </option>
	  #end
	  </select>
	  <input type="submit" name="eventSubmit_doSearch" value="$brih_search"/>
		<select id="group_id" name="group" size=1 onChange="ChangeRole(document.frm,this);"/>
	  	##<option></option>
		#set($counter=1)
		#foreach($crsname in $courseList)
		#set($counter1=1)
		#foreach($instrctrname in $instructorList)
		#if($counter==$counter1)
		<option value="$crsname.getGroupName()">$crsname.getCourseName()-$instrctrname</option>
		#end	
		#set($counter1=$counter1+1)
		#end
		#set($counter=$counter+1)
		#end
		</select>
	  </td>
	  </tr>
        <tr>
	  	#formCell(" $brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
        </tr>
        <tr>
        	#formPasswordCell ("$brih_pwd" "PASSWD" "")
        </tr>
	<tr>
		#formCell(" $brih_first  $brih_name " "FNAME" "")
	</tr>
	<tr>
		#formCell(" $brih_last $brih_name " "LNAME" "")
	</tr>
	<tr>
		#formCell(" $online_organisation " "ORGTN " "")
	</tr>	
	<tr><td>$brih_sel_Role <font color="Red">*</font></td>
        <td><select id="role_id" name="role" size=1 onChange="ChangeGroup(document.frm,this);"/>
	<option>
		<option value="student">$brih_student
	</option>
	</select>
	</td>
	</tr>
	<tr>
                #formCell("$brih_rollno($brih_if $brih_student) <font color=red>*</font>" "rollno" "")
        </tr>
	<tr>
                <td>$brih_program($brih_if $brih_student) <font color=red>*</font></td>
                <td colspan=3><select name="prg" size=1 onChange="checkOption1(document.frm,this);"/>
                        <option>$brih_select $brih_program </option>
                        #foreach($progname in $prgList)
                        	<option value="$progname.getProgramCode()">$progname.getProgramName() </option>
                        #end
                        </select></td>
         </tr>           
	<tr bgcolor="$ui.menuColor">
	<td colspan=3>
	<input type="hidden" name="actionName">
        <input type="hidden" name="groupName" value="$name.getName()">
    	<input type="hidden" name="group_author">
    	<input type="hidden" name="role_author">
    	<input type="button" name="eventSubmit_UserRegister" value="$brih_reg1" onClick="checkField(document.frm,this);"/> 
	<input type="Reset" name="Reset" Value="$brih_clear"/>
	<input type="hidden" name="count" value="$tdcolor"/>
	<input type="hidden" name="status" value="$status"/>
	</td>
	</tr>
       
	#end
	<br>

##////////////Course Registration///////////

	#if($status == "CourseRegistration")	
	<tr>
	<td>$brih_select $RemoteInstitute $brih_name <font color=RED>*</font></td>
	<td>
    	<select name="instName">
	#foreach($name in $instList)
	<option value="$name.getInstituteName()">$name.getInstituteName() </option>
	#end
	</select>
	</td>
        </tr>
        <tr>
            ##formCell(" $brih_course $brih_ID <font color=red>*</font>" "COURSEID" "")
	<td> $brih_course #if($lang =="hindi") $brih_Of1 #end $brih_ID <font color=red>*</font> </td>
	<td>  <input type="text" name="COURSEID" value=""> </td>
        </tr>
        <tr>
            ##formCell("$brih_course $brih_name <font color=red>*</font>" "CNAME" "")
		<td> $brih_course #if($lang =="hindi") $brih_Of1 #end $brih_name <font color=red>*</font> </td>
		<td> <input type="text" name="CNAME" value=""> </td> 
        </tr>
        <tr>
            #formCell(" $brih_dept " "DEPT" "")
        </tr>
 
        <tr>
            #formCell(" $brih_email $brih_ID <font color=red>*</font>" "EMAIL" "")
        </tr>
        <tr>
            #formPasswordCell(" $brih_pwd " "PASS" "")
        </tr>
        <tr>
	
           #formCell(" $brih_first  $brih_name " "FNAME" "")
	</tr>
	<tr>
           #formCell(" $brih_last $brih_name " "LNAME" "")
	</tr>	
	<tr>
	   #formCell(" $online_organisation " "ORGTN" "")
	</tr>
        <tr bgcolor="$ui.menuColor">
            <td colspan=3>
    		<input type="hidden" name="actionName">
    		<input type="button" name="eventSubmit_CourseRegister" value=" $brih_submit " onClick="checkCourseName(document.frm,this);"/>
       		 &nbsp;&nbsp;&nbsp;
    		<input type="reset" name="Clear" value=" $brih_clear " onClick="checkClear(document.frm,this);"/>
                <input type="hidden" name="count" value="$tdcolor">
                <input type="hidden" name="status" value="$status">
       	    </td>
        </tr>
		
	#end
</table>

##  </div>
</form>
</body>


<SCRIPT LANGUAGE="javascript">
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }
	
	function checkField(frm,field)
	{
		if((frm.EMAIL.value!="")&&(frm.group.value!="")&&(frm.role.value!=""))
		{
			var emailID=document.frm.EMAIL;
			if (echeck(emailID.value)==false){
	                emailID.value="";
			emailID.focus();
			return; 
			}
			if(frm.role.value == "student")
                                {
					if(frm.rollno.value=="")
		                        {
                		                if(frm.prg.value=="Select Program")
                                		{
		                                        frm.actionName.value=field.name;
		                                        frm.submit();
	                	                }
	        	                        else
	                        	        {
	                                	        alert("Please fill the Roll No Field!!");
	                                	}
		                        }
                        		else if(frm.rollno.value!="")
		                        {
		                                if(frm.prg.value!="Select Program")
		                                {
		                                        frm.actionName.value=field.name;
		                                        frm.submit();
		                                }
                		                else
		                                {
		                                        alert("Please fill the Program Field!!");
		                                }
                	        	}
				}

			else
			{
				frm.actionName.value=field.name;
				frm.submit();
			}
		}
		else
		{
		        alert("Please fill all the Mandatory(*) Fields !");
			
		}
	}
function echeck(str) {



                var at="@"

                var dot="."

                var lat=str.indexOf(at)

                var lstr=str.length

                var ldot=str.indexOf(dot)

                if (str.indexOf(at)==-1){

                   alert("Invalid E-mail ID")

                   return false;

                }

                if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){

                   alert("Invalid E-mail ID")

                   return false;

                }

                if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){

                    alert("Invalid E-mail ID")

                    return false

                }

                 if (str.indexOf(at,(lat+1))!=-1){

                    alert("Invalid E-mail ID")

                    return false

                 }
		if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){

                    alert("Invalid E-mail ID")

                    return false

                 }

                 if (str.indexOf(dot,(lat+2))==-1){

                    alert("Invalid E-mail ID")

                    return false

                 }

                 if (str.indexOf(" ")!=-1){

                    alert("Invalid E-mail ID")

                    return false

                 }

                 return true
        }


	function ChangeRole(frm,field)
	{
		if(frm.group.value=="author")
		{
		       frm.role.value="author";
		       frm.role_author.value=frm.role.value;
		       makeDisable();
		}
		else
		{
		       if(frm.role.value=="author")
		       {
		       frm.role.value="";
		       }
		       makeEnable();
		}
	}
	function ChangeGroup(frm,field)
        {
		if(frm.role.value=="author")
		{
		       frm.group.value="author";
		       frm.group_author.value=frm.group.value;
		       makeDisable_group();
		}
		else
		{
		       if(frm.group.value=="author")
		       {
		       frm.group.value="";
		       }
			frm.tmp.value = frm.role.value;
		       makeEnable_group();
		}
	}

        function checkCourseName(frm,field)
        {
                if((frm.COURSEID.value!="")&&(frm.CNAME.value!="")&&(frm.EMAIL.value!=""))
                {
			var emailID=document.frm.EMAIL;
                        if (echeck(emailID.value)==false){
	                        emailID.value=""
        	                emailID.focus()
				return;
                        }
                        else
                        	frm.actionName.value=field.name;
			frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Text Fields........");
                }
        }
        function checkClear(frm,field)
        {
                frm.COURSEID.value="";
                frm.CNAME.value="";
                frm.UNAME.value="";
                frm.EMAIL.value="";
        }
	function checkOption (frm,field)
        {
                frm.val.value=document.frm.instName.value;
        }


</SCRIPT>
