#*
 * @(#) ParentChildList.vm
 * Copyright (c) 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
#set($lang = $data.getUser().getTemp("lang" ).toString())
$page.setTitle("ParentChildList")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<table  bgcolor="$ui.tableColor" width=100%>
        <tr bgcolor="$ui.menuColor">
                <td><b> $brih_listOf $brih_child</b></td>
                <td colspan=2><b> $brih_listCourse / $brih_instructorName</b></td>
        </tr>
        <tr>
		#foreach($lst in $childDetail)
		#set($i=1)
	                #if($velocityCount%2 == 0)
	                	<tr bgcolor="$ui.menuColor">
				#set($bgColor="$ui.menuColor")
                        #else                                   
                                <tr bgcolor="$ui.tableColor">
                        #end
                        	<td><a href=$link.setPage("call,ParentChildList.vm").addPathInfo("lang","english") style=text-decoration:none>$lst.StudntId</a></td>
				#foreach($tmp in $lst.Crs_InstName)
					#set($str = $tmp.indexOf("/"))
					#set($CrsId = $tmp.substring(0,$str))
	                                #if($i==1)
	                                	<td>$tmp</td>
						<td><a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","marks")","newWin"); style=text-decoration:none>$brih_marks</a>&nbsp;&nbsp;&nbsp;
                                                <a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","assign")","newWin"); style=text-decoration:none>$brih_assignment</a>&nbsp;&nbsp;&nbsp;
                                                <a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","quiz")","newWin"); style=text-decoration:none>$brih_quiz</a>&nbsp;&nbsp;&nbsp;
                                                <a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","msg")","newWin"); style=text-decoration:none>$LocalMail_MailContent_msg1</a>
                                                </td></tr>
                                        #else
                                        	#if($bgColor=="$ui.menuColor")
	                                                <tr bgcolor="$ui.menuColor">
                                                #else
                                                        <tr>
                                                #end
                                                <td></td>
                                                <td>$tmp</tmp>
						<td><a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","marks")","newWin"); style=text-decoration:none>$brih_marks</a>&nbsp;&nbsp;&nbsp;
                                                <a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","assign")","newWin"); style=text-decoration:none>$brih_assignment</a>&nbsp;&nbsp;&nbsp;
                                                <a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","quiz")","newWin"); style=text-decoration:none>$brih_quiz</a>&nbsp;&nbsp;&nbsp;
                                                <a href=javascript:popupWin("$link.setPage("call,StudentInfo.vm").addPathInfo("semail",$lst.StudntId).addPathInfo("courseId",$CrsId).addPathInfo("mode","msg")","newWin"); style=text-decoration:none>$LocalMail_MailContent_msg1</a>
                                                        </td></tr>
                                                #end
                                                #set($i=$i+1)
                                        #end
				#end
</table>
<script language="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=yes,height=400,width=400,align=center");
        }
</script>

