#*
 * @(#) StudentInfo.vm
 * Copyright (c) 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href=" mailto:richa.tandon1@gmail.com "> Richa Tandon </a>
*#
<head>
<link rel="stylesheet" href="$content.getURI("/scrpts/htmlarea.css")" type="text/css">
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script>
</head>
<body onload="initEditor()" bgcolor="$ui.tableColor">
<div class="bgd" style="height:1000px;background:$ui.tableColor">
<center>
#if($mode=="marks")
<table align="center" bgcolor="$ui.tableColor" cellpadding="0">
        #if($marksDSize != 0) 
                <tr>
                <td>
                <b><u>$brih_marks in $course</u><b><br>
                </td>
                </tr>
                <tr>
                <table align="left" cellpadding="0" cellspacing="1" align="center">
                #set($count=0)
                #foreach($headings in $markHeading)
                        #set($count=$count+1)
                        <tr height="25px"><td align="center">
                        #set($ct=0)
                        #foreach($ali in $alias)
                                #set($ct=$ct+1)
                                #if($ct==$count)
                                        #if($ct!=1)</br></br>
                                        #end
                                        <a style="font-weight:bold; background:$ui.headerColor;"><b>$brih_alias $brih_name: $ali</b></a>
                                #end
                        #end
                        </td></tr>
                        <div>
                        <tr>
                        #foreach($heading in $headings)
                                <th bgcolor="$ui.menuColor">&nbsp;&nbsp;$heading&nbsp;&nbsp;</th>
                        #end
                        </tr>
                        #set($counter=0)
                        #foreach($marks in $markDetail)
                                #set($counter=$counter+1)
                                #if($counter==$count)
                                        <tr>
                                        #foreach($mark in $marks)
                                                <td align="center" bgcolor="$ui.tableColor">$mark</td>
                                        #end
                                        </tr>
                                #end
                        #end
                        </div>
                #end
                </table>
                </tr>
	#else
                <td colspan=3> Marks have not been Uploaded yet.</td>
        #end
#elseif($mode=="assign")
<Form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,StudentInfo.vm").setAction("Assignments")>
#if($Assignmentlist.size()>0)
	<table align="center">
		<tr bgcolor="$ui.menuColor">
                <td align="center"> <b> $brih_assignment  #if($lang == "hindi")  #end $brih_name</b> </td>
                <td align="center">  <b> $brih_assignment  #if($lang == "hindi")  #end $brih_file  </b> </td>
                #if($anscheck == "ok")
                <td align="center">  <b> $brih_answer  #if($lang == "hindi") of #end $brih_file  </b> </td>
                #end
                #if($studentfilecheck == "ok")
                <td align="center">  <b> #if($lang == "hindi") $brih_answer   #else $View_brih $brih_answer #end </b> </td>
                #end
                #if($datecheck == "ok")
                <td align="center">  <b> $DisBoard_DB_msg25 #if($lang == "hindi") of #end $brih_Da </b> </td>
                #end
                <td  align="Center"> <b> $brih_assignment #if($lang == "hindi") of #end $brih_Da  </b> </td>
                <td  align="Center"> <b> $brih_max $brih_marks </b> </td>
                #if($gradecheck == "ok")
                <td align="center">  <b>$brih_marks  </b> </td>
                <td align="center">  <b> $brih_feedback  </b> </td>
                #end
		</tr>

	        #foreach($e in $Assignmentlist)
        		#if($velocityCount%2==0)
		        	<tr bgcolor="$ui.menuColor">
        		#else
	        		<tr bgcolor="$ui.tableColor">
		        #end
                	<td width="10%" align="Center"> $!e.getTopic()  </td>  
	                <td width="10%" align="center">   ##  Assignment file
                        <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("course_id",$courseid).addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$e.getAssignmentId()).addPathInfo("filename",$e.getAssignmentfile())","newWin");>$brih_assignment </a>
        	        </td>
                	#if($anscheck == "ok")
	                <td width="10%" align="center"> ## Answer file
        	                #if($!e.getanswerfile() != "")
                	                <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("course_id",$courseid).addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$e.getAssignmentId()).addPathInfo("filename",$e.getanswerfile())","newWin");>$brih_answer </a>
                        	#end
                	</td>
                	#end
	                #if($studentfilecheck == "ok")
        		        <td width="10%" align="center"> ##Student file
                        	#if($!e.getStudentfile() != "")
                              		<a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("course_id",$courseid).addPathInfo("view","content").addPathInfo("type","Assignment").addPathInfo("msgid",$e.getAssignmentId()).addPathInfo("filename",$e.getStudentfile())","newWin");>$View_brih</a>
                        	#end
                		</td>
                	#end
                	#if($datecheck == "ok")
                		<td width="20%" align="Center">
                        		#if( $!e.getDuedate() != "" )
			                        $!e.getDuedate()  ##postdate
                        		#end
                		</td>
                	#end
                	<td width="10%" align="Center"> $!e.getAssignmentDuedate() </td>  ## Duedate
                	<td width="10%" align="Center"> $!e.getmaxgrade() </td> ## max grade
                	#if($gradecheck == "ok")
                        	<td width="10%" align="Center">
	                        #if($!e.getgrade() != "")
        	                        $!e.getgrade()  ## given grade
                	        #end
                        	</td>
                        	<td width="10%" align="Center">
	                        #if($!e.getgrade() != "")
        	                        $!e.getfeedback()
                	        #end
                        	</td>
                	#end
        	</tr>
        	#end
	</table>
	#else
	        $assignMsg
	#end
</Form>
#elseif($mode=="msg")
	<Form name=frm method="post" enctype="multipart/form-data"  action="$link.setAction("ParentRegistration").setPage("call,StudentInfo.vm").addPathInfo("mode","msg").addPathInfo("semail",$student)">
	<table align="center" width=50% bgcolor="$ui.tableColor">
        <tr>
                <td>To</td>
                <td><input type="text" name="msg" value="$!CrsInstremail" readonly></td>
        </tr>
        <tr bgcolor="$ui.menuColor">
		<td>Subject</td>
		<td><input type="text" name="subject"></td>
	</tr>
	<tr>
                <td>$brih_msg2 </td>
                <td>
                        <textarea id="ta" name="msg_val" rows=14 cols=120></textarea>
                </td>
        </tr>
        <tr bgcolor="$ui.menuColor">
                <td align="left" colspan=2>
                <font face="$ui.sansserifFonts">
                  <input type="button" class="button-ftextstyle" name="eventSubmit_doSendMsg" value="$Notice_Send"  onClick="checkValue(document.frm,this);"/>
		  <input type="hidden" name="actionName">
                  <input type="hidden" name="courseId" value="$course">
		  <input type="hidden" name="courseInstrmail" value="$CrsInstremail">	
                </td>
        </tr>
        </table>
	</form>
#elseif($mode=="quiz")
	#if($quizAnnounceMsg!="")
	        $quizAnnounceMsg
	#else
		<table align="left">
                	<tr bgcolor="$ui.menuColor">
	                <td align="center"> <b> $brih_quiz $brih_name</b> </td>
        	        <td align="center">  <b> $brih_attempt $brih_quiz  </b> </td>
                	<td align="center">  <b> $DisBoard_DB_msg25 $brih_Da </b> </td>
			<td  align="center"> <b> $brih_evaluation </b> </td>
	                <td  align="Center"> <b> $brih_max $brih_marks </b> </td>
        	        <td align="center">  <b> $brih_marks $brih_obtained</b> </td>
                	</tr>
			#foreach($qid in $quizList)
				 #if($velocityCount%2==0)
				 	<tr bgcolor="$ui.menuColor">
				#else
					<tr bgcolor="$ui.tableColor">
				#end
					<td width="10%" align="Center"> $qid.QuizName </td>
					#if($qid.QuizMode.equals("Yes"))
		                                <td width="10%" align="Center"> $qid.QuizMode </td>
        		                        <td width="10%" align="Center"> $qid.ExamDate </td>
                		                <td width="10%" align="Center"> $qid.Evaluate </td>
                        		        <td width="10%" align="Center"> $qid.MaxMarks </td>
						#if($qid.Evaluate!="Quiz is not Evaluated Yet")
							<td width="10%" align="Center"> $qid.Score </td>
						#else	
							<td width="10%" align="Center"> 0 </td>
						#end
					#else
						<td width="10%" align="Center"> $qid.QuizStatus </td>
                                                <td width="10%" align="Center"> $qid.ExamDate </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
					#end
        	        #end
 	#end
#end
</center>
</div>
</body>

<script language="javascript">
	function popupWin(url,popupName)
        {
                var w=450;
                var h=450;
                var left = (screen.width/2)-(w/2);
                var top = (screen.height/2)-(h/2);
                Win2 = window.open (url,popupName, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
                //Win1=window.open(url,popupName,"height=200,width=400,scrollbars=no");
        }
	function checkValue(frm,field)
        {
		editor.setMode("textmode");
                frm.actionName.value=field.name;
                frm.submit();
		editor.setMode("wysiwyg");
        }

</script>

