#*
 * @(#)ViewInstituteList.vm
 *  Copyright (c) 2010 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kumar Singh</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>21102010
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
 * @author <a href="mailto:rpriyanka12@ymail.com">Priyanka Rawat</a>
 * @modification date : 10-12-2012, 15-01-2013 (Priyanka) 
 *#

$page.setTitle("Registered Institute List")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/big-link.css")" media="screen"/>
<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery-1.6.min.js")"></script>
<script type="text/javascript"  src="$content.getURI("/scrpts/jquery/jquery.reveal.js")"></script>
<script type="text/javascript"  src="$content.getURI("/scrpts/jquery/ViewInstituteList.js")"></script>
</head>

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	##<td width="250">
	<td width=30%>
	<font face="$ui.sansSerifFonts" size=3>
	<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang) style=text-decoration:none>$brih_login $WikiPage</a> |
	$brih_reg2 $RemoteInstitute
	</font>
	</td>
	##<td width="180">
	<td width=20%>
		$brih_total $RemoteInstitute [$institutenum] 
	</td>
	##<td width="280">
	<td width=20%>
		<b><font color="red">* </font>$brih_adnotexist</b>
	</td>
	##<td width="300">
	<td>
		<b>$brih_admin $brih_email : $!adminemail</b>
	</td>
</tr>
</table>
<form name="frm" method="post" action="$link.setPage("ViewInstituteList.vm")">
<table width=100% align=left bgcolor="$ui.tableColor">
        <tr>
	<td width=30%><b>$brih_searchBy</b>&nbsp;&nbsp;
	##</td>
                ##<td align=left>
                        <select name="queryList" class="drop">
				#if($query!="")
				##<option value="$query">$query</option>
                                <option value="InstituteName"> $RemoteInstitute $brih_name</option>
                                <option value="InstituteAddress"> $RemoteInstitute  $brih_address</option>
				#else
				<option value="InstituteName"> $RemoteInstitute $brih_name</option>
                                <option value="InstituteAddress"> $RemoteInstitute  $brih_address</option>
				#end
                        </select>
                </td>
                <td align=left><b>$brih_match_str</b>&nbsp;&nbsp;
		##</td>
                ##<td align=left>
			#if($valueString=="")
                        <input align=center type="text" name="valueString" value="">
			#else
                        <input align=center type="text" name="valueString" value="$valueString">
			#end
                ##</td>
                ##<td>
                &nbsp;&nbsp;
                        <input type="button" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);" class="button-ftextstyle">
                        <input type="hidden" name="mode" value="$brih_search">
                        <input type="hidden" name="count" value="$tdcolor">
              </td>
	</tr>
</table>

</form>
#set($headings = ["$RemoteInstitute $brih_name","$RemoteInstitute $RemoteAddress","$brih_ad $brih_name"] )
<table align="left" bgcolor="$ui.menuColor" width=100%>
<tr>
	##<td><b>$brih_reg2 $RemoteInstitute</b></font></td>
	<td width=30%><a href="#" class="big-link" data-reveal-id="myModal" data-animation="fade" style="text-decoration:none" title="Send Email to Institute Admin"><img align="left" border=0 src="$content.getURI("/images/ml.gif")">&nbsp;<b> #if($lang=="hindi" || $lang=="marathi")$RemoteInstitute $brih_admin $brih_email $brih_to $Notice_Send #else $Notice_Send $brih_email $brih_to $RemoteInstitute $brih_admin #end</b></a>
                        <input type="hidden" class="big-link" data-reveal-id="myModal" data-animation="fade" style="text-decoration:none">
                        <div id="myModal" class="reveal-modal" >
                                <div class="frameBorderless p10">
                                <form name="send_mail" method="post" action="$link.setPage("ViewInstituteList.vm").setAction("InstituteAdminMail")" onsubmit="return validateForm(this)">
                                        ##<h2 class="underline mb10">Send e-mail to Institute Admin</h2>
					<label class="mt10"><font color="red">* </font><b>$Remotemandatory</b></label><br><br>
                                        <div><label class="mt10">$LocalMail_MailTestMessage_To:</label><div>
                                        <div><select name="inst" style="width: 150px;"><option value="Select Institute"> #if ($lang=="hindi")$brih_Institute $brih_Of3 $brih_sel_the #else $brih_select $RemoteInstitute #end</option>
                                        #foreach($iid in $iidvector1)
                                        <option value="$iid.getInstituteName()~??~$!iid.getInstituteEmail()">$iid.getInstituteName()</option>
                                        #end
					</select>
                                        </div>
                                        <div><label class="mt10">$brih_from:</label></div>
                                        <div><input class="w99p mt10 h75 text" type="text" name="from" value=""</div>
                                        <div><label class="mt10">$Notice_Subject:</label></div>
                                        <div><input class="w99p mt10 h75 text" type="text" name="subject" value=""></div>
                                        <div><label class="mt10">$brih_msg2:</label></div>
                                        <div><textarea name="message" rows="10" cols="50" class="w99p mt10 h150 text"></textarea></div>
                                        <div class="right pt10">
                                        <button class="button w100"  type="submit"  title="Send">
                                                <span class="ico ico-confirm">$Notice_Send</span>
                                        </button>
                                        <button class="button w100"  type="button"  title="Cancel" onclick="self.parent.location.reload();"/>
                                                <span class="ico ico-cancel">$brih_cancel</span>
                                        </button>
                                        </div>
                                        <input type="hidden" name="lang" value=$lang>
                                        <input type="hidden" name="mode" value="store">

                                </form>
                                </div>
                        </div>
        </td>

</tr>
##</table>

##<table align="left" width=100% bgcolor="$ui.tableColor">
	<tr width=100% bgcolor="$ui.tableColor">
	#foreach ($heading in $headings)
		<td><b>$heading</b></td>
	#end
	</tr>
		#foreach($ent in $entry1)
				#if($velocityCount%2==0)
					<tr bgcolor="$ui.tableColor">
				#else
					<tr bgcolor="$ui.menuColor">
				#end
			<td>$ent.getInstituteName()</td>
			<td>$ent.getInstituteAddress() $ent.getInstituteCity()</td>
			##if($ent.getInstituteUserName()!="checkname")
			<td>$!ent.getInstituteFName() $!ent.getInstituteLName()
			##else
			##end
			#if($ent.getInstituteUserName()=="checkname")
			<a href=javascript:popupWin("$link.setPage("call,ViewANameList.vm").addPathInfo("instituteid",$ent.getID())","newWin") style=text-decoration:none>$brih_view $brih_name</a>
			#end
			#if($ent.getInstituteUserName()=="noAdminExist")
			<b><font color="red">*</b></font></td>
			#end
			##<td><a href=mailto:$!ent.getInstituteEmail() style=text-decoration:none>$!ent.getInstituteEmail()</a></td>
			#end
	</td>
	</tr>
	<tr><td colspan=3>	
	#if($total_size <= $userConf)
         	<img src="$content.getURI("images/First_blank.png")">
                <img src="$content.getURI("images/Previous_blank.png")">
                <img src="$content.getURI("images/Next_blank.png")">
                <img src="$content.getURI("images/Last_blank.png")">

        #elseif($startIndex == $userConf_string)

                <img src="$content.getURI("images/First_blank.png")">
                <img src="$content.getURI("images/Previous_blank.png")">
        <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$startIndex) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a>
     <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$check_last) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a>
        #elseif($endIndex == $total_size || $endIndex > $total_size)
  <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$check_first) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a>
     <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$check_pre) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a>
        <img src="$content.getURI("images/Next_blank.png")">
        <img src="$content.getURI("images/Last_blank.png")">

        #else
        <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$check_first) style=text-decoration:none><img src="$content.getURI("images/First.png")"></a>
        <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$check_pre) style=text-decoration:none><img src="$content.getURI("images/Previous.png")"></a>
        <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex) style=text-decoration:none><img src="$content.getURI("images/Next.png")"></a>
        <a href=$link.setPage("ViewInstituteList.vm").addPathInfo("startIndex",$check_last) style=text-decoration:none><img src="$content.getURI("images/Last.png")"></a>

	#end
	</td></tr>
</table>
</form>

<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=400");
        }
	function checkNull(frm,field){
		if(frm.valueString.value=="")
			alert("Value for field Match String should not be null");
		else
                        frm.submit();
        }

</SCRIPT>
