#*
 * @(#) Addmembers.vm
 *  Copyright (c) 2006-07,2009,2013 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 *  @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 *  @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 *  @author <a href="mailto:rekha20july@gmail.com">Rekha Devi Pal</a>
 *  @modified date:Feb 15- 2011,7-02-2013
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#

$page.setTitle("create group")
$page.setBgColor("$ui.bgcolor")

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.menuColor" width=100% > ##table 1 start

<table bgcolor="$ui.menuColor" width=100% > ##table 1 start
<tr align="right"> <td><b>
        #if($Status!="Edit")
                <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm")> $brih_mgmt $brih_grp </a>|
                $brih_member $brih_add</b>
        #else
                <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm")>$brih_mgmt $brih_grp </a>|
                <a href=$link.setPage("call,Group_Mgmt,Editgroup.vm")>$brih_grp $brih_Of1 $brih_edit</a> | $brih_member $brih_remove</b>
        #end
        | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$coursename </a>|
        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a>
     </td></tr>
</table> ##table 1 end

<table width=100% bgcolor="$ui.tableColor"> ##table 2 start
<tr align="right">
<td>
        #if($Status!="Edit")
        <a href=javascript:popupWin("/brihaspati/docs/add-viewmembers.html","newWin"); style="text-decoration:none">$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")">
        #else
        <a href=javascript:popupWin("/brihaspati/docs/edit-removemembers.html","newWin"); style="text-decoration:none">$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")">
        #end
        </td>

       #if($tdcolor != "5")
        <td>
        #elseif($tdcolor=="5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Group_Mgmt,Activitygroup.vm").addPathInfo("count","5") style="text-decoration:none">$brih_grp #if($lang == "hindi") $brih_Of #end $brih_activity</a></id>

       #if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("count","4")>Edit/Remove Member</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("count","4") style="text-decoration:none"> #if($lang == "hindi") $brih_member $brih_Of1 $brih_edit/$brih_remove #else $brih_edit/$brih_remove $brih_member #end </a></td>

     #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Grp_View_Delete.vm").addPathInfo("count","3")>View/Delete Group</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Grp_View_Delete.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang == "hindi") $brih_grp $brih_Of1 $brih_view/$brih_delete #else $brih_view/$brih_delete $brih_grp #end </a></td>

#if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("count","2")>Add/View Member</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang == "hindi") $brih_member $brih_add/$brih_view #else $brih_add/$brih_view $brih_member #end  </a></td>

       ##if($user_role == "instructor")
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1")>Create Group</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_grp $brih_Of1 $WikiCreate #else $WikiCreate $brih_grp #end</a></td>
</td>
        </tr>
</table> ## table 2 end
<form name="frm" method="post" action=$link.setPage("call,Group_Mgmt,Addmembers.vm").setAction("Groupmanagement")>
<table bgcolor="$ui.tableColor" width=100% >
	<tr bgcolor="$ui.menuColor" align="right"> <td> ## td tr of 7
		#if($Status!="Edit")
			<I><b><font size="3">$brih_students #if($lang == "hindi") $brih_Of #end $brih_infos :</font>$brih_grpmsg9</b></I><br>
			<img src="$content.getURI("/images/star.png")"> -- $brih_grpmsg10
		#else
			#if($actmode =="lead")
			<I><b><font size="3">$brih_students #if($lang == "hindi") $brih_Of #end $brih_infos :</font>$brih_grpmsg21</b></I><br>
			#else
			<I><b><font size="3">$brih_students #if($lang == "hindi") $brih_Of #end $brih_infos :</font>$brih_grpmsg11</b></I><br>
                 	<I><font size="3">$brih_grpmsg21</I><br>
			#end
		#end
	</tr></td>
                 <tr align="right"><td>
                #if($Mode == "NoBlank")
                <table bgcolor="$ui.tableColor" width="100%" > ## table 6 start
                        #if($Status != "Edit")
                                <tr align="right"><td colspan=2>
                                        <select name="groupname" size="1" class="drop" onChange="Changegroup(document.frm,this);"/>
                                                <option Value="Select Any Group"> $brih_select $brih_any $brih_grp </option>
                                                <option Value="All"> $brih_selAll $brih_grp </option>
                                                #foreach($grpname in $grplist)
                                                <option value="$grpname.Name">$grpname.Name
                                                #end
                                                </option>
                                        </select>
                                         #if($lang =="hindi" || $lang =="gujarati")
                                        <b>:$brih_grp $brih_select<font color="Red">*</font></b>
                                        #else
                                        <b>:$brih_select $brih_grp <font color="Red">*</font></b>
                                        #end

                                </td></tr>
                        #end
                                  #if($Status !="Edit" )
                                <td bgcolor="$ui.menuColor" valign="top" align="right">
                                <div style="height:330px;width:590px;overflow:auto">
                                <table width=100% bgcolor="$ui.menuColor" >

                                #if($nolist == "yeslist")
                                #if(($val == "") && ($modd=="All"))
                                        <td bgcolor="$ui.menuColor" align="center"><i><font color="blue" size=4><b>Please select any group for viewing the group members !!</font><i></td>
                                #else
                                        #if($lang =="hindi" || $lang =="gujarati")
                                        #set($headings=["","<font color=green>$val</font> $brih_grp $brih_Of2 $brih_selected $brih_student "])
                                        #else
                                        #set($headings=["","&nbsp; $brih_selected $brih_student $brih_Of1 <font color=green>$val</font> $brih_grp"])
                                        #end
                                        #foreach($headings in $headings)
                                                <font size="4"><I><b>$headings</b></I></font>
                                        #end
                                                #if($mode == "noempty")
                                                #foreach($selectedlist in $selectedlist)
                                                #if($velocityCount%2==0)
                                                <tr bgcolor="$ui.menuColor">
                                                #else
                                                <tr bgcolor="$ui.tableColor">
                                                #end
                                                <td> $selectedlist.UserName <font color="blue">[$!selectedlist.StudentFullName]</font></td>
                                                </tr>
                                                #end

                                                ###################### Show All Group List######################
                                                #elseif(($modd=="All")&&($val=="All")&&($allgrouplist.size()!=0))
                                                <th bgcolor="$ui.tableColor">$brih_grp $brih_name</th>
                                                <th bgcolor="$ui.tableColor">$brih_student $brih_name</th>
                                                        #foreach($allgrouplistt in $allgrouplist)

#if($velocityCount%2==0)
                                                        <tr bgcolor="$ui.tableColor">
                                                        #else
                                                        <tr bgcolor="$ui.menuColor">
                                                        #end
                                                        <td width="20%"> $!allgrouplistt.Name</td>
                                                        <td> $!allgrouplistt.UserName <font color="blue">[$!allgrouplistt.StudentFullName]</font></td>
                                                        </tr>
                                                        #end
                                                ################# END ######################

                                                #else
                                                <td align="center"><b><font color=blue><I><font size="4">$brih_grpmsg12</font></I></font></I></font></b></td>
                                                #end
                                #end
                                #end
                                </td>
                         </table>
                        </div>
                        #end


                                #if($nolist == "yeslist")
                                #if($Status!="Edit")
                                <td bgcolor="$ui.menuColor">
                                        #if($lang =="hindi" || $lang =="gujarati")
                                        #set($headings=["","&nbsp;&nbsp;$brih_student $brih_Of2 $brih_name"])
                                        #else
                                        #set($headings=["","&nbsp;&nbsp;$brih_student$brih_name"])
                                        #end
                                #else
                                <td>
                                        #if($lang =="hindi" || $lang =="gujarati")
                                        #set($headings=["","<font color=green>$grpname</font> $brih_grp $brih_Of2 $brih_selected $brih_student "])
                                        #else
                                        #set($headings=["","&nbsp;$brih_selected $brih_student $brih_Of <font color=green>$grpname</font> $brih_grp "])
                                        #end
                                #end
                                #end
                                #foreach($headings in $headings)
                                        <font size="4"><I><b>$headings</b></I></font>
                                #end
                                #if($Status == "Edit")
                                        <table width=100% bgcolor="$ui.tableColor">
                                                #if($mode == "noempty")
                                                ##<tr>
                                                <tr bgcolor="$ui.menuColor">
                                                #if($actmode =="lead")
                                                        <td> <b>
                                                        #if($lang == "hindi")
                                                                $brih_grpleader $brih_select:
                                                        #else
                                                                 $brih_select $brih_grpleader:
                                                        #end
                                                        </b> </td>
                                                        <td>
                                                        <select name="leadername" size="1" class="drop" onChange="Changeleader(document.frm,this);"/>
                                                        #if($lang == "hindi" || $lang == "gujarati")
                                                                <option>  -$brih_grpleader $brih_select:  - </option>
                                                        #else
                                                                <option>  - $brih_select $brih_grpleader- </option>
                                                        #end
                                                        #foreach($selectedlist1 in $selectedlist)
                                                        <option value="$selectedlist1.UserName">$selectedlist1.UserName
                                                        #end
                                                        </option>
                                                        </select>
                                                        </td>
                                                        #else
                                                        ##<td align="left" bgcolor="$ui.menuColor">
                                                        <td align="left">
                                                        <input type="CHECKBOX" name="checkAll" onClick="selectAll(this);">
                                                        <font face="$ui.sansSerifFonts"><b>$brih_selAll</b>
                                                        </td>
                                                        ##<td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        ##<b> $brih_grp $brih_member </b>
                                                        <td bgcolor="$ui.menuColor">
                                                        <b> $brih_grp #if($lang == "hindi") $brih_Of2 #end $brih_member</b>
                                                        </td>
                                                </tr>
                                                #set( $counts="")
                                                #foreach($selectedlist1 in $selectedlist)
                                                #if($velocityCount%2==0)
                                                <tr bgcolor="$ui.menuColor">
                                                #else
                                                <tr bgcolor="$ui.tableColor">
                                                #end
                                                <td> <input type="checkbox" name="$!selectedlist1.UserName" onClick="addstudentList(this,document.frm);"/></td>
                                                        #if($selectedlist1.UserName == $grpleader)
                                                        <td><font color="red">$!selectedlist1.UserName</font></td>
                                                        #else
                                                        <td>$!selectedlist1.UserName</td>
                                                        #end
                                                        </tr>
                                        #set( $counts = "$counts$!selectedlist1.UserName^" )
                                                #end
                                                #end
                                                #else
                                                <td align="center"><b><font color=blue><I><font size="4"><font size="4">$brih_grpmsg12</font></I></font></b></td>
                                                #end
                                        </table>
                                        #else
                                        #set ($counts="")
                                         <div style="height:330px;width:340px;overflow:auto">
                                                <table width=100% bgcolor="$ui.tableColor">
                                                        #foreach($studentnames in $studentlist)
                                                        #if($velocityCount%2==0)
                                                        <tr bgcolor="$ui.menuColor">
                                                        #else
                                                        <tr bgcolor="$ui.tableColor">

#end
                                                                <td><input type="checkbox"name="$!studentnames" onClick="addstudentList(this,document.frm);"/></td>
                                                                <td>$studentnames
                                                                #set( $conuter ="")
                                                                        #foreach($sellist in $list)
                                                                                #if($studentnames == $sellist)
                                                                                        <img src="$content.getURI("/images/star.png")"> </td>
                                                                                #end
                                                                        #end
                                                                #set($counter=$counter+1)
                                                        </tr>
                                        #set($counts=$counts+1)
                                                        #end
                                                </table>
                                        </div>
                                        #end
                        </td>
        ##        </table> ## table end 6
       ## </tr></td> ## end of tr td 7
        <tr bgcolor="$ui.tableColor" align="right"><td colspan=2>
                #if($Status =="Edit")
                        #if($actmode =="lead")
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doRemoveselectedstudent" value= #if($lang =="hindi" || $lang =="gujarati") "$brih_grpleader $brih_select" #else "$brih_select $brih_grpleader" #end onClick="checkfield(document.frm,this);"/>
                        #else
                        #if($lang == "hindi" || $lang =="gujarati")
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doRemoveselectedstudent" value="$brih_member $brih_remove" onClick="checkfield(document.frm,this);"/>
                        #else
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doRemoveselectedstudent" value="$brih_remove $brih_member" onClick="checkfield(document.frm,this);"/>
                        #end
                        #end
                #else
                        #if($lang == "hindi" || $lang =="gujarati")
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doAddSelected" value="$brih_member $brih_add: " onClick="checkselect(document.frm,this);"/>
                        #else
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doAddSelected" value="$brih_add $brih_member " onClick="checkselect(document.frm,this);"/>
                        #end
                        #if($lang =="hindi" || $lang =="gujarati")
                        <input type="hidden" name="modd" value="All">
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doViewmember" value="$brih_member $brih_Of1 $brih_view" onClick="checkselect1(document.frm,this);"/>
                        #else
                        <input type="hidden" name="modd" value="All">
                        <input type="button" class="button-ftextstyle" name="eventSubmit_doViewmember" value="$brih_view $brih_member" onClick="checkselect1(document.frm,this);"/>
                        #end
                #end
                        <input type="submit" class="button-ftextstyle" name="eventSubmit_doCancel" value="$brih_cancel:"/>
                                #else
                                <b><font color="blue"><i>$brih_grpmsg18.</i></font></b>
                                #end
        <input type="hidden" name="actionName" value="$actionName">
        <input type="hidden" name="grpdesc" value="$grpdesc" >
        <input type="hidden" name="type" value="$type" >
        <input type="hidden" name="val">
        <input type="hidden" name="grpname" value="$grpname" >
        <input type="hidden" name="grpleader" value="$grpleader" >
 <input type="hidden" name="stuno" value="$stuno" >
        <input type="hidden" name="grptype" value="$grptype" >
        <input type="hidden" name="date1" value="$date1" >
        <input type="hidden" name="sno" value="$sno" >
        <input type="hidden" name="date2" value="$date2" >
        <input type="hidden" name="StudentNames" value="">
        <input type="hidden" name="Status" value="$Status">
        <input type="hidden" name="actmode" value="$actmode">
        <input type="hidden" name="leadval">
        </tr></td>
        </table> ## table end 6
        </tr></td> ## end of tr td 7
</table>              
 
</form>
<SCRIPT LANGUAGE="javascript">
	function checkselect(frm,field)
	{
                var items;
                items=frm.StudentNames.value;
		var val1=document.frm.groupname.value; 
                if((items.length!=0)&&(val1.length!=0)&& (val1!="Select Any Group") &&(val1!="All"))
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
		else if((items.length!=0)&&((val1=="Select Any Group")||(val1=="All"))){
                        alert("Please Select any group  !!");
                }
                else{
                alert("Please Select check box and group  !!");
                }
	}
	function checkfield(frm,field)
	{
                var items;
                var items1;
                items=frm.StudentNames.value;
                items1=frm.leadval.value;
                if((items.length!=0)||(items1.length!=0))
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                else
                 	alert("Please Select check box/group !!");
	}
	function addstudentList(field,frm)
	{
		if(field.checked)
        	{
        		frm.StudentNames.value=frm.StudentNames.value+field.name+"^";
        	}
        	else
        	{
        		var rmFile,index,actualString,preString,postString;
                	actualString=frm.StudentNames.value;
                	index=actualString.indexOf(field.name+"^",0);
                	preString=actualString.substring(0,index);
                	postString=actualString.substring(index+field.name.length+1);
                	actualString=preString+postString;
                	frm.StudentNames.value=actualString;
        	}
	}
	function selectAll(field)
	{
        	if(field.checked)
        	{
                	var rmFile,index,actualString,pre=0,next=0;
                	actualString=document.frm.StudentNames.value="$counts";
                	while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                        	var temp=actualString.substring(next,pre);
                        	next=pre+1;
                        	rmFile=document.frm.elements[temp].checked=true;
                        }
        	}
        	else
        	{
                	var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.StudentNames.value="$counts";
                  	while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                        	var temp=actualString.substring(next,pre);
                        	next=pre+1;
                         	rmFile=document.frm.elements[temp].checked=false;
                        }
                        document.frm.StudentNames.value="";
           	}
	}
	function Changegroup(frm,field)
        {
                frm.val.value=document.frm.groupname.value;

	}
        function checkselect1(frm,field)
        {
                var val1=document.frm.groupname.value;
                if(val1.length!=0)
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                else
                        alert("Please Select group  !!");
        }
	function Changeleader(frm,field)
        {
                frm.leadval.value=document.frm.leadername.value;

        }

	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
     
</SCRIPT>
