#*
 * @(#) Editgroup.vm
 *  Copyright (c) 2006-07,2010-11,2013 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com ">Jaivir Singh</a>
 *  @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 *  @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 *  @author <a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 *  @author <a href="mailto:rekha20july@gmail.com">Rekha Devi Pal</a>
 * @modified date: 31-12-2009, 07-09-2010, 11-08-2011
 *  @modified date:jan 17- 2011
 *  @modified date:Feb 15- 2011, Feb 07-2013, April 22-2013
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#
<head>
## This Script usr for Fck Editor in textarea.
<script type="text/javascript">
        _editor_url = "$content.getURI("/scrpts/")";
        _editor_lang = "en";
</script>
<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<body onload="initEditor()">

$page.setTitle("create group")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.tableColor" width=100% > ##table 1 start

<tr align="right">
        <td>
                #if( $total_size!=0 )
                        #if( $endIndex < $total_size )
                                #if( $endIndex < $userConf )
                                        $total_size $brih_all [$k - $total_size]  $brih_inFrom
                                #elseif($k == $j)
                                        $total_size $brih_all [$k - $total_size]  $brih_inFrom
                                #else
                                        $total_size $brih_all [$k - $endIndex]  $brih_inFrom
                                #end
                        #else
                                $total_size $brih_all [$k - $total_size]  $brih_inFrom
                        #end
                #end
        </td>
        <td><b>
                <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm")> $brih_mgmt $brih_grp  </a> |
                $brih_grp $brih_Of $brih_edit</b>
                | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$coursename </a>|
                <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a>
        </b></td>
</tr>

</table> ##table 1 end
<table width=100% bgcolor="$ui.tableColor"> ##table 2 start
<tr bgcolor="$ui.menuColor" align="right">
                  <td>
                       <a href=javascript:popupWin("/brihaspati/docs/edit-removemembers.html","newWin") style="text-decoration:none">$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")"></td> 

      ##  <td><a href=javascript:popupWin("/brihaspati2/docs/edit-removemembers.html","newWin") style="text-decoration:none">$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")"></td>

       #if($tdcolor != "5")
        <td>
        #elseif($tdcolor=="5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Group_Mgmt,Activitygroup.vm").addPathInfo("count","5") style="text-decoration:none">$brih_grp #if($lang == "hindi") $brih_Of #end $brih_activity</a></id>

       #if($tdcolor != "4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("count","4")>Edit/Remove Member</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("count","4") style="text-decoration:none"> #if($lang == "hindi") $brih_member $brih_Of1 $brih_edit/$brih_remove #else $brih_edit/$brih_remove $brih_member #end </a></td>

     #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Grp_View_Delete.vm").addPathInfo("count","3")>View/Delete Group</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Grp_View_Delete.vm").addPathInfo("count","3") style="text-decoration:none"> #if($lang == "hindi") $brih_grp $brih_Of1 $brih_view/$brih_delete #else $brih_view/$brih_delete $brih_grp #end </a></td>

#if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("count","2")>Add/View Member</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("count","2") style="text-decoration:none"> #if($lang == "hindi") $brih_member $brih_add/$brih_view #else $brih_add/$brih_view $brih_member #end  </a></td>

       ##if($user_role == "instructor")
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        ##<a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1")>Create Group</a></td>
        <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1") style="text-decoration:none"> #if($lang == "hindi") $brih_grp $brih_Of1 $WikiCreate #else $WikiCreate $brih_grp #end</a></td>
</td>
        </tr>
</table > ##table 2 end

<form name="frm" method="post" action=$link.setPage("call,Group_Mgmt,Editgroup.vm").setAction("Groupmanagement")>
        <table align="right"  bgcolor="$ui.tableColor" width=100% > ## table 3 start
                <tr bgcolor="$ui.menuColor"><td align ="right"colspan=5 vlaign="top"> ## td tr 1 satart
                <b><font size=4<I>$brih_course $brih_Of $brih_grp </I><font color="blue">$courseid</font></font></b>
                </td></tr>
                #if($Status != "Edit")
                <tr><td align="right" colspan="5"> ##  td tr 2 start
                        #if($Mode=="NoBlank") ## if satar (mode)
                                #set($headings=["&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$brih_availableAction","&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$brih_creation $brih_Da","&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$brih_grp $brih_Of $brih_type","&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$brih_grp $brih_Of1 $brih_name",""])
                                <br>
                                <table  border="0" bgcolor="$ui.tableColor" > ## table 5 start
                                        <tr bgcolor="$ui.tableColor" align="right" > ## tr 3 start
                                        #foreach($heading in $headings)
                                        <td><b>$heading</b></td>
                                        #end
                                        </tr> ## tr 3 end
                                        #foreach($Read in $grplist)
                                                <tr bgcolor="$ui.menuColor" align ="right"> ## tr 4 start
                                                <td align="right">
                                                <a href=$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("Status","Edit").addPathInfo("grpname",$Read.Name).addPathInfo("type",$Read.type).addPathInfo("studentno",$Read.studentno)>
                                                $brih_grp $brih_Of $brih_edit</a>
                                                &nbsp;&nbsp;<a href=$link.setPage("call,Group_Mgmt,Addmembers.vm").addPathInfo("Status","Edit").addPathInfo("grpname",$Read.Name).addPathInfo("type",$Read.type)>
                                                $brih_member $brih_remove</a>
                                                </td>
                                                <td align ="right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$Read.PDate</td>
                                                <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$Read.type</td>
                                                <td colspan="2" align ="right">$Read.Name</td>
                                                </tr> ## tr 4 end
                                        #end
                                </table> ## table 5 end
                                #else
                                <align="right"><b><font color="blue"><i>$brih_grpmsg18</i></font></b>
                        #end ## if end of mode
                #end
                #if($Status == "Edit")
                        #if($type=="usagegroup")
                        <tr align="right"><td>
                                <br>&nbsp;&nbsp<b><font size=3>$brih_Usage $brih_grp $brih_Of1 $brih_edit</font></b><br><br>
                                <table  border="0" bgcolor="$ui.tableColor" width="100%" colspan=5>
                                <tr align="right">
                                        <td><input type="text"  size="30" name="groupname"  value="$grpname"/></td>
                                        <td><b>
                                        : $brih_name $brih_Of1 $brih_grp
                                        <font color=red>*</font> </b>
                                        </td>
                                </tr>
                                <tr align="right">
                                <td><textarea name="groupdesc" rows=5 cols=50 >$!groupdesc</textarea></td>
                                        <td><b> : $brih_grp $brih_Of1 $brih_desc</b></td>                       </tr>                                                                                                                                       </table>
                        </td></tr>
                #end
                #if($type == "Multiplegroup" || $type == "signupgroup" )
                <tr align="right"><td>
                        #if($type == "Multiplegroup")
                                <br><b>&nbsp;&nbsp;$brih_multiple1 $brih_grp $brih_Of2 $brih_edit :</b><br>
                        #else
                                <br><b>&nbsp;&nbsp;$brih_signup $brih_grp $brih_Of2 $brih_edit :</b><br>
                        #end
                        &nbsp;&nbsp;$brih_grpmsg5<br>
                        &nbsp;&nbsp;$brih_grpmsg6<br><br>
                        #if($type =="Multiplegroup")
                        <table  border="0" bgcolor="$ui.tableColor" width="100%" colspan=5>
                                <tr align="right">
                                <td colspan="2" align="right">
                                        $brih_grpmsg7 $brih_grpmsg19
                                </td>
                                <td>
                                        <input type="radio"  name="groupmode" value="Mgroup"onClick="this.form.studentno.disabled=true;this.form.studentno.focus();" />
                                </td>
                                </tr>
                                <tr align="right">
                                <td colspan="2" align="right">
                                        $brih_grpmsg7 $brih_grpmsg8
                                </td>
                                <td>
                                        <input type="radio" checked="true" name="groupmode" value="MRgroup"onClick="this.form.studentno.disabled=false;this.form.studentno.focus();" />
                                </td>
                                </tr>
                        </table>
                        #end
                        <table  border="0" bgcolor="$ui.tableColor" width="100%" colspan=5>
                        <tr align="right">
                                <td colspan="2">
                                <input type="text"  size="30" name="groupname"  value="$grpname"/>
                                </td>
                                <td><b>
                                : $brih_grp $brih_Of1 $brih_name
                                <font color=red>*</font>
                                </b>
                                </td>
                        </tr>
                        <tr align="right">
                                <td colspan="2"><textarea name=groupdesc  rows=5 cols=50 >$!groupdesc</textarea></td>
                                <td> : &nbsp;<b>$brih_default $brih_desc </b> </td>
                        </tr>
                        <tr align="right">
                                <td colspan="2"><input type="text" size="30" name="groupno" value="" onClick="disabled=true;"/></td>
                                <td><b>
                                : $brih_grp $brih_Of1 $brih_noOf
                                <font color=red>*</font>
                                </b> </td>
                        </tr>
                        <tr align="right">
                                <td colspan="2"><input type="text" size="30" name="studentno" value="$studentno" onClick="disabled=true;" /></td>
                                <td><b>
                                : $brih_per $brih_grp $brih_in $brih_student $brih_Of1 $brih_noOf
                                <font color=red>*</font> </b>
                                </td>
                        </tr>
                        </table>
                </tr></td>
                #end
                <br><br>
                ## end of multiple group
                <tr bgcolor="$ui.tableColor"><td align="right"> ## td 5 start
                <input type="button" class="button-ftextstyle" name="eventSubmit_doupdategroup" value="$brih_grp $brih_update" onClick="checkfield(document.frm,this);"/>
                <input type="submit" class="button-ftextstyle" name="eventSubmit_doCancel" value="$brih_cancel" />
                </td></tr> ## td 5 end
        #end
        </td></tr> ## td tr 2 end
        <input type="hidden" name="actionName" >
        <input type="hidden" name="Status" value="$Status">
        <input type="hidden" name="grpname" value="$grpname">
        <input type="hidden" name="type" value="$type">
        <input type="hidden" name="studentno" value="$studentno">

##----------------------------------------------------------------------------------------------------------------------------
	#if($Status != "Edit" && $Mode == "NoBlank")
	#if($boolFlag)
	        <tr bgcolor="$ui.menuColor" align="right">
	        <td align="center" bgcolor="$ui.menuColor">
	#else
        	<tr>
		<td align="right">
	#end
        		#if($total_size <= $userConf)
                        <img src="$content.getURI("images/First_blank.png")">
                        <img src="$content.getURI("images/Previous_blank.png")">
                        <img src="$content.getURI("images/Next_blank.png")">
                        <img src="$content.getURI("images/Last_blank.png")">
                        #elseif($startIndex == $userConf_string)
                        <img src="$content.getURI("images/First_blank.png")">
                        <img src="$content.getURI("images/Previous_blank.png")">
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$startIndex).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/Next.png")"></a>
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/Last.png")"></a>
                        #elseif($endIndex == $total_size || $endIndex > $total_size)
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/First.png")"></a>
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$check_pre).addOathInfo("count",$tdcolor)"><img src="$content.getURI("images/Previous.png")"></a>
                        <img src="$content.getURI("images/Next_blank.png")">
                        <img src="$content.getURI("images/Last_blank.png")">
                        #else
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/First.png")"></a>
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/Previous.png")"></a>
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/Next.png")"></a>
                        <a href="$link.setPage("call,Group_Mgmt,Editgroup.vm").addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor)"><img src="$content.getURI("images/Last.png")"></a>
                        #end
            	</td>
    	</tr>
	#end
##-------------------------------------------------------------------------------------------------------------------------------

	
</form>
</table> ## end of table 3
</body>
<SCRIPT LANGUAGE="javascript">
	function checkfield(frm,field)
        {
		editor.setMode("textmode");
		if(frm.groupname.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please fill the Mandatory(*) Fields and Click this [<>] button!!");
                }
		editor.setMode("wysiwyg");

        }
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
</script>
