#*
 * @(#)InstituteUserForm.vm
 *  Copyright (c) 2005,2010,2011,2012 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @modified date: 20-10-2010, 05-08-2011, 28-12-2011,30-10-2012(Richa)
 *#

$page.setBgColor($ui.bgcolor)
#set($lang = $data.getUser().getTemp("lang" ).toString())
#if($status!="viewallUser")
	#if($Process=="modify")
		$page.setTitle("Admin Home | List Management | Search User | Update User")
	#else
		$page.setTitle("Admin Home | List Management | Search User | Remove User")
	#end
#else
	#if($Process=="modify")
		$page.setTitle("Admin Home | List Management | View All Users | Update User")
	#else
		$page.setTitle("Admin Home | List Management | View All Users | Remove User")
	#end
#end
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
#if($from=="usermgmt")
##<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none>$brih_usr $brih_mgmt</a> |
#else
##<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").addPathInfo("mode","All").addPathInfo("count","1") style=text-decoration:none>$brih_list_mgmt</a> |
##<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("mode","All").addPathInfo("listcourse","listcourse").addPathInfo("count","1") style=text-decoration:none>$brih_list_mgmt</a> |
##<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").addPathInfo("mode","All").addPathInfo("count","2") style=text-decoration:none>$brih_listUsr</a> |
#end
#if($Process=="modify")
	#if($lang == "hindi" || $lang == "gujarati")
		$brih_userDetail $brih_update 
	#else
		$brih_update $brih_usr 
        #end
#else
	#if($lang == "hindi" || $lang == "gujarati")
		$brih_userDetail $brih_remove 
	#else
		$brih_remove $brih_usr
	#end
#end
</td></tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
#if($from == "usermgmt")
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none>$brih_a_usr</a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","sclist").addPathInfo("count","2") style=text-decoration:none>$brih_student #if($lang == "hindi" || $lang == "gujarati" ) $brih_Of #end $brih_course $brih_list</a></td>
	#if($tdcolor != "0")
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","instlist").addPathInfo("count","0") style=text-decoration:none>$brih_Instructor #if($lang == "hindi" || $lang == "gujarati") $brih_Of #end $brih_course $brih_list </a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor").addPathInfo("count","3") style=text-decoration:none> #if($lang == "hindi" || $lang =="gujarati") $brih_Instructor $brih_delete #else $brih_delete $brih_Instructor #end </a></td>
        #if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student").addPathInfo("count","4") style=text-decoration:none> #if($lang == "hindi" || $lang =="gujarati") $brih_student $brih_delete #else $brih_delete $brih_student #end </a></td>
	#if($tdcolor != "5")
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none>$brih_multi_usr</a></td>
        #if($tdcolor != "6")
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","UPhoto").addPathInfo("count","6") style=text-decoration:none> #if($lang == "hindi" || $lang =="gujarati")  $brih_photo $brih_upload #else $brih_upload $brih_photo #end </a></td>
        #if($tdcolor != "7")
        <td>
        #elseif($tdcolor == "7")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("count","7") style=text-decoration:none>$brih_attendence</a></td>

#else
	#if($tdcolor !="1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").addPathInfo("mode","All").addPathInfo("count","1") style=text-decoration:none>
	#if($lang == "hindi")
		$brih_listUsr
	#else
		$brih_view_all $brih_usr
	#end
	</a></td>
	#if($tdcolor !="2")
	<td>
	#elseif($tdcolor == "2")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit").addPathInfo("count","2") style=text-decoration:none>$brih_view_all1</a></td>
	
	#if($tdcolor != "3")
        <td width=30%>
        #elseif($tdcolor == "3")
        <td width=30% bgcolor="#AFDCEC">
        #end  
                <a href=$link.setPage("call,ListMgmt_InstituteAdmin,Parent_Mgmt.vm").addPathInfo("mode","All").addPathInfo("searchFor","inst_admin").addPathInfo("count","3") style=text-decoration:none>$brih_view_all $brih_parent</a>
        </td>

</tr>
#end
</table>
#if($from=="usermgmt")
##<form method="post" action="$link.setPage("call,serMgmt_Admin,UserManagement_Admin.vm").setAction("UserAction_Admin")">
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").setAction("UserAction_InstituteAdmin")">
#else
##<form method="post" action="$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").setAction("UserAction_Admin")">
<form name="frm" method="post" action="$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").setAction("UserAction_InstituteAdmin")">
#end
<table width=100% align="left" bgcolor="$ui.menuColor">
<tr><td> <b>$brih_userDetail</b></td></tr>
</table>
<table width=100% bgcolor="$ui.tableColor" align="left">
      #foreach($i in $udetail)
      <tr bgcolor="$ui.tableColor">
		##entry1Cell("$brih_usr $brih_name" $!i.UserName)
		<td>$brih_usr $brih_name</td>
		<td colspan=2>$!i.UserName</td>
		##<td></td>
      </tr>
      #if($Process=="modify")
      <tr bgcolor="$ui.menuColor">
        	##formCell ("$brih_first $brih_name" "firstname" $!i.FirstName)
		<td>$brih_first $brih_name</td>
		<td colspan=2><input type="text" name="firstname" value="$!i.FirstName"></td>
      </tr>
      <tr bgcolor="$ui.tableColor">
        	##formCell ("$brih_last $brih_name" "lastname" $!i.LastName)
		<td>$brih_last $brih_name</td>
		<td colspan=2><input type="text" name="lastname" value="$!i.LastName"></td>
		##<td colspan=3></td>
      </tr>
      <tr bgcolor="$ui.menuColor">
        	##formCell ("$brih_email $brih_ID" "email" $!i.Email)
		<td>$brih_email $brih_ID</td>
		<td colspan=2><input type="text" name="email" value="$!i.Email"></td>
		##<td colspan=3></td>
      </tr>
#*</table>
<table width=100% bgcolor="$ui.tableColor" align="left">*#
<tr>
	<td><b>$brih_listCourse1</b></td><td><b>$brih_program $brih_name</b></td><td><b>$brih_rollno</b></td>
</tr>
        #set($num=1)
       	##If value of UDetail.size() is zero,it shows user does not have rollno,prg and Course
       	##then show default row for rollno,prg and Course list 
       	#if($UDetail.size()==0)
	        <tr bgcolor="$ui.menuColor">
                <td><select class="drop" name="group1" size=1>
                        <option value="Select Course">$brih_select $brih_course </option>
			#foreach($name in $CourseList)
				<option value="$name.getGroupName()">$name.getCAlias(): $name.getCourseName()- $name.getUserName() </option>
			#end
		</td>
                <td><select class="drop" name="prg1" size=1 id="pg1"onChange="showList(document.frm,this,$num);">
			<option value="Select Program">$brih_select $brih_program </option>
			#foreach($instplist in $rlprglist)
	                        <option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
	                #end
	        </td>
		<td id="rl1">
                </td>
                </tr>
        #end
        #foreach($st in $UDetail)
	        #if($velocityCount%2==0)
		        <tr bgcolor="$ui.tableColor">
	        #else
	        	<tr bgcolor="$ui.menuColor">
                #end
      	        #set($tmpCourse = $st.grpname)
      	        <td><select class="drop" name="group$num" size=1 id="$num">
			<option value="$st.grpname">$st.crsals: $st.crsnm - $st.crsInst </option>
	                #foreach($name in $CourseList)
	                	#if($tmpCourse!=$name.getGroupName())
        				<option value="$name.getGroupName()">$name.getCAlias(): $name.getCourseName()- $name.getUserName() </option>
		                #end
		        #end
                </select></td>
	        <td><select class="drop" name="prg$num" size=1 id="pg$num" onChange="showList(document.frm,this,$num);">
		## get another record from the list
		## display in drop down list
	        #set($tmpPrg = $st.pgname)
			<option value="$st.pgcode">$st.pgname </option>
        	        #foreach($instplist in $rlprglist)
	        	        #if($tmpPrg!=$instplist.getPrgName())
		        	        <option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
			        #end
        	        #end
		 </select></td>
		<td id="rl$num">
		## get rollno from record
			$st.rlno
        	</td></tr>
		<input type="hidden" name="num" value="$num">
	        #set($num=$num+1)
	#end
      #else
      <tr>
        <td><b>$brih_first $brih_name</b></td>
	<td>$!i.FirstName</td>
      </tr>
      <tr>
        <td><b>$brih_last $brih_name</b></td>
	<td>$!i.LastName</td>
      </tr>
      <tr>
        <td><b>$brih_email $brih_ID</b></td>
	<td>$!i.Email</td>
      </tr>
	#foreach($j in $urollno)
                #if(($!i.UserName)==($!j.EmailId))
	<tr>
        <td><b>$brih_rollno(If Student)</b></td>
        <td>$!j.RollNo</td>
      </tr>
		#end
        #end
      #end
	<input type="hidden" name="username" value="$i.UserName"/>
        <input type="hidden" name="mode" value="$mode"/>
        <input type="hidden" name="count" value="$tdcolor"/>
	<input type="hidden" name="counter" value="$UDetail.size()">
        <input type="hidden" name="actionName">
       #end
         ##</table> 
     #if($UDetail.size()==0)
	     <tr>
     #elseif($UDetail.size()%2==0)
             <tr bgcolor="$ui.menuColor">
     #end
        <td align="left" colspan ="5">
          #*
            Check for a mode, the update and delete buttons
            shouldn't appear when inserting a new user.
          *#
          #if ($Process== "modify")
            <input type="button" class="button-ftextstyle" name="eventSubmit_doUpdate" value="$brih_update" onClick="checkField(document.frm,this);"/>
          #elseif ($Process == "delete")
            <input type="submit" class="button-ftextstyle" name="eventSubmit_doDelete" value="$brih_remove"/>
          #end
      </td>
    </tr>
    </table>
</form>

<br>
<table width=60% border=1 bgcolor="$ui.tableColor" align=center>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="$ui.tableColor">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">User
Name <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>
<SCRIPT LANGUAGE="javascript">
function checkField(frm,field)
{
        var count=0;
        var tmpgrp,tmpprg,tmprl;
        var tmpgrp1,tmpprg1,tmprl1;
        if($UDetail.size()>0){
        for(var i=1;i<=$UDetail.size();i++){
                var grpid = document.getElementById(i);
                var grpval = grpid.value;
                //alert("inside script document.frm.group1.value\n"+grpval);
        if(count==0)
        {
                tmpgrp=grpval;
                count=1;
        }
        else
        {
                tmpgrp1 = grpval;
                count=0;
        }
        if(i>1)
        {
		if(tmpgrp==tmpgrp1)
                {
	                alert("Course Name should be different.");
                        return;
                }
        }
        if(i==$UDetail.size())
        {
		frm.actionName.value=field.name;
        	frm.submit();
        }
}
}
if($UDetail.size()==0)
{
	if(document.frm.group1.value=="Select Course")
        {
                if(document.frm.prg1.value=="Select Program")
                {
                        frm.actionName.value=field.name;
                        frm.submit();
		}
                else
                {
	                alert("Please select course name");
                }
	}
        else 	
	{
		if(document.frm.prg1.value=="Select Program")
        	{
                	alert("Please select program name");
	        }
	        else
        	{
                	frm.actionName.value=field.name;
	                frm.submit();
        	}	
	}
}
}	

function showList(frm,field,tmp)
{
        var flag="false";
        var pgid = document.getElementById("pg"+tmp);
        var pgval = pgid.value;
	#foreach ($i in $rlprglist)
		if(flag=="false"){
                        var prgcode = "$i.getPrgCode()";
                        var rlno = "$i.getRollNo()";
                        if(prgcode == pgval){
				document.getElementById("rl"+tmp).innerHTML=rlno;
                                flag="true";
                        }
                        else{
				document.getElementById("rl"+tmp).innerHTML="";
                        }
                }
	#end
}
</script>
