#*
 * @(#)Mail.vm
 *  Copyright (c) 2005,2009,2010 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kuamr</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 07-01-2010, 22-04-2010, 26-07-2010, 13-Oct-2010
 * @modified date: 15-05-2012 (Shaista)
 *#
#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($role = $data.getUser().getTemp("role" ).toString())
#set($groupName = $data.getUser().getTemp("course_id").toString())
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
#if($mode=="adminmail")
$page.setTitle("Home | Communication | Local Mail")
#else
$page.setTitle("Home | $cname | Communication | Local Mail")
#end
####################################
#macro (BlinkingText $text)
  <font face="$ui.sansSerifFonts" color="RED">
      &nbsp;&nbsp;<blink><sup>$text</sup></blink>&nbsp;
  </font>
#end


##########################


<body>
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
       <tr align="right"><td>
	<font face="$ui.sansSerifFonts"><b>
	#if($mode=="adminmail")
        <a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_Of1 $brih_home</a> |
        <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1") style=text-decoration:none>$brih_communication</a> | $brih_local $LocalMail_mail 
        #else
        ##<a href=$link.setPage("call,CourseMgmt_User,Communication.vm")>$brih_communication</a> | $brih_localmail
        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none>$brih_communication</a> | $brih_local $LocalMail_mail |
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$cname</a> |
        <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> 
        #end
       </font>
	</td>
       </tr>
</table>

#macro(UNAME1)

        #if($Fname!="")
                <b> $Fname</b>
        #else
        	<b>$Uname</b>
        #end
#end

#if($mode=="adminmail")	
<form method="GET" action="$link.setPage("call,Local_Mail,MailContent.vm").addPathInfo("stat","admns")">
#else
<form method="GET" action="$link.setPage("call,Local_Mail,MailContent.vm")">
#end
<table width=100% align=left bgcolor="$ui.tableColor"> 
<tr align="right">
	#if($mode=="adminmail")
		#if($tdcolor!="1")
		<td>
		#elseif($tdcolor == "1")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","1").addPathInfo("countTemp","1") style=text-decoration:none> $brih_notice $Notice_Send</a></td>
		#if($tdcolor!="2")
		<td>
		#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,Notice_User,DeletePostedAdmin.vm").addPathInfo("count","2").addPathInfo("countTemp","3") style=text-decoration:none>$Notice_DeletePosted_msg1</a></td>
		#if($tdcolor!="3")
		<td>
		#elseif($tdcolor == "3")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("nflag","fh").addPathInfo("count","3") style=text-decoration:none>$brih_flash $brih_heading</a></td>
		#if($tdcolor!="4")
		<td>
		#elseif($tdcolor == "4")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("mod","adminmail").addPathInfo("count","4") style=text-decoration:none>$brih_local $LocalMail_mail</a></td>
	#else
		#if($Uname == "guest")
			#if($tdcolor!="1")
				<td>
			#elseif($tdcolor=="1")
				<td bgcolor="#AFDCEC">
			#end
			<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("flag","FromNotices").addPathInfo("count","1").addPathInfo("countTemp","2") style=text-decoration:none>  $Notice_NoticeContent_msg1</a></td>
		#end
		#if($Uname != "guest")
			#if($tdcolor!="1")
				<td>
			#elseif($tdcolor == "1")
				<td bgcolor="#AFDCEC">
			#end
        	        <a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none>$brih_local $brih_mail</a></td>
			#if($tdcolor!="2")
				<td>
			#elseif($tdcolor == "2")
				<td bgcolor="#AFDCEC">
			#end
			<a href=$link.setPage("call,Chat,Chat.vm").addPathInfo("count","2") style=text-decoration:none>$brih_chat</a></td>
			#if($tdcolor!="3")
				<td>
			#elseif($tdcolor == "3")
				<td bgcolor="#AFDCEC">
			#end
			#if( $role == "student")
                		<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("courseId",$groupName).addPathInfo("flag","FromNotices").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none> $Notice_NoticeContent_msg1 </a>
				 #foreach($msg in $unreadMsg)
                        #if($msg!="0")
                        #BlinkingText("New")
                        #end
                        #end

				</td>
			#else
				<a href=$link.setPage("call,Notice_User,Notices.vm").addPathInfo("count","3").addPathInfo("countTemp","1") style=text-decoration:none>$brih_Notices</a>
				#foreach($msg in $unreadMsg)
                        #if($msg!="0")
                        #BlinkingText("New")
                        #end
                        #end

				</td>
			#end
			#if($tdcolor!="4")
				<td>
			#elseif($tdcolor == "4")
				<td bgcolor="#AFDCEC">
			#end
			<a href=$link.setPage("call,Dis_Board,DB.vm").addPathInfo("count","4") style=text-decoration:none>$DiscussionBoard
			#if($unreadm!="0")
                        #BlinkingText("New")
                        #end
	
			</td>
			#if( $role != "student")
				#if($tdcolor!="5")
					<td>
				#elseif($tdcolor == "5")
					<td bgcolor="#AFDCEC">
				#end
				<a href=$link.setPage("call,News,News_Edit.vm").addPathInfo("status","fromCourse").addPathInfo("count","5") style=text-decoration:none>$brih_news</td>	
			#end
		#end
	#end
</tr>
##</table>
##<table width=100% align=left bgcolor="$ui.tableColor"> 
#if($data.getUser().getUserName()!= "guest")
<tr bgcolor="$ui.menuColor" align="right"><td colspan=5 align="right">
<b> ($LocalMail_Mail_msg1(<font color="blue">$total</font>)
#if($unread=="0")
<font size="3">$brih_unread $brih_message (<font color="Blue">$unread</font>&nbsp&nbsp
#else
<blink>
<font size="3">$brih_unread $brih_message(<font color="Blue">$unread</font></blink>&nbsp&nbsp
#end 
</b></font>
<img src="$content.getURI("/images/newmail1.gif")">
	#if($total!="0")
	<tr align="right"><td align="right" colspan=5> 
	<input type="hidden" name="mode" value="All">
	<input type="submit" class="button-ftextstyle" name=submit value="$LocalMail_Mail_msg2">
	<input type="hidden" name="count" value="$tdcolor">
	#set($tempBoolean ="true")
	</td></tr>
	#end
	</td>
	</tr>
	#if( $role != "student")
		#if($tempBoolean)
                        <tr bgcolor="$ui.menuColor" align="right">
                #else
                        <tr align="right">
                #end
		#if($mode=="adminmail")
			<tr bgcolor="$ui.menuColor" align="right"><td align="right" colspan=5><a href=$link.setPage("call,Local_Mail,MailCompose.vm").addPathInfo("status","compose") style=text-decoration:none>
		#else 
			<td align="right" colspan=5><a href=$link.setPage("call,Local_Mail,MailTestMessage.vm").addPathInfo("status","compose") style=text-decoration:none>
		#end 
		<b>$LocalMail_MailContent_msg1 	<img border=0 src="$content.getURI("/images/ml.gif")"></b></a></td></tr>
	#end 
#end
</table>

</body>
</form>
