#*
 * @(#)UpdatePass_Admin.vm
 * Copyright (c) 2005,2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@gmail.com ">Shaista</a>  
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a> 
 * @modified date: 22-11-2010 
 *#

$page.setBgColor($ui.tableColor)

$page.setTitle("call,List Management | User List | Change Password")
##<table bgcolor="#d9e3ec" width=100% cellspacing=0>

$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang" ).toString())
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<table bgcolor="$ui.menuColor" width=100% cellspacing=0>
<tr><td><font face="$ui.sansSerifFonts" size=3>
<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_ad $brih_home</a> |
<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("mode","All").addPathInfo("listcourse","listcourse").addPathInfo("count","1") style=text-decoration:none>$brih_list_mgmt</a> |
<a href=$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").addPathInfo("mode","All").addPathInfo("count","2") style=text-decoration:none>$brih_listUsr</a> | #if($lang == "hindi") $username $brih_Of1 $brih_changePassword1  #else $brih_changePassword1  $brih_for $username #end
##$brih_changePassword1 $username
</td></tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit").addPathInfo("count","1") style=text-decoration:none>$brih_view_all1</a></td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor == "2")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").addPathInfo("mode","All").addPathInfo("count","2") style=text-decoration:none> #if($lang == "hindi") $brih_all $brih_usr $brih_Of1 $brih_view #else $brih_view_all $brih_usr #end </td>
</tr>
</table>
<form name="frm" method="post" action="$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").setAction("UserAction_Admin")">
<table align="left" width="100%" bgcolor="$ui.menuColor" >
	#if(($data.getUser().getTemp("lang" ).toString())== "hindi")
	<tr><td>$username $brih_Of1  $brih_changePassword1</td></tr> 
	#else
	<tr><td>$brih_changePassword1 $username</td></tr>
	#end
</table>
<table align="left" width="100%" bgcolor="$ui.tableColor" >
	<tr>
	#formPasswordCell("$brih_pwd  <font color=Red>*</font>" "newpass" "")
	</tr>
</table>
<table align="left" width="100%" bgcolor="$ui.menuColor" >
	<tr><td>
        <input class="button-ftextstyle" type="button" name="eventSubmit_doUpdatePass" value="$brih_update" onClick="checkpass(document.frm,this);"/>
        <input class="button-ftextstyle" type="reset" name="clear" value="$brih_clear" onClick="clearValues(document.frm,this);"/>
        <input type="hidden" name="username" value=$username />
        <input type="hidden" name="actionName"/>
        <input type="hidden" name="mode" value="All"/>
        <input type="hidden" name="count" value="$tdcolor"/>
     	</td></tr>
</table>
</form>

<SCRIPT LANGUAGE="javascript">
function checkpass(frm,field,v)
 {
 if(frm.newpass.value!="")
     {
      frm.actionName.value=field.name;
      frm.submit();
     }
 else
    {
        alert("Password can not be null!");
    }
 }

function clearValues(frm,field)
{
	frm.newpass.value="";
}
</SCRIPT>
