#*
 * @(#)UserForm_Instructor.vm
 * Copyright (c) 2005,2009-2010,2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:madhavi_mungole@hotmail.com ">Madhavi Mungole</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date:20-10-2010, 05-08-2011, 15-03-2013
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
##      $page.setTitle("Home | $course | Student Management | List of Students | Remove User")
$!data.getMessage()
$page.setBgColor($ui.bgcolor)
#if ($stat=="remove")
##      $page.setTitle("Home | $course | Student Management | List of Students | Remove User")
        $page.setTitle(" Remove User | List of Students | Student Management | $course | Home")
#else
        ##$page.setTitle("Home | $course | Student Management | List of Students | Update User")
        $page.setTitle(" Update User | List of Students | Student Management | $course | Home")
#end
    <table bgcolor="$ui.menuColor" width=100% cellspacing=0>
      <tr align ="right"><td width="30%" align="right">
<tr align="right"><td>
      <a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1") style=text-decoration:none>$brih_studMgmt</a> 
      |<a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count","4") style=text-decoration:none>$brih_listOfStudent</a> 

        #if ($stat=="remove")
                        | $brih_userDetail $brih_remove
        #else
                        | $brih_userDetail $brih_update
        #end
        |<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> 
        |<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a>
        </td>
</td>
    </tr>
</table>
<table align="right" bgcolor="$ui.tableColor" width=100%>
<tr align="right">
#if($tdcolor != "5")
        <td colspan="2">
        #elseif($tdcolor == "5")        
        <td bgcolor="#AFDCEC" colspan="2">
        #end
        <a href=$link.setPage("call,OnLine_Rgtn,ViewOnlineRegistrationInstructor.vm").addPathInfo("count","5") style=text-decoration:none>$online_online $brih_reg</a></td>
 #if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")        
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,StudentList.vm").addPathInfo("mode","All").addPathInfo("count","4") style=text-decoration:none>$brih_listOfStudent</a></td>

        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")        
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,MultiUserReg_Instructor.vm").addPathInfo("count","3") style=text-decoration:none> $brih_multiple1 $brih_student $brih_add </a></td>
#if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")        
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,RemoveStudents.vm").addPathInfo("count","2") style=text-decoration:none>$brih_rem_student</a></td>
  #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")        
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1") style=text-decoration:none> $brih_student $brih_add </a>
        </td>
</tr>

##</table>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_User,StudentList.vm").setAction("UserAction_Instructor")">
##<table width=100% align=left bgcolor="$ui.tableColor" cellpadding="5">
<tr bgcolor="$ui.menuColor" align="right">
	<td align="right" colspan="6"><b>$brih_userDetail</b></td>
</tr>
<tr align="right"><td colspan=4>
##<table width=100% bgcolor="$ui.tableColor">
			#foreach($user in $user_details)
			<tr align="right">
			 <td colspan=4></td>
			<td>$!user.UserName</td>
			<td>$brih_usr $brih_name </td>
                        </tr>
			## All information should be display if status is update or type is more when click on more link
			#if($stat=="update")
			
                         	<tr align="right" bgcolor="$ui.menuColor">
				## #formCell ("$brih_first $brih_name" "firstname" $!user.FirstName)
				<td colspan="5"><input type="text" name="firstname" value="$!user.FirstName"></td> 
				<td>$brih_first $brih_name</td> 
                                </tr>
				<tr align="right">
				## #formCell ("$brih_last $brih_name" "lastname" $!user.LastName)
                                <td colspan="5"><input type="text" name="lastname" value= "$!user.LastName"></td>
                                <td> $brih_last $brih_name</td> 
                                </tr>
				<tr align="right" bgcolor="$ui.menuColor">
			##	 #formCell ("$brih_email $brih_ID" "email" $!user.Email)
                                <td colspan="5"><input type="text" name="email" value= "$!user.Email"></td>
                                <td>$brih_email $brih_ID</td> 
                                </tr>

                                        <tr align="right">
                                        <td colspan="5"> $brih_rollno </td>
                                        <td> $brih_program $brih_Of1 $brih_name </td>
                                   </tr>

				<tr align="right" bgcolor="$ui.menuColor">
				#if($UDetail.size()==0)
                                       <td colspan=6><select name="prg1" id="pg1" class="drop" size=1 onChange="showList(document.frm,this);">
	                                       <option value="Select Program">$brih_program $brih_select </option>
						#foreach($instplist in $rlprglist)
							<option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
						#end
					</td>
                                </tr>
                                #end
                                #foreach($st in $UDetail)
	                                #if($velocityCount%2==0)
		                                <tr align="right" bgcolor="$ui.tableColor">
                	                #else
                        	                <tr align="right" bgcolor="$ui.menuColor">
                                	#end
					<td colspan="5" id="rl1">
						## get rollno from record
	 	                                $st.rlno
	                                </td>
                                	<td><select class="drop" name="prg1" size=1 id="pg1" onChange="showList(document.frm,this);">
					#set($tmpPrg = $st.pgname)
						<option value="$st.pgcode">$st.pgname </option>
						#foreach($instplist in $rlprglist)
							#if($tmpPrg!=$instplist.getPrgName())
								<option value="$instplist.getPrgCode()">$instplist.getPrgName() </option>
							#end
						#end
						</select></td>
						</tr>
				#end

			#else
				<tr align="right" bgcolor="$ui.menuColor">
					<td  align="right" colspan=5>$!user.FirstName</td>
					<td align="right" width=30%>$brih_first$brih_name</b></td>
				</tr>
	        		<tr align="right">
					<td  align="right" colspan=5>$!user.LastName</td>
					<td align="right" width=30%>$brih_last$brih_name</b></td>
				</tr>
	        		<tr align="right" bgcolor="$ui.menuColor">
					<td align="right" colspan=5>$!user.Email</td>
					<td align="right" width=30%>$brih_email $brih_ID</b></td>
				</tr>
				#if($UDetail.size()!=0)
				<tr align="right">
					<td align="right" colspan=5>$brih_rollno</td>
					<td align="right">$brih_program $brih_name</td>
				</tr>
				<tr align="right" bgcolor="$ui.menuColor">
	                                #foreach($st in $UDetail)
                                        		<td align="right"colspan=5>$st.rlno</td>
		                                        <td align="right">$st.pgname</td>
				</tr>
					#end
				#end
			#end
			<tr align="right">
				<td align="right" colspan=3>
					<input type="hidden" name="username" value="$!user.UserName"/>  
			</tr>
		##</table>
		</td>
	</tr>
	#if($counter==2)
	<tr align="right" bgcolor="$ui.menuColor">
	#end
                       <td align="right" colspan=6  bgcolor="$ui.menuColor">
			#if($stat== "update")
				<input type="button" class="button-ftextstyle" name="eventSubmit_doUpdate" value="$brih_update" onClick="checkField(document.frm,this);"/>
			#elseif ($stat == "remove")
				<input type="submit" class="button-ftextstyle" name="eventSubmit_doDelete" value="$brih_remove"/>
			#end
			<input type=hidden name="mode" value="All">
			<input type=hidden name="count" value="$tdcolor">
			<input type=hidden name="counter" value="$$UDetail.size()">
			<input type=hidden name="actionName" >

		</td>
	</tr>
	#end
##  </table>
</td>
</tr>
</table>
</form>
<SCRIPT LANGUAGE="javascript">
function checkField(frm,field)
{
	frm.actionName.value=field.name;
        frm.submit();
}
function showList(frm,field)
{
        var flag="false";
        var pgid = document.getElementById("pg1");
        var pgval = pgid.value;
	#foreach ($i in $rlprglist)
		if(flag=="false"){
                        var prgcode = "$i.getPrgCode()";
                        var rlno = "$i.getRollNo()";
                        if(prgcode == pgval){
                                document.getElementById("rl1").innerHTML=rlno;
                                flag="true";
                        }
                        else{
                                document.getElementById("rl1").innerHTML="";
                        }
                }
	#end	
}

</script>

