#*
 * @(#) Configuration.vm
 * Copyright (c) 2005-2006,2009-2010,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kumar Singh</a>
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>29August2012
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a>
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kuamr Singh</a>
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
 * @author <a href="mailto:palseema30@gmail.com">Seema Pal</a>
  @author <a href="mailto:piyushm45@gmail.com">Piyush Mishra</a>
 * @modified date: 30-03-2010
 * @modified date: 04-04-2011 (Shaista), 04-10-2012, 17-03-2013.
*#

$page.setTitle("Home | $course | Course Management |  Course Configuration for Guest")
<script type="text/javascript" src="$content.getURI("/scrpts/CommonScripts/RemoteCourse.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/image.resize.js")"></script>
<link type="text/css" href="$content.getURI("/scrpts/youtubeplugin/youtube_Helplink.css")" rel="stylesheet"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/youtubeplugin/brih_Helpvideo.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/youtubeplugin/youtube_Helplink.js")"></script>
<script type="text/javascript">
        $(function () {
            $("a.youtube").YouTubePopup({ autoplay: 0 });
        });
 </script>

$page.setBgColor($ui.bgcolor)
#set ($lang=$data.getUser().getTemp("lang" ).toString())
<div class="scroll">
<table bgcolor="$ui.menuColor" width=100%>
        <tr><td>
	<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | 
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
	<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a> |  $brih_course  $RemoteConfiguration
	##<td align="right"> <img src="$content.getURI("/images/hand.gif")"> <a class="youtube" href="#" rel="$vid" style=text-decoration:none><font size="3"> $brih_VideoHelp &nbsp; | </font></a> &nbsp;<a href=javascript:popupWin("/brihaspati2/docs/RemoteCourses.html","newWin"); style=text-decoration:none>$brih_help</a>
	<td align="right"><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/RemoteCourses.html","newWin"); style=text-decoration:none>$brih_help</a> <a class="youtube" href="#" rel="$vid" style=text-decoration:none><font size="3"> |$brih_VideoHelp</font></a></td>
		</td></tr>
</table>

<table width=100%>
<tr bgcolor="$ui.menuColor">
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end	
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")> #if($lang == "english" ) $brih_course $brih_content #else $brih_content #end </a></td>
	#if($tdcolor != "0")  
	 <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user</a></td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor == "2")
	<td bgcolor="#AFDCEC">
	#end	
	<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") > #if($lang == "english" ) $brih_upload $brih_course $brih_content #else  $brih_content $brih_upload #end </a></td>
	#if($tdcolor != "3")
	<td>
	#elseif($tdcolor == "3")
	<td bgcolor="#AFDCEC">
	#end	
        <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3") >$brih_course $RemoteConfiguration</a></td>
	#if($tdcolor != "4")
	<td>
	#elseif($tdcolor == "4")
	<td bgcolor="#AFDCEC">
	#end	
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") > #if($lang == "english" ) $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end </a></td>
	#if($tdcolor != "5")
	<td>
	#elseif($tdcolor == "5")
	<td bgcolor="#AFDCEC">
	#end	
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") > #if($lang == "english" ) $RemoteConfiguration $brih_grade #else $brih_grade $RemoteConfiguration #end </a></td>
	#if($tdcolor != "6")
	<td>
	#elseif($tdcolor == "6")
	<td bgcolor="#AFDCEC">
	#end	
        <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") >$brih_scorm $brih_packager</a></td>
        #if($tdcolor != "7")
         <td>
         #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
         #end
         <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")>$brih_scorm $Repo_Player</a>
         </td>

</tr>
</table>

<table align="left" bgcolor="$ui.tableColor"> ##Main Table
<form method="post" action="$link.setPage("call,CourseMgmt_User,Configuration.vm").setAction("Guest")">
         <tr bgcolor="$ui.menuColor"><td align="left">
                <font size=4> <b>$brih_guestConfig </b></font>
         </td></tr>
         <tr><td bgcolor="$ui.tableColor" >
                <table width=100%>
                        <tr><td align="left">
            	    	#if($Guest == true)
          	              <font color="Green"><b>$Guest_msg1</b></font>
                	#else
                	        <font color="Red"><b>$Guest_msg2</b></font>
                	#end
                        </td><td align="left">
                                <input type="submit" class="button-ftextstyle"  value="$brih_yes">
                                <input type="hidden"  name="cname" value="$course"> &nbsp;&nbsp;
                                <input type="hidden"  name="count" value="$tdcolor"> &nbsp;&nbsp;
                         </td></tr>
                </table>
         </td></tr>
         <tr><td  bgcolor="$ui.tableColor" align="left"> $brih_guestMsg1 </td></tr>
</form>
</td></tr>
##For Online User
<tr><td>
<form method="post" action="$link.setPage("call,CourseMgmt_User,Configuration.vm").setAction("OnlineConfiguration")">
         <tr bgcolor="$ui.menuColor"><td align="left">
                <font size=4> <b>$onlineconfiguration</b></font>
         </td></tr>
         <tr><td bgcolor="$ui.tableColor" >
                <table width=100%>
                        <tr><td align="left">
                              <font color="Green"><b>$onlineconf</b></font>
                        </td>
			<td align="left">
                                #if($online_conf==1) 
                                </select>
                                        <select name="onlineconf" class="drop">
                                        <option value="withoutapproval">$brih_without $brih_approval
 $brih_allowed
                                        <option value="onapproval">$brih_on $brih_approval
                                        <option value="notallowed">$brih_no $brih_allowed
                                        </option>
                                </select>
                                #elseif($online_conf==2)
                                </select>

                                        <select name="onlineconf" class="drop">
                                        <option value="notallowed"> $brih_no $brih_allowed
                                        <option value="onapproval"> $brih_on $brih_approval
                                        <option value="withoutapproval"> $brih_without $brih_approval
                                        </option>
                                </select>
                                #else   
                                </select>
                                        <select name="onlineconf" class="drop">
                                        <option value="onapproval"> $brih_on $brih_approval
                                        <option value="withoutapproval"> $brih_without $brih_approval
                                        <option value="notallowed"> $brih_no $brih_allowed
                                        </option>
                                </select>
                                #end

			</td>				
			<td align="left">
                                <input type="submit" class="button-ftextstyle"  value="$brih_update">
                                <input type="hidden"  name="cname" value="$course"> &nbsp;&nbsp;
                                <input type="hidden"  name="count" value="$tdcolor"> &nbsp;&nbsp;
                         </td></tr>
                </table>
         </td></tr>
         <tr><td  bgcolor="$ui.tableColor" align="left"> $onlinecourse</td></tr>
</form>
</td></tr>

<style type="text/css"> input{ width:130px; } </style>
<p align="center"><font size="3" color="blue">$!data.getMessage()</font></p>
##<br />
#if($entrystatus =="blank")
	<p align="center">
	<font size="3" color="blue">
	$RemoteNoEntry 
	#if($status=='0')
        $RemoteBUY
 	#else
	$RemoteSELL
 	#end
	</font>
	</p>
#end

#set($month=["01","02","03","04","05","06","07","08","09","10","11","12"])
#set($day=["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"])

<tr><td>
#if($url=="" || $cvalue=="" || $ivalue=="")
<form name=frm method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,Configuration.vm")">
#end
#if($url!="" && $cvalue!="" && $ivalue!="")
<form name=frm method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,Configuration.vm").setAction("RemoteCoursesAction")">
#end
<table bgcolor ="$ui.tableColor" width=100% >
	<tr bgcolor ="$ui.menuColor"><td  align="left" colspan="5">
		<font size=4> <b>$RemoteTag $brih_course $RemoteConfiguration</b></font>
	</td></tr>
	<tr><td colspan=3>
		<font color=Red>* $Remotemandatory</font>
	</td></tr>
			<tr bgcolor ="$ui.menuColor">
			<td> $RemoteInstitute $RemoteIP $RemoteAddress <input type="text" name="iip" value="$!url"></td>
			<td>
                                &nbsp;$RemoteInstitute $brih_name
                                <select name="inm" class="drop" style="width:200px;">
                                #if($ivalue=="")
                                <option value=""> #if($lang == "hindi" || $lang == "gujarati") $brih_Institute $brih_select #else $brih_select $RemoteInstitute #end </option>
                                #else
                                <option value="$!ivalue">$!ivalue</option>
                                #end
                                #foreach($instname.trim() in $instlistname)
                                <option value="$instname" title="$instname" style="width:275px;">$instname
                                #end
                                </select>
                                &nbsp;$brih_course #if($lang == "hindi" || $lang== "gujarati") $brih_Of1 #end $brih_ID
                                <select name="cid" class="drop" onChange="ChangeCname(document.frm,this);" style="width:200px;">
                                #if($cvalue=="")
                                <option value="">$brih_select $brih_course</option>
                                #else
                                <option value="$!cvalue">$!cvalue</option>
                                #end
				#foreach( $rec in $csList )
					  <option value="$rec.idc" title="$rec.namecnm" style="width:275px;">$rec.namecnm </option>
				#end
                                </select>
                                #if($courselistname.size()==0)
                                <b><font color="red"> $brih_courseNotExist </font></b>
                                #end    
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" class="button-ftextstyle" value="$brih_get"  style="width:50px" onClick="callapi(document.frm,this);"/>
                                </td>
                        </tr>
			<tr>
                                <td> $brih_login #if($lang == "hindi") $brih_Of1 #end $brih_name </td>
                                <td> <input type="text" name="riname" value="$!cval"> </td>
                        </tr>
                        <tr bgcolor ="$ui.menuColor">
                                #formPasswordCell("$RemoteSecretKey" "sec_key" "$!sec_key")
                        <td></td>
                        </tr>
			<tr>
			<td>$RemoteTransaction</td>
			<td>
				<select name="order" class="drop">
						 #if($order!="")
						 	#if($order =="Purchase")
								##<option value="Purchase"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $RemoteBUY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<option value="Purchase">$RemoteBUY 
							#else
								<option value="Sell"> $RemoteSELL 
        	                                 	#end
        	                                 #end

						<option value="Purchase"> $RemoteBUY 
						<option value="Sell"> $RemoteSELL 
					</select>
				</td>
			</tr>
			<tr bgcolor="$ui.menuColor">
                	<td>$DisBoard_Expiry $brih_Da</td>
                		<td>
                  			<select name="Start_year" class="drop">
                  			<option value="$cyear">$cyear
                  			#foreach($year in $year_list)
                    				#if($cyear != $year)
                      					<option value="$year">$year
                    				#end
                  			#end
                			</select>
          				<select name="Start_mon" class="drop">
            				<option value="$cmonth">$cmonth
            				#foreach($mon in $month)
            					#if($mon != $cmonth)
            						<option value="$mon">$mon
            					#end
            				#end
            				</select>
                  			<select name="Start_day" class="drop">
                  			<option value="$cdays">$cdays
                  			#foreach($d in $day)
                    				#if($d!=$cdays)
                        				<option value="$d">$d
                    				#end
                  			#end
            				</select>
                  		</td>
   			</tr>
			<tr><td colspan=3>

				#if($serial !="")
				<input type="submit" class="button-ftextstyle"  name="eventSubmit_doInsert" value="$brih_update " onClick="return checkForm(document.frm,this);"/>
				#else
				<input type="submit" class="button-ftextstyle"  name="eventSubmit_doInsert" value="$brih_submit" onClick="return checkForm(document.frm,this);"/>
				#end
				<input type="reset" class="button-ftextstyle" name="clear" value="$brih_reset" onClick="checkClear(document.frm,this);"/>
				<INPUT TYPE="hidden" NAME="updatestartIndex" value="$updatestartIndex">
				<INPUT TYPE="hidden" NAME="serial" value="$serial">
				<INPUT TYPE="hidden" NAME="count" value="$tdcolor">
				<INPUT TYPE="hidden" NAME="actionName">
                                <INPUT TYPE="hidden" NAME="instval">
                                <INPUT TYPE="hidden" NAME="cval">
			</td></tr>
		##</table>
	</td></tr>
## This space is for look and feel
	<tr><td>
	</td></tr>
## This space is for look and feel
	<tr><td>
	</td></tr>

</table>
</form>
</td></tr> 
</table> ## Main Table ends

 <br/>
<br/> ## This space is for look and feel
<table align="left" bgcolor="$ui.tableColor" cellspacing="5" width=100%>
        <tr bgcolor="$ui.menuColor">
        <td align="left" width=30% >
			<h4><a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("status","0").addPathInfo("count",$tdcolor) style=text-decoration:none> #if($lang=="hindi") $ReBuy #else $brih_view  $RemoteBUY $RemoteTag $brih_course #end</a></h4>
                </td>
                <td>
			<h4><a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("status","1").addPathInfo("count",$tdcolor) style=text-decoration:none> #if($lang=="hindi") $ReSell #else $brih_view $RemoteSELL $RemoteTag $brih_course #end</a></h4>
                </td>
        </tr>
</table>
</div>
<SCRIPT LANGUAGE="javascript">
function ChangeCname(frm,field)
{
        document.frm.cval.value=document.frm.cid.value;
        //frm.submit();
}
</SCRIPT>
