#*
 * @(#) CourseMemt.vm
 * Copyright (c) 2011 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kuamr Singh</a>
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Course Management")
$!data.getMessage()
#set ($lang=$data.getUser().getTemp("lang" ).toString())
<head>
	<script type="text/javascript">
        	_editor_url = "$content.getURI("/scrpts/")";
	        _editor_lang = "en";
	</script>
	<script type="text/javascript" src="$content.getURI("/scrpts/htmlarea.js")"></script>
	<script type="text/javascript" src="$content.getURI("/scrpts/Head.js")"></script> 
</head>

<body onload="initEditor()">
<table bgcolor="$ui.menuColor" width=100%>
	<tr><td>
		 #if($isAdmin=="true")
                <a href=$link.setPage("Index.vm") style=text-decoration:none> $brih_home </a> | $course |
	        #elseif ($isInstructor=="true")
		 <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | 
		 <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
		 <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a> | 
		#else
                <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>Home</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
		#end
		#if($lang=="english")
			$brih_course $Profile_user
                #else
                        $Profile_user
                #end
        </font>
	</td>
	</tr>
	</table>
<table width=100% bgcolor="$ui.tableColor">

		#if ($isInstructor=="true")
	<tr><td align="right" colspan="16">
               <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati2/docs/CourseMgmt.html","newWin");>  $brih_help</a>
	</td></tr>
	<tr bgcolor="$ui.menuColor">
	
        #if($tdcolor != "1")    
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
	 <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")> #if($lang == "english") $brih_course $brih_content #else $brih_content #end </a></td>
        #if($tdcolor != "0")    
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user</a></td>

        #if($tdcolor != "2")    
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2")> #if($lang !="english") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
        #if($tdcolor != "3")    
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3")> $brih_course $RemoteConfiguration </a></td>
        #if($tdcolor != "4")    
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4")> #if($lang == "english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end </a></td>
        #if($tdcolor != "5")    
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5")> #if($lang == "english") $RemoteConfiguration $brih_grade #else $brih_grade $RemoteConfiguration #end </a></td>
        #if($tdcolor != "6")    
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6")> $brih_scorm $brih_packager </a></td>
        #if($tdcolor != "7")
         <td>
        #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
        #end
       <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")> $brih_scorm $Repo_Player</a></td>
#else
	<tr bgcolor="$ui.menuColor">
        #if($tdcolor != "1")    
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")> #if($lang == "english") $brih_course $brih_content #else $brih_content #end </a></td>
        #if($tdcolor != "0")    
        <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
       <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user</a></td>
	#if($tdcolor != "2")    
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2")> #if($lang !="english") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>

#end
</tr>
</table>

<table>
	<form name="frm" method="post" enctype="multipart/form-data" action="$link.setAction("EditContent_Action").setPage("call,CourseMgmt_User,CourseMgmt.vm")">
	<table align=left bgcolor="$ui.tableColor" width="100%">
	<tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")        
        <td bgcolor="#AFDCEC">
        #end
      
      </td>
        </tr>
      	<tr bgcolor="$ui.menuColor">
	<td><b> $brih_course $brih_ID</b></td><td> <input type="text" name="Course_Id" value="$!cId" size="20" readonly></td>
        </tr>
        <tr>
	<td><b> $brih_course $brih_name</b></td><td> <input type="text" name="Course_name" value="$!course" size="20" readonly></td>
        <td colspan=3></td>
        <tr bgcolor="$ui.menuColor">
		<td><b> $brih_course $brih_Instructor</b></td><td> <input type="text" name="P_Instr" value="$!lastname $!firstname" size="20" readonly></td>
        </tr>
    ##    <tr bgcolor="$ui.menuColor">
	<td><b> $brih_secondry $brih_Instructor/$brih_lab $brih_Instructor/ $brih_tutor</b> </td>
        <td><select Instructor="sinst" name="Second_Instructor"  >
		#if($cyear == "")
                	<option value="$sinst" >$brih_Instructor</option>
		#else
			#foreach ($secIns in $seclist)
                		<option value="$sinst" > $secIns </option>
			#end
		#end
         </select>
	 </td>
        </tr>
        <tr bgcolor="$ui.menuColor">
	<td><b>$brih_course $brih_day & $brih_venue <font color=RED> * </b></td>
	<td>
	#if($isInstructor=="true")
	<select name="selectdays" size="1" onChange="Changename(document.frm,this);" />
	  #if($selectdays1 !="")
	   <option  value=$!selectdays1>$!selectdays1
	  #else
	   <option  value=""> $brih_select $brih_schedule
	#end
          <option value="odddays">1,3,5
          <option value="evendays">2,4,6
          <option value="everyday">1,2,3,4,5,6
          <option value="Days">Other
          </option>
		
        </select>
	#else
	 <select name="selectdays" size="1" onChange="Changename(document.frm,this);" />
          #if($selectdays1 !="")
           <option  value=$!selectdays1>$!selectdays1
          #else
           <option  value=""> $brih_select $brih_schedule 
          <option value="odddays">1,3,5
          <option value="evendays">2,4,6
          <option value="everyday">1,2,3,4,5,6
          <option value="Days">Other
          </option>
                
        #end
        </select>
#end

	#if($selectdays1=="Days")
		#if($isInstructor=="true")
			<input type="text" size=3 name="selectdaysintext" value="$!abc" >
		#else
			<input type="text" size=3 name="selectdaysintext" value="$!abc" readonly>
		#end
	#end
	
	#if($isInstructor=="true")
		<input type="text" name="venue" value="$!Venue" size="20"> 
	#else
		<input type="text" name="venue" value="$!Venue" size="20" readonly> 
	#end
	
        </tr>
        <tr >
                <td><b> $brih_marks/$brih_grading<font color=RED> *</font></b></td>
	<tr>
		<td>  $brih_midsem  </td>
		#if($isInstructor=="true")
                <td> <input type="text" size=3 name="midsem" value="$!midsem" ></td>
		#else
                <td> <input type="text" size=3 name="midsem" value="$!midsem" readonly></td>
		#end
        </tr>

	<tr>
                <td> $brih_quiz </td>
		#if($isInstructor=="true")
        	        <td> <input type="text" size=3 name="quiz" value="$!quiz" ></td>
		#else
                	<td> <input type="text" size=3 name="quiz" value="$!quiz" readonly ></td>
		#end
        </tr>
	<tr>
                <td> $brih_lab $brih_work </td>
		#if($isInstructor=="true")
                	<td> <input type="text" size=3 name="labwork" value="$!labwork"></td>
		#else
               		<td> <input type="text" size=3 name="labwork" value="$!labwork" readonly></td>
		#end
        </tr>
	<tr>

                <td> $brih_endsem  </td>
		#if($isInstructor=="true")
                <td> <input type="text" size=3 name="endsem" value="$!endsem" ></td>
		#else
                <td> <input type="text" size=3 name="endsem" value="$!endsem" readonly></td>
		#end
        </tr>

        <tr bgcolor="$ui.menuColor">
                <td><b> $brih_instruction  <font color=RED> * </font></b></td>
		#if($isInstructor=="true")
		<td align="left" width="3"> <textarea id="id" name="message" rows=10 cols=80 wrap=physical> $!message </textarea></td>
		#else
		<td align="left" width="3"> <textarea id="id" name="message" rows=10 cols=80 wrap=physical readonly> $!message </textarea></td>
		#end
	</tr>
        <tr >
		#if($isInstructor=="true")
			#fileUpload ("<b> $brih_course $brih_syllabus<font color=RED> * </font></b> " "file")
		#end
        </tr>
		 #if($fileName !="")
	<tr bgcolor="$ui.menuColor">
		<td><b> $brih_attachment :</b></td>
		<td> $brih_course $brih_syllabus $brih_file <a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("type","coursemgmt").addPathInfo("filename",$fileName)");> $brih_download</a>
		</td>
	</tr>
		#end
        <tr>
        	<td align="center" colspan=5>  
			#if($isInstructor=="true") 
        	     		<input type="button" name="eventSubmit_doSelect" value="$brih_submit" onClick="checkField(document.frm,this);"/>&nbsp;
				<input type="reset" name="Reset" value="$brih_clear"/>
			#end
			<input type="hidden" name="actionName">
                	<input type="hidden" name="count" value="$tdcolor">
		        <input type="hidden" name="CMgmt" value="">
        	</td>
        </tr>
</table>
</form>
</body> 
<SCRIPT LANGUAGE="javascript">
        function checkField(frm,field)
        {
		if((frm.midsem.value!="") && (frm.quiz.value!="") && (frm.labwork.value!="")  && (frm.endsem.value!="") && (frm.file.value!="")) {
                       frm.actionName.value=field.name;
                       frm.submit();
		}else
			alert("Please Fill All The Mandatory(*) Fields");
        }
        function Changename(frm,field)
        {
                if(frm.selectdays.value!=""){
                        frm.CMgmt.value=field.value;
                        frm.submit();
                }
        }
        function popupWin(urlName,popupName)
        {
                 window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
         }
</SCRIPT>
