#*
 * @(#) CourseHome.vm
 * Copyright (c) 2004-2005, 2009, 2010, 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:madhavi_mungole@hotmail.com ">Madhavi Mungole</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singhnk@iitk.ac.in ">Nagendra Kumar Singh</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author<a href="mailto:shaistashekh@hotmail.com">Shaista </a>
 * @author<a href="mailto:sunil0711@gmail.com">Sunil Yadav </a>
 * @author<a href="mailto:shikhashuklaa@gmail.com">Shikha Shukla </a>
 * @modified:Date 07-04-2010, 26-07-2010, 13-10-2010, 21-08012 
 * @author<a href="mailto:richa.tandon11@gmail.com">Richa Tandon </a>
 * @author<a href="mailto:tejdgurung20@gmail.com">Tej Bahadur</a>
 * @modified:Date 07-04-2010, 26-07-2010, 13-10-2010, 21-08012, 07-Feb-2013(Richa),18-03-2013,22-07-2013
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#

$page.setTitle("Course Home Page")
$!data.getMessage()

<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
<script type="text/javascript" src="$content.getURI("/scrpts/jquery/jquery.ui.min.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/slimScroll.js")"></script>
</head>

<body>
#macro (BlinkingText $text)
  <font face="$ui.sansSerifFonts" color="RED">
      &nbsp;&nbsp;<blink><sup>$text</sup></blink>&nbsp;
  </font>
#end
#set($lang = $data.getUser().getTemp("lang" ).toString())
## Representation of TOP BAR

<table bgcolor="$ui.menuColor" width=100% cellspacing=0>
	<tr>
	    <td>
		<font face="$ui.sansSerifFonts" size=3><b>
	     		<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | $cName
		</td>
	</tr>
</table>

<table width=100% bgcolor="$ui.tableColor">
	<tr>
		## Representation of Survey link
		<td align="left">
                        #if(($user_role != "instructor") && ($guest_login == "false") && ($user_role != "teacher_assistant"))
                                #if($size > 0 && $size1 == 0)
                                        <a href=$link.setPage("call,EventMgmt_Admin,Survey_Inst.vm").addPathInfo("mode","stphase") style=text-decoration:none><b>$brih_survey</b></a>
     				#end
                        #end
                </td>
		## Representation of HELP link
		<td align=right>
		<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati/docs/CourseHome.html","newWin");>$brih_help</a>
		</td>
	</tr>
</table>

## Representation of UNREAD MESSAGES

#foreach($msg in $unreadMsg)
	<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
	<tr>
		#if(($msg!="0" ) && ($guest_login == "false") )
                <td align=center>
                <font face="$ui.sansSerifFonts">
                	<a href=$link.setPage("call,Notice_User,NoticeContent.vm").addPathInfo("courseId",$groupName).addPathInfo("flag","FromCourseHome").addPathInfo("count","3").addPathInfo("countTemp","2") style=text-decoration:none>
			$brih_uHave $msg $brih_unreadNotice</a>
                 </font>
                 </td>
                 #end
	</tr>
	</table>
#end
## main table
<table width="100%" valign="top">
	## main row 1 open
	<tr valign='top' bgcolor="$ui.tableColor">
		## main column 1 open
		<td width="70%">
 			## inner table
			<table width="100%" cellpadding="10" bgcolor="$ui.tableColor" cellspacing="0" valign="top">
#if($guest_login == "false") ## for guestis not login
		
## INSTRUCTOR	
	#if ($user_role == "instructor")
				
			## inner row 1 open
			<tr>
				## inner column 1 (1)open
				<td align="center" valign="top">
					<table valign="top">
                                            <tr><td align=center><a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/assignment.png")" class="img" ></a></td></tr>
                                            	
					    <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_assignment </a></td></tr>
                                          </table>
				</td>

				## inner column 1 (1)close
				## inner column 2 (1)open
					
				<td align=center>
					<table border=0>
					    <tr><td align=center><a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/backup.png")" class="img" ></a></td></tr>
							
					    <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1") style=text-decoration:none>$brih_backup</a><br></td></tr>
					</table>
				</td>

				## inner column 2 (1)close
				## inner column 3 (1)open

				<td align=center>
					<table border=0 valign="top">
					    <tr><td align=center><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/communication.png")" class="img" ></a></td></tr>
					     
					    <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_communication</a><br></td></tr>
						
					</table>
				</td>
				
				## inner column 3 (1)close
			</tr>
				## inner row 1 close
				## inner row 2 open
			<tr>
				## inner column 2 (1)open
				
				<td align=center>
					<table border=0>
					    <tr><td align=center><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/CourseCalendar.png")" class="img" ></a></td></tr>
					    <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_course #if($lang!="english") $brih_Of1 #end $brih_calendar</a><br></td></tr>
					</table>
				</td>

				## inner column 2 (1)close
				## inner column 2 (2)open

				<td align="center" valign="top">
					<table border=0 valign="top">
						  <tr><td align="center" valign="top"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursemanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/coursemgmt.png")" class="img" ></a></td></tr>
							
						   <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursemanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_course $brih_mgmt</a><br></td></tr>
					</table>
				</td>
				
				## inner column 2 (2)close
				## inner column 3 (2)open
		  
				<td align=center>
                                            
					<table border=0>
						  <tr><td align=center><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/groupimages.png")" class="img" ></a></td></tr>
                                               
						  <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_grp$brih_mgmt</a></td></tr>
                                                
					</table>
                                    
				</td>
					
				## inner column 3 (2)close
			</tr>
				## inner row 2 close
				## inner row 3 open
			<tr>
					
				## inner column 1 (3)open
					
				<td align=center>
						
					<table border=0>
						  <tr><td align=center><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/olexam.png")" class="imge" ></a></td></tr>
							
						  <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$online_online $brih_examat $brih_system</a><br></td></tr>
						
					</table>
				</td> 

				## inner column 1 (3)close
				## inner column 2 (3)open
                                        
				<td align=center>
                                              
					<table border=0>
                                                  <tr><td align=center><a href=$link.setPage("call,Instructor_Mgmt,UserMgmt_Instructor.vm").addPathInfo("count","2").addPathInfo("mode","instructordelete").addPathInfo("cname",$groupName).addPathInfo("mname","instructormanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/Instructor.png")" class="img" ></a></td></tr>
                                                        
						  <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Instructor_Mgmt,UserMgmt_Instructor.vm").addPathInfo("count","2").addPathInfo("mode","instructordelete").addPathInfo("cname",$groupName).addPathInfo("mname","instructormanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_ins $brih_mgmt</a><br></td></tr>
					</table>
                                      
				</td>
					
				## inner column 2 (3)close
				## inner column 3 (3)open
				<td align=center>
						
					<table border=0>
						  <tr><td align=center><a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("courseid",$user_role).addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","studentmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/studmgmt.png")" class="img" ></a></td></tr>
							
						  <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","studentmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_student $brih_mgmt</a><br></td></tr>
						
					</table>
				</td>
				## inner column 3 (3)close
			
			</tr>
			## inner row 3 close
			
			<tr>
			## inner row 4 open
                                        
				## inner column 1 (4)close
				<td align=center>
					<table border=0>
						  <tr><td align=center><a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/marks.png")" class="img" ></a></td></tr>
						  
						  <tr><td align=center><font face="$ui.sansSerifFonts">
						   #if($lang != "english")

							 <a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_marks $brih_upload</a><br>
						    #else
							  <a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_upload $brih_marks</a><br>
						    #end
						  </td></tr>
					  </table>
				 </td>
				## inner column 1 (4)close
                                        
				## inner column 2 (4)open
				<td align=center>
					<table border=0>
						  <tr><td align=center><a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none><img border=0 src="$content.getURI("/images/Wiki.png")" class="img" ></a></td></tr>
							
						  <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none>$brih_Wiki</a></td></tr>
						
					</table>
				</td>
                                ## inner column 2 (4)close
				
				## inner column 3 (4)open	
				<td align=center>
					<table border=0>
						  <tr><td align=center><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype") style=text-decoration:none><img border=0 src="$content.getURI("/images/Tracking_icon.png")" class="img" ></a></td></tr>
							
						  <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype") style=text-decoration:none> #if($lang=="hindi") $brih_perform #else $brih_tracking #end $brih_reports</a></a></td></tr>
					
					</table>

				</td>
			
			</tr>
			## inner row 4 close		
			## inner row 5 open	
			<tr>
				<td align=center>
					<table>
					    <tr><td align=center><a href=$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/browserstatistics.png")" class="img" ></a></td></tr>

					    <tr><td align=center><a href=$link.setPage("call,Browser_Statistics,MakeGraph.vm").addPathInfo("count","1") style=text-decoration:none>$Repo_browser $brih_statistics</a><br></td></tr>
					
					</table>
				</td>
				## inner column 1 (5) close
						
				## inner column 2 (5) open
				<td align=center>
					<table>
					    <tr><td align=center><a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/teacher.png")" class="img" ></a></td></tr>
                                                
					    <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count","1") style=text-decoration:none> $bri_ta $brih_mgmt </a><br></td></tr>
					</table>
				</td>
				## inner column 2 (5) close
				## inner column 3 (5) open
                                <td align=center>
                                        <table>
                                            <tr><td align=center><a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style=text-decoration:none><img border=0 src="$content.getURI("/images/attendance.png")" class="img" ></a></td></tr>

                                            <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style=text-decoration:none>$brih_attend $brih_mgmt</a><br></td></tr>
                                        </table>
                                </td>
                                ## inner column 3 (5) close
			#*
				<td align=center>
					<table>
					    <tr><td align=center><a href=$link.setPage("call,Faculty,classDetails.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/teacher.png")" class="img" ></a></td></tr>
                                                
					     <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Faculty,classDetails.vm").addPathInfo("count","1") style=text-decoration:none>Class Details</a><br></td></tr>
					</table>
				</td>
			*#
			</tr>
			## inner row 5 close
			## inner row 6 open	
			<tr>
				<td align=center>
					<table>
					    <tr><td align=center><a href=$link.setPage("call,Answerbook,UploadAnsBook.vm").addPathInfo("count","1").addPathInfo("cname",$groupName) style=text-decoration:none><img border=0 src="$content.getURI("/images/ecopy.png")" class="img" ></a></td></tr>

					    <tr><td align=center><a href=$link.setPage("call,Answerbook,UploadAnsBook.vm").addPathInfo("count","1").addPathInfo("cname",$groupName) style=text-decoration:none>$brih_upload $brih_answer $brih_copy</a><br></td></tr>
					
					</table>
				</td>
				<td align=center>
				</td>
				<td align=center>
				</td>
			</tr>
			## inner row 6 close

	## Condition for STUDENT

	#elseif($user_role=="student")
				
		## inner row 1 open
				
		<tr>
					
			## inner column 1 (1)open
			<td align="center" valign="top">
						
				<table border=0 valign="top">
                                            	
					<tr><td align=center>
<a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/assignment.png")" class="img" >  </a></td></tr>
                                            	
					<tr><td align=center><font face="$ui.sansSerifFonts">
 <a href=$link.setPage("call,Assignment,ViewAss.vm").addPathInfo("count","1") style=text-decoration:none>$brih_assignment</a>
##<a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_assignment </a>
				</td></tr>
                                          	
				</table>
					
			</td>
			## inner column 1 (1)close
					
			## inner column 2 (1)open
			<td align=center>
				<table border=0 valign="top">
					<tr><td align=center><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/communication.png")" class="img" ></a></td></tr>
							
					 <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_communication</a><br></td></tr>
						
				</table>
					
			</td>
			## inner column 2 (1)close
					
			## inner column 3 (1)open
			<td align=center>
				<table border=0>
					<tr><td align=center><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/CourseCalendar.png")" class="img" ></a></td></tr>
							
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_course #if($lang!="english") $brih_Of1 #end $brih_calendar</a><br></td></tr>
						
				</table>
			</td>
			## inner column 3 (1)close
		</tr>
		## inner row 1 close
				
		## inner row 2 open
		<tr>
					
			## inner column 1 (2)open
			<td align="center" valign="top">
				<table border=0 valign="top">
					<tr><td align="center" valign="top"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursecontent").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/coursemgmt.png")" class="img" ></a></td></tr>
							
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursecontent").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> #if($lang =="hindi") $brih_content #else $brih_course $brih_content #end </a><br></td></tr>
						
				</table>
					
			</td>
			## inner column 1 (2)close
					
			## inner column 2 (2)open
			<td align=center>
				<table border=0>
					<tr><td align=center><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/groupimages.png")" class="img" ></a></td></tr>
                                               
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_grp $brih_mgmt</a></td></tr>
                                              
				</table>
                                        
			</td>
			## inner column 2 (2)close

			## inner column 3 (2)open
			<td align=center>
                                              
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/exam.png")" class="imge" ></a></td></tr>

					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_exam </a><br></td></tr>
                                                
				</table>
                                        
			</td>
			## inner column 3 (2)close
				
		</tr>
		## inner row 2 close
				
		## inner row 3 open
		<tr>
			## inner column 1 (3)open
			<td align=center>

					
				<table border=0>
						
					<tr><td align=center><a href=$link.setPage("call,UserMgmt_User,ViewMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","viewmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/marks.png")" class="img" ></a></td></tr>
						
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,UserMgmt_User,ViewMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","viewmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>
					#if($lang!="english") 
					$brih_marks $brih_view </a><br>
					#else
					$brih_view $brih_marks</a><br>
					#end 
					</td></tr>
				</table>
			</td>
			## inner column 1 (3)close
                                        
			## inner column 2 (3)open
			<td align=center>
                                                
				<table border=0>
                                                      
					<tr><td align=center><a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none><img border=0 src="$content.getURI("/images/Wiki.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none>$brih_Wiki</a></td></tr>
						
				</table>
				
			</td>
                        ## inner column 2 (3)close
                        
			## inner column 3 (3)open         
			<td align=center>
                         
				<table border=0>
                          		<tr><td align=center><a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","scromplayer").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin")><img border=0 src="$content.getURI("/images/ScormPlayer.png")" class="img" ></a></td></tr>
					<tr><td align=center>
                           <font face="$ui.sansSerifFonts">
                           ##<a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","1")>$brih_scorm $Repo_Player</a></td></tr>
                                <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","scromplayer").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_scorm $Repo_Player</a></td></tr>

							
						</table>
					</td>
					## inner column 3 (1)close
				</tr>
		##inner row 4 open 
				<tr>
                                  <td align=center>
                                        <table>
                                            <tr><td align=center><a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","All") style=text-decoration:none><img border=0 src="$content.getURI("/images/attendance.png")" class="img" ></a></td></tr>

                                            <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","All") style=text-decoration:none>$brih_attend $brih_mgmt </a><br></td></tr>
                                        </table>
                                </td>
				<td align=center>
                                        <table>
                                            <tr><td align=center><a href=$link.setPage("call,Answerbook,ViewAnsBook.vm").addPathInfo("count","1").addPathInfo("cname",$groupName) style=text-decoration:none><img border=0 src="$content.getURI("/images/ecopy.png")" class="img" ></a></td></tr>

                                            <tr><td align=center><a href=$link.setPage("call,Answerbook,ViewAnsBook.vm").addPathInfo("count","1").addPathInfo("cname",$groupName) style=text-decoration:none>$brih_view $brih_answer $brih_copy</a><br></td></tr>
                                        </table>
                                </td>
                                </tr>
		##inner row 4 close 

## Condition for Teacher Assistant
	
	#elseif($user_role=="teacher_assistant")
        
	## row 1 open
        <tr>
		
			 
		##if($data.getUser().getTemp("modulename1") == "1")
                
			## inner column 1 (1)open
			<td align="center" valign="top">
	                                                
				<table valign="top">
                                                
					<tr><td align=center><a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/assignment.png")" class="img" >  </a></td></tr>
                        	                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Assignment,ASS_subm.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","assignment").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> $brih_assignment </a></td></tr>
                                                
				</table>
 			</td>
                                        
		#*#else
                                        
			<td align="center" valign="top">
                                                
				<table valign="top">
                                                
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/assignment.png")" class="img" ></a></td></tr>
                                                
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_assignment</a><br></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#end*#
                                        ## inner column 1 (1)close
                                        ## inner column 2 (1)open
				
		#if($data.getUser().getTemp("modulename2") == "2")
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/backup.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Backups,BackupIns.vm").addPathInfo("count","1") style=text-decoration:none>$brih_backup</a><br></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#else
 			<td align=center>
                                                
				<table border=0>
                                                       
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/backup.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_backup</a><br></td></tr>
                                                
				</table>
                                        
			</td>
		
		#end
                                        ## inner column 2 (1)close
                                        ## inner column 3 (1)open
			
		##if($data.getUser().getTemp("modulename3") == "3")
                                        
			<td align=center>
                                                
				<table border=0 valign="top">
                                                        
					<tr><td align=center><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/communication.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","communication").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_communication</a><br></td></tr>
                                                
				</table>
                                       
			 </td>
                                        
		#*#else
                                        
			<td align=center>
                                                
				<table border=0 valign="top">
                                                        
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/communication.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_communication</a><br></td></tr>
                                                
				</table>
                                        
			</td>
		
		#end*#

                                        ## inner column 3 (1)close

        </tr>
        ## row 1 close
        ## row 2 open   
        <tr>
			 
		##if($data.getUser().getTemp("modulename4") == "4")
                	<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/CourseCalendar.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","fromcourse").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","calendar").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_course #if($lang!="english") $brih_Of1 #end $brih_calendar</a><br></td></tr>
                                                
				</table>
                                        
			</td>

                                        
		#*#else
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/CourseCalendar.png")" class="img" ></a></td></tr>
                                                       
					 <tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_course #if($lang!="english") $brih_Of1 #end $brih_calendar</a><br></td></tr>
                                                
				</table>
                                        
			</td>

                                        
		#end*#

                                        ## inner column 2 (1)close
                                        ## inner column 2 (2)open
				
		#if($data.getUser().getTemp("modulename5") == "5")
                                        
			<td align="center" valign="top">
                                                
				<table border=0 valign="top">
                                                        
					<tr><td align="center" valign="top"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursemanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/coursemgmt.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursemanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_course $brih_mgmt</a><br></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#else
                                        
			<td align="center" valign="top">
                                                
				<table border=0 valign="top">
                                                        
                                        <tr><td align="center" valign="top"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursecontent").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/coursemgmt.png")" class="img" ></a></td></tr>

                                        <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","coursecontent").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none> #if($lang =="hindi") $brih_content #else $brih_course $brih_content #end</a><br></td></tr> 
				</table>
                                        
			</td>
 		#end
	
                                        ## inner column 2 (2)close
                                        ## inner column 3 (2)open
			 
		##if($data.getUser().getTemp("modulename6") == "6")
                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/groupimages.png")" class="img" ></a></td></tr>
                                               
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","groupmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_grp$brih_mgmt</a></td></tr>
                                                
				</table>
                                        
			</td>

                                        
		#*#else
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/groupimages.png")" class="img" ></a></td></tr>
                                               
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_grp$brih_mgmt</a><br></td></tr>
                                                
				</table>
                                        
			</td>
			## inner column 3 (2)close
		
		#end*#

        </tr>
        ## row 2 close
        ## row 3 open
        <tr>
			
		#if($data.getUser().getTemp("modulename7") == "7")
                         
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/olexam.png")" class="imge" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,OLES,Oles_QB.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$online_online $brih_examat $brih_system</a><br></td></tr>
                                                
				</table>
                                        
			</td>

                        
		#else
                                                                              
			<td align=center>
                                                
				<table border=0>
                                          
					<tr><td align=center><a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/olexam.png")" class="imge" ></a> </td></tr>

                                        <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,OLES,Student_Quiz.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","oles").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_exam</a><br></td></tr>         
                                                
				</table>
                                        
			</td>

                        
		#end
	
					## inner column 1 (3)close
                                        ## inner column 2 (3)open
				
		#if($data.getUser().getTemp("modulename8") == "8")
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,Instructor_Mgmt,UserMgmt_Instructor.vm").addPathInfo("count","2").addPathInfo("mode","instructordelete").addPathInfo("cname",$groupName).addPathInfo("mname","instructormanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/Instructor.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Instructor_Mgmt,UserMgmt_Instructor.vm").addPathInfo("count","2").addPathInfo("mode","instructordelete").addPathInfo("cname",$groupName).addPathInfo("mname","instructormanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_ins $brih_mgmt</a><br></td></tr>
 					
				</table>
                                        
			</td>

                                        
		#else
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/Instructor.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_ins $brih_mgmt</a><br></td></tr>
                                                
				</table>
                                        
			</td>

					
		#end
					## inner column 2 (3)close
                                        ## inner column 3 (3)open
			
		#if($data.getUser().getTemp("modulename9") == "9")
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("courseid",$user_role).addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","studentmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/studmgmt.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","studentmanagement").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_student $brih_mgmt</a><br></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#else

                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/studmgmt.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_student $brih_mgmt</a><br></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#end

                                        ## inner column 3 (3)close

        </tr>
        ## row 2 close
        ## row 4 open
        <tr>
		
		#if($data.getUser().getTemp("modulename10") == "10")
	                <td align=center>
                 
				<table border=0>
                                                
					<tr><td align=center><a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none><img border=0 src="$content.getURI("/images/marks.png")" class="img" ></a></td></tr>
                                                
					<tr><td align=center><font face="$ui.sansSerifFonts">
                                                
					#if($lang != "english")

                                        <a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_marks $brih_upload</a><br>
                                               
					#else
                                                 
					<a href=$link.setPage("call,UserMgmt_User,UploadMarks.vm").addPathInfo("count","1").addPathInfo("cname",$groupName).addPathInfo("mname","uploadmarks").addPathInfo("actionName","eventSubmit_doModuleInsert").setAction("ModuleLogin") style=text-decoration:none>$brih_upload $brih_marks</a><br>
                                                
					#end
                                                
					</td></tr>
                                        
				</table>
                                        
			</td>


                                        
		#else
				 
			<td align=center>
                                        
				<table border=0>
                                        <tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/marks.png")" class="img" ></a></td></tr>

	                                <tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none>

					#if($lang != "english")
						$brih_marks $brih_upload</a><br>

					#else
						$brih_upload $brih_marks</a><br>
					#end 
					</td></tr>
                                        
				</table>
                                        
			</td>


                                        
		#end
                                         ## inner column 1 (4)close
                                        ## inner column 2 (4)open
				 
		##if($data.getUser().getTemp("modulename11") == "11")
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none><img border=0 src="$content.getURI("/images/Wiki.png")" class="img" ></a></td></tr>
                                                        
				<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none>$brih_Wiki</a></td></tr>
                                                
				</table>
                                        
			</td>
		
		#*#else
			
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/Wiki.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_Wiki</a><br></td></tr>
                                                
				</table>
                                        
			</td>

                                        
		#end*#

                                        ## inner column 2 (4)close
                                        ## tracking Report
			 
		#if($data.getUser().getTemp("modulename12") == "12")
                                        
			<td align=center>
                                                
				<table border=0>
                                                        
					<tr><td align=center><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype") style=text-decoration:none><img border=0 src="$content.getURI("/images/Tracking_icon.png")" class="img" ></a></td></tr>

					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype") style=text-decoration:none>$brih_tracking $brih_reports</a></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#else
                                        
			<td align=center>
                                                
				<table border=0>
                                                       
					<tr><td align=center><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/Tracking_icon.png")" class="img" ></a></td></tr>
                                                        
					<tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('$bri_sry, $bri_pdenied !!')" style=text-decoration:none> $brih_tracking $brih_reports</a><br></td></tr>
                                                
				</table>
                                        
			</td>
                                        
		#end

        </tr>
        ## row 4 close
	## row 5 open
        <tr>
                ## inner column 5 (1)open

                #if($data.getUser().getTemp("modulename13") == "13")

                        <td align=center>

                                <table border=0>
                                <tr><td align=center><a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style=text-decoration:none><img border=0 src="$content.getURI("/images/attendance.png")" class="img" ></a></td></tr>

                                            <tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,StudentAttendanceMgmt,StudentAttendance.vm").addPathInfo("count","1").addPathInfo("mode","attend") style=text-decoration:none>$brih_attend $brih_mgmt</a><br></td></tr>


                                </table>

                        </td>

                #else
                        <td align=center>

                                <table border=0>

                                        <tr><td align=center><a disabled href="#" onclick="javascript:return confirm('Sorry, permission denied !!')" style=text-decoration:none><img border=0 src="$content.getURI("/images/attendance.png")" class="img" ></a></td></tr>

                                        <tr><td align=center><font face="$ui.sansSerifFonts"><a disabled href="#" onclick="javascript:return confirm('Sorry, permission denied !!')" style=text-decoration:none>$brih_attend $brih_mgmt</a><br></td></tr>

                                </table>

                        </td>

                #end
                                        ## inner column 5 (1)close
        </tr>
        ## row 5 close

## Teacher Assistant all rows close
			
	#end
		
#else  ## for guest is not login
				
		## inner row 1 open
				
		<tr>
					
			## inner column 1 (1)open
			<td align="center" valign="top">
						
				<table border=0 valign="top">
							
					<tr><td align="center" valign="top"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/coursemgmt.png")" class="img" ></a></td></tr>
							
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang =="hindi") $brih_content #else $brih_course $brih_content #end</a><br></td></tr>
						
				</table>
					
			</td>
			## inner column 1 (1)close
					
			## inner column 2 (1)open
					
			<td align=center>
						
				<table border=0 valign="top">
							
					<tr><td align=center><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none><img border=0 src="$content.getURI("/images/communication.png")" class="img" ></a></td></tr>
							
					<tr><td align=center><font face="$ui.sansSerifFonts"><a href=$link.setPage("call,Local_Mail,Mail.vm").addPathInfo("count","1") style=text-decoration:none>$brih_communication</a><br></td></tr>
						
				</table>
					
			</td>
			## inner column 2 (1)close
				
		</tr>
		##inner row 1 close 
#end ## for guest is login

##GUEST			
				</table>
				##inner table
			</td>
			## main column 1 close
			##main column 2 open
			<td width="30%" valign="top">
				 ## Result of Survey for this course
                                                #if(($user_role == "instructor")||($user_role == "teacher_assistant"))
                                                <table width="100%" bgcolor="$ui.tableColor">
                                                        <tr><td align="center" bgcolor="$ui.menuColor">
                                                                <font face="$ui.sansSerifFonts">
                                                                <b>$brih_survey $brih_result </b>
                                                                </font>
                                                        </td></tr><tr>
                                                        #if($ldetail.size()>0)
                                                                #foreach($d in $ldetail)
                                                                        <td>$survey_cpl
                                                                        $d.getGrade()</td>
                                                                #end
                                                        #else
                                                                #if($lang!="english")
                                                                <td>$brih_survey $brih_result $brih_message $brih_no</td>
                                                                #else
                                                                <td>$brih_survey $brih_result $brih_no $brih_message </td>
                                                                #end
                                                        #end
                                                        </td>
                                                </table>

                                                #end

						<table bgcolor="$ui.tableColor" align="center" width="100%">
							<tr><td>
								
								<table width="100%"  bgcolor="$ui.menuColor">
									<tr  bgcolor="$ui.menuColor"><td align="center"><font face="$ui.sansSerifFonts">
										<b>$brih_newsHeadline </b></font>
									</td></tr>
								</table>
								
								#if($status!="empty")				
								<table width="100%">
									<tr><td align="center">
									<marquee scrollamount="1" direction="up" loop="2" width="100%" height="100" behaviour="slide">
									#set($count=1)
									#foreach($news in $detail)
										#if($count % 2 == 0)
											<font size=3>
											<table bgcolor="$ui.buttonBoxColor" width="100%">
												<tr><td>	
												$news.getNews_Subject()
												<a href=javascript:popupWin("$link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender())","newWin");>...$brih_more</a></td></tr>
										
											</table>
											</font>
										#set($count = $count + 1)
										#else
										<font size=3>
										<table bgcolor="$ui.tableColor" width="100%">
										<tr><td>$news.getNews_Subject()
										<a href=javascript:popupWin("$link.setPage("call,ViewNews_Photo.vm").addPathInfo("newsid",$news.getNews_ID()).addPathInfo("date",$news.getPDate()).addPathInfo("user",$news.getSender())","newWin");>..$brih_more</a></td></tr>
										</table>
										</font>
										#set($count = $count + 1)
										
										#end
									#end
								</marquee>
							</td></tr>	
							 <tr><td align="right">
                                                                <a href=$link.setPage("call,News,News_Course.vm") style=text-decoration:none><font color="green">$brih_more $brih_news &raquo;</font></a></td></tr>

					</table>
#*						
						<table align=center>
							<tr><td align="center">
								<a href=$link.setPage("call,News,News_Course.vm") style=text-decoration:none>$brih_more $brih_news &raquo;</a></td></tr>
						
						</table>
							*#						
						#else
							##No News Till Today's Date
							$brih_newsNo
						#end
					</td></tr>
					##code for event today
                			<tr><td>
			                <table width="100%">
				                <tr><td bgcolor="$ui.menuColor" align="center">
				                <font face="$ui.sansSerifFonts">
				                <b>$brih_today_ev </b>
				                </font>
				                </tr></td>
				                </table>
				                <table width="100%">
						#if($information.size() != 0)
					                #set ( $count1 = 1 )
					                #foreach ($element in $information)
				                        #set ( $count2 = 1 )	
					                        #foreach ($begt in $Stime)
				                                #set ( $count3 = 1 )
					                                #foreach ($stt in $Etime)
					                                #if(($count1 == $count2) && ($count1 == $count3))
				                                        <tr>
                                					        #if ($INT.valueOf($begt) > $INT.valueOf($currenttime))
					                                        <td ><font color="green">$element</font>
                                        					#elseif($INT.valueOf($currenttime) < $INT.valueOf($stt))
					                                        <td><font color="red">$element</font>
					                                        #else
					                                        <td><font color="black">$element</font>
					                                        #end
					                                        </td></tr>
					                                #end
					                                #set($count3=$count3+1)
					                                #end
					                        #set ( $count2 =$count2 + 1 )
					                        #end
					                #set ( $count1 = $count1 + 1 )
					                #end
						#else
						$brih_noevent
						#end
				                </table>	
			                </td></tr>
		                </table>
		  <div id="scroll1">
                              <table  bgcolor="$ui.tableColor" width="100%"  align="left">
                                    <tr>
                                           <td colspan="3" align="center" bgcolor="$ui.menuColor" style="font-family:arial;"><b>$sec_session</b></td>
                                    </tr>
                                    #if($lec_details.size()==0)
                                        <tr><td>$session_info</td></tr>
                                    #else
                                    #foreach($st in $lec_details)
                                    ##if($velocityCount%2==0)
                                    ##<tr bgcolor="$ui.menuColor">
                                    ###else
                                    <tr bgcolor="$ui.tableColor">
                                    ###end
                                    <td width="50%">$st.lecname</td>
                                    <td><a href="https://202.141.40.215:8443/brihaspatisync_iserver/ProcessRequest?req=getjnlp&key=$st.key" style="text-decoration:none;" target="_blank">$brih_join</a></td>
                                    <td><a href=javascript:popup("$link.setPage("LectureInfo.vm").addPathInfo("lectureId",$st.lid).addPathInfo("mode","Clecture")","newWin"); style="text-decoration:none;">$brih_more</a></td>

                                   </tr>
                                    #end
                                    #end

                              </table>
                   </div>
		#if($guest_login == "false")
			#if($user_role != "instructor")
			 <div id="scroll2">
			#else
			<div id="scroll2">
			#end
                              <table  bgcolor="$ui.tableColor" width="100%"  align="left">
                           	    <tr>
                                	   <td colspan="1" align="center" bgcolor="$ui.menuColor"><b>$brih_course $brih_active $brih_usr #if($lang== "hindi") $brih_Of #end $brih_list &nbsp;&nbsp;($uList.size())</b></td></tr></b>
                                           </td>
                                    </tr>

                       	           #foreach($element in $uList)
                        	   ##if($velocityCount%2==0)
                                   ##<tr bgcolor="$ui.menuColor">
                                   ##else
                                   <tr bgcolor="$ui.tableColor">
                                  ##end
					  <td> $element </td>
                                   </tr>
                                   #end
                             </table>
                     </div>
		#end
		#if($weektime.size()!=0)
			<div id="scroll">
                        	<table  bgcolor="$ui.tableColor" width="100%"  align="left">
                                	<tr>
                                        	<td colspan="2" align="center" bgcolor="$ui.menuColor"><b>$brih_module $brih_Usage $brih_time (7 $brih_days)</b></td></tr></b></td>
					</tr>

                                        #foreach($timelist in $weektime)       
                                        ##if($velocityCount%2==0)
                                        ##<tr bgcolor="$ui.menuColor">
                                        ##else
                                        <tr bgcolor="$ui.tableColor">
                                        ##end
					#set($flag=false)
					#if($timelist.getModuleName()=="assignment")
                                        	<td>$brih_assignment</td>
					#elseif($timelist.getModuleName()=="communication")
						<td>$brih_communication</td>
					#elseif($timelist.getModuleName()=="calendar")
                                                <td>$brih_course #if($lang!="english") $brih_Of1 #end $brih_calendar</a><br></td>
					#elseif($timelist.getModuleName()=="coursecontent")
                                        	<td>
							#if($lang =="hindi") $brih_content #else $brih_course $brih_content #end</td>
							#elseif($timelist.getModuleName()=="groupmanagement")
                                                <td>$brih_grp $brih_mgmt</td>
							#elseif($timelist.getModuleName()=="viewmarks")
                                                <td>
							#if($lang!="english") 
                                                                $brih_marks $brih_view </a><br>
                                                        #else
                                                                $brih_view $brih_marks</a><br>
                                                	#end 
						</td>
					#elseif($timelist.getModuleName()=="coursemanagement")
						<td>$brih_course $brih_mgmt</td>
					#elseif($timelist.getModuleName()=="instructormanagement")
                                                <td>$brih_ins $brih_mgmt</td>
					#elseif($timelist.getModuleName()=="studentmanagement")
                                                <td>$brih_student $brih_mgmt</td>
					#elseif($timelist.getModuleName()=="uploadmarks")
                                                <td>$brih_marks $brih_upload</td>
					#elseif($timelist.getModuleName()=="oles")
                                                <td>$brih_exam</td>
							#else
                                                                #set($flag=true)

							#end
					#if($flag==false)
                                              <td>$timelist.getModuleTime()</td>
					 #end
                                        </tr>
                                	 #end
   				</table>
      			</div>
		#end


			</td>
		##main column 2 close
	</tr>
	##main row 1 close
</table>
## main table
</body>    

<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }
	function popup(url,popupName)
        {
                var w=650;
                var h=200;
                var left = (screen.width/2)-(w/2);
                var top = (screen.height/2)-(h/2);
                Win2 = window.open (url,popupName, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
                //Win2=window.open(url,popupName,"resizable,height=200,width=650");
        }
	window.onload = setupRefresh;

	function setupRefresh() {
        setTimeout("refreshPage();", 60000); // milliseconds
        }
        function refreshPage() {
        window.location = location.href;
        }
/*$(function(){
     $('#scroll').slimScroll({ 
         height: '220px'
         disableFadeOut: true
          });
      });
$(function(){
     $('#scroll1').slimScroll({
         height: '100px',
         disableFadeOut: true
          });
      });
$(function(){
     $('#scroll2').slimScroll({
         height: '100px',
         disableFadeOut: true
          });
      });
*/
</SCRIPT>
