<html>
#*
*
 * @(#) Launchcontent.vm
 * Copyright (c) 2008-2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:kishore.shukla@gmail.com">Kishore Kumar shukla</a>
 * @author <a href="mailto:seema_020504@yahoo.com">Seemapal</a>
 * @author <a href="mailto:omprakashkgp@gmail.com">Om Prakash</a>
 * @author <a href="mailto:smita37uiet@gmail.com">Smita</a>
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Launch content")
$!data.getMessage()
#if($user_role == "instructor")
<table bgcolor="$ui.menuColor" width=100%>
	<tr>
	<td>
        	<font face="$ui.sansSerifFonts"><b>
	        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
        	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$courseid</a> |
		<a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm")>$brih_upload $brih_scorm $brih_content </a> | $RemoteShow $brih_content
        	</font>
	</td>
#else
 <table bgcolor="$ui.menuColor" width=100%>
        <tr>
                <td>
                        <font face="$ui.sansSerifFonts"><b>
                        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
                        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$courseid</a> |$RemoteShow $brih_scorm $brih_content
                        </font>
                </td>
#end
	</tr>
</table>
##<applet archive="APIAdapter.jar,PfPLMS-API-adapter-core.jar,gnu.jar" code="scorm.APIAdapter.class" codebase=$codeBase width="0" height="0">
##</applet>
<br>
<table bgcolor="$ui.menuColor" width=100%>
<tr align="right">
<td align="left">
<font size="5" color="green"><i>$package</i></font>
</td>
<td align="right">
<a href="javascript:history.back()">$brih_pre</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="javascript:history.forward();">$brih_nxt</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="$link.setPage("call,ViewFileContent.vm")" target="FRAME2">$brih_exit</a>
</td></tr>
</table>
<table bgcolor="$ui.tableColor" width=79% align="right">
    <tr>
      <td>
         <iframe name="FRAME2" src="$link.setPage("call,ViewFileContent.vm")" width="700" height="400" frameborder="0"  onLoad="loadAPI()" ></iframe>

                </td>
        </tr>
</table>
<div style="overflow:auto; height:402px; background-color: $ui.tableColor;border-right:solid 3px white ">
<table bgcolor="$ui.tableColor" width="130" align="left"><tr><td>
#foreach($item in $report)
        <tr><td>
	#if($item.start_page!="undefined")
        <a href=javascript:loadTwo("$link.setPage("call,ViewFileContent.vm").addPathInfo("dir",$courseid).addPathInfo("type","Scormpackage").addPathInfo("topic",$package).addPathInfo("filename",$item.start_page)","newWin")>$item.lesson_title</a>&nbsp;&nbsp;</td>
        #end
        #end
        </td></tr>
</table>
</div>
##<script src="../../../../../scrpts/APIWrapper"type="text/javascript" language="JavaScript"></script>
<SCRIPT LANGUAGE="javascript">
function popupWin(urlName,popupName)
{
         window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
}
function goExit() {
        window.close();
}
function loadTwo( iframe2URL)
{
//parent.FRAME1.location.href=iframe1URL
parent.FRAME2.location.href=iframe2URL;
}
</script>
