#*
 * @(#)PublishModule.vm
 * Copyright (c) 2005,2009-2010, 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 30-03-2010, 13-03-2010, 26-02-2013
*#

<link type="text/css" href="$content.getURI("/scrpts/fixedstyle.css")" rel="stylesheet"></script>
$page.setBgColor($ui.bgcolor)
$page.setTitle("Course Content")
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
#set($lang = $data.getUser().getTemp("lang").toString())
<tr><td>
	<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> | 
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
 	##<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm") style=text-decoration:none>$brih_course $brih_mgmt</a> | 
<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a>| $brih_content $brih_publish
 #*if(( $data.getUser().getTemp("lang" ).toString())=="hindi")
	$brih_course $brih_Of $brih_content</a> | $brih_content $brih_publish
 #else
	$brih_course $brih_content</a> | $brih_publish $brih_content
 #end*#     
</b></td></tr>
</table>
<table width=100%>
<tr  bgcolor="$ui.tableColor">
	#if($tdcolor!="1")
        <td>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang == "hindi") $brih_content #else $brih_course $brih_content #end </a></td>
	#if($tdcolor!="2")
        <td>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") style=text-decoration:none> #if($lang == "hindi") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
	#if($tdcolor!="3")
        <td>
	#elseif($tdcolor=="3")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3") style=text-decoration:none> $brih_course $RemoteConfiguration</a></td>
	#if($tdcolor!="4")
        <td>
	#elseif($tdcolor=="4")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") style=text-decoration:none> #if($lang == "hindi") $brih_course $brih_Of $brih_header $brih_upload  #else $brih_upload $brih_course $brih_header #end </a></td>
	#if($tdcolor!="5")
        <td>
	#elseif($tdcolor==5)
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") style=text-decoration:none> #if($lang == "hindi") $brih_grade $RemoteConfiguration #else $RemoteConfiguration $brih_grade #end </a></td>
	#if($tdcolor!="6")
        <td>
	#elseif($tdcolor=="6")
	<td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") style=text-decoration:none>$brih_scorm $brih_packager</a></td>
</tr>
</table>

<table bgcolor="$ui.tableColor" width=100%>
<tr>
        #if($uploadStatus=="full")
                <td>
                       $brih_uploadSucessfully  <u>$brih_extract </u><br>
                </td>
        #else
                #if($uploadStatus=="partial")
                        <td>
			$brih_uploadSomeFile $brih_extract .<br> $brih_uploadFileExist $brih_extract<br>

                #elseif($totalFilesEntries.Count>0)
                        <td>
			$brih_uploadNonefile $brih_extract<br>
			$brih_uploadFileOnServer <br>
                #elseif($uploadStatus!="")
                        <td>
			$brih_uploadNothin $brih_extract <br>

                #end
                <br>
                #set($count=1)
                #foreach($File in $failedFiles)
                        $count.  $File <br>
                        #set($count=$count+1)
                #end
                </td>
        #end
</tr>
</table>
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,PublishModule.vm").addPathInfo("topic",$topic).setAction("PublishAction")">
<div style="background-color:$ui.tableColor;text-align:left">
<div  class="fixed" style='width:800px;'><b>$topic</b></div>
</div>
<div style="background-color:$ui.menuColor;text-align:left">
<input type="checkbox" name=delTopic><b>$brih_topicDelete </b>
	<input type="button" name=eventSubmit_doDeleteTopic value="$brih_delete" onClick="deleteTopicConfirm(document.frm,this);">
	<input type="checkbox" name="mailCheck" value="mailCheck"> <b> #if($lang=="hindi" || $lang=="gujarati") $brih_mail $Notice_Send #else $Notice_Send $brih_mail #end </b> &nbsp;&nbsp;&nbsp; </b>
</div> 
<table width=100%>
    <tr>
    <table bgcolor="$ui.tableColor" cellpadding="5">
      #if ($errorTemplate)
      <tr>
        <td colspan="4">
          <table bgcolor="$ui.bgcolor">
            <tr>
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end
      <tr>	
<div style="background-color:$ui.tableColor;text-align:left">
	<b>$brih_attachment</b>
</div>
	#set ( $count=1 )
	<table width=100% bgcolor="$ui.tableColor">
	  <tr bgcolor="$ui.menuColor">
  	  <th><br>$brih_serialNo <br></th> 
	  <th><br>$brih_file<br></th> 
	  <th><br>$brih_creation $brih_time<br></th> 
	  <th><br>$brih_unpublish<br></th> 
	  <th><br>$brih_access<br></th> 
	  <th><br>$brih_visible<br>$brih_access<br></th>
	  <th><br>$brih_delete<br></th>
	</tr>
  	<tr><td align="center" colspan=7><br><b>$brih_publishModule</b><br><br></td></tr>
	<tr align="center" bgcolor="$ui.menuColor">
                <td colspan=3><br></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(2,0); ></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(2,1); ></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(2,2); checked></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(2,3); ></td>
        </tr>
	#set ( $visible = "")
	#foreach($file in $visibleContent)
	#if($velocityCount%2==0)
	<tr align="center" bgcolor="$ui.menuColor">
	#else
	<tr align="center" bgcolor="$ui.tableColor">
	#end 		     	
	     	<td>$count </td>

		<td align="left"><b>$file.Name</b></td> 

		#set ( $seqno= $count - 1 )
		<input type="hidden" name="$file.Name" value=$seqno>

		<td align="left">$file.PDate</td>

		#set ( $visible = "$visible$file.CheckboxName^")
		<td><input type="radio" name="$file.CheckboxName" value=1 onClick="addVisibleDeleteList(this,document.frm,this.value);"></td> 
		<td><input type="radio" name="$file.CheckboxName" value=2 onClick="addVisibleDeleteList(this,document.frm,this.value);"></td> 
		<td><input type="radio" name="$file.CheckboxName" value=3  checked=true onClick="addVisibleDeleteList(this,document.frm,this.value);"></td> 
		<td><input type="radio" name="$file.CheckboxName" value=4 onClick="addVisibleDeleteList(this,document.frm,this.value);"></td> 

	</tr>
	#set ( $count= $count+1)
	#end
  	<tr><td align="center" colspan=7><br><b>$brih_access</b><br><br></td></tr>
	<tr align="center" bgcolor="$ui.menuColor">
                <td colspan=3><br></td>
                <td>$brih_selAll<br><input type="radio" name="checkAll" onClick=selectAll(1,0); ></td>
                <td>$brih_selAll<br><input type="radio" name="checkAll" onClick=selectAll(1,1); checked></td>
                <td>$brih_selAll<br><input type="radio" name="checkAll" onClick=selectAll(1,2); ></td>
                <td>$brih_selAll<br><input type="radio" name="checkAll" onClick=selectAll(1,3); ></td>
        </tr>
	#set ( $accessible = "" )
	#set ( $count=1 )
	#foreach($file in $accessibleContent)
	#if($velocityCount%2==0)
	<tr align="center" bgcolor="$ui.menuColor">
	#else
	<tr align="center" bgcolor="$ui.tableColor">
	#end		     	
	     <td>$count </td>

	     <td align="left"><b>$file.Name&nbsp;&nbsp;</b></td> 

	     <td align="left">$file.PDate</td>

	     #set ( $accessible = "$accessible$file.CheckboxName^"  )

	     <td><input type="radio" name="$file.CheckboxName" value=1 onClick="addAccessibleDeleteList(this,document.frm,this.value);"></td> 
	     <td><input type="radio" name="$file.CheckboxName" value=2 checked=true onClick="addAccessibleDeleteList(this,document.frm,this.value);"></td> 
	     <td><input type="radio" name="$file.CheckboxName" value=3 onClick="addAccessibleDeleteList(this,document.frm,this.value);"></td> 
	     <td><input type="radio" name="$file.CheckboxName" value=4 onClick="addAccessibleDeleteList(this,document.frm,this.value);"></td> 

	</tr>
	#set ( $count= $count+1)

	#end
  	<tr><td align="center" colspan=7><br><b>$brih_unpublish</b><br><br></td></tr>
	<tr align="center" bgcolor="$ui.menuColor">
                <td colspan=3><br></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(0,0); checked></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(0,1); ></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(0,2); ></td>
                <td>$brih_selAll <br><input type="radio" name="checkAll" onClick=selectAll(0,3); ></td>
        </tr>
	#set ( $unpublished = "" )
	#set ( $count=1 )
	#foreach($file in $unpubContent)
	#if($velocityCount%2==0)
	<tr align="center" bgcolor="$ui.menuColor">
	#else
	<tr align="center" bgcolor="$ui.tableColor">
	#end		     	
	     <td>$count </td>

	     <td align="left"><b>$file.Name&nbsp;&nbsp;</b>
		#if($file.Name.endsWith(".zip") && $stat!="Repo" &&  $stat !="Remote")
			<a href=$link.setPage("call,CourseMgmt_User,ViewZipContent.vm").addQueryData("topic",$topic).addQueryData("filename",$file.Name) style=text-decoration:none> -- $brih_extract</a>
		#end
  	     </td> 
	     <td align="left">$file.PDate</td>
	     #set ( $unpublished = "$unpublished$file.CheckboxName^" )
	     <td><input type="radio" name="$file.CheckboxName" value=1 checked=true onClick="addUnpubDeleteList(this,document.frm,this.value);"></td>
	     <td><input type="radio" name="$file.CheckboxName" value=2 onClick="addUnpubDeleteList(this,document.frm,this.value);"></td> 
	     <td><input type="radio" name="$file.CheckboxName" value=3 onClick="addUnpubDeleteList(this,document.frm,this.value);"></td> 
	     <td><input type="radio" name="$file.CheckboxName" value=4 onClick="addUnpubDeleteList(this,document.frm,this.value);"></td> 

	</tr>
	#set ( $count= $count+1)
	#end
	<tr>
	<td colspan=7 align=left bgcolor="$ui.menuColor">
	<input type="button" name="eventSubmit_doPublish" value="$brih_submit" onClick="deleteConfirm(document.frm,this);">
	<input type="submit" name="eventSubmit_doCancel" value="$brih_cancel">
	</td>
	</tr>
	</table>

      </tr>
      
    </table>
	<input type="hidden" name=actionName value="">

	<input type="hidden" name=visibleList value="$visible">
	<input type="hidden" name=accessibleList value="$accessible">
	<input type="hidden" name=unpublishedList value="$unpublished">
	<input type="hidden" name="mailInfo" value="">

	<input type="hidden" name=deleteVisibleFileNames value="">
	<input type="hidden" name=deleteAccessibleFileNames value="">
	<input type="hidden" name=deleteUnpublishedFileNames value="">
	<input type="hidden" name=topic value="$topic">
	<input type="hidden" name="stat" value="$stat">
	<input type="hidden" name="cName" value="$cName">
	<input type="hidden" name="uname" value="$username">
	<input type="hidden" name="count" value="$tdcolor">

    </tr>
  </table>	
  </div>
</form>

<SCRIPT LANGUAGE="javascript">
	function selectAll(originalAccessType,finalAccessType)
	{
			switch(originalAccessType)
			{
				//invisible
				case 0:
					simpleForLoop(document.frm.unpublishedList.value,finalAccessType);
					if(document.frm.unpublishedList.value != ""){
						if(finalAccessType == 2)
                                                {
                                                        if(!document.frm.mailCheck.checked)
                                                        {
                                                                 if(confirm("Do you want to send mail"))
                                                                        frm.mailInfo.value = "sendMail";
                                                        }
                                                        if(document.frm.mailCheck.checked)
                                                                frm.mailInfo.value = "sendMail";
                                                }
                                        }
					break;
		
				//accessible
				case 1:					
					simpleForLoop(document.frm.accessibleList.value,finalAccessType);
					if(document.frm.accessibleList.value != ""){
						if(finalAccessType == 2)
                                                {
                                                        if(!document.frm.mailCheck.checked)
                                                        {
                                                                 if(confirm("Do you want to send mail"))
                                                                        frm.mailInfo.value = "sendMail";
                                                        }
                                                        if(document.frm.mailCheck.checked)
                                                                frm.mailInfo.value = "sendMail";
                                                }

					}
					break;
	
				//visible
				case 2:
					simpleForLoop(document.frm.visibleList.value,finalAccessType);
					if(document.frm.visibleList.value != ""){
						if(finalAccessType == 2)
                                                {
                                                         if(!document.frm.mailCheck.checked)
                                                        {
                                                                 if(confirm("Do you want to send mail"))
                                                                        frm.mailInfo.value = "sendMail";
                                                        }
                                                        if(document.frm.mailCheck.checked)
                                                                frm.mailInfo.value = "sendMail";
                                                }

					}
					break;
			}

	}

	
	function simpleForLoop(sourceList,finalOption)
	{
		var ini=0,upto=0;

		while( ( upto=sourceList.indexOf("^",ini) ) >=0 )
		{
			var temp=sourceList.substring(ini,upto);
			ini=upto+1;
			document.frm.elements[temp][finalOption].checked=true;
		}

	}

	function deleteConfirm(frm,field)
	{
		var delfiles;
		delfiles=frm.deleteVisibleFileNames.value+frm.deleteAccessibleFileNames.value+frm.deleteUnpublishedFileNames.value;
		if(delfiles.length!=0)
		{
			if(confirm("Selected files will be Deleted"))
			{
				frm.actionName.value=field.name;
				frm.submit();	
			}
				
		}
		else
		{
			frm.actionName.value=field.name;
			frm.submit();
		}
	}

	function deleteTopicConfirm(frm,field)
	{
		if(frm.delTopic.checked)
		{
			if(confirm("All Data linked to the topic will be Deleted"))
			{
				frm.actionName.value=field.name;
				frm.submit();	
			}
				
		}
		else
		{
			alert("Please select check box for deletion !!");
		}
	}
	

	function addVisibleDeleteList(field,frm,radiobuttonValue)
	{
			var rmFile,index,actualString,preString,postString;
			actualString=frm.deleteVisibleFileNames.value;
			index=actualString.indexOf(field.name+"^",0);
			if(radiobuttonValue==4)
			{
				if(index==-1)
				{
					frm.deleteVisibleFileNames.value=frm.deleteVisibleFileNames.value+field.name+"^";
				}
			}
			else
			{
				if(radiobuttonValue == 3)
				{
					if(!document.frm.mailCheck.checked)
					{
						if(frm.mailInfo.value == ""){
	                                        	if(confirm("Do you want to send mail"))
								frm.mailInfo.value = "sendMail";
						}
					}
                                        if(document.frm.mailCheck.checked)
                                        	frm.mailInfo.value = "sendMail";
				}
				if(index!=-1)
				{
				preString=actualString.substring(0,index);
				postString=actualString.substring(index+field.name.length+1);		
				actualString=preString+postString;
				frm.deleteVisibleFileNames.value=actualString;
				}	
				
			}
	}


	function addAccessibleDeleteList(field,frm,radiobuttonValue)
	{
			var rmFile,index,actualString,preString,postString;
			actualString=frm.deleteAccessibleFileNames.value;
			index=actualString.indexOf(field.name+"^",0);
			if(radiobuttonValue==4)
			{
				if(index==-1)
				{
					frm.deleteAccessibleFileNames.value=frm.deleteAccessibleFileNames.value+field.name+"^";
				}
			}
			else
			{
				if(radiobuttonValue == 3)
				{
                                        if(!document.frm.mailCheck.checked)
                                        {
						if(frm.mailInfo.value == ""){
	                                                if(confirm("Do you want to send mail"))
        	                                                frm.mailInfo.value = "sendMail";
						}
                                        }
                                        if(document.frm.mailCheck.checked)
                                                frm.mailInfo.value = "sendMail"; 
				}

				if(index!=-1)
				{
				preString=actualString.substring(0,index);
				postString=actualString.substring(index+field.name.length+1);		
				actualString=preString+postString;
				frm.deleteAccessibleFileNames.value=actualString;	
				}

			}
	}


	function addUnpubDeleteList(field,frm,radiobuttonValue)
	{
			var rmFile,index,actualString,preString,postString;
			actualString=frm.deleteUnpublishedFileNames.value;
			index=actualString.indexOf(field.name+"^",0);
			if(radiobuttonValue==4)
			{
				if(index==-1)
				{
					frm.deleteUnpublishedFileNames.value=frm.deleteUnpublishedFileNames.value+field.name+"^";
				}
			}
			else
			{
				if(radiobuttonValue == 3)
				{
                                        if(!document.frm.mailCheck.checked)
                                        {
						if(frm.mailInfo.value == ""){
	                                                if(confirm("Do you want to send mail"))
        	                                                frm.mailInfo.value = "sendMail";
						}
                                        }
                                        if(document.frm.mailCheck.checked)
                                                frm.mailInfo.value = "sendMail";
				}
				if(index!=-1)
				{
				preString=actualString.substring(0,index);
				postString=actualString.substring(index+field.name.length+1);		
				actualString=preString+postString;
				frm.deleteUnpublishedFileNames.value=actualString;
				}
			}
	}

</SCRIPT>
