#*
*
 * @(#) ScormPlayerList.vm
 * Copyright (c) 2008-2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:kishore.shukla@gmail.com">Kishore Kumar shukla</a>
 * @author: <a href="mailto:seema_020504@yahoo.com">Seemapal</a>
 * @author <a href="mailto:omprakashkgp@gmail.com">Om Prakash</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">shaista</a>
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kuamr Singh</a>
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
 * @modified date: 30-03-2010,27-01-2012
*#
<html>
<head>
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script>
<script type="text/javascript" src="$content.getURI("/scrpts/Formsubmit.js")"></script>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>
$page.setBgColor($ui.bgcolor)
$page.setTitle("Scorm content Upload")
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.menuColor" width=100%>
	<tr>
		<td>
        	<font face="$ui.sansSerifFonts"><b>
        	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		#if(($user_role == "instructor") || ($user_role == "teacher_assistant"))
        	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
        	<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm")>$brih_course $brih_mgmt</a> | $brih_upload $brih_scorm $brih_package
		#else
        	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | #if($lang == "hindi") $brih_content $RemoteShow #else $RemoteShow $brih_scorm $brih_content #end
        	</font>
       		</td>
		#end
  		<td align=right>
               	#if( $total_size!=0 )
                       	#if( $endIndex < $total_size )
                              #if( $endIndex < $userConf )
                              [$k - $total_size] of $total_size
                               #elseif($k == $j)
                               [$k - $total_size] of $total_size
                               #else
                               [$k - $endIndex] of $total_size
                               #end
                       	#else
                       	[$k - $total_size] of $total_size
                       	#end
               	#end
        	</td>
	</tr>
</table>
  <table width=100%>
#if($user_role == "instructor")
        <tr bgcolor="$ui.menuColor">
                #if($tdcolor != "1")
                <td>
                #elseif($tdcolor == "1")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","1") > #if($lang == "english") $brih_upload $brih_course $brih_content #else $brih_content $brih_upload #end </a></td>
               #if($tdcolor != "0")  
 <td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")>$brih_course $Profile_user</a></td>



		 #if($tdcolor != "2")
                <td>
                #elseif($tdcolor == "2")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","2") > #if($lang == "english") $brih_course $brih_content #else $brih_content #end </a></td>
 		#if($tdcolor != "3")
                <td>
                #elseif($tdcolor == "3")
                <td bgcolor="#AFDCEC">
                #end
             <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3") >$brih_course $RemoteConfiguration</a></td>
                #if($tdcolor != "4")
                <td>
                #elseif($tdcolor == "4")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") > #if($lang == "english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end </a></td>
                #if($tdcolor != "5")
                <td>
                #elseif($tdcolor == "5")
                <td bgcolor="#AFDCEC">
                #end
             <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") > #if($lang == "english") $RemoteConfiguration $brih_grade #else $brih_grade $RemoteConfiguration #end</a></td>
                #if($tdcolor != "6")
                <td>
                #elseif($tdcolor == "6")
                <td bgcolor="#AFDCEC">
                #end
                 <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") >$brih_scorm $brih_packager</a></td>
               #if($tdcolor != "7")
                <td>
                #elseif($tdcolor == "7")
                <td bgcolor="#AFDCEC">
                #end
                <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")>$brih_scorm $brih_player</a>
                </td>
        </tr>
#end

#if($user_role=="teacher_assistant")
 <tr>
 	#if($tdcolor != "1")    
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")> #if($lang == "english") $brih_course  $brih_content #else $brih_content #end </a></td>

        #if($tdcolor != "2")    
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2")> #if($lang !="english") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
        #if($tdcolor != "4")    
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4")> #if($lang == "english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end </a></td>

        #if($tdcolor != "6")    
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
 <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6")> $brih_scorm $brih_packager </a></td>
 #if($tdcolor != "7")
         <td>
         #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
         #end
       <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")> $brih_scorm $Repo_Player </a>
         </td>
</tr>
#end
</table>
<form name="frm" method="post" enctype="multipart/form-data"  action="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").setAction("ScormPlayer")">
<table width="100%" >
        #if(($user_role == "instructor") || ($user_role == "teacher_assistant"))
        <tr bgcolor="$ui.menuColor" width="100%"><td align="left" colspan="5">
        <b> #if($lang == "english") $brih_upload $brih_package $brih_interchange $brih_format $brih_file ($brih_zip) #else $brih_package $brih_interchange $brih_format $brih_file ($brih_zip) $brih_upload #end </b>
        </td>
	<td align="right">
	#if(($user_role == "instructor") || ($user_role == "teacher_assistant"))
        <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/ScormPlayerInst.html","newWin");>$brih_help</a>
	#else
        <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/ScormPlayerStu.html","newWin");>$brih_help</a>
	#end
	</td>
	</tr>
        <tr bgcolor="$ui.tableColor" width="100%">
        #fileUpload ("$brih_at_file" "file")
	<td colspan="6">
	</td>
        </tr>
        <tr bgcolor="$ui.menuColor" width="100%"><td colspan="6">
        <input type="submit" class="button-ftextstyle" name="eventSubmit_doUpload" value="$brih_upload" onClick="checkselect(document.frm,this);"/>
        </td></tr>
        #else
	#if($Mode == "NoBlank")
        <tr bgcolor="$ui.menuColor" width="100%"><td align="left" colspan="5"><b> #if($lang == "english") $brih_Launch $brih_scorm $brih_content #else $brih_content $brih_Launch #end </b>
	#else
	$brih_there #if($lang =="hindi") $brih_content #else $brih_scorm $brih_content #end
        #end
        #end
        <table width="100%" border="0">
        #if(($user_role == "instructor" && $Mode == "NoBlank") || ($user_role == "teacher_assistant" && $Mode == "NoBlank"))
        <tr bgcolor="$ui.menuColor"><td align="left"><font size="4"><b>$brih_file</b></font></td>
        <td align="left" colspan="6"><font size="4"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$QuestionBank_available $brih_action</b></font></td></tr>
                #foreach($topicList in $allTopics)
		#if($velocityCount%2==0)
                	<tr bgcolor="$ui.menuColor">
                #else
                	<tr bgcolor="$ui.tableColor">
		#end
  		<td align="left">
                #if($topicList.Alias=="Launch")
                	$topicList.Name<blink><font color="Green" size="5"><b>*</b></font></blink>
                #else
                	$topicList.Name
                #end
		</td>
                <td align="left"><a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("ziptopic",$topicList.Name).setAction("ScormPlayer").addPathInfo("actionName","eventSubmit_doDelete") onclick="javascript:return confirm('Do you want to delete this package')"><b>$brih_delete</b></a></td>
                <td align="left"><a href=$link.setPage("call,CourseMgmt_User,Launchcontent.vm").addPathInfo("package",$topicList.Name)><b> #if($lang == "hindi") $brih_content $RemoteShow #else $RemoteShow$brih_content$brih_Old #end </b></a></td>
                <td align="left"><a href=$link.setPage("call,CourseMgmt_User,Launchcontentnew.vm").addPathInfo("package",$topicList.Name)><b> #if($lang == "hindi") $brih_content $RemoteShow #else $RemoteShow$brih_content$brih_new  #end </b></a></td>
                #if($topicList.Alias=="Launch")
                	<td align="left"><u><font color="grey">$brih_Launch</font></u></td>
                	<td align="left"><a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("ziptopic",$topicList.Name).addPathInfo("type","Unlaunch").setAction("ScormPlayer").addPathInfo("actionName","eventSubmit_doLaunch")><b>$brih_unlaunch</b></a><div></td>
                #else
                	<td align="left"><a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("ziptopic",$topicList.Name).addPathInfo("type","Launch").setAction("ScormPlayer").addPathInfo("actionName","eventSubmit_doLaunch")><b>$brih_Launch</b></a></div></td>
                	<td align="left"><u><font color="grey">$brih_unlaunch</font></u></td>
                #end
			<td align="left"><a href=$link.setPage("call,CourseMgmt_User,LearnerProgressModule.vm").addPathInfo("count","7").addPathInfo("package",$topicList.Name)><b>$brih_scorm$brih_tracking</b></a></div></td>
                #end
                </tr>
         #end
        </table>
	##$Mode
        <table width="100%" border="0">
        #if($user_role == "student")
                #foreach($topicList in $allTopics)
			#if($velocityCount%2==0)
                	<tr bgcolor="$ui.menuColor">
                	#else
                	<tr bgcolor="$ui.tableColor">
                	#end
                	<td align="left">$topicList.getName()</td>
        		<td align="left"><a href=$link.setPage("call,CourseMgmt_User,Launchcontent.vm").addPathInfo("package",$topicList.getName())><b>$brih_play $brih_content$brih_Old</b></a></td>
        		<td align="left"><a href=$link.setPage("call,CourseMgmt_User,Launchcontentnew.vm").addPathInfo("package",$topicList.getName())><b>$brih_play $brih_content$brih_new</b></a></td>
			<td align="left"><a href=$link.setPage("call,CourseMgmt_User,LearnerProgressModule.vm").addPathInfo("count","7").addPathInfo("package",$topicList.getName())><b>$brih_scorm$brih_tracking</b></a></td>
        	#end
        	</tr>
       #end
      </table>
	#if($Mode == "NoBlank")
		<table bgcolor="#e5e5e5" width="100%"><tr bgcolor="$ui.menuColor"><td align="left">&nbsp;&nbsp;
        	#if($total_size <= $userConf)
                	<u><font color="white">$brih_first</font></u> &nbsp;
                	<u><font color="white">$brih_pre</font></u> &nbsp;
                	<u><font color="white">$brih_nxt</font></u> &nbsp;
                	<u><font color="white">$brih_last</font></u> &nbsp;
                	#elseif($startIndex == $userConf_string)
                	<u><font color="white">$brih_first</font></u> &nbsp;
                	<u><font color="white">$brih_pre</font></u> &nbsp;
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$startIndex)">$brih_nxt</a>&nbsp;
               		<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$check_last)">$brih_last</a>&nbsp;
                	#elseif($endIndex == $total_size || $endIndex > $total_size)
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$check_first)">$brih_first</a>&nbsp;
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$check_pre)">$brih_pre</a> &nbsp;
                	<u><font color="white">$brih_nxt</font></u> &nbsp;
                	<u><font color="white">$brih_last</font></u> &nbsp;
                #else
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$check_first)">$brih_first</a>&nbsp;
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$check_pre)">$brih_pre</a> &nbsp;
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex)">$brih_nxt</a> &nbsp;
                	<a href="$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("startIndex",$check_last)">$brih_last</a> &nbsp;
         	#end
         	</td></tr></table>
        #end
</table>
</form>
       <input type="hidden" name="actionName">
        <input type="hidden" name="type" value="$type">
</html>
