#*
 * @(#) UploadImage.vm
 * Copyright (c) 2006,2009-2010 BSS Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:nksngh_p@yahoo.co.in">Nagendra Kumar Singh</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @author <a href="mailto:nksinghiitk@gmail.com">Nagendra Kuamr Singh</a>
 * @author <a href="mailto:parasharirajeev@gmail.com">Rajeev Parashari</a>
 * @author <a href="mailto:sunil0711@gmail.com">Sunil Yadav</a>
 * @modified date: 30-03-2010
 * @modified date: 25-08-2012 (Sunil Yadav)
 * Contributors: Members of Brihaspati software solutions Kanpur
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle(" Home | Course Management | Upload Course Header")
$!data.getMessage()
<head>
<link rel="stylesheet" type="text/css" href="$content.getURI("/scrpts/htmlarea.css")" media="screen"/>
</head>

#set($lang = $data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
        <a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>$brih_home</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a> |
        #if($lang=="hindi")
		#if($mode == "UploadImage")
                 $brih_upload
		#else
		$brih_grade $RemoteConfiguration 	
		#end
        #else
		#if($mode == "UploadImage")
                 $brih_upload
                #else
                $brih_grade $RemoteConfiguration
                #end

                 
        #end
<td align="right"><img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/HeaderImage.html","newWin"); style=text-decoration:none>$brih_help</a>
        
</td></tr>
</table>
##if($mode == "UploadImage")

<table width=100%>
#if($user_role == "instructor")
<tr bgcolor="$ui.menuColor">
		#if($tdcolor != "1")
                <td>
		#elseif($tdcolor == "1")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") > #if($lang =="english") $brih_course $brih_content #else $brih_content #end</a></td>
		#if($tdcolor != "0")  
 	<td>
        #elseif($tdcolor == "0")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseMgmt.vm").addPathInfo("count","0")> $brih_course $Profile_user</a></td>

		#if($tdcolor != "2")
                <td>
		#elseif($tdcolor == "2")
		<td bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") > #if($lang =="english")$brih_upload $brih_course $brih_content #else $brih_content $brih_upload #end</a></td>
		#if($tdcolor != "3")
                <td>
		#elseif($tdcolor == "3")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3") >$brih_course $RemoteConfiguration</a></td>
		#if($tdcolor != "4")
                <td>
		#elseif($tdcolor == "4")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") > #if($lang =="english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end</a></td>
		#if($tdcolor != "5")
                <td>
		#elseif($tdcolor == "5")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") > #if($lang =="english") $RemoteConfiguration $brih_grade #else $brih_grade $RemoteConfiguration #end</a></td>
		#if($tdcolor != "6")
                <td>
		#elseif($tdcolor == "6")
		<td bgcolor="#AFDCEC">
		#end
                <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") >$brih_scorm $brih_packager</a></td>
                     #if($tdcolor != "7")
         <td>
         #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
         #end
         <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")>$brih_scorm $Repo_Player</a>
         </td>
</td></tr>
#end
#########TA
#if($user_role == "teacher_assistant")

         #if($tdcolor != "1")    
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1")> #if($lang == "english") $brih_course  $brih_content #else $brih_content #end </a></td>

        #if($tdcolor != "2")    
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2")> #if($lang !="english") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
        #if($tdcolor != "4")    
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4")> #if($lang == "english") $brih_upload $brih_course $brih_header #else $brih_course $brih_Of $brih_header $brih_upload #end </a></td>

        #if($tdcolor != "6")    
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
 <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6")> $brih_scorm $brih_packager </a></td>
 #if($tdcolor != "7")
         <td>
         #elseif($tdcolor == "7")
         <td bgcolor="#AFDCEC">
         #end
       <a href=$link.setPage("call,CourseMgmt_User,ScormPlayerList.vm").addPathInfo("count","7")> $brih_scorm $Repo_Player </a>
         </td>
#end

</tr>
</table>
##end
#if($mode == "UploadImage")
	<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode",$mode).setAction("UserAction_Instructor")">
<table width=100% bgcolor="$ui.tableColor" cellpadding="2" align="left">
        <tr bgcolor="$ui.menuColor"><td colspan=2><b>$brih_upload</b></td></tr>
        <tr>

                #fileUpload ("$brih_at_file <font color=RED>*</font>" "file")

        </tr>
        <tr bgcolor="$ui.menuColor">
        <td colspan=2 align="left">
       		<input type="button" class="button-ftextstyle" name="eventSubmit_doUploadImage" value="$brih_upload" onClick="CheckField(document.frm,this);"/>
		<input type="reset" class="button-ftextstyle" name="Reset" value="$brih_clear" onClick="checkClear(document.frm,this);"/>
                <input type="hidden" name="actionName" value=""/>
                <input type="hidden" name="count" value="$tdcolor"/>

        </td>
        </tr>
</table>
</form>
#else
	##<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,CourseManagement.vm").setAction("UserAction_Instructor")">
	<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode",$mode).setAction("UserAction_Instructor")">
<table width=100% bgcolor="$ui.menuColor"  align="left">
	<tr>
	<td align="left"><b>$brih_grade $RemoteConfiguration</b></td>
	</tr>
	<tr bgcolor="$ui.tableColor">
                <td>
	 		<font size=2><b> $brih_grade </b></font> 
                </td>
                <td>
                        <font size=2><b> $brih_percentage </b></font>
                </td>
        </tr>
        <tr>
	        <td> <font size=2><b> $brih_a </b></font></td>
		<td><input type="text" name=A  size=10 onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" maxlength = "2" value=$!percentage ></td>
		<span id="error" style="color: Red; display: none">*$brih_mobilemsg</span>
        </tr>
        <tr bgcolor="$ui.tableColor">
		<td><font size=2><b> $brih_b </b></font></td>
                <td><input type="text" name=B  size=10 onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" maxlength = "2" value=$!percentage1 ></td>
        </tr>
	<tr>
		<td><font size=2><b> $brih_c </b></font></td>
                <td><input type="text" name=C size=10 onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" maxlength = "2" value=$!percentage2 ></td>
	</tr>
	<tr bgcolor="$ui.tableColor">
                <td><font size=2><b> $brih_d </b></font></td>
                <td><input type="text" name=D  size=10 onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" maxlength = "2" value=$!percentage3 ></td>
        </tr>
	<tr>
                <td><font size=2><b> $brih_e </b></font></td>
                <td><input type="text" name=E  size=10 onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" maxlength = "2" value=$!percentage4 ></td>
        </tr>
	<tr bgcolor="$ui.tableColor" >
		<td colspan=2 align="left">
			<input type="button" class="button-ftextstyle" name="eventSubmit_doGradecard" value="$brih_upload" onClick="CheckFields(document.frm,this);"/>
        	        <input type="hidden" name="actionName" value=""/>
        	        <input type="hidden" name="count" value="$tdcolor"/>
                </font>
	        </td>
        </tr>
</table>
</form>
#end
<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function CheckField(frm,field)
        {
                if(frm.file.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Fields");
                }
        }
	function CheckFields(frm,field)
        {
                if(frm.A.value!="" && frm.B.value!="" && frm.C.value!="" && frm.D.value!="" && frm.E.value!="" )
                {
			var temp=100;
                        if(frm.A.value > temp)
                        {
                                alert("Percentage should be in between 0 to 100 in grade A !!");
                                return false;
                        }
                        if(frm.B.value > temp)
                        {
                                alert("Percentage should be in between 0 to 100 in grade B !!");
                                return false;
                        }
                        if(frm.C.value > temp)
                        {
                                alert("Percentage should be in between 0 to 100 in grade C !!");
                                return false;
                        }
                        if(frm.D.value > temp)
                        {
                                alert("Percentage should be in between 0 to 100 in grade D !!");
                                return false;
                        }
                        if(frm.E.value > temp)
                        {
                                alert("Percentage should be in between 0 to 100 in grade E !!");
                                return false;
                        }


			var temp1=frm.A.value+frm.B.value+frm.C.value+frm.D.value+frm.E.value;
			if(isNumberString(temp1))
                        {
                               alert("Percentage should be only positive integer !!");
                               return false;
                        }
			
			frm.actionName.value=field.name;
                        frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Fields");
                }
        }
	
	function isNumberString(chString)
        {
                if(chString.length==0)
                        return false;
                var RefString="0123456789";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
                                return true;
                        }
                }
                return false;
        }	
</SCRIPT>
<script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
        return ret

}
    </script>
