#*
 * @(#) View.vm
 * Copyright (c) 2005,2009-2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author(Modify) <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author<a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 07-04-2010
 * @Add FAQ link (05-09-2010)
 * @author <a href="palseema30@gmail.com">ManoramaPal</a>
 * @author <a href="kishore.shukla@gmail.com">Kishore Kumar Shukla</a>
 * @author <a href="mailto:smita37uiet@gmail.com">Smita Pal</a>
 * @modified date: 07-04-2010,27-09-2010
 * @modified date: 15-02-2011
*#

<link type="text/css" href="$content.getURI("/scrpts/fixedstyle.css")" rel="stylesheet"></script>
## If some message has been set, that is retrieved and displayed.
$!data.getMessage()
$page.setBgColor($ui.bgcolor)
## Retreiving the $lang (representing the choosen language for display, which
## was set in the corresponding screen class.
#set($lang = $data.getUser().getTemp("lang" ).toString()) 

<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
	<font face="$ui.sansSerifFonts">
	#if($isAdmin=="true"||$isInstructor=="true")
		$page.setTitle("Home | $course | Course Content | View Content")
		##<a href=$link.setPage("call,Admin.vm")>$brih_home</a> | $course | <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm")>$brih_course $brih_Content</a> |
		<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_home</a> | $course | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","2") style=text-decoration:none>$brih_course $brih_Content</a> |
			#if($lang == "hindi")
				  $brih_content - $brih_view
			#else
				 $brih_view $brih_content
			#end
	#elseif ($isInstructor=="true")
	##	$page.setTitle("$brih_home | $course | $brih_course $brih_mgmt | $brih_course $brih_content | $brih_view $brih_content")
		<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_home</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> | 
		##<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a> | 
		##<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","2") style=text-decoration:none>$brih_course $brih_content</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none>$brih_course $brih_mgmt</a> | 
			#if($lang == "hindi")
				  $brih_content - $brih_view
			#else
				 $brih_view  $brih_content
			#end 
	#else
 		$page.setTitle("Home | $course | Course Content | View Content")
        	<a href=$link.setPage("Index.vm") style=text-decoration:none>$brih_home</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang == "hindi") $brih_content #else $brih_course $brih_content #end </a> |
			#if($lang == "hindi")
				  $brih_content - $brih_view
			#else
				 $brih_view $brih_content
			#end
	#end
	</font>
</td>
</tr>
</table>
#if($isInstructor == "true")
<table width=100%>
<tr bgcolor="$ui.tableColor">
	#if($tdcolor != "1")
        <td>
	#elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang == "hindi") $brih_content #else $brih_course $brih_content #end </a></td>
	#if($tdcolor != "2")
        <td>
	#elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","2") style=text-decoration:none> #if($lang == "hindi") $brih_content $brih_upload #else $brih_upload $brih_course $brih_content #end </a></td>
	#if($tdcolor != "3")
        <td>
	#elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("cName",$course).addPathInfo("count","3") style=text-decoration:none>$brih_course $RemoteConfiguration</a></td>
	#if($tdcolor != "4")
        <td>
	#elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("count","4") style=text-decoration:none> #if($lang == "hindi") $brih_course $brih_header $brih_upload #else $brih_upload $brih_course $brih_header #end</a></td>
	#if($tdcolor != "5")
        <td>
	#elseif($tdcolor=="5")
        <td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,UploadImage.vm").addPathInfo("mode","NotUploadImage").addPathInfo("count","5") style=text-decoration:none> #if($lang == "hindi") $brih_grade $RemoteConfiguration  #else $RemoteConfiguration $brih_grade #end </a></td>
	#if($tdcolor != "6")
        <td>
	#elseif($tdcolor=="6")
        <td bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,CourseMgmt_User,BrihaspatiEditor.vm").addPathInfo("count","6") style=text-decoration:none>$brih_scorm $brih_packager</a></td>
</tr>
</table>
#end   
#if($Mode=="NoBlank")
<form method="post" enctype="multipart/form-data" >

#set($userName = $data.getUser().getName())

#if($userName == "guest")
	<div style="background-color:$ui.tableColor;text-align:left">
#else
	<div style="background-color:$ui.menuColor;text-align:left">
#end
	#if($lang == "hindi") 
		<div  class="fixed" style='width: 900px;'><H><b>$topic $brih_contentOf</b></H></div>
	#else
		<div  class="fixed" style='width: 900px;'><H><b>$brih_contentOf $topic</b></H></div>
	#end
</div>	

#if($userName == "guest")
	<div style="background-color:$ui.menuColor">
#else
	<div style="background-color:$ui.tableColor">
#end
<table  width=100%>
<tr bgcolor="$ui.tableColor">
	<a href=$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("mode","Course").addPathInfo("name","$course").addPathInfo("location","$topic").addPathInfo("count","1") style=text-decoration:none> #if($lang =="english") $WikiSave $brih_as $brih_Bookmark #else $brih_Bookmark $brih_Of2 $brih_as $brih_in $WikiSave #end </a>
<td align="right"><a href=$link.setPage("call,FAQ,FAQ.vm").addPathInfo("mode","alllist").addPathInfo("category",$topic).addPathInfo("count","1") style=text-decoration:none>$brih_FAQ</a></td>
</tr>
<tr><td colspan="6">
  	<div style="background-color:$ui.menuColor;text-align:left">
		<H3>$brih_desc</H3>
	</div>
  	<div style="background-color:$ui.tableColor;text-align:left">
		<textarea name=description rows=5 cols=45 >$!topicDesc</textarea>
	</div>
</td></tr>
</table>
		<table bgcolor="$ui.tableColor" width=100%>
		<tr><td>   
		<table width=100% bgcolor="$ui.tableColor" cellpadding="5">
              		#if ($errorTemplate)
			<tr>
			<td colspan="4">
				<table bgcolor="$ui.bgcolor">
			        <tr>
			        <td>
			        	<img src="$ui.image($ui.alertImage,$data)">
			        </td>
			        <td>
			        	#parse ($errorTemplate)
			        </td>
			        </tr>
			        </table>
			</td>
			</tr>
			#end
	                <tr>
  			<div style="background-color:$ui.menuColor;text-align:left">
			       #if($status == "Remote")
                                       <CENTER><H3><u>$brih_view</H3>
                               #else
                                       ##<Center><H3>$brih_view/$brih_download </H3>
                                       <left><H3>$brih_view/$brih_download </H3>
                               #end
  			</div>
	
			</tr>	
				#set ( $count=1 )
				<table width=100% bgcolor="$ui.tableColor"cellpadding=0 cellspacing=2>

				#if($role=="instructor")
                                                <font color="$ui.fontColorBlue">$RemoteTag $RemoteInstitute $instnm </font>
                                #end

				#foreach($file in $dirContent)
				#if($velocityCount%2==0)
				<tr bgcolor="$ui.menuColor">
				#else
				<tr bgcolor="$ui.tableColor">
				#end
				<td>$count.&nbsp;&nbsp;&nbsp;</td>
				#set ( $aliasval ="$!file.Alias")
                		        #if($aliasval.length()==0)
                                	#set ( $aliasval ="$file.Name")
		                        #end
					#set ($count2 = 1)
					#foreach($file_type in $fileType)
						#if($count == $count2)
## if file is flv than set the path 
							 #if($aliasval.toLowerCase().endsWith("flv"))
                                                        <td><a href=javascript:popupWin("$link.setPage("call,ViewFilePlayer.vm").addPathInfo("topic",$topic).addPathInfo("type","content").addPathInfo("filename",$file.Name)","newWin"); style=text-decoration:none>$aliasval</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td></td><td></td>
							 #elseif($aliasval.toLowerCase().endsWith("pdf"))
							 <td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("topic",$topic).addPathInfo("type","content").addPathInfo("filename",$file.Name)","newWin"); style=text-decoration:none>$aliasval</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><a href=javascript:popupWin("$link.setPage("call,ViewDocumentViewer.vm").addPathInfo("topic",$topic).addPathInfo("type","content").addPathInfo("filename",$file.Name)","newWin"); style=text-decoration:none>$brih_view $brih_with $brih_viewer</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td><b><a href=$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("mode","Course_file").addPathInfo("name","$topic").addPathInfo("location",$file.Name) style=text-decoration:noneb>$brih_Bookmark</a></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        #elseif($status == "Remote")
                                            <td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("pDate",$file.PDate).addPathInfo("contents",$username).addPathInfo("cName",$cName).addPathInfo("TotalFiles",$topic).addPathInfo("type","Remote").addPathInfo("filename",$file.Name)","newWin"); style=text-decoration:none>$aliasval</a></td>
                                                        #elseif($status == "Repo")
                                                <td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("contents",$username).addPathInfo("TotalFiles",$topic).addPathInfo("type","repo").addPathInfo("filename",$file.Name)","newWin") style=text-decoration:none>$aliasval</a>&nbsp;&nbsp;</td>
                                                        #else
                                                        <td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("topic",$topic).addPathInfo("type","content").addPathInfo("filename",$file.Name)","newWin"); style=text-decoration:none>$aliasval</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td></td>
                                                        <td><b><a href=$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("mode","Course_file").addPathInfo("name","$topic").addPathInfo("location",$file.Name) style=text-decoration:none>$brih_Bookmark</a></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        #end

							#if($file_type == "file")
								#if($status == "Remote")
                                                        		 <td></td>
	                                                        #elseif($status == "Repo")
									<td><a href=$link.setPage("call,ViewFileContent.vm").addPathInfo("contents",$username).addPathInfo("TotalFiles",$topic).addPathInfo("dl",1).addPathInfo("type","repo").addPathInfo("filename",$file.Name) style=text-decoration:none>$brih_download</a>&nbsp;&nbsp;</td>
								#else
									<td> <a href=$link.setPage("call,ViewFileContent.vm").addPathInfo("topic",$topic).addPathInfo("dl",1).addPathInfo("type","content").addPathInfo("filename",$file.Name) style=text-decoration:none>$brih_download</a>&nbsp;&nbsp;</td>
								#end
							#else
								<td> $brih_download &nbsp;&nbsp; </td>
							#end
								<td>$file.PDate</td>			
						#end
						#set ($count2=$count2+1)
					#end
				</tr>
				#set ( $count= $count+1)
				#end
				</table>
		       </td>
		      </tr>
		    </table> 
	     	    #if($role=="instructor")
		    ##if($unpublist.getLength()!=0)
		    <table width=100% bgcolor="$ui.tableColor" cellpadding=0 cellspacing=2>
			<tr bgcolor="$ui.menuColor"><td colspan=3 align="left">$brih_unpublish $brih_file</td></tr>
			#set ( $count = 1)
			#foreach($upfile in $unpublist)
			#if($velocityCount%2==0)
			<tr bgcolor="$ui.menuColor">
			#else
			<tr bgcolor="$ui.tableColor">
			#end
					<td>$count.&nbsp;&nbsp;&nbsp;</td>
					<td><a href=javascript:popupWin($link.setPage("call,ViewFileContent.vm").addPathInfo("topic","$topic").addPathInfo("type","content").addPathInfo("type","unpub").addPathInfo("filename",$upfile),"newWin"); style=text-decoration:none> $upfile </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 	</td>
					<td> <a href=$link.setPage("call,ViewFileContent.vm").addPathInfo("topic",$topic).addPathInfo("dl",1).addPathInfo("type","content").addPathInfo("type","unpub").addPathInfo("filename",$upfile) style=text-decoration:none>$brih_download</a>&nbsp;&nbsp;</td>
				</tr>
				#set ( $count= $count+1)
			#end
		    </table>
		   ##end
		   #end
		</div>
  </div>
</form>
#else
##No Publish File in the $topic Topic of $course
	#if($lang == "hindi")
		<font color="blue">$course</font>$brih_topicOf $topic $brih_publishFileMsg
	#else
		$brih_publishFileMsg $topic $brih_topicOf <font color="blue">$course</font>
	#end
#end
<SCRIPT language="JavaScript">
function popupWin(urlName,popupName)
{
         window.open(urlName,popupName,"toolbar=yes,scrollbars=yes,resizable=yes");
}
</SCRIPT>
