#*
 * @(#) Logwiki.vm
 * Copyright(c)2005,2012 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * @author <a href="mailto:sunil.singh6094@gmail.com">Sunil Kumar</a>
 * @author <a href="mailto:rekha20july@gmail.com">Rekha Devi Pal</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_home | $course | $brih_Wiki | $WikiLog $brih_Wiki")
$page.setBgColor("#ffffff")
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.menuColor" width=100%>
<tr align="right">
<td>
        <font face="$ui.sansSerifFonts"><b>
        $brih_Wiki $WikiLog
        |<a href=$link.setPage("call,Wiki,Wiki.vm")>$brih_Wiki</a> 
        |<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> 
        |<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> 

        </font>
</td>
</tr>
</table>
<table width=100%  bgcolor="$ui.tableColor">
	<tr align="right" bgcolor="$ui.tableColor">
                <a href=javascript:popupWin("/brihaspati/docs/WikiHelp.html","newWin");>$brih_help</a><img src="$content.getURI("/images/Lefthand.gif")">
        	<td colspan="2">
                	<a href=$link.setPage("call,Wiki,Wiki_Home.vm") style=text-decoration:none > $brih_Wiki $brih_home </a> 
	                <a href=$link.setPage("call,Wiki,Wiki.vm") style=text-decoration:none > $brih_index </a>
			<a href=$link.setPage("call,Wiki,Adminwiki.vm") style=text-decoration:none > $Wikimain5 </a>
	      	</td>
	        </tr>
        <tr align="right">
		<td>
			#if($lang == "hindi")
				$WikiLogtxt1  <INPUT type="text" value="$filename" size="25" READONLY> 
			#else 
				 <INPUT type="text" value="$filename" size="25" READONLY>  $WikiLogtxt1 
			#end
		</td>
	</tr>
	<tr align="right">
        	<td width="90%" colspan="3">
<TEXTAREA  wrap="virtual" name="text" rows="25"  cols="100" READONLY>
#foreach($t in $first)
$t
#end
</TEXTAREA>
		</td>
      	</tr>
</table>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }
</SCRIPT>
