.ThemeAquaSubMenu {
	background: transparent;
	border: 1px solid #400000;
	border-bottom: 0px;
}
.ThemeAquaSubMenuTable {
	width: 130px;
	padding: 0px;
	cursor: default;
	background-color: #E7E7E7;
	border: 0px;
}
.ThemeAquaSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeAquaMenuItemHover .ThemeAquaMenuItemLeft, .ThemeAquaMenuItemActive .ThemeAquaMenuItemLeft {
	background-color: #4ECAFD;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItemHover .ThemeAquaMenuItemText, .ThemeAquaMenuItemActive .ThemeAquaMenuItemText, .ThemeAquaMenuItemHover .ThemeAquaMenuItemText a, .ThemeAquaMenuItemActive .ThemeAquaMenuItemText a {
	background-color: #4ECAFD;
	text-indent: 5px;
	text-decoration: underline;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMenuItemHover .ThemeAquaMenuItemRight, .ThemeAquaMenuItemActive .ThemeAquaMenuItemRight {
	background-color: #4ECAFD;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItemHover .ThemeAquaMenuFolderLeft, .ThemeAquaMenuItemActive .ThemeAquaMenuFolderLeft {
	background-color: #0395D3;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItemHover .ThemeAquaMenuFolderText, .ThemeAquaMenuItemActive .ThemeAquaMenuFolderText, .ThemeAquaMenuItemHover .ThemeAquaMenuFolderText a, .ThemeAquaMenuItemActive .ThemeAquaMenuFolderText a {
	background-color: #0395D3;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMenuItemHover .ThemeAquaMenuFolderRight, .ThemeAquaMenuItemActive .ThemeAquaMenuFolderRight {
	background-image: url(ThemeAqua6.png);
	background-repeat: no-repeat;
	background-color: #0395D3;
	background-position: 0px 0px;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItem .ThemeAquaMenuItemLeft {
	background-color: #4ECAFD;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItem .ThemeAquaMenuItemText, .ThemeAquaMenuItem .ThemeAquaMenuItemText a {
	background-color: #4ECAFD;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMenuItem .ThemeAquaMenuItemRight {
	background-color: #4ECAFD;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItem .ThemeAquaMenuFolderLeft {
	background-color: #4ECAFD;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #400000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenuItem .ThemeAquaMenuFolderText, .ThemeAquaMenuItem .ThemeAquaMenuFolderText a {
	background-color: #4ECAFD;
	text-indent: 5px;
	text-decoration: none;
	color: #002840;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #400000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMenuItem .ThemeAquaMenuFolderRight {
	background-image: url(ThemeAqua5.png);
	background-repeat: no-repeat;
	background-color: #4ECAFD;
	background-position: 0px 0px;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #400000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMenu {
	width: 52px;
	padding: 0;
	background-color: transparent;
}
.ThemeAquaMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeAquaMenu tr {
	padding: 0px;
	margin: 0px;
	width: 52px;
}
.ThemeAquaMainItemHover .ThemeAquaMainItemLeft, .ThemeAquaMainItemActive .ThemeAquaMainItemLeft {
	background-image: url(ThemeAqua4.png);
	background-repeat: repeat-x;
	background-color: #0395D3;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #0395D3;
	border-left: 1px solid #0395D3;
	border-top: 1px solid #0395D3;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItemHover .ThemeAquaMainItemText, .ThemeAquaMainItemActive .ThemeAquaMainItemText, .ThemeAquaMainItemHover .ThemeAquaMainItemText a, .ThemeAquaMainItemActive .ThemeAquaMainItemText a {
	background-image: url(ThemeAqua4.png);
	background-repeat: repeat-x;
	background-color: #0395D3;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #0395D3;
	border-top: 1px solid #0395D3;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMainItemHover .ThemeAquaMainItemRight, .ThemeAquaMainItemActive .ThemeAquaMainItemRight {
	background-image: url(ThemeAqua4.png);
	background-repeat: repeat-x;
	background-color: #0395D3;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #0395D3;
	border-right: 1px solid #0395D3;
	border-top: 1px solid #0395D3;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItemHover .ThemeAquaMainFolderLeft, .ThemeAquaMainItemActive .ThemeAquaMainFolderLeft {
	background-image: url(ThemeAqua2.png);
	background-repeat: repeat-x;
	background-color: #0395D3;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #0395D3;
	border-left: 1px solid #0395D3;
	border-top: 1px solid #0395D3;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItemHover .ThemeAquaMainFolderText, .ThemeAquaMainItemActive .ThemeAquaMainFolderText, .ThemeAquaMainItemHover .ThemeAquaMainFolderText a, .ThemeAquaMainItemActive .ThemeAquaMainFolderText a {
	background-image: url(ThemeAqua2.png);
	background-repeat: repeat-x;
	background-color: #0395D3;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #0395D3;
	border-top: 1px solid #0395D3;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMainItemHover .ThemeAquaMainFolderRight, .ThemeAquaMainItemActive .ThemeAquaMainFolderRight {
	background-image: url(ThemeAqua2.png);
	background-repeat: repeat-x;
	background-color: #0395D3;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #0395D3;
	border-right: 1px solid #0395D3;
	border-top: 1px solid #0395D3;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItem .ThemeAquaMainItemLeft {
	background-image: url(ThemeAqua3.png);
	background-repeat: repeat-x;
	background-color: #4ECAFD;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #4ECAFD;
	border-left: 1px solid #4ECAFD;
	border-top: 1px solid #4ECAFD;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItem .ThemeAquaMainItemText, .ThemeAquaMainItem .ThemeAquaMainItemText a {
	background-image: url(ThemeAqua3.png);
	background-repeat: repeat-x;
	background-color: #4ECAFD;
	text-indent: 5px;
	text-decoration: none;
	color: #A5E3FE;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #4ECAFD;
	border-top: 1px solid #4ECAFD;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMainItem .ThemeAquaMainItemRight {
	background-image: url(ThemeAqua3.png);
	background-repeat: repeat-x;
	background-color: #4ECAFD;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #4ECAFD;
	border-right: 1px solid #4ECAFD;
	border-top: 1px solid #4ECAFD;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItem .ThemeAquaMainFolderLeft {
	background-image: url(ThemeAqua1.png);
	background-repeat: repeat-x;
	background-color: #4ECAFD;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #4ECAFD;
	border-left: 1px solid #4ECAFD;
	border-top: 1px solid #4ECAFD;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaMainItem .ThemeAquaMainFolderText, .ThemeAquaMainItem .ThemeAquaMainFolderText a {
	background-image: url(ThemeAqua1.png);
	background-repeat: repeat-x;
	background-color: #4ECAFD;
	text-indent: 5px;
	text-decoration: none;
	color: #A5E3FE;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #4ECAFD;
	border-top: 1px solid #4ECAFD;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeAquaMainItem .ThemeAquaMainFolderRight {
	background-image: url(ThemeAqua1.png);
	background-repeat: repeat-x;
	background-color: #4ECAFD;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #4ECAFD;
	border-right: 1px solid #4ECAFD;
	border-top: 1px solid #4ECAFD;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeAquaSubMenu TD, .ThemeAquaMenu TD, .ThemeAquaMenu TR {
	vertical-align: middle;
}
.ThemeAquaMenuItem .ThemeAquaMenuSplitLeft {
	background-color: #4ECAFD;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeAquaMenuItem .ThemeAquaMenuSplitText {
	background-color: #4ECAFD;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.ThemeAquaMenuItem .ThemeAquaMenuSplitRight {
	background-color: #4ECAFD;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeAquaMainItem .ThemeAquaMainSplitLeft {
	background-color: transparent;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeAquaMainItem .ThemeAquaMainSplitText {
	background-color: transparent;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeAquaMainItem .ThemeAquaMainSplitRight {
	background-color: transparent;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeAquaMainItem {
	vertical-align: middle;
}
.ThemeAquaHorizontalSplit {
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	width: 0px;
	background-color: transparent;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeAquaMenuItem img.seq1, .ThemeAquaMainItem img.seq1, .ThemeAquaMenuItemHover seq2, .ThemeAquaMenuItemActive seq2, .ThemeAquaMainItemHover seq2, .ThemeAquaMainItemActive seq2 {
	display: inline;
}
.ThemeAquaMenuItem .seq2, .ThemeAquaMenuItemHover .seq1, .ThemeAquaMenuItemActive .seq1, .ThemeAquaMainItem .seq2, .ThemeAquaMainItemHover .seq1, .ThemeAquaMainItemActive .seq1 {
	display: none;
}
.ThemeAquaMainItem, .ThemeAquaMainItemHover, .ThemeAquaMainItemActive, .ThemeAquaMenuItem, .ThemeAquaMenuItemHover, .ThemeAquaMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeAquaSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
