#*
 * @(#) InstAdminTA_Management.vm
 * Copyright (c) 2013 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:richa.tandon1@gmail.com">Richa Tandon</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @modified date: 08-04-2013 (Priyanka Rawat)
 * @modified date: 21-06-2013 (Deepika Chaudhary)
 *#

$page.setTitle("$brih_home | $brih_course $brih_mgmt")
$page.setBgColor("bgcolor")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())
<head>
<link rel="stylesheet" href="$content.getURI("/scrpts/htmlarea.css")" type="text/css">
<script type="text/javascript" src="$content.getURI("/scrpts/PopWin.js")"></script
</head>

	<table bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor">
	<td colspan=7>
		<a href=$link.setPage("Index.vm") style=text-decoration:none> $brih_home</a> |$brih_course $brih_mgmt
	</td>
        <td align="right">
                <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/Course_Management.html","newWin"); style=text-decoration:none><font size=4>$brih_help</font></a>
        </td>
	</tr>
	</table>
	
	#set($headings = ["","$brih_first $brih_name","$brih_last $brih_name","$brih_email"] )

	<FORM ENCTYPE="multipart/form-data" NAME="frm" METHOD="POST" action="$link.setPage("call,TA_Management,InstAdminTA_Management.vm").setAction("TA_Registeration")">
	<table width="100%" bgcolor="$ui.tableColor">
	<tr>
		<td> #if($lang == "bhojpuri" || $lang == "hindi" || $lang == "marathi") $brih_courseName $brih_select #else $brih_select $brih_courseName #end </td>
                <td colspan=2><select class="drop" name="crsname" size="1" onChange="Changename(document.frm,this);" style="width:300px;"/>
		#if($cname!="")
		 	<option value="$cname" style="width:275px;">$coursename</option>
		#else
			<option>  #if($lang == "marathi") $brih_course $brih_select #else $brih_select $brih_course #end </option>
		#end
		#foreach($cnamelist in $courseList)
			#if($cname!=$cnamelist.getGroupName())
				<option value="$link.setPage("call,TA_Management,InstAdminTA_Management.vm").addPathInfo("cname",$cnamelist.getGroupName())" style="width:275px;" title="$cnamelist.getCAlias(): $cnamelist.getCourseName()-$cnamelist.getUserName()">$cnamelist.getCAlias(): $cnamelist.getCourseName()-$cnamelist.getUserName()</option>
			#end
		#end
		</td>
		<td colspan=2> <img src="$content.getURI("/images/star.png")"> #if($lang == "hindi" || $lang == "bhojpuri" || $lang == "marathi") $brih_primary $brih_indicate  #else $brih_indicate $brih_primary #end </td>
	</tr>
	#if(($Instrdetail.size()>0)||($userdetail.size()>0))
	        <tr bgcolor="$ui.menuColor">
        		#foreach ($heading in $headings)
		        #headerCell ($heading)
		        #end
        	</tr>
	#end
	
	##List of registered TA 
	#if($userdetail.size()>0)
   		<tr>
			<td colspan=5 bgcolor="#AFDCEC">
				#if($lang == "hindi" || $lang=="gujarati") $bri_ta $brih_listOf #else $brih_listOf $bri_ta #end 
			</td>
		</tr>
		#foreach($users in $userdetail)
			#if($velocityCount%2==0)
			        <tr bgcolor="$ui.menuColor">
				#set($boolFlag = true)
		        #else
			        <tr bgcolor="$ui.tableColor">
				#set($boolFlag = false)
		        #end
			
			#foreach($user in $users)
				<td><INPUT TYPE="CHECKBOX" NAME="$!user.UserName" onClick="addDeleteTAList(this,document.frm);"></td>
			        <td>$!user.getFirstName()</td>	
				<td>$!user.getLastName()</td>
				<td>$!user.UserName</td>
			</tr>
         		#end
		#end
		#if($boolFlag)
			<tr>
		#else
			<tr bgcolor="$ui.menuColor">
		#end
		<td colspan=6>
                        <INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doRemoveTeacherAssistant" VALUE="$brih_delete" onClick="DeleteField(document.frm,this);">
                        <INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
		</td>
		</tr>
	#end
	
	##List of Registered Instructor
	#if($Instrdetail.size()>0)
	<tr>
		<td colspan=5 bgcolor="#AFDCEC">$brih_listOfInstructor</td>
	</tr>
	#foreach($InstrList in $Instrdetail)
		#if($velocityCount%2==0)
		        <tr bgcolor="$ui.menuColor">
			#set($boolFlag = true)
	        #else
		        <tr bgcolor="$ui.tableColor">
			#set($boolFlag = false)
	        #end
	
		#foreach($user1 in $InstrList)
			#if($!user1.UserName==$PrimaryInstr)
				<td>
			#else
				<td><INPUT TYPE="CHECKBOX" NAME="$!user1.UserName" onClick="addDeleteInstrList(this,document.frm);"></td>
			#end
		        <td>$!user1.getFirstName()</td>	
			<td>$!user1.getLastName()</td>
			#if($!user1.UserName==$PrimaryInstr)
				<td><img src="$content.getURI("/images/star.png")"> $!user1.UserName</td>
			#else
				<td>$!user1.UserName</td>
			#end
			</tr>
       		#end
	#end
		#if($boolFlag)
			<tr>
		#else
			<tr bgcolor="$ui.menuColor">
		#end
                	<td colspan=6>
			#if($Instrdetail.size()!=1)
	                        <INPUT TYPE="button" class="button-ftextstyle" NAME="eventSubmit_doRemoveInstructor" VALUE="$brih_delete" onClick="DeleteField(document.frm,this);">
			#end
                        <INPUT TYPE="hidden" NAME="deleteInstrList" VALUE="">
                        <INPUT TYPE="hidden" NAME="actionName" VALUE="">
                </td>
         </tr>
	#end
	<INPUT TYPE="hidden" NAME="cname" VALUE="$cname">

	</table>
</FORM>
	

<SCRIPT LANGUAGE="javascript">
	 function addDeleteTAList(field,frm){
                if(field.checked){
                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";

                }
                else{
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
        }
	 function addDeleteInstrList(field,frm){
                if(field.checked){
                        frm.deleteInstrList.value=frm.deleteInstrList.value+field.name+"^";

                }
                else{
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteInstrList.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteInstrList.value=actualString;
                }
        }
        function DeleteField(frm,field) {
                frm.actionName.value=field.name;
                frm.submit();
        }

	function Changename(frm,field)
        {
                window.location = field.value;
        }
</SCRIPT>
                                    
