#*
 * @(#) TA_Management.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:mail2sunil00@gmail.com">Sunil Yadav</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
 *#


$page.setTitle("brih_home | $course1 | $brih_ins $brih_mgmt")
$page.setBgColor("bgcolor")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())
	<table bgcolor="$ui.tableColor" width=100%>
	<tr bgcolor="$ui.menuColor"><td colspan=7>
	<a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none> $brih_home</a> |
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course1</a> | $brih_listOf $bri_ta
	</td>
	</tr>
	</table>
	<table bgcolor="$ui.tableColor" width=100%>
	<tr>
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count","1") style=text-decoration:none> #if($lang == "hindi") $brih_listOf $bri_ta #else $brih_listOf $bri_ta #end </a>
        </td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,TA_Management,TA_Add.vm").addPathInfo("count","2") style=text-decoration:none> $brih_reg1 $bri_ta</a></td>
	</tr>
	</table>
	
	
	#set($headings = ["$brih_first $brih_name","$brih_last $brih_name","$brih_email","$bri_auth"] )

	<FORM ENCTYPE="multipart/form-data" NAME="frm" METHOD="POST" action="$link.setPage("call,TA_Management,TA_Management.vm").setAction("TA_Registeration")">
	<table width="100%">
   		#if($status=="notempty")
	        <tr bgcolor="$ui.menuColor">
		        <td align="left">
		        <input type="CHECKBOX" name="checkAll" onClick=selectAll(this);>
		        <font face="$ui.sansSerifFonts"><b>
		        #if($lang == "hindi") $brih_all $brih_select</b #else $brih_selAll </b> #end
        		</td>
	
        		#foreach ($heading in $headings)
		        #headerCell ($heading)
		        #end
        	</tr>
		#set( $count = "" )
		#foreach($users in $userdetail)
			#if($velocityCount%2==0)
			        <tr bgcolor="$ui.menuColor">
		        #else
			        <tr bgcolor="$ui.tableColor">
		        #end
			
			#foreach($user in $users)
				<td><INPUT TYPE="CHECKBOX" NAME="$!user.UserName" onClick="addDeleteList(this,document.frm);"></td>
			        <td>$!user.getFirstName()</td>	
				<td>$!user.getLastName()</td>
				<td>$!user.UserName</td>
				<td><a href=$link.setPage("call,TA_Management,TA_Permission.vm").addPathInfo("username",$user.UserName).addPathInfo("count","1") style=text-decoration:none> $brih_course $bri_mod </a> &nbsp;</td>
				</tr>
        			#set ( $count = "$count$!user.UserName^"  )
         		#end
		#end

	 <tr bgcolor="$ui.menuColor">
                <td colspan=6>
                        <INPUT TYPE="button" NAME="eventSubmit_doRemoveUser" VALUE="$brih_delete" onClick="DeleteField(document.frm,this);">
                        <INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
                        <INPUT TYPE="hidden" NAME="actionName" VALUE="">
                        <INPUT TYPE="hidden" NAME="count" VALUE="$tdcolor">
                </td>
         </tr>

	<tr>
		<td align=left bgcolor="$ui.tableColor" colspan=6>
        	#if($total_size <= $AdminConf)
	        <font color="white">$brih_first</font> &nbsp;
	        <font color="white">(<<=)$brih_pre</font> &nbsp;
	        <font color="white">$brih_nxt (=>>)</font>&nbsp;
	        <font color="white">$brih_last</font> &nbsp;
        	#elseif($startIndex == $AdminConf_str)
	        <font color="white">$brih_first</font> &nbsp;
	        <font color="white">(<<=) $brih_pre</font> &nbsp;
        	<a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$startIndex) style=text-decoration:none>$brih_nxt (=>>)</a> &nbsp;
	        <a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$check_last) style=text-decoration:none>$brih_last</a> &nbsp;

        	#elseif($endIndex == $total_size || $endIndex > $total_size)
	        <a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$check_first) style=text-decoration:none>$brih_first</a> &nbsp;
        	<a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$check_pre) style=text-decoration:none>(<<=) $brih_pre</a> &nbsp;
	        <font color="white">$brih_nxt (=>>)</font> &nbsp;
        	<font color="white">$brih_last</font> &nbsp;
	
	        #else
        	<a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$check_first) style=text-decoration:none>$brih_first</a> &nbsp;
	        <a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$check_pre) style=text-decoration:none>(<<=) $brih_pre</a> &nbsp;
        	<a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex) style=text-decoration:none>$brih_nxt (=>>)</a> &nbsp;
	        <a href=$link.setPage("call,TA_Management,TA_Management.vm").addPathInfo("count",$tdcolor).addPathInfo("startIndex",$check_last) style=text-decoration:none>$brih_last</a> &nbsp;
	        #end
	        </td>
        </tr>
#end
	</table>
</FORM>
	

 <SCRIPT LANGUAGE="javascript">
	 function addDeleteList(field,frm){
                if(field.checked){
                        frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";

                }
                else{
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
        }
        function DeleteField(frm,field) {
                frm.actionName.value=field.name;
                frm.submit();
        }

        function selectAll(field)
        {
                if(field.checked)
                {
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$count";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=true;
                        }
                }
                else
                {
                        var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="$count";
                        while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                                var temp=actualString.substring(next,pre);
                                next=pre+1;
                                rmFile=document.frm.elements[temp].checked=false;
                        }
                         document.frm.deleteFileNames.value="";
                }
        }
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }
        function popupWin(urlName,popupName)
        {
                window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
        }

</SCRIPT>
                                    
