#*
 * @(#) Login.vm
 * Copyright (c) 2004 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
#*
<meta http-equiv="refresh" content="2; URL=http://172.28.44.17:8080/brihaspati/servlet/brihaspati/template/BrihaspatiLogin.vm">
<meta name="keywords" content="automatic redirection">
*#
$page.setTitle("Brihaspati")
$page.setBgColor($ui.bgcolor)
<br>
<!-- <table align="right"><tr><td><b> -->
$!data.getMessage()
<!-- </b></td></tr></table> -->

<style type="text/css">

.button-ftextstyle { 	 color: #fff;    font: bold 15px Helvetica, Arial, sans-serif;   padding-left: 22px ;	padding-right: 22px ;	padding-top: 8px ;	padding-bottom: 8px ;    -webkit-transition: border-color .218s;    -moz-transition: border .218s;    -o-transition: border-color .218s;    transition: border-color .218s;    background: #999;    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));   background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));    border: solid 1px #d1d1d1;    border-radius: 2px;    -webkit-border-radius: 2px;  border-radius: 5px; text-decoration:none; 	}

		.button-ftextstyle:hover {    color: #fff;    border-color: #f3f3f3;    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}
</style>


<div style="width:950px; margin:0px auto;">
<form name="frm">





<table>
<tr>
<td align="left"> <font color="red"><b> <blink>
Go For Live Lecture
</blink> </b></font>
<a href="https://202.141.40.216:8443/brihaspatisync_client/jnlp/brihaspatisync.jnlp">
Click here  </a>
</td>
</tr>
</table>


<br>



<div style="width:340px; height:300px; float:right; background:#f3f3f3; border-radius:10px;">
<table align="right" >
<tr>
<td>
<font color="purple">Click here to enter in <b>Brihaspati</b></font><br>  
<br>
<a href=$link.setPage("BrihaspatiLogin.vm") class="button-ftextstyle">
Login
</a>
<br>
<br>
</td>
</tr>

<tr><td colspan=2> 
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("ForgotPassword.vm").addPathInfo("lang","english").addPathInfo("status","User") style=text-decoration:none>Forgot Password</a>
</td></tr> 
<tr><td colspan=2> 
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("ViewCourseList.vm").addPathInfo("lang","english") style=text-decoration:none>Registered Course List</a>
</td></tr>
<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("OnlineRegistration.vm").addPathInfo("lang","english").addPathInfo("status","UserResitration").addPathInfo("count","1") style=text-decoration:none> Online Registration </a>
</td></tr> 
<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setAction("myLogin").addPathInfo("username","guest").addPathInfo("password","guest").addPathInfo("lang","english") style=text-decoration:none> Open Access Courses</a>
</td></tr>
<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("InstituteAdminRegistration.vm").addPathInfo("lang","english") style=text-decoration:none>Institute Admin Registration </a>
</td></tr>

<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("ViewInstituteList.vm").addPathInfo("lang","english") style=text-decoration:none>Registered Institute List </a>
</td></tr>
##Add FAQ link in login page
<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("FAQlist.vm").addPathInfo("lang","english").addPathInfo("mode","alllist").addPathInfo("type","general") style=text-decoration:none>FAQ List </a>
</td></tr>
##following link added by Priyanka
<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("ResendActivation.vm").addPathInfo("lang","english") style=text-decoration:none>Resend Mail</a>
</td></tr>

<tr><td colspan=2>
<img src="$content.getURI("/images/orange_sq_but.gif")">&nbsp;
<a href=$link.setPage("RemoteAuthenticate.vm").addPathInfo("lang","english") style=text-decoration:none> Authenticate from Brihaspati server </a>
</td></tr>
</table>
<br>
<br>

</div>





<div style="width:500px; height:auto; float:left;">

<table>
<tr>
<td align="Left">
<b><u>What is BRIHASPATI? </u></b><br>
A platform independent, highly scalable content-delivery tool for web based e-learning system !!<br><br>
<b><u>Entities !!</u></b><br>
ENJOY the features of Administrator, Instructor (Primary/Secondary) or Student !! <br><br>
<b><u>Interactive communication tools !!</u></b>
<ul><li> CHAT :- Users can communicate online...</ul>
<ul><li> WHITE BOARD :- Instructor can make drawings,freehand or pre-defined components while chatting...</ul>
<b><u>Features under development !!</u></b>
<ul><li> SCORM player in brihaspati</ul>
<ul><li> Content authoring and course instruction functionality decoupled</ul>
<ul><li> Multiserver architecture</ul>
<ul><li> Synchronous tool</ul>
</td>
</tr>
</table>
</div>







</form>
</div>
</body>

</html>
