#** 
 *@(#) Permission.vm
 *  Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com">Kishore kumar shukla</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#
 
$page.setTitle(" $Repo_Repo1")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<table bgcolor="$ui.tableColor" width=100%>
        <tr bgcolor="$ui.menuColor"><td colspan=5><b>
        <a href=$link.setPage("call,Repository_Mgmt,Author.vm").addPathInfo("count","1") style=text-decoration:none>$brih_authorHome</a>| 
        <a href=$link.setPage("call,Repository_Mgmt,RepositoryList.vm").addPathInfo("count","2") style=text-decoration:none>$Repo_Repo1</a> | $Repo_Perm
        </b></td>
	</tr>
<tr>
        #if($tdcolor!="1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Repository_Mgmt,Author.vm").addPathInfo("count","1") style=text-decoration:none>$brih_upload $brih_content</a></td>
        #if($tdcolor!="2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Repository_Mgmt,RepositoryList.vm").addPathInfo("status","fromViewContent").addPathInfo("count","2") style=text-decoration:none>$brih_view $brih_content</a></td>
        #if($tdcolor!="3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Repository_Mgmt,RepositoryBrowser.vm").addPathInfo("count","3") style=text-decoration:none>$Repo_Repo1 $Repo_browser</a></td>
        #if($tdcolor!="4")
        <td>
        #elseif($tdcolor=="4")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("path","personal").addPathInfo("count","4") style=text-decoration:none>$personal $brih_calendar</a></td>
</tr>
<tr><td><b>${Repo_Instrct}</b> </td></tr>
</table>
#*<table width="100%">
<tr>
<td width="100%" bgcolor="$ui.tableColor">
 	<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
                                       <b>${Repo_Instrct}</b>
                                        </marquee>
</td>
</tr>
</table>*#
		
<form  name=frm method="post" action=$link.setPage("call,Repository_Mgmt,Permission.vm").setAction("Repo_Permission")>
<table bgcolor="$ui.tableColor" width=100%>
		<tr bgcolor="$ui.menuColor">
       		<td>$brih_topic $brih_name &nbsp;&nbsp;&nbsp; $contentlist</td>
      		</tr>
		<tr>
		<td>$brih_usrName<font color=red>*</font>&nbsp;&nbsp;&nbsp;
		<input type="text" name="UNAME"  value="" style="" size=30 onKeyUp="if (this.disabled) this.value=''"/>
		</td>
      		</tr>
		<tr bgcolor="$ui.menuColor">
		<td>$brih_course $brih_ID<font color=red>*</font>&nbsp;&nbsp;&nbsp;
                <input type="text" name="CNAME" disabled value="" size=30 onKeyUp="if (this.disabled) this.value=''"/></td>
      		</tr>
		<tr>
                <td>$brih_select<font color=RED>* &nbsp;&nbsp;&nbsp;
                <input type="radio" checked="true" name="group1" value="Author" onClick="this.form.UNAME.disabled=false;this.form.CNAME.disabled=true;this.form.UNAME.focus();" />$brih_author 
                <input type="radio" name="group1" value="Instructor" onClick="this.form.UNAME.disabled=false;this.form.CNAME.disabled=true;this.form.UNAME.focus();" />$brih_Instructor
                <input type="radio" name="group1" value="Courses" onClick="this.form.UNAME.disabled=true;this.form.CNAME.disabled=false;this.form.CNAME.focus();" />$brih_course
                </td>
                </tr>

		<tr bgcolor="$ui.menuColor">
		<td colspan=5>		
		<input type="hidden" name="actionName" >
		<input type="hidden" name="status" value=$status>
		<input type="hidden" name="statvalue" value="PermissionRecieve">
		<input type="hidden" name="stats" value="permission" >
		<input type="hidden" name="tname" value=$contentlist>
		<input type="hidden" name="count" value=$tdcolor>
        	<input type="button" name="eventSubmit_doPermission" value="$Repo_Perm $Repo_Permgiv" onClick="checkField(document.frm,this);"/>
		</td>
		</tr>
</table>
</form>

<SCRIPT LANGUAGE="javascript">
	document.frm.UNAME.disabled=false; 
	document.frm.CNAME.disabled=true;  

        function checkField(frm,field)
        {
                if((frm.UNAME.value!="")||(frm.CNAME.value!==""))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please fill the Mandatory(*) Fields !!");
                }
        }

</SCRIPT>
